<% @page_title = 'Sign In' %>
<% @page_meta = {'description' => "Логин на сайт"} %>

<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'sign-forms' %>

<script type="text/javascript"> 
 
$(document).ready(function(){
	$(".sign-in input").mouseover(function() {
		$(this).parent().addClass("sign-over");
	}).mouseout(function() {
		$(this).parent().removeClass("sign-over");
	});
	$(".sign-in input").mousedown(function() {
		$(this).css({position: "relative", top: "1px", left: "1px"});
	}).mouseup(function() {
		$(this).css({position: "relative", top: "0px", left: "0px"});
	});
});


</script>

<% end %>

<div class="module mod-in-log">
<br/>

<div class="sign-head-wrapper">
	<div class="sign-rt">
		<div class="sign-lft">
			<h2 class="page sign-head">
				<span class="sign-in-title sign-string">Логин</span>
			</h2>
		</div>
	</div>
</div>

<div class="module-top">
	<div class="module-t-left"></div>
	<div class="module-t-right"></div>
</div>

<div class="module-right">
<div class="module-left">
<div class="module-content">



<% form_tag session_path do %>
	<input type="hidden" name="lang" value="ru">
	<input type="hidden" name="to_lang" value="<%= @to_lang %>">
			<table align="center" class="sign-options">
				<tr>
					<td>
						<p style="margin-top: 0px;">Новый пользователь? <a href="signup">Регистрация</a></p>

					</td>
				</tr>
			</table>

<%if @error_pas %> <p style="text-align: center; color: red; font-weight: bold; display: none;">ERROR: Invalid email/password. </p>

<table class="sign-notification" align="center">
	<tr>
		<td>
			<div style="position: relative; text-align:  left;">
				<div class="notif-icon"></div>
			</div>
			
			<div class="notif-string"> <b>ERROR:</b> Неверный email/пароль.</div>
			
		</td>
	</tr>
</table>

<%end%>

<%if flash[:notice]%>
<p style="text-align: center; color: blue; font-weight: bold;"> <%= flash[:notice] %> </p>
<%end%>

<table align="center">
	<tr>
		<td>
			<table class="form-entries">
				<tr>
					<td class="entry1">Email:</td>
					<td><%= text_field_tag 'email', @email %></td>
				</tr>
				<tr>
					<td class="entry1">Пароль:</td>
					<td> <%= password_field_tag 'password', nil %></td>
				</tr>
			</table>
	<tr>
		<td class="submit-text-btn">
			<table align="center" class="sign-options">
				<tr>
					<td>
						<p >Забыли пароль? <a href="forgot_password">Тогда вам сюда</a></p>
					</td>
				</tr>
			</table>
			<p align="center" class="sign-in"><%= submit_tag 'Вход' %>  </p>
		</td>
	</tr>
</table>

<%end%>

</div>
</div>
</div>
<div class="module-bottom">
	<div class="module-b-left"></div>
	<div class="module-b-right"></div>
</div>
</div>






<script type="text/javascript">
currentSection="login";
</script>
