<% @page_title = 'Sign In' %>
<% @page_meta = {'description' => "Log in Study Languages Online"} %>



<% content_for :special_js_css do %>


<% end %>

<div class="module mod-in-log">
<br/>

<div class="module-top">
	<div class="module-t-left"></div>
	<div class="module-t-right"></div>
</div>
<div class="module-right">
<div class="module-left">
<div class="module-content">

<% form_tag session_path do %>

<h2 class="page">Sign In</h2>

<p align="center"><a href="signup" style="font-size: 11px; font-weight: bold;">No account yet? Click here to sign up</a></p>

<%if @error_pas %> <p style="text-align: center; color: red; font-weight: bold;">ERROR: The email address or password you have entered does not match our records. Please try again. </p><%end%>


<%if flash[:notice]%>
<p style="text-align: center; color: blue; font-weight: bold;"> <%= flash[:notice] %> </p>
<%end%>

<table align="center">
	<tr>
		<td>
		
			<table class="form-entries">
				<tr>
					<td class="entry1">Email:</td>
					<td><%= text_field_tag 'email', @email %></td>
				</tr>
				<tr>
					<td class="entry1">Password:</td>
					<td> <%= password_field_tag 'password', nil %></td>
				</tr>
			</table>
	<tr>
		<td>
			<p align="center"><%= submit_tag 'Sign in' %>  </p>
			<p align="center"><%= link_to t('Forgotten Password'), forgot_password_path %></p>
		</td>
	</tr>
</table>

  <%end%>

</div>
</div>
</div>
<div class="module-bottom">
	<div class="module-b-left"></div>
	<div class="module-b-right"></div>
</div>
</div>






<script type="text/javascript">
currentSection="login";
</script>
