<div class="f-tabs-wrapper" style="">
	<div style="float: left; ">
		<ul class="f-tabs">
			<li class="f-tab-first<%if active==1%> f-active<%end%>"><%= link_to 'Stream', :controller=>'forums', :action=>'show', :id=>1%></li>
			<li <%if active==2%>class="f-active"<%end%>><%= link_to 'Categories', :controller=>'forums', :action=>'show_by_cat', :id=>1%></li>
			<% if logged_in?%><li <%if active==3%>class="f-active"<%end%>><%= link_to 'Favorites', :controller=>'forums', :action=>'show_favorites', :id=>1%></li><%end%>
			<% if logged_in?%><li class="f-tab-last<%if active==4%> f-active<%end%>"><%= link_to 'My page', :controller=>'forums', :action=>'show_my_posts', :id=>1%></li>
			<%else%><li class="f-tab-last<%if active==4%> f-active<%end%>"><%= link_to 'Login', :controller=>'forums', :action=>'show_my_posts', :id=>1%></li><%end%>
		</ul>
	</div>
	<div align="right" style="font-size: 12px; float: right;">
	</div> 
</div>