<% @page_title = t('forum.string.cats') +" :: " +t('forum.string.forum_name')+" :: Study-Languages-Online.com" %>
<div class="forum">
<div class="f-title">
<%= t('forum.string.forum_name')  %> » <span><%= t('forum.string.cats')%></span>
</div>

<br>

<div class="forum-container">

<%= render :partial => '/forums/f_tabs', :locals => {:active => 2} %>

<div class="f-t-lists">

<% form_tag ( "", {:method =>:get} ) do %>
	<%= t('forum.string.langs')%>
	<select name="lo" onChange="this.form.submit()">
		<option <%if @find_status == '1' %>selected<%end%> value="1"><%= t('langs.en')%>-<%= t('langs.ru')%></option>
		<option <%if @find_status == '2' %>selected<%end%> value="2"><%= t('langs.ru')%>-<%= t('langs.en')%></option>
		<option <%if @find_status == '3' %>selected<%end%> value="3"><%= t('langs.fr')%>-<%= t('langs.ru')%></option>
		<option <%if @find_status == '0'%>selected<%end%> value="0"><%= t('langs.all')%></option>
	</select>
<%end %>
</div>

<div class="forum-wall">
	<div class="ft-pre-items"> <%= render :partial => '/site/user/user_name_update' %><%= render :partial => '/forums/new_topic_btn' %>
	</div>

  <% for fcategory in @fcategories %>  
	<div class="forum-cat">
		<div class="forum-cat-title">
			<%if @spec_lang %>
			  <%= link_to category_name(fcategory), :controller=>'forums', :action=>'show_cat',:forum_id=>@forum.id, :cat_id=>fcategory.id, :l=>@spec_lang%>
			<%else%>
				<%= link_to category_name(fcategory), :controller=>'forums', :action=>'show_cat',:forum_id=>@forum.id, :cat_id=>fcategory.id%>
			<%end%>
		</div>
		<div class="forum-cat-desc"> 
			<%= category_desc(fcategory) %>
		</div>	
		<div class="forum-item-bottom"> 
			<%= t('forum.string.topics')%>: <%= fcategory.topics.length %>
		</div>			
	</div> 
  <% end %> 
  <div class="forum-cat"></div>
</div>

</div>

</div>
