<% @page_title = category_name(@cat) +" :: " +t('forum.string.forum_name')+" :: Study-Languages-Online.com" %>
<div class="forum">
	<div class="f-title">
	<%= t('forum.string.forum_name')%> » <span><%= t('forum.string.cat')%>: <%= category_name(@cat)%></span>
	</div>
  <br>
<div class="forum-container">
<%= render :partial => '/forums/f_tabs', :locals => {:active => 2} %> 
<div class="f-t-lists" >
	<% form_tag ( "", {:method =>:get} ) do %>
		<%= t('forum.string.langs')%>: &nbsp;
			<span class="f-cat-langs"> <%if @find_status == '1' %><%= t('langs.en')%>-<%= t('langs.ru')%><%end%>
			<%if @find_status == '2' %><%= t('langs.ru')%>-<%= t('langs.en')%><%end%> 
			<%if @find_status == '0'%><%= t('langs.all')%><%end%>  </span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= t('forum.string.view')%>:
		<select name="view" onChange="this.form.submit()">
			<option <%if @view_type == '0' %>selected<%end%> value="0"><%= t('forum.view.standard')%></option>
			<option <%if @view_type == '1' %>selected<%end%> value="1"><%= t('forum.view.detailed')%></option>
			<option <%if @view_type == '2'%>selected<%end%> value="2"><%= t('forum.view.compact')%></option>
		</select>
	<%end %>
</div>
<div class="forum-wall">
	<div class="ft-pre-items"> <%= render :partial => '/site/user/user_name_update' %><%= render :partial => '/forums/new_topic_btn', :locals => {:for_cat => @cat.id} %>
		<div class="ft-pager"><%= will_paginate @topics,:next_label=>t('btn.next_page'),:previous_label=>t('btn.previous_page') %></div>
	</div>	
<% if @view_type == '1'%>
<%= render :partial => '/forums/topics_list_detailed' %>
<%elsif @view_type == '2' %>
<%= render :partial => '/forums/topics_list_compact' %>
<%else%>
<%= render :partial => '/forums/topics_list' %>
<%end%>
<div class="ft-btm-page">&nbsp;
		<div class="ft-pager"><%= will_paginate @topics,:next_label=>t('btn.next_page'),:previous_label=>t('btn.previous_page') %></div>
</div>
</div>

</div>
</div>