<div class="forum">
<div class="f-title">
<%= @forum.name  %>  » Favorites
</div>

<br>

<div class="forum-container">

<%= render :partial => '/forums/f_tabs', :locals => {:active => 3} %> 

  <div class="f-t-lists">
	<%= render :partial => '/forums/view_settings' %>
  </div>
  
<div class="forum-wall">
	<div align="right" style="overflow: hidden"> &nbsp;
		<div align="right" style="font-size: 12px; float: right;"><%= will_paginate @topics %></div>
	</div>

<% if @view_type == '1'%>
<%= render :partial => '/forums/topics_list_detailed' %>
<%elsif @view_type == '2' %>
<%= render :partial => '/forums/topics_list_compact' %>
<%else%>
<%= render :partial => '/forums/topics_list' %>
<%end%>
	
 </div>
 
 <!--	
<% form_remote_tag (:url => { :controller=> 'topics', :action => 'remove_all_favorites' }, :failure => 'alert("Something went wrong!")') do %>
	<%= submit_tag "Delete" %>
<% end %>
<%= @topics.size %>
--> 

</div>
