<div class="forum">
  <div class="f-title"><%= @forum.name  %></div>
<br>
 <div class="forum-container">

  <%= render :partial => '/forums/f_tabs', :locals => {:active => 1} %> 

  <div class="f-t-lists">
	<%= render :partial => '/forums/view_settings' %>
  </div>

<div style="margin: 10px 50px 0px 50px;">
<%= render :partial => '/site/user/user_name_update' %>
</div>

<div class="forum-wall">
	<div style="overflow: hidden; padding: 10px"> <%= render :partial => '/forums/new_topic_btn' %>
		<div align="right" style="font-size: 12px; float: right;"><%= will_paginate @topics %></div>
	</div>
<% if @view_type == '1'%>
<%= render :partial => '/forums/topics_list_detailed' %>
<%elsif @view_type == '2' %>
<%= render :partial => '/forums/topics_list_compact' %>
<%else%>
<%= render :partial => '/forums/topics_list' %>
<%end%>
</div>

</div><!-- forum-container  -->
</div><!-- forum-container  -->
