<div class="forum">
<div class="f-title">
<%= @forum.name  %> » <%= @cat.name%>
</div>

<br>


<div class="forum-container">

<%= render :partial => '/forums/f_tabs', :locals => {:active => 2} %> 

<div class="f-t-lists" >
	<% form_tag ( "", {:method =>:get} ) do %>
		Languages
			<span class="f-cat-langs"> <%if @find_status == '1' %>English-Russian<%end%>
			<%if @find_status == '2' %>Russian-English<%end%> 
			<%if @find_status == '0'%>All languages<%end%>  </span>
		&nbsp;&nbsp;&nbsp;
		View
		<select name="view" onChange="this.form.submit()">
			<option <%if @view_type == '0' %>selected<%end%> value="0">standard</option>
			<option <%if @view_type == '1' %>selected<%end%> value="1">detailed</option>
			<option <%if @view_type == '2'%>selected<%end%> value="2">compact</option>
		</select>
	<%end %>
</div>

<div class="forum-wall">
	<div style="overflow: hidden; padding: 10px"> <%= render :partial => '/forums/new_topic_btn' %>
		<div align="right" style="font-size: 12px; float: right;"><%= will_paginate @topics %></div>
	</div>	
<% if @view_type == '1'%>
<%= render :partial => '/forums/topics_list_detailed' %>
<%elsif @view_type == '2' %>
<%= render :partial => '/forums/topics_list_compact' %>
<%else%>
<%= render :partial => '/forums/topics_list' %>
<%end%>

</div>

</div>
