<div class="forum">
	<div class="f-title">
	<%= @forum.name  %>  » <span>Favorites</span>
	</div>
<br>
<div class="forum-container">
  <%= render :partial => '/forums/f_tabs', :locals => {:active => 3} %> 
  <div class="f-t-lists">
	<%= render :partial => '/forums/view_settings' %>
  </div>
  
<div class="forum-wall">
	<div class="ft-pre-items"> &nbsp;
		<div class="ft-pager"><%= will_paginate @topics %></div>
	</div>
<% if @view_type == '1'%>
<%= render :partial => '/forums/topics_list_detailed' %>
<%elsif @view_type == '2' %>
<%= render :partial => '/forums/topics_list_compact' %>
<%else%>
<%= render :partial => '/forums/topics_list' %>
<%end%>
<% if @topics.length == 0%><i>You have no favorites topics yet</i><%end%>
<div <% unless @topics.length == 0%>class="ft-btm-page"<%end%>>&nbsp;
		<div class="ft-pager"><%= will_paginate @topics %></div>
</div>	
 </div>
 
 <!--	
<% form_remote_tag (:url => { :controller=> 'topics', :action => 'remove_all_favorites' }, :failure => 'alert("Something went wrong!")') do %>
	<%= submit_tag "Delete" %>
<% end %>
<%= @topics.size %>
--> 

</div>
</div><!-- end of forum-->
