<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'user-profile' %>
<%end%>
<div class="forum">
	<div class="f-title">
	<%= @forum.name  %> » <span>My page</span>
	</div>
  <br/>
<div class="forum-container">
	<%= render :partial => '/forums/f_tabs', :locals => {:active => 4} %> 
	<div  class="f-t-lists">
		&nbsp;
	</div>
	<table cellpadding="0" cellspacing="20" width="100%">
		<col width="110"><col width="80"><col>
		<tr valign="top">
			<td rowspan="2">
			<div class="userpic-wrapper">
				<img id="userpic-img" src="<%= userpic_for(@user) %>" width="80">
			</div>
			</td>
			<td class="item-name">Nickname: 
			</td>
			<td>
				<% if !@user.name || @user.name == '' %>
					not available
				<%else%>
					<span id="us-username"><%= @user.name %></span>
				<%end%>
			</td>
		</tr>
		<tr valign="top">
			<td class="item-name">User's info  
			</td>
			<td height="85">
				<div style="max-width: 300px;">
				<%= render :partial => "/site/user/user_desc_update" %>
				</div>
			</td>
		</tr>
	</table>

	<div class="ft-tabs-wrapper">
	  <div class="ft-tabs">
		<a class="ft-tab-my-topics ft-tab-active" href="javascript:;">My topics (<%=@topics.length %>)</a> | <a class="ft-tab-my-comments" href="javascript:;">My comments (<%=@comments_size %>)</a>
	  </div>
	</div> 
<div class="forum-wall">
  <div class="ft-tab-content ft-my-topics">
	<div class="ft-pages-list">Pages: <span class="ft-page-list"></span></div>	
	<%= render :partial => '/forums/topics_list_compact' %>
  </div>
<% @topics = @comments%>
  <div class="ft-tab-content ft-my-posts">
	<div class="ft-pages-list">Pages: <span class="ft-page-list"></span></div>
	<%= render :partial => '/forums/topics_list_compact' %>
 </div>
</div>


<br><br><br><br><br><br>

</div> <!-- forum-container -->
</div> <!-- forum -->