<h1>Editing fcategory</h1>

<% form_for(@fcategory) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :name_ru %><br />
    <%= f.text_field :name_ru %>
  </p>
  <p>
    <%= f.label :desc_ru %><br />
    <%= f.text_area :desc_ru %>
  </p>
  <p>
    <%= f.label :name_fr %><br />
    <%= f.text_field :name_fr %>
  </p>
  <p>
    <%= f.label :desc_fr %><br />
    <%= f.text_area :desc_fr %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :order_num %><br />
    <%= f.text_field :order_num %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fcategory %> |
<%= link_to 'Back', fcategories_path %>