<h1>Listing clusters</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Tag</th>
    <th>Description</th>
  </tr>

<% @clusters.each do |cluster| %>
  <tr>
    <td><%=h cluster.title %></td>
    <td><%=h cluster.tag %></td>
    <td><%=h cluster.description %></td>
    <td><%= link_to 'Show', cluster %></td>
    <td><%= link_to 'Edit', edit_cluster_path(cluster) %></td>
    <td><%= link_to 'Destroy', cluster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cluster', new_cluster_path %>