<% @page_title = 'Лексика-12' %>
<% @page_meta = {'description' => ""} %>




<h2 class="page" >К 12 уроку</h2>


<% content_for :special_js_css do %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'multi-choice' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'es-multiexercises' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>
<%= stylesheet_link_tag 'es-course' %>
<%= stylesheet_link_tag 'es-exercise.css' %>
<%= stylesheet_link_tag 'es-grammar-exercises' %>

<style type="text/css">
#ch2 .es-ex-string-wrapper {
font-size: 25px;
}

#ch1 .es-ex-string-wrapper {
font-size: 19px;
}

.di_mix_variants {
margin-left: 70px;
margin-bottom: 10px;
margin-top: 10px;
padding: 3px;
border: 1px dashed #000;
background-color: #efefef;
width: 450px;
}

.di_mix_variants span {
margin-left: 10px;
background-color: #fff;
color: #333;
}

.di_mix_tobuild {
line-height:20px;
text-indent:0px;
margin-left: 70px;
}

#di1 .gext_task  input {
font-size: 17px;
}

#di1 .di_mix_variants span, #di1_dragHelper {
font-size: 16px;
}

.gext_sign {
padding-bottom: 17px;
border-bottom: 1px dotted #666;
}

.gext_show {
font-size: 15px;
}


</style>


<% end %>

<h3 class="es-task-in">Прослуйшайте фразы и выберите ответ "да" или "нет" </h3>	
	
<div id="ch1" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise', :locals => {:lang => "rus"} %>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 10,
		//answer_type: 'yn',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		


['парк','こうえん'],
['однако','でも'],
['прохладный','すずしい'],
['лавка','ベンチ'],
['рыба','さかな'],
['карп','こい'],
['утка','あひる'],
['миленький','かわいい'],
['сын','むすこ'],
['близкий','ちかい'],
['площодка для игр','ゆうえんち'],
['каждый день','まい日 (にち)'],
['толпа','おおぜい'],
['маленький','小さい (ちさい)'],
['зоопарк','どうぶつえん'],
['лисица','きつね'],
['барсук','たぬき'],
['обезьяна','さる'],
['лев','ダイオン'],
['животное','どうぶつ'],
['много','たくさん']




		]
		} )
</script>



<br><br><br>

<h3 class="es-task-in">Прочитайте фразы и выберите ответ  </h3>	
	
<div id="ch2" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise', :locals => {:lang => "rus"} %>
</div>

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
['こうえん','парк'],
['でも','однако'],
['すずしい','прохладный'],
['ベンチ','лавка'],
['さかな','рыба'],
['こい','карп'],
['あひる','утка'],
['かわいい','миленький'],
['むすこ','сын'],
['ちかい','близкий'],
['ゆうえんち','площодка для игр'],
['まい日 <br>(にち)','каждый день'],
['おおぜい','толпа'],
['小さい <br>(ちさい)','маленький'],
['どうぶつえん','зоопарк'],
['きつね','лисица'],
['たぬき','барсук'],
['さる','обезьяна'],
['ダイオン','лев'],
['どうぶつ','животное'],
['たくさん','много']

		]
		} )
</script>
	


<br><br>






<h3 class="es-task-in">Сделайте перевод фраз, используя изученные выражения</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">


<div id="di1">	
				
<p class="task">Перетащите варианты или напечатайте текст в поле для ответа. </p> 
<br>


<div  class="gr_ex_type">


<div class="di_mix_variants">うち の そば に こうえん が あります</div>
<div class="di_mix_tobuild">Рядом с моим домом есть парк.</div>
<div class="gext_task gext_sign"> 
1. <input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">うち の そば に こうえん が あります</span>
<div class="gext_show"><span><b>うちのそばにこうえんがあります</b></span> &nbsp;</div>

</div>

<div class="di_mix_variants">木 の 下 に ベンチ が あります</div>
<div class="di_mix_tobuild">Под деревьями стоят лавки.</div>
<div class="gext_task gext_sign"> 

2. <input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">木 の 下 に ベンチ が あります</span>


<div class="gext_show"><span><b>木の下にベンチがあります。</b></span> &nbsp;</div>

</div>

<div class="di_mix_variants">いけ が あります</div>
<div class="di_mix_tobuild">Там есть пруд.</div>
<div class="gext_task gext_sign"> 
3. <input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">いけ が あります</span>
<div class="gext_show"><span><b>いけがあります。</b></span> &nbsp;</div>

</div>

<div class="di_mix_variants">はし も あります</div>
<div class="di_mix_tobuild">А также есть мостик.</div>
<div class="gext_task gext_sign"> 
4. <input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">はし も あります</span>


<div class="gext_show"><span><b>はしもあります。</b></span> &nbsp;</div>

</div>

<div class="di_mix_variants">いけ の なか に さかな が います</div>
<div class="di_mix_tobuild">В пруду водятся рыбы.</div>
<div class="gext_task gext_sign"> 
5. <input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">いけ の なか に さかな が います</span>


<div class="gext_show"><span><b>いけのなかにさかながいます。</b></span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di1  -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>


				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>




<br><br>



<h3 class="es-task-in">Прочитайте фразы и выберите ответ  </h3>	
	
<div id="ch3" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise', :locals => {:lang => "rus"} %>
</div>

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		quest_num: 4,
		answer_type: "type",
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
['こうえん','парк'],
['でも','однако'],
['すずしい','прохладный'],
['ベンチ','лавка'],
['さかな','рыба'],
['こい','карп'],
['あひる','утка'],
['かわいい','миленький'],
['むすこ','сын'],
['ちかい','близкий'],
['ゆうえんち','площодка для игр'],
['まい日 <br>(にち)','каждый день'],
['おおぜい','толпа'],
['小さい <br>(ちさい)','маленький'],
['どうぶつえん','зоопарк'],
['きつね','лисица'],
['たぬき','барсук'],
['さる','обезьяна'],
['ダイオン','лев'],
['どうぶつ','животное'],
['たくさん','много']

		]
		} )
</script>





<br><br><br><br><br>



<script type="text/javascript">
//currentSection="";
</script>