<% @page_title = 'Лексика-13' %>
<% @page_meta = {'description' => ""} %>




<h2 class="page" >К 13 уроку</h2>


<% content_for :special_js_css do %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'multi-choice' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'es-multiexercises' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>
<%= stylesheet_link_tag 'es-course' %>
<%= stylesheet_link_tag 'es-exercise.css' %>
<%= stylesheet_link_tag 'es-grammar-exercises' %>

<style type="text/css">
#ch2 .es-ex-string-wrapper {
font-size: 25px;
}

#ch1 .es-ex-string-wrapper {
font-size: 19px;
}



.di_mixs_variants {
margin-left: 70px;
margin-bottom: 10px;
margin-top: 10px;
padding: 3px;
border: 1px dashed #000;
background-color: #efefef;
width: 450px;
}

.di_mixs_variants span {
margin-left: 10px;
background-color: #fff;
color: #333;
}

.di_mixs_tobuild {
line-height:20px;
text-indent:0px;
margin-left: 70px;
}

#di1 .gext_task  input {
font-size: 17px;
}

#di1 .di_mix_variants span, #di1_dragHelper {
font-size: 16px;
}

.ge-xt_sign {
padding-bottom: 17px;
border-bottom: 1px dotted #666;
}

.gex-t_show {
font-size: 15px;
}


</style>


<% end %>

<h3 class="es-task-in">Прослуйшайте фразы и выберите ответ "да" или "нет" </h3>	
	
<div id="ch1" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise', :locals => {:lang => "rus"} %>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 10,
		//answer_type: 'yn',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
['бумага','かみ'],
['сколько листов','なんまい'],
['всего','ぜんぶで'],
['сколько томов','何さつ'],
['один том','ーさつ (一っさつ)'],
['учебник','きょうかしょ'],
['шариковая ручка','ボールペン'],
['сколько ручек','何本 (なんぼん)'],
['одна ручка','ー本 (いっぽん)'],
['компьютер','コンピュータ'],
['сколько машин','何だい'],
['4 машины','四だい (よんだい)'],
['телефон','でんわ'],
['ноль','0 (ゼロ)'],
['один','ー'],
['два','ニ'],
['три','三'],
['четыре','四 (よん)'],
['пять','五 (ご)'],
['шесть','六 (ろく)'],
['семь','七 (なな)'],
['восемь','八 (はち)'],
['девять','九 (きゅう)'],
['десять','十 (じゅう)']


		]
		} )
</script>



<br><br><br>

<h3 class="es-task-in">Прочитайте фразы и выберите ответ  </h3>	
	
<div id="ch2" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise', :locals => {:lang => "rus"} %>
</div>

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
['かみ','бумага'],
['なんまい','сколько листов'],
['ぜんぶで','всего'],
['何さつ','сколько томов'],
['ーさつ <br>(一っさつ)','один том'],
['きょうかしょ','учебник'],
['ボールペン','шариковая ручка'],
['何本 <br>(なんぼん)','сколько ручек'],
['ー本 <br>(いっぽん)','одна ручка'],
['コンピュータ','компьютер'],
['何だい','сколько машин'],
['四だい <br>(よんだい)','4 машины'],
['でんわ','телефон'],
['0 <br>(ゼロ)','ноль'],
['ー','один'],
['ニ','два'],
['三 ','три'],
['四 <br>(よん)','четыре'],
['五 <br>(ご)','пять'],
['六 <br>(ろく)','шесть'],
['七 <br>(なな)','семь'],
['八 <br>(はち)','восемь'],
['九 <br>(きゅう)','девять'],
['十 <br>(じゅう)','десять']

		]
		} )
</script>
	


<br><br>






<h3 class="es-task-in">Сделайте перевод фраз, используя изученные выражения</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">


<div id="di1">	
				
<p class="task">Перетащите варианты или напечатайте текст в поле для ответа. </p> 
<br>


<div  class="gr_ex_type di_mix">

<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">Сколько листов бумаги?</div>
<div class="di_mix_variants">かみ は なん まい あります か</div>

<input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">かみ は なん まい あります か</span>
<div class="gext_show"><span><b>かみ は なん まい ありますか</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Белой бумаги - 10 листов</div>
<div class="di_mix_variants">しろい かみ が 十 まい あります</div>
<input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">しろい かみ が 十 まい あります</span>

<div class="gext_show"><span><b>しろい かみ が 十 まい あります</b></span> &nbsp;</div>

</div>
<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Желтой бумаги - 5 листов</div>
<div class="di_mix_variants">きいろい かみ が ご まい あります</div>
<input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">きいろい かみ が ご まい あります</span>
<div class="gext_show"><span><b>きいろい かみ が ご まい あります</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Сколько (там) книг? </div>
<div class="di_mix_variants">本 は 何 さつ あります か</div>
<input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">本 は 何 さつ あります か</span>
<div class="gext_show"><span><b>本 は 何 さつ あります か</b></span> &nbsp;</div>

</div>
<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Там шесть книг.</div>
<div class="di_mix_variants">本 は 六 さつ あります</div>
<input type="text" style="width: 450px" value=""> <span class="gext_answer" style="display: none">本 は 六 さつ あります</span>

<div class="gext_show"><span><b>本 は 六 さつ あります</b></span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di1  -->

<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>


				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>




<br><br>



<h3 class="es-task-in">Прочитайте фразы и выберите ответ  </h3>	
	
<div id="ch3" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise', :locals => {:lang => "rus"} %>
</div>

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		quest_num: 4,
		answer_type: "type",
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
['бумага','かみ'],
['сколько листов','なんまい'],
['всего','ぜんぶで'],
['сколько томов','何さつ'],
['один том','ーさつ (一っさつ)'],
['учебник','きょうかしょ'],
['шариковая ручка','ボールペン'],
['сколько ручек','何本 (なんぼん)'],
['одна ручка','ー本 (いっぽん)'],
['компьютер','コンピュータ'],
['сколько машин','何だい'],
['4 машины','四だい (よんだい)'],
['телефон','でんわ'],
['ноль','0 (ゼロ)'],
['один','ー'],
['два','ニ'],
['три','三'],
['четыре','四 (よん)'],
['пять','五 (ご)'],
['шесть','六 (ろく)'],
['семь','七 (なな)'],
['восемь','八 (はち)'],
['девять','九 (きゅう)'],
['десять','十 (じゅう)']

		]
		} )
</script>





<br><br><br><br><br>



<script type="text/javascript">
//currentSection="";
</script>