<% @page_title = 'Уроки японского для начинающих: Урок 2' %>
<% @page_meta = {'description' => "Online Russian Course for Beginners - Lesson 1: how to greet people in Russian, how to say goodbye, to thank and apologize in Russian."} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'test-style' %>

<%= javascript_include_tag 'test' %>
<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'exercise-yn' %>
<%= stylesheet_link_tag 'test-style' %>
<%= stylesheet_link_tag 'exercises' %>


<style type="text/css">

.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 100px;
}

.testing7 td {
padding: 4px;
}

#test1 td {
padding:8px;
}

#t1 .task-string {
font-size: 40px;
}

hr {
display: none;
}

.content {
padding: 20px 40px 40px 30px;
}

.ic-show {
font-size: 40px;
}

.f-j-reading {
font-size: 15px;
}

</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Рекомендуем</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="politeness.html">Formulas of politeness</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>




<h2 class="page">Урок 1. Представление</h2>


<div id="pagecontent"><div id="content">

<p>
В уроке мы предлагаем познакомиться:
</p>

<ul>
	<li>Представление на японском </li>
	<li>Азбука Хирагана</li>
</ul>

<h3 class="exers ex-title">I. Представление на японском</h3>

<div class="ex-area">

<p class="task ex-task">Прочитайте следующие и повторите следующие выражения:</p>


<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[hajime mashite]<br />
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Разрешите представиться. </span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[yoroshiku onega ishimasu] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Прошу любить и жаловать </span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[douzo yoroshiku] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Приятно познакомиться! </span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[watashi wa shidorofu desu] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Я Сидоров. </span>
			</td>
	</tr>
</table>


<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[watashi wa roshia jin desu] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Я русский </span>
			</td>
	</tr>
</table>


</div>

<div class="lesson-notes">

<h3 class="note">Примечание: <span class="in-notes">Грамматика</span></h3>

<p>
Глагол ставится в конце: Watashi wa roshia jin <u>desu</u>.
</p>
<p>
Частица wa - тематический падеж (часто с подлежащим): Watashi <u>wa</u> roshia jin <u>desu</u>.
</p>

</div>


<p class="task ex-task">Используя образец, представьтесь как:</p>

<p>
[hajime mashite]<br>
[watashi wa shidorofu desu]<br>
[watashi wa roshia jin desu]<br>
[yoroshiku onega ishimasu]<br>

</p>

<p class="task">Представьтесь как: </p>
<p>- Петров</p>
<p>- Иванов</p>
<p>- Собсвенная фамилия</p>



</div>
<hr>
<h3 class="exers ex-title">II. Знакомство с Хираганой (продолжение)</h3>
<div class="ex-area">


<p class="task ex-task"> 3 ряда в Хирагана</p>


<table class="st-table" cellspacing="0" >
	<tr>
		<th>Ряд</th>
		<th>a</th>
		<th>i</th>
		<th>u</th>
		<th>e</th>
		<th class="thbrd">o</th>
	</tr>
	<tr>
		<td rowspan="2"><b>Ряд s </b>
			<br> <br><i>глухие (s)</i>
			<br><br><br> <i>звонкие (z) </i>
		
		</td>
		<td class="ic-show">さ</td>
		<td class="ic-show">し</td>
		<td class="ic-show">す</td>
		<td class="ic-show">せ</td>
		<td class="ic-show">そ</td>
	</tr>
	<tr>

		<td class="ic-show">ざ</td>
		<td class="ic-show">じ</td>
		<td class="ic-show">ず</td>
		<td class="ic-show">ぜ</td>
		<td class="ic-show">ぞ</td>
	</tr>
	<tr>
		<td rowspan="2"><b>Ряд t </b>
			<br> <br><i>глухие (t)</i>
			<br><br><br> <i>звонкие (d) </i>
		
		</td>
		<td class="ic-show">た</td>
		<td class="ic-show">ち</td>
		<td class="ic-show">つ</td>
		<td class="ic-show">て</td>
		<td class="ic-show">と</td>
	</tr>
	<tr>

		<td class="ic-show">だ</td>
		<td class="ic-show">ぢ</td>
		<td class="ic-show">づ</td>
		<td class="ic-show">で</td>
		<td class="ic-show">ど</td>
	</tr>
	<tr>
		<td><b>Ряд [n]</b></td>
		<td class="ic-show">な</td>
		<td class="ic-show">に</td>
		<td class="ic-show">ぬ</td>
		<td class="ic-show">ね</td>
		<td class="ic-show">の</td>
	</tr>
</table>


<p></p>





<p class="task ex-task">Выполнить тест 3-4 раза.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['さ','sa'],['し','shi'],['す','su '],['せ','se'], ['そ','so'],
['ざ','za'],['じ','ji'],['ず','zu '],['ぜ','ze'], ['ぞ','zo'],
['た','ta'],['ち','chi'],['つ','tsu '],['て','te'], ['と','to'],
['だ','da'],['ぢ','di'],['づ','dzu '],['で','de'], ['ど','do'],
['な','na'],['に','ni'],['ぬ','nu '],['ね','ne'], ['の','no']
], hide:'di1',id:'t1',type: 'text', how_questions: 9, how_show: 2});
</script>
</div>




</div>


<h3 class="exers ex-title">III. Слова и выражения</h3>
<div class="ex-area">
<p class="task ex-task">Прочитать слова</p>

<div class="f-j-reading">
<p>わたし　[watashi] - я</p>
<p>がくせい　[gakusei] - ученик</p>
<p>さん [san] - господин, госпожа (добавляется после имени)</p>
<p>せんせい [sensei] - учитель</p>
<p>にほん [nihon] - Япония</p>
<p>にほんじん [nihonjin] - японец, японка</p>
<p>ロシア [roshia] - Россия</p>
<p>ロシアじん [roshiajin] - русский, русская</p>
</div>

<p class="task ex-task">Прочитать следующие представления</p>

<div class="f-j-reading">
<p>わたし は　やまもと　です。　にほんじん　です。　せんせい　です。</p>
<p>わたし は　かわしま　です。　にほんじん　です。　がくせい　です。</p>
<p>やまもと　さん　です。　にほんじん　です。　せんせい　です。</p>
<p>かわしまさん　です。 にほんじん　です。　がくせい　です。</p>
</div>


<p class="task ex-task">Переведите на японский язык, используя изученные выражения:</p>

<p> Здравствуйте. Меня зовут Александр. Я русский. Я ученик. Прошу любить и жаловать.</p>
<p> Здравствуйте. Моя фамилия Сидоров. Я из России. Я работаю учителем. Приятно познакмиться.</p>
<p> Это господин Ямомото. Господин Ямомото приехал из Японии. Сейчас господин Ямомото учиться. </p>


</div>
<hr>



<br><br><br><br><br><br><br><br><br><br><br>



</div></div>







<script type="text/javascript">
currentSection="course";

</script>
