<% @page_title = 'Уроки японского для начинающих: Урок 1' %>
<% @page_meta = {'description' => "Online Russian Course for Beginners - Lesson 1: how to greet people in Russian, how to say goodbye, to thank and apologize in Russian."} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'test-style' %>

<%= javascript_include_tag 'test' %>
<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'exercise-yn' %>
<%= stylesheet_link_tag 'test-style' %>
<%= stylesheet_link_tag 'exercises' %>


<style type="text/css">

.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 100px;
}

.testing7 td {
padding: 4px;
}

#test1 td {
padding:8px;
}

#t1 .task-string {
font-size: 40px;
}

hr {
display: none;
}

.content {
padding: 20px 40px 40px 30px;
}

.ic-show {
font-size: 40px;
}

.f-j-reading {
font-size: 15px;
}

</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Рекомендуем</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="politeness.html">Formulas of politeness</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>




<h2 class="page">Урок 1. Приветствия</h2>


<div id="pagecontent"><div id="content">

<p>
В уроке мы предлагаем познакомиться:
</p>

<ul>
	<li>С основными формулами вежливости: приветствие, прощание, благодарность и т.д. </li>
	<li>Азбука Хирагана</li>
</ul>

<h3 class="exers ex-title">I. Формулы вежливости в японском</h3>

<div class="ex-area">

<p class="task ex-task">Прочитайте следующие слова:</p>


<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[konnichiwa]<span style="cursor: help;" onmouseover="tooltip(this,'См. примечание ниже')" onmouseout="hide_info(this)">*</span><br />
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Здравствуйте! </span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[ohayo] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Доброе утро! </span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[kanbanwa] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Добрый вечер! </span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[sayonara] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>До свидания! </span>
			</td>
	</tr>
</table>


<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p>[arigatou] <br />

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Спасибо! </span>
			</td>
	</tr>
</table>





</div>

<div class="lesson-notes">

<h3 class="note">Примечание: <span class="in-notes">Транскрипция</span></h3>

<p>
Для транскрипции будем использовать латинский алфавит.

</p>

</div>


</div>
<hr>
<h3 class="exers ex-title">II. Знакомство с Хираганой</h3>
<div class="ex-area">


<p class="task ex-task"> 2 ряда в Хирагана</p>


<table class="st-table" cellspacing="0" >
	<tr>
		<th>Ряд</th>
		<th>a</th>
		<th>i</th>
		<th>u</th>
		<th>e</th>
		<th class="thbrd">o</th>
	</tr>
	<tr>
		<td><b>Ряд гласных</b></td>
		<td class="ic-show">あ</td>
		<td class="ic-show">い</td>
		<td class="ic-show">う</td>
		<td class="ic-show">え</td>
		<td class="ic-show">お</td>
	</tr>
	<tr>
		<td rowspan="2"><b>Ряд k </b>
			<br> <br><i>глухие (k)</i>
			<br><br><br> <i>звонкие (g) </i>
		
		</td>
		<td class="ic-show">か</td>
		<td class="ic-show">き</td>
		<td class="ic-show">く</td>
		<td class="ic-show">け</td>
		<td class="ic-show">こ</td>
	</tr>
	<tr>

		<td class="ic-show">が</td>
		<td class="ic-show">ぎ</td>
		<td class="ic-show">ぐ</td>
		<td class="ic-show">げ</td>
		<td class="ic-show">ご</td>
	</tr>
</table>


<p></p>





<p class="task ex-task">Выполнить тест 3-4 раза.</p>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [

['あ','a'],['い','i'],['う','u '],['え','e'], ['お','o'],
['か','ka'],['き','ki'],['く','ku '],['け','ke'], ['こ','ko'],
['が','ga'],['ぎ','gi'],['ぐ','gu '],['げ','ge'], ['ご','go'],
], hide:'di1',id:'t1',type: 'text', how_questions: 9, how_show: 2});
</script>
</div>




</div>


<h3 class="exers ex-title">III. Первое чтение </h3>
<div class="ex-area">
<p class="task ex-task">Прочитать слова и буквосочетания</p>

<div class="f-j-reading">
<p>いえ</p>
<p>いいえ</p>
<p>え</p>
<p>ええ</p>
<p>えいご</p>
</div>


<p class="task ex-task">Подберите перевод для фраз</p>


<div id="test1">
<script type="text/javascript">
T['1']=['1','2','3','4','5']; // For Test#1
</script>
</div>

<form onsubmit="return check_test(this,1,'c0201050.V')">
<table class="tbtest" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Номер фразы<br /></i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="200" valign="top">
   				<div>
					1. こんにちは
				</div>
		</td>
		<td><img src="/pixel.gif" width="10" height="10" id="r11"> <input type="text" size="2"><span class="test-space">
		
			 	Здравствуйте!
			
		</span>
		</td>
	</tr>

	<tr>
		<td>
			<div>
				2.  おはよう
			</div>
		</td>

		<td><img src="/pixel.gif" width="10" height="10" id="r12"> <input type="text" size="2"><span class="test-space">
		
			Доброе утро! 
		</span>
		</td>
	</tr>
	<tr>
		<td>
			<div>
					3. こんばんは
			</div>
		</td>
		<td><img src="/pixel.gif" width="10" height="10" id="r13"> <input type="text" size="2"><span class="test-space">
			 	 Добрый вечер! 
		</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div>
					4. さよなら
			</div>
		</td>
		<td><img src="/pixel.gif" width="10" height="10" id="r14"> <input type="text" size="2"><span class="test-space">
			 	До свидания! 
		</span>
		</td>

	</tr>
	<tr>
		<td>
			<div>
				5.	ありがとう
			</div>

		</td>
		<td><img src="/pixel.gif" width="10" height="10" id="r15"> <input type="text" size="2"><span class="test-space">
			 	 Спасибо! 
		</span>
		</td>
	</tr>

 </table>
 
<div style="margin: 15px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>

</form>

</div>
<hr>



<br><br><br><br><br><br><br><br><br><br><br>



</div></div>







<script type="text/javascript">
currentSection="course";

</script>
