<% @page_title='Study Languages Online: Изучение Японского' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>

<% content_for :special_css do %>
.lists li {
padding-top: 5px;
}
<% end %>

<h2  class="page">Кандзи</h2>

<p>
В японском используются иероглифы - кандзи. Представляем курс по изучению кандзи:  
</p>


<ul class="gr-list">
	<li class="gr-li-head"><div class="gr-list-head"><span>Уровень 1 (80 иероглифов)</span></div>
	
			<p style="margin: 10px 20px"><a href="/ru/jp/kanji_01.html">Все кандзи уровня 1</a></p>
			<p style="margin: 10px 20px; color: #555; font-weight: bold">Курс для изучения кандзи уровня 1:</p>
		<ul>
		
<% mark_learned(@kanji_01).each_with_index do |w, index| -%>
	<% if index % 10 == 0 %><li>
			<a href="/ru/jp/kanji_01/lesson/<%= index/10+1 %>">Урок <%= index/10+1 %></a> <br>
			Иероглифы:<%end -%> <%= w -%><%unless index % 10 == 9 -%>, <% else%>
		</li>
	<%end -%>
<% end -%>
		</ul>
		<p style="margin: 10px 20px"><a href="/ru/jp/kanji_01-flashcard.html">Флэш-карты с кандзи 1 уровня</a></p>
		<p style="margin: 10px 20px"><a href="/ru/jp/kanji_01-test.html">Тест на кандзи 1 уровня</a></p>
	</li>
	<li class="gr-li-head"><div class="gr-list-head"><span>Уровень 2 (160 иероглифов)</span></div>
		<p style="margin: 10px 20px"><a href="/ru/jp/kanji_02.html">Все кандзи уровня 2</a></p>
		<ul>
<% mark_learned(@kanji_02).each_with_index do |w, index| -%>
	<% if index % 10 == 0 %><li>
			<a href="/ru/jp/kanji_02/lesson/<%= index/10+1 %>">Урок <%= index/10+1 %></a> <br>
			Иероглифы:<%end -%> <%= w -%><%unless index % 10 == 9 -%>, <% else%>
		</li>
	<%end -%>
<% end -%>		
		</ul>
		<p style="margin: 10px 20px"><a href="/ru/jp/kanji_02-flashcard.html">Флэш-карты с кандзи 2 уровня</a></p>
		<p style="margin: 10px 20px"><a href="/ru/jp/kanji_02-test.html">Тест на кандзи 2 уровня</a></p>
	</li>
</ul>



<br><br><br><br><br><br>

<p>Данный раздел сайта находится в стадии разработки</p>



<script type="text/javascript">
currentSection="reading";
</script>
