<% @page_title = 'Изучаем японский: Китайские числительные' %>
<% @page_meta = {'description' => "Китайские числительные в японском языке"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>

<%= stylesheet_link_tag 'es-course' %>


<style type="text/css">
.wl-jap {
font-size: 17px;

}
</style>

<% end %>



<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="numerals100-test.html"> Tests: Numerals</a></li>
    				<li><a href="pronunciation.html">Pronunciation training</a></li>
     				<li><a href="reading.html">Reading in Russian</a></li>
    		</ul>     				
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>



<h2 class="page">Китайские числительные</h2>

<div id="pagecontent"><div id="content">


	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="150">
	<col width="180">
	<col width="150">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th class="{sorter: false}">Слово</th>
			<th class="{sorter: false}">Хирагана</th>
			<th class="{sorter: 'digit'}">Перевод</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				ー
			</td>
			<td class="wl-jap">
				いち
			</td>
			<td class="wl-rus">1</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				ニ
			</td>
			<td class="wl-jap">
				に
			</td>
			<td class="wl-rus">2</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				三
			</td>
			<td class="wl-jap">
				さん
			</td>
			<td class="wl-rus">3</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				四
			</td>
			<td class="wl-jap">
				よん
			</td>
			<td class="wl-rus">4</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				五
			</td>
			<td class="wl-jap">
				ご
			</td>
			<td class="wl-rus">5</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				六
			</td>
			<td class="wl-jap">
				ろく
			</td>
			<td class="wl-rus">6</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				七
			</td>
			<td class="wl-jap">
				なな
			</td>
			<td class="wl-rus">7</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				八
			</td>
			<td class="wl-jap">
				はち
			</td>
			<td class="wl-rus">8</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				九
			</td>
			<td class="wl-jap">
				きゅう
			</td>
			<td class="wl-rus">9</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				十
			</td>
			<td class="wl-jap">
				じゅう
			</td>
			<td class="wl-rus">10</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				十一
			</td>
			<td class="wl-jap">
				じゅういち
			</td>
			<td class="wl-rus">11</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				十二
			</td>
			<td class="wl-jap">
				じゅうに
			</td>
			<td class="wl-rus">12</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				二十
			</td>
			<td class="wl-jap">
				にじゅう
			</td>
			<td class="wl-rus">20</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				三十
			</td>
			<td class="wl-jap">
				さんじゅう
			</td>
			<td class="wl-rus">30</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				四十
			</td>
			<td class="wl-jap">
				よんじゅう
			</td>
			<td class="wl-rus">40</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				百
			</td>
			<td class="wl-jap">
				ひゃく
			</td>
			<td class="wl-rus">100</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				二百
			</td>
			<td class="wl-jap">
				にひゃく
			</td>
			<td class="wl-rus">200</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				三百
			</td>
			<td class="wl-jap">
				さんびゃく
			</td>
			<td class="wl-rus">300</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				六百
			</td>
			<td class="wl-jap">
				ろっぴゃく
			</td>
			<td class="wl-rus">600</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				八百
			</td>
			<td class="wl-jap">
				はっぴゃく
			</td>
			<td class="wl-rus">800</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				千
			</td>
			<td class="wl-jap">
				せん
			</td>
			<td class="wl-rus">1000</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				一万
			</td>
			<td class="wl-jap">
				いちまん
			</td>
			<td class="wl-rus">10000</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				十万
			</td>
			<td class="wl-jap">
				じゅうまん
			</td>
			<td class="wl-rus">100000</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-jap">
				百万
			</td>
			<td class="wl-jap">
				ひゃくまん
			</td>
			<td class="wl-rus">1000000</td>
		</tr>
	</tbody>
	</table>
	
	<br>
	<br>

<p class="after_dic">Также рекомендуем: <a href="numerals-ch-exercises.html">Упражнения: Китайские числительные</a></p>




</div>
</div>

<script type="text/javascript">
currentSection="words";
</script>
