<% @page_title='Study Languages Online: Изучение Японского' %>
<% @page_meta = {'description' => "Russian language learning: online courses, vocabulary topics, pronunciation training", 'verify-v1' => "fRSaz4QoyTycTJLUZnk+AtNsVP8u9B3CorQMEuDuHLM="} %>


<h2  class="page">Слоговые азбуки: Хирагана и Катакана</h2>


<p>
В японском языке используются две слоговые азбуки: Хирагана и Катакана. Именно с них обычно рекомендуется изучение японской письменности.
</p>



<ul class="gr-list">
		<li class="gr-li-head"><div class="gr-list-head"><span>Хирагана</span></div>
			<p style="margin: 10px 20px"><a href="/ru/jp/hiragana.html">Азбука Хирагана</a></p>
			<p style="margin: 10px 20px; color: #555; font-weight: bold">Курс для изучения знаков годзюон:</p>
		 <ul>
<% @h = mark_learned(@hiragana) %>
			<li><a href="/ru/jp/hiragana/lesson/1">Урок 1</a> <br>
				Знаки: <%= @h.slice(0,10).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/hiragana/lesson/2">Урок 2</a>
			<br>
				Знаки: <%= @h.slice(10,10).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/hiragana/lesson/3">Урок 3</a>
			<br>
				Знаки: <%= @h.slice(20,10).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/hiragana/lesson/4">Урок 4</a>
			<br>
				Знаки: <%= @h.slice(30,8).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/hiragana/lesson/5">Урок 5</a>
			<br>
				Знаки: <%= @h.slice(38,8).join(', ').to_s %>
			</li>

			</ul>
		<p style="margin: 10px 20px"><a href="/ru/jp/hiragana-flashcard.html">Флэш-карты: Хирагана</a></p>
		<p style="margin: 10px 20px"><a href="/ru/jp/hiragana-test.html">Тест: Хирагана (годзюон) </a></p>
		
	</li>
		<li class="gr-li-head"><div class="gr-list-head"><span>Катакана</span></div>
			<p style="margin: 10px 20px"><a href="/ru/jp/hiragana.html">Азбука Катакана</a></p>
			<p style="margin: 10px 20px; color: #555; font-weight: bold">Курс для изучения знаков годзюон:</p>
		 <ul>
		 
<% @k = mark_learned(@katakana) %>
			<li><a href="/ru/jp/katakana/lesson/1">Урок 1</a> <br>
				Знаки: <%= @k.slice(0,10).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/katakana/lesson/2">Урок 2</a>
			<br>
				Знаки: <%= @k.slice(10,10).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/katakana/lesson/3">Урок 3</a>
			<br>
				Знаки: <%= @k.slice(20,10).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/katakana/lesson/4">Урок 4</a>
			<br>
				Знаки: <%= @k.slice(30,8).join(', ').to_s %>
			</li>
			<li><a href="/ru/jp/katakana/lesson/5">Урок 5</a>
			<br>
				Знаки: <%= @k.slice(38,8).join(', ').to_s %>
			</li>			
		</ul>
		<p style="margin: 10px 20px"><a href="/ru/jp/katakana-flashcard.html">Флэш-карты: Катакана</a></p>
		<p style="margin: 10px 20px"><a href="/ru/jp/katakana-test.html">Тест: Катакана (годзюон) </a></p>
	</li>




<br><br><br><br><br><br>

<p>Данный раздел сайта находится в стадии разработки</p>


<script type="text/javascript">
currentSection="phonetic";
</script>
