
<% content_for :special_js_css do %>

<%= javascript_include_tag 'profile_results' %>
<%= stylesheet_link_tag 'profile' %>

<script type="text/javascript">
$(document).ready(function() { 
	
$("#show_edit_form").toggle(
	function() {
		$("#payment_form").show();
		$(this).text('[hide form]')
	},function() {
		$("#payment_form").hide();
		$(this).text(' [edit] ')
	} 
);

$("#show_status_form").toggle(
	function() {
		$(".status_buttons").show();
		$(this).text('[hide form]')
	},function() {
		$(".status_buttons").hide();
		$(this).text(' [edit] ')
	} 
);

$("#product_exp").attr("autocomplete", "off") 

$(".change_exp").toggle(function() {
		$(".exp_date").show();
		$(this).text("[ hide form ]")
	}, function() {
		$(".exp_date").hide();
		$(this).text("[ edit ]")
})

});
</script>


<style type="text/css">

.a_button {
text-decoration: none !important;
outline: none;
}

.status_buttons form {
display: inline;
}

.status_buttons {
padding-left: 20px;
display: none;
}
.status_buttons input {
min-width: 80px;
font-size: 12px;
}
#payment_form {
display: none;
}

</style>

<%end%>

<%= link_to 'Back to all', {:controller => 'userdata'} %> 


<h2>User's information</h2>

<hr>
<p>
Current time: <%= Time.now.to_s(:long) %>
</p>

<% if @user.has_role?("admin") %>
<div class="role_admin">

	<% form_remote_tag :url => { :controller=> 'userdata', :action => 'disadmin' } do %>
		<%= submit_tag "Disable admin" %>
	<% end %>
</div>
<% end %>

<p>
  <b>Email:</b>
  <%=h @user.email %>
    
</p>

<p>
  <b>Status:</b>
  <%=h @user.state %> &nbsp; &nbsp; &nbsp; &nbsp; <a class="a_button" href="javascript:;" id="show_status_form"> [edit] </a>

<div class="status_buttons">
<% form_for :user, :url => { :action => :edit_state, :status => 'active', :time => Time.now } do %>
		<%= submit_tag "Activate" %>
<% end %>  
  
<% form_for :user, :url => { :action => :edit_state, :status => 'deleted' } do %>
		<%= submit_tag "Delete" %>
<% end %> 
</div>
</p>

<p>
  <b>Created:</b>
  <%=h @user.created_at.to_s(:long) %>
</p>

<p>
  <b>Activated:</b>
  <% if @user.activated_at %>
	<%=h @user.activated_at.to_s(:long) %>
  <% end %>
</p>


<p>
  <b>Payment:</b>
  <%if @user.payment %>
	until <span class="exp_time"><%= @user.expiration_time.to_s(:long) %></span> <a href="javascript:;" class="a_button change_exp">[edit]</a>
	
	<div class="exp_date" style="display: none;">
	<% form_remote_tag :url => { :controller=> 'userdata', :action => 'edit_expiration_date'}  do %>
			<input  id="product_exp" size="25" type="text" name="expiration_date" value="<%= @user.expiration_time.to_s %>" />
			<%= submit_tag "Edit" %>
	<% end %>
	</div>	
  <%else%>
	&nbsp; No payment &nbsp; &nbsp; &nbsp; &nbsp; <a class="a_button" href="javascript:;" id="show_edit_form">[edit]</a>
	
	<div id="payment_form">
			<% form_for :user, :url => { :action => :edit_payment} do %>
				<%= submit_tag "Free one year" %>
			<% end %>
	</div>
  <%end%>
</p>

<br><br>
<hr>
<h2 style="font-size: 20px;">User's Tests and Exercises Results</h2>

<div id="results_container">
		No results yet.
		<br>
		Words: 
		<% @user.words.each do |word| %>
			<%= word.text %><br>
		<%end%>
		
		<br>
		<% @cat_exercises.each do |ct| %>
			<%= ct.correct %>
		<%end%>

		<br>
		
</div>


<script type="text/javascript">



<%=@user.get_tests %>


 
</script>