<% if !@good_user%>
	<%= @hide_html %>
<%else%>

<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">

<% voc.each_with_index do |word, index|-%>
	<tr valign="top">
		<td style="font-size: 12px !important;" >
			<span class="bold"><%= word[:text] %></span> <br> 
			<span class="sound" onclick="playFile('<%= word[:sound] %>')">[<%= word[:transcribe] %>] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</td>
		<td class="su-pres-trans" style="font-size: 12px !important;">
			<%= word[:translate] %>
		</td>
	</tr>
<%end%>
</table>	
</div>	
</div>

<%end%>