<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<col width="34%"><col width="34%"><col width="32%">
<% voc.each_with_index do |word, index|-%>

	<tr valign="top">
		<td style="font-size: 11px !important;" ><%= word[:text1] %> <br> <%= word[:transcribe1] %></td>
		<td style="font-size: 11px !important;" ><%= word[:text2] %> <br> <%= word[:transcribe2] %></td>
		</td>
		<td class="su-pres-trans" style="font-size: 11px !important;"><%= word[:translate] %></td>
	</tr>
<%end%>
</table>	
</div>	
</div>