<% if !@good_user%>
	<%= @hide_html %>
<%else%>

<% @t_title = defined?(title) ? title : "norm" %>
<div class="su-exerc">
<div class="gex-area-trans">

	<div class="trans-head">
		<% if @t_title == "norm" %> 
			Phrases to translate
		<%else%>
			<%= @t_title %>
		<%end%>
	</div>	
	
<table cellspacing="15">
<% phrases.each_with_index do |phrase, index| %>
<tr valign="top">
	<td class="ital bold" style="text-indent: -18px;padding-left: 18px;"><%= index+1 %>. <%= phrase[:q_text]%></td>
	<td style="padding-left: 30px">
		<div class="key check">
			<div>
				<div class="sound"  onclick="playFile('<%= phrase[:sound] %>')">Check&nbsp;yourself</div>

			</div>
		</div>
	</td>
</tr>
<% end %>
</table>
</div>
</div>
<% end %>