<% if !@good_user%>
	<%= hidden_content() %>
<%else%>
<div class="su-exerc">
<div class="gex-area-trans">
	<div class="trans-head">
		Questions
	</div>
<table cellspacing="15">
<% phrases.each_with_index do |phrase, index| %>
<tr valign="top">
	<td>
		<div class="ital bold"><%= phrase[:q_text]%> - ...</div>
		<div style="font-size: 11px">
			<span class="sound" onclick="playFile('<%= phrase[:q_sound] %>')">[<%= phrase[:q_transcribe]%>] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</div>
	</td>
	<td style="padding-left: 30px">
		<div class="key check">
			<div>
				<div class="sound"  onclick="playFile('<%= phrase[:sound] %>')">Check&nbsp;yourself</div>
			</div>
		</div>	
	</td>
</tr>
<% end %>
</table>
</div>
</div>
<% end %>