<% @page_title = 'Le russe pour les débutants: Leçon 1' %>
<% @page_meta = {'description' => "Online Russian Course for Beginners - Lesson 1: how to greet people in Russian, how to say goodbye, to thank and apologize in Russian."} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'test-style' %>

<%= javascript_include_tag 'test' %>
<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'exercise-yn' %>
<%= stylesheet_link_tag 'test-style' %>
<%= stylesheet_link_tag 'exercises' %>


<style type="text/css">

.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 100px;
}

.testing7 td {
padding: 4px;
}

#test1 td {
padding:8px;
}

hr {
display: none;
}

.content {
padding: 20px 40px 40px 30px;
}

</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="politeness.html">Formulas of politeness</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>




<h2 class="page">Leçon 1</h2>


<div id="pagecontent"><div id="content">

<p>
Dans cette leçon, vous trouverez les formules de politesse les plus fréquemment utilisées et vous apprendrez aussi:
</p>

<ul>
	<li>Comment dire bonjour et comment saluer les gens en russe</li>
	<li>Comment dire "au revoir" en russe</li>
	<li>Comment remercier et à présenter des excuses en russe</li>
</ul>

<p>Vous trouverez également des informations sur les formes d'adresse polies et familières en russe.</p>

<hr>
<h3 class="exers ex-title">I. Les formules de politesse les plus fréquemment utilisées</h3>

<div class="ex-area">

<p class="task ex-task">Ecoutez et répétez après le speaker :</p>


<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Здр<span class="acco">а</span>вствуйте!</span><br />

					<span class="sound" onclick="playSound('soundb01011010.mp3')">[zdr<span class="acct">a</span>stvooyti]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Bonjour! <span style="cursor: help;" onmouseover="tooltip(this,'See notes below')" onmouseout="hide_info(this)">*</span></span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>До свид<span class="acco">а</span>ния!</span><br />

					<span class="sound" onclick="playSound('soundb01011020.mp3')">[da svid<span class="acct">a</span>niya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Au revoir</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Прив<span class="acco">е</span>т!</span><br />

					<span class="sound" onclick="playSound('soundb01011030.mp3')">[pri<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Salut!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Пок<i></i><span><span class="acco">a</span></span><i></i> !</span><br />

					<span class="sound" onclick="playSound('soundb01011040.mp3')">[pak<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>A plus!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Спас<span class="acco">и</span>бо</span><br />

					<span class="sound" onclick="playSound('soundb01011050.mp3')">[spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Merci</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Извин<span class="acco">и</span>те </span><br />
					<span class="sound" onclick="playSound('soundb01011060.mp3')">[izvin<span class="acct">i</span>ti]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Excusez-moi</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Извин<span class="acco">и</span></span><br />
					<span class="sound" onclick="playSound('soundb01011070.mp3')">[izvin<span class="acct">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Excuse-moi</span>
			</td>
	</tr>
</table>

</div>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">Polite and familiar forms of address</span></h3>

<p>
The Russian language has respectful and familiar forms of address to other people. The polite form is used in formal situations or if you are you talking to someone you don't know very well. Russian familiar form is generally used among friends and relatives.
</p>
<p>
In this course, we mainly use polite phrases for formal situations. However, in some cases, we will introduce familiar expressions which will be marked as "informal" in brackets. 
</p>
<p>
Notice also that certain formulas of politeness (e.g. <span class="eg">до свидания</span> <span class="egt">goodbye</span> and <span class="eg">спасибо</span> <span class="egt">thank you</span>) can be used both for formal and informal situations.
</p>

<p class="ital">For more info, see the page <a href="russian-address-forms.html">Polite and familiar address in Russian</a></p>

</div>


</div>
<hr>
<h3 class="exers ex-title">II. Greetings and farewells</h3>
<div class="ex-area">

<p class="task ex-task">a) Listen and repeat:</p>

<p><em>Russian Greetings</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Здр<span class="acco">а</span>вствуйте!</span><br />

					<span class="sound" onclick="playSound('soundb01011010.mp3')">[zdr<span class="acct">a</span>stvooyti]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Hello!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Прив<span class="acco">е</span>т!</span><br />
					<span class="sound" onclick="playSound('soundb01021020.mp3')">[pri<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Hi! (informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Д<span class="acco">о</span>брое <span class="acco">у</span>тро!</span><br />

					<span class="sound" onclick="playSound('soundb01021030.mp3')">[d<span class="acct">o</span>braye <span class="acct">oo</span>tra]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Good morning! (formal and informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Д<span class="acco">о</span>брый д<span class="acco">е</span>нь!</span><br />

					<span class="sound" onclick="playSound('soundb01021040.mp3')">[d<span class="acct">o</span>br<span class="ry">i</span>y <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Good afternoon! (formal and informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Д<span class="acco">о</span>брый в<span class="acco">е</span>чер! </span><br />

					<span class="sound" onclick="playSound('soundb01021050.mp3')">[d<span class="acct">o</span>br<span class="ry">i</span>y <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>chir]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Good evening! (formal and informal)</span>
			</td>
	</tr>
</table>
</div>


<p><em>Russian Farewells</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Всег<span class="acco">о</span> хор<span class="acco">о</span>шего!</span><br />

					<span class="sound" onclick="playSound('soundb01021060.mp3')">[fsiv<span class="acct">o</span> har<span class="acct">o</span>sh<span class="ry">i</span>va]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>All the best!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>До свид<span class="acco">а</span>ния! </span><br />
					<span class="sound" onclick="playSound('soundb01021070.mp3')">[da svid<span class="acct">a</span>niya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Goodbye! (formal and informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Пок<span class="acco">а</span>!</span><br />

					<span class="sound" onclick="playSound('soundb01021080.mp3')">[pak<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Bye-bye! (informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Счастл<span class="acco">и</span>во!</span><br />

					<span class="sound" onclick="playSound('soundb01021090.mp3')">[schisl<span class="acct">i</span>va]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Good luck! (informal)</span>
			</td>
	</tr>
</table>

</div>





<p class="task ex-task">b) Listen to the Russian words and choose the right translation from the list:</p>
<div id="t1">

<script type="text/javascript">
var t1 = new Test({dict:[

['sounds/soundb01011010.mp3','Hello!'],['sounds/soundb01021020.mp3','Hi!'],['sounds/soundb01021030.mp3','Good morning!'],['sounds/soundb01021040.mp3','Good afternoon!'],
['sounds/soundb01021050.mp3','Good evening!'], ['sounds/soundb01021060.mp3','All the best!'], ['sounds/soundb01021070.mp3','Goodbye!'], ['sounds/soundb01021080.mp3','Bye-bye!'], 
['sounds/soundb01021090.mp3','Good luck!']

],hide:'di1',id:'t1',type: 'audio',how_questions: 7, how_show: 2}, 'c0201022.II.b)');
</script>
</div>
</div>
<hr>

<h3 class="exers ex-title">III. How are you? </h3>
<div class="ex-area">

<p class="task ex-task">a) Listen and repeat the following expressions: </p>

<p><em>Russian expressions to ask another person how he or she is doing:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Как пожив<span class="acco">а</span><i></i>ете?</span><br />

					<span class="sound" onclick="playSound('soundb01031010.mp3')">[k<span class="acct">a</span>k paj<span class="ry">i</span>v<span class="acct">a</span>iti?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>How are you getting on?</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Как у Вас дел<span class="acco">а</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031020.mp3')">[k<span class="acct">a</span>k oo v<span class="acct">a</span>s dil<span class="acct">a</span>?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>How are you?</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Как дел<span class="acco">а</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031030.mp3')">[k<span class="acct">a</span>k dil<span class="acct">a</span>?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>How are you? (informal)</span>
			</td>
	</tr>
</table>

</div>


<p><em>How to answer:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Прекр<span class="acco">а</span>сно.</span><br />

					<span class="sound" onclick="playSound('soundb01031040.mp3')">[prikr<span class="acct">a</span>sna]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Perfectly well.</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Хорош<span class="acco">о</span>.</span><br />

					<span class="sound" onclick="playSound('soundb01031050.mp3')">[harash<span class="acct">o</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Fine.</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Норм<span class="acco">а</span>льно.</span><br />

					<span class="sound" onclick="playSound('soundb01031060.mp3')">[narm<span class="acct">a</span><span class="sftc">l</span>na]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Good. (informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Непл<span class="acco">о</span>хо.</span><br />

					<span class="sound" onclick="playSound('soundb01031070.mp3')">[nipl<span class="acct">o</span>ha]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Not so bad.</span>
			</td>
	</tr>
</table>

</div>

<p><em>How to thank somebody:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Спас<span class="acco">и</span>бо.</span><br />

					<span class="sound" onclick="playSound('soundb01031080.mp3')">[spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Thank you/Thanks.</span>
			</td>
	</tr>
</table>

</div>


<p><em>How to ask a reciprocal question:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>А у Вас как дел<span class="acco">а</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031090.mp3')">[a oo v<span class="acct">a</span>s kak d<span class="acct">i</span>la?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>And how are you?</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>А у теб<span class="acco">я</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031100.mp3')">[a oo ti<span class="sftv">b</span><span class="sfty">y</span><span class="acct">a</span>?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>And you?/And what about you? (informal)</span>
			</td>
	</tr>
</table>
</div>

<p class="task ex-task">b) Answer the questions using phrases in brackets: </p>

<p class="ital">Model:</p>

<table class="tab1" cellspacing="0">
	<tr valign="top">
		<td width="340">
			<table cellspacing="0">
					<tbody><tr valign="top">
		 				<td width="140">
		 					<p>Как пожив<span class="acco">а</span><i></i>ете? <br><br>
		 						<span class="sound" onclick="playSound('soundb01032001.mp3')">[k<span class="acct">a</span>k pajiv<span class="acct">a</span>iti?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
						<td width="20"><p>-</p>
                       	</td>
		 				<td width="140">
		 					<p>(I'm fine, thanks).<br>
		 						Хорош<span class="acco">о</span>, спас<span class="acco">и</span>бо.<br>
		 						<span class="sound" onclick="playSound('soundb01032002.mp3')">[harash<span class="acct">o</span>, spas<span class="acct">i</span>ba] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</tbody></table>
		</td>
		<td valign="top"><p class="ital">How are you getting on? - I'm fine, thanks.</p>
		</td>
	</tr>
</table>

<p class="ital">Questions:</p>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как дел<span class="acco">а</span>? <br>
					<span class="sound" onclick="playSound('soundb01032011.mp3')">[k<span class="acct">a</span>k dil<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Perfectly well.)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как пожив<span class="acco">а</span><i></i>ете? <br>
					<span class="sound" onclick="playSound('soundb01032021.mp3')">[k<span class="acct">a</span>k pajiv<span class="acct">a</span>iti?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Not so bad, thanks. And how are you?)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Прив<span class="acco">е</span>т! Как дел<span class="acco">а</span>? <br>
					<span class="sound" onclick="playSound('soundb01032031.mp3')">[pri<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t! k<span class="acct">a</span>k dil<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Good. And what about you?)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как пожив<span class="acco">а</span><i></i>ете? <br>
					<span class="sound" onclick="playSound('soundb01032041.mp3')">[k<span class="acct">a</span>k pajiv<span class="acct">a</span>iti?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Thanks, I'm fine. <br/>And how are you?)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как у Вас дел<span class="acct">а</span>? <br>
					<span class="sound" onclick="playSound('soundb01032051.mp3')">[k<span class="acct">a</span>k oo v<span class="acct">a</span>s dil<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Perfectly, thanks.)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<br>
</div>

<hr>

<h3 class="exers ex-title">IV. Request and thanks</h3>
<div class="ex-area">

<p class="task ex-task">a) Listen and repeat the following expressions: </p>

<p><em>How to say "please" in Russian:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Б<span class="acco">у</span>дьте добр<span class="acco">ы</span>, ...</span><br />

					<span class="sound" onclick="playSound('soundb01041010.mp3')">[b<span class="acct">oo</span>tti dabr<span class="acct"><span class="ry">i</span></span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Will/Would you be so kind as ...</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Пож<span class="acco">а</span>луйста, ...</span><br />

					<span class="sound" onclick="playSound('soundb01041020.mp3')">[paj<span class="acct">a</span>loosta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Please, ... (formal and informal)</span>
			</td>
	</tr>
</table>

</div>


<p><em>How to thank somebody in Russian:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Спас<span class="acco">и</span>бо.</span><br />

					<span class="sound" onclick="playSound('soundb01041030.mp3')">[spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Thank you/Thanks. (formal and informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Больш<span class="acco">о</span><i></i>е спас<span class="acco">и</span>бо.</span><br />

					<span class="sound" onclick="playSound('soundb01041040.mp3')">[ba<span class="sftc">l</span>sh<span class="acct">o</span>ye spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Thank you very much. (formal and informal)</span>
			</td>
	</tr>
</table>

</div>

<p><em>What to say in response to thanks:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Н<span class="acco">е</span> за что.</span><br />

					<span class="sound" onclick="playSound('soundb01041050.mp3')">[n<span class="acct">e</span>zashta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Not at all. (formal and informal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Пож<span class="acco">а</span>луйста.</span><br />

					<span class="sound" onclick="playSound('soundb01041060.mp3')">[paj<span class="acct">a</span>loosta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span> You are welcome.(formal and informal)</span>
			</td>
	</tr>
</table>

</div>

<p class="task ex-task">
b) Listen and choose "yes" or "no":
</p>

<div class="start_btn">
<input type="button" value="START" onclick="startYN()" />
</div>
<div id="yn_box">

	<div id="yn_place">


		<div id="trans_wrapper">
			<div id="yn_trans" style="background-color: transparent; border-width: 0px;">
				<div>&nbsp;
				</div>
			</div>
		</div>

		<div id="yn_sound">

			<div class="play">
			
			</div>
		</div>
		
		<div>Is this a correct translation? </div>
		<br/>
		<div id="yn_btns">
		<input id="yes_btn" type="button" value="YES" /> <input id="no_btn" type="button" value="NO" />
		</div>

		<div id="show_check"></div>
		<br>
		<div id="yn_info"></div>
	</div>

</div>

<script type="text/javascript">

/////////////////////// array for yes/no

var massive=new Array(

['sounds/soundb01041010.mp3','Would you be so kind as ...'],['sounds/soundb01041020.mp3','Please, ...'],['sounds/soundb01041030.mp3','Thank you'],['sounds/soundb01041040.mp3','Thank you very much'],
['sounds/soundb01041050.mp3','Not at all.']

);

ynQuestNum=5;
ynIdToSend = 'c0201042.IV.b)'

</script>
</div>
<hr/>

<h3 class="exers ex-title">V. Hello guys! </h3>
<div class="ex-area">
<p class="task ex-task">Listen to the phrases in Russian and choose the correct replies.</p>


<div id="test1">
<script type="text/javascript">
T['1']=['5','1','2','3','4','6']; // For Test#1
</script>
</div>

<form onsubmit="return check_test(this,1,'c0201050.V')">
<table class="tbtest" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Put the phrase<br />number  in the<br /> text area.</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="200" valign="top">
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051011.mp3')">Phrase 1</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r11"><input type="text" size="2"><span class="test-space">
		
			<span class="sound" onclick="playSound('soundb01051052.mp3')">Всего хорошего!&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051021.mp3')">Phrase 2</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r12"><input type="text" size="2"><span class="test-space">
		
			<span class="sound" onclick="playSound('soundb01051012.mp3')">Привет! Как дела? &nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051031.mp3')">Phrase 3</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r13"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('soundb01051022.mp3')">Здравствуйте! &nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051041.mp3')">Phrase 4</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r14"><input type="text" size="2"><span class="test-space">
			<span class="sound" style="white-space: normal;" onclick="playSound('soundb01051032.mp3')">Спасибо, хорошо. А у Вас как дела?&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051051.mp3')">Phrase 5</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r15"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('soundb01051042.mp3')">Прекрасно. А у тебя? &nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051061.mp3')">Phrase 6</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r16"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('soundb01051062.mp3')"> Счастливо!&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		</span>
		</td>
	</tr>
	<!-- tr>

		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051071.mp3')">Phrase 7</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r17"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('soundb01051072.mp3')">Не за что.&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		</span>

		</td>
	</tr -->
 </table>
<div style="margin: 15px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>

</form>

</div>
<hr>


</div></div>











<script type="text/javascript">
currentSection="course";

</script>
