

<h3 class="admin-p-name">Show entry: <span style="font-size: 17px"><%= @enword.text%></span></h3>

<div style="margin-bottom: 20px;">
<%= link_to "All categories", :action => 'index' %> 
| <%= link_to 'View category', :action=> 'cat_index', :encategory => @encategory_id  %> 
| <%= link_to 'Edit category', :action=> 'cat_edit', :encategory => @encategory_id  %> 
| <%= link_to 'Edit', edit_enword_path(@enword) %> <!-- #to_fix -->
</div>

<div style="margin: 0 20px; border: 1px solid #666; padding: 10px 30px 30px; ">
<p>
  <b>ID:</b>
  <%=h @enword.id %>
</p>
<p>
  <b>Text:</b>
  <%=h @enword.text %>
</p>

<p>
  <b>Html:</b>
  <%=h @enword.html %>
</p>

<p>
  <b>Translate:</b>
  <%=h @enword.translate %>
</p>

<p>
  <b>Transcribe:</b>
  <%=h @enword.transcribe %>
</p>

<p>
  <b>Sound url:</b>
  <%=h @enword.sound_url %>
</p>

<p>
  <b>Encategory:</b>
  <%=h @encategory_title  %>
</p>

<p>
  <b>Image url:</b>
  <%=h @enword.image_url %>
</p>

<p>
  <b>Grammar:</b>
  <%=h @enword.grammar %>
</p>

<p>
  <b>Forms:</b>
  <%=h @enword.forms %>
</p>

<p>
  <b>Order num:</b>
  <%=h @enword.order_num %>
</p>


</div>