<% @page_title = 'Registration' %>
<% @page_meta = {'description' => "Registration for Study Languages Online"} %>



<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'stylesounds' %>

<style type="text/css">



.login_form_wrapper {
text-align: center;
}

#login_form {
width: 400px;
margin: 0px auto;
border: 1px solid #888;
min-height: 300px;
height: auto !important;
height: 300px;
}

.errorExplanation {
text-align: left;
margin-left: 30px;
margin-right: 30px;
}

.errorExplanation h2 {
color: red;
font-size: 16px;
font-weight: bold;
text-align: center;
margin: 40px 30px 30px;
}

.errorExplanation li {
font-size: 11px;
}

#login_title {
background-color: #DFDFDF;
border-bottom: 1px solid #888;
font-size: 20px;
color: #666;
padding: 5px 0px;
margin-bottom:20px;
}

.login_wrap {
margin: 40px 30px 30px;
}

.login_wrap input {
width: 150px;
}

.login_wrap div {
margin-bottom: 15px;
}

span.log_item {
width: 150px;
display: block;
float: left;
font-weight: bold;
text-align: right;

}

.submit_log input {
font-size: 15px;
}

</style>

<script type="text/javascript"> 

$(document).ready(function() {

	$("#contfield form input:submit").click(function () {
		if ($("#accpeptance").is(":checked")== false) {
		
			alert("Checkmark that you have read the Terms and Conditions");
			return false;	
			
		}
	
	});

});

</script>


<% end %>






<% form_for :user, :url => users_path do |f| -%>
		
<div class="module mod-in-log">
<div class="module-top">
	<div class="module-t-left"></div>
	<div class="module-t-right"></div>
</div>
<div class="module-right">
<div class="module-left">
<div class="module-content">
<h2 class="page">It's your first visit? Welcome!</h2>
		
<p align="center"><a href="login" style="font-size: 11px; font-weight: bold;">Already registered? Click here to login</a></p>

<%= error_messages_for :user %>


<table align="center">
	<tr>
		<td>
		
			<table class="form-entries">
				<tr>
					<td class="entry1">Email address:</td>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<td class="entry1">Password:</td>
					<td> <%= f.password_field :password %></td>
				</tr>
				<tr>
					<td class="entry1">Confirm Password:</td>
					<td><%= f.password_field :password_confirmation %></td>
				</tr>
			</table>
	<tr>
		<td>
			<p align="center"><input type="checkbox" id="accpeptance"> I agree to the <a href="copyright.html">Terms</a></p>
			<p align="center"><%= submit_tag 'Sign up' %> </p>
		</td>
	</tr>
</table>		
		
</div>
</div>
</div>
<div class="module-bottom">
	<div class="module-b-left"></div>
	<div class="module-b-right"></div>
</div>
</div>		
		
		

<% end -%>
		
	



<script type="text/javascript">
currentSection="login";
</script>
