<p>
  <b>Picture:</b>
  <%=h @setting.picture %>
</p>

<p>
  <b>User id:</b>
  <%=h @setting.user_id %>
</p>

<p>
  <b>First name:</b>
  <%=h @setting.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @setting.last_name %>
</p>

<p>
  <b>F status:</b>
  <%=h @setting.f_status %>
</p>

<p>
  <b>Country:</b>
  <%=h @setting.country %>
</p>

<p>
  <b>Save words:</b>
  <%=h @setting.save_words %>
</p>

<p>
  <b>Save ex:</b>
  <%=h @setting.save_ex %>
</p>

<p>
  <b>Desc:</b>
  <%=h @setting.desc %>
</p>

<p>
  <b>F avatars:</b>
  <%=h @setting.f_avatars %>
</p>

<p>
  <b>F opt 1:</b>
  <%=h @setting.f_opt1 %>
</p>
<p>
  <b>F opt 2:</b>
  <%=h @setting.f_opt2 %>
</p>
<p>
  <b>Des opt 1:</b>
  <%=h @setting.des_opt1 %>
</p>
<p>
  <b>Des opt 2:</b>
  <%=h @setting.des_opt2 %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>