<% @site_menu.each do |item|%>
<div id="<%= item[:id]%>" class="menu-item n-nav"><%if item[:submenu]%><div class="item-top"><div class="list down"></div><%end%>
    <a href="<%= item[:url]%>" <%if item[:left]%>style="padding-left: <%=item[:left]%>px"<%end%>><%= item[:title]%></a>
  <%if item[:submenu]%></div><%end-%>
</div>
	<%if item[:submenu]%>
	<div class="sub" style="display: none">
	   <ul>
		<%item[:submenu].each do |sub|%><li><a href="<%= sub[:url]%>"><%= sub[:title]%></a></li><%end%>
	   </ul>
	</div>
	<%end -%>
<%end%>