<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<% @layout_settings = material(layout_items) -%>
<html>
<head>
  <title><%= @page_title %></title>
  <!-- no ad site material -->
<% unless @page_meta.nil? -%><% @page_meta.each do |name, content| -%>
<meta name="<%= name %>" content="<%= content %>" /><% end %><% end %>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="icon" href="/site-icon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/site-icon.ico" type="image/x-icon">
<%= stylesheet_link_tag 'stylesheet' %>
<%= javascript_include_tag 'jquery-1.4.2.min.js' %>
<%= javascript_include_tag 'effects' %>
<%if @javascripts -%>  
  <% for js_file in @javascripts -%>
  <%= javascript_include_tag js_file %>
  <% end -%>
<% end -%>
<%if @stylesheets -%>  
  <% for css_file in @stylesheets -%>
    <%= stylesheet_link_tag css_file %>
  <% end -%>
<%end -%>
<%= yield :special_js_css %><%= @layout_settings.body %>
<meta http-equiv="content-language" content="<%=@es_language%><%if @to_language%>,<%=@to_language%><%end%>">
<meta name="keywords" content="<%= @keywords%>" />
</head>
<body>
<div id="fixWidh"> 
<div id="container" class="nd<%if @smaller_title%> s-dname<%end%>">
  <div id="head">
	<div id="title_wrapper">
	  <div id="title_name">
		<h1 class="title_site"><a href="<%= @des_el[:links][:title][:url]%>"><%= @des_el[:text][:title]%></a></h1>
		<div class="t-top-panel">
<div class="t-sign-in"><%if logged_in? -%>
<a href="<%= @des_el[:links][:profile][:url]%>" class="t-un"><%= current_user.email %></a> | <span class="t-out"><%= link_to @des_el[:text][:logout],{:controller => 'sessions', :action => 'destroy'} %></span>
<%else -%>
<%if params[:to_lang]%>
<%= link_to @des_el[:text][:login],{:controller => 'sessions', :action => 'new', :lang=>params[:lang], :to_lang=>params[:to_lang]} %> | <%= link_to @des_el[:text][:signup],{:controller => 'users', :action => 'new', :lang=>params[:lang], :to_lang=>params[:to_lang]} %>
<%else%>
<%= link_to @des_el[:text][:login],{:controller => 'sessions', :action => 'new', :lang=>params[:lang]} %> | <%= link_to @des_el[:text][:signup],{:controller => 'users', :action => 'new', :lang=>params[:lang]} %>
<%end%>
<%end -%>
</div>
<% unless @no_search -%><%= @layout_settings.js_css %><%end -%>					
		</div>
	  </div>
	</div>
  </div><!-- end of head -->
	<div class="load-img" style="display: none"><img src="/images/layout/lbl-trans-50.png"/><img src="/images/layout/nav-btn.png"/></div>
  <div id="menu_content" <% if cookies[:no_menu] %>class="m-menu-hidden"<%end%>>
	<div id="navigation"> 
	  <div id="nav-pos">
		<div id="menu_body">
<%= render :partial => '/site/design/menu' %>		
<%if @left_ad && !cookies[:no_menu] %><%= render :partial => '/site/ads/ad_left' %><%end -%>						
		</div>
	  </div>
	</div>
	<div id="contentcell">
<div id="menu-del-wrapper">
		<div id="menu_remover"><span class="menu-shown"><%= @des_el[:text][:hide_menu]%></span><span class="menu-hidden"><%= @des_el[:text][:show_menu]%></span></div>
<%= render :partial => '/site/design/menu_horizontal' %>							
</div>
      <div id="contfield" class="content">
      <% if @has_audio %>
		<div id="loading"><div id="progress"></div><div id="progressbar"><div id="progressStatus"></div></div></div>
		<div id="mess" class="sound_tip"><i>Tip</i></div>
		<div id="audiospan" style="position: absolute;"></div>
	  <% end %>
<%= yield %>
		<div id="divspace"></div>
	  </div><!-- end of contfield -->
	</div>
	<%= render :partial => '/site/ad_long' %>
  </div><!-- end of menu_content -->
</div>
</div>
<div id="footer"><%= render :partial => '/site/design/footer' %></div>
<%unless @no_stats%><%= render :partial => '/site/design/analytics' %><%end%>
   <%unless @no_left_slide %><div id="slide-show" class="<%=@es_language%>"></div><%end -%>
<script type="text/javascript">
<% if current_user -%>sendData=true;<%end-%> 
es_lang = '<%=@es_language%>';
</script>
  </body>
</html>

