<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
<% unless @page_meta.nil? -%>
  <% @page_meta.each do |name, content| -%>
  <meta name="<%= name %>" content="<%= content %>" />
  <% end %>
<% end %>
  <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf8"> 
<%= stylesheet_link_tag 'stylesheet' %>
<%= javascript_include_tag 'jquery-1.4.2.min.js' %>
<%= javascript_include_tag 'effects' %>
<%= javascript_include_tag 'jquery.carousel.min.js' %>
<%if @javascripts%>  
  <% for js_file in @javascripts -%>
  <%= javascript_include_tag js_file %>
  <% end -%>
<% end %>
<%if @stylesheets%>  
  <% for css_file in @stylesheets -%>
    <%= stylesheet_link_tag css_file %>
  <% end -%>
<%end%>
<link rel="icon" href="/site-icon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/site-icon.ico" type="image/x-icon">
<%= yield :special_js_css %>
<%= material(243).body %>
<%= material(layout_items).body %>
<% unless @no_social%><script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script><%end%>
  <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'ie6.css' %>
  <![endif]-->
</head>
<body>
<div id="fixWidh">
<div id="container" class="nd<%if @smaller_title%> s-dname<%end%>">
  <div id="head"><img src="/images/badge-80.jpg" class="site-badge">
	<div id="title_wrapper">
	  <div id="title_name">
		<h1 class="title_site" style="float: left;"><a href="<%= @des_el[:links][:title][:url]%>"><%= @des_el[:text][:title]%></a></h1>
		<div class="t-top-panel">
<div class="t-sign-in"><%if logged_in? -%>
<a href="<%= @des_el[:links][:profile][:url]%>" class="t-un"><%= current_user.email %></a> | <span class="t-out"><%= link_to @des_el[:text][:logout],{:controller => 'sessions', :action => 'destroy'} %></span>
<%else -%>
<%if params[:to_lang]%>
<%= link_to @des_el[:text][:login],{:controller => 'sessions', :action => 'new', :lang=>params[:lang], :to_lang=>params[:to_lang]} %> | <%= link_to @des_el[:text][:signup],{:controller => 'users', :action => 'new', :lang=>params[:lang], :to_lang=>params[:to_lang]} %>
<%else%>
<%= link_to @des_el[:text][:login],{:controller => 'sessions', :action => 'new', :lang=>params[:lang]} %> | <%= link_to @des_el[:text][:signup],{:controller => 'users', :action => 'new', :lang=>params[:lang]} %>
<%end%>
<%end -%>
</div>
<% unless @no_search -%>			
<div class="t-search-bar">	
<form action="<%= @des_el[:links][:search][:url]%>" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-8582966007397893:4309180524" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" style="max-width: 200px" size="20" />
    <input type="submit" name="sa" value="<%= @des_el[:text][:search]%>" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=<%=@es_language%>"></script>	
</div>
<%end -%>					
		</div>
	  </div>
	</div>
  </div><!-- end of head -->
  <div id="menu_content" <% if cookies[:no_menu] %>class="m-menu-hidden"<%end%>>
	<div id="navigation">
	  <div id="nav-pos">
		<div id="menu_body" align="left">
<%= render :partial => '/site/design/menu' %>

<% unless @no_social || @no_social_1%>
<br>	
<div class="social-btn-row" style="text-align: center; position: absolute; margin-top: 5px; margin-left: 22px; white-space: nowrap;">
<span style="display: inline-block; width: 32px;"><g:plusone size="medium" count="false"></g:plusone></span>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<span style="position: relative; top: 1px;">
<iframe src="http://www.facebook.com/plugins/like.php?locale=en_US&amp;app_id=223626784338099&amp;href=www.study-languages-online.com&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:48px; height:21px;" allowTransparency="true"></iframe>
</span>
</div>
<%end%>									
		</div>
	  </div>
	</div>
	<div id="contentcell">
	  <div style="position: relative; z-index: 300">
		<div id="menu_remover"><span class="menu-shown"><%= @des_el[:text][:hide_menu]%></span><span class="menu-hidden"><%= @des_el[:text][:show_menu]%></span></div>
		<%= render :partial => '/site/design/menu_horizontal' %>
<% unless @no_social || @no_social_2%>						
<div class="social-btn-row-trc" style="position: absolute; right: 10px; top: -8px; width: 177px; overflow: hidden" align="center">
<g:plusone size="medium" count="false"></g:plusone>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<span style="position: relative; top: 1px;">
<iframe src="http://www.facebook.com/plugins/like.php?locale=en_US&amp;app_id=223626784338099&amp;href=www.study-languages-online.com&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
</span>
</div>						
<%end%>							
	  </div>
      <div id="contfield" class="<%= @with_rec ? 'content withRec' : 'content' %>">
      <% if @has_audio %>
		<div id="loading"><div id="progress"></div><div id="progressbar"><div id="progressStatus"></div></div></div>
		<div id="mess" class="sound_tip"><i>Tip</i></div>
		<div id="audiospan" style="position: absolute;"></div>
	  <% end %>
<%= yield %>
		<div id="divspace"></div>
	  </div>
	</div>
	<%= render :partial => '/site/ad_long' %>
  </div><!-- end of menu_content -->
</div>
</div>
<div id="footer"><%= render :partial => '/site/design/footer' %></div>
<%unless @no_stats%><%= render :partial => '/site/design/analytics' %><%end%>
<%= render :partial => '/site/slideshow' %>
<% if current_user -%>
<script type="text/javascript">
sendData=true;
es_lang = '<%=@es_language%>';
</script>
<%end-%>  
  </body>
</html>

