<% @page_title = 'Russian Beginner Lessons Online: Lesson 4' %>
<% @page_meta = {'description' => "Online Russian lesson for beginners: Professions and Occupations"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'test-style' %>

<%= javascript_include_tag 'test' %>
<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'exercises' %>
<%= stylesheet_link_tag 'test-style' %>
<%= stylesheet_link_tag 'exercises' %>


<style type="text/css">

.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 100px;
}

.testing7 td {
padding: 4px;
}

#test1 td, #test2 td {
padding:8px;
}

.yn-quest td {
padding: 5px;
}


</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="acquaintance.html">Topic: Acquaintance</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %>
  </div>
</div>
</div>




<h2 class="page">Lesson 4</h2>
<div id="pagecontent"><div id="content">

<p>
In this lesson, you will find Russian expressions used to tell about your profession you will learn: 
</p>

<ul>
	<li>Words denoting professions and occupations</li>
	<li>Basic info about plural of nouns in Russian</li>
	<li>Russian personal pronouns </li>
</ul>


<hr>
<h3 class="exers">I. Meet new people </h3>

<p class="task">Listen and answer the question:</p>
<br><br>

<script type="text/javascript">
T['1']=['1','1'];
T['2']=['2','2']; 
T['3']=['2','1']; 
T['4']=['3','6','1','4','2','5'];
T['5']=['2', '4', '3', '8', '1', '6', '5', '7']; // For Test#1
</script>



<div class="player_swf"><span style="visibility: hidden">sounds/soundb04011010.mp3</span></div>
<form onsubmit="return check_test(this,1)">
<p><em>Questions: </em></p>
<table class="yn-quest" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="230"><img src="pixel.gif" width="10" height="10" id="r11">1. This man's name is Viktor.
		</td>
		<td width="60"><input type="radio" name="q11"><i>Yes</i>
		</td>
		<td width="50"><input type="radio" name="q11"><i>No</i>
		</td>
	</tr>
	<tr>
		<td><img src="pixel.gif" width="10" height="10" id="r12">2. Hi is a doctor.
		</td>
		<td><input type="radio" name="q12"><i>Yes</i>
		</td>
		<td><input type="radio" name="q12"><i>No</i>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center"><br/>
			<input type="submit" value="Check yourself">
		</td>
	</tr>
</table>
</form>

<br/>
<div class="player_swf"><span style="visibility: hidden">sounds/soundb04011020.mp3</span></div>
<form onsubmit="return check_test(this,2)">
<p><em>Questions: </em></p>
<table class="yn-quest" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="230"><img src="pixel.gif" width="10" height="10" id="r21">1. This man's name is Alex.
		</td>
		<td width="60"><input type="radio" name="q21"><i>Yes</i>
		</td>
		<td width="50"><input type="radio" name="q21"><i>No</i>
		</td>
	</tr>
	<tr>
		<td><img src="pixel.gif" width="10" height="10" id="r22">2. Hi is a student.
		</td>
		<td><input type="radio" name="q22"><i>Yes</i>
		</td>
		<td><input type="radio" name="q22"><i>No</i>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center"><br/>
			<input type="submit" value="Check yourself">
		</td>
	</tr>
</table>
</form>

<br/>
<div class="player_swf"><span style="visibility: hidden">sounds/soundb04011030.mp3</span></div>
<form onsubmit="return check_test(this,3)">
<p><em>Questions: </em></p>
<table class="yn-quest" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="280"><img src="pixel.gif" width="10" height="10" id="r31">1. These are Michael and Viktor.
		</td>
		<td width="60"><input type="radio" name="q31"><i>Yes</i>
		</td>
		<td width="50"><input type="radio" name="q31"><i>No</i>
		</td>
	</tr>
	<tr>
		<td><img src="pixel.gif" width="10" height="10" id="r32">2. They are are students from Russia.
		</td>
		<td><input type="radio" name="q32"><i>Yes</i>
		</td>
		<td><input type="radio" name="q32"><i>No</i>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center"><br/>
			<input type="submit" value="Check yourself">
		</td>
	</tr>
</table>
</form>



<hr>
<h3 class="exers">II. Professions and occupations</h3>

<p class="task">a) Listen and repeat:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p  class="t1_di1"><span>м<span class="acco">е</span>неджер</span><br />

					<span class="sound" onclick="playSound('soundb04021010.mp3')">[m<span class="acct">e</span>nedjer]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>menager</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p  class="t1_di1"><span>сл<span class="acco">у</span>жащий</span><br />

					<span class="sound" onclick="playSound('soundb04021020.mp3')">[sl<span class="acct">oo</span>jaschiy]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>employee, office worker, clerk</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p  class="t1_di1"><span>во<i></i><span class="acco">е</span>нный</span><br />

					<span class="sound" onclick="playSound('soundb04021030.mp3')">[vay<span class="acct">e</span>n<span class="ry">i</span>y]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>military man</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p  class="t1_di1"><span>раб<span class="acco">о</span>чий</span><br />

					<span class="sound" onclick="playSound('soundb04021040.mp3')">[rab<span class="acct">o</span>chiy]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>worker</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p class="t1_di1"><span>уч<span class="acco">и</span>тель</span><br />

					<span class="sound" onclick="playSound('soundb04021050.mp3')">[ooch<span class="acct">i</span>ti<span class="sftc">l</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>teacher</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p class="t1_di1"><span>д<span class="acco">о</span>ктор</span><br />
					<span class="sound" onclick="playSound('soundb04021060.mp3')">[d<span class="acct">o</span>ktar]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>doctor</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p class="t1_di1"><span>инжен<span class="acco">е</span>р</span><br />
					<span class="sound" onclick="playSound('soundb04021070.mp3')">[inj<span class="ry">i</span><span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>r]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>engineer</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p class="t1_di1"><span>программ<span class="acco">и</span>ст</span><br />
					<span class="sound" onclick="playSound('soundb04021080.mp3')">[pragram<span class="acct">i</span>st]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>programmer</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p class="t1_di1"><span>студ<span class="acco">е</span>нт/студ<span class="acco">е</span>нтка</span><br />
					<span class="sound" onclick="playSound('soundb04021090.mp3')">[stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>nt - stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>ntka]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>student (male)/student (female)</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p class="t1_di1"><span>журнал<span class="acco">и</span>ст/журнал<span class="acco">и</span>стка</span><br />
					<span class="sound" onclick="playSound('soundb04021100.mp3')">[joornal<span class="acct">i</span>st - joornal<span class="acct">i</span>stka]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>journalist (male)/journalist (female)</span>
			</td>
	</tr>
</table>

</div>


<p class="task">b) Listen to the Russian words and choose the right translation from the list:</p>
<div id="t1">

<script type="text/javascript">
var t1 = new Test({dict:[

['менеджер','menager'],['служащий','office worker'],['военный','military man'],['рабочий','worker'],['учитель','teacher'],
['доктор','doctor'],['инженер','engineer'],['программист','programmer'],['студент','student'],['журналист','journalist']

],hide:'di1',id:'t1',type: 'text',how_questions: 8, how_show: 2});
</script>
</div>

<p class="task">с) Give a positive answer following the model and check yourself: </p>

<p class="ital">Model:</p>

<table class="tab1"  cellspacing="0" >
	<tr valign="top">
		<td width="350">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td width="180">
		 					<p>Катер<span class="acco">и</span>на - д<span class="acco">о</span>ктор? (she)<br />

		 						<span class="sound" onclick="playSound('soundb04023001.mp3')">[katir<span class="acct">i</span>na d<span class="acct">o</span>ktar?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
                        <td width="20"><p>-</p>
                        </td>

		 				<td width="140">
		 					<p>Да, она доктор.<br />
		 						<span class="sound" onclick="playSound('soundb04023002.mp3')">[d<span class="acct">a</span>, an<span class="acct">a</span> d<span class="acct">o</span>ktar] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is Catherine a doctor? - Yes, she is (a doctor).</p>
		</td>
	</tr>

</table>

<p class="ital" style="margin-bottom: 20px;">Questions:</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p>Алекс<span class="acco">е</span>й - м<span class="acco">е</span>неджер? (he) -  ...  <br />
					<span class="sound" onclick="playSound('soundb04023011.mp3')">[alik<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span>y m<span class="acct">e</span>nedjer?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04023012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p>Мар<span class="acco">и</span>на - студ<span class="acco">е</span>нтка?  (she) -  ...  <br />
					<span class="sound" onclick="playSound('soundb04023021.mp3')">[mar<span class="acct">i</span>na stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>ntka?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04023022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p>Ир<span class="acco">и</span>на - уч<span class="acco">и</span>тель? (she) -  ...  <br />
					<span class="sound" onclick="playSound('soundb04023031.mp3')">[ir<span class="acct">i</span>na ooch<span class="acct">i</span>ti<span class="sftc">l</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04023032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p>Бор<span class="acco">и</span>с - раб<span class="acco">о</span>чий? (he) -  ...  <br />
					<span class="sound" onclick="playSound('soundb04023041.mp3')">[bar<span class="acct">i</span>s rab<span class="acct">o</span>chiy?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04023042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p><span class="acco">А</span>нна - инжен<span class="acco">е</span>р? (she) -  ...  <br />
					<span class="sound" onclick="playSound('soundb04023051.mp3')">[<span class="acct">a</span>nna inj<span class="ry">i</span><span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>r?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04023052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p><span class="acco">Ю</span>рий - программ<span class="acco">и</span>ст? (he) -  ...  <br />
					<span class="sound" onclick="playSound('soundb04023061.mp3')">[y<span class="acct">oo</span>riy pragram<span class="acct">i</span>st?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04023062.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>




<hr>

<h3 class="exers">III. Russian nouns in plural</h3>

<p class="task">a) Listen and repeat. Pay attention to the nouns endings in plural:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p>м<span class="acco">е</span>неджер / м<span class="acco">е</span>неджеры<br />

					<span class="sound" onclick="playSound('soundb04031010.mp3')">[m<span class="acct">e</span>nedjer / m<span class="acct">e</span>nedjer<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>manager / managers</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p>инжен<span class="acco">е</span>р / инжен<span class="acco">е</span>ры<br />
					<span class="sound" onclick="playSound('soundb04031020.mp3')">[inj<span class="ry">i</span><span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>r / inj<span class="ry">i</span><span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>r<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>engineer / engineers </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="210">
				<p> программ<span class="acco">и</span>ст / программ<span class="acco">и</span>сты<br />

					<span class="sound" onclick="playSound('soundb04031030.mp3')">[pragram<span class="acct">i</span>st / pragram<span class="acct">i</span>st<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>programmer / programmers</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p>студ<span class="acco">е</span>нт / студ<span class="acco">е</span>нты<br />

					<span class="sound" onclick="playSound('soundb04031040.mp3')">[stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>nt / stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>nt<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>student / students</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p>д<span class="acco">о</span>ктор / доктор<span class="acco">а</span> <br />

					<span class="sound" onclick="playSound('soundb04031050.mp3')">[d<span class="acct">o</span>ktar / daktar<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>doctor / doctors</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p>уч<span class="acco">и</span>тель / учител<span class="acco">я</span><br />

					<span class="sound" onclick="playSound('soundb04031060.mp3')">[ooch<span class="acct">i</span>ti<span class="sftc">l</span> / oochiti<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>teacher / teachers</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p>раб<span class="acco">о</span>чий / раб<span class="acco">о</span>чие<br />

					<span class="sound" onclick="playSound('soundb04031070.mp3')">[rab<span class="acct">o</span>chiy / rab<span class="acct">o</span>chii]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>worker / workers</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p>сл<span class="acco">у</span>жащий  / сл<span class="acco">у</span>жащие <br />

					<span class="sound" onclick="playSound('soundb04031080.mp3')">[sl<span class="acct">oo</span>jaschiy / sl<span class="acct">oo</span>jaschii]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span> employee / employees </span>
			</td>
	</tr>
</table>


</div>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">Nouns in the Plural</span></h3>
<p>
Most Russian nouns usually have specific endings in plural, and each case has its particular endings for plural forms. We already know the nominative case, and we will examine formation of plural for nouns in the nominative case. 
</p>
<p>
In the majority of instances, Russian nouns will have the following changes in nominative plural: 
</p>
<p>
Nouns ending in a consonant add endings ы or и 
</p>
<p>
Nouns ending in a/я change а/я to ы/и
</p>
<p>
Nouns ending in soft sign ь change ь to и
</p>
<p>
However, there are a lot of other changes in nominative plural. For example: 
</p>
<p>
доктор - доктора <br>
служащий - служащие 
</p>
<p>
Some nouns do not change their form in plural: 
</p>
<p>
киви both for singular and plural 
</p>

</div>

<p class="task">b) Translate into Russian and check yourself:</p>

<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>1. Mary and Betty are doctors.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04032010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>2. Steve and David are programmers.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb04032020.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>3. Kelly and Jeff are teachers.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04032030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>4. Peter and Jack are managers.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb04032040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>5. Donna and Sandra are engineers.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04032050.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>6. John and Paul are workers.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb04032060.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

</div>




<hr>

<h3 class="exers">IV. Personal pronouns </h3>

<p class="task">a) Listen and repeat the following Russian pronouns:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p >мы<br />

					<span class="sound" onclick="playSound('soundb04040010.mp3')">[m<span class="acct"><span class="ry">i</span></span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>we</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p>вы</span><br />
					<span class="sound" onclick="playSound('soundb04040020.mp3')">[v<span class="acct"><span class="ry">i</span></span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>you</span>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p >он<span class="acco">и</span><br />

					<span class="sound" onclick="playSound('soundb04040030.mp3')">[an<span class="acct">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>they</span>
			</td>
	</tr>

</table>
</div>

<p class="task">b) Listen to the phrases in Russian and choose the right translation.</p>



<form onsubmit="return check_test(this,4)">
<table class="tbtest" cellspacing="0" cellpadding="3" >
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Put the phrase<br />number  in the<br /> text area.</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="250" valign="top">
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04042010.mp3')">Phrase 1</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r41"><input type="text" size="2"><span class="test-space">Are you programmers?</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04042020.mp3')">Phrase 2</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r42"><input type="text" size="2"><span class="test-space">We are doctors.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04042030.mp3')">Phrase 3</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r43"><input type="text" size="2"><span class="test-space">They are from Russia.</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04042040.mp3')">Phrase 4</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r44"><input type="text" size="2"><span class="test-space">They are French.</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04042050.mp3')">Phrase 5</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r45"><input type="text" size="2"><span class="test-space">We are teachers.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04042060.mp3')">Phrase 6</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r46"><input type="text" size="2"><span class="test-space">Are you from Canada?</span>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div style="margin: 20px 0px 20px 0px;" align="center">
				<input type="submit" value="Check">
			</div>
		</td>
	</tr>
 </table>


</form>

<p class="task">c) Answer the questions following the model: 
</p>

<p class="ital">Model:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="410">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td width="230">
		 					<p>Марк и Крис - студ<span class="acco">е</span>нты? (they) <br />

		 						<span class="sound" onclick="playSound('soundb04043001.mp3')"> [m<span class="acct">a</span>rk i kr<span class="acct">i</span>s stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>nt<span class="ry">i</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p>Да, он<span class="acco">и</span> студ<span class="acco">е</span>нты.<br />

		 						<span class="sound" onclick="playSound('soundb04043002.mp3')">[d<span class="acct">a</span>, an<span class="acct">i</span> stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>nt<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Are Mark and Chris students? - Yes, they are students.</p>
		</td>
	</tr>

</table>

<p class="ital">Questions</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы программ<span class="acco">и</span>сты? (we) - ...<br />

					<span class="sound" onclick="playSound('soundb04043011.mp3')">[v<span class="acct"><span class="ry">i</span></span> pragram<span class="acct">i</span>st<span class="ry">i</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04043012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>В<span class="acco">е</span>ра и <span class="acco">О</span>льга из Роcс<span class="acco">и</span><i></i>и? (they) - ... <br />

					<span class="sound" onclick="playSound('soundb04043021.mp3')">[<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>ra i <span class="acct">o</span><span class="sftc">l</span>ga iz ras<span class="acct">i</span>i] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04043022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Он<span class="acco">и</span> из СШ<span class="acco">А</span>? (they) - ... <br />

					<span class="sound" onclick="playSound('soundb04043031.mp3')">[an<span class="acct">i</span> is se she <span class="acct">a</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04043032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы из Канады? (we) - ... <br />

					<span class="sound" onclick="playSound('soundb04043041.mp3')">[v<span class="acct"><span class="ry">i</span></span> is kan<span class="acct">a</span>d<span class="ry">i</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04043042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Ив<span class="acco">а</span>н и Макс<span class="acco">и</span>м - доктор<span class="acco">а</span>? (they) - ... <br />

					<span class="sound" onclick="playSound('soundb04043051.mp3')">[iv<span class="acct">a</span>n i maks<span class="acct">i</span>m daktar<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04043052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Они студенты? (they) - ... <br />

					<span class="sound" onclick="playSound('soundb04043061.mp3')">[an<span class="acct">i</span> stoo<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>nt<span class="ry">i</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb04043062.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>




<hr>
<h3 class="exers">V. Revision </h3>

<p class="task">Listen to the phrases in Russian and choose the right translation.</p>


<form onsubmit="return check_test(this,5)">
<table class="tbtest" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Put the phrase<br />number  in the<br /> text area.</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="250" valign="top">
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051010.mp3')">Phrase 1</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r51"><input type="text" size="2"><span class="test-space">These are programmers.</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051020.mp3')">Phrase 2</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r52"><input type="text" size="2"><span class="test-space">Sarah and Mary are students from the USA.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051030.mp3')">Phrase 3</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r53"><input type="text" size="2"><span class="test-space">I am a student from Russia.</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051040.mp3')">Phrase 4</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r54"><input type="text" size="2"><span class="test-space">Tom is a journalist.</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051050.mp3')">Phrase 5</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r55"><input type="text" size="2"><span class="test-space">They are from Australia.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051060.mp3')">Phrase 6</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r56"><input type="text" size="2"><span class="test-space">He is a worker.</span>
		</td>
	</tr>
	<tr>

		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051070.mp3')">Phrase 7</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r57"><input type="text" size="2"><span class="test-space">We are French.</span>

		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb04051080.mp3')">Phrase 8</div>
				</div>

			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r58"><input type="text" size="2"><span class="test-space">I am an employee from Moscow.</span>
		</td>
	</tr>
 </table>
<div style="margin: 20px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>

</form>



<hr>

</div></div>





<script type="text/javascript">
currentSection="course";
</script>
