<% @page_title = 'Russian Beginner Lessons Online: Lesson 2' %>
<% @page_meta = {'description' => "Online Russian lesson for beginners: Greetings"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'test-style' %>

<%= javascript_include_tag 'test' %>
<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'exercises' %>
<%= stylesheet_link_tag 'test-style' %>
<%= stylesheet_link_tag 'exercises' %>


<style type="text/css">


.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t1 .variants {
width: 250px;
}

#t2 .variants {
width: 100px;
}

.testing7 td {
padding: 4px;
}

#test1 td, #test2 td {
padding:8px;
}

</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="acquaintance.html">Topic: Acquaintance</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %>
  </div>
</div>
</div>




<h2 class="page">Lesson 2</h2>
<div id="pagecontent"><div id="content">

<p>
In this lesson, you will find Russian expressions used when you meet people and you will learn: 
</p>

<ul>
	<li>How to introduce yourself in Russian</li>
	<li>How to ask and answer simple questions in Russian</li>
	<li>More info about formal and informal forms of address in Russian</li>
</ul>


<hr>
<h3 class="exers">I. Let me introduce myself</h3>

<p class="task">Listen and answer the question:</p>

<script type="text/javascript">
T['1']=['2','1'];
T['2']=['1','2'];
T['3']=['2','5','4','1','6','3'];
</script>
<br><br>
<div class="player_swf"><span style="visibility: hidden">sounds/soundb02011010.mp3</span></div>
<br><br>
<form onsubmit="return check_test(this,1)">
	<table border="0" id="test1">
		<tr>

			<td width="280">
			<b>  <img src="pixel.gif" width="10" height="10" id="r11">This man's name is:</b><br /><br />
			<input type="radio" name="q11"><i>Viktor</i><br />
			<input type="radio" name="q11"><i>Alexander</i><br />

			</td>

		</tr>

		<tr>
			<td>

			<b><img src="pixel.gif" width="10" height="10" id="r12">This introduction is: </b><br /><br />
			<input type="radio" name="q12"><i>Formal</i><br />
			<input type="radio" name="q12"><i>Informal</i><br />
			</td>
		</tr>
	<tr>
		<td align="center">

		<input type="submit" value="Check yourself">
		</td>
	</tr>

</table>
</form>
<br><br>
<div class="player_swf"><span style="visibility: hidden">sounds/soundb02011020.mp3</span></div>
<br><br>
<form onsubmit="return check_test(this,2)">
	<table border="0" id="test2">
		<tr>

			<td width="280">
			<b>  <img src="pixel.gif" width="10" height="10" id="r21">This man's name is:</b><br /><br />
			<input type="radio" name="q21"><i>Nikita</i><br />
			<input type="radio" name="q21"><i>Oleg</i><br />

			</td>

		</tr>

		<tr>
			<td>

			<b><img src="pixel.gif" width="10" height="10" id="r22">This introduction is: </b><br /><br />
			<input type="radio" name="q22"><i>Formal</i><br />
			<input type="radio" name="q22"><i>Informal</i><br />
			</td>
		</tr>
	<tr>
		<td align="center">

		<input type="submit" value="Check yourself">
		</td>
	</tr>

</table>
</form>

<hr>
<h3 class="exers">II. Nice to meet you!</h3>

<p class="task">a) Listen to Russian expressions used when you meet people and repeat after the speaker:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p class="t1_di1"><span>Разреш<span class="acco">и</span>те предст<span class="acco">а</span>виться.</span><br />

					<span class="sound" onclick="playSound('soundb02021010.mp3')">[razrish<span class="acct"><span class="ry">i</span></span>ti pritst<span class="acct">a</span>vitsa]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Let me introduce myself (for formal introduction)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Мен<span class="acco">я</span> зов<span class="acco">у</span>т ...</span><br />

					<span class="sound" onclick="playSound('soundb02021020.mp3')">[mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> zav<span class="acct">oo</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>My name is ... </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Я ... </span><br />

					<span class="sound" onclick="playSound('soundb02021030.mp3')">[y<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>I am ... <span style="cursor: help;" onmouseover="tooltip(this,'See notes below')" onmouseout="hide_info(this)">*</span></span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Как Вас зов<span class="acco">у</span>т?</span><br />

					<span class="sound" onclick="playSound('soundb02021040.mp3')">[k<span class="acct">a</span>k v<span class="acct">a</span>s zav<span class="acct">oo</span>t?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>What is your name? (formal)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Как теб<span class="acco">я</span> зов<span class="acco">у</span>т?</span><br />

					<span class="sound" onclick="playSound('soundb02021050.mp3')">[k<span class="acct">a</span>k ti<span class="sftv">b</span><span class="sfty">y</span><span class="acct">a</span> zav<span class="acct">oo</span>t?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>What is your name? (informal)</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>При<i></i><span class="acco">я</span>тно познак<span class="acco">о</span>миться.</span><br />
					<span class="sound" onclick="playSound('soundb02021060.mp3')">[priy<span class="acct">a</span>tna paznak<span class="acct">o</span>mitsa]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Nice to meet you.</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span><span class="acco">О</span>чень при<i></i><span class="acco">я</span>тно.</span><br />
					<span class="sound" onclick="playSound('soundb02021070.mp3')">[ochi<span class="sftc">n</span> priy<span class="acct">a</span>tna]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Very glad (to meet you)</span>
			</td>
	</tr>
</table>

</div>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">The absence of verbs in Russian sentences</span></h3>

<p>
Notice that  the usage of verbs is not always required in Russian sentences. In particular, the present tense of the Russian verb <span class="eg">быть</span> <span class="egt">to be</span> is not used, that is why the following examples contain no verbs:
</p>
<p style="font-size: 10pt;">
<span class="sound" onclick="playSound('soundb02020010.mp3')">Я Джон <span class="play_tip">&nbsp; &nbsp;</span></span>. – I'm John. literally: I John.
</p>
<p style="font-size: 10pt;">
<span class="sound" onclick="playSound('soundb02020020.mp3')">Это Сэм <span class="play_tip">&nbsp; &nbsp;</span></span>. – This is Sam. literally: This Sam.
</p>
</div>


<p class="task">b) Listen to the Russian words and choose the right translation from the list:</p>
<div id="t1">

<script type="text/javascript">
var t1 = new Test({dict:[

['sounds/soundb02021010.mp3','Let me introduce myself'],['sounds/soundb02021020.mp3','My name is ...'],['sounds/soundb02021030.mp3','I am ...'],['sounds/soundb02021040.mp3','What is your name? (formal)'],['sounds/soundb02021050.mp3','What is your name? (informal)'],
['sounds/soundb02021060.mp3','Nice to meet you.'], ['sounds/soundb02021070.mp3','Very glad (to meet you)']

],hide:'di1',id:'t1',type: 'audio',how_questions: 7, how_show: 2});
</script>
</div>

<hr>

<h3 class="exers">III. Introducing yourself</h3>

<p class="task">a) Learn the following Russian pronouns:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p>Я <br />

					<span class="sound" onclick="playSound('soundb02031010.mp3')">[y<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>I</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p>Ты</span><br />
					<span class="sound" onclick="playSound('soundb02031020.mp3')">[t<span class="acct"><span class="ry">i</span></span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>You (informal)<span style="cursor: help;" onmouseover="tooltip(this,'See notes below')" onmouseout="hide_info(this)">*</span></span></span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p>Вы<br />

					<span class="sound" onclick="playSound('soundb02031030.mp3')">[v<span class="acct"><span class="ry">i</span></span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>You<span style="cursor: help;" onmouseover="tooltip(this,'See notes below')" onmouseout="hide_info(this)">*</span></span> </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p><span class="acco">Э</span>то<br />

					<span class="sound" onclick="playSound('soundb02031040.mp3')">[<span class="acct">e</span>ta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>This</span>
			</td>
	</tr>
</table>
</div>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">Russian equivalent for the English "You"</span></h3>
<p>
There are three Russian words which may be equivalent to the English word "You": 
</p>
<p>
- <span class="eg">ты</span> that is used in informal situation for addressing to one person
</p>
<p>
- <span class="eg">Вы</span> (with uppercase <span class="eg">в</span>) that is used in informal situation for addressing to one person
</p>
<p>
- <span class="eg">вы</span> (with lowercase <span class="eg">в</span>) that is used both in informal and formal situations for addressing to several persons
</p>
</div>


<p class="task">b) Using the above-mentioned pronouns, translate into Russian and check yourself:</p>

<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>1. I am John Green.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02032010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>2. You are Sarah Winston. (informal)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb02032020.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">

				<p>3. This is Alex.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02032030.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>4. I am Sam Brown.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02032040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>5. You are David Walker (formal)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb02032050.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">

				<p>6. This is Mary Robertson.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02032060.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>7. You are Sandra. (informal)
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02032070.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>8. You are Linda Gibson. (formal)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb02032080.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
</div>
<hr>

<h3 class="exers">IV. Simple quesions </h3>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">How to ask and answer simple questions in Russian</span></h3>
<p>
Usually, Russians do not use special grammar constructions or word to ask questions. Questions are commonly expressed by intonation. When answering simple questions in Russian, you can use words <span class="eg">да</span> <span class="egt">yes</span> and <span class="eg">нет</span> <span class="egt">no</span>. 
</p>
<p>
Look at the following examples:
</p>
<p style="font-size: 10pt;">
<span class="sound" onclick="playSound('soundb02040011.mp3')">Вы Л<span class="acco">и</span>нда? <span class="play_tip">&nbsp; &nbsp;</span></span>  - <span class="sound" onclick="playSound('soundb02040012.mp3')">Да, я Л<span class="acco">и</span>нда. <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p style="font-size: 10pt;">
<span class="sound" onclick="playSound('soundb02040021.mp3')">Ты Никол<span class="acco">а</span>й? <span class="play_tip">&nbsp; &nbsp;</span></span>  - <span class="sound" onclick="playSound('soundb02040022.mp3')">Нет, я Серг<span class="acco">е</span>й. <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>
<p style="font-size: 10pt;">
<span class="sound" onclick="playSound('soundb02040031.mp3')"><span class="acco">Э</span>то Р<span class="acco">о</span>берт? <span class="play_tip">&nbsp; &nbsp;</span></span>  - <span class="sound" onclick="playSound('soundb02040032.mp3')">Да, <span class="acco">э</span>то Р<span class="acco">о</span>берт. <span class="play_tip">&nbsp; &nbsp;</span></span>
</p>

</div>

<p class="task">a) Give a positive answer following the model to the questions. Note that Russians may begin their questions with "Извините, пожалуйста" when addressing to an unknown person.</p>

<p class="ital">Model:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="340">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Вы Сэм Бр<span class="acco">а</span><i></i>ун?<br />

		 						<span class="sound" onclick="playSound('soundb02041001.mp3')"> [v<span class="acct"><span class="ry">i</span></span> s<span class="acct">e</span>m br<span class="acct">a</span>oon?] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p>Да, я Сэм Бр<span class="acct">а</span><i></i>ун.<br />

		 						<span class="sound" onclick="playSound('soundb02041002.mp3')">[d<span class="acct">a</span>, y<span class="acct">a</span> s<span class="acct">e</span>m br<span class="acct">a</span>oon] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Are you Sam Brown? -Yes, I am Sam Brown.</p>
		</td>
	</tr>

</table>

<p class="ital">Questions</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>Ты Л<span class="acco">е</span>сли Р<span class="acco">о</span>бертсон?? - ... <br />

					<span class="sound" onclick="playSound('soundb02041011.mp3')">[t<span class="acct"><span class="ry">i</span></span> l<span class="acct">e</span>sli r<span class="acct">o</span>birtson?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02041012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>Вы Джордж Ст<span class="acco">о</span><i></i>ун? - ... <br />
					<span class="sound" onclick="playSound('soundb02041021.mp3')">[v<span class="acct"><span class="ry">i</span></span> dj<span class="acct">o</span>rtsh st<span class="acct">o</span>oon?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02041022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p><span class="acco">Э</span>то Крис? - ... <br />

					<span class="sound" onclick="playSound('soundb02041031.mp3')">[<span class="acct">e</span>ta kr<span class="acct">i</span>s?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02041032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>Извин<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, Вы Л<span class="acco">и</span>нда У<span class="acco">о</span>лт? - ... <br />
					<span class="sound" onclick="playSound('soundb02041041.mp3')">[izvin<span class="acct">i</span>ti, paj<span class="acct">a</span>loosta, v<span class="acct"><span class="ry">i</span></span> l<span class="acct">i</span>nda oo<span class="acct">o</span>lt?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02041042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>Ты Стив? - ... <br />

					<span class="sound" onclick="playSound('soundb02041051.mp3')">[ t<span class="acct"><span class="ry">i</span></span> st<span class="acct">i</span>f?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02041052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>Извин<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, вы Д<span class="acco">о</span>нна П<span class="acco">а</span>ркер? - ... <br />

					<span class="sound" onclick="playSound('soundb02041061.mp3')">[izvin<span class="acct">i</span>ti, paj<span class="acct">a</span>loosta, v<span class="acct"><span class="ry">i</span></span> d<span class="acct">o</span>na p<span class="acct">a</span>rkir?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02041062.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>


<p class="task">b) Give a negative answer following the model to the questions. </p>

<p class="ital">Model:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="340">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Вы Сэм Бр<span class="acco">а</span><i></i>ун?<br /><br />

		 						<span class="sound" onclick="playSound('soundb02042001.mp3')"> [v<span class="acct"><span class="ry">i</span></span> s<span class="acct">e</span>m br<span class="acct">a</span>oon?] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p>
		 					(John Brown)<br/>
		 					Нет, я Джон Бр<span class="acct">а</span><i></i>ун.<br />

		 						<span class="sound" onclick="playSound('soundb02042002.mp3')">[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t, y<span class="acct">a</span> dj<span class="acct">o</span>n br<span class="acct">a</span>oon] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Are you Sam Brown? -No, I am John Brown.</p>
		</td>
	</tr>

</table>

<p class="ital">Questions</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="380">
				<p>Ты М<span class="acco">е</span>ри Г<span class="acco">о</span>лдберг? - (Lesley Robertson)... <br />

					<span class="sound" onclick="playSound('soundb02042011.mp3')">[t<span class="acct"><span class="ry">i</span></span> m<span class="acct">e</span>ri g<span class="acct">o</span>ldberk?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02042012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="380">
				<p>Вы Шон У<i></i><span class="acco">а</span><i></i>илд? - (George Stone) <br />
					<span class="sound" onclick="playSound('soundb02042021.mp3')">[v<span class="acct"><span class="ry">i</span></span> sh<span class="acct">o</span>n oo<span class="acct">a</span>ild?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02042022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="380">
				<p><span class="acco">Э</span>то Джефф? - (Chris) <br />

					<span class="sound" onclick="playSound('soundb02042031.mp3')">[<span class="acct">e</span>ta dj<span class="acct">e</span>f?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02042032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="380">
				<p>Извин<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, Вы Лу<i></i><span class="acco">и</span>за Бин? - (Linda Walt) <br />
					<span class="sound" onclick="playSound('soundb02042041.mp3')">[izvin<span class="acct">i</span>ti, paj<span class="acct">a</span>loosta, v<span class="acct"><span class="ry">i</span></span> loo<span class="acct">i</span>sa b<span class="acct">i</span>n?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02042042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="380">
				<p>Ты <span class="acco">Э</span>двард? - (Steve) <br />

					<span class="sound" onclick="playSound('soundb02042051.mp3')">[t<span class="acct"><span class="ry">i</span></span> <span class="acct">e</span>dvart?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02042052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="420">
				<p>Извин<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, Вы С<span class="acco">и</span>нтия Сн<span class="acco">а</span>йпс? - (Donna Parker) <br />

					<span class="sound" onclick="playSound('soundb02042061.mp3')">[izvin<span class="acct">i</span>ti, paj<span class="acct">a</span>loosta, v<span class="acct"><span class="ry">i</span></span> s<span class="acct">i</span>ntiya sn<span class="acct">a</span>yps?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02042062.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>


<p class="task">c) Translate into Russian and check yourself:</p>

<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="320">
				<p>1. Are you Kate Robertson? (informal)
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02043010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="320">
				<p>2. Is this Kim?
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02043020.mp3')">Check&nbsp;yourself</div>

					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="320">
				<p>3. Are you Michal Stone?
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02043030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="320">
				<p>4. Excuse me, please, are you Linda Parker?
				</p>
			</td>
			<td>
				<div class="key check">

					<div>
						<div class="sound"  onclick="playSound('soundb02043040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="320">
				<p>5. Are you Melissa? (informal)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02043050.mp3')">Check&nbsp;yourself</div>

					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="320">
				<p>6. Excuse me, please, are you Sara Brick?
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb02043060.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>
</div>

<hr>

<h3 class="exers">V. Mini-dialogues</h3>

<p class="task"> Associate questions and answers:</p>

<form onsubmit="return check_test(this,3)">
<table cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;
		</td>

		<td><i>Put the phrase number  <br /> in the text area</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="300"  valign=top>
		1. Извините, пожалуйста, Вы Марк Тин?
		</td>

		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r31"><input type="text" size=1><span class="test-space">Меня зовут Стелла. Рада познакомиться, Алекс.</span>

		</td>
	</tr>
	<tr>
		<td>
		2. Я Алекс Грин, а Вас как зовут?
		</td>
		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r32"><input type="text" size=1><span class="test-space">Здравствуйте, Вы Сергей Мил?</span>

		</td>
	</tr>

	<tr>
		<td>
		3. Привет, тебя как зовут?
		</td>
		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r33"><input type="text" size=1><span class="test-space">Меня зовут Соня Мосс.</span>
		</td>

	</tr>
	<tr>
		<td>
		4. Как Вас зовут?
		</td>
		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r34"><input type="text" size=1><span class="test-space">Да, я Марк Тин.</span>
		</td>
	</tr>
	<tr>

		<td>
		5. Здравствуйте!
		</td>
		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r35"><input type="text" size=1><span class="test-space">Нет.</span>
		</td>
	</tr>
	<tr>
		<td>
		6. Извините, Вы Макс Рунел?
		</td>

		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r36"><input type="text" size=1><span class="test-space">Меня Линда, а тебя? </span>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2" style="padding-top: 20px;">
		<input type="submit" value="Check">
		</td>

	</tr>

 </table>
</form>

<hr>

</div></div>





<script type="text/javascript">
currentSection="course";
</script>
