<% @page_title = 'Russian Beginner Lessons Online: Lesson 3' %>
<% @page_meta = {'description' => "Online Russian lesson for beginners: How to say where you are coming from"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'test-style' %>

<%= javascript_include_tag 'test' %>
<%= javascript_include_tag 'test-text' %>
<%= stylesheet_link_tag 'test-style' %>


<style type="text/css">


.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 200px;
}

.testing7 td {
padding: 4px;
}

#test1 td, #test2 td {
padding:8px;
}

</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="politeness.html">Formulas of politeness</a></li>
            <li><a href="acquaintance.html">Acquaintance</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>




<h2 class="page">Lesson 3</h2>
<div id="pagecontent"><div id="content">

<p>
In this lesson, you will find Russian expressions used to tell where you come from and you will learn: 
</p>

<ul>
	<li>Countries and nationalities names</li>
	<li>Basic info about Russian cases</li>
	<li>Basic info about Russian grammatical gender</li>
</ul>


<hr>
<h3 class="exers">I. Let me introduce myself</h3>

<p class="task">Listen and answer the question:</p>

<script type="text/javascript">
T['1']=['2','1'];
T['2']=['1','2'];
T['3']=['5','3','8','6','1','4', '2', '7'];
</script>

<div class="player_swf"><span style="visibility: hidden">sounds/soundb03011010.mp3</span></div>
<br><br>
<form onsubmit="return check_test(this,1)">
	<table border="0" id="test1">
		<tr>

			<td width="280">
			<b>  <img src="pixel.gif" width="10" height="10" id="r11"> This man's name is:</b><br /><br />
			<input type="radio" name="q11"><i>Mark</i><br />
			<input type="radio" name="q11"><i>Alex</i><br />

			</td>

		</tr>

		<tr>
			<td>

			<b><img src="pixel.gif" width="10" height="10" id="r12"> He is from: </b><br /><br />
			<input type="radio" name="q12"><i>France</i><br />
			<input type="radio" name="q12"><i>Spain</i><br />
			</td>
		</tr>
	<tr>
		<td align="center">

		<input type="submit" value="Check yourself">
		</td>
	</tr>

</table>
</form>


<br><br>
<div class="player_swf"><span style="visibility: hidden">sounds/soundb03011020.mp3</span></div>
<br><br>
<form onsubmit="return check_test(this,2)">
	<table border="0" id="test2">
		<tr>

			<td width="280">
			<b>  <img src="pixel.gif" width="10" height="10" id="r21"> This woman's name is:</b><br /><br />
			<input type="radio" name="q21"><i>Olga</i><br />
			<input type="radio" name="q21"><i>Dorothy</i><br />

			</td>

		</tr>

		<tr>
			<td>

			<b><img src="pixel.gif" width="10" height="10" id="r22"> She is from: </b><br /><br />
			<input type="radio" name="q22"><i>Ukraine</i><br />
			<input type="radio" name="q22"><i>Russia</i><br />
			</td>
		</tr>
	<tr>
		<td align="center">

		<input type="submit" value="Check yourself">
		</td>
	</tr>

</table>
</form>

<hr>
<h3 class="exers">II. Counrties</h3>

<p class="task">a) Listen and repeat. Pay attention to the nouns' endings:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p class="t1_di1"><span>Росс<span class="acco">и</span><i></i>я - из Росс<span class="acco">и</span><i></i>и</span><br />

					<span class="sound" onclick="playSound('soundb03021010.mp3')">[rass<span class="acct">i</span>ya - iz rass<span class="acct">i</span>i]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Russia - from Russia</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p class="t1_di1"><span>Великобрит<span class="acco">а</span>ния – из Великобрит<span class="acco">а</span>нии</span><br />

					<span class="sound" onclick="playSound('soundb03021020.mp3')">[vilikabrit<span class="acct">a</span>niya - iz vilikabrit<span class="acct">a</span>nii]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Great Britain - from Great Britain</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p class="t1_di1"><span>Австр<span class="acco">а</span>лия – из Австр<span class="acco">а</span>лии</span><br />

					<span class="sound" onclick="playSound('soundb03021030.mp3')">[afstr<span class="acct">a</span>liya - iz afstr<span class="acct">a</span>lii]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Australia - from Australia</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p class="t1_di1"><span>Фр<span class="acco">а</span>нция – из Фр<span class="acco">а</span>нции</span><br />

					<span class="sound" onclick="playSound('soundb03021040.mp3')">[fr<span class="acct">a</span>nts<span class="ry">i</span>ya - is fr<span class="acct">a</span>nts<span class="ry">i</span>i]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>France - from France</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p class="t1_di1"><span>Кан<span class="acco">а</span>да – из Кан<span class="acco">а</span>ды</span><br />

					<span class="sound" onclick="playSound('soundb03021050.mp3')">[kan<span class="acct">a</span>da - is kan<span class="acct">a</span>d<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Canada - from Canada</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p class="t1_di1"><span>США – из США</span><br />
					<span class="sound" onclick="playSound('soundb03021060.mp3')">[se she <span class="acct">a</span> - is se she <span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>the USA - from the USA</span>
			</td>
	</tr>
</table>


</div>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">Basic information about cases</span></h3>

<p>
In Russian, the form of nouns, adjectives, pronouns and numbers may change depending on their role in the sentence or for some other reasons. Such word form changes usually manifest themselves in the word's ending alteration. For example, we can see in the phrase above, that nouns forms given in the dictionary (on the right) and nouns following the preposition <span class="eg">из</span> <span class="egt">from</span> have different endings. At the same time, there are some nouns, including abbreviations (for example, <span class="eg">США</span> <span class="egt">USA</span>) do not change and always have the same form.</p>
<p>
Such changes of word forms are closely related to the concept of <dfn>cases</dfn> in Russian. A case is a set of word forms that is used to perform certain functions in a sentence or phrase. For example, nouns forms that are given in the dictionary usually play the role of the subject in a sentence. These forms are called <dfn>nominative case</dfn> forms. In other words, the nominative case is used to indicate the subject of the sentence. 
</p>
<p class="ital">For more info, see the page <a href="russian-cases.html">Russian Cases</a></p>

</div>


<p class="task">b) Listen to the Russian words and choose the right translation from the list:</p>
<div id="t1">

<script type="text/javascript">
var t1 = new Test({dict:[

['sounds/soundb03022010.mp3','Russia'],['sounds/soundb03022020.mp3','Great Britain'],['sounds/soundb03022030.mp3','Australia'],['sounds/soundb03022040.mp3','France'],['sounds/soundb03022050.mp3','Canada'],
['sounds/soundb03022060.mp3','The USA']

],hide:'di1',id:'t1',type: 'audio',how_questions: 6, how_show: 2});
</script>
</div>

<p class="task">с) Give a positive or a negative answer following the model and check yourself: </p>

<p class="ital">Model 1:</p>

<table class="tab1"  cellspacing="0" >
	<tr valign="top">
		<td width="350">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td width="180">
		 					<p>Вы из Кан<span class="acco">а</span>ды? (Canada)<br />

		 						<span class="sound" onclick="playSound('soundb03023001.mp3')">[v<span class="acct"><span class="ry">i</span></span> is kan<span class="acct">a</span>d<span class="ry">i</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
                        <td width="20"><p>-</p>
                        </td>

		 				<td width="140">
		 					<p>Да, я из Кан<span class="acco">а</span>ды.<br />
		 						<span class="sound" onclick="playSound('soundb03023002.mp3')">[d<span class="acct">a</span>, y<span class="acct">a</span> is kanad<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Are you from Canada? (Canada) - Yes, I am from Canada.</p>
		</td>
	</tr>

</table>

<p class="ital">Model 2:</p>

<table class="tab1"  cellspacing="0" >
	<tr valign="top">
		<td width="350">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td width="150">
		 					<p>Вы из СШ<span class="acco">А</span>? (Canada)<br />

		 						<span class="sound" onclick="playSound('soundb03023003.mp3')">[v<span class="acct"><span class="ry">i</span></span> is se she <span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
                        <td width="20"><p>-</p>
                        </td>

		 				<td width="140">
		 					<p>Нет, я из Кан<span class="acco">а</span>ды.<br />
		 						<span class="sound" onclick="playSound('soundb03023004.mp3')">[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t, y<span class="acct">a</span> is kan<span class="acct">a</span>d<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Are you from the USA? (Canada) - No, I am from Canada.</p>
		</td>
	</tr>

</table>

<p class="ital" style="margin-bottom: 20px;">Questions:</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы из Росс<span class="acco">и</span><i></i>и?  (Russia) -  ...  <br />
					<span class="sound" onclick="playSound('soundb03023011.mp3')">[v<span class="acct"><span class="ry">i</span></span> iz ras<span class="acct">i</span>i?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03023012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы из СШ<span class="acco">А</span>?  (USA) -  ...  <br />
					<span class="sound" onclick="playSound('soundb03023021.mp3')">[v<span class="acct"><span class="ry">i</span></span> is se she <span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03023022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы из Великобрит<span class="acco">а</span>нии?  (Australia) -  ...  <br />
					<span class="sound" onclick="playSound('soundb03023031.mp3')">[v<span class="acct"><span class="ry">i</span></span> iz vilikabrit<span class="acct">a</span>nii?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03023032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы из Австр<span class="acco">а</span>лии?  (Canada) -  ...  <br />
					<span class="sound" onclick="playSound('soundb03023041.mp3')">[v<span class="acct"><span class="ry">i</span></span> iz afstr<span class="acct">a</span>lii?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03023042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы из Фр<span class="acco">а</span>нции?  (France) -  ...  <br />
					<span class="sound" onclick="playSound('soundb03023051.mp3')">[v<span class="acct"><span class="ry">i</span></span> is fr<span class="acct">a</span>nts<span class="ry">i</span>i?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03023052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>


<hr>

<h3 class="exers">III. Nationalities</h3>

<p class="task">a) Listen and repeat. Pay attention to the nouns endings:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="190">
				<p class="t2_di2">брит<span class="acco">а</span>нец / брит<span class="acco">а</span>нка<br />

					<span class="sound" onclick="playSound('soundb03031010.mp3')">[brit<span class="acct">a</span>nits - brit<span class="acct">a</span>nka]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Briton (male) / Briton (female)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="190">
				<p class="t2_di2">р<span class="acco">у</span>сский / р<span class="acco">у</span>сская</span><br />
					<span class="sound" onclick="playSound('soundb03031020.mp3')">[r<span class="acct">oo</span>skiy - r<span class="acct">oo</span>skaya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Russian (male) / Russian (female) </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="190">
				<p class="t2_di2">француз / француженка<br />

					<span class="sound" onclick="playSound('soundb03031030.mp3')">[frants<span class="acct">oo</span>s - frants<span class="acct">oo</span>j<span class="ry">i</span>nka]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>French (male) / French (female)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="190">
				<p class="t2_di2">кан<span class="acco">а</span>дец / кан<span class="acco">а</span>дка<br />

					<span class="sound" onclick="playSound('soundb03031040.mp3')">[kan<span class="acct">a</span>dits - kan<span class="acct">a</span>tka]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Canadian (male) / Canadian (female)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="190">
				<p class="t2_di2">австрал<span class="acco">и</span><i></i>ец / австрал<span class="acco">и</span>йка<br />

					<span class="sound" onclick="playSound('soundb03031050.mp3')">[afstral<span class="acct">i</span>its - afstral<span class="acct">i</span>yka]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Australian (male) / Australian (female)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="190">
				<p class="t2_di2">америк<span class="acco">а</span>нец / америк<span class="acco">а</span>нка<br />

					<span class="sound" onclick="playSound('soundb03031060.mp3')">[amirik<span class="acct">a</span>nits - amirik<span class="acct">a</span>nka]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>American (male) / American (female)</span>
			</td>
	</tr>
</table>
</div>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">Basic info about grammatical gender</span></h3>
<p>
All Russian nouns have gender, masculine, feminine or neuter, without regard what they mean, a person or an object. In the majority of instances, you can determine the grammatical gender of a noun based on its ending of the dictionary form. Thus, feminine nouns usually end in а/я, masculine nouns usually end in a hard consonant or й, neuter nouns usually end in о or е.
</p>

</div>

<p class="task">b) Listen to the Russian words and choose the right translation from the list:</p>
<div id="t2">

<script type="text/javascript">
var t2 = new Test({dict:[

['русский','Russian (male)'],['русская','Russian (female)'],['британец','Briton (male)'],['британка','Briton (female)'],['француз','French (male)'],
['француженка','French (female)'], ['канадец','Canadian (male)'], ['канадка','Canadian (female)'], ['австралиец','Australian (male)'], ['австралийка','Australian (female)'], ['американец','American (male)'], ['американка','American (female)']

],hide:'di2',id:'t2',type: 'text',how_questions: 8, how_show: 2});
</script>
</div>

<p class="task">c) Translate into Russian and check yourself:</p>

<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>1. John is Americain.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03033010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>2. Christine is French.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb03033020.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>3. Oleg is Russian.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03033030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>4. Mary is Briton.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb03033040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>5. Sarah is Americain.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03033050.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>6. Paul is Canadian.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb03033060.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>7. Jeff is Australian.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03033070.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>8. Kelly is Canadian.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb03033080.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

</div>




<hr>

<h3 class="exers">IV. Personal pronouns </h3>

<p class="task">a) Learn the following Russian pronouns:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p>он<br />

					<span class="sound" onclick="playSound('soundb03041030.mp3')">[<span class="acct">o</span>n]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>he<span style="cursor: help;" onmouseover="tooltip(this,'See notes below')" onmouseout="hide_info(this)">*</span></span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p>он<span class="acco">а</span></span><br />
					<span class="sound" onclick="playSound('soundb03041040.mp3')">[an<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>she<span style="cursor: help;" onmouseover="tooltip(this,'See notes below')" onmouseout="hide_info(this)">*</span></span>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="60">
				<p>он<span class="acco">о</span><br />

					<span class="sound" onclick="playSound('soundb03041050.mp3')">[an<span class="acct">o</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>it</span>
			</td>
	</tr>

</table>
</div>

<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">Personal pronouns</span></h3>
<p>
Personal pronouns are words used in place of a noun or another pronoun to indicate the speaker (first person, in English the pronouns "I", "we"), the person or persons to whom one is speaking (second person, in English the pronoun "You"), and persons and objects spoken about (third person, in English the pronouns "he", "she", "it", "they").
</p>
<p>
You already know Russian first person personal pronouns <span class="eg">я</span> <span class="egt">I</span> and second person <span class="eg">ты</span> <span class="egt">you</span> (informal), <span class="eg">вы</span> (or <span class="eg">Вы</span>)<span class="egt">you</span> (plural or formal).
</p>
<p>
In singular, Russian third person pronouns <span class="eg">он</span> and <span class="eg">она</span> may refer not only to people, but also to animals and objects, depending on the grammatical gender of the nouns they are related to.
</p>

</div>

<p class="task">b) Paraphrase sentences below using Russian pronouns. See the model: 
</p>

<p class="ital">Model:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="350">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Л<span class="acco">и</span>нда из Кан<span class="acco">а</span>ды.<br />

		 						<span class="sound" onclick="playSound('soundb03042001.mp3')"> [l<span class="acct">i</span>nda is kan<span class="acct">a</span>d<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p><span class="acco">Э</span>то Линда. <u>Он<span class="acco">а</span></u> кан<span class="acco">а</span>дка.<br />

		 						<span class="sound" onclick="playSound('soundb03042002.mp3')">[<span class="acct">e</span>ta l<span class="acct">i</span>nda. an<span class="acct">a</span> kan<span class="acct">a</span>tka] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Linda is from Canada - This is Linda. She is Canadian</p>
		</td>
	</tr>

</table>

<p class="ital">Questions</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Серг<span class="acco">е</span>й из Росс<span class="acco">и</span><i></i>и - ... <br />

					<span class="sound" onclick="playSound('soundb03042011.mp3')">[sir<span class="sftv">g</span><span class="sfty">y</span><span class="acct">e</span>y iz ras<span class="acct">i</span>i] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03042012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Марк из Фр<span class="acco">а</span>нции - ... <br />

					<span class="sound" onclick="playSound('soundb03042021.mp3')">[m<span class="acct">a</span>rk is fr<span class="acct">a</span>nts<span class="ry">i</span>i] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03042022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Т<span class="acco">и</span>фани из СШ<span class="acco">А</span> - ... <br />

					<span class="sound" onclick="playSound('soundb03042031.mp3')">[t<span class="acct">i</span>fani is se she <span class="acct">a</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03042032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Джон из Австр<span class="acco">а</span>лии - ... <br />

					<span class="sound" onclick="playSound('soundb03042041.mp3')">[dj<span class="acct">o</span>n iz afstr<span class="acct">a</span>lii] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03042042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>К<span class="acct">э</span>трин из Кан<span class="acct">а</span>ды - ... <br />

					<span class="sound" onclick="playSound('soundb03042051.mp3')">[k<span class="acct">e</span>trin is kanad<span class="acct">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb03042052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>





<hr>
<h3 class="exers">V. Let me introduce myself </h3>
<p class="task">Listen to the phrases in Russian and choose the right translation.</p>


<form onsubmit="return check_test(this,3)">
<table class="tbtest" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Put the phrase<br />number  in the<br /> text area.</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="250" valign="top">
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051010.mp3')">Phrase 1</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r31"><input type="text" size="2"><span class="test-space">Hello, I am Peter.</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051020.mp3')">Phrase 2</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r32"><input type="text" size="2"><span class="test-space">She is from Canada.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051030.mp3')">Phrase 3</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r33"><input type="text" size="2"><span class="test-space">My name is Chris.</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051040.mp3')">Phrase 4</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r34"><input type="text" size="2"><span class="test-space">He is from France.</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051050.mp3')">Phrase 5</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r35"><input type="text" size="2"><span class="test-space">I am from Australia.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051060.mp3')">Phrase 6</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r36"><input type="text" size="2"><span class="test-space">John is Americain.</span>
		</td>
	</tr>
	<tr>

		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051070.mp3')">Phrase 7</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r37"><input type="text" size="2"><span class="test-space">Are you from Russia?</span>

		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb03051080.mp3')">Phrase 8</div>
				</div>

			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r38"><input type="text" size="2"><span class="test-space">This is Helen.</span>
		</td>
	</tr>
 </table>
<div style="margin: 15px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>

</form>
<hr>


</div></div>





<script type="text/javascript">
currentSection="course";
</script>
