<% @page_title = 'Russian Beginner Lessons Online: Lesson 5' %>
<% @page_meta = {'description' => "Online Russian lesson for beginners: Language Skills "} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= stylesheet_link_tag 'test-style' %>

<%= javascript_include_tag 'test' %>
<%= javascript_include_tag 'test-text' %>
<%= javascript_include_tag 'exercises' %>
<%= stylesheet_link_tag 'test-style' %>
<%= stylesheet_link_tag 'exercises' %>


<style type="text/css">


.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 100px;
}

.testing7 td {
padding: 4px;
}

#test1 td, #test2 td {
padding:8px;
}

.yn-quest td {
padding: 5px;
}


</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/language-skills.html">Topic: Language skills</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %>
  </div>
</div>
</div>




<h2 class="page">Lesson 5</h2>
<div id="pagecontent"><div id="content">


<p>
In this lesson, you will find Russian expressions used to tell about your knowledge of a language you will learn: 
</p>

<ul>
	<li>How to conjugate Russian regular verbs</li>
	<li>Negatiation in Russian</li>
</ul>


<hr>
<h3 class="exers">I. Meet new people </h3>

<p class="task">Listen and answer the question:</p>

<script type="text/javascript">
T['1']=['2','1','2'];
T['2']=['1','1','2']; 
T['3']=['4','1','6', '5','3','2']; 
T['4']=['1','1','1','1','1','1'];
T['5']=['4', '3', '7', '8', '2', '6', '1', '5' ]; // For Test#1
</script>


<div id="test1">
<script type="text/javascript">

</script>
</div>


<div class="player_swf"><span style="visibility: hidden">sounds/soundb05011010.mp3</span></div>
<form onsubmit="return check_test(this,1)">
<p><em>Questions: </em></p>
<table class="yn-quest" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="230"><img src="pixel.gif" width="10" height="10" id="r11"> 1. Her name is Ann.
		</td>
		<td width="60"><input type="radio" name="q11"><i>True</i>
		</td>
		<td width="60"><input type="radio" name="q11"><i>False</i>
		</td>
	</tr>
	<tr>
		<td><img src="pixel.gif" width="10" height="10" id="r12"> 2. She is from Russia.
		</td>
		<td><input type="radio" name="q12"><i>True</i>
		</td>
		<td><input type="radio" name="q12"><i>False</i>
		</td>
	</tr>
	<tr>
		<td><img src="pixel.gif" width="10" height="10" id="r13"> 3. She speaks French.
		</td>
		<td><input type="radio" name="q13"><i>True</i>
		</td>
		<td><input type="radio" name="q13"><i>False</i>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center"><br/>
			<input type="submit" value="Check yourself">
		</td>
	</tr>
</table>
</form>

<br/>
<div class="player_swf"><span style="visibility: hidden">sounds/soundb05011020.mp3</span></div>
<form onsubmit="return check_test(this,2)">
<p><em>Questions: </em></p>
<table class="yn-quest" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="270"><img src="pixel.gif" width="10" height="10" id="r21"> 1. He is from Australia.
		</td>
		<td width="60"><input type="radio" name="q21"><i>True</i>
		</td>
		<td width="60"><input type="radio" name="q21"><i>False</i>
		</td>
	</tr>
	<tr>
		<td><img src="pixel.gif" width="10" height="10" id="r22"> 2. Hi is a student.
		</td>
		<td><input type="radio" name="q22"><i>True</i>
		</td>
		<td><input type="radio" name="q22"><i>False</i>
		</td>
	</tr>
	<tr>
		<td><img src="pixel.gif" width="10" height="10" id="r23"> 3. He speaks Russian and French.
		</td>
		<td><input type="radio" name="q23"><i>True</i>
		</td>
		<td><input type="radio" name="q23"><i>False</i>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center"><br/>
			<input type="submit" value="Check yourself">
		</td>
	</tr>
</table>
</form>

<br/>



<hr>
<h3 class="exers">II. Do you speak Russian?</h3>

<p class="task">a) Listen and repeat the following phrases. Pay attention to the verbs endingds<span onmouseout="hide_info(this)" onmouseover="tooltip(this,'See notes below')" style="cursor: help;">*</span>:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>Я говор<span class="acco">ю</span> по-р<span class="acco">у</span>сски.</span><br />

					<span class="sound" onclick="playSound('soundb05021010.mp3')">[y<span class="acct">a</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span> par<span class="acct">oo</span>sski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>I speak Russian</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>Ты говор<span class="acco">и</span>шь по-р<span class="acco">у</span>сски.</span><br />

					<span class="sound" onclick="playSound('soundb05021020.mp3')">[t<span class="acct"><span class="ry">i</span></span> gavar<span class="acct">i</span>sh par<span class="acct">oo</span>sski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>You speak Russian</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>Он говор<span class="acco">ю</span> по-р<span class="acco">у</span>сски.</span><br />

					<span class="sound" onclick="playSound('soundb05021030.mp3')">[<span class="acct">o</span>n gavar<span class="acct">i</span>t par<span class="acct">oo</span>sski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>He speaks Russian</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>Мы говор<span class="acco">и</span>м по-р<span class="acco">у</span>сски.</span><br />

					<span class="sound" onclick="playSound('soundb05021040.mp3')">[m<span class="acct"><span class="ry">i</span></span> gavar<span class="acct">i</span>m par<span class="acct">oo</span>sski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>We speak Russian</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>Вы говор<span class="acco">и</span>те по-р<span class="acco">у</span>сски.</span><br />

					<span class="sound" onclick="playSound('soundb05021050.mp3')">[v<span class="acct"><span class="ry">i</span></span> gavar<span class="acct">i</span>ti par<span class="acct">oo</span>sski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>You speak Russian</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>Они говор<span class="acco">я</span>т по-р<span class="acco">у</span>сски.</span><br />

					<span class="sound" onclick="playSound('soundb05021060.mp3')">[an<span class="acct">i</span> gava<span class="sftv">r</span><span class="sfty">y</span><span class="acct">a</span>t par<span class="acct">oo</span>sski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>They speak Russian</span>
			</td>
	</tr>
</table>


</div>


<div class="lesson-notes">

<h3 class="note">Notes: <span class="in-notes">Russian verbs conjugation</span></h3>
<p>
Russian verbs conjugate, i.e. they change their forms according to the person and number of the subject in the sentence. In general, they change their endings, but some other changes are also possible. The very first thing you should know about Russian verbs is that there are two patterns of verbs endings, called the first conjugation and the second conjugation.
</p>
<p>
The first conjugation includes verbs that have endings -еть and -ать in the infinitive. The present tense forms of these verbs (except the first person singular and the third person plural) usually have the letter "e" (sometimes ё) in the ending. For example, take a look of the present tense conjugation for the verb понимать understand:
</p>
<p>
Я понима<u>ю</u>  <br> 
Ты понима<u>ешь</u><br>
Он понима<u>ет</u><br>
Мы понима<u>ем</u><br>
Вы понима<u>ете</u><br>
Они понима<u>ют</u>
</p>
<p>
The majority of verbs of the second conjugation includes  have endings -ить in the infinitive. The present tense forms of these verbs (except the first person singular and the third person plural) usually have the letter "и" in the ending. Take a look of the present tense conjugation for the verb говорить to speak:
</p>
<p>
Я говор<u>ю</u> <br>
Ты говор<u>ишь</u> <br>
Он говор<u>ит</u><br>
Мы говор<u>им</u> <br>
Вы говор<u>ите</u><br>
Они говор<u>ят</u><br>
</p>

</div>

<p class="task">b) Associate personal pronouns and verb froms:</p>

<form onsubmit="return check_test(this,3)">
<table cellspacing="0" cellpadding="3" align="center">
	<tr>

		<td>&nbsp;
		</td>

		<td><i>Put the phrase number  <br /> in the text area</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="140"  valign=top>

		1. Я 
		</td>

		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r31"><input type="text" size=1><span class="test-space">поним<span class="acco">а</span><i></i>ем</span>

		</td>
	</tr>
	<tr>
		<td>
		2. Ты
		</td>

		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r32"><input type="text" size=1><span class="test-space">говор<span class="acco">ю</span></span>

		</td>
	</tr>

	<tr>
		<td>
		3. Он
		</td>
		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r33"><input type="text" size=1><span class="test-space">поним<span class="acco">а</span><i></i>ют</span>

		</td>

	</tr>
	<tr>
		<td>
		4. Мы
		</td>
		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r34"><input type="text" size=1><span class="test-space">говор<span class="acco">и</span>те</span>
		</td>

	</tr>
	<tr>

		<td>
		5. Вы
		</td>
		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r35"><input type="text" size=1><span class="test-space">поним<span class="acco">а</span><i></i>ет</span>
		</td>
	</tr>

	<tr>
		<td>
		6. Они
		</td>

		<td style="padding: 3px;"><img src="pixel.gif" width="10" height="10" id="r36"><input type="text" size=1><span class="test-space">говор<span class="acco">и</span>шь</span>
		</td>
	</tr>
	<tr>

		<td align="center" colspan="2" style="padding-top: 20px;">
		<input type="submit" value="Check">
		</td>

	</tr>

 </table>
</form>


<p class="task">с) Conjugate (orally) the following Russian verbs and check yourself: </p>


<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p>чит<u><span class="acco">а</span>ть</u> (I conjugation)  <br />
					<span class="sound" onclick="playSound('soundb05023011.mp3')">[chit<span class="acct">a</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05023012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="250">
				<p>звон<u>ить</u> (II conjugation)  <br />
					<span class="sound" onclick="playSound('soundb05023021.mp3')">[zvan<span class="acct">i</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05023022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>





<h3 class="exers">III. Do you speak Russian?</h3>

<p class="task">a) Listen and repeat after the speaker:</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>говор<span class="acco">и</span>ть</span><br />

					<span class="sound" onclick="playSound('soundb05031010.mp3')">[gavar<span class="acct">i</span><span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>to speak</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>поним<span class="acco">а</span>ть</span><br />

					<span class="sound" onclick="playSound('soundb05031020.mp3')">[panim<span class="acct">a</span><span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>to understand</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>по-р<span class="acco">у</span>сски</span><br />

					<span class="sound" onclick="playSound('soundb05031030.mp3')">[par<span class="acct">oo</span>ski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>in Russian</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>по-англ<span class="acco">и</span>йски</span><br />

					<span class="sound" onclick="playSound('soundb05031040.mp3')">[paangl<span class="acct">i</span>yski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>in English</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>по-франц<span class="acco">у</span>зски</span><br />

					<span class="sound" onclick="playSound('soundb05031050.mp3')">[pafrants<span class="acco">oo</span>ski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>in French</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>по-нем<span class="acco">е</span>цки</span><br />
					<span class="sound" onclick="playSound('soundb05031060.mp3')">[pani<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>tski]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>in German</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>хорош<span class="acco">о</span></span><br />
					<span class="sound" onclick="playSound('soundb05031070.mp3')">[harash<span class="acct">o</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>well</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>пл<span class="acco">о</span>хо</span><br />
					<span class="sound" onclick="playSound('soundb05031080.mp3')">[pl<span class="acct">o</span>ha]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>badly</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>немн<span class="acco">о</span>го</span><br />
					<span class="sound" onclick="playSound('soundb05031090.mp3')">[nimn<span class="acct">o</span>ga]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>a little</span>
			</td>
	</tr>
</table>

</div>




<p class="task">b) Listen to the Russian words and choose the right translation from the list:</p>
<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict:[

['sounds/soundb05031010.mp3','to speak'],['sounds/soundb05031020.mp3','to understand'],['sounds/soundb05031030.mp3','in Russian'],['sounds/soundb05031040.mp3','in English'],['sounds/soundb05031050.mp3','in French'],
['sounds/soundb05031060.mp3','in German'], ['sounds/soundb05031070.mp3','well'], ['sounds/soundb05031080.mp3','badly'], ['sounds/soundb05031090.mp3','a little']

],hide:'di1',id:'t1',type: 'audio',how_questions: 7, how_show: 2});
</script>
</div>

<hr>

<p class="task">b) Translate into Russian and check yourself:</p>



<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>1. I speak Russian.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05033010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>2. He understands English.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb05033020.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>3. Steve and John speak Russian.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05033030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>4. Do you speak French? (informal)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb05033040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>5. We understand Russian.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05033050.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>6. Mary speaks English.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playSound('soundb05033060.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

</div>




<hr>

<h3 class="exers">IV. Negation in Russian </h3>


<div class="lesson-notes">
<h3 class="note">Notes: <span class="in-notes">Negation</span></h3>

<p>
Russian negative sentences are built with the negative particle <span class="eg">не</span> which is placed before the verb. Look at the following examples:

</p>
<p>
Я <u>не</u> говорю по-русски. - I do not speak Russian.
</p>
<p>
Она <u>не</u> понимает по-английски. - She does not understand English.
</p>
</div>


<p class="task">Answer the questions following the model: 
</p>

<p class="ital">Model:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="420">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Вы говор<span class="acco">и</span>те по-р<span class="acco">у</span>сски? (we) <br />

		 						<span class="sound" onclick="playSound('soundb05041001.mp3')"> [v<span class="acct"><span class="ry">i</span></span> gavar<span class="acct">i</span>ti par<span class="acct">oo</span>ski?] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td width="230">
		 					<p>Нет, мы не говор<span class="acco">и</span>м по-р<span class="acco">у</span>сски.<br />

		 						<span class="sound" onclick="playSound('soundb05041002.mp3')">[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t, m<span class="acct"><span class="ry">i</span></span> ni gavar<span class="acct">i</span>m par<span class="acct">oo</span>ski] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Do you speak Russian? - No, we do not (speak Russian).</p>
		</td>
	</tr>

</table>

<p class="ital">Questions</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Л<span class="acco">и</span>нда говор<span class="acco">и</span>т по-франц<span class="acco">у</span>зски? (she) - ...<br />

					<span class="sound" onclick="playSound('soundb05041011.mp3')">[l<span class="acct">i</span>nda gavar<span class="acct">i</span>t pafrants<span class="acct">oo</span>ski?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05041012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Вы говор<span class="acco">и</span>те по-р<span class="acco">у</span>сски? (I) - ...<br />

					<span class="sound" onclick="playSound('soundb05041021.mp3')">[v<span class="acct"><span class="ry">i</span></span> gavar<span class="acct">i</span>ti par<span class="acct">oo</span>ski?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05041022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Он говор<span class="acco">и</span>т по-англ<span class="acco">и</span>йски? (he) - ...<br />

					<span class="sound" onclick="playSound('soundb05041031.mp3')">[<span class="acct">o</span>n gavar<span class="acct">i</span>t paangl<span class="acct">i</span>yski?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05041032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Окс<span class="acco">а</span>на говор<span class="acco">и</span>т по-англ<span class="acco">и</span>йски? (she) - ...<br />

					<span class="sound" onclick="playSound('soundb05041041.mp3')">[aks<span class="acct">a</span>na gavar<span class="acct">i</span>t paangl<span class="acct">i</span>yski?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05041042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="290">
				<p>Ты говор<span class="acco">и</span>шь по-нем<span class="acco">е</span>цки? (I) - ...<br />

					<span class="sound" onclick="playSound('soundb05041051.mp3')">[t<span class="acct"><span class="ry">i</span></span> gavar<span class="acct">i</span>sh pani<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>tski?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>

				<div class="key check">
					<div>
						<div class="sound"  onclick="playSound('soundb05041052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>





<hr>
<h3 class="exers">V. Language skills </h3>

<p class="task">Listen to the phrases in Russian and choose the right translation.</p>


<form onsubmit="return check_test(this,5)">
<table class="tbtest" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Put the phrase<br />number  in the<br /> text area.</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="250" valign="top">
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051010.mp3')">Phrase 1</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r51"><input type="text" size="2"><span class="test-space">Tom understands Russian well.</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051020.mp3')">Phrase 2</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r52"><input type="text" size="2"><span class="test-space">You do not understand English.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051030.mp3')">Phrase 3</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r53"><input type="text" size="2"><span class="test-space">Catherine understans French a little.</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051040.mp3')">Phrase 4</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r54"><input type="text" size="2"><span class="test-space">You do not speak Russian.</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051050.mp3')">Phrase 5</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r55"><input type="text" size="2"><span class="test-space">She speaks Russian well.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051060.mp3')">Phrase 6</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r56"><input type="text" size="2"><span class="test-space">We do not speak Russian.</span>
		</td>
	</tr>
	<tr>

		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051070.mp3')">Phrase 7</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r57"><input type="text" size="2"><span class="test-space">Paul speaks French.</span>

		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb05051080.mp3')">Phrase 8</div>
				</div>

			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r58"><input type="text" size="2"><span class="test-space">I speak German a little.</span>
		</td>
	</tr>
 </table>
<div style="margin: 20px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>

</form>





<hr>





</div></div>





<script type="text/javascript">
currentSection="course";
</script>
