<% 
if (logged_in? && current_user.payment) 
	@good_user = true
else
	@good_user = false
end
%>

<% @page_title = 'Lesson 6 :: Russian Online Lessons' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<%= javascript_include_tag 'dialog-player' %>
<%= stylesheet_link_tag 'dialog_player' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
</script>


<% end %>

<div id="pagecontent"><div id="content">
<div class="unit-area">


<div id="prof_tabs">
<%= render :partial => '/site/every/settings_block' %>

<div class="unit-title">
Lesson 6
</div>

<%= render :partial => '/site/every/en_ru_coverflow', :locals => {:active => 6} %>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Dialogue</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Vocabulary</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Practice</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Revision</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Dialogues</h3>
<p class="su-step-info">
Here you can work with dialogues of the lesson
</p>	
	

<h4 class="su-task" >
I. Shopping
</h4>

<p class="part-task">a) Listen to the dialogues and read the translation</p>


<%= render :partial => '/site/every/dialog_player', 
			:locals => {:cluster_id => 107, :html_id=>"dc1",
						:d_title=>'Dialogue 6-1. Buying a suit',
:content=> "A tourist is looking for a grey suit. He is asking the shop assistant for help. The shop assistant finds a good suit and the tourist tries it on. The suit fits well, and its price is rather good - they sell it with a discount. The tourist is going to take it. "
			} %>	

				<script type="text/javascript"> 
					var  dc1 = new dialog_controls( {
					id: "dc1", 
					file: "/audios/audio06011100.mp3",
					tracks: [0,1698,4389,6557,10893,12600,14850,16065,19931]
				
					} )
				</script>		
	
<br><br><br>

<%= render :partial => '/site/every/dialog_player', 
			:locals => {:cluster_id => 108, :html_id=>"dc2",
						:d_title=>'Dialogue 6-2. Buying souvenirs',
:content=> "A tourist looks for post cards with views of the town. The shop assistant finds and shows some post cards to the tourist. The tourists also liked a souvenir. He decided to take this souvenir and 10 post cards. "
			} %>	

				<script type="text/javascript"> 
					var  dc2 = new dialog_controls( {
					id: "dc2", 
					file: "/audios/audio06011200.mp3",
					tracks: [0,1384,2926,5251,11598,15282,16536,19644,21290,25731,29074,32993]
				
					} )
				</script>		
	
<br>
<p class="part-task">b) Listen and repeat the dialogues phrase by phrase</p>


<h4 class="su-task">
II. Useful phrases
</h4>
<p class="part-task">a) Find the translation of Russian phrases</p>

<div id="ds1" class="ds-wrapper" style="padding: 15px; margin: 20px 30px;">

<p class="ex-desc">
Listen to the phrases. Drag the English phrases from the list below <br>and drop them into the corresponding fields.
</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="350">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013010.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013020.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013030.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013040.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013050.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013060.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013070.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 8
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013080.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 9
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013090.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 10
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013100.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 11
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013110.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 12
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio06013120.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" style="margin: 0 auto;" align="center">
<col width="200">
<col width="250">

<tr valign="top">
<td>
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>It makes 340 roubles.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">11</span>I like it.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">8</span>We sell it with a discount.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">12</span>I'll take this souvenir.</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Can I help you?</div></div>
	</li>

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Thanks for your purchase!</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">10</span>I'm looking for a grey suit.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Your change is 60 roubles.</div></div>
	</li>
</ul>

</td>
</tr>
<tr valign="top">
<td colspan="2">
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Could you please help me?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>There are post cards with views of the town.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Have you got post cards with views of the town?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">9</span>Could you please show this souvenir as well?</div></div>
	</li>
</ul>
</td>
</tr>
</table>


</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Check answers">

</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		test_id: "c0106013.I.c)",
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next part >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Vocabulary</h3>
<p class="su-step-info">
Here you can learn words and expressions of the lesson.
</p>	

<h4 class="su-task">
I. I'm looking for a grey suit.
</h4>
<p class="part-task">a) Learn Russian words: </p>

<%
 @voc1 = [
{:text=>'св<span class="acco">и</span>тер',
:id=> '420',
:sound=>'/audios/audio06021010.mp3',
:transcribe=>'sv<span class="acct">i</span>ter',
:translate=>' sweater '},
{:text=>'к<span class="acco">у</span>ртка',
:id=> '416',
:sound=>'/audios/audio06021020.mp3',
:transcribe=>'k<span class="acct">oo</span>rtka',
:translate=>' jacket '},
{:text=>'бр<span class="acco">ю</span>ки',
:id=> '436',
:sound=>'/audios/audio06021030.mp3',
:transcribe=>'b<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span>ki',
:translate=>' trousers '},
{:text=>'т<span class="acco">у</span>фли',
:id=> '475',
:sound=>'/audios/audio06021040.mp3',
:transcribe=>'t<span class="acct">oo</span>fli',
:translate=>' shoes '},
{:text=>'<span class="acco">ю</span>бка',
:id=> '431',
:sound=>'/audios/audio06021050.mp3',
:transcribe=>'y<span class="acct">oo</span>pka',
:translate=>' skirt '},
{:text=>'пл<span class="acco">а</span>тье',
:id=> '425',
:sound=>'/audios/audio06021060.mp3',
:transcribe=>'pl<span class="acct">a</span><span class="sftc">t</span>ye',
:translate=>' dress '},
{:text=>'футб<span class="acco">о</span>лка',
:id=> '423',
:sound=>'/audios/audio06021070.mp3',
:transcribe=>'foodb<span class="acct">o</span>lka',
:translate=>' T-shirt '},
{:text=>'ш<span class="acco">о</span>рты',
:id=> '426',
:sound=>'/audios/audio06021080.mp3',
:transcribe=>'sh<span class="acct">o</span>rt<span class="ry">i</span>',
:translate=>' shorts '},
{:text=>'кост<span class="acco">ю</span>м',
:id=> '446',
:sound=>'/audios/audio06021090.mp3',
:transcribe=>'kas<span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m',
:translate=>' suit '},
{:text=>'ш<span class="acco">а</span>пка',
:id=> '445',
:sound=>'/audios/audio06021100.mp3',
:transcribe=>'sh<span class="acct">a</span>pka',
:translate=>' cap '},
{:text=>'бейсб<span class="acco">о</span>лка',
:id=> '437',
:sound=>'/audios/audio06021110.mp3',
:transcribe=>'biyzb<span class="acct">o</span>lka',
:translate=>' baseball cap '},
{:text=>'руб<span class="acco">а</span>шка',
:id=> '417',
:sound=>'/audios/audio06021120.mp3',
:transcribe=>'roob<span class="acct">a</span>shka',
:translate=>' shirt '}
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc1} %>	
	
<br><br>

<p class="part-task">b) Translate phrases from English into Russian </p>

<div class="su-exerc">

<%
 @phrases = [
{:q_text=>'Excuse me, please, how much does the sweater cost? ',
:sound=>'/audios/audio06022010.mp3'},
{:q_text=>'Do you have shoes? ',
:sound=>'/audios/audio06022020.mp3'},
{:q_text=>'The shirt costs 800 rubles. ',
:sound=>'/audios/audio06022030.mp3'},
{:q_text=>'How much does the jacket cost? ',
:sound=>'/audios/audio06022040.mp3'},
{:q_text=>'Is it a skirt? ',
:sound=>'/audios/audio06022050.mp3'},
{:q_text=>'The cap costs 500 rubles. ',
:sound=>'/audios/audio06022060.mp3'},
{:q_text=>'Do you have shorts? ',
:sound=>'/audios/audio06022070.mp3'},
{:q_text=>'How much does the dress cost? ',
:sound=>'/audios/audio06022080.mp3'},
{:q_text=>'Is it a baseball cap? ',
:sound=>'/audios/audio06022090.mp3'},
{:q_text=>'Excuse me, how much does the T-shirt cost? ',
:sound=>'/audios/audio06022100.mp3'}
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>	
</div>

<br><br>

<h4 class="su-task">
II. Have you got post cards?
</h4>

<p class="part-task">a) Learn Russian words: </p>

<%
 @voc2 = [
 
{:text=>'брел<span class="acco">о</span>к',
:sound=>'/audios/audio06031010.mp3',
:transcribe=>'bril<span class="acct">o</span>k',
:translate=>' trinket '},
{:text=>'игр<span class="acco">у</span>шка',
:sound=>'/audios/audio06031020.mp3',
:transcribe=>'igr<span class="acct">oo</span>shka',
:translate=>' toy '},
{:text=>'откр<span class="acco">ы</span>тка',
:sound=>'/audios/audio06031030.mp3',
:transcribe=>'atkr<span class="acct"><span class="ry">i</span></span>tka',
:translate=>' post card '},
{:text=>'сувен<span class="acco">и</span>р',
:sound=>'/audios/audio06031040.mp3',
:transcribe=>'soovin<span class="acct">i</span>r',
:translate=>' souvenir '},
{:text=>'с<span class="acco">у</span>мка',
:sound=>'/audios/audio06031050.mp3',
:transcribe=>'s<span class="acct">oo</span>mka',
:translate=>' bag '},
{:text=>'фиг<span class="acco">у</span>рка',
:sound=>'/audios/audio06031060.mp3',
:transcribe=>'fig<span class="acct">oo</span>rka',
:translate=>' figurine '},
{:text=>'карт<span class="acct">и</span>на',
:sound=>'/audios/audio06031070.mp3',
:transcribe=>'kart<span class="acct">i</span>na',
:translate=>' picture '}
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc2} %>	
	
<br><br>

<p class="part-task">b) Listen and repeat the examples:: </p>

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Revising words мой and ваш</div>
	<div class="com-content">
<p>
Depending on the grammatical gender and the number of the following noun, the words <span style="font-weight: normal;">мой</span> (my) and <span style="font-weight: normal;">Ваш</span> (your) may change:
</p>

<p>
- "мой" [m<span class="acct">o</span>y] and "Ваш" [v<span class="acct">a</span>sh] for masculine<br/>

- "мо<i></i><span class="acco">я</span>" [may<span class="acct">a</span>] and "В<span class="acco">а</span>ша" [v<span class="acct">a</span>sha] for faminine <br/>
- "моё" [may<span class="acct">o</span>] and "В<span class="acco">а</span>ше" [v<span class="acct">a</span>she] for neuter<br/>

- "мо<i></i><span class="acco">и</span>" [ma<span class="acct">i</span>] and "В<span class="acco">а</span>ши" [v<span class="acct">a</span>sh<span class="ry">i</span>] for plural
</p>

	</div>
</div>


<%

 @voc_train = [
 
{:text1=>'<span class="acco">Э</span>то Ваш календ<span class="acco">а</span>рь?',
:sound1=>'/audios/audio06032011.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh kalind<span class="acct">a</span><span class="sftc">r</span>?',
:text2=>'Да, <span class="acco">э</span>то мой календ<span class="acco">а</span>рь.',
:sound2=>'/audios/audio06032012.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta m<span class="acct">o</span>y kalind<span class="acct">a</span><span class="sftc">r</span>',
:translate=>'Is this your calendar? - Yes, this is my calendar.'},
 
{:text1=>'<span class="acco">Э</span>то В<span class="acco">а</span>ша стату<i></i><span class="acco">э</span>тка?',
:sound1=>'/audios/audio06032021.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sha statoo<span class="acct">e</span>tka?',
:text2=>'Да, <span class="acco">э</span>то мо<i></i><span class="acco">я</span> стату<i></i><span class="acco">э</span>тка.',
:sound2=>'/audios/audio06032022.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">a</span> statoo<span class="acct">e</span>tka',
:translate=>'Is this your statuette? - Yes, this is my statuette.'},
 
{:text1=>'<span class="acco">Э</span>то В<span class="acco">а</span>ше ф<span class="acco">о</span>то?',
:sound1=>'/audios/audio06032031.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>she f<span class="acct">o</span>ta?',
:text2=>'Да, <span class="acco">э</span>то моё ф<span class="acco">о</span>то.',
:sound2=>'/audios/audio06032032.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">o</span> f<span class="acct">o</span>ta',
:translate=>'Is this your photo? - Yes, this is my photo.'},
 
{:text1=>'<span class="acco">Э</span>то В<span class="acco">а</span>ши карт<span class="acco">и</span>ны?',
:sound1=>'/audios/audio06032041.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh<span class="ry">i</span> kart<span class="acct">i</span>n<span class="ry">i</span>?',
:text2=>'Да, <span class="acco">э</span>то м<span class="acco">о</span><i></i>и карт<span class="acco">и</span>ны.',
:sound2=>'/audios/audio06032042.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta ma<span class="acct">i</span> kart<span class="acct">i</span>n<span class="ry">i</span>',
:translate=>'Are these your pictures? - Yes, these are my pitures.'}

 ]
%>

<%= render :partial => '/site/every/en_ru_voc_train2', :locals => {:voc => @voc_train} %>

<br><br>


<p class="part-task">c) Give a positive answer to the questions: </p>

<div class="su-exerc">
<%
 @phrases = [
{:q_text=>'<span class="acco">Э</span>то В<span class="acco">а</span>ша игр<span class="acco">у</span>шка?',
:q_sound=>'/audios/audio06033011.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sha igr<span class="acct">oo</span>shka? ',
:sound=>'/audios/audio06033012.mp3'},
{:q_text=>'<span class="acco">Э</span>то Ваш сувен<span class="acco">и</span>р? ',
:q_sound=>'/audios/audio06033021.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh soovin<span class="acct">i</span>r? ',
:sound=>'/audios/audio06033022.mp3'},
{:q_text=>'<span class="acco">Э</span>то В<span class="acco">а</span>ши с<span class="acco">у</span>мки? ',
:q_sound=>'/audios/audio06033031.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh<span class="ry">i</span> s<span class="acct">oo</span>mki ',
:sound=>'/audios/audio06033032.mp3'},
{:q_text=>'<span class="acco">Э</span>то Ваш брел<span class="acco">о</span>к? ',
:q_sound=>'/audios/audio06033041.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh bril<span class="acct">o</span>k? ',
:sound=>'/audios/audio06033042.mp3'},
{:q_text=>'<span class="acco">Э</span>то В<span class="acco">а</span>ши откр<span class="acco">ы</span>тки? ',
:q_sound=>'/audios/audio06033051.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh<span class="ry">i</span> atkr<span class="acct"><span class="ry">i</span></span>tki? ',
:sound=>'/audios/audio06033052.mp3'}
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_quest', :locals => {:phrases => @phrases} %>	

</div>
<br><br>

<h4 class="su-task">
III. Goods
</h4>

<p class="part-task">a) Listen and find the corresponding English word:  </p>

<% @voc1 = @voc1 | @voc2 %>


<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c0106022.II.b)",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@voc1.length)-1 -%>
<% @voc1.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:translate].to_s.gsub(/"/,'\"') %>"<%unless word[:id]==nil || word[:id]==''%>,'<%=word[:id]%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>



<h4 class="su-task">
VI. Russian numerals
</h4>

<p class="part-task">a) a) Learn Russian numerals higher than 1000: </p>

<%
 @voc = [

 {:text=> 'одн<span class="acco">а</span> т<span class="acco">ы</span>сяча',
  :number=> '1000',
  :sound=> '/audios/audio06071001.mp3', 
  :transcribe=>'adn<span class="acct">a</span> t<span class="acct"><span class="ry">i</span></span>sicha', 
  :translate=> 'one thousand' 
  },
  {:text=> 'две т<span class="acco">ы</span>сячи',
  :number=> '2000',
  :sound=> '/audios/audio06071002.mp3', 
  :transcribe=>'d<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span> t<span class="acct"><span class="ry">i</span></span>sichi', 
  :translate=> 'two thousand' 
  },
  {:text=> 'три т<span class="acco">ы</span>сячи',
  :number=> '3000',
  :sound=> '/audios/audio06071003.mp3', 
  :transcribe=>'tr<span class="acct">i</span> t<span class="acct"><span class="ry">i</span></span>sichi', 
  :translate=> 'three thousand' 
  },
  {:text=> 'чет<span class="acco">ы</span>ре т<span class="acco">ы</span>сячи',
  :number=> '4000',
  :sound=> '/audios/audio06071004.mp3', 
  :transcribe=>'chit<span class="acct"><span class="ry">i</span></span>ri t<span class="acct"><span class="ry">i</span></span>sichi', 
  :translate=> 'four thousand' 
  },
  {:text=> 'пять т<span class="acct">ы</span>сяч',
  :number=> '5000',
  :sound=> '/audios/audio06071005.mp3', 
  :transcribe=>'<span class="sftv">p</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich', 
  :translate=> 'five thousand' 
  },
  {:text=> 'шесть т<span class="acco">ы</span>сяч',
  :number=> '6000',
  :sound=> '/audios/audio06071006.mp3', 
  :transcribe=>'sh<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich', 
  :translate=> 'six thousand' 
  },
  {:text=> 'семь т<span class="acco">ы</span>сяч',
  :number=> '7000',
  :sound=> '/audios/audio06071007.mp3', 
  :transcribe=>'<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">m</span> t<span class="acct"><span class="ry">i</span></span>sich', 
  :translate=> 'seven thousand' 
  },
  {:text=> 'д<span class="acco">е</span>сять т<span class="acco">ы</span>сяч',
  :number=> '10000',
  :sound=> '/audios/audio06071010.mp3', 
  :transcribe=>'<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich', 
  :translate=> 'ten thousand' 
  }
  
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc} %>	
	

<br><br>
<p class="part-task">Look at the following examples:</p>

<%
 @voc1 = [
 
  {:text=> 'двен<span class="acco">а</span>дцать т<span class="acco">ы</span>сяч',
  :number=> '12 000',
  :sound=> '/audios/audio06071101.mp3', 
  :transcribe=>'dvin<span class="acct">a</span>tsa<span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich', 
  :translate=> '12 000' 
  },
  {:text=> 'шестьдес<span class="acco">я</span>т три т<span class="acco">ы</span>сячи',
  :number=> '63 000',
  :sound=> '/audios/audio06071102.mp3', 
  :transcribe=>'sh<span class="ry">i</span><span class="sftc">z</span>di<span class="sftv">s</span><span class="sfty">y</span><span class="acct">a</span>t tri t<span class="acct"><span class="ry">i</span></span>sichi', 
  :translate=> '63 000' 
  },
  {:text=> 'чет<span class="acco">ы</span>ре т<span class="acco">ы</span>сячи пятьс<span class="acco">о</span>т',
  :number=> '4 500',
  :sound=> '/audios/audio06071103.mp3', 
  :transcribe=>'chit<span class="acct"><span class="ry">i</span></span>ri t<span class="acct"><span class="ry">i</span></span>sichi pits<span class="acct">o</span>t', 
  :translate=> '4 500' 
  },
  {:text=> 'дв<span class="acco">а</span>дцать семь т<span class="acco">ы</span>сяч тр<span class="acco">и</span>ста',
  :number=> '27 300',
  :sound=> '/audios/audio06071104.mp3', 
  :transcribe=>'dv<span class="acct">a</span>tsa<span class="sftc">t</span> <span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">m</span> t<span class="acct"><span class="ry">i</span></span>sich tr<span class="acct">i</span>sta', 
  :translate=> '27 300' 
  }


 ]
%>

<%= render :partial => '/site/every/en_ru_voc_tr', :locals => {:voc => @voc1} %>


<br><br>

<p class="part-task">b) Listen to the Russian numeral and write it (with figures 1, 2, 3 etc.) in the text area:</p>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "c0106082.VIII.b)",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		basic_array: [
		
['/sounds/num01000.mp3','1000'],['/sounds/num02000.mp3','2000'],['/sounds/num03000.mp3','3000'],['/sounds/num04000.mp3','4000'],
['/sounds/num05000.mp3','5000'],['/sounds/num06000.mp3','6000'],['/sounds/num07000.mp3','7000'],['/sounds/num08000.mp3','8000'],
['/sounds/num09000.mp3','9000'],['/sounds/num10000.mp3','10000'], 
['/sounds/num12000.mp3','12000'],['/sounds/num63000.mp3','63000'],['/sounds/num04500.mp3','4500'],['/sounds/num27300.mp3','27300'],
['/sounds/num20000.mp3','20000'],['/sounds/num30000.mp3','30000'],['/sounds/num40000.mp3','40000'],['/sounds/num50000.mp3','50000'],
['/sounds/num60000.mp3','60000'],['/sounds/num70000.mp3','70000'],['/sounds/num80000.mp3','80000'],['/sounds/num90000.mp3','90000']

		]
		
		} )
</script>


<br><br><br><br>

<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next part >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Practice</h3>
<p class="su-step-info">
Here you can learn grammar and lexical rules of the lesson.
</p>


<h4 class="su-task">
I. What are you looking for?
</h4>


<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Construction Мне нужен</div>
	<div class="com-content">
	
<p>In the dialogue above you have seen the following construction:</p>


<table  cellspacing="0" >      
	<tr valign="top">
		 <td><p style="margin-top: 0pt;"><u>Мне н<span class="acco">у</span>жен</u> с<span class="acco">е</span>рый кост<span class="acco">ю</span>м.<br />

		 		<span class="sound" onclick="playAudio('audio06040001.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>j<span class="ry">i</span>n <span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span>r<span class="ry">i</span>y kas<span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 		</p>
		 </td>
	</tr>
	<tr valign="top">
		 <td width="280">
		 	<p class="bold"><u>I'm looking for</u> a grey suit.</p>
		 </td>

	</tr>
</table>

<p>The expression "мне нужен" which may mean "I need (something)" or "I'm looking for" (something) changes depending on the grammatical gender and the number of the following noun as follows:</p>

<p>
- "мне н<span class="acco">у</span>ж<u>ен</u>" [m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>j<span class="ry">i</span>n] for masculine<br/>

- "мне нужн<u><span class="acco">а</span></u>" [m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> noojn<span class="acct">a</span>] for faminine <br/>
- "мне н<span class="acco">у</span>жн<u>о</u>" [m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna] for neuter<br/>

- "мне нужн<u><span class="acco">ы</span></u>" [m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> noojn<span class="acct"><span class="ry">i</span></span>]  for plural
</p>

<p>We remind that most Russian nouns finish in masculine with a consonant, in feminine with "-a", and in neuter with "о" or "е". In plural, most nouns finish with "-и" or "-ы".</p>

	</div>
</div>


<br>
<p class="part-task">a) Look, listen and reapeat the examples:</p>

<%
 @voc = [
 
{:text=>'Мне н<span class="acco">у</span>жен кост<span class="acco">ю</span>м.',
:sound=>'/audios/audio06041010.mp3',
:transcribe=>'m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>j<span class="ry">i</span>n kas<span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m',
:translate=>' I need a suit. '},
{:text=>'Мне нужн<span class="acct">а</span> <span class="acco">ю</span>бка.',
:sound=>'/audios/audio06041020.mp3',
:transcribe=>'m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> noojn<span class="acct">a</span> y<span class="acct">oo</span>pka',
:translate=>' I need a skirt. '},
{:text=>'Мне н<span class="acco">у</span>жно ф<span class="acco">о</span>то.',
:sound=>'/audios/audio06041030.mp3',
:transcribe=>'m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna f<span class="acct">o</span>ta',
:translate=>' I need a photo. '},
{:text=>'Мне нужн<span class="acco">ы</span> ш<span class="acco">о</span>рты.',
:sound=>'/audios/audio06041040.mp3',
:transcribe=>'m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> noojn<span class="acct"><span class="ry">i</span></span> sh<span class="acct">o</span>rt<span class="ry">i</span>',
:translate=>' I need shorts. '}
  
 ]
%>

<%= render :partial => '/site/every/en_ru_model', :locals => {:voc => @voc} %>


<br><br>
<p class="part-task">b) Build phrases in Russian:</p>


<div class="su-exerc"> 
<div id="di5">	
				
<p class="ex-desc">Drag and drop the following words to build phrases. You can read correct answers by clicking the button "Display answers"</p> 

<br> 
<table class="di_variants noselect di_var_view" cellspacing="14" align="center" >

<tr> 
	<td> 
		<div>нужен</div> 
	</td> 
	<td> 
		<div>нужно</div> 
	</td>  
</tr> 
<tr> 
	<td> 
		<div>нужна</div> 
	</td> 
	<td> 
		<div>нужны</div> 
	</td>  
</tr>
</table> 
<br> 
 

<div  class="gr_ex_type"> 
<div class="gr-ex-testid">c0106042.IV.b)</div> 
 
<div class="gex-area-trans"> 

<div class="gext_sign"></div> 

<div class="gext_task gext_sign">
Мне  <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужен</span> свитер.
<div class="gext_show"><span> Мне <b>нужен</b> свитер. </span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
 Мне <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужны</span> туфли.
<div class="gext_show"><span> Мне <b>нужны</b> туфли.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
Мне <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужна</span> футболка.
<div class="gext_show"><span> Мне <b>нужна</b> футболка.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
Мне <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужна</span> сумка.
<div class="gext_show"><span> Мне <b>нужна</b> сумка.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
Мне  <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужно</span> платье.
<div class="gext_show"><span> Мне <b>нужно</b> платье.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
Мне  <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужен</span> сувенир.
<div class="gext_show"><span> Мне <b>нужен</b> сувенир.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
Мне  <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужны</span>  картины.
<div class="gext_show"><span> Мне <b>нужны</b> картины.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
Мне  <input type="text" style="width: 60px" value=""> <span class="gext_answer" style="display: none">нужна</span> открытка.
<div class="gext_show"><span> Мне <b>нужна</b> открытка.</span> &nbsp;</div>
</div>.

</div>

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p> 
 
 
</div> 
 
 
</div> 
 
 
 
</div> <!-- end of su-exerc --> 
 
 
<script type="text/javascript"> 
	var di5 = new draginput_test( {
		id: "di5", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: false,
		nospace: true,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"
 
		} )
</script> 

<br><br>
<p class="part-task">c) Translate phrases from English into Russian </p>

<div class="su-exerc">
<p class="task">Translate phrases from English into Russian.</p> 
<%
 @phrases = [

{:q_text=>'I\'m looking for a souvenir. ',
:sound=>'/audios/audio06043010.mp3'},
{:q_text=>'I need a T-shirt. ',
:sound=>'/audios/audio06043020.mp3'},
{:q_text=>'I\'m looking for a sweater. ',
:sound=>'/audios/audio06043030.mp3'},
{:q_text=>'I\'m looking for shorts. ',
:sound=>'/audios/audio06043040.mp3'},
{:q_text=>'I need to get a toy. ',
:sound=>'/audios/audio06043050.mp3'},
{:q_text=>'I\'m looking for a dress. ',
:sound=>'/audios/audio06043060.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>

</div>


<br><br>
<h4 class="su-task">
II. Can you show me this souvenir?
</h4>


<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Particularities of Russian sentences</div>
	<div class="com-content">


<p>You have already seen in our course the word "этот" (this). Depending on the grammatical gender and the number of the following noun, this word will change as follows:</p>
<p style="padding-bottom: 10px;">
- "<span class="acco">э</span>тот" [<span class="acct">e</span>tat] for masculine<br/>
- "<span class="acco">э</span>та" [<span class="acct">e</span>ta] for faminine <br/>

- "<span class="acco">э</span>то" [<span class="acct">e</span>ta] for neuter<br/>
- "<span class="acco">э</span>ти" [<span class="acct">e</span>ti]  for plural
</p>

	</div>
</div>

<br>
<p class="part-task">a) Give a positive answer following the model to the questions:  </p>


<div class="egmodel">
<h4>Model</h4>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="480">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><b>Вам <u>н<span class="acco">у</span>жен</u> <span class="acco">э</span>тот кост<span class="acco">ю</span>м?</b><br />

		 						<span class="sound" onclick="playAudio('audio06051001.mp3')">[v<span class="acct">a</span>m n<span class="acct">oo</span>j<span class="ry">i</span>n <span class="acct">e</span>tat ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p><b>Да, мне <u>н<span class="acco">у</span>жен</u> <span class="acco">э</span>тот кост<span class="acco">ю</span>м.</b><br />

		 						<span class="sound" onclick="playAudio('audio06051002.mp3')">[d<span class="acct">a</span>, m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>j<span class="ry">i</span>n <span class="acct">e</span>tat ka<span class="sftc">s</span>t<span class="sfty">y</span><span class="acct">oo</span>m] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
	</tr>
	<tr>
			<td colspan="2" valign="top"><span class="ital">Do you need this suit? -Yes, I need this suit.</span>
			</td>
	</tr>
</table>
</div>


<div class="su-exerc">
<%
 @phrases = [

{:q_text=>'Вам нужн<span class="acco">а</span> <span class="acco">э</span>та с<span class="acco">у</span>мка? ',
:q_sound=>'/audios/audio06051011.mp3',
:q_transcribe=>'v<span class="acct">a</span>m noojn<span class="acct">a</span> <span class="acct">e</span>ta s<span class="acct">oo</span>mka? ',
:sound=>'/audios/audio06051012.mp3'},
{:q_text=>'Вам нужн<span class="acco">ы</span> <span class="acco">э</span>ти игр<span class="acco">у</span>шки?  ',
:q_sound=>'/audios/audio06051031.mp3',
:q_transcribe=>'v<span class="acct">a</span>m noojn<span class="acct"><span class="ry">i</span></span> <span class="acct">e</span>ti igr<span class="acct">oo</span>shki? ',
:sound=>'/audios/audio06051032.mp3'},
{:q_text=>'Вам нужн<span class="acco">а</span> <span class="acco">э</span>та футб<span class="acco">о</span>лка? ',
:q_sound=>'/audios/audio06051041.mp3',
:q_transcribe=>'v<span class="acct">a</span>m noojn<span class="acct">a</span> <span class="acct">e</span>ta foodb<span class="acct">o</span>lka? ',
:sound=>'/audios/audio06051042.mp3'},
{:q_text=>'Вам н<span class="acco">у</span>жен <span class="acco">э</span>тот сувен<span class="acco">и</span>р?',
:q_sound=>'/audios/audio06051051.mp3',
:q_transcribe=>'v<span class="acct">a</span>m n<span class="acct">oo</span>j<span class="ry">i</span>n <span class="acct">e</span>tat soovin<span class="acct">i</span>r? ',
:sound=>'/audios/audio06051052.mp3'},
{:q_text=>'Вам нужн<span class="acco">ы</span> <span class="acco">э</span>ти откр<span class="acco">ы</span>тки? ',
:q_sound=>'/audios/audio06051061.mp3',
:q_transcribe=>'v<span class="acct">a</span>m noojn<span class="acct"><span class="ry">i</span></span> <span class="acct">e</span>ti atkr<span class="acct"><span class="ry">i</span></span>tki? ',
:sound=>'/audios/audio06051062.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_quest', :locals => {:phrases => @phrases} %>	
</div>


<br><br>
<p class="part-task">b) Translate phrases from English into Russian </p>


<div class="su-exerc">
<%
 @phrases = [

{:q_text=>'How much does this souvenir cost? ',
:sound=>'/audios/audio06052010.mp3'},
{:q_text=>'I need this baseball cap. ',
:sound=>'/audios/audio06052020.mp3'},
{:q_text=>'How much does this T-shirt cost? ',
:sound=>'/audios/audio06052030.mp3'},
{:q_text=>'I need these trousers. ',
:sound=>'/audios/audio06052040.mp3'},
{:q_text=>'How much does this calendar cost? ',
:sound=>'/audios/audio06052050.mp3'},
{:q_text=>'I need these postcards. ',
:sound=>'/audios/audio06052060.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>
</div>



<br><br>


<h4 class="su-task"> 
III. I like it!
</h4> 

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Construction Мне нравится... </div>
	<div class="com-content">
	
<p>In the dialogue you could see the following construction:</p>

<table  cellspacing="0" >      
	<tr valign="top">
		 <td width="200">
		 	<p class="bold">I like it.</p>

		 </td>
	</tr>
	<tr valign="top">
		 <td><p style="margin-top: 0pt;">Мне он нр<span class="acco">а</span>вится.<br />
		 		<span class="sound" onclick="playAudio('audio06060001.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> <span class="acct">o</span>n nr<span class="acct">a</span>vitsa] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 		</p>
		 </td>
	</tr>
</table>  

<p>If you like something, you can say that using the expression:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="220">
			<table  cellspacing="0" >

					<tr valign="top">
		 				<td>
		 					<p><b>Мне нр<span class="acco">а</span>вится ...</b><br />
		 						<span class="sound" onclick="playAudio('audio06060002.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> nr<span class="acct">a</span>vitsa] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I like ....</p>
		</td>
	</tr>

</table>

<p>If you want to say that you like several objects, you can say that using the expression:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="220">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><b>Мне нр<span class="acco">а</span>вятся ...</b><br />

		 						<span class="sound" onclick="playAudio('audio06060003.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> nr<span class="acct">a</span><span class="sftv">v</span><span class="sfty">y</span>atsa] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>

					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I like ... (sevral objects)</p>
		</td>
	</tr>
</table>


	</div>
</div>

<br>
<p class="part-task">a) Give a positive answer following the model to the questions: </p>

<div class="egmodel">
<h4>Model</h4>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="510">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><b>Вам нр<span class="acco">а</span>вится <span class="acco">э</span>тот кост<span class="acco">ю</span>м?</b><br />

		 						<span class="sound" onclick="playAudio('audio06061001.mp3')">[v<span class="acct">a</span>m nr<span class="acct">a</span>vitsa <span class="acct">e</span>tat ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>

		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p><b>Да, мне нр<span class="acco">а</span>вится <span class="acco">э</span>тот кост<span class="acco">ю</span>м.</b><br />

		 						<span class="sound" onclick="playAudio('audio06061002.mp3')">[d<span class="acct">a</span>, m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> nr<span class="acct">a</span>vitsa <span class="acct">e</span>tat ka<span class="sftc">s</span><span class="sftv">t</span><span class="sfty">y</span><span class="acct">oo</span>m] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		</tr>
		<tr>
		<td valign="top" colspan="2"><span class="ital">Do you like this suit? - Yes, I like this suit.</span>
		</td>
	</tr>
</table>
</div>

<div class="su-exerc">

<%
 @phrases = [

{:q_text=>'Вам нр<span class="acco">а</span>вится <span class="acco">э</span>тот муз<span class="acco">е</span>й?',
:q_sound=>'/audios/audio06061011.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span>vitsa <span class="acct">e</span>tat moo<span class="sftv">z</span><span class="sfty">y</span><span class="acct">e</span>y? ',
:sound=>'/audios/audio06061012.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вится <span class="acco">э</span>та гост<span class="acco">и</span>ница?',
:q_sound=>'/audios/audio06061021.mp3',
:q_transcribe=>'vam nr<span class="acct">a</span>vitsa <span class="acct">e</span>ta gast<span class="acct">i</span>nitsa? ',
:sound=>'/audios/audio06061022.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вятся <span class="acco">э</span>ти игр<span class="acco">у</span>шки? ',
:q_sound=>'/audios/audio06061031.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span><span class="sftv">v</span><span class="sfty">y</span>atsa <span class="acco">e</span>ti igr<span class="acco">oo</span>shki? ',
:sound=>'/audios/audio06061032.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вится <span class="acco">э</span>то ф<span class="acco">о</span>то?',
:q_sound=>'/audios/audio06061041.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span>vitsa <span class="acct">e</span>ta f<span class="acct">o</span>ta? ',
:sound=>'/audios/audio06061042.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вятся <span class="acco">э</span>ти откр<span class="acco">ы</span>тки?',
:q_sound=>'/audios/audio06061051.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span><span class="sftv">v</span><span class="sfty">y</span>atsa <span class="acct">e</span>ti atkr<span class="acct"><span class="ry">i</span></span>tki? ',
:sound=>'/audios/audio06061052.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_quest', :locals => {:phrases => @phrases} %>
</div>

<br><br>
<p class="part-task">b) Give a negative answer following the model to the questions: </p>


<div class="egmodel">
<h4>Model</h4>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="510">
			<table  cellspacing="0" >
					<tr valign="top">

		 				<td>
		 					<p><b>Вам нр<span class="acco">а</span>вится <span class="acco">э</span>тот сувен<span class="acco">и</span>р?</b><br />
		 						<span class="sound" onclick="playAudio('audio06062001.mp3')">[v<span class="acct">a</span>m nr<span class="acct">a</span>vitsa <span class="acct">e</span>tat soovin<span class="acct">i</span>r?] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p><b>Нет, мне не нр<span class="acco">а</span>вится <span class="acco">э</span>тот сувен<span class="acco">и</span>р.</b><br />

		 						<span class="sound" onclick="playAudio('audio06062002.mp3')">[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t, m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> ni nr<span class="acct">a</span>vitsa <span class="acct">e</span>tat soovin<span class="acct">i</span>r] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
	</tr>
	<tr>
		<td valign="top" colspan="2"><span class="ital">Do you like this souvenir? - No, I don't like this souvenir.</span>
		</td>
	</tr>
</table>
</div>




<div class="su-exerc">
 
<%
 @phrases = [

{:q_text=>'Вам нр<span class="acco">а</span>вится <span class="acco">э</span>та руб<span class="acco">а</span>шка? ',
:q_sound=>'/audios/audio06062011.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span>vitsa <span class="acct">e</span>ta roob<span class="acct">a</span>shka? ',
:sound=>'/audios/audio06062012.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вятся <span class="acco">э</span>ти футб<span class="acco">о</span>лки?',
:q_sound=>'/audios/audio06062021.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span><span class="sftv">v</span><span class="sfty">y</span>atsa <span class="acct">e</span>ti foodb<span class="acct">o</span>lki? ',
:sound=>'/audios/audio06062022.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вятся <span class="acco">э</span>ти бр<span class="acco">ю</span>ки?',
:q_sound=>'/audios/audio06062031.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span><span class="sftv">v</span><span class="sfty">y</span>atsa <span class="acct">e</span>ti b<span class="sftv">r</span><span class="sfty">y</span><span class="acct">oo</span>ki? ',
:sound=>'/audios/audio06062032.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вится <span class="acco">э</span>тот н<span class="acco">о</span>мер? ',
:q_sound=>'/audios/audio06062041.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span>vitsa <span class="acct">e</span>tat n<span class="acct">o</span>mir? ',
:sound=>'/audios/audio06062042.mp3'},
{:q_text=>'Вам нр<span class="acco">а</span>вится <span class="acco">э</span>та <span class="acco">ю</span>бка?',
:q_sound=>'/audios/audio06062051.mp3',
:q_transcribe=>'v<span class="acct">a</span>m nr<span class="acct">a</span>vitsa <span class="acct">e</span>ta y<span class="acct">oo</span>pka? ',
:sound=>'/audios/audio06062052.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_quest', :locals => {:phrases => @phrases} %>
</div>



<br><br>
<p class="part-task">c) Build phrases in Russian:</p>


<div class="su-exerc">
<div id="di1">	
				
<p class="ex-desc">Drag and drop the following words to build phrases. You can read correct answers by clicking the button "Display answers"</p> 

<br> 
<table class="di_variants noselect di_var_view" cellspacing="14" align="center" >
<tr>
	<td >
		<div>Мне</div>
	</td>
	<td>
		<div>не</div>
	</td>
	<td >
		<div>эти футболки</div>
	</td>
	<td>
		<div>эта игрушка</div>
	</td>
	<td>
		<div>этот сувенир</div>
	</td>
</tr>
<tr>
	<td colspan="2">
		<div >нравится</div>
	</td>
	<td>
		<div>это фото</div>
	</td>
	<td>
		<div>нравятся</div>
	</td>
	<td>
		<div>эта открытка</div>
	</td>
</tr>
</table>
<br> 
 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">c010602063.VI.c)</div>
<%
 @phrases = [
{:to_bild=> "I like this toy.", 
:answer=>'Мне нравится эта игрушка', 
:show=> 'Мне нравится эта игрушка.', 
:sound=>'/audios/audio06063010.mp3'},
{:to_bild=> "I don't like this postcard.", 
:answer=>'Мне не нравится эта открытка.', 
:show=> 'Мне не нравится эта открытка.', 
:sound=>'/audios/audio06063020.mp3'},
{:to_bild=> "I like these T-shirts.", 
:answer=>'Мне нравятся эти футболки', 
:show=> 'Мне нравятся эти футболки. ', 
:sound=>'/audios/audio06063030.mp3'},
{:to_bild=> "I don't like this souvenir.", 
:answer=>'Мне не нравится этот сувенир', 
:show=> 'Мне не нравится этот сувенир.', 
:sound=>'/audios/audio06063040.mp3'},
{:to_bild=> "I like this photo.", 
:answer=>'Мне нравится это фото', 
:show=> 'Мне нравится это фото.', 
:sound=>'/audios/audio06063050.mp3'}
 ]
%>
<%= render :partial => '/site/every/en_ru_pseudo', :locals => {:phrases => @phrases} %>

</div>
</div>
</div> 
<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		variant_elem: "di_variants div"

		} )
</script>

<br><br>


<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next part >>" onclick="openNextStep(4)">
</div>	
	
	
	</div>
</div>


<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">

	
<h3 class="su-step-title">Revision</h3>
<p class="su-step-info">
Revise materials from this lesson
</p>


	
<h4 class="su-task"> 
Revise this lesson's materials 
</h4> 
 
 <p class="part-task">a) Listen and find the corresponding English phrases: </p>	


<% 

@t_phrases = [
  {:text=> 'How much does the dress cost? ',
 :sound=>'/audios/audio06022080.mp3',
 :answer=> '1'
  },
 {:text=> 'Is this your souvenir?',
 :sound=>'/audios/audio06033021.mp3', 
 :answer=> '2'
  },
 {:text=> 'I need a suit.',
 :sound=>'/audios/audio06041010.mp3',
 :answer=> '3'
  },
 {:text=> 'I\'m looking for a dress. ',
 :sound=>'/audios/audio06043060.mp3', 
 :answer=> '4'
  },
 {:text=> 'I need these postcards. ',
 :sound=>'/audios/audio06052060.mp3',
 :answer=> '5'
  },
 {:text=> 'I don\'t like this postcard.  ',
 :sound=>'/audios/audio06063020.mp3',
 :answer=> '6'
  },
 {:text=> 'I like these T-shirts.',
 :sound=>'/audios/audio06063030.mp3', 
 :answer=> '7'
  },
 {:text=> 'Do you like this room?',
 :sound=>'/audios/audio06062041.mp3',
 :answer=> '8'
  },
 {:text=> 'Do you like this shirt?',
 :sound=>'/audios/audio06062011.mp3',
 :answer=> '9'
  },
 {:text=> 'Do you like these toys? ',
 :sound=>'/audios/audio06061031.mp3',
 :answer=> '10'
  }

 ]

%>

<div id="ch4" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch4 = new ch_exercise( {
		id: "ch4", 
		test_id: "c0106411",
		quest_num: 12,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@t_phrases.length)-1 -%>
<% @t_phrases.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:text].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>
 
 
<br><br><br>
 
 
 <div class="rev-wrap">
	 <div class="rev-head">  In this lesson you have learned </div>
  <div class="rev-content">

<p>- <strong>Words and expressions on the topic "Shopping".</strong></p>

<p>- An expression that you can use <strong>to say that you need something or you are looking for something</strong>:</p> 

<ul class="learnt-list">
	<li>Мне нужен костюм.</li>
</ul>

<p>- <strong>Forms of the pronoun "этот":</strong> </p>

<ul class="learnt-list">

	<li>Мне нужен этот костюм.</li>
	<li>Мне нужна эта открытка.</li>
</ul>

<p>- An expression that will help you <strong>to say that you like something</strong>:</p>  

<ul class="learnt-list">
	<li>Мне нравится эта футболка.</li>
	<li>Мне нравятся эти игрушки.</li>

</ul>

<p>- <strong>Numerals higher than 1000.</strong></p>  

<p>
In order to make sure you have understood all the material of the lesson and to get some additional information, we recommend you to visit the following pages: 
</p>

<ul class="last-links">
	<li>Pages of <a href="/shopping.html">Shopping</a> section:<br/>
		- <a href="/en/ru/vocabulary/clothing">Outdoor clothing</a><br/>
		- <a href="/en/ru/vocabulary/shoes">Shoes</a> <br/>
		- <a href="/en/ru/vocabulary/perfumery">Perfumery</a><br/>
		- <a href="/en/ru/vocabulary/accessories">Accessories</a> and others
	</li>
	<li><a href="/numerals100.html">Numerals more than 100</a></li>

</ul>

 <br><br><br><br> 
 
  </div>
 </div>
 
<br><br><br><br><br><br><br><br>




	</div>
</div>






</div>






</div></div><!-- end of id content-->


<script type="text/javascript">
currentSection="course";
</script>
