<% @page_title = 'Lesson 1 :: Russian Online Lessons' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<%= javascript_include_tag 'dialog-player' %>
<%= stylesheet_link_tag 'dialog_player' %>


<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
</script>


<% end %>


<div id="pagecontent"><div id="content">
<div class="unit-area">


<div id="prof_tabs">

<%= render :partial => '/site/every/settings_block' %>

<div class="unit-title">
Lesson 1
</div>

<%= render :partial => '/site/every/en_ru_coverflow', :locals => {:active => 1} %>

	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Dialogue</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Vocabulary</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Practice</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Revision</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Dialogues</h3>
<p class="su-step-info">
Here you can work with dialogues of the lesson
</p>	
	

<h4 class="su-task" >
I. Welcome to Russia!
</h4>

<p class="part-task">a) Listen to the dialogue and read the translation</p>


<%= render :partial => '/site/every/dialog_player', 
			:locals => {:cluster_id => 72, :html_id=>"dc1",
						:d_title=>'Dialogue 1-1. In the airport',
:content=> "Listen to the dialogue between a tourist and the passport control officer. The tourist, named John Brown, has just arrived to Russia from America. After his passport is checked, John asks the officer where the baggage claim area is. Then he thanks the officer and says goodbye."
			} %>	

				<script type="text/javascript"> 
					var  dc1 = new dialog_controls( {
					id: "dc1", 
					file: "/audios/audio0101.mp3",
					tracks: [0,1384,2300,4153,5200,6000,7990,9326,11024,12173,13767,17894,22387,23358,25078]
				
					} )
				</script>		
	
<br>
<p class="part-task">b) Listen and repeat the dialogue phrase by phrase</p>


<h4 class="su-task">
II. First contacts
</h4>

<p class="part-task">a) Find the translation of Russian phrases</p>

<div id="ds1" class="ds-wrapper" style="padding: 15px; margin: 20px 30px;">

<p class="ex-desc">
Listen to the phrases. Drag the English phrases from the list below <br>and drop them into the corresponding fields.
</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="250">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013010.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013020.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013030.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013040.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013050.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013060.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013070.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 8
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio01013080.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" style="margin: 0 auto;" align="center">
<col width="170">
<col width="250">

<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Hello.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Thank you!</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">8</span>Your passport, please.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Welcome to Russia!</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Where is the baggage claim area?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Excuse me.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Good bye!</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Are you from America?</div></div>
	</li>
</ul>

</td>
</tr>
</table>


</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Check answers">

</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		test_id: "c0101013.I.c)",
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>

<br><br><br>

<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next part >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Vocabulary</h3>
<p class="su-step-info">
Here you can learn words and expressions of the lesson.
</p>	

<h4 class="su-task">
I. Addressing other people
</h4>

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Polite forms of address</div>
	<div class="com-content">
<p>
The Russian language has respectful and familiar forms of address to other people. The polite form is used in formal situations or if you are you talking to someone you don't know very well. Russian familiar form is generally used among friends and relatives.
<p>	
<p>
In this course, we mainly use polite phrases for formal situations.
<p>
	</div>
</div>

<br>

<p class="part-task">a) Learn Russian words:</p>

<%
 @voc1 = [
 {:text=> 'я', :translate=> 'I', :transcribe=>'ya'},
 {:text=> 'вы', :translate=> 'you (formal)', :transcribe=>'vy'},
 {:text=> 'господин', :translate=> 'mister', :transcribe=>'gaspadin'},
 {:text=> 'госпожа', :translate=> 'missis, miss', :transcribe=>'gaspaja'},
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc1} %>


<br>

	
	
<p class="part-task">b) Build phrases in Russian:</p>

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Particularities of Russian sentences</div>
	<div class="com-content">
<p>	
<strong>Absence of the present tense of "to be"</strong><br>
In Russian language, the present tense of "to be" (am, is, are) is not usually used.
<p>	
<div class="com-more">
<div class="com-more-in">
Read the following examples:<br><br>
<b>Я Джон Браун.</b> – I am John Brown.<br>
<b>Вы из Канады.</b> – You are from Canada.<br>
<b>Это Александр.</b> – This is Alexander.
</div>
<span class="come-more-display">Read more</span>
</div>

	</div>
</div>


<div class="su-exerc">
<div id="di1">	
				
<p class="ex-desc">Drag and drop the following words to build phrases. You can read correct answers by clicking the button "Display answers"</p> 

<br> 
<table class="di_variants noselect di_var_view" cellspacing="14" align="center" > 
<tr> 
	<td> 
		<div> я </div> 
	</td> 
	<td> 
		<div>господин</div> 
	</td> 
	<td> 
		<div>Стив</div> 
	</td>
	<td> 
		<div>Тайлер</div> 
	</td>	
</tr> 
<tr> 
	<td > 
		<div> вы </div> 
	</td> 
 
	<td> 
		<div>госпожа</div> 
	</td> 
	<td> 
		<div>Браун</div> 
	</td> 
	<td> 
		<div>Реббекка</div> 
	</td> 
</tr> 
</table>  
<br> 

<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">c0101212</div>
<%
 @phrases = [
{:to_bild=> "I'm Rebbecca", :answer=>'Я Реббекка', :show=> 'Я Реббекка.'},
{:to_bild=> "Are you Steve?",:answer=>'Вы Стив', :show=> 'Вы Стив?'},
{:to_bild=> "Are you Mr Brown?", :answer=>'Вы господин Браун', :show=> 'Вы господин Браун?'},
{:to_bild=> "Are you Mrs Tyler?", :answer=>'Вы госпожа Тайлер?', :show=> 'Вы госпожа Тайлер?'}
 ]
%>

<%= render :partial => '/site/every/en_ru_pseudo', :locals => {:phrases => @phrases} %>

</div>
</div>
</div> 
<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		variant_elem: "di_variants div"

		} )
</script>


<br><br>

<h4 class="su-task">
II. Where are you from?
</h4>

<p class="part-task">a) Learn the following Russian words: </p>


<%
 @voc2 = [
 {:text=> '<span>америк<span class="acco">а</span>нец</span>', :translate=> 'American (for a man)', :transcribe=>'amirik<span class="acct">a</span>nits', :sound=> '/audios/audio01022001.mp3'},
 {:text=> '<span>америк<span class="acco">а</span>нка</span>', 
  :transcribe=>'amirik<span class="acct">a</span>nka', 
  :sound=> '/audios/audio01022002.mp3',
  :translate=> 'American (for a man)'
  },
 {:text=> '<span>кан<span class="acco">а</span>дец</span>',
  :sound=> '/audios/audio01022003.mp3', 
  :transcribe=>'kan<span class="acct">a</span>dits', 
  :translate=> 'Canadian (for a man)'
  },
 {:text=> '<span>кан<span class="acco">а</span>дка</span>',
  :sound=> '/audios/audio01022004.mp3', 
  :transcribe=>'kan<span class="acct">a</span>tka', 
  :translate=> '<span style="white-space: nowrap">Canadian (for a woman)</span>' 
  },
 {:text=> '<span>англич<span class="acco">а</span>нин</span>',
  :sound=> '/audios/audio01022005.mp3', 
  :transcribe=>'anglich<span class="acct">a</span>nin', 
  :translate=> 'Englishman' 
  },
 {:text=> 'англич<span class="acco">а</span>нка',
  :sound=> '/audios/audio01022006.mp3', 
  :transcribe=>'anglich<span class="acct">a</span>nka', 
  :translate=> 'Englishwoman'
  } 
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc2} %>	
	
<p class="part-task">b) Translate phrases from English into Russian </p>

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Particularities of Russian sentences</div>
	<div class="com-content">
<p>	
<strong>Absence of articles</strong><br>
In English, there are articles "the" and "a". The Russian language has no articles.
<p>	
<div class="com-more">
<div class="com-more-in">
Look at the following examples:<br><br>

<b>Я англичанин.</b> – I am an Englishman.<br>
<b>Я из США.</b> – I am from the USA. <br>
<b>Это билет.</b> – This is a ticket.
</div>
<span class="come-more-display">Read more</span>
</div>

	</div>
</div>



<div class="su-exerc">
<%
 @phrases = [
 
 {:sound=> '/audios/audio01022010.mp3', 
  :q_text=> 'I am Canadian. (for a man)' 
  },
 {:sound=> '/audios/audio01022020.mp3', 
  :q_text=> 'I am an Englishman.'
  },
 {:sound=> '/audios/audio01022030.mp3', 
  :q_text=> 'I\'m American. (for a man)'
  },
 {:sound=> '/audios/audio01022040.mp3', 
  :q_text=> 'I\'m English. (for a woman)'
  },
 {:sound=> '/audios/audio01022050.mp3', 
  :q_text=> 'I\'m American. (for a woman)'
  } 
  
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>	

</div>
	
<br><br>	
<p class="part-task">c) Lear the following expressions: </p>

<%
 @voc3 = [
 
 {:text=> 'из Великобрит<span class="acco">а</span>нии',
  :sound=> '/audios/audio01023001.mp3', 
  :transcribe=>'iz vilikabrit<span class="acct">a</span>ni', 
  :translate=> 'from Great Britain' 
  },
 {:text=> 'из США',
  :sound=> '/audios/audio01023002.mp3', 
  :transcribe=>'is se she <span class="acct">a</span>', 
  :translate=> 'from the USA' 
  },
 {:text=> 'из Кан<span class="acco">а</span>ды',
  :sound=> '/audios/audio01023003.mp3', 
  :transcribe=>'anglich<span class="acct">a</span>nka', 
  :translate=> 'from Canada'
  },
 {:text=> 'из Австр<span class="acco">а</span>лии',
  :sound=> '/audios/audio01023004.mp3', 
  :transcribe=>'iz afstr<span class="acct">a</span>lii', 
  :translate=> 'from Australia'
  },
 {:text=> 'из Росс<span class="acco">и</span><i></i>и',
  :sound=> '/audios/audio01023005.mp3', 
  :transcribe=>'iz rass<span class="acct">i</span>i', 
  :translate=> 'from Russia'
  }
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc3} %>	

<br><br>
<p class="part-task">d) Build phrases in Russian: </p>

<div class="su-exerc">
<div id="di2">	
				
<p class="ex-desc">Drag and drop the following words to build phrases. You can listen and read correct answers by clicking the button "Display answers"</p> 

<br> 
<table class="di_variants noselect di_var_view" cellspacing="14" align="center" > 
<tr> 
	<td> 
		<div> Я </div> 
	</td> 
	<td colspan="2"> 
		<div>Великобритании</div> 
	</td> 
	<td> 
		<div>США</div> 
	</td> 
</tr> 
<tr> 
	<td > 
		<div> из </div> 
	</td> 
 
	<td> 
		<div>Канады</div> 
	</td> 
	<td> 
		<div>Австралии</div> 
	</td> 
	<td> 
		<div>России</div> 
	</td> 
</tr> 
</table>  
<br> 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">c0101024.II.d)</div>
<%
 @phrases = [
{:to_bild=> "I'm from Russia.", :answer=>'Я из России', :show=> 'Я из России.'},
{:to_bild=> "I'm from Great Britain.", :answer=>'я из Великобритании', :show=> 'Я из Великобритании.'},
{:to_bild=> "I'm from Australia.", :answer=>'я из Австралии', :show=> 'Я из Австралии.'},
{:to_bild=> "I'm from the USA.", :answer=>'Я из США', :show=> 'Я из США.'},
{:to_bild=> "I'm an from Canada.", :answer=>'Я из Канады', :show=> 'Я из Канады.'}
 ]
%>
<%= render :partial => '/site/every/en_ru_pseudo', :locals => {:phrases => @phrases} %>

</div>
</div>
</div> 
<script type="text/javascript"> 
	var di2 = new draginput_test( {
		id: "di2", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		variant_elem: "di_variants div"

		} )
</script>


<br><br>



<h4 class="su-task">
III. In the airport
</h4>

<p class="part-task">a) Learn Russian words: </p>

<%
 @voc = [

 {:text=> 'п<span class="acco">а</span>спорт',
  :sound=> '/audios/audio01030001.mp3', 
  :transcribe=>'p<span class="acct">a</span>spart', 
  :translate=> 'passport' 
  },
 {:text=> 'в<span class="acco">и</span>за',
  :sound=> '/audios/audio01030002.mp3', 
  :transcribe=>'v<span class="acct">i</span>za', 
  :translate=> 'visa' 
  },
 {:text=> 'бил<span class="acco">е</span>т',
  :sound=> '/audios/audio01030003.mp3', 
  :transcribe=>'bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t', 
  :translate=> 'ticket'
  },
 {:text=> 'баг<span class="acco">а</span>ж',
  :sound=> '/audios/audio01030004.mp3', 
  :transcribe=>'bag<span class="acct">a</span>sh', 
  :translate=> 'luggage'
  },
 {:text=> 'такс<span class="acco">и',
  :sound=> '/audios/audio01030005.mp3', 
  :transcribe=>'taks<span class="acct">i</span>', 
  :translate=> 'taxi'
  },
 {:text=> 'авт<span class="acco">о</span>бус',
  :sound=> '/audios/audio01030006.mp3', 
  :transcribe=>'aft<span class="acct">o</span>boos', 
  :translate=> 'bus'
  },
 {:text=> 'метр<span class="acco">о</span>',
  :sound=> '/audios/audio01030007.mp3', 
  :transcribe=>'mitr<span class="acct">o</span>', 
  :translate=> 'subway'
  },
 {:text=> 'в<span class="acco">ы</span>ход',
  :sound=> '/audios/audio01041001.mp3', 
  :transcribe=>'v<span class="acct"><span class="ry">i</span></span>hat', 
  :translate=> 'exit'
  },
 {:text=> 'вход',
  :sound=> '/audios/audio01041002.mp3', 
  :transcribe=>'fh<span class="acct">o</span>t', 
  :translate=> 'entrance'
  },
 {:text=> 'бар',
  :sound=> '/audios/audio01041003.mp3', 
  :transcribe=>'b<span class="acct">a</span>r', 
  :translate=> 'bar'
  },
 {:text=> 'каф<span class="acco">е</span>',
  :sound=> '/audios/audio01041004.mp3', 
  :transcribe=>'kaf<span class="acct">e</span>', 
  :translate=> 'caf&#233;'
  },
 {:text=> 'туал<span class="acco">е</span>т',
  :sound=> '/audios/audio01041005.mp3', 
  :transcribe=>'tooa<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t>', 
  :translate=> 'W.C.'
  },
 {:text=> 'спр<span class="acco">а</span>вочная',
  :sound=> '/audios/audio01041006.mp3', 
  :transcribe=>'sp<span class="acct">a</span>vachnaya', 
  :translate=> 'information office'
  }

 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc} %>	

<br><br>
<p class="part-task">b) Listen and find the corresponding English word: </p>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c0101032.III.b)",
		quest_num: 12,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@voc.length)-1 -%>
<% @voc.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:translate].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>




<br><br><br><br>

<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next step >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Practice</h3>
<p class="su-step-info">
Here you can learn grammar and lexical rules of the lesson.
</p>


<h4 class="su-task">
I. Let me introduce myself 
</h4>


<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Simple questions and answers</div>
	<div class="com-content">
	
<p>	
In the dialogue you could learn the following constructions:
<p>	

<table  cellspacing="0" >      
	<tr valign="top">
		 <td width="180">
		 <p><b><u>Are you</u> Mr. Brown?</b><br /></p></td>

         <td width="30"><p>-</p>
         </td>
		 <td><p><b>Yes, <u>I'm</u> John Brown.</b><br /></p></td>
	</tr>
	<tr valign="top">
		 <td><p><u>Вы</u> господ<span class="acco">и</span>н Бр<span class="acco">а</span><i></i>ун?<br />

		 		<span class="sound" onclick="playAudio('audio01020010.mp3')">[v<span class="acct"><span class="ry">i</span></span> gaspad<span class="acct">i</span>n br<span class="acct">a</span><i></i>oon?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 		</p>
		 </td>
         		<td><p>-</p></td>

		 <td>
		 	<p>Да, <u>я</u> Джон Бр<span class="acco">а</span><i></i>ун.<br />
		 		<span class="sound" onclick="playAudio('audio01020020.mp3')">[d<span class="acct">a</span>, y<span class="acct">a</span> dj<span class="acct">o</span>n br<span class="acct">a</span>oon] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 	</p>
		 </td>
	</tr>
</table>


<div class="com-more">
<div class="com-more-in">
<p>
In Russian, simple questions do not use special constructions. So, in most cases, questions are marked only by intonation.
</p>
<p>
As previously mentioned, building phrases in Russian, you can omit all articles and the present tense of "to be". 
</p>
</div>
<span class="come-more-display">Read more</span>
</div>
	</div>
</div>
<br>

<p class="part-task">a) Listen and repeat the following examples </p>

<%

 @voc_train = [
 
{:text1=>'Вы</u> госпож<span class="acco">а</span> Бр<span class="acco">а</span><i></i>ун?',
:sound1=>'/audios/audio01020110.mp3',
:transcribe1=>'v<span class="acct"><span class="ry">i</span></span> gaspaj<span class="acct">a</span> br<span class="acct">a</span>oon?',
:text2=>'Да, <u>я</u> Джо<i></i><span class="acco">а</span>на Бр<span class="acco">а</span><i></i>ун.',
:sound2=>'/audios/audio01020120.mp3',
:transcribe2=>'d<span class="acct">a</span>, y<span class="acct">a</span> djo<span class="acct">a</span>na br<span class="acct">a</span>oon',
:translate=>'Are you Mrs. Brown? - Yes, I\'m Joana Brown.'},
 
{:text1=>'<u>Вы</u> америк<span class="acco">а</span>нец?',
:sound1=>'/audios/audio01020210.mp3',
:transcribe1=>'v<span class="acct"><span class="ry">i</span></span>  amirik<span class="acct">a</span>nits?',
:text2=>'Да, <u>я</u> америк<span class="acco">а</span>нец.',
:sound2=>'/audios/audio01020220.mp3',
:transcribe2=>'d<span class="acct">a</span>, y<span class="acct">a</span> amirik<span class="acct">a</span>nits',
:translate=>'Are you an American? - Yes, I\'m an American.'},
 
{:text1=>'<u>Вы</u> из США?',
:sound1=>'/audios/audio01020310.mp3',
:transcribe1=>'v<span class="acct"><span class="ry">i</span></span>  is se she <span class="acct">a</span>?',
:text2=>'Да, <u>я</u> из США.',
:sound2=>'/audios/audio01020320.mp3',
:transcribe2=>'d<span class="acct">a</span>, y<span class="acct">a</span> is se she <span class="acct">a</span>',
:translate=>'Are you from the USA? - Yes, I\'m from the USA.'}

 ]
%>

<%= render :partial => '/site/every/en_ru_voc_train2', :locals => {:voc => @voc_train} %>

<br><br>
<p class="part-task">b) Answer the questions in Russian following the model and check yourself:  </p>


<div class="egmodel">
	<h4>Model: </h4>

	
<table class="tab1"  cellspacing="0" >
	<tr valign="top">
		<td width="370">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td width="190">
		 					<p><b><u>Вы</u> господ<span class="acco">и</span>н Сэм Блэк?</b><br />

		 						<span class="sound" onclick="playAudio('audio01021001.mp3')">[v<span class="acct"><span class="ry">i</span></span> gaspad<span class="acct">i</span>n s<span class="acct">e</span>m bl<span class="acct">e</span>k?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>

                        					<td width="20"><p>-</p>
                       					 </td>
		 				<td width="150">
		 					<p><b>Да, <u>я</u> Сэм Блэк.</b><br />
		 						<span class="sound" onclick="playAudio('audio01021002.mp3')">[d<span class="acct">a</span>, y<span class="acct">a</span> s<span class="acct">e</span>m bl<span class="acct">e</span>k] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Are you Mister Sam Black? - Yes, I'm Sam Black.</p>
		</td>
	</tr>

</table>	
	
	
</div>


<div class="su-exerc">
<%
 @phrases = [
 {:q_text=> 'Вы господ<span class="acco">и</span>н Сэм Блэк?',
 :q_sound=>'/audios/audio01021011.mp3',
 :q_transcribe=>'v<span class="acct"><span class="ry">i</span></span> gaspad<span class="acct">i</span>n s<span class="acct">e</span>m bl<span class="acct">e</span>k?',
 :sound=> '/audios/audio01021012.mp3',  
  },
  {:q_text=> 'Вы госпож<span class="acco">а</span> М<span class="acco">э</span>рилин Блэк?',
 :q_sound=>'/audios/audio01021021.mp3',
 :q_transcribe=>'v<span class="acct"><span class="ry">i</span></span> gaspaj<span class="acct">a</span> m<span class="acct">e</span>rilin bl<span class="acct">e</span>k?',
 :sound=> '/audios/audio01021022.mp3',  
  },
  {:q_text=> 'Вы Сэм Уайт?',
 :q_sound=>'/audios/audio01021031.mp3',
 :q_transcribe=>'v<span class="acct"><span class="ry">i</span></span> s<span class="acct">e</span>m oo<span class="acct">a</span>yt?',
 :sound=> '/audios/audio01021032.mp3',  
  },
  {:q_text=> 'Вы Дж<span class="acco">и</span>на Грей?',
 :q_sound=>'/audios/audio01021041.mp3',
 :q_transcribe=>'v<span class="acct"><span class="ry">i</span></span> dj<span class="acct"><span class="ry">i</span></span>na gr<span class="acct">e</span>y?',
 :sound=> '/audios/audio01021042.mp3',  
  },
  {:q_text=> 'Вы Л<span class="acco">и</span>нда Ст<span class="acco">о</span><i></i>ун?',
 :q_sound=>'/audios/audio01021051.mp3',
 :q_transcribe=>'v<span class="acct"><span class="ry">i</span></span> l<span class="acct">i</span>nda st<span class="acct">o</span>oon?',
 :sound=> '/audios/audio01021052.mp3',  
  }
  
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_quest', :locals => {:phrases => @phrases} %>	
</div>	

<br><br>


<h4 class="su-task">
II. Where are you from?
</h4>
<p class="part-task">b) Listen to the phrases and find out where the speaking person is from:  </p>


<div id="ds2" class="ds-wrapper" style="padding: 15px;">

<p class="task" align="center">Drag and drop the flags and press "Check answers" </p>		

<table align="center" style="margin: 0 auto;">

<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="left" style="margin: auto">
<col width="100">
<col width="20">
<col width="40">
<col width="100">

<% 

@t_images = [
  {:text=> 'ka',
 :sound=>'/audios/audio01023006.mp3',
 :image=> '/images/ca.gif',
 :answer=> '1',
  },
 {:text=> 'ru',
 :sound=>'/audios/audio01023007.mp3',
 :image=> '/images/ru.gif', 
 :answer=> '2', 
  },
 {:text=> 'gb',
 :sound=>'/audios/audio01023008.mp3',
 :image=> '/images/gb.gif',
 :answer=> '3', 
  },
 {:text=> 'aus',
 :sound=>'/audios/audio01023009.mp3',
 :image=> '/images/aus.gif',
 :answer=> '4', 
  },
 {:text=> 'usa',
 :sound=>'/audios/audio010230095.mp3',
 :image=> '/images/usa.gif',  
 :answer=> '5',
  }  
 ]

%>



<% @t_images.each_with_index do |word, index| %>
<tr>
	<td class="ds-quest" align="right" height="55" style="padding: 2px 3px 2px 10px;">
			 <span style="font-size: 12px">Person <%= index+1 %></span>
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('<%= word[:sound] %>', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer" >
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<% end %>
</table>
</td>
<td style="padding-left: 20px;">

<table class="ds_variants_list" width="100%">
<tr valign="top">
<td>
<ul class="no-list ds-options-wrap">

<% @t_images = @t_images.sort_by {rand} %>
<% @t_images.each_with_index do |word, index| %>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt"><%= word[:answer] %></span><img  src="<%= word[:image] %>"></div></div>
	</li>
<% end %>
</ul>
</td>
</tr>
</table>

</td>
</tr>
</table>

<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">
<input type="button" class="es_btn ds-check-button" value="Check answers">

</div>


</div>

<script type="text/javascript"> 
	var ds2 = new dragsort_test( {
		id: "ds2", 
		test_id: "c0101322",		
		targets: "ds-answer",	
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F6FAFF",
		auto_check: false
		} )
</script>


<br><br>

	
<h4 class="su-task">
III. It is a passport
</h4>	

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Construction Это ... </div>
	<div class="com-content">
<p>	
<p>In the dialogue you could see the Russian word <span class="eg">это</span> <span class="sound" style="clear: left;" onclick="playAudio('audio01030008.mp3')">[eta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span> which means "it" or "this". This word may be used in the following construction:
</p>

<table  cellspacing="0" >      
	<tr valign="top">
		 <td width="180">
		 	<p class="bold"><u>It is</u> a passport.</p></td>
	</tr>
	<tr valign="top">
		 <td><p style="margin-top: 0pt;"><u><span class="acco">Э</span>то</u> п<span class="acco">а</span>спорт.<br />

		 		<span class="sound" onclick="playAudio('audio01030000.mp3')">[<span class="acct">e</span>ta p<span class="acct">a</span>spart] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 		</p>
		 </td>
	</tr>
</table>

	</div>
</div>

<br>

<p class="part-task">a) Give a positive answer following the model and check yourself:  </p>


<div class="egmodel">
	<h4>Model: </h4>

<table class="tab1"  cellspacing="0" >
	<tr valign="top">
		<td width="320">
			<table  cellspacing="0" >
					<tr valign="top">

		 				<td width="130">
		 					<p><u><span class="acco">Э</span>то</u> п<span class="acco">а</span>спорт?<br />
		 						<span class="sound" onclick="playAudio('audio01031001.mp3')">[<span class="acct">e</span>ta p<span class="acct">a</span>spart?] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="20"><p>-</p>
                        </td>
		 				<td width="140" >
		 					<p>Да, <u><span class="acco">э</span>то</u> п<span class="acco">а</span>спорт.<br />

		 						<span class="sound" onclick="playAudio('audio01031002.mp3')">[d<span class="acct">a</span>, <span class="acct">e</span>ta p<span class="acct">a</span>spart] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>

		</td>
		<td valign="top"><p class="ital">Is it a pasport? - Yes, it is a passport.</p>
		</td>
	</tr>
</table>

</div>

	
<div class="su-exerc">
<%
 @phrases = [
 {:q_text=> '<span class="acco">Э</span>то такс<span class="acco">и</span>?',
 :q_sound=>'/audios/audio01031011.mp3',
 :q_transcribe=>'<span class="acct">e</span>ta taks<span class="acct">i</span>?',
 :sound=> '/audios/audio01031012.mp3',  
  },
  {:q_text=> '<span class="acco">Э</span>то метр<span class="acco">о</span>?',
 :q_sound=>'/audios/audio01031021.mp3',
 :q_transcribe=>'<span class="acct">e</span>ta mitr<span class="acct">o</span>',
 :sound=> '/audios/audio01031022.mp3',  
  },
  {:q_text=> '<span class="acco">Э</span>то баг<span class="acco">а</span>ж?',
 :q_sound=>'/audios/audio01031031.mp3',
 :q_transcribe=>'<span class="acct">e</span>ta bag<span class="acct">a</span>sh',
 :sound=> '/audios/audio01031032.mp3',  
  }
  
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_quest', :locals => {:phrases => @phrases} %>	
</div>	
	
<br><br>
<p class="part-task">b) Give a negative answer following the model and check yourself:  </p>


<div class="egmodel">
	<h4>Model: </h4>

<table class="tab1"  cellspacing="0" >
	<tr valign="top">
		<td width="350">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td width="150">
		 					<p><u><span class="acco">Э</span>то</u> п<span class="acco">а</span>спорт? (visa)<br />

		 						<span class="sound" onclick="playAudio('audio01032001.mp3')">[<span class="acct">e</span>ta p<span class="acct">a</span>spart?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
                        <td width="20"><p>-</p>
                        </td>

		 				<td width="140">
		 					<p>Нет, <u><span class="acco">э</span>то</u> в<span class="acco">и</span>за.<br />
		 						<span class="sound" onclick="playAudio('audio01032002.mp3')">[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t <span class="acct">e</span>ta v<span class="acct">i</span>za] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is it a pasport? (visa) - No, it is a visa.</p>
		</td>
	</tr>
</table>

</div>

<div class="su-exerc">
<%
 @phrases = [
 {:q_text=> '<span class="acco">Э</span>то Дж<span class="acco">о</span>н?  (Sam)',
 :q_sound=>'/audios/audio01032011.mp3',
 :q_transcribe=>'<span class="acct">e</span>ta dj<span class="acct">o</span>n?',
 :sound=> '/audios/audio01032012.mp3'  
  },
  {:q_text=> '<span class="acco">Э</span>то в<span class="acco">и</span>за?  (passport)',
 :q_sound=>'/audios/audio01032021.mp3',
 :q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">i</span>za?',
 :sound=> '/audios/audio01032022.mp3'  
  },
  {:q_text=> '<span class="acco">Э</span>то бил<span class="acco">е</span>т? (visa)',
 :q_sound=>'/audios/audio01032031.mp3',
 :q_transcribe=>'<span class="acct">e</span>ta bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t?',
 :sound=> '/audios/audio01032032.mp3'  
  }
  
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_quest', :locals => {:phrases => @phrases} %>	
</div>	


<br><br>



<h4 class="su-task">
IV. This is my ticket
</h4>	

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Grammatical gender in Russian</div>
	<div class="com-content">
	
<p>	
All Russian nouns have gender: masculine, feminine or neuter. It is an important grammatical category in Russian and it is impossible to build a correct phrase in Russian without knowing the gender of nouns. One of the difficulties with gender of nouns consists in the fact that in a phrase the form of adjectives, pronouns, some numbers and some verb tenses will depend of the related noun’s gender. 
</p>	
<p>
Look at the following examples with the word мой "my" that will change its form depending on the gender of the modified noun:
<br><br>
<strong><u>мой</u> паспорт</strong> - my passport (masculine)<br>
<strong><u>моя</u> виза</strong> - my visa (feminine)<br>
<strong><u>моё</u> такси</strong> - my taxi (neuter)<br>
</p>
<div class="com-more">
<div class="com-more-in">
<p>
For example, if you want to say "interesting book" in Russian, first of all you should know the gender of the Russian noun "книга" (book) and then choose a correct form of the adjective "интересный" from the three forms: "интересный" for masculine, "интересная" for feminine and "интересное" for neuter. The noun "книга" belongs to the feminine, so the correct translation for "interesting book" is "интересная книга". 
</p>
<p>
However, if the form of adjective, pronoun etc. is not correctly chosen and does not correspond to the noun’s gender, the phrase may be not correct, but still understandable for Russian people in most cases.
</p>
</div>
<span class="come-more-display">Read more</span>
</div>
	</div>
</div>


<br>
<p class="part-task">a) Listen and repeat the following examples :  </p>


<%
 @voc = [
 
{:text=>'мой п<span class="acco">а</span>спорт',
:sound=>'/audios/audio01033001.mp3',
:transcribe=>'m<span class="acct">o</span>y p<span class="acct">a</span>spart',
:translate=>' my passport '},
{:text=>'мо<i></i><span class="acco">я</span> в<span class="acco">и</span>за',
:sound=>'/audios/audio01033002.mp3',
:transcribe=>'may<span class="acct">a</span> v<span class="acct">i</span>za',
:translate=>' my visa '},
{:text=>'м<span class="acco">о</span>й бил<span class="acco">е</span>т',
:sound=>'/audios/audio01033003.mp3',
:transcribe=>'m<span class="acct">o</span>y bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t',
:translate=>' my ticket '},
{:text=>'м<span class="acco">о</span>й баг<span class="acco">а</span>ж',
:sound=>'/audios/audio01033004.mp3',
:transcribe=>'m<span class="acct">o</span>y bag<span class="acct">a</span>sh',
:translate=>' my luggage '},
{:text=>'моё такс<span class="acco">и</span>',
:sound=>'/audios/audio01033005.mp3',
:transcribe=>'may<span class="acct">o</span> taks<span class="acct">i</span>',
:translate=>' my taxi '}
  
 ]
%>

<%= render :partial => '/site/every/en_ru_model', :locals => {:voc => @voc} %>

<br><br>
<p class="part-task">b) Translate phrases from English into Russian:  </p>

<div class="su-exerc">

<%
 @phrases = [
{:q_text=>'It\'s my ticket. ',
:sound=>'/audios/audio01033010.mp3'},
{:q_text=>'It\'s my taxi. ',
:sound=>'/audios/audio01033020.mp3'},
{:q_text=>'It\'s my passport. ',
:sound=>'/audios/audio01033030.mp3'},
{:q_text=>'It\'s my luggage. ',
:sound=>'/audios/audio01033040.mp3'},
{:q_text=>'It\'s my visa. ',
:sound=>'/audios/audio01033050.mp3'} 
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>

</div>	
<br><br>

<h4 class="su-task">
V. Where is the baggage claim area? 
</h4>

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Construction Где находится ... ? </div>
	<div class="com-content">

<p>In the dialogue you could see the following construction:</p>

<table  cellspacing="0" >      
	<tr valign="top">
		 <td width="250">
		 <p class="bold"><u>Where is</u> the baggage claim area?</p></td>
	</tr>
	<tr valign="top">
		 <td><p style="margin-top: 0pt;"><u>Где нах<span class="acco">о</span>дится</u> в<span class="acco">ы</span>дача багаж<span class="acco">а</span>?<br />

		 		<span class="sound" onclick="playAudio('audio01040000.mp3')">[g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> nah<span class="acct">o</span>ditsa v<span class="acct"><span class="ry">i</span></span>dacha bagaj<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 		</p>

		 </td>
	</tr>
</table>

	</div>
</div>

<br>
<p class="part-task">a) Translate phrases from English into Russian:  </p>


<div class="su-exerc">
<%
 @phrases = [
{:q_text=>'Where is the entrance? ',
:sound=>'/audios/audio01041010.mp3'},
{:q_text=>'Where is the bar? ',
:sound=>'/audios/audio01041020.mp3'},
{:q_text=>'Where is the W.C.? ',
:sound=>'/audios/audio01041030.mp3'},
{:q_text=>'Where is the exit? ',
:sound=>'/audios/audio01041040.mp3'},
{:q_text=>'Where is the information office? ',
:sound=>'/audios/audio01041050.mp3'}
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>

</div>
<br>
<p class="part-task">b) Ask questions in Russian:  </p>



<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Polite address </div>
	<div class="com-content">

<p>If you address yourself to an unknown person with a question, you should begin your question with the following expression: </p>

<table  cellspacing="0" >      
	<tr valign="top">
		 <td width="250">
		 <p class="bold">Excuse me, please, ...</p></td>
	</tr>
	<tr valign="top">
		 <td><p style="margin-top: 0pt;">Извин<span class="acco">и</span>те, пож<span class="acco">а</span>луйста, ... <br />

		 		<span class="sound" onclick="playAudio('audio01042000.mp3')">[izvin<span class="acct">i</span>ti paj<span class="acct">a</span>loosta] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 		</p>
		 </td>
	</tr>
</table>

	</div>
</div>



<div class="su-exerc">
<%
 @phrases = [
{:q_text=>'- the way to the W.C. ',
:sound=>'/audios/audio01042010.mp3'},
{:q_text=>'- the way to the café',
:sound=>'/audios/audio01042020.mp3'},
{:q_text=>'- the way to the exit',
:sound=>'/audios/audio01042030.mp3'},
{:q_text=>'- the way to the bar',
:sound=>'/audios/audio01042040.mp3'}
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases, :title=>'Ask a stranger: '} %>

</div>




<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br><br>
	
	</div>
</div>




<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Revision</h3>
<p class="su-step-info">
Here you can do exercises for Russian grammar and lexical material of the lesson.
</p>


		
<h4 class="su-task"> 
Revise this lesson's materials 
</h4> 
 
 <p class="part-task">a) Listen and find the corresponding English phrases: </p>

<% 

@t_phrases = [
  {:text=> 'Goodbye!',
 :sound=>'/audios/audio01051010.mp3',
 :answer=> '1'
  },
 {:text=> 'Are you from America?',
 :sound=>'/audios/audio01051020.mp3', 
 :answer=> '2'
  },
 {:text=> 'Welcome to the USA!',
 :sound=>'/audios/audio01051030.mp3',
 :answer=> '3'
  },
 {:text=> 'Excuse me, please, where is the bar?',
 :sound=>'/audios/audio01051040.mp3', 
 :answer=> '4'
  },
 {:text=> 'I\'m an American.',
 :sound=>'/audios/audio01051050.mp3',
 :answer=> '5'
  },
 {:text=> 'Thank you!',
 :sound=>'/audios/audio01051060.mp3', 
 :answer=> '6'
  },
 {:text=> 'I\'m from Russia.',
 :sound=>'/audios/audio01051070.mp3',
 :answer=> '7'
  },
 {:text=> 'It is my ticket.',
 :sound=>'/audios/audio01051080.mp3',
 :answer=> '8'
  }

 ]

%>


<div id="ch4" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch4 = new ch_exercise( {
		id: "ch4", 
		test_id: "c0101050.V",
		quest_num: 12,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@t_phrases.length)-1 -%>
<% @t_phrases.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:text].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>
 
 
 <br> <br><br>
 
 
 <div class="rev-wrap">
	 <div class="rev-head">  In this lesson you have learned </div>
  <div class="rev-content">

<p>- <strong>Russian expressions to introduce yourself</strong></p>
 
<ul class="learnt-list">
	<li>Я Сэм Браун.</li>
	<li>Я американец.</li>
	<li>Я из Канады.</li>
</ul> 

<p>- <strong>The construction "<span class="ital">Это ...</span>"</strong>: </p>

<ul class="learnt-list">
	<li>Это билет.</li>
	<li>Это мой багаж.</li>

</ul> 

<p>- <strong>How to ask about a location:</strong> </p>

<ul class="learnt-list">
	<li>Где находится бар?</li>
</ul>

<p>- <strong>How to ask a stranger:</strong> </p>

<ul class="learnt-list">
	<li>Извините, пожалуйста, где находится выход?</li>

</ul>

<p>You have encountered some <strong>basic terms of courtesy</strong>:</p> 

<ul class="learnt-list">
	<li>- Здравствуйте.</li>
	<li>- Добро пожаловать.</li>
	<li>- Спасибо.</li>
	<li>- Пожалуйста.</li>
	<li>- До свидания.</li>
</ul>

<p>You have also learned general info about <strong>polite forms of address</strong> and <strong>grammatical gender</strong> in Russian</p>

 
<p style="margin-top: 30px;">In order to make sure you have understood all the material of the lesson and to get some additional information, we recommend you to visit the following pages: </p>

<ul class="last-links">
	<li><a href="/en/ru/vocabulary/politeness">Formulas of politeness</a></li>
	<li><a href="/en/ru/vocabulary/acquaintance">Acquaintance</a></li>
	<li><a href="/en/ru/vocabulary/airport" title="Airport">Airport</a></li>	
</ul>

  
 
  </div>
 </div>
 
 
 
 
 
 
 

<br><br><br><br><br><br><br><br><br><br><br><br>




	</div>
</div>






</div>


</div></div><!-- end of id content-->






<script type="text/javascript">
currentSection="course";
</script>
