<% @page_title = 'Lesson 3 :: Russian Online Lessons' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<%= javascript_include_tag 'dialog-player' %>
<%= stylesheet_link_tag 'dialog_player' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
</script>


<% end %>




<div id="pagecontent"><div id="content">
<div class="unit-area">


<div id="prof_tabs">
<%= render :partial => '/site/every/settings_block' %>

<div class="unit-title">
Lesson 3
</div>
<%= render :partial => '/site/every/en_ru_coverflow', :locals => {:active => 3} %>

	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Dialogue</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Vocabulary</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Practice</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Revision</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Dialogues</h3>
<p class="su-step-info">
Here you can work with dialogues of the lesson
</p>	
	

<h4 class="su-task" >
I. At the hotel
</h4>

<p class="part-task">a) Listen to the dialogue and read the translation</p>


<%= render :partial => '/site/every/dialog_player', 
			:locals => {:cluster_id => 102, :html_id=>"dc1",
						:d_title=>'Dialogue 3-1. At the hotel',
:content=> "Listen to the dialogue between John and the receptionist in a hotel. John has reserved a double room for 4 days in this hotel. The receptionists gives the key for the room 116 and tells that there is a bathroom, a telephone and a TV set in the room. John asks when he should pay and the receptionist answers that he can do it when he wants. "
			} %>	

				<script type="text/javascript"> 
					var  dc1 = new dialog_controls( {
					id: "dc1", 
					file: "/audios/audio03011100.mp3",
					tracks: [0,1332,2586,3997,6087,7337,9822,11598,15987,19096,25678,29000,30563,31687,]
				
					} )
				</script>
				
<br>
<p class="part-task">b) Listen and repeat the dialogue phrase by phrase</p>


<h4 class="su-task">
II. Useful phrases
</h4>

<p class="part-task">a) Find the translation of Russian phrases</p>




<div id="ds1" class="ds-wrapper" style="padding: 15px; margin: 20px 30px;">

<p class="ex-desc">
Listen to the phrases. Drag the English phrases from the list below <br>and drop them into the corresponding fields.
</p>		



<table align="center" style="margin: 0 auto;">
<tr>
<td>

<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="250">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013010.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013020.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013030.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013040.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013050.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013060.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013070.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 8
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013080.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" style="margin: 0 auto;" align="center">
<col width="170">
<col width="250">

<tr valign="top">
<td>
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>I have a reservation.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Any time you want.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>All is right.</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">8</span>Here are your keys.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>When should I pay?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Now or before the departure?</div></div>
	</li>
</ul>

</td>
</tr>
<tr valign="top">
<td colspan="2">
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Is there a bathroom in the room?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>You have a reservation for one double room for 4 days.</div></div>
	</li>
</ul>
</td>
</tr>
</table>


</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Check answers">

</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		test_id: "c0103013.I.c)",
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>

<br><br><br><br>

<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next part >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Vocabulary</h3>
<p class="su-step-info">
Here you can learn words and expressions of the lesson.
</p>	

<h4 class="su-task">
I. Is there a bathroom in the room?
</h4>
<p class="part-task">a) Learn Russian words:</p>

<%
 @voc1 = [
{:text=>'м<span class="acco">и</span>ни-б<span class="acco">а</span>р',
:id=> '139',
:sound=>'/audios/audio03021010.mp3',
:transcribe=>'m<span class="acct">i</span>ni b<span class="acct">a</span>r',
:translate=>' snack-bar '},
{:text=>'кондицион<span class="acco">е</span>р',
:id=> '136',
:sound=>'/audios/audio03021020.mp3',
:transcribe=>'kandits<span class="ry">i</span>a<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>r',
:translate=>' air-conditioner '},
{:text=>'холодильник',
:id=> '137',
:sound=>'/audios/audio03021030.mp3',
:transcribe=>'halad<span class="acct">i</span><span class="sftc">l</span>nik',
:translate=>' fridge '},
{:text=>'душ',
:id=> '154',
:sound=>'/audios/audio03021040.mp3',
:transcribe=>'d<span class="acct">oo</span>sh',
:translate=>' shower '},
{:text=>'в<span class="acct">а</span>нная',
:id=> '128',
:sound=>'/audios/audio03021050.mp3',
:transcribe=>'v<span class="acct">a</span>nnaya',
:translate=>' bath-room '},
{:text=>'телев<span class="acco">и</span>зор',
:sound=>'/audios/audio03021060.mp3',
:transcribe=>'tiliv<span class="acct">i</span>zar',
:translate=>' TV set '},
{:text=>'телеф<span class="acco">о</span>н',
:id=> '131',
:sound=>'/audios/audio03021070.mp3',
:transcribe=>'tilif<span class="acct">o</span>n',
:translate=>' phone '},
{:text=>'стол',
:sound=>'/audios/audio03021080.mp3',
:transcribe=>'st<span class="acct">o</span>l',
:translate=>' table '},
{:text=>'стул',
:sound=>'/audios/audio03021090.mp3',
:transcribe=>'st<span class="acct">oo</span>l',
:translate=>' chair '},
{:text=>'кр<span class="acco">е</span>сло',
:sound=>'/audios/audio03021100.mp3',
:transcribe=>'k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>sla',
:translate=>' armchair '},
{:text=>'див<span class="acco">а</span>н',
:sound=>'/audios/audio03021110.mp3',
:transcribe=>'div<span class="acct">a</span>n',
:translate=>' couch '},
{:text=>'кров<span class="acct">а</span>ть',
:sound=>'/audios/audio03021120.mp3',
:transcribe=>'krav<span class="acct">a</span><span class="sftc">t</span>',
:translate=>' bed '}
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc1} %>	
	
<br><br>

<p class="part-task">b) Translate phrases from English into Russian:</p>


<div class="su-exerc">
<%
 @phrases = [
{:q_text=>'It is a bath-room. ',
:sound=>'/audios/audio03021130.mp3'},
{:q_text=>'It\'s an air-conditioner.',
:sound=>'/audios/audio03021140.mp3'},
{:q_text=>'It\'s a table. ',
:sound=>'/audios/audio03021150.mp3'},
{:q_text=>'It\'s a shower. ',
:sound=>'/audios/audio03021160.mp3'},
{:q_text=>'It\'s a snack-bar. ',
:sound=>'/audios/audio03021170.mp3'},
{:q_text=>'It\'s a phone. ',
:sound=>'/audios/audio03021180.mp3'},
{:q_text=>'It\'s a bed. ',
:sound=>'/audios/audio03021190.mp3'},
{:q_text=>'It\'s a fridge. ',
:sound=>'/audios/audio03021200.mp3'} 
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>	
</div>

<br><br>

<h4 class="su-task">
II. Where is the restaurant?
</h4>

<p class="part-task">a) Learn Russian words:</p>

<%
 @voc2 = [
{:text=>'лифт',
:sound=>'/audios/audio03031010.mp3',
:transcribe=>'l<span class="acct">i</span>ft',
:translate=>' lift '},
{:text=>'рестор<span class="acco">а</span>н',
:sound=>'/audios/audio03031020.mp3',
:transcribe=>'ristar<span class="acct">a</span>n',
:translate=>' restaurant '},
{:text=>'буф<span class="acco">е</span>т',
:sound=>'/audios/audio03031030.mp3',
:transcribe=>'boo<span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span>t',
:translate=>' buffet '},
{:text=>'регистр<span class="acco">а</span>ция',
:sound=>'/audios/audio03031040.mp3',
:transcribe=>'rigistr<span class="acct">a</span>ts<span class="ry">i</span>ya',
:translate=>' reception '},
{:text=>'парикм<span class="acco">а</span>херская',
:sound=>'/audios/audio03031050.mp3',
:transcribe=>'parikm<span class="acct">a</span>hirskaya',
:translate=>' hairdressing saloon '},
{:text=>'пр<span class="acco">а</span>чечная',
:sound=>'/audios/audio03031060.mp3',
:transcribe=>'pr<span class="acct">a</span>chichnaya',
:translate=>' laundry '}
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc2} %>	
	
<br><br>

<p class="part-task">b) Ask a stranger: </p>


<div class="su-exerc">
<%
 @phrases = [
{:q_text=>'the reception',
:sound=>'/audios/audio03032010.mp3'},
{:q_text=>'the lift',
:sound=>'/audios/audio03032020.mp3'},
{:q_text=>'the hairdressing saloon',
:sound=>'/audios/audio03032030.mp3'},
{:q_text=>'the restaurant',
:sound=>'/audios/audio03032040.mp3'},
{:q_text=>'the buffet',
:sound=>'/audios/audio03032050.mp3'}
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases, :title=>'Ask a stranger where is: '} %>	

</div>


<br><br>


<h4 class="su-task">
III. This is your room
</h4>

<p class="part-task">a) Listen and find the corresponding English word: </p>

<% @voc1 = @voc1 | @voc2 %>


<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c0103022.II.b)",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@voc1.length)-1 -%>
<% @voc1.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:translate].to_s.gsub(/"/,'\"') %>"<%unless word[:id]==nil || word[:id]==''%>,'<%=word[:id]%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>

<br><br>

<h4 class="su-task">
IV. When should I pay?
</h4>

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Construction Мне нужно ... </div>
	<div class="com-content">

<p>In the previous lesson you have learned the construction "Мне нужно ...". Look at the following examples:</p>

<table  cellspacing="0" >

	<tr valign="top">
		<td width="200">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Мне н<span class="acco">у</span>жно ...<br />
		 						<span class="sound" onclick="playAudio('audio03060001.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I need, I must, I'd like</p>
		</td>
	</tr>

</table>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="200">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Вам н<span class="acco">у</span>жно ...<br />

		 						<span class="sound" onclick="playAudio('audio03060002.mp3')">[v<span class="acct">a</span>m n<span class="acct">oo</span>jna] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>

		<td valign="top"><p class="ital">You need, you should, you must ...</p>
		</td>
	</tr>
</table>	
	

	</div>
</div>

<p class="part-task">a) Learn Russian words:</p>


<%
 @voc2 = [
 
{:text=>'плат<span class="acco">и</span>ть',
:sound=>'/audios/audio03061010.mp3',
:transcribe=>'plat<span class="acct">i</span><span class="sftc">t</span>',
:translate=>' to pay '},
{:text=>'оплат<span class="acco">и</span>ть про<i></i><span class="acco">е</span>зд',
:sound=>'/audios/audio03061020.mp3',
:transcribe=>'aplat<span class="acct">i</span><span class="sftc">t</span> pray<span class="acct">e</span>st',
:translate=>' to pay the fare '},
{:text=>'оплат<span class="acco">и</span>ть н<span class="acco">о</span>мер',
:sound=>'/audios/audio03061030.mp3',
:transcribe=>'aplat<span class="acct">i</span><span class="sftc">t</span> n<span class="acct">o</span>mir',
:translate=>' to pay for the hotel room '},
{:text=>'оплат<span class="acco">и</span>ть такс<span class="acco">и</span>',
:sound=>'/audios/audio03061040.mp3',
:transcribe=>'aplat<span class="acct">i</span><span class="sftc">t</span> taks<span class="acct">i</span>',
:translate=>' to pay for the taxi '},
{:text=>'оплат<span class="acco">и</span>ть гост<span class="acco">и</span>ницу',
:sound=>'/audios/audio03061050.mp3',
:transcribe=>'aplat<span class="acct">i</span><span class="sftc">t</span> gast<span class="acct">i</span>nitsoo',
:translate=>' to pay for the hotel '}
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc2} %>	
	
<br><br>

<p class="part-task">b) Translate phrases from English into Russian: </p>

<div class="su-exerc">
<%
 @phrases = [
 
{:q_text=>'I need to pay for the hotel. ',
:sound=>'/audios/audio03062010.mp3'},
{:q_text=>'You must pay the fare. ',
:sound=>'/audios/audio03062020.mp3'},
{:q_text=>'I need to pay for the taxi. ',
:sound=>'/audios/audio03062030.mp3'},
{:q_text=>'I need to pay the fare. ',
:sound=>'/audios/audio03062040.mp3'},
{:q_text=>'You should pay for the hotel room. ',
:sound=>'/audios/audio03062050.mp3'},
{:q_text=>'Should I pay? ',
:sound=>'/audios/audio03062060.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>	


</div>
	
<br><br>		

<h4 class="su-task">
V. Russian numerals
</h4>

<p class="part-task">a) Learn Russian numerals from 11 to 19: </p>


<%
 @voc = [

 {:text=> '<span>од<span class="acco">и</span>ннадцать</span>',
  :number=> '11',
  :sound=> '/audios/audio03072001.mp3', 
  :transcribe=>'ad<span class="acct">i</span>natsa<span class="sftc">t</span>', 
  :translate=> 'eleven' 
  },
  {:text=> 'двен<span class="acco">а</span>дцать',
  :number=> '12',
  :sound=> '/audios/audio03072002.mp3', 
  :transcribe=>'dvin<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'twelve' 
  },
  {:text=> 'трин<span class="acco">а</span>дцать',
  :number=> '13',
  :sound=> '/audios/audio03072003.mp3', 
  :transcribe=>'trin<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'thirteen' 
  },
  {:text=> 'чет<span class="acco">ы</span>рнадцать',
  :number=> '14',
  :sound=> '/audios/audio03072004.mp3', 
  :transcribe=>'chit<span class="acct"><span class="ry">i</span></span>rnatsa<span class="sftc">t</span>', 
  :translate=> 'fourteen' 
  },
  {:text=> 'пятн<span class="acco">а</span>дцать',
  :number=> '15',
  :sound=> '/audios/audio03072005.mp3', 
  :transcribe=>'pitn<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'fifteen' 
  },
  {:text=> 'шестн<span class="acco">а</span>дцать',
  :number=> '16',
  :sound=> '/audios/audio03072006.mp3', 
  :transcribe=>'sh<span class="ry">i</span>sn<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'sixteen' 
  },
  {:text=> 'семн<span class="acco">а</span>дцать',
  :number=> '17',
  :sound=> '/audios/audio03072007.mp3', 
  :transcribe=>'simn<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'seventeen' 
  },
  {:text=> 'восемн<span class="acco">а</span>дцать',
  :number=> '18',
  :sound=> '/audios/audio03072008.mp3', 
  :transcribe=>'vasimn<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'eighteen' 
  },
  {:text=> 'девятн<span class="acco">а</span>дцать',
  :number=> '19',
  :sound=> '/audios/audio03072009.mp3', 
  :transcribe=>'divitn<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'nineteen' 
  }
  
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc} %>	
	
<br><br>	
<p class="part-task">b) Listen to the Russian numeral and write it (with figures 1, 2, 3 etc.) in the text area: </p>
	
	
<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "c0103252",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		basic_array: [
		
<% @last_item_index = (@voc.length)-1 -%>
<% @voc.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:number].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>




<br><br><br><br>


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next part >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Practice</h3>
<p class="su-step-info">
Here you can learn grammar and lexical rules of the lesson.
</p>


<h4 class="su-task">
I. Is there a telephone in the room? 
</h4>	

<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Construction Есть ...</div>
	<div class="com-content">
<p>In the dialogue above you have seen the following construction:</p> 
<table  cellspacing="0" >      
	<tr valign="top"> 
		 <td width="270"> 
 
		 <p class="bold"><u>Is there</u> a bathroom <u><em>in</em></u> the room?</p></td> 
         <td width="30"><p>-</p> 
         </td> 
		 <td><p class="bold">Yes, <u>there is</u> a bathroom, a telephone and a TV set <u><em>in</em></u> the room? </p></td> 
 
	</tr> 
	<tr valign="top"> 
		 <td><p><u><em>В</em></u> н<span class="acco">о</span>мере <u>есть</u> в<span class="acco">а</span>нная к<span class="acco">о</span>мната?<br /> 
 
		 		<span class="sound" onclick="playAudio('audio03040001.mp3')">[v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> v<span class="acct">a</span>nnaya k<span class="acct">o</span>mnata?] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span> 
 
		 		</p> 
		 </td> 
         <td><p>-</p></td> 
		 <td> 
		 	<p style="margin-bottom: 0px;">Да. <u><em>В</em></u> н<span class="acco">о</span>мере <u>есть</u> в<span class="acco">а</span>нная, телеф<span class="acco">о</span>н и телев<span class="acco">и</span>зор.</p> 
 
		 	<table onclick="playAudio('audio03040002.mp3')" class="audiotrans"  cellspacing="0" style="cursor: pointer;"> 
				<tr> 
					<td>[d<span class="acct">a</span>. v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> v<span class="acct">a</span>nnaya, tilif<span class="acct">o</span>n i tiliv<span class="acct">i</span>zar.]     
					</td> 
 
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp;&nbsp;</span></div> 
					</td> 
				</tr> 
			</table> 
		 	
		 </td> 
	</tr> 
</table> 
 
<p><strong>"Есть"</strong> may indicate the presence of an object somewhere or the possession of an object and, depending on the context, it can be translated by the expression "there is" or the verb "to have".</p>


	</div>
</div>

<br>
<p class="part-task">a) Listen and repeat the following examples:   </p>

<%

 @voc_train = [
 
{:text1=>'В н<span class="acco">о</span>мере <u>есть</u> телеф<span class="acco">о</span>н?',
:sound1=>'/audios/audio03040011.mp3',
:transcribe1=>'v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> tilif<span class="acct">o</span>n?',
:text2=>'Да, в н<span class="acco">о</span>мере <u>есть</u> телеф<span class="acco">о</span>н.',
:sound2=>'/audios/audio03040012.mp3',
:transcribe2=>'d<span class="acct">a</span>. v n<span class="acct">o</span>mi<span class="sftc">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> tilif<span class="acct">o</span>n',
:translate=>'Is there a phone in the room? - Yes, there is a telephone in the room.'},
 
{:text1=>'В гост<span class="acco">и</span>нице <u>есть</u> рестор<span class="acco">а</span>н?',
:sound1=>'/audios/audio03040021.mp3',
:transcribe1=>'v gast<span class="acct">i</span>nitse y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> ristar<span class="acct">a</span>n?',
:text2=>'Да, в гост<span class="acco">и</span>нице <u>есть</u> рестор<span class="acco">а</span>н.',
:sound2=>'/audios/audio03040022.mp3',
:transcribe2=>'da, v gast<span class="acct">i</span>nitse y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> ristar<span class="acct">a</span>n',
:translate=>'Is there a restaurant in the hotel? - Yes, there is a restaurant in the hotel.'},
 
{:text1=>'У Вас есть бил<span class="acco">е</span>т?',
:sound1=>'/audios/audio03040031.mp3',
:transcribe1=>'oo v<span class="acct">a</span>s y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t?',
:text2=>'Да, у мен<span class="acco">я</span> есть бил<span class="acco">е</span>т.',
:sound2=>'/audios/audio03040032.mp3',
:transcribe2=>'d<span class="acct">a</span>, oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t',
:translate=>'Do you have a ticket? - Yes, I have a ticket.'}
 ]
%>

<%= render :partial => '/site/every/en_ru_voc_train2', :locals => {:voc => @voc_train} %>

<br><br>
<p class="part-task">b) Using the following expression, translate phrases into Russian:   </p>

<div class="egmodel"> 
<h4>Expression</h4> 
<table  cellspacing="0" > 
	<tr valign="top"> 
		<td width="180"> 
			<table  cellspacing="0" > 
					<tr valign="top"> 
		 				<td> 
		 					<p>В н<span class="acco">о</span>мере есть ...<br /> 
 
		 						<span class="sound" onclick="playAudio('audio03041000.mp3')">[v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> 
		 					</p> 
		 				</td> 
 
					</tr> 
				</table> 
		</td> 
		<td valign="top"><p class="ital">In the room there is ...</p> 
		</td> 
	</tr> 
</table>
</div>

<br>

<div class="su-exerc">
<%
 @phrases = [
 
{:q_text=>'Is there a TV set in the room? ',
:sound=>'/audios/audio03041010.mp3'},
{:q_text=>'Is there a shower in the room? ',
:sound=>'/audios/audio03041020.mp3'},
{:q_text=>'Is there a snack-bar in the room? ',
:sound=>'/audios/audio03041030.mp3'},
{:q_text=>'Is there an air-conditionner in the room? ',
:sound=>'/audios/audio03041040.mp3'},
{:q_text=>'Is there a fridge in the room? ',
:sound=>'/audios/audio03041050.mp3'},
{:q_text=>'Is there is a bathroom in the room? ',
:sound=>'/audios/audio03041060.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>	

</div>


<br><br>
<p class="part-task">c) Using the following expression, translate phrases into Russian:   </p>

<div class="egmodel">
<h4>Expression</h4> 
<table  cellspacing="0" > 
	<tr valign="top"> 
		<td width="200"> 
			<table  cellspacing="0" > 
					<tr valign="top"> 
		 				<td> 
 
		 					<p>В гост<span class="acco">и</span>нице есть ...<br /> 
		 						<span class="sound" onclick="playAudio('audio03042000.mp3')">[v gast<span class="acct">i</span>nitse y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> 
		 					</p> 
 
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top"><p class="ital">In the hotel there is ...</p> 
		</td> 
	</tr> 
</table> 
</div>

<br>

<div class="su-exerc">
<%
 @phrases = [
 
{:q_text=>'Is there a laundary in the hotel? ',
:sound=>'/audios/audio03042010.mp3'},
{:q_text=>'There is a retaurant in the hotel. ',
:sound=>'/audios/audio03042020.mp3'},
{:q_text=>'There is a lift in the hotel. ',
:sound=>'/audios/audio03042030.mp3'},
{:q_text=>'Is there a hairdressing saloon in the hotel? ',
:sound=>'/audios/audio03042040.mp3'},
{:q_text=>'There is a reception in the hotel. ',
:sound=>'/audios/audio03042050.mp3'},
{:q_text=>'Is there a bar in the hotel? ',
:sound=>'/audios/audio03042060.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>	

</div>


<br><br>
<h4 class="su-task">
II. Do you have a TV set?
</h4>

<p class="part-task">a) Using the following expressions, build phrases in Russian:    </p>

<div class="egmodel"> 
<table  cellspacing="0" > 
	<tr valign="top"> 
		<td width="200"> 
			<table  cellspacing="0" > 
					<tr valign="top"> 
 
		 				<td> 
		 					<p>У мен<span class="acco">я</span> есть ...<br /> 
		 						<span class="sound" onclick="playAudio('audio03043001.mp3')">[oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> 
 
		 					</p> 
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top"><p class="ital">I have ...</p> 
		</td> 
	</tr> 
</table> 
 
<table  cellspacing="0" > 
	<tr valign="top"> 
		<td width="200"> 
			<table  cellspacing="0" > 
					<tr valign="top"> 
		 				<td> 
		 					<p>У Вас есть ...<br /> 
		 						<span class="sound" onclick="playAudio('audio03043002.mp3')">[oo v<span class="acct">a</span>s y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> 
 
		 					</p> 
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top"><p class="ital">You have ...</p> 
		</td> 
	</tr> 
</table> 
</div>


<br><br>

<div class="su-exerc">
<div id="di2">	
				
<p class="ex-desc">Drag and drop the following words to build phrases. You can read correct answers by clicking the button "Display answers"</p> 

<br> 
<table class="di_variants noselect di_var_view" cellspacing="14" align="center" >
<tr> 
	<td> 
		<div>меня</div> 
	</td> 
	<td> 
		<div>Вас</div> 
	</td> 
	<td > 
		<div>телефон</div> 
	</td> 
 
	<td colspan="2"> 
		<div>телевизор</div> 
	</td> 
</tr> 
<tr> 
	<td> 
		<div> У </div> 
	</td> 
	<td> 
		<div>есть</div> 
	</td> 
	<td> 
		<div>виза</div> 
	</td> 
	<td> 
		<div>билет</div> 
	</td> 
	<td> 
		<div>багаж</div> 
	</td> 
</tr> 
</table> 
<br> 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">c0103044.IV.d)</div>
<%
 @phrases = [
{:to_bild=> "I have luggage.", 
:answer=>'У меня есть багаж', 
:show=> 'У меня есть багаж.',
:sound=>'/audios/audio03043003.mp3'},
{:to_bild=> "You have a ticket.", 
:answer=>'У Вас есть билет', 
:show=> 'У Вас есть билет.',
:sound=>'/audios/audio03043004.mp3'},
{:to_bild=> "Do you have a telephone?", 
:answer=>'У Вас есть телефон', 
:show=> 'У Вас есть телефон?',
:sound=>'/audios/audio03043030.mp3'},
{:to_bild=> "I have a visa.", 
:answer=>'У меня есть виза', 
:show=> 'У меня есть виза.',
:sound=>'/audios/audio03043040.mp3'},
{:to_bild=> "Do you have a TV set?", 
:answer=>'У Вас есть телевизор', 
:show=> 'У Вас есть телевизор?',
:sound=>'/audios/audio03043050.mp3'},
{:to_bild=> "I have a telephone.", 
:answer=>'У меня есть телефон', 
:show=> 'У меня есть телефон.',
:sound=>'/audios/audio03043060.mp3'}
 ]
%>
<%= render :partial => '/site/every/en_ru_pseudo', :locals => {:phrases => @phrases} %>

</div>
</div>
</div> 
<script type="text/javascript"> 
	var di2 = new draginput_test( {
		id: "di2", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		variant_elem: "di_variants div"

		} )
</script>


<br><br>



<h4 class="su-task">
III. Is it your passport? 
</h4>	


<div class="com-wrap">
	<div class="com-head"><span class="com-h-ico"></span>Particularities of Russian sentences</div>
	<div class="com-content">
	
<p>In this and previous lessons you have seen Russian words "мой" (my) and "Ваш" (your). Notice that depending on the grammatical gender and number of the following noun these words may change.</p> 
 
<p> 
- "мой" [m<span class="acct">o</span>y] and "Ваш" [v<span class="acct">a</span>sh] for masculine<br /> 
 
- "мо<i></i><span class="acco">я</span>" [may<span class="acct">a</span>] and "В<span class="acco">а</span>ша" [v<span class="acct">a</span>sha] for faminine <br /> 
- "моё" [may<span class="acct">o</span>] and "В<span class="acco">а</span>ше" [v<span class="acct">a</span>she] for neuter<br /> 
 
- "мо<i></i><span class="acco">и</span>" [ma<span class="acct">i</span>] and "В<span class="acco">а</span>ши" [v<span class="acct">a</span>sh<span class="ry">i</span>] for plural
</p> 

	</div>
</div>

<br>
<p class="part-task">a) Listen and repeat the following examples with these words:</p>

<%

 @voc_train = [
 
{:text1=>'<span class="acco">Э</span>то <u>Ваш</u> баг<span class="acco">а</span>ж?',
:sound1=>'/audios/audio03051011.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh bag<span class="acct">a</span>sh?',
:text2=>'Да, <span class="acco">э</span>то <u>мой</u> баг<span class="acco">а</span>ж.',
:sound2=>'/audios/audio03051012.mp3',
:transcribe2=>'d<span class="acct">a</span>. <span class="acct">e</span>ta m<span class="acct">o</span>y bag<span class="acct">a</span>sh',
:translate=>'Is this your luggage? - Yes, this is my lugagage.'},
 
{:text1=>'<span class="acco">Э</span>то <u>Ваш</u> ключ?',
:sound1=>'/audios/audio03051021.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh k<span class="sftv">l</span><span class="sfty">y</span>ooch?',
:text2=>'Да, <span class="acco">э</span>то <u>мой</u> ключ.',
:sound2=>'/audios/audio03051022.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta m<span class="acct">o</span>y k<span class="sftv">l</span><span class="sfty">y</span><span class="acct">oo</span>ch',
:translate=>'Is this your key? - Yes, this is my key'},
 
{:text1=>'<span class="acco">Э</span>то <u>В<span class="acco">а</span>ша</u> к<span class="acco">о</span>мната?',
:sound1=>'/audios/audio03051031.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sha k<span class="acct">o</span>mnata?',
:text2=>'Да, <span class="acco">э</span>то <u>мо<i></i><span class="acco">я</span></u> к<span class="acco">о</span>мната.',
:sound2=>'/audios/audio03051032.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">a</span> k<span class="acct">o</span>mnata',
:translate=>'Is this your room? - Yes, this is my room.'},
 
{:text1=>'<span class="acco">Э</span>то <u>В<span class="acco">а</span>ша</u> фам<span class="acco">и</span>лия?',
:sound1=>'/audios/audio03051041.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sha fam<span class="acct">i</span>liya?',
:text2=>'Да, <span class="acco">э</span>то <u>мо<i></i><span class="acco">я</span></u> фам<span class="acco">и</span>лия.',
:sound2=>'/audios/audio03051042.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">a</span> fam<span class="acct">i</span>liya',
:translate=>'Is this your surname? - Yes, this is my surname.'},
 
{:text1=>'<span class="acco"><span class="acco">Э</span>то <u>В<span class="acco">а</span>ше</u> <span class="acco">и</span>мя?',
:sound1=>'/audios/audio03051051.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>she <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a?',
:text2=>'Да, <span class="acco">э</span>то <u>моё</u> <span class="acco">и</span>мя.',
:sound2=>'/audios/audio03051052.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">o</span> <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a',
:translate=>'Is this your name? - Yes, this is my name.'},
 
{:text1=>'<span class="acco"><span class="acco">Э</span>то <u>В<span class="acco">а</span>ши</u> в<span class="acco">е</span>щи?',
:sound1=>'/audios/audio03051061.mp3',
:transcribe1=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh<span class="ry">i</span> <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>schi?',
:text2=>'Да, <span class="acco">э</span>то <u>мо<i></i><span class="acco">и</span></u> в<span class="acco">е</span>щи.',
:sound2=>'/audios/audio03051062.mp3',
:transcribe2=>'d<span class="acct">a</span>, <span class="acct">e</span>ta ma<span class="acct">i</span> <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>schi',
:translate=>'Are these your things? - Yes, these are my things.'}

 ]
%>

<%= render :partial => '/site/every/en_ru_voc_train2', :locals => {:voc => @voc_train} %>


<br><br>
<p class="part-task">b) Translate phrases from English into Russian </p>

<div class="su-exerc">
<%
 @phrases = [
 
{:q_text=>'<span class="acco">Э</span>то Ваш н<span class="acco">о</span>мер? - ... ',
:q_sound=>'audio03052011.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh n<span class="acct">o</span>mir? ',
:sound=>'/audios/audio03052012.mp3'},
{:q_text=>'<span class="acco">Э</span>то В<span class="acco">а</span>ше такс<span class="acco">и</span>? - ... ',
:q_sound=>'audio03052021.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>she taks<span class="acct">i</span>? ',
:sound=>'/audios/audio03052022.mp3'},
{:q_text=>'<span class="acco">Э</span>то В<span class="acco">а</span>ши бил<span class="acco">е</span>ты? - ... ',
:q_sound=>'audio03052023.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh<span class="ry">i</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t<span class="ry">i</span> ',
:sound=>'/audios/audio03052032.mp3'},
{:q_text=>'<span class="acco">Э</span>то В<span class="acco">а</span>ша гост<span class="acco">и</span>ница? - ... ',
:q_sound=>'audio03052041.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sha gast<span class="acct">i</span>nitsa? ',
:sound=>'/audios/audio03052042.mp3'},
{:q_text=>'<span class="acco">Э</span>то Ваш телеф<span class="acco">о</span>н? - ... ',
:q_sound=>'audio03052051.mp3',
:q_transcribe=>'<span class="acct">e</span>ta v<span class="acct">a</span>sh tilif<span class="acct">o</span>n? ',
:sound=>'/audios/audio03052052.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>

</div>

<br><br>


<h4 class="su-task">
IV. Where is the reception?
</h4>

<p class="part-task">a) Listen to the mini-dialogues and complete the test: </p>

<div class="su-exerc"> 
 
<div class="task">Choose an appropriate variant to continue the phrase:</div> 
 
<div  class="gr_ex_variants"> 
<div class="gr-ex-testid">c0103033.III.c)</div> 

<div class="gex-area-trans">
 
<div  class="gr_ex_variants_wrap gexv_with_trans"> 

<%
 @mini_d = [
{:sound=>'/audios/audio03033010.mp3'},
{:sound=>'/audios/audio03033020.mp3'},
{:sound=>'/audios/audio03033030.mp3'}
 ]
%>
<%= render :partial => '/site/every/en_ru_mdiag_list', :locals => {:mini_d => @mini_d} %>

<br><br>
<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0"> 
	<tr> 
		<td> 
			<div class="gexv_task gexv_sign"> 
				1. <span>The restaurant is:</span>
			</div> 
			<div class="gexv_variant"><input type="checkbox"> to the left</div> 
			<div class="gexv_variant"><input type="checkbox" class="ok"> to the right</div> 
			<div class="gexv_variant"><input type="checkbox"> straight ahead</div> 
		</td> 
	</tr>  
	<tr> 
		<td> 
			<div class="gexv_task gexv_sign"> 
				2. <span>The hairdressing saloon is:</span>
			</div> 
			<div class="gexv_variant"><input type="checkbox"> to the left</div> 
			<div class="gexv_variant"><input type="checkbox"> to the right</div> 
			<div class="gexv_variant"><input type="checkbox"  class="ok"> straight ahead</div> 
		</td> 
	</tr>
	<tr> 
		<td> 
			<div class="gexv_task gexv_sign"> 
				3. <span>The reception is:</span>
			</div> 
			<div class="gexv_variant"><input type="checkbox" class="ok"> to the left</div> 
			<div class="gexv_variant"><input type="checkbox"> to the right</div> 
			<div class="gexv_variant"><input type="checkbox"> straight ahead</div> 
		</td> 
	</tr>
</table> 
</div> 
</div> 

<p class="gexv_check es-ex-buttons gex-es-btn"> 
	<input type="button" value="Check answers">
</p> 
 
</div> 

</div> <!-- end of su-ex  --> 
 

 
 
 <br><br>
 
 
 <h4 class="su-task">
V. Accomodation
</h4>	

<p class="part-task">
a) Look at the examples of these numerals with the noun <span class="norm_txt"><em>день&nbsp;<span class="s-ound" style="clear: left;" onclick="playAudio('audio-03071001.mp3')">[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>]&nbsp;<span class="p-lay_tip">&nbsp;</span></span></em></span> - "day" in the following expressions:
</p>

<%
 @voc = [
 
{:text=>'на од<span class="acco">и</span>н день',
:sound=>'/audios/audio03071001.mp3',
:transcribe=>'na ad<span class="acct">i</span>n <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>',
:translate=>' for one day '},
{:text=>'на 2-4 дня',
:sound=>'/audios/audio03071002.mp3',
:transcribe=>'na dv<span class="acct">a</span> chit<span class="acct"><span class="ry">i</span></span>ri d<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span>',
:translate=>' for 2-4 days '},
{:text=>'на 5-10 дней',
:sound=>'/audios/audio03071003.mp3',
:transcribe=>'na <span class="sftv">p</span><span class="sfty">y</span><span class="acct">a</span>t <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span> d<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' for 5-10 days '}
  
 ]
%>

<%= render :partial => '/site/every/en_ru_model', :locals => {:voc => @voc} %>

<br><br>


<p class="part-task">b) Learn the following expression and translate into Russian: </p>

<div class="egmodel"> 
<h4>Expression</h4>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">
				<p><span>У мен<span class="acco">я</span> зарезерв<span class="acco">и</span>рован н<span class="acco">о</span>мер ...</span><br />

					<span class="sound" onclick="playAudio('audio03071005.mp3')">[oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> zarizirv<span class="acct">i</span>ravan n<span class="acct">o</span>mir]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>

			<td>
				<span class="ital">I have reserved a room ...</span>
			</td>
	</tr>
</table>
</div>
</div>


<div class="su-exerc">

<%
 @phrases = [
 
{:q_text=>'I have reserved a room for 10 days. ',
:sound=>'/audios/audio03071010.mp3'},
{:q_text=>'I have reserved a room for 1 day. ',
:sound=>'/audios/audio03071020.mp3'},
{:q_text=>'I have reserved a room for 3 days. ',
:sound=>'/audios/audio03071030.mp3'},
{:q_text=>'I have reserved a room for 8 days. ',
:sound=>'/audios/audio03071040.mp3'},
{:q_text=>'I have reserved a room for 2 days. ',
:sound=>'/audios/audio03071050.mp3'}

 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>

</div>

<br><br>

<h4 class="su-task">
VI. Mini-dialogues 
</h4>

<p class="part-task">a) Revise numerals from 11 to 19. Listen to the mini-dialogues and complete the following test:</p>

<div class="su-exerc"> 
<div>	
				
<p class="task">Enter an appropriate numeral in the text area:</p> 
 
<div  class="gr_ex_type"> 
<div class="gr-ex-testid">c0103073.VII.c)</div> 
 
<div class="gex-area-trans"> 

<%
 @mini_d = [
{:sound=>'/audios/audio03073010.mp3'},
{:sound=>'/audios/audio03073020.mp3'},
{:sound=>'/audios/audio03073030.mp3'},
{:sound=>'/audios/audio03073040.mp3'},
{:sound=>'/audios/audio03073050.mp3'}

 ]
%>
<%= render :partial => '/site/every/en_ru_mdiag_list', :locals => {:mini_d => @mini_d} %>

<br><br>
 
<div class="gext_task gext_sign"> 
1.	The fare is <input type="text" style="width: 30px" value=""> <span class="gext_answer" style="display: none">14</span> rubles for the bus.
</div> 
<div class="gext_task gext_sign"> 
2.	The hotel room is reserved for <input type="text" style="width: 30px" value=""> <span class="gext_answer" style="display: none">12</span> days.
</div> 
<div class="gext_task gext_sign"> 
3. The fare is <input type="text" style="width: 30px" value=""> <span class="gext_answer" style="display: none">18</span> rubles for the tram.
</div> 
<div class="gext_task gext_sign"> 
4.	 The visit to the W.C. costs <input type="text" style="width: 30px" value=""> <span class="gext_answer" style="display: none">15</span> rubles.
</div> 
<div class="gext_task gext_sign"> 
5.	The fare is <input type="text" style="width: 30px" value=""> <span class="gext_answer" style="display: none">11</span> rubles for the trolley.
</div> 
 
</div><!-- end of gex-area-trans --> 
 
 
 
<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > </p> 
 
 
</div> 
</div> 
</div> <!-- end of su-exerc -->





<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next part >>" onclick="openNextStep(4)">
</div>	
	
	
	</div>
</div>




<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Revision</h3>
<p class="su-step-info">
Revise materials from this lesson
</p>


	
<h4 class="su-task"> 
Revise this lesson's materials 
</h4> 
 
 <p class="part-task">a) Listen and find the corresponding English phrases: </p>	


<% 

@t_phrases = [
  {:text=> 'Is there a bathroom in the room?',
 :sound=>'/audios/audio03013030.mp3',
 :answer=> '1'
  },
 {:text=> 'It\'s a phone.',
 :sound=>'/audios/audio03021180.mp3', 
 :answer=> '2'
  },
 {:text=> 'It\'s a fridge. ',
 :sound=>'/audios/audio03021200.mp3',
 :answer=> '3'
  },
 {:text=> 'Excuse me, please, where is the restaurant?',
 :sound=>'/audios/audio03032040.mp3', 
 :answer=> '4'
  },
 {:text=> 'Is there a shower in the room? ',
 :sound=>'/audios/audio03041020.mp3',
 :answer=> '5'
  },
 {:text=> 'Is there a bar in the hotel?',
 :sound=>'/audios/audio03042060.mp3',
 :answer=> '6'
  },
 {:text=> 'I have luggage. ',
 :sound=>'/audios/audio03043003.mp3', 
 :answer=> '7'
  },
 {:text=> 'I need to pay for the hotel. ',
 :sound=>'/audios/audio03062010.mp3',
 :answer=> '8'
  },
 {:text=> 'I have reserved a room for 3 days.',
 :sound=>'/audios/audio03071030.mp3',
 :answer=> '9'
  },
 {:text=> 'I have reserved a room for 2 days.',
 :sound=>'/audios/audio03071050.mp3',
 :answer=> '10'
  }

 ]

%>

<div id="ch4" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch4 = new ch_exercise( {
		id: "ch4", 
		test_id: "c0103411",
		quest_num: 12,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@t_phrases.length)-1 -%>
<% @t_phrases.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:text].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>
 
 
<br><br><br>
 
 
 <div class="rev-wrap">
	 <div class="rev-head">  In this lesson you have learned </div>
  <div class="rev-content">

<p>- <strong>Words and expressions on the topic "Hotel".</strong></p>

<p>- Constructions which you can use to say about the <strong>availability of something</strong>:</p> 

<ul class="learnt-list">
	<li>В номере есть телефон.</li>

	<li>У меня есть билет.</li>
</ul>
<p>
- The fact that in Russian <strong>"мой" and "Ваш" have several forms</strong> and their use depends on the grammatical gender and number of the nouns that follow them: 
</p>

<ul class="learnt-list">
	<li>Это мой билет.</li>
	<li>Это моя виза.</li>
	<li>Это мои вещи.</li>	

</ul> 

<p>- You have also continued working with the <strong>construction "Мне нужно"</strong>:</p>  

<ul class="learnt-list">
	<li>Мне нужно оплатить гостиницу.</li>
	<li>Вам нужно оплатить такси.</li>
</ul> 

<p>- You have learned the <strong>numerals from 11 to 20</strong>.</p>

<p>
In order to make sure you have understood all the material of the lesson and to get some additional information, we recommend you to visit the following pages: 
</p>

<ul class="last-links">
	<li><a href="/en/ru/vocabulary/hotel">Hotel</a></li>
	<li><a href="/en/ru/vocabulary/services">Services</a></li>
	<li><a href="/numerals00-100.html">Numerals from 1 to 100</a></li>
</ul>

  
 
  </div>
 </div>
 

 
 

<br><br><br><br><br><br><br><br>



	</div>
</div>






</div>





</div></div><!-- end of id content-->



<script type="text/javascript">
currentSection="course";
</script>
