<% @page_title = 'Lesson 2 :: Russian Online Lessons' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
</script>


<% end %>





<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Lesson 2
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Dialogue</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Vocabulary</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Practice</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Revision</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Review</h3>
<p class="su-step-info">
Here you can review lexical and grammer structures of the lesson
</p>	
	

<h4 class="su-task">
Task 1. Listen, repeat and read the translation
</h4>

	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">

<%
cat = Cluster.find(72)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>

	<tr>
		<td class="su-pres-audio"><%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%></td>
		<td class="su-pres-orig">
			<%= word.text %>
			<div class="ru-transcript" style="display: none;">[<%= word.transcribe %>]</div>
		</td>
		<td class="su-pres-trans"><%= word.translate %></td>
	</tr>
<%end%>
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Task 2. Listen to the phrase and find it in the list.
</h4>



<div id="ds1" class="ds-wrapper" style="padding: 15px; margin: 20px 30px;">

<p style="font-size: 11px; text-align: center;">
Listen to the phrases. Drag the English phrases from the list below <br>and drop them into the corresponding fields.
</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="250">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013010.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013020.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013030.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013040.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013050.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013060.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013070.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 8
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio02013080.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>
</tr>
<tr>
<td>
<br>
<br>
<table class="ds_variants_list" style="margin: 0 auto;" align="center">
<col width="170">
<col width="250">
<tr valign="top">
<td>
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">8</span>Very good.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Are you free?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>How much is the fare?</div></div>
	</li>
</ul>
</td>
<td>
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>You're welcome.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>I need to go to the Gorky street.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>How much does it cost?</div></div>
	</li>
</ul>

</td>
</tr>
<tr valign="top">
<td colspan="2">
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>How many stops are there to get to the Lenin square?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Where is a ticket office over here?</div></div>
	</li>
</ul>
</td>
</tr>
</table>


</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Check answers">

</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		test_id: "c0101013.I.c)",
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next step >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Vocabulary</h3>
<p class="su-step-info">
Here you can learn words and expressions of the lesson.
</p>	

<h4 class="su-task">
Task 1. Read and repeat the words and expressions of the lesson.
</h4>
<%
 @voc1 = [
{:text=>'к<span class="acco">а</span>сса',
:sound=>'/audios/audio02021010.mp3',
:transcribe=>'k<span class="acct">a</span>ssa',
:translate=>' ticket office '},
{:text=>'трамв<span class="acco">а</span>й',
:sound=>'/audios/audio02021020.mp3',
:transcribe=>'tramv<span class="acct">a</span>y',
:translate=>' tramway '},
{:text=>'тролл<span class="acct">е</span>йбус',
:sound=>'/audios/audio02021030.mp3',
:transcribe=>'tra<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>boos',
:translate=>' trolleybus '},
{:text=>'маш<span class="acco">и</span>на',
:sound=>'/audios/audio02021040.mp3',
:transcribe=>'mash<span class="acct"><span class="ry">i</span></span>na',
:translate=>' car '},
{:text=>'остан<span class="acco">о</span>вка',
:sound=>'/audios/audio02021050.mp3',
:transcribe=>'astan<span class="acct">o</span>fka',
:translate=>' stop '},
{:text=>'авт<span class="acco">о</span>бусная остан<span class="acco">о</span>вка',
:sound=>'/audios/audio02021060.mp3',
:transcribe=>'aft<span class="acct">o</span>boosnaya astan<span class="acct">o</span>fka',
:translate=>' bus stop '},
{:text=>'трамв<span class="acco">а</span>йная остан<span class="acco">о</span>вка',
:sound=>'/audios/audio02021070.mp3',
:transcribe=>'tramv<span class="acct">a</span>ynaya astan<span class="acct">o</span>fka',
:translate=>' tramway stop '},
{:text=>'тролл<span class="acco">е</span>йбусная остан<span class="acco">о</span>вка',
:sound=>'/audios/audio02021080.mp3',
:transcribe=>'tra<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>boosnaya astan<span class="acct">o</span>fka',
:translate=>' trolleybus stop '},
{:text=>'ст<span class="acco">а</span>нция метр<span class="acco">о</span>',
:sound=>'/audios/audio02021090.mp3',
:transcribe=>'st<span class="acct">a</span>nts<span class="ry">i</span>ya mitr<span class="acct">o</span>',
:translate=>' subway station '},
{:text=>'схема метро',
:sound=>'/audios/audio02021100.mp3',
:transcribe=>'s<span class="sftv">h</span><span class="sfty">y</span><span class="acct">e</span>ma mitr<span class="acct">o</span>',
:translate=>' subway lines plan '},
{:text=>'сто<span class="acco">я</span>нка такс<span class="acco">и</span>',
:sound=>'/audios/audio02021110.mp3',
:transcribe=>'stay<span class="acct">a</span>nka taks<span class="acct">i</span>',
:translate=>' taxi parking '}
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc1} %>	
	
<br><br><br><br>


<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@voc1.length)-1 -%>
<% @voc1.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:translate].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>


<h4 class="su-task">
Task 2. Listen to the phrase and find it in the list.
</h4>

<%
 @voc2 = [
{:text=>'<span class="acco">у</span>лица',
:sound=>'/audios/audio02031010.mp3',
:transcribe=>'<span class="acct">oo</span>litsa',
:translate=>' street '},
{:text=>'пл<span class="acco">о</span>щадь',
:sound=>'/audios/audio02031020.mp3',
:transcribe=>'pl<span class="acct">o</span>scha<span class="sftc">t</span>',
:translate=>' square '},
{:text=>'гост<span class="acco">и</span>ница',
:sound=>'/audios/audio02031030.mp3',
:transcribe=>'gast<span class="acct">i</span>nitsa',
:translate=>' hotel '},
{:text=>'аэроп<span class="acco">о</span>рт',
:sound=>'/audios/audio02031040.mp3',
:transcribe=>'airap<span class="acct">o</span>rt',
:translate=>' airport '},
{:text=>'вокз<span class="acco">а</span>л',
:sound=>'/audios/audio02031050.mp3',
:transcribe=>'vagz<span class="acct">a</span>l',
:translate=>' railway station '}
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc2} %>	
	
<br><br>

<div class="su-exerc">
<p class="task">Translate phrases from English into Russian.</p> 
<%
 @phrases = [
 
{:q_text=>'It is a square. ',
:sound=>'/audios/audio02033010.mp3'},
{:q_text=>'It is a hotel. ',
:sound=>'/audios/audio02033020.mp3'},
{:q_text=>'It is the airport. ',
:sound=>'/audios/audio02033030.mp3'},
{:q_text=>'It is the railway station. ',
:sound=>'/audios/audio02033040.mp3'},
{:q_text=>'It is a street. ',
:sound=>'/audios/audio02033050.mp3'} 
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>	


</div>
	
	

<h4 class="su-task">
Task 3. Learn Russian numerals.
</h4>

<%
 @voc = [

 {:text=> 'од<span class="acco">и</span>н',
  :number=> '1',
  :sound=> '/audios/audio02071101.mp3', 
  :transcribe=>'ad<span class="acct">i</span>n', 
  :translate=> 'one' 
  },
  {:text=> 'два',
  :number=> '2',
  :sound=> '/audios/audio02071102.mp3', 
  :transcribe=>'dv<span class="acct">a</span>', 
  :translate=> 'two' 
  },
  {:text=> 'три',
  :number=> '3',
  :sound=> '/audios/audio02071103.mp3', 
  :transcribe=>'tr<span class="acct">i</span>', 
  :translate=> 'three' 
  },
  {:text=> 'чет<span class="acco">ы</span>ре',
  :number=> '4',
  :sound=> '/audios/audio02071104.mp3', 
  :transcribe=>'chit<span class="acct"><span class="ry">i</span></span>ri', 
  :translate=> 'four' 
  },
  {:text=> 'пять',
  :number=> '5',
  :sound=> '/audios/audio02071105.mp3', 
  :transcribe=>'py<span class="acct">a</span><span class="sftc">t</span>', 
  :translate=> 'five' 
  }
  
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc} %>	
	

<br><br><br><br>


<%
 @voc = [

{:text=>'1 (одн<span class="acco">а</span>) остан<span class="acco">о</span>вка',
:sound=>'/audios/audio02071201.mp3',
:transcribe=>'adn<span class="acct">a</span> astan<span class="acct">o</span>fka',
:translate=>' one stop '},
{:text=>'2 (две) остан<span class="acco">о</span>вки',
:sound=>'/audios/audio02071202.mp3',
:transcribe=>'d<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span> astan<span class="acct">o</span>fki',
:translate=>' two stops '},
{:text=>'3 (три) остан<span class="acco">о</span>вки',
:sound=>'/audios/audio02071203.mp3',
:transcribe=>'tr<span class="acct">i</span> astan<span class="acct">o</span>fki',
:translate=>' three stops '},
{:text=>'4 (чет<span class="acco">ы</span>ре) остан<span class="acco">о</span>вки',
:sound=>'/audios/audio02071204.mp3',
:transcribe=>'chit<span class="acct"><span class="ry">i</span></span>ri astan<span class="acct">o</span>fki',
:translate=>' four stops '},
{:text=>'5 (пять) остан<span class="acco">о</span>вок',
:sound=>'/audios/audio02071205.mp3',
:transcribe=>'<span class="sftv">p</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> astan<span class="acct">o</span>vak',
:translate=>' five stops '},
{:text=>'6 (шесть) остан<span class="acco">о</span>вок',
:sound=>'/audios/audio02071206.mp3',
:transcribe=>'sh<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> astan<span class="acct">o</span>vak',
:translate=>' six stops '},
{:text=>'7 (семь) остан<span class="acco">о</span>вок',
:sound=>'/audios/audio02071207.mp3',
:transcribe=>'<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">m</span> astan<span class="acct">o</span>vak',
:translate=>' seven stops '},
{:text=>'8 (в<span class="acco">о</span>семь) остан<span class="acco">о</span>вок',
:sound=>'/audios/audio02071208.mp3',
:transcribe=>'v<span class="acct">o</span>si<span class="sftc">m</span> astan<span class="acct">o</span>vak',
:translate=>' eight stops '},
{:text=>'9 (д<span class="acco">е</span>вять) остан<span class="acco">о</span>вок',
:sound=>'/audios/audio02071209.mp3',
:transcribe=>'<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>vi<span class="sftc">t</span> astan<span class="acct">o</span>vak',
:translate=>' nine stops '},
{:text=>'10 (д<span class="acco">е</span>сять) остан<span class="acco">о</span>вок',
:sound=>'/audios/audio02071210.mp3',
:transcribe=>'<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span> astan<span class="acct">o</span>vak',
:translate=>' ten stops '}
  
 ]
%>
<%= render :partial => '/site/every/en_ru_voc_tr', :locals => {:voc => @voc} %>


<br><br>


<%
 @voc = [

{:text=>'1 (од<span class="acco">и</span>н) рубль',
:sound=>'/audios/audio02071301.mp3',
:transcribe=>'ad<span class="acct">i</span>n r<span class="acct">oo</span>b<span class="sftc">l</span>',
:translate=>' one ruble '},
{:text=>'2 (два) рубл<span class="acco">я</span>',
:sound=>'/audios/audio02071302.mp3',
:transcribe=>'dv<span class="acct">a</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>',
:translate=>' two rubles '},
{:text=>'3 (три) рубл<span class="acco">я</span>',
:sound=>'/audios/audio02071303.mp3',
:transcribe=>'tr<span class="acct">i</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>',
:translate=>' three rubles '},
{:text=>'4 (чет<span class="acco">ы</span>ре) рубл<span class="acco">я</span>',
:sound=>'/audios/audio02071304.mp3',
:transcribe=>'chit<span class="acct"><span class="ry">i</span></span>ri roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>',
:translate=>' four rubles '},
{:text=>'5 (пять) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02071305.mp3',
:transcribe=>'<span class="sftv">p</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' five rubles '},
{:text=>'6 (шесть) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02071306.mp3',
:transcribe=>'sh<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' six rubles '},
{:text=>'7 (семь) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02071307.mp3',
:transcribe=>'<span class="sftv">s</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">m</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' seven rubles '},
{:text=>'8 (в<span class="acco">о</span>семь) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02071308.mp3',
:transcribe=>'v<span class="acct">o</span>si<span class="sftc">m</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' eight rubles '},
{:text=>'9 (д<span class="acco">е</span>вять) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02071309.mp3',
:transcribe=>'<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>vi<span class="sftc">t</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' nine rubles '},
{:text=>'10 (д<span class="acco">е</span>сять) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02071310.mp3',
:transcribe=>'<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' ten rubles '}
  
 ]
%>
<%= render :partial => '/site/every/en_ru_voc_tr', :locals => {:voc => @voc} %>




<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		basic_array: [
		
<% @last_item_index = (@voc.length)-1 -%>
<% @voc.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:number].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>



<h4 class="su-task">
Task 3. Learn Russian numerals.
</h4>

<%
 @voc = [

 {:text=> 'д<span class="acco">е</span>сять',
  :number=> '10',
  :sound=> '/audios/audio02073101.mp3', 
  :transcribe=>'<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span>', 
  :translate=> 'ten' 
  },
  {:text=> 'дв<span class="acco">а</span>дцать',
  :number=> '20',
  :sound=> '/audios/audio02073102.mp3', 
  :transcribe=>'dv<span class="acct">a</span>tsa<span class="sftc">t</span>', 
  :translate=> 'twenty' 
  },
  {:text=> 'тр<span class="acco">и</span>дцать',
  :number=> '30',
  :sound=> '/audios/audio02073103.mp3', 
  :transcribe=>'tr<span class="acct">i</span>tsa<span class="sftc">t</span>', 
  :translate=> 'thirty' 
  },
  {:text=> 'с<span class="acco">о</span>рок',
  :number=> '40',
  :sound=> '/audios/audio02073104.mp3', 
  :transcribe=>'s<span class="acct">o</span>rak', 
  :translate=> 'fourty' 
  },
  {:text=> 'пятьдес<span class="acco">я</span>т',
  :number=> '50',
  :sound=> '/audios/audio02073105.mp3', 
  :transcribe=>'pitdi<span class="sftv">s</span><span class="sfty">y</span><span class="acct">a</span>t', 
  :translate=> 'fifty' 
  }
  
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc} %>	
	

<br><br>


<br><br>


<%
 @voc = [

{:text=>'10 (д<span class="acco">е</span>сять) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02073201.mp3',
:transcribe=>'<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' ten rubles '},
{:text=>'20 (дв<span class="acco">а</span>дцать) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02073202.mp3',
:transcribe=>'dv<span class="acct">a</span>tsa<span class="sftc">t</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' twenty rubles '},
{:text=>'30 (тр<span class="acco">и</span>дцать) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02073203.mp3',
:transcribe=>'tr<span class="acct">i</span>tsa<span class="sftc">t</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' thirty rubles '},
 {:text=>'90 (девян<span class="acco">о</span>сто) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02073209.mp3',
:transcribe=>'divin<span class="acct">o</span>sta roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' ninety rubles'},
{:text=>'100 (сто) рубл<span class="acco">е</span>й',
:sound=>'/audios/audio02073210.mp3',
:transcribe=>'st<span class="acct">o</span> roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y',
:translate=>' one hundred rubles '}


 ]
%>

<%= render :partial => '/site/every/en_ru_voc_tr', :locals => {:voc => @voc} %>




<br><br>


<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		basic_array: [
		
<% @last_item_index = (@voc.length)-1 -%>
<% @voc.each_with_index  do |word, index| -%>
['<%= word[:sound] %>', "<%= word[:translate].to_s.gsub(/"/,'\"') %>"]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>




<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Next step >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Practice</h3>
<p class="su-step-info">
Here you can learn grammar and lexical rules of the lesson.
</p>


<h4 class="su-task">
Task 1. Ask questions
</h4>	

<div class="su-exerc">
<p class="task"> Ask a stranger:</p>
<%
 @phrases = [
{:q_text=>'- the subway station',
:sound=>'/audios/audio02022010.mp3'},
{:q_text=>'- the taxi parking',
:sound=>'/audios/audio02022020.mp3'},
{:q_text=>'- the stop',
:sound=>'/audios/audio02022030.mp3'},
{:q_text=>'- the ticket office',
:sound=>'/audios/audio02022040.mp3'}
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>

</div>	


<h4 class="su-task">
Task 3. Read the following expressions 
</h4>	


<%
 @voc = [
 
{:text=>'на авт<span class="acco">о</span>бусе',
:sound=>'/audios/audio02061010.mp3',
:transcribe=>'na aft<span class="acct">o</span>boo<span class="sftv">s</span><span class="sfty">y</span>e',
:translate=>' on the bus, by bus '},
{:text=>'на такс<span class="acco">и</span>',
:sound=>'/audios/audio02061020.mp3',
:transcribe=>'na taks<span class="acct">i</span>',
:translate=>' on the taxi, by taxi '},
{:text=>'на метр<span class="acco">о</span>',
:sound=>'/audios/audio02061030.mp3',
:transcribe=>'na mitr<span class="acct">o</span>',
:translate=>' by underground '},
{:text=>'на тролл<span class="acco">е</span>йбусе',
:sound=>'/audios/audio02061040.mp3',
:transcribe=>'na tra<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>boo<span class="sftv">s</span><span class="sfty">y</span>e',
:translate=>' by trolleybus '},
{:text=>'на трамв<span class="acco">а</span><i></i>е',
:sound=>'/audios/audio02061050.mp3',
:transcribe=>'na tramv<span class="acct">a</span>ye',
:translate=>' by tram '}
  
 ]
%>

<%= render :partial => '/site/every/en_ru_model', :locals => {:voc => @voc} %>


<br><br>

<div class="su-exerc">
<div id="di2">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 

<br> 
<table style="margin: 0 auto; border: 1px dashed #000; background-color: #fff" class="di_variants noselect" cellspacing="14" align="center" > 

<tr>
	<td colspan="2">
		<div>Сколько</div>
	</td>
	<td>
		<div>стоит</div>
	</td>
	<td >
		<div>троллейбусе</div>
	</td>
	<td>
		<div>такси</div>
	</td>
</tr>
<tr>
	<td>
		<div>на </div>
	</td>
	<td>
		<div>метро</div>
	</td>
	<td>
		<div>проезд</div>
	</td>
	<td>
		<div>автобусе</div>
	</td>
	<td>
		<div>трамвае</div>
	</td>

</tr>
</table>  
<br> 
 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid"></div>
<%
 @phrases = [
{:to_bild=> "How much is the fare by underground?", 
:answer=>'Сколько стоит проезд на метро', 
:show=> 'Сколько стоит проезд на метро?', 
:sound=>'/audios/audio02062010.mp3'},
{:to_bild=> "How much is the fare by taxi?", 
:answer=>'Сколько стоит проезд на такси', 
:show=> 'Сколько стоит проезд на такси?', 
:sound=>'/audios/audio02062020.mp3'},
{:to_bild=> "How much is the fare by bus?", 
:answer=>'Сколько стоит проезд на автобусе', 
:show=> 'Сколько стоит проезд на автобусе?', 
:sound=>'/audios/audio02062030.mp3'},
{:to_bild=> "How much is the fare by tram?", 
:answer=>'Сколько стоит проезд на трамвае', 
:show=> 'Сколько стоит проезд на трамвае?', 
:sound=>'/audios/audio02062040.mp3'},
{:to_bild=> "How much is the fare by trolley?", 
:answer=>'Сколько стоит проезд на троллейбусе', 
:show=> 'Сколько стоит проезд на троллейбусе?', 
:sound=>'/audios/audio02062050.mp3'}
 ]
%>
<%= render :partial => '/site/every/en_ru_pseudo', :locals => {:phrases => @phrases} %>

</div>
</div>
</div> 
<script type="text/javascript"> 
	var di2 = new draginput_test( {
		id: "di2", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		variant_elem: "di_variants div"

		} )
</script>


<br><br>



	
<h4 class="su-task">
Task 2. Listen to the phrase and find it in the list.
</h4>	


<div class="egdiv"> 
<h4>Model:</h4>
<table  cellspacing="0" style="margin: 0 15px;">      
	<tr valign="top">
		 <td><div><span class="acco">Э</span>то вокз<span class="acco">а</span>л?<br />
		 		<span class="sound" onclick="playAudio('audio02032001.mp3')">[<span class="acct">e</span>ta vagz<span class="acct">a</span>l?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 		</div>

		 </td>
         <td>-</td>
		 <td>
		 	<div>Да, <span class="acco">э</span>то вокз<span class="acco">а</span>л.<br />
		 		<span class="sound" onclick="playAudio('audio02032002.mp3')">[d<span class="acct">a</span>, <span class="acct">e</span>ta vagz<span class="acct">a</span>l] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 	</div>
		 </td>
		 <td>
		 	<div>(Нет, <span class="acco">э</span>то аэроп<span class="acco">о</span>рт.)<br />
		 		<span class="sound" onclick="playAudio('audio02032003.mp3')">[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t, <span class="acct">e</span>ta airap<span class="acct">o</span>rt] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 	</div>
		 </td>
	</tr>
	<tr valign="top">

		 <td width="180">
		 <div class="bold">Is it a ralway station?</div></td>
         <td width="30"><div>-</div>
         </td>
		 <td><div class="bold">Yes, it is a ralway station.<br /></div></td>
		 <td><div class="bold">(No, it is an airport)<br /></div></td>
	</tr>
</table>
</div>





<div class="su-exerc">


<img src="images/street.jpg" style="display: block; width: 135px; height: 86px; margin-bottom: 10px;"/>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="200">
				<p><span class="acco">Э</span>то вокз<span class="acco">а</span>л? -  ...  <br />
					<span class="sound" onclick="playAudio('audio02032011.mp3')">[<span class="acct">e</span>ta vagz<span class="acct">a</span>l?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio02032012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>

<div style="border-top: 1px dotted #666"></div>
<br>
<img src="images/airport.jpg" style="display: block; width: 135px; height: 86px; margin-bottom: 10px;" />
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span class="acco">Э</span>то аэроп<span class="acco">о</span>рт? -  ... <br />
					<span class="sound" onclick="playAudio('audio02032021.mp3')">[<span class="acct">e</span>ta airap<span class="acct">o</span>rt?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio02032022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<div style="border-top: 1px dotted #666"></div>
<br>
<img src="images/square.jpg" style="display: block; width: 135px; height: 86px; margin-bottom: 10px;" />
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span class="acco">Э</span>то <span class="acco">у</span>лица? -  ... <br />

					<span class="sound" onclick="playAudio('audio02032031.mp3')">[<span class="acct">e</span>ta <span class="acct">oo</span>litsa?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playAudio('audio02032032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<div style="border-top: 1px dotted #666"></div>
<br>
<img src="images/hotel.jpg" style="display: block; width: 135px; height: 86px; margin-bottom: 10px;" />
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="200">
				<p><span class="acco">Э</span>то гост<span class="acco">и</span>ница? -  ... <br />
					<span class="sound" onclick="playAudio('audio02032041.mp3')">[<span class="acct">e</span>ta gast<span class="acct">i</span>nitsa?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio02032042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>
<div style="border-top: 1px dotted #666"></div>
<br>
<img src="images/station.jpg" style="display: block; width: 135px; height: 86px; margin-bottom: 10px;" />
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span class="acco">Э</span>то вокз<span class="acco">а</span>л? -  ... <br />
					<span class="sound" onclick="playAudio('audio02032051.mp3')">[<span class="acct">e</span>ta vagz<span class="acct">a</span>l?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio02032052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>



</div>

	
<br><br>

<h4 class="su-task">
Task 4. Read the following expressions 
</h4>	


<%
 @voc = [
 
{:text=>'на вокз<span class="acco">а</span>л',
:sound=>'/audios/audio02041010.mp3',
:transcribe=>'na vagz<span class="acct">a</span>l',
:translate=>' (to go) to the railway station '},
{:text=>'в аэроп<span class="acco">о</span>рт',
:sound=>'/audios/audio02041020.mp3',
:transcribe=>'v airap<span class="acct">o</span>rt',
:translate=>' (to go) to the airport '},
{:text=>'в гост<span class="acco">и</span>ницу "Росс<span class="acco">и</span><i></i>я"',
:sound=>'/audios/audio02041030.mp3',
:transcribe=>'v gast<span class="acct">i</span>nitsoo ras<span class="acct">i</span>ya',
:translate=>' (to go) to the hotel "Rossiya" '},
{:text=>'на <span class="acco">у</span>лицу Л<span class="acco">е</span>нина',
:sound=>'/audios/audio02041040.mp3',
:transcribe=>'na <span class="acct">oo</span>litsoo <span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>nina',
:translate=>' (to go) to the Lenin street '},
{:text=>'на пл<span class="acco">о</span>щадь Поб<span class="acco">е</span>ды',
:sound=>'/audios/audio02041050.mp3',
:transcribe=>'na pl<span class="acct">o</span>scha<span class="sftc">t</span> pa<span class="sftv">b</span><span class="sfty">y</span><span class="acct">e</span>d<span class="ry">i</span>',
:translate=>' (to go) to the Pobeda square '}
  
 ]
%>

<%= render :partial => '/site/every/en_ru_model', :locals => {:voc => @voc} %>


<br><br>

<div class="su-exerc">
<p class="task">Translate phrases from English into Russian.</p>

<%
 @phrases = [
{:q_text=>'I need to go to the Lenin street. ',
:sound=>'/audios/audio02042010.mp3'},
{:q_text=>'I need to go to the Pobeda square. ',
:sound=>'/audios/audio02042020.mp3'},
{:q_text=>'I need to go to the hotel "Rossiya". ',
:sound=>'/audios/audio02042030.mp3'},
{:q_text=>'I need to go to the airport. ',
:sound=>'/audios/audio02042040.mp3'},
{:q_text=>'I need to go to the railway station. ',
:sound=>'/audios/audio02042050.mp3'}
 ]
%>

<%= render :partial => '/site/every/en_ru_oral_transl', :locals => {:phrases => @phrases} %>

</div>	



<br><br>

<h4 class="su-task">
Task 5.  Learn the following Russian words and complete the test 
</h4>


<%
 @voc = [

{:text=>'спр<span class="acco">а</span>ва',
:sound=>'/audios/audio02051010.mp3',
:transcribe=>'spr<span class="acct">a</span>va',
:translate=>' to the right '},
{:text=>'сл<span class="acco">е</span>ва',
:sound=>'/audios/audio02051020.mp3',
:transcribe=>'s<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>va',
:translate=>' to the left '},
{:text=>'пр<span class="acco">я</span>мо',
:sound=>'/audios/audio02051030.mp3',
:transcribe=>'p<span class="sftv">r</span><span class="sfty">y</span><span class="acct">a</span>ma',
:translate=>' straight ahead '}
  
 ]
%>
<%= render :partial => '/site/every/en_ru_voc', :locals => {:voc => @voc} %>

<br><br>


<div class="su-exerc"> 
 
<div class="task">Choose an appropriate variant to continue the phrase:</div> 
 
<div  class="gr_ex_variants"> 
<div class="gr-ex-testid"></div> 
 
<div  class="gr_ex_variants_wrap gexv_with_trans"> 

<%
 @mini_d = [
{:sound=>'/audios/audio02052010.mp3'},
{:sound=>'/audios/audio02052020.mp3'},
{:sound=>'/audios/audio02052030.mp3'}
 ]
%>
<%= render :partial => '/site/every/en_ru_mdiag_list', :locals => {:mini_d => @mini_d} %>

<br><br>
<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0"> 
	<tr> 
		<td> 
			<div class="gexv_task gexv_sign"> 
				1. <span>The railway station is:</span>
			</div> 
			<div class="gexv_variant"><input type="checkbox"> to the left</div> 
			<div class="gexv_variant"><input type="checkbox" class="ok"> to the right</div> 
			<div class="gexv_variant"><input type="checkbox"> straight ahead</div> 
		</td> 
	</tr>  
	<tr> 
		<td> 
			<div class="gexv_task gexv_sign"> 
				2. <span> The taxi parking is:</span>
			</div> 
			<div class="gexv_variant"><input type="checkbox"> to the left</div> 
			<div class="gexv_variant"><input type="checkbox"> to the right</div> 
			<div class="gexv_variant"><input type="checkbox"  class="ok"> straight ahead</div> 
		</td> 
	</tr>
	<tr> 
		<td> 
			<div class="gexv_task gexv_sign"> 
				3. <span>The bus stop is:</span>
			</div> 
			<div class="gexv_variant"><input type="checkbox" class="ok"> to the left</div> 
			<div class="gexv_variant"><input type="checkbox"> to the right</div> 
			<div class="gexv_variant"><input type="checkbox"> straight ahead</div> 
		</td> 
	</tr>
</table> 
</div> 
 
<p class="gexv_check es-ex-buttons gex-es-btn"> 
	<input type="button" value="Check answers">
</p> 
 
</div> 

</div> <!-- end of su-ex  --> 
 


<h4 class="su-task">
Task 5.  Listen to the mini-dialogues and do the following tasks: 
</h4>

<div class="su-exerc"> 
<div>	
				
<p class="task">Enter an appropriate numeral in the text area:</p> 
 
<div  class="gr_ex_type"> 
<div class="gr-ex-testid"></div> 
 
<div class="gex-area-trans"> 

<%
 @mini_d = [
{:sound=>'/audios/audio02072010.mp3'},
{:sound=>'/audios/audio02072020.mp3'},
{:sound=>'/audios/audio02072030.mp3'},
{:sound=>'/audios/audio02072040.mp3'},
{:sound=>'/audios/audio02072050.mp3'}

 ]
%>
<%= render :partial => '/site/every/en_ru_mdiag_list', :locals => {:mini_d => @mini_d} %>

<br><br>
 
<div class="gext_task gext_sign"> 
1.	There are <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">4</span> stops to go to the Pushkin square.
</div> 
<div class="gext_task gext_sign"> 
2.	There are <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">3</span> stops to go to the railway station.
</div> 
<div class="gext_task gext_sign"> 
3.	There are <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">1</span> stops to go to the Gorky street.
</div> 
<div class="gext_task gext_sign"> 
4.	The fare is <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">8</span> rubles for the bus.
</div> 
<div class="gext_task gext_sign"> 
5.	The fare is <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">6</span> rubles for the trolley.
</div> 
 
</div><!-- end of gex-area-trans --> 
 
 
 
<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > </p> 
 
 
</div> 
</div> 
</div> <!-- end of su-exerc -->



<h4 class="su-task">
Task 5.  Listen to the mini-dialogues and do the following tasks: 
</h4>

<div class="su-exerc"> 
<div>	
				
<p class="task">Enter an appropriate numeral in the text area:</p> 
 
<div  class="gr_ex_type"> 
<div class="gr-ex-testid"></div> 
 
<div class="gex-area-trans"> 

<%
 @mini_d = [
{:sound=>'/audios/audio02074010.mp3'},
{:sound=>'/audios/audio02074020.mp3'},
{:sound=>'/audios/audio02074030.mp3'},
{:sound=>'/audios/audio02074040.mp3'},
{:sound=>'/audios/audio02074050.mp3'}

 ]
%>
<%= render :partial => '/site/every/en_ru_mdiag_list', :locals => {:mini_d => @mini_d} %>

<br><br>
 
<div class="gext_task gext_sign"> 
1. It costs <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">100</span> rubles to go to the hotel by taxi.
</div> 
<div class="gext_task gext_sign"> 
2.	The fare is <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">10</span> rubles for the tram.
</div> 
<div class="gext_task gext_sign"> 
3.	It costs <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">80</span> rubles to go to the Gorky street by taxi.
</div> 
<div class="gext_task gext_sign"> 
4.	The fare is <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">20</span> rubles for the underground.
</div> 
<div class="gext_task gext_sign"> 
5.	 It costs <input type="text" style="width: 25px" value=""> <span class="gext_answer" style="display: none">60</span>  rubles to go to the Pushkin square by taxi.
</div> 
 
</div><!-- end of gex-area-trans --> 
 
 
 
<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > </p> 
 
 
</div> 
</div> 
</div> <!-- end of su-exerc -->


















<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br><br>
	
	</div>
</div>




<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Here you can do exercises for Russian grammar and lexical material of the lesson.
</p>


	
	
<h4 class="su-task"> 
Task 1. Revise this lesson's materials and complete the test
</h4> 
 

 
 
<div id="ds3" class="ds-wrapper" style="padding: 15px;">

<p class="task" align="center">Drag and drop the flags and press "Check answers" </p>	


<% 

@t_phrases = [
  {:text=> 'Goodbye!',
 :sound=>'/audios/audio01051010.mp3',
 :answer=> '1'
  },
 {:text=> 'Are you from America?',
 :sound=>'/audios/audio01051020.mp3', 
 :answer=> '2'
  },
 {:text=> 'Welcome to the USA!',
 :sound=>'/audios/audio01051030.mp3',
 :answer=> '3'
  },
 {:text=> 'Excuse me, please, where is the bar?',
 :sound=>'/audios/audio01051040.mp3', 
 :answer=> '4'
  },
 {:text=> 'I\'m an American.',
 :sound=>'/audios/audio01051050.mp3',
 :answer=> '5'
  },
 {:text=> 'Thank you!',
 :sound=>'/audios/audio01051060.mp3', 
 :answer=> '6'
  },
 {:text=> 'I\'m from Russia.',
 :sound=>'/audios/audio01051070.mp3',
 :answer=> '7'
  },
 {:text=> 'It is my ticket.',
 :sound=>'/audios/audio01051080.mp3',
 :answer=> '8'
  }

 ]

%>

<%= render :partial => '/site/every/en_ru_ddtest', :locals => {:t_phrases => @t_phrases} %>

</div>

<script type="text/javascript"> 
	var ds3 = new dragsort_test( {
		id: "ds3", 			
		targets: "ds-answer",	
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F6FAFF",
		auto_check: false
		} )
</script>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

<br><br><br><br>




	</div>
</div>






</div>









<script type="text/javascript">
currentSection="course";
</script>
