<% @page_title = 'Online Russian Flashcards: Making acquaintance' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Making acquaintance with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'flashcard-k' %>
<%= stylesheet_link_tag 'flashcard' %>
<%= javascript_include_tag 'es-virtual-keyboard' %>
<%= stylesheet_link_tag 'keyboard' %>

<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="acquaintance.html">Making acquaintance</a></li>
			<li><a href="acquaintance-test.html">Tests: Making acquaintance</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards:  Making acquaintance</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="acquaintance.html">Making acquaintance</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['К<span class="acco">а</span>к В<span class="acco">а</span>с з<span class="acco">о</span>вут? ','What is your name? ','/sounds/sound01201.mp3','k<span class="acct">a</span>k v<span class="acct">a</span>s zav<span class="acct">oo</span>t? '],
['В<span class="acco">ы</span> господ<span class="acco">и</span>н ...? ','Are you Mr ... ? ','/sounds/sound01202.mp3','v<span class="acct"><span class="ry">i</span></span> gaspad<span class="acct">i</span>n ... ? '],
['В<span class="acco">ы</span> госпож<span class="acco">а</span> ... ? ','Are you Mrs ... ? ','/sounds/sound01203.mp3','v<span class="acct"><span class="ry">i</span></span> gaspaj<span class="acct">a</span> ... ? '],
['К<span class="acco">а</span>к В<span class="acco">а</span>ше <span class="acco">и</span>мя? ','What is your first name ...? ','/sounds/sound01204.mp3','k<span class="acct">a</span>k v<span class="acct">a</span>she <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a? '],
['К<span class="acco">а</span>к В<span class="acco">а</span>ша фам<span class="acco">и</span>лия? ','What is your last name? ','/sounds/sound01205.mp3','k<span class="acct">a</span>k v<span class="acct">a</span>sha fam<span class="acct">i</span>liya? '],
['Мен<span class="acco">я</span> зов<span class="acco">у</span>т ... ','My name is ... ','/sounds/sound01206.mp3','mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> zav<span class="acct">oo</span>t ... '],
['Моё <span class="acco">и</span>мя ... ','My first name is ... ','/sounds/sound01207.mp3','may<span class="acct">o</span> <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a ... '],
['Мо<span class="acco">я</span> фам<span class="acco">и</span>лия ... ','My last name is ... ','/sounds/sound01208.mp3','may<span class="acct">a</span> fam<span class="acct">i</span>liya ... '],
['Я ... ','I\'m ... ','/sounds/sound01209.mp3','ya ... '],
['При<span class="acco">я</span>тно познак<span class="acco">о</span>миться. ','Nice to meet you. ','/sounds/sound01210.mp3','priy<span class="acct">a</span>tna paznak<span class="acct">o</span>mitsa '],
['<span class="acco">О</span>чень при<span class="acco">я</span>тно. ','Pleased to meet you. ','/sounds/sound01211.mp3','<span class="acct">o</span>chi<span class="sftc">n</span> priy<span class="acct">a</span>tna '],
['Из как<span class="acco">о</span>й В<span class="acco">ы</span> стран<span class="acco">ы</span>? ','What country are you from? ','/sounds/sound01212.mp3','is kak<span class="acct">o</span>y v<span class="acct"><span class="ry">i</span></span> stran<span class="acct"><span class="ry">i</span></span>? '],
['Отк<span class="acco">у</span>да В<span class="acco">ы</span>? ','Where are you from? ','/sounds/sound01213.mp3','atk<span class="acct">oo</span>da v<span class="acct"><span class="ry">i</span></span>? '],
['В<span class="acco">ы</span> из СШ<span class="acco">А</span>? ','Are you from the USA? ','/sounds/sound01214.mp3','v<span class="acct"><span class="ry">i</span></span> is se she <span class="acct">a</span>? '],
['<span class="acco">Я</span> <span class="acco">и</span>з ... ','I\'m from ... ','/sounds/sound01215.mp3','y<span class="acct">a</span> is '],
['<span class="acco">Я</span> америк<span class="acco">а</span>нец. ','I\'m American. ','/sounds/sound01216.mp3','y<span class="acct">a</span> amirik<span class="acct">a</span>nits ']

		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="acquaintance-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound01201.mp3', '/sounds/sound01202.mp3', '/sounds/sound01203.mp3', '/sounds/sound01204.mp3', 
'/sounds/sound01205.mp3', '/sounds/sound01206.mp3', '/sounds/sound01207.mp3', '/sounds/sound01208.mp3', 
'/sounds/sound01209.mp3', '/sounds/sound01210.mp3', '/sounds/sound01211.mp3', '/sounds/sound01212.mp3', 
'/sounds/sound01213.mp3', '/sounds/sound01214.mp3', '/sounds/sound01215.mp3', '/sounds/sound01216.mp3'
)
</script>
