<% @page_title = 'Flashcard' %>
<% @page_meta = {'description' => "Online Russian Course for Beginners - Lesson 1: how to greet people in Russian, how to say goodbye, to thank and apologize in Russian."} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'flashcard' %>

<%= javascript_include_tag 'es-virtual-keyboard' %>
<%= stylesheet_link_tag 'keyboard' %>


<style type="text/css">

.jp_control {
width: 16px;
height: 16px;
background-image: url(/images/control_play.png);
background-repeat: no-repeat;
cursor: pointer;
}
.jp_control:hover {
background-image: url(/images/c_play_hover.png);
}
.jp_pause {
background-image: url(/images/c_pause_hover.png) !important;
}
.jp_pause {
background-image: url(/images/control_pause.png) !important;
}

.fl-sound {
position: relative;
overflow: visible;
width: 27px;
height: 27px;
}

.fl-transcript {
padding: 1px 4px 2px 15px;
}
.fl-sound .jp_control {
width: 27px;
height: 27px;
background-image: url(/images/play-25.png);
background-repeat: no-repeat;
background-position: 50% 50%;
background-color: #fff;
cursor: pointer;
}

.jp_con-trol:hover {
background-image: url(/images/c_play_hover.png);
}
.fl-sound  .jp_pause {
background-image: url(/images/pause-25.png) !important;
}

.jp_pau-se {
background-image: url(/images/control_pause.png) !important;
}


.fl-container {
border: 3px solid #99B2DF;
background-image: url("/images/fl-bg.png");
margin: 0 auto;
padding: 40px 40px 20px;
background-color: #AFCCFF;
text-align: left;
max-width: 550px;
}

.fl-window {
min-height: 570px;
}

.fl-prestart {
position: relative;
height: 330px;
border: 1px solid #999;
padding: 15px 3px;
background-color: #fff;
}

.fl-settings {
position: absolute;
left: 0;
top: 0;
background-image:url(/games/tip-ground.png);
border: 1px solid #dfdfdf;
padding:2px;
text-align:left;
font-size: 11px;
font-weight: bold;
color: #666;
}

.fl-set-list {
display: none;
font-weight: normal;
padding: 5px 10px 5px 5px;
line-height: 15px;
}

.fl-set-list a {
color: #555 !important;
background-color: transparent;
text-decoration: none;
padding: 2px;
}

.fl-set-list a:link {
color: #555 !important;
background-color: transparent;
text-decoration: none !important;
}
.fl-set-list a:visited {
color: #555 !important;
background-color: transparent;
}
.fl-set-list a:hover {
color: #fff !important;
background-color: #555!important;
}
.fl-set-list a:active {
color: #fff !important;
background-color: #555!important;
}




.fl-scroll {
overflow-x: hidden;
overflow-y: scroll;
}

.fl-init {
background-color: #fff;
bor-der: 1px solid #A4BFEF;
padding: 40px 40px 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: 1px 3px 6px #45546F;
-webkit-box-shadow: 1px 3px 6px #45546F;
box-shadow: 1px 3px 6px #45546F;
overflow: hidden;
}

.fl-work {
display: none;
back-ground-color: #DFEBFF;
padding: 5px 30px 40px;
text-align: center;
}

.fl-article-wrapper {
background-color: #fff;
padding: 15px 20px 5px;
margin: 0px 30px;
min-height: 170px;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 3px 6px #45546F;
-webkit-box-shadow: 1px 3px 6px #45546F;
box-shadow: 1px 3px 6px #45546F;
overflow: hidden;
}

.msie-sucks .fl-init, .msie-sucks .fl-article-wrapper {
border:5px solid #A8B6CF;
}

.msie-sucks .fl-article-wrapper {
max-width: 390px;
}

.msie-sucks .fl-back {
background-color: #C6DBFF;
background-image: none;
}

.fl-article-wrapper div {
text-align: center;
background-color: #fff;
}

.fl-start-wrapper {
text-align: center;
padding: 15px 15px 0;
}

.fl-translate {
margin-top: 10px;
font-size: 15px;
font-weight: bold;
min-height: 40px;
line-height: 18px;
}

.fl-original {
font-size: 25px;
color: #3F3F3F;
line-height: 32px;
}

.fl-buttons-wrapper {
padding: 0px 0 20px;
text-align: center;
}


.fl-tests div.fl-test-option {
background-color: #EFEFEF;
padding: 6px 20px;
margin: 2px 20px;
border: 1px solid #A7BBDF;
cursor: default;
font-weight: bold;
color: #444444;
}

.fl-tests div.fl-test-option:hover {
background-color: #fff;
color: #111111;
}

.fl-tests div.fl-not-answer {
background-color: #dfdfdf !important;
text-decoration: line-through;
color: #999999;
}

.fl-tests div.fl-not-answer:hover {
color: #999999;
}

.fl-next {
width: 100px;
height: 22px;
line-height: 22px;
margin: 0 auto;
position: relative;
padding: 5px 10px 5px 20px ;
border: 1px solid #818FCF;
font-size: 18px;
font-wei-ght: bold;
text-align: center;
color: #353D5F;
cursor: pointer;
overflow: hidden;
}

.fl-start {
width: 100px;
height: 22px;
line-height: 22px;
margin: 0 auto;
position: relative;
padding: 5px 10px 5px 20px ;
border: 1px solid #6F6F6F;
background-color:#CFCFCF;
font-size: 18px;
font-wei-ght: bold;
text-align: center;
color: #000;
text-shadow: 0px 1px 0px #fff;
cursor: pointer;
overflow: hidden;
}

.fl-start:hover {
background-color: #7FA1FF;
}

.fl-stop {
position: relative;
padding: 3px 10px;
border: 1px solid #8E95AF;
font-size: 14px;
font-wei-ght: bold;
text-align: center;
color: #222222;
cursor: pointer;
overflow: hidden;
}

.fl-cancel {
text-align: center;
padding: 3px 10px;
cursor: pointer;
border: 1px solid #8E95AF;
}

.fl-cancel:hover {
background-color: #FF8C2F;
font-weight: bold;
}

.fl-cancel {
width: 60px;
position: absolute;
right: 15px;
top: 0;
}

.fl-cancel-wrapper {
position: relative;
overflow: hidden;
}

.fl-test-task {
padding-right: 110px;
height: 35px;
line-height: 16px;
margin-bottom: 4px;
font-size: 12px;
color: #22456F;
}

.fl-stop:hover {
background-color:#FF5F5F;
font-weight: bold;
color: #111;
}

.fl-next:hover {
background-color: #BFD6FF;
}

.fl-check {
text-align: left;
background-image: url(/images/transparent-30.png);
padding: 20px;
border: 5px solid #A4BFEF;
-moz-box-shadow: 1px 2px 4px #45546F;
-webkit-box-shadow: 1px 2px 4px #45546F;
box-shadow: 1px 2px 4px #45546F;
}

.fl-verify {
position: relative;
padding: 3px 10px;
text-align: center;
cursor: pointer;
border: 1px solid #8E95AF;
}

.fl-verify:hover {
background-color: #00FF3A;
font-weight: bold;
}

.fl-btn {
background-image:url(/images/btn-grd.png);
background-position:50%;
background-repeat:no-repeat;
-moz-box-shadow: 1px 2px 3px #45546F;
-webkit-box-shadow: 1px 2px 3px #45546F;
box-shadow: 1px 2px 3px #45546F;
}

.fl-start-wrapper .fl-btn {
-moz-box-shadow: 1px 2px 3px #555;
-webkit-box-shadow: 1px 2px 3px #555;
box-shadow: 1px 2px 3px #555;
}

.fl-btn-down {
top: 1px;
left: 1px;
-moz-box-shadow: 0px 1px 2px #45546F;
-webkit-box-shadow: 0px 1px 2px #45546F;
box-shadow: 0px 1px 2px #45546F;
}

.fl-start-wrapper .fl-btn {
-moz-box-shadow: 0px 1px 2px #666;
-webkit-box-shadow: 0px 1px 2px #666;
box-shadow: 0px 1px 2px #666;
}

.fl-cancel-wrapper .fl-btn-down {
top: 0px;
left: auto;
margin-top: 1px;
margin-left: 1px;
}

table.fl-prestart-list td {
padding: 1px 5px;
font-size: 12px;
color: #444;
}
.fl-wordlist-origin {
font-weight: bold;
}

.fl-activity div {
white-space: nowrap;
}
.fl-activity-wrapper {
margin-top: 20px;
}

.fl-learned td {
text-decoration: line-through;
}

.fl-wrong-note {
display: block;
border: 1px solid red;
background-color: #FFCFCF;
font-weight: bold;
color: #555;
}

.fl-correct-note {
display: block;
border: 1px solid #00FF22;
background-color: #DFFFE3;
font-weight: bold;
color: #555;
}

.fl-exclude-note {
display: block;
border: 1px solid blue;
background-color: #fff;
font-weight: bold;
color: #555;
}

.fl-notes {
display: none;
position: absolute;
padding: 3px 10px;
postion: absolute;
top: 0;
left: 20px;
}

.fl-start-note-wrapper {
height: 40px;
margin-top: 20px;
text-align: center;
}

.fl-start-note {
display: none;
width: 230px;
border: 1px solid red;
background-color: #FFEFEF;
font-weight: bold;
color: #444;
padding: 5px 10px;
margin: 0 auto;
font-size: 11px;
}

.fl-end {
display: none;
background-image:url(/images/transparent-30.png);
border:5px solid #A4BFEF;
padding:20px;
-moz-box-shadow: 0px 1px 2px #45546F;
-webkit-box-shadow: 0px 1px 2px #45546F;
box-shadow: 0px 1px 2px #45546F;
}

.fl-end-list {
background-color:#FFFFFF;
border:1px solid #999999;
height:330px;
padding:15px 3px;
}

.fl-end-wrapper .fl-stop {
width: 70px;
margin: 15px auto 0;
font-size: 16px; 
font-weight: bold;
text-shadow: 0px 1px 0px #fff;
}

.fl-end-notice {
color:#22456F;
font-size:12px;
line-height:16px;
padding: 0 15px 15px;
text-align: left;
}

table.fl-end-wordlist td {
padding: 1px 5px;
font-size: 12px;
color: #444;
}
.fl-endlist-origin {
font-weight: bold;
}

.fl-auto-wrapper {
text-align: right;
margin: 0 30px;
font-size: 11px;
padding: 5px 10px;
color: #1F427F;
}
.fl-auto-wrapper input {
margin: 0;
position: relative;
top: 2px;
}

</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="politeness.html">Formulas of politeness</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcard</h2>


<div  id="fl1" style="min-height: 600px; text-align: center;">

<div class="fl-container">
<div class="fl-window">

<div class="fl-init">
	<div class="fl-prestart">
		<div class="fl-settings" style="display: none;">
		Settings
			<div class="fl-set-list">
				<a class="fl-set-none" href="javascript:;">Deselect all</a><br>
				<a class="fl-set-all" href="javascript:;">Select all</a><br>
				<a class="fl-set-not-worked" href="javascript:;">Not learnt yet</a><br>
				<a class="fl-auto-off" href="javascript:;">Switch off autoplay</a><br>
				<a class="fl-random" href="javascript:;">Random order</a><br>
				<a class="fl-direct" href="javascript:;">Direct order</a>
			</div>
		
		</div>
	</div>
	<div class="fl-start-wrapper">
		<div class="fl-start fl-btn noselect"> START </div>
		<div class="fl-start-note-wrapper">
			<div class="fl-start-note">At least one word/expression <br>should be selected</div>
		</div>
	</div>
</div>

<div class="fl-end">
	<div class="fl-end-notice">Here you can see words and expressions that you have just worked with:</div>
	<div class="fl-end-list"></div>
	<div class="fl-end-wrapper">
		<div class="fl-stop fl-btn noselect"> Finish </div>
	</div>
</div>

<div class="fl-work">
<div class="fl-article-wrapper">
  <div class="fl-article-list">
	<table  style="margin: 0 auto" align="center"><tr><td height="70">
		<div class="fl-original"></div>
	</td></tr></table>
	<table  style="margin: 0 auto" align="center"><tr>
		<td><div class="fl-transcript"></div></td>
		<td style="text-align: left; height:19px;"> <div class="fl-sound"> </div> </td>
	</tr></table>
	<div class="fl-translate"></div>
  </div>
</div>
<div class="fl-auto-wrapper"><input type="checkbox" class="fl-autoplay" checked> Autoplay </div>

<div class="fl-buttons-wrapper">
	<div class="fl-next fl-btn noselect">Next >></div>
</div>

<div class="fl-check" style="min-height: 190px;">
	<div class="fl-tests" style="display: none;">
		<div class="fl-cancel-wrapper" style="display: none;">
		
			<div class="fl-test-task">
				<span class="fl-wrong-note fl-notes">Wrong! Try again</span>
				<span class="fl-correct-note fl-notes">Great! This is correct</span>
				<span class="fl-exclude-note fl-notes">We'll take this item off your word list</span>
				<span class="fl-task-string">Find the translation of this word/expression</span>
			</div>

			<div class="fl-cancel fl-btn"> Cancel </div>

		</div>
	</div>
	<div class="fl-activity-wrapper">
	<table class="fl-activity">
		<!-- tr>
			<td>Would like to type this word?</td>
			<td> <div class="fl-verify fl-btn"> Spell Practice </div></td>
		</tr -->
		<tr>
			<td>Would you like to check how you know this words</td>
			<td style="width:75px;"> <div class="fl-verify fl-btn noselect"> Qizzes </div></td>
		</tr>
		<tr>
			<td style="padding-top: 15px;">Would you like to stop and return to the main menu?</td>
			<td style="padding-top: 15px;"> <div class="fl-stop fl-btn noselect">Stop</div></td>
		</tr>
	</table>
	</div>
</div>

</div>

</div><!-- end of fl-window -->
</div><!-- end of flcontainer-->
</div><!-- end of fl1 -->



<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
		
['Больш<span class="acco">о</span>е спас<span class="acco">и</span>бо ','Thank you very much ','/sounds/sound01128.mp3','ba<span class="sftc">l</span>sh<span class="acct">o</span>ye spas<span class="acct">i</span>ba'],
['Огр<span class="acco">о</span>мное спас<span class="acco">и</span>бо ','Thanks a lot ','/sounds/sound01129.mp3','agr<span class="acct">o</span>mnaye spas<span class="acct">i</span>ba'],
['Пож<span class="acco">а</span>луйста ','You\'re welcome ','/sounds/sound01130.mp3','paj<span class="acct">a</span>loosta '],
['Н<span class="acco">е</span> за что ','Don’t mention it ','/sounds/sound01131.mp3','<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>zashta'],
['Не ст<span class="acco">о</span><i></i>ит ','That\'s all right ','/sounds/sound01132.mp3','ni st<span class="acct">o</span>it']




		]
		} )
</script>



<script type="text/javascript">
preloadFiles=new Array(
'/sounds/sound01101.mp3', '/sounds/sound01102.mp3', '/sounds/sound01103.mp3', '/sounds/sound01104.mp3', 
'/sounds/sound01105.mp3', '/sounds/sound01106.mp3', '/sounds/sound01107.mp3', '/sounds/sound01108.mp3', 
'/sounds/sound01109.mp3', '/sounds/sound01110.mp3', '/sounds/sound01111.mp3', '/sounds/sound01112.mp3', 
'/sounds/sound01113.mp3', '/sounds/sound01114.mp3', '/sounds/sound01115.mp3', '/sounds/sound01116.mp3', 
'/sounds/sound01117.mp3', '/sounds/sound01118.mp3', '/sounds/sound01119.mp3', '/sounds/sound01120.mp3', 
'/sounds/sound01121.mp3', '/sounds/sound01122.mp3', '/sounds/sound01123.mp3', '/sounds/sound01124.mp3', 
'/sounds/sound01125.mp3', '/sounds/sound01126.mp3', '/sounds/sound01127.mp3', '/sounds/sound01128.mp3', 
'/sounds/sound01129.mp3', '/sounds/sound01130.mp3', '/sounds/sound01131.mp3', '/sounds/sound01132.mp3'
)
</script>



<br>
<br>
<br>
<br>


