<%
@words = Category.find(50).words.find(:all, :order=>'order_num')
%>

<% @page_title = 'Online Russian Flashcards: Numerals from 0 to 100' %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic Numerals from 0 to 100 with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>
<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/numerals00-100.html">Numerals from 0 to 100</a></li>
			<li><a href="/numerals00-100-test.html">Tests: Numerals from 0 to 100</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>

<h2 class="page">Flashcards: Numerals from 0 to 100</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/numerals00-100.html">Numerals from 0 to 100</a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>

<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
<%@last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
['<%= word.html %>', '<%= word.translate.to_s.gsub(/'/,"’") %>', '<%= word.sound_url %>', '<%= word.transcribe %>', '<%= word.id %>'
<%if current_user %>,'<%= current_user.word_status(word.id) %>'<%end%>
]<% if index!= @last_item_index %>,<%end%>	
<%end-%>

	]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/numerals00-100-test.html">Lexical tests >></a></td>
</tr></table>


<script type="text/javascript">
preloadFiles=new Array(
'/sounds/num00000.mp3', '/sounds/num00001.mp3', '/sounds/num00002.mp3', '/sounds/num00003.mp3', 
'/sounds/num00004.mp3', '/sounds/num00005.mp3', '/sounds/num00006.mp3', '/sounds/num00007.mp3', 
'/sounds/num00008.mp3', '/sounds/num00009.mp3', '/sounds/num00010.mp3', '/sounds/num00011.mp3', 
'/sounds/num00012.mp3', '/sounds/num00013.mp3', '/sounds/num00014.mp3', '/sounds/num00015.mp3', 
'/sounds/num00016.mp3', '/sounds/num00017.mp3', '/sounds/num00018.mp3', '/sounds/num00019.mp3', 
'/sounds/num00020.mp3', '/sounds/num00030.mp3', '/sounds/num00040.mp3', '/sounds/num00050.mp3', 
'/sounds/num00060.mp3', '/sounds/num00070.mp3', '/sounds/num00080.mp3', '/sounds/num00090.mp3', 
'/sounds/num00100.mp3'
)
</script>
