<%
@category = Category.find(:first, :conditions => ['id=?', 50 ])
@words1 = @category.words.find(:all, :order => 'order_num', :select=> "id,text, sound_url, translate", :limit=> 20, :offset=> 1)
@words2 = @category.words.find(:all, :order => 'order_num', :select=> "id,text, sound_url, translate", :limit=> 9, :offset=> 20)
%>

<% @page_title = 'Tests: Numerals' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>

<%end%>

<% content_for :special_css do %>

.hint_button {
float: right;
}

.quest  {
width: 166px;
}

.variants  {
width: 166px;
}

<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/numerals00-100.html">Numerals (part 1)</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Numerals (tests)</h2>


<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/numerals00-100.html">Numerals (part 1)</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen and type the corresponding numeral (from 0 to 20).
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0228010.1",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		basic_array: [

<% @words1.each_with_index do |word,index| -%>
	["<%= word.sound_url %>","<%= word.translate %>",<%= word.id %>]<% unless index==@words1.length-1 %>,<%end%>
<%end-%>		
		]
		
		} )
</script>


<h3 class="test-task">Test 2. Listen and type the corresponding numeral (from 20 to 100).
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0228020.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		basic_array: [
		
<% @words2.each_with_index do |word,index| -%>
	["<%= word.sound_url %>","<%= word.translate %>",<%= word.id %>],
<%end-%>
['sounds/num00021.mp3','21',1122],['sounds/num00022.mp3','22',1122],['sounds/num00023.mp3','23',1122],['sounds/num00024.mp3','24',1122],['sounds/num00025.mp3','25',1122],
['sounds/num00026.mp3','26',1122],['sounds/num00027.mp3','27',1122],['sounds/num00028.mp3','28',1122],['sounds/num00029.mp3','29',1122],
['sounds/num00031.mp3','31',1125],['sounds/num00032.mp3','32',1125],['sounds/num00033.mp3','33',1125],['sounds/num00034.mp3','34',1125],['sounds/num00035.mp3','35',1125],
['sounds/num00036.mp3','36',1125],['sounds/num00037.mp3','37',1125],['sounds/num00038.mp3','38',1125],['sounds/num00039.mp3','39',1125],
['sounds/num00041.mp3','41',1100],['sounds/num00042.mp3','42',1100],['sounds/num00043.mp3','43',1100],['sounds/num00044.mp3','44',1100],['sounds/num00045.mp3','45',1100],
['sounds/num00046.mp3','46',1100],['sounds/num00047.mp3','47',1100],['sounds/num00048.mp3','48',1100],['sounds/num00049.mp3','49',1100],
['sounds/num00051.mp3','51',1103],['sounds/num00052.mp3','52',1103],['sounds/num00053.mp3','53',1103],['sounds/num00054.mp3','54',1103],['sounds/num00055.mp3','55',1103],
['sounds/num00056.mp3','56',1103],['sounds/num00057.mp3','57',1103],['sounds/num00058.mp3','58',1103],['sounds/num00059.mp3','59',1103]
		]
		
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/numerals00-100.html">Numerals (part 1) >></a></h3>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>
