<%
@category = Category.find(:first, :conditions => ['id=?', 51 ])
@words1 = @category.words.find(:all, :order => 'order_num', :select=> "id,text, sound_url, translate", :limit=> 9, :offset=> 0)
@words2 = @category.words.find(:all, :order => 'order_num', :select=> "id,text, sound_url, translate", :limit=> 11, :offset=> 9)
%>

<% @page_title = 'Tests: Numerals' %>
<% @page_meta = {'description' => ""} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>

<%end%>

<% content_for :special_css do %>

.hint_button {
float: right;
}

.quest  {
width: 166px;
}

.variants  {
width: 166px;
}

<% end %>

<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Recommended links</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="numerals100.html">Numerals (part 2)</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Numerals (tests)</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/numerals100.html">Numerals (part 2)</a>
	<span class="int-arrow">--&gt;</span> Tests
	</span>
</h3>

<div class="l-test-container">

<h3 class="test-task">Test 1. Listen and type the corresponding numeral (from 100 to 1000).
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "v0229010.1",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		tp_no_space: true,
		basic_array: [
		
<% @words1.each_with_index do |word,index| -%>
	["<%= word.sound_url %>","<%= word.translate %>",<%= word.id %>],
<%end-%>
['sounds/num00110.mp3','110',1136],['sounds/num00120.mp3','120',1136],['sounds/num00130.mp3','130',1136],['sounds/num00140.mp3','140',1136],['sounds/num00150.mp3','150',1136],
['sounds/num00160.mp3','160',1136],['sounds/num00170.mp3','170',1136],['sounds/num00180.mp3','180',1136],['sounds/num00190.mp3','190',1136],
['sounds/num00210.mp3','210',1138],['sounds/num00220.mp3','220',1138],['sounds/num00230.mp3','230',1138],['sounds/num00240.mp3','240',1138],['sounds/num00250.mp3','250',1138],
['sounds/num00260.mp3','260',1138], ['sounds/num00270.mp3','270',1138],['sounds/num00280.mp3','280',1138],['sounds/num00290.mp3','290',1138]

		]
		
		} )
</script>


<h3 class="test-task">Test 2. Listen and type the corresponding numeral (higher than 1000).
<a href="javascript:;" class="lt-test-closer"><span class="lt-h">Hide test</span><span class="lt-sh">Show test</span></a>
</h3>

<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test' %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "v0229020.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		tp_no_space: true,
		basic_array: [
		
<% @words2.each_with_index do |word,index| -%>
	["<%= word.sound_url %>","<%= word.translate %>",<%= word.id %>],
<%end-%> 

['sounds/num12000.mp3','12 000',1133],['sounds/num63000.mp3','63 000',1133],['sounds/num04500.mp3','4 500',1133],['sounds/num27300.mp3','27 300',1133],
['sounds/num20000.mp3','20 000',1133],['sounds/num30000.mp3','30 000',1133],['sounds/num40000.mp3','40 000',1133],['sounds/num50000.mp3','50 000',1133],
['sounds/num60000.mp3','60 000',1133],['sounds/num70000.mp3','70 000',1133],['sounds/num80000.mp3','80 000',1133],['sounds/num90000.mp3','90 000',1133]

		]
		
		} )
</script>

<h3 class="test-task test-task-final" style="text-align: center">Review the topic &nbsp;&nbsp;&nbsp;&nbsp;<a href="/numerals100.html">Numerals (part 2) >></a></h3>

</div><!-- end of lt-container -->

<script type="text/javascript">
currentSection="words";
</script>
