<% @page_title='Essential Russian Course: Lesson 3' %>
<% @page_meta = {'description' => "The fourth lesson of the Essential Russian Course"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'multi-choice' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'es-multiexercises' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>


$(document).ready(function() {
	$(".gext_task input").addClass("for_keyb")
});


	
</script>

 <%= javascript_include_tag 'es-virtual-keyboard' %>
 <%= stylesheet_link_tag 'keyboard' %>

<%= stylesheet_link_tag 'es-course' %>
<%= stylesheet_link_tag 'es-exercise.css' %>
<%= stylesheet_link_tag 'es-grammar-exercises' %>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.ptab div {font-size: 12px;}

.ds-test li {float: left; list-style: none; font-size: 18px;}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
            <li><a href="phonetics-course.html">Phonetics course</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Lesson 4. Are you married?</h2>



<div id="jpId"></div>


<div id="prof_tabs">

	<div id="tabs_row">
            <div id="tab01" class="ptab  current_ptab"><div><a href="#1">Dialogue</a></div></div>
            <div id="tab02" class="ptab"><div>Vocabulary</div></div>
            <div id="tab03" class="ptab"><div>Grammar</div></div>
			<div id="tab04" class="ptab"><div>Practice</div></div>
			<div id="tab05" class="ptab"><div>Revision</div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">

			
			<p>
				Listen to the dialogues and read the translation. Then, listen once again and repeat after the speaker.
			</p>
		
		<table id="dc1" class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="30">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th>Dialogue 1. Interview</th>
				<th >&nbsp;</th>
			</tr>
			<tr>
				<td colspan="3" class="d-pre-phrases" style="text-align: center">
				
				<div class="dt_controls">
					<table cellspacing="0">
					  <tr>
						<td><div class="dt_rewind" title="Play Previous"></div></td>
						<td><div class="dt_play" title="Play"></div></td>
						<td><div class="dt_fast-forward" title="Play Next"></div></td>
						<td><div class="dt_repeat" title="Repeat"></div></td>
						<td><div class="dt_stop" title="Stop"></div></td>
					  </tr>
					</table>
				</div>

				</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
				<td  class="d-rus">- Вы господин Смит?  </td>
				<td class="d-eng">- Are you Mr. Smith</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div></td>
				<td class="d-rus">- Да. </td>
				<td class="d-eng">- Yes (I am).</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div></td>
				<td class="d-rus">- А как Ваше имя? </td>
				<td class="d-eng">- What is your first name?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- Меня зовут Джек</td>
				<td class="d-eng">- My name is Jack.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Вы женаты? </td>
				<td class="d-eng">- Are you married?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Да. </td>
				<td class="d-eng">- Yes (I am).</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Кто Вы по профессии?</td>
				<td class="d-eng">- What is your profession?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Я учитель. </td>
				<td class="d-eng">- I'm a teacher.</td>
			</tr>
			<tr>
				<td colspan="2" class="d-tfoot">
					<div class="dt_inf" style="display: none"></div>
				<script type="text/javascript"> 
					var  dc1 = new dialog_controls( {
					id: "dc1", 
					file: "/sounds/0-dt_test.mp3",
					tracks: [0,1384,2400,4153,7602]
				
					} )
				</script>
				
				</td>
				<td class="d-tfoot">
				&nbsp;
				
				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>
		

		<table id="dc2" class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="30">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th>Dialogue 2. Introduction</th>
				<th >&nbsp;</th>
			</tr>
			<tr>
				<td colspan="3" class="d-pre-phrases" style="text-align: center">
				
				<div class="dt_controls">
					<table cellspacing="0">
					  <tr>
						<td><div class="dt_rewind" title="Play Previous"></div></td>
						<td><div class="dt_play" title="Play"></div></td>
						<td><div class="dt_fast-forward" title="Play Next"></div></td>
						<td><div class="dt_repeat" title="Repeat"></div></td>
						<td><div class="dt_stop" title="Stop"></div></td>
					  </tr>
					</table>
				</div>

				</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
				<td  class="d-rus">- Смотри! Это Джейн.  </td>
				<td class="d-eng">- Look! That is Jane (over there).</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div></td>
				<td class="d-rus">- Американка?   </td>
				<td class="d-eng">- Is she Amercain?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div></td>
				<td class="d-rus">- Да, американка. И она не замужем.  </td>
				<td class="d-eng">- Yes, she is Americain. And she's not married</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- А кто она по профессии? Инженер?  </td>
				<td class="d-eng">- And what is her profession? Is she an engeneer?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Нет, не инженер. Она менеджер. </td>
				<td class="d-eng">- No, she is not an engeneer. She is a manager.</td>
			</tr>
			<tr>
				<td colspan="2" class="d-tfoot">

				<script type="text/javascript"> 
					var  dc2 = new dialog_controls( {
					id: "dc2", 
					file: "/sounds/0-dt_test.mp3",
					tracks: [0,1384,2400,4153,7602]
					} )
				</script>
				
				</td>
				<td class="d-tfoot">
				&nbsp;
				
				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>

<h3 class="es-task">Match sounds and text</h3>


<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the phrases and find corresponding Russian expressions from the list below.</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="200">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01114.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01110.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" >
<col width="170">
<col width="190">

<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Вы женаты?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Меня зовут Джек.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Она не инженер.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Это Джейн.</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Она менеджер.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Как Ваше имя?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Она не замужем.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Я учитель.</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>
		
		
		
		
		
	<br><br><br><br><br><br><br><br>	

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Listen, repeat ad read the translation of words and expressions below.</h3>
	
	
	<h3 align="center">Marriage status</h3>
	
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				женат
			</td>
			<td class="wl-eng">
				married (for a man)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				замужем
			</td>
			<td class="wl-eng">
				married (for a woman)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				не женат
			</td>
			<td class="wl-eng">
				single (for a man)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				не замужем
			</td>
			<td class="wl-eng">
				single (for a woman)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				вдова
			</td>
			<td class="wl-eng">
				widow
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				вдовец
			</td>
			<td class="wl-eng">
				widower
			</td>
		</tr>
	</tbody>
	</table>
	
	<br>
	<br>
	
		<h3 align="center">Professions</h3>
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th >Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				биолог
			</td>
			<td class="wl-eng">
				biologist
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				директор
			</td>
			<td class="wl-eng">
				director
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				доктор (врач)
			</td>
			<td class="wl-eng">
				doctor
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				математик
			</td>
			<td class="wl-eng">
				mathematician
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				продавец
			</td>
			<td class="wl-eng">
				shop assistant
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				профессор
			</td>
			<td class="wl-eng">
				professor
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				психолог
			</td>
			<td class="wl-eng">
				psychologist
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				студент
			</td>
			<td class="wl-eng">
				student
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				студентка
			</td>
			<td class="wl-eng">
				student
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				учитель
			</td>
			<td class="wl-eng">
				teacher
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				физик
			</td>
			<td class="wl-eng">
				physicist
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				хирург
			</td>
			<td class="wl-eng">
				surgeon
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				художник
			</td>
			<td class="wl-eng">
				artist, painter
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				школьник
			</td>
			<td class="wl-eng">
				schoolboy
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				школьница
			</td>
			<td class="wl-eng">
				schoolgirl
			</td>
		</tr>
	</tbody>
	</table>	
	
	<br>
	<br>
	
		<h3 align="center">Extra</h3>
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th >Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				водка
			</td>
			<td class="wl-eng">
				vodka
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				здание
			</td>
			<td class="wl-eng">
				building
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				кафе
			</td>
			<td class="wl-eng">
				cafe
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				кофе
			</td>
			<td class="wl-eng">
				coffee
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				кресло
			</td>
			<td class="wl-eng">
				chair
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				кровать
			</td>
			<td class="wl-eng">
				bed
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				метро
			</td>
			<td class="wl-eng">
				subway
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				море
			</td>
			<td class="wl-eng">
				sea
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				музей
			</td>
			<td class="wl-eng">
				museum
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				музыка
			</td>
			<td class="wl-eng">
				music
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				окно
			</td>
			<td class="wl-eng">
				window
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				парк
			</td>
			<td class="wl-eng">
				park
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				паспорт
			</td>
			<td class="wl-eng">
				passport
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				площадь
			</td>
			<td class="wl-eng">
				square
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				проблема
			</td>
			<td class="wl-eng">
				problem
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				санаторий
			</td>
			<td class="wl-eng">
				sanatorium
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				сувенир
			</td>
			<td class="wl-eng">
				souvenir
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				телефон
			</td>
			<td class="wl-eng">
				phone
			</td>
		</tr>
	</tbody>
	</table>
	

	<br><br><br><br>

<h3 class="es-task-in">Listen to the phrase and answer "yes" or  "no" </h3>	
	
<div id="ch1" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 12,
		basic_array: [
		
['женат','married (for a man)'],
['замужем','married (for a woman)'],
['не женат','single (for a man)'],
['не замужем','single (for a woman)'],
['вдова','widow'],
['вдовец','widower'],
['биолог','biologist'],
['директор','director'],
['доктор (врач)','doctor'],
['математик','mathematician'],
['продавец','shop assistant'],
['профессор','professor'],
['психолог','psychologist'],
['студент','student'],
['студентка','student'],
['учитель','teacher'],
['физик','physicist'],
['хирург','surgeon'],
['художник','artist, painter'],
['школьник','schoolboy'],
['школьница','schoolgirl']
		
		
		
		]
		} )
</script>



<br>
<br>

<br><br>

<h3 class="es-task-in">Read the Russian phrase and find its translation </h3>

<div id="ch2" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>


<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		variants_num: 4,
		basic_array: [

['водка','vodka'],
['здание','building'],
['кафе','cafe'],
['кофе','coffee'],
['кресло','chair'],
['кровать','bed'],
['метро','subway'],
['море','sea'],
['музей','museum'],
['музыка','music'],
['окно','window'],
['парк','park'],
['паспорт','passport'],
['площадь','square'],
['проблема','problem'],
['санаторий','sanatorium'],
['сувенир','souvenir'],
['телефон','phone']
		
		]
		} )
</script>




<br>
<br>
<br>



	</div>
</div>




<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	


<h2 class="es-tab-p ">Grammatical gender: Particular cases</h2>

<h3 class="es-tab-p-p">Masculine nouns ending in -a/-я</h3>
<p>
In Russian there are a few masculine nouns that have endings -<span class="letter">а</span>/-<span class="letter">я</span> These nouns denote male persons, so the biological gender is more important here than formal endings: 
</p>
<p>
<span class="eg">дедушка</span> <span class="egt">grandfather</span>, <span class="eg">дядя</span> <span class="egt">uncle</span>, <span class="eg">мужчина</span> <span class="egt">man</span>, <span class="eg">папа</span> <span class="egt">dad</span>, <span class="eg">юноша</span> <span class="egt">young person</span>.
</p>
These nouns will decline similarly to feminine nouns, that is why in plural their endings -<span class="letter">a</span>/-<span class="letter">я</span> are replaced by -<span class="letter">ы</span>/-<span class="letter">и</span>


<h3 class="es-tab-p-p">Neuter nouns ending in -я:</h3> 
<p>
Some Russian nouns ending in -<span class="letter"></span>я are neuter: 
</p>

<ul>
	<li>
	11 nouns ending in -<span class="letter">мя</span>: <span class="eg">бремя</span> <span class="egt">burden</span>, <span class="eg">время</span> <span class="egt">time</span>, <span class="eg">вымя</span> <span class="egt">udder</span>, <span class="eg">знамя</span> <span class="eg">banner, flag</span>, <span class="eg">племя</span> <span class="egt">tribe</span>, <span class="eg">имя</span> <span class="egt">name</span>, <span class="eg">пламя</span> <span class="egt">flame</span>, <span class="eg">полымя</span> <span class="egt">flame</span> (archaic), <span class="eg">семя</span> <span class="egt">seed, semen</span>, <span class="eg">стремя</span> <span class="egt">stirrup</span>, <span class="eg">темя</span> <span class="egt">cinciput</span>
	</li>
	<li>
	 noun <span class="eg">дитя</span> child
	</li>
</ul>


<h3 class="es-tab-p-p">Gender of indeclinable nouns</h3>
<p>
There are a lot of nouns in Russian borrowed from other languages that never change their forms, i.e they do not take endings and have the same form for singular and plural. They are called indeclinable nouns. 
</p>
<p>
The gender of indeclinable nouns denoting persons is usually the same as the biological gender of their referents. Inanimate indeclinable nouns may be of any gender which is sometimes confusing even for native speakers. For example, the Russian word <span class="eg">кофе</span> <span class="egt">cofee</span> is considered to be masculine, but in conversational Russian it may also be used as neuter

</p>

<br><br>
<h2 class="es-tab-p ">More about nominative plural</h2> 

<h3 class="es-tab-p-p">Endings -ы/-и and spelling rule #1</h3> 
<p>
There is a rule in Russian grammar, generally referred to as spelling rule #1, stating that the letter ы may not occur after <span class="letter">г, к, х and ж, ч, ш, щ</span>.
</p>
<p>
According to this rule, masculine nouns ending -<span class="letter">ж</span>, -<span class="letter">ч</span>, -<span class="letter">щ</span>, -<span class="letter">ц</span>, and -<span class="letter">к</span>, -<span class="letter">х</span>, -<span class="letter">г</span> and feminine nouns ending  -<span class="letter">жа</span>, -<span class="letter">чa</span>, -<span class="letter">ща</span>, -<span class="letter">ша</span>, and -<span class="letter">ка</span>, -<span class="letter">ха</span>, -<span class="letter">га</span> can not add the ending -<span class="letter">ы</span>. That is why they will have the ending -<span class="letter">и</span> in nominative plural. 
</p>

<h3 class="es-tab-p-p">Masculine nouns with endings -a/-я in nominative plural</h3>
<p>
A small number of Russian masculine nouns add the stressed ending -<span class="letter">a</span>/-<span class="letter">я</span> (instead of -ы/-и):
</p>

<h3 class="es-tab-p-p">Fleeting vowel and nominative plural</h3>
<p>
In some masculine nouns, the change from singular to plural is accompanied by omission of the final vowel, which is called a fleeting vowel. This drop of the final vowel is usually shown in the dictionary. 
</p>
<p>
For example, the omission of the final vowel often occurs in nouns that end in -<span class="letter">ец</span>, and -<span class="letter">ок</span>
</p>

<h3 class="es-tab-p-p">Nominative plural of neuter nouns ending in -мя</h3>
<p>  
Neuter nouns ending in -<span class="letter">мя</span> (see above) drop the final -<span class="letter">я</span> and add -<span class="letter">ена</span> in nominative plural. 
</p>
<br><br>
<h2 class="es-tab-p ">Negation in Russian </h2>
<p>
The negation in Russian most often uses the particle <span class="letter">не</span>. 
</p>
	
<br><br><br><br><br>





<h3 class="es-task-in">Distribute Russian nouns by gender.</h3>





<div id="sl1" class="ds-wrapper drag-sort-list" style="padding: 15px;">
		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">

<col width="150"><col width="150"><col width="150">

<tr>
	<th class="ds-border-right" >
		Masculine
	</th>
	<th class="ds-border-right" >
		Feminine	
	</th>
	<th class="ds-border-right" >
		Neuter	
	</th>
</tr>
<tr>
	<td class="ds-answer ds-border-right" style="vertical-align: top; height: 220px">
		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 220px">
		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 220px">
		<div class="ds_sort_item">
			
		</div>
		&nbsp;
	</td>
</tr>


</table>

</td>

</tr>
<tr>
	<td>
	
		<!-- div class="ds_check_sign"></div -->
	
	</td>
</tr>
<tr>

<td>
	


<table class="ds_variants_list"  style="margin: 0 auto" align="center">
<col width="150">
<col width="150">
<col width="150">
<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>окно</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>кровать</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>женщина</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>санаторий</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>мужчина</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>имя</div></div>
	</li>
	
</ul>

</td>
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>словарь</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>племя</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>юноша</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>время</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>учитель</div></div>
	</li>
</ul>

</td>

<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>отель</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>море</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>дедушка</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>площадь</div></div>
	</li>
		<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>проблема</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var sl1 = new sortlist_test( {
		id: "sl1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#fff",
		auto_check: false
		} )
</script>


<br>




<br/><br/>



<h3 class="es-task-in">Form the nominative plural form of Russian nouns.</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">

<div id="di1">	
				
<p class="task">Drag and drop endings or type them in the text fields. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a> </p> 
<br>
<div  class="gr_ex_type">

<div class="exer_part">
Add an appropriate ending to the stem of masculine nouns
</div>


<table style="margin: 0 auto; border: 1px dashed #000" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td>
		<div>ы</div>
	</td>
	<td>
		<div>и</div>
	</td>
	<td>
		<div>а</div>
	</td>
	<td>
		<div>я</div>
	</td>
</tr>
</table>
<br>
<br>

<table>
<tr>
<td style="padding-right: 35px; width: 220px">

<div class="gext_task gext_sign"> 
1.   <input type="text" style="width: 100px" value="мужчина"> <span class="gext_answer" style="display: none">мужчины</span>
<div class="gext_show"><span>мужчина - <b>мужчины</b></span></div>
</div>
<div class="gext_task gext_sign"> 
2.   <input type="text" style="width: 100px" value="мальчик"> <span class="gext_answer" style="display: none">мальчики</span>
<div class="gext_show"><span>мальчик - <b>мальчики</b></span></div>
</div>
<div class="gext_task gext_sign"> 
3.   <input type="text" style="width: 100px" value="учитель"> <span class="gext_answer" style="display: none">учителя</span>
<div class="gext_show"><span>учитель - <b>учителя</b></span></div>
</div>
<div class="gext_task gext_sign"> 
4.   <input type="text" style="width: 100px" value="юноша"> <span class="gext_answer" style="display: none">юноши</span>
<div class="gext_show"><span>юноша - <b>юноши</b></span></div>
</div>
<div class="gext_task gext_sign"> 
5.   <input type="text" style="width: 100px" value="парк"> <span class="gext_answer" style="display: none">парки</span>
<div class="gext_show"><span>парк - <b>парки</b></span></div>
</div>
<div class="gext_task gext_sign"> 
6.   <input type="text" style="width: 100px" value="музей"> <span class="gext_answer" style="display: none">музеи</span>
<div class="gext_show"><span>музей - <b>музеи</b></span></div>
</div>
<div class="gext_task gext_sign"> 
7.   <input type="text" style="width: 100px" value="паспорт"> <span class="gext_answer" style="display: none">паспорта</span>
<div class="gext_show"><span>паспорт - <b>паспорта</b></span></div>
</div>
<div class="gext_task gext_sign"> 
8.   <input type="text" style="width: 100px" value="дедушка"> <span class="gext_answer" style="display: none">дедушки</span>
<div class="gext_show"><span>дедушка - <b>дедушки</b></span></div>
</div>
<div class="gext_task gext_sign"> 
9.   <input type="text" style="width: 100px" value="биолог"> <span class="gext_answer" style="display: none">биологи</span>
<div class="gext_show"><span>биолог - <b>биологи</b></span></div>
</div>

</td>
<td>

<div class="gext_task gext_sign"> 
10.   <input type="text" style="width: 100px" value="номер"> <span class="gext_answer" style="display: none">номера</span>
<div class="gext_show"><span>номер - <b>номера</b></span></div>
</div>
<div class="gext_task gext_sign"> 
11.   <input type="text" style="width: 100px" value="француз"> <span class="gext_answer" style="display: none">французы</span>
<div class="gext_show"><span>француз - <b>французы</b></span></div>
</div>
<div class="gext_task gext_sign"> 
12.   <input type="text" style="width: 100px" value="диалог"> <span class="gext_answer" style="display: none">диалоги</span>
<div class="gext_show"><span>диалог - <b>диалоги</b></span></div>
</div>
<div class="gext_task gext_sign"> 
13.   <input type="text" style="width: 100px" value="студент"> <span class="gext_answer" style="display: none">студенты</span>
<div class="gext_show"><span>студент - <b>студенты</b></span></div>
</div>
<div class="gext_task gext_sign"> 
14.   <input type="text" style="width: 100px" value="отец"> <span class="gext_answer" style="display: none">отцы</span>
<div class="gext_show"><span>отец - <b>отецы</b></span></div>
</div>
<div class="gext_task gext_sign"> 
15.   <input type="text" style="width: 100px" value="профессор"> <span class="gext_answer" style="display: none">профессора</span>
<div class="gext_show"><span>профессор - <b>профессора</b></span></div>
</div>
<div class="gext_task gext_sign"> 
16.   <input type="text" style="width: 100px" value="немец"> <span class="gext_answer" style="display: none">немцы</span>
<div class="gext_show"><span>немец - <b>немцы</b></span></div>
</div>
<div class="gext_task gext_sign"> 
17.   <input type="text" style="width: 100px" value="американец"> <span class="gext_answer" style="display: none">американцы</span>
<div class="gext_show"><span>американец - <b>американцы</b></span></div>
</div>
<div class="gext_task gext_sign"> 
18.   <input type="text" style="width: 100px" value="город"> <span class="gext_answer" style="display: none">города</span>
<div class="gext_show"><span>город - <b>города</b></span></div>
</div>
</td>
</tr>
</table>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di1  -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: false,
		nospace: true,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"

		} )
</script>


				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>




	<br><br><br>














<br><br><br><br><br><br><br>	
		
		
		


	</div>
</div>

<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Read the text aloud, and then listen to the phrases and check your reading.</h3>	
	

	<div class="es-pr-read-container">
		<h4>Introductions</h4>
	
		<table cellspacing="0">
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Добрый день. Меня зовут Алексей. Я русский. Я программист.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Здравствуйте. Я Стелла. Я американка. Я журналист.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Привет. Меня зовут Майк. Я канадец. Я инжинер.
				</td>
			</tr>
			<tr>
				<td class="wl-audio" valign="top">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td >
					Это Джейн. Она из США. Джейн - актриса.
				</td>
			</tr>
		</table>
		
		<h4>Dialogue </h4>
		<table cellspacing="0">
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Привет.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Привет. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Ты русская?
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Да. А ты? 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Я канадец.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Ты кто по профессии? Я журналист. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- А я доктор. 
				</td>
			</tr>
		</table>
	</div>
	
	
	<h3 class="es-task-in">Look through the dialogues above and complete the test.</h3>	
	
	


<div id="ds2" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the phrases and find corresponding Russian expressions from the list below.</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="left" style="margin: auto">
<col width="80">
<col width="40">
<col width="200">
<tr>
	<td class="ds-quest ds-audio-listen" align="center">
			Stella is 
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen ">
			Alexey is
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen ">
		Mike is
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen ">
		Jane is
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" >
<col width="300">
<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>journalist from the USA</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>engeneer from Canada</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>actress from the USA</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>programmer from Russia</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds2 = new dragsort_test( {
		id: "ds2", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>	
	
	
	



	
	<br><br><br><br>
	
<h3 class="es-task-in">Answer the questions following the model. Replace names with personal pronouns where possible.</h3>	
	


<div class="es-egdiv" style="display: block">
<h4>Model: </h4>

<div style="padding: 0 20px 10px 40px; font-size: 11px;"> 
<table cellspacing="0"> 
	<tr valign="top"> 
		<td width="330">
			<table cellspacing="0"> 
				<tr valign="top"> 
		 				<td width="200" class="bold"> 
		 					Ирина и Анна - актрисы?  
		 				</td> 
						<td width="15">- 
                       	</td> 
		 				<td width="150" class="bold"> 
		 					   Да, они актрисы.<br>  
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top" class="ital">Are Irina and Anna actresses? - Yes, they are actresses.<br><br> 
		</td> 
	</tr> 
</table> 
</div>
 </div>
 <br> <br>
 
<table class="es-quest-answ" cellspacing="0" style="margin: 0 auto" align="center">
	<tr>
		<td class="rus_phr">Лесли и Сара - музыканты?</td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Кайл и Натан - журналисты?</td>
		<td>- ... </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Игорь и Павел - менеджеры? </td>

		<td>- ... </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourselfs</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Джейк и Томас - актёры? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Диана и Клэр - преподаватели? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Любовь и Наталья - инжинеры? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Владимир и Глеб - дипломаты? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
</table>

<br>
<br>



<h3 class="es-task-in">Listen to a Russian person. Choose an appropriate phrase for each person</h3>


<div id="sl2" class="ds-wrapper drag-sort-list" style="padding: 15px;">
		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">

<col width="150"><col width="150"><col width="150">

<tr>
	<th class="ds-border-right" >
		<table class="ds-table" cellspacing="0" align="center">
			<tr>
				<td style="border-width:0; padding: 3px">Person 1</td>
				<td style="border-width:0; padding: 3px"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
			</tr>
		</table>
	</th>
	<th class="ds-border-right" >
		<table class="ds-table" cellspacing="0" align="center">
			<tr>
				<td style="border-width:0; padding: 3px">Person 2</td>
				<td style="border-width:0; padding: 3px"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
			</tr>
		</table>	
	</th>
	<th class="ds-border-right" >
		<table class="ds-table" cellspacing="0" align="center">
			<tr>
				<td style="border-width:0; padding: 3px">Person 3</td>
				<td style="border-width:0; padding: 3px"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
			</tr>
		</table>	
	</th>
</tr>
<tr>
	<td class="ds-answer ds-border-right" style="vertical-align: top; height: 150px">
		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 150px">
		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 150px">
		<div class="ds_sort_item">
			
		</div>
		&nbsp;
	</td>
</tr>


</table>

</td>

</tr>
<tr>
	<td>
	
		<!-- div class="ds_check_sign"></div -->
	
	</td>
</tr>
<tr>

<td>
	


<table class="ds_variants_list"  style="margin: 0 auto" align="center">
<col width="150">
<col width="150">
<col width="150">
<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Это Джейн.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Это Стив.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Это Роберт.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Он музыкант</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Она музыкант.</div></div>
	</li>
	
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Она канадка.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Он канадец.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Она русская</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Он русский.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Он американец.</div></div>
	</li>
</ul>

</td>

<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Он доктор.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Она музыкант.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Он актёр.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Он дипломат.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Она актриса.</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var sl2 = new sortlist_test( {
		id: "sl2", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#fff",
		auto_check: false
		} )
</script>


<br>
<br>









<br>
<br><br><br>	
	
	
	<br><br><br>	<br><br><br>	<br><br><br>



	</div>
</div>


<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<br><br><br> 
 
 
 
<div class="form-wrapper" id="mc1" style="width: 450px; margin: 0 auto;"> 
	<div class="form-top"> 
		<div class="form-top-left"></div> 
		<div class="form-top-right"></div> 
	</div> 
 
	<div class="form-right"> 
		<div class="form-left"> 
			<div class="form-questionaire"> 
				<div class="mc_question" style="height: 40px;"> 
            	</div> 
			</div> 
			   <div class="form-variants"> 
			   		<div  class="mc_variants" style="height: 180px; overflow: hidden; position: relative;"> 
			
					</div> 
			   </div> 
		</div> 
	</div> 
	<div class="form-mid"> 
		<div class="form-mid-left"></div> 
		<div class="form-mid-right"></div> 
	</div> 
	<div class="form-bottom"> 
		<div class="form-bottom-left"></div> 
		<div class="form-bottom-right"> 
			<div class="mc_counter"></div> 
		</div> 
	<div  class="mc_check" style="position: absolute; margin: 6px 0 0 15px; width: 250px;"></div> 
	</div> 
</div> 
 
<script type="text/javascript"> 
 
var mc1 = new mcTest( {tasks:[
['How to say in Russian: <br> <span class="norm_txt">Nice to meet you!<\/span>', [['Здравствуйте!'], ['До свидания'], ['Приятно познакомиться']], [2]], 
['How to say in Russian: <br> <span class="norm_txt">What is your name?<\/span>', [['Как тебя зовут?'], ['Как поживаете?'], ['Как дела?']], [0]],
['How many genders does the Russian language have?', [['1'], ['2'], ['3']], [2]],
['Most Russian feminine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [1]],
['Most Russian masculine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [2]],
['Most Russian neuter nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [0]],
['How to say in Russian: <br> <span class="norm_txt">My last name is ...<\/span>', [['Моя фамилия ... '], ['Моё имя ... '], ['Меня зовут ... ']], [0]],

], 
buildId: 'mc1' } )
 
</script>
	
<br><br><br><br>		
	
<h2 class="es-tab-p ">In this lesson you have learnt:</h2>		
	
	
<ul class="rev-summary">
	<li>Russian words and expressions used to make acquantance, and words for some nationalities.</li>
	<li>General information about gender in Russian. </li>
	<li>General information about Russian personal pronouns</li>
	<li>You have also practised to read in Russian and and translate into Russian.</li>
</ul>

<br><br><br>

<h2 class="es-tab-p ">In case you want to work more on this lesson:</h2>		
	
	
<ul class="rev-summary">
	<li>Read aloud or learn by heart the dialogue(s)  from the section <a href="#tab=1" onclick="openTabFromUrl(1)">Dialogues</a>.</li>
	<li>Get familiar with vocabulary topic  <a href="/acquaintance.html" >Making acquaintance</a></li>
	<li>Read the following articles about Russian grammar: <br>
		- <a href="russian-words-order.html">Words order in Russian sentences</a><br>
		- <a href="russian-address-forms.html">Polite and familiar address in Russian</a>
	</li>
</ul>	
	
	
<br><br><br><br><br><br>	
	
	
	
	
	
	
	
		



	</div>
</div>































	</div><!-- end of #content -->
</div>



<script type="text/javascript">
currentSection="course";
</script>

