<% @page_title='Essential Russian Course: Lesson 2' %>
<% @page_meta = {'description' => "The first lesson of the Essential Russian Course"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'multi-choice' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'es-multiexercises' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>


$(document).ready(function() {

	$(".gext_task input").addClass("for_keyb")
});


	
</script>

 <%= javascript_include_tag 'es-virtual-keyboard' %>
 <%= stylesheet_link_tag 'keyboard' %>

<%= stylesheet_link_tag 'es-course' %>
<%= stylesheet_link_tag 'es-exercise.css' %>
<%= stylesheet_link_tag 'es-grammar-exercises' %>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.ptab div {font-size: 12px;}

.ds-test li {float: left; list-style: none; font-size: 18px;}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
            <li><a href="phonetics-course.html">Phonetics course</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Lesson 2. Get Acquainted</h2>





<div id="jpId"></div>


<div id="prof_tabs">

	<div id="tabs_row">
            <div id="tab01" class="ptab  current_ptab"><div><a href="#1">Dialogue</a></div></div>
            <div id="tab02" class="ptab"><div>Vocabulary</div></div>
            <div id="tab03" class="ptab"><div>Grammar</div></div>
			<div id="tab04" class="ptab"><div>Practice</div></div>
			<div id="tab05" class="ptab"><div>Revision</div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">

			
			<p>
				Listen to the dialogues and read the translation. Then, listen once again and repeat after the speaker.
			</p>
		
		<table id="dc1" class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="30">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th>Dialogue 1. Making acquaintance</th>
				<th >&nbsp;</th>
			</tr>
			<tr>
				<td colspan="3" class="d-pre-phrases" style="text-align: center">
				
				<div class="dt_controls">
					<table cellspacing="0">
					  <tr>
						<td><div class="dt_rewind" title="Play Previous"></div></td>
						<td><div class="dt_play" title="Play"></div></td>
						<td><div class="dt_fast-forward" title="Play Next"></div></td>
						<td><div class="dt_repeat" title="Repeat"></div></td>
						<td><div class="dt_stop" title="Stop"></div></td>
					  </tr>
					</table>
				</div>

				</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
				<td  class="d-rus">- Здравствуйте! </td>
				<td class="d-eng">- Hello</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div></td>
				<td class="d-rus">- Здравствуйте! </td>
				<td class="d-eng">- Good afternoon</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div></td>
				<td class="d-rus">- Как Вас зовут? </td>
				<td class="d-eng">- What is your name?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- Елена.</td>
				<td class="d-eng">- Yelena.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Я Майк.</td>
				<td class="d-eng">- I'm Mike.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Приятно познакомиться, Майк. Вы американец?</td>
				<td class="d-eng">- Nice to meet you, Mike. Are you American?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Да, я из США.</td>
				<td class="d-eng">- Yes, I am from the USA.</td>
			</tr>
			<tr>
				<td colspan="2" class="d-tfoot">
					<div class="dt_inf" style="display: none"></div>
				<script type="text/javascript"> 
					var  dc1 = new dialog_controls( {
					id: "dc1", 
					file: "/sounds/0-dt_test.mp3",
					tracks: [0,1384,2400,4153,7602]
				
					} )
				</script>
				
				</td>
				<td class="d-tfoot">
				&nbsp;
				
				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>
		


<h3 class="es-task">Match sounds and text</h3>


<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the phrases and find corresponding Russian expressions from the list below.</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="left" style="margin: auto">
<col width="80">
<col width="20">
<col width="40">
<col width="200">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01114.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01110.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" >
<col width="170">
<col width="190">

<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Здравствуйте!</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Как Вас зовут?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Вы американец?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Меня зовут ... .</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Я из США.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Приятно познакомиться!</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Как поживаете?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Извините, пожалуйста.</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>
		
		
		
		
		
	<br><br><br><br><br><br><br><br>	

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Listen, repeat ad read the translation of words and expressions below.</h3>
	
	
	<h3 align="center">Making acquaintance</h3>
	
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Как Вас зовут?
			</td>
			<td class="wl-eng">
				What is your name? (formal)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01102.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Как тебя зовут?
			</td>
			<td>
				What is your name? (informal)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Меня зовут ...
			</td>
			<td>
				My name is ...
			</td>
		</tr>

		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01104.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Моё имя ... 
			</td>
			<td>
				My first name is ... 
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01104.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Моя фамилия ... 
			</td>
			<td>
				My last name is ... 
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01104.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Я ...
			</td>
			<td>
				I'm ...
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01115.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Приятно познакомиться. 
			</td>
			<td>
				Nice to meet you. 
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01107.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Очень приятно. 
			</td>
			<td>
				Pleased (to meet you).
			</td>
		</tr>
	</tbody>
	</table>
	
	<br>
	<br>
	
	<h3 align="center">Nationalities</h3>
	
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				австралиец
			</td>
			<td class="wl-eng">
				 Australian (male)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				австралийка
			</td>
			<td class="wl-eng">
				Australian (female)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01102.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				американец
			</td>
			<td>
				American (male)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01102.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				американка
			</td>
			<td>
				American (female)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				англичанин
			</td>
			<td class="wl-eng">
				 Englishman
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				англичанка
			</td>
			<td class="wl-eng">
				Englishwoman
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				канадец
			</td>
			<td>
				Canadian (male)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				канадка
			</td>
			<td>
				Canadian (female)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				немец
			</td>
			<td class="wl-eng">
				 German (male)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				немка
			</td>
			<td class="wl-eng">
				German (female)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				русский
			</td>
			<td>
				Russian (male)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				русская 
			</td>
			<td>
				Russian (female)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				француз 
			</td>
			<td>
				Frenchman 
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				француженка
			</td>
			<td>
				Frenchwoman
			</td>
		</tr>
	</tbody>
	</table>
	<br>
	<br>
	
		<h3 align="center">Additional vocabulary</h3>
	
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th >Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				я
			</td>
			<td class="wl-eng">
				 I 
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				ты
			</td>
			<td class="wl-eng">
				You
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01102.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				он
			</td>
			<td>
				he/it
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01102.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				она
			</td>
			<td>
				she/it
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				оно
			</td>
			<td class="wl-eng">
				 it
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				мы
			</td>
			<td class="wl-eng">
				we
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				вы
			</td>
			<td>
				you
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				они
			</td>
			<td>
				they
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				из
			</td>
			<td>
				from
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				США
			</td>
			<td>
				the USA
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				и
			</td>
			<td>
				and
			</td>
		</tr>
	</tbody>
	</table>
	

	<br><br><br><br>

<h3 class="es-task-in">Listen to the phrase and answer "yes" or  "no" </h3>	
	
<div id="ch1" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 10,
		answer_type: 'yn',
		basic_array: [
		
		['Как Вас зовут?','What is your name? (formal)'],
		['Как тебя зовут?','What is your name? (informal)'],
		['Меня зовут ...','My name is ...'],
		['Моё имя ...','My first name is ...'],
		['Моя фамилия ...','My last name is ...'],
		['Я ...','I\'m ...'],
		['Приятно познакомиться.','Nice to meet you.'],
		['Очень приятно.','Pleased (to meet you).'],
		
		['австралиец','Australian (male)'],
		['австралийка','Australian (female)'],
		['американец','American (male)'],
		['американка','American (female)'],
		['англичанин','Englishman'],
		['англичанка','Englishwoman'],
		['канадец','Canadian (male)'],
		['канадка','Canadian (female)'],
		['немец','German (male)'],
		['немка','German (female)'],
		['француз','Frenchman'],
		['француженка','Frenchwoman']
		
		
		
		
		]
		} )
</script>



<br>
<br>

<br><br>

<h3 class="es-task-in">Read the Russian phrase and find its translation </h3>

<div id="ch2" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>


<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		variants_num: 4,
		basic_array: [

		['Как Вас зовут?','What is your name? (formal)'],
		['Как тебя зовут?','What is your name? (informal)'],
		['Меня зовут ...','My name is ...'],
		['Моё имя ...','My first name is ...'],
		['Моя фамилия ...','My last name is ...'],
		['Я ...','I\'m ...'],
		['Приятно познакомиться.','Nice to meet you.'],
		['Очень приятно.','Pleased (to meet you).'],
		
		['австралиец','Australian (male)'],
		['австралийка','Australian (female)'],
		['американец','American (male)'],
		['американка','American (female)'],
		['англичанин','Englishman'],
		['англичанка','Englishwoman'],
		['канадец','Canadian (male)'],
		['канадка','Canadian (female)'],
		['немец','German (male)'],
		['немка','German (female)'],
		['француз','Frenchman'],
		['француженка','Frenchwoman']
		
		]
		} )
</script>




<br>
<br>
<br>



	</div>
</div>




<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h2 class="es-tab-p ">Grammatical gender in Russian</h2>
	
	
	<p>
		All Russian nouns have gender, masculine, feminine or neuter, without regard what they mean, a person or an object. 
		In the majority of instances, you can determine the grammatical gender of a noun based on its ending of the dictionary form. 
	</p>
	<p>
		The basic rules to determine grammatical gender of Russian nouns are: 
	</p>
	<ol class="ital">
		<li>Masculine nouns usually end in a consonant letter or <span class="eg">-й</span></li>
		<li>Feminine nouns usually end in <span class="eg">-a</span> or <span class="eg">–я</span></li>
		<li>Neuter nouns usually end in <span class="eg">-о</span>, <span class="eg">-е</span>, or <span class="eg">-ё</span>.</li>
	</ol>
	
	<p>It should be mentioned there Russian nouns may end in other letters, not only the above mentioned ones. 
	It is diffficult to determine the grammatical gender of such nouns. For example, in Russian there are both masculine and feminine nouns ending in -ь: 
	словарь - dictionary (masculine), дверь - door (feminine). 
	</p>
	<p>
		Gender is an important grammatical category in Russian and it is impossible to build a correct phrase in Russian without knowing the gender of nouns. 
		One of the difficulties with gender of nouns consists in the fact that in a phrase the form of adjectives, pronouns, some numbers and some verb tenses will depend of the related noun's gender.
	</p>	
<br>
<br>

		
<h2 class="es-tab-p ">Stem and endings of Russian nouns</h2>		
		
<p>
Stem is a part of the word that can be determined by dropping the ending of the noun. 
It is important to determine the stem and the ending of a noun in Russian. Russian nouns often change their endings, so you will need to know which part of the word
should be changed (ending), and which part will always remain the same (stem). 
</p>
<p>
As you have already read the information about Russian gender, 
you should know that -а/-я are the endings of feminine nouns and -о/-е/-ё are the endings of neuter nouns. It means that you can get the stem of feminine and neuter nouns by dropping respective endings.
 
</p>
		
<h2 class="es-tab-p ">Personal pronouns in Russian</h2>		
		
<p>	
Personal pronouns in Russian distinguish three persons and two numbers. In the third singular person they have three genders (masculine, feminine and neuter).
</p>
<p>
The table below represents Russian personal pronouns:
</p>	


<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;">
	<col width="100">
	<col width="100">
	<col width="100">
	<tr style="vertical-align: middle;">
		<th>Person</th>
		<th >Singular</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd"> Plural</th>
	</tr>
	<tr>
		<td class="case-name">1st person</td>
		<td>я</td>
		<td>мы</td>
	</tr>
	<tr>
		<td class="case-name">2nd person</td>
		<td>ты</td>
		<td>вы</td>

	</tr>
	<tr>
		<td  class="case-name">3d person</td>
		<td>он<br>
			она<br>
			оно
		</td>
		<td style="vertical-align: middle">они</td>
	</tr>
</table>

<p>
The second-person pronouns are ты 'you' (singular) and вы 'you' (plural). Ты is normally used in a familiar form of address. In formal discourse, when addressing one person, it is required to use the pronoun Вы which behaves grammatically as plural and serves as the polite way of address to the collocutor. In letter writing, the respectful form is capitalized (Вы).
</p>
	
<br>
<br>	

<h2 class="es-tab-p ">Constructions <span style="font-weight: normal">Это .../Вот ...</span></h2>		
		
<p>	
Constructions Это ... and Вот ... are used in Russian to point out and to present a person or an object. 
The construction Это ... can be translated as "this is .../that is .../it is ...". 
Вот ... is used in the sense of "Here is ..." when pointing someone or something and is more used in conversational Russian.
</p>	
	
	
		
		
<br><br><br><br><br>

<h3 class="es-task-in">Revise the information about Russian grammar and complete the test</h3>	


<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">

	
<div class="task">Choose an answer to the following questions:</div>

<div  class="gr_ex_variants">


<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				1. The Russian language has two genders: masculine ans feminine.
			</div>

			
			<div class="gexv_variant"><input type="checkbox">  True   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> False   </div>
		
		</td>
	</tr>
	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				 2. The grammatical gender of nouns is important in Russian, because: 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" >  the word order in the sentence depends on it  </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  it will determine forms of other words in the sentence  </div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  3. Usually, nouns that end in a consonant are: 
			</div>			
			<div class="gexv_variant"><input type="checkbox" class="ok">  masculine   </div>
			<div class="gexv_variant"><input type="checkbox">  feminine   </div>	
			<div class="gexv_variant"><input type="checkbox" >  neuter   </div>				
		</td>
	</tr>
	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				  4. Usually, nouns that end in -о and -е are: 
			</div>
			<div class="gexv_variant"><input type="checkbox">  masculine   </div>
			<div class="gexv_variant"><input type="checkbox">  feminine   </div>	
			<div class="gexv_variant"><input type="checkbox"  class="ok">  neuter   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  5. Russian personal pronouns distinguish three persons. 
			</div>
			<div class="gexv_variant"><input type="checkbox"  class="ok"> True   </div>
			<div class="gexv_variant"><input type="checkbox" > False   </div>
		
		</td>
	</tr>
	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				 6. Russian pronoun ты is used in:
			</div>
			
			<div class="gexv_variant"><input type="checkbox">  formal discourse   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  informal discourse   </div>
		
		</td>
	</tr>
</table>

<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>

     </div>		
</div>


<br/><br/><br/>

<h3 class="es-task-in">Complete the following test.</h3>


<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">
	
<div class="task">Determine the gender of the following nouns:</div>

<div  class="gr_ex_variants">

<table class="gr_ex_vars_tab" cellpadding="0" cellspacing="0" border="0">
	<tr class="gex_headers">
		<td width="230" >&nbsp;
		</td>
		<td class="gex_side" style="border-width: 0px">
			Masculine
		</td>
		<td class="gex_devider" style="border-width: 0px">
			Feminine
		</td>
		<td class="gex_devider" style="border-width: 0px">
			Neuter
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				1. шоколад (chocolate)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				2. музей (museum)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				3. вино (wine)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" > 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox" class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				4. чай (tea)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				5. проблема (problem)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				6. банан (banana)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				7. водка (vodka)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				8. кафе (cafe)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"  class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				9. телефон (phone)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				10. сувенир (souvenir)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox" class="ok"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				11. метро (subway)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"  class="ok"> 
		</td>
	</tr>
	<tr>
		<td >
			<div class="gexv_task gexv_sign">
				12. музыка (music)
			</div>
		</td>
		<td class="gex_side">
			<input type="checkbox"> 
		</td>
		<td class="gex_side">
			<input type="checkbox"  class="ok"> 
		</td>
		<td class="gex_devider">
			<input type="checkbox"> 
		</td>
	</tr>
	
</table>



<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br/><br/>



<h3 class="es-task-in">Find appropriate replies to the phrases.</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">


<div id="di1">	
				
<p class="task">Drag and drop the following words or type them in the text fields. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a> </p> 
<br>
<table style="cursor: pointer; margin: 0 auto; border: 1px dashed #000" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td>
		<div>я</div>
	</td>
	<td>
		<div>ты</div>
	</td>
	<td>
		<div>он</div>
	</td>
	<td>
		<div>она</div>
	</td>
</tr>
<tr>
	<td >
		<div>оно</div>
	</td>
	<td>
		<div>мы</div>
	</td>
	<td>
		<div>вы</div>
	</td>
	<td>
		<div>они</div>
	</td>
</tr>
</table>
<br>
<br>



<div  class="gr_ex_type">

<div class="gext_task gext_sign"> 

1. Джон Американец? - Да, <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">он</span> американец.
 
<div class="gext_show"><span>Джон американец? - Да, <b>он</b> американец.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. Линда, ты англичанка? - Да, <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">я</span> англичанка.
 
<div class="gext_show"><span>Линда, ты англичанка? - Да, <b>я</b>  англичанка.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Это Патрик. <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">он</span> француз.
 
<div class="gext_show"><span>Это Патрик. <b>Он</b> француз.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. Кайл и Алекс, вы из США? - Да, <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">мы</span> из США.
 
<div class="gext_show"><span>Кайл и Алекс, вы из США? - Да, <b>мы</b> из США.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Джейн, Вы американка? - Нет, <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">я</span> канадка.
 
<div class="gext_show"><span>Джейн, Вы американка? - Нет, <b>я</b> канадка.</span> &nbsp;</div>

</div>
<div class="gext_task gext_sign"> 

5. Это Елена. <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">она</span> русская.
 
<div class="gext_show"><span>Это Елена. <b>Она</b> русская.</span> &nbsp;</div>

</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di1  -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: false,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"

		} )
</script>


				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>




	<br><br><br>














<br><br><br><br><br><br><br>	
		
		
		


	</div>
</div>

<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Read the text aloud, and then listen to the phrases and check your reading.</h3>	
	

	<div class="es-pr-read-container">
		<h4>Introductions</h4>
	
		<table cellspacing="0">
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Здравствуйте. Меня зовут Джон. Я американец.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Привет. Я Марина. Я русская.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Это Джек. Он канадец. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio" valign="top">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td >
					Здравствуйте. Моё имя Рональд. Моя фамилия Стенли. Я австралиец. 
				</td>
			</tr>
		</table>
		
		<h4>Dialogue </h4>
		<table cellspacing="0">
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Привет.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Привет. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Тебя как зовут? 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Ольга. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- А меня Сергей. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					- Приятно познакомиться.
				</td>
			</tr>
		</table>
	</div>
	
	
	<h3 class="es-task-in">Look through the dialogues above and complete the test.</h3>	
	
	
	
	<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">

	
<div class="task">Choose an answer to the following questions:</div>

<div  class="gr_ex_variants">


<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				1. John is from:
			</div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  USA   </div>
			<div class="gexv_variant"><input type="checkbox" > Canada   </div>
			<div class="gexv_variant"><input type="checkbox" > Australia   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  3. Ronald is from: 
			</div>
			<div class="gexv_variant"><input type="checkbox" >  USA   </div>
			<div class="gexv_variant"><input type="checkbox" > Canada   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> Australia   </div>		
		</td>
	</tr>
	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				 2. Jack  is from: 
			</div>
			<div class="gexv_variant"><input type="checkbox" >  USA   </div>
			<div class="gexv_variant"><input type="checkbox" > Australia   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> Canada   </div>
		</td>
	</tr>
	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				  4. Olga and Serguey are close friends. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" >  True   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  False   </div>
		
		</td>
	</tr>
</table>

<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>

</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>

     </div>		
</div>
	
	<br><br><br><br>
	
<h3 class="es-task-in">Answer the questions using phrases in brackets. Replace names with personal pronouns where possible.</h3>	
	


<div class="es-egdiv" style="display: block">
<h4>Model: </h4>

<div style="padding: 0 20px 10px 40px; font-size: 11px;"> 
<table cellspacing="0"> 
	<tr valign="top"> 
		<td width="330">
			<table cellspacing="0"> 
				<tr valign="top"> 
		 				<td width="120" class="bold"> 
		 					Ты русская?   
		 				</td> 
						<td width="15">- 
                       	</td> 
		 				<td width="180" class="bold"> 
		 					<span class="norm_txt">(русская)</span>   Да, я русская.<br>  
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top" class="ital">Are you Russian? - (Russian) Yes, I'm Russian.<br><br> 
		</td> 
	</tr> 
</table> 
<table cellspacing="0"> 
	<tr valign="top"> 
		<td width="330">
		
			<table cellspacing="0"> 
				<tr valign="top"> 
		 				<td width="120" class="bold"> 
		 					Линда канадка?  
		 				</td> 
						<td width="15">- 
                       	</td> 
		 				<td width="180" class="bold"> 
		 					<span class="norm_txt">(канадка)</span>  Да, она канадка.<br><br> 
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top" class="ital">Is Linda Canadian? - Yes, she is Canadian.<br><br> 
		</td> 
	</tr> 
</table>
<table cellspacing="0"> 
	<tr valign="top"> 
		<td width="330">
		
			<table cellspacing="0"> 
				<tr valign="top"> 
		 				<td width="120" class="bold"> 
		 					Это Джон?  
		 				</td> 
						<td width="15">- 
                       	</td> 
		 				<td width="180" class="bold"> 
		 					<span class="norm_txt">(Майк)</span>  Нет, это Майк.<br>
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top" class="ital">Is this John? - No, this is Mike.
		</td> 
	</tr> 
</table> 
</div>
 </div>
 <br> <br>
 
<table class="es-quest-answ" cellspacing="0" style="margin: 0 auto" align="center">
	<tr>
		<td class="rus_phr">Томас англичанин?</td>
		<td>- (англичанин)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Билл австралиец?</td>
		<td>- (канадец) </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Вы француженка? </td>

		<td>- (француженка) </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourselfs</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Максим русский? </td>
		<td>- (француз)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Это Олег? </td>
		<td>- (Олег)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Ты англичанка? </td>
		<td>- (австралийка)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Он немец? </td>
		<td>- (немец)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
</table>

<br>
<br>



<h3 class="es-task-in">Translate phrases, using given words</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">


<div id="di2">	
				
<p class="task">Drag or type the words in the text field. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></p> 
<br>


<div  class="gr_ex_type di_mix">



<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">This is John. He is American</div>
<div class="di_mix_variants">это Джон он американец</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">Это Джон Он американец</span>
<div class="gext_show"><span><b>Это Джон. Он американец</b></span> &nbsp;</div>

</div>


<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">My name is Stanly. I'm Canadian.</div>
<div class="di_mix_variants">меня зовут Стенли. я канадец</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">Меня зовут Стенли Я канадец</span>
<div class="gext_show"><span><b>меня зовут Стенли. я канадец.</b></span> &nbsp;</div>

</div>


<div class="gext_task gext_sign"> 

<div class="di_mix_tobuild">My first name is Svetlana. My last name is Petrova.</div>
<div class="di_mix_variants">моё имя Светлана моя фамилия Петрова</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">Моё имя  Светлана. Моя фамилия  Петрова.</span>
<div class="gext_show"><span><b>Моё имя - Светлана. Моя фамилия - Петрова.</b></span> &nbsp;</div>

</div>


<div class="gext_task gext_sign">

<div class="di_mix_tobuild">This is Audry. Audry is from France.</div>
 <div class="di_mix_variants">это Одри. Одри француженка.</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">Это Одри. Одри француженка.</span>


<div class="gext_show"><span><b>Это Одри. Одри француженка.</b></span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di1  -->


<script type="text/javascript"> 
	var di2 = new draginput_test( {
		id: "di2", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>


				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>















<br>
<br><br><br>	
	
	
	<br><br><br>	<br><br><br>	<br><br><br>



	</div>
</div>


<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<br><br><br> 
 
 
 
<div class="form-wrapper" id="mc1" style="width: 450px; margin: 0 auto;"> 
	<div class="form-top"> 
		<div class="form-top-left"></div> 
		<div class="form-top-right"></div> 
	</div> 
 
	<div class="form-right"> 
		<div class="form-left"> 
			<div class="form-questionaire"> 
				<div class="mc_question" style="height: 40px;"> 
            	</div> 
			</div> 
			   <div class="form-variants"> 
			   		<div  class="mc_variants" style="height: 180px; overflow: hidden; position: relative;"> 
			
					</div> 
			   </div> 
		</div> 
	</div> 
	<div class="form-mid"> 
		<div class="form-mid-left"></div> 
		<div class="form-mid-right"></div> 
	</div> 
	<div class="form-bottom"> 
		<div class="form-bottom-left"></div> 
		<div class="form-bottom-right"> 
			<div class="mc_counter"></div> 
		</div> 
	<div  class="mc_check" style="position: absolute; margin: 6px 0 0 15px; width: 250px;"></div> 
	</div> 
</div> 
 
<script type="text/javascript"> 
 
var mc1 = new mcTest( {tasks:[
['How to say in Russian: <br> <span class="norm_txt">Nice to meet you!<\/span>', [['Здравствуйте!'], ['До свидания'], ['Приятно познакомиться']], [2]], 
['How to say in Russian: <br> <span class="norm_txt">What is your name?<\/span>', [['Как тебя зовут?'], ['Как поживаете?'], ['Как дела?']], [0]],
['How many genders does the Russian language have?', [['1'], ['2'], ['3']], [2]],
['Most Russian feminine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [1]],
['Most Russian masculine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [2]],
['Most Russian neuter nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [0]],
['How to say in Russian: <br> <span class="norm_txt">My last name is ...<\/span>', [['Моя фамилия ... '], ['Моё имя ... '], ['Меня зовут ... ']], [0]],

], 
buildId: 'mc1' } )
 
</script>
	
<br><br><br><br>		
	
<h2 class="es-tab-p ">In this lesson you have learnt:</h2>		
	
	
<ul class="rev-summary">
	<li>Russian words and expressions used to make acquantance, and words for some nationalities.</li>
	<li>General information about gender in Russian. </li>
	<li>General information about Russian personal pronouns</li>
	<li>You have also practised to read in Russian and and translate into Russian.</li>
</ul>

<br><br><br>

<h2 class="es-tab-p ">In case you want to work more on this lesson:</h2>		
	
	
<ul class="rev-summary">
	<li>Read aloud or learn by heart the dialogue(s)  from the section <a href="javascript:;" onclick="openTabFromUrl(1)">Dialogues</a>.</li>
	<li>Get familiar with vocabulary topic  <a href="/acquaintance.html" >Making acquaintance</a></li>
	<li>Read the following articles about Russian grammar: <br>
		- <a href="russian-words-order.html">Words order in Russian sentences</a><br>
		- <a href="russian-address-forms.html">Polite and familiar address in Russian</a>
	</li>
</ul>	
	
	
<br><br><br><br><br><br>	
	
	
	
	
	
	
	
		



	</div>
</div>































	</div><!-- end of #content -->
</div>



<script type="text/javascript">
currentSection="course";
</script>

