<% @page_title = 'Study Russian Online: Russian alphabet exercises' %>
<% @page_meta = {'description' => ""} %>
<% @has_audio = true %>
<% @with_rec = true %>
<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'alphabet-exercises' %>

<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<%= stylesheet_link_tag 'alphabet-exercises' %>
 <%= javascript_include_tag 'virtual-keyboard' %>
 <%= stylesheet_link_tag 'keyboard' %>


<% end %>
<div class="hint_wrap">
<div class="hint_button" style="float: right">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="basic-letters.html">Russian Letters</a></li>
     				<li><a href="/russian-reading-alphabet.html" >Learn Russian alphabet</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>

<h2 class="page">Russian letters denoting <br>consonant sounds</h2>
<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/russian-reading-alphabet.html">Learn Russian alphabet</a>

	<span class="int-arrow">--&gt;</span> Lesson 3
	</span>
</h3>


<p>
In this lesson, you can work with 11 Russian letters denoting consonant sounds, and two special Russian signs.  
These letters may seem unusual and new for English speaking people, since they look quite different from English letters.
</p>
<p>
Notice that Russian letters <span class="letter">Б</span>, <span class="letter">Г</span>, <span class="letter">Д</span>, <span class="letter">Ж</span>, <span class="letter">Л</span>, <span class="letter">П</span>, <span class="letter">Ф</span> and <span class="letter">Ш</span> are new for English speaking people, but the sounds they denote are similar to some English sounds.
Russian letters <span class="letter">Щ</span> and <span class="letter">Ц</span> denote Russian sounds <span class="sound" onclick="playSound('sound238.mp3')">[sch] <span class="play_tip">&nbsp; &nbsp;</span></span> and <span class="sound" onclick="playSound('sound240.mp3')">[ts] <span class="play_tip">&nbsp; &nbsp;</span></span>, respectively, that are among the most difficult Russian sounds. 
The name of the letter <span class="letter">Й</span> does not truly reflect the sound it denotes, since it is read as (denotes the sound) <span class="sound" onclick="playSound('sound237.mp3')">[y] <span class="play_tip">&nbsp; &nbsp;</span></span> in texts. 
</p>

<p>
As a rule, the <a href="/basic-letters.html#basic">basic meaning</a> of a consonant letter is the consonant sound which forms the name of this letter. 
</p>

<p>
There are two special signs in Russian: soft sign <span class="letter">ь</span> and hard sign <span class="letter">ъ</span>. These letters do not designate any sound of their own. They indicate, respectively, softness and hardness of previous consonants. You can find more details about softness and hardness in the Russian language on the page <a href="softness.html">Softness of consonants in Russian</a>.
</p>

<br><br>

<h3 class="es-task-in">Listen and repeat the following Russian letters</h3>
	
	
	
	<table class="es-words-list" cellspacing="1">
	
	<thead>
		<tr>
			<th class="{sorter: false}">Uppercase</th>
			<th class="{sorter: false}">Lowercase</th>
			<th class="{sorter: false}">Sound</th>
			<th class="{sorter: false}">Name</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-rus">
				Б
			</td>
			<td class="wl-rus">
				б
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound102.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[be]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Г
			</td>
			<td class="wl-rus">
				г
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound104.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[ge]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Д
			</td>
			<td class="wl-rus">
				д
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound105.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[de]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ж
			</td>
			<td class="wl-rus">
				ж
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound108.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[je]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Й
			</td>
			<td class="wl-rus">
				й
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound111.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[i kratkaye]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Л
			</td>
			<td class="wl-rus">
				л
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound113.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[el]
			</td>
		</tr>
		<tr>
			
			<td class="wl-rus">
				П
			</td>
			<td class="wl-rus">
				п
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound117.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[pe]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ф
			</td>
			<td class="wl-rus">
				ф
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound122.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[ef]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ц
			</td>
			<td class="wl-rus">
				ц
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound124.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[tse]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ш
			</td>
			<td class="wl-rus">
				Ш
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound126.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[sha]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Щ
			</td>
			<td class="wl-rus">
				щ
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound127.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[scha]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ь
			</td>
			<td class="wl-rus">
				ь
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound130.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[m'ahkiy znak]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ъ
			</td>
			<td class="wl-rus">
				ъ
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound128.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[tv'ordiy znak]
			</td>
		</tr>
	</tbody>
	</table>
	
	<br>
	<br>

<h3 class="es-task-in">Listen to the sound and answer "yes" or "no"</h3>

	
<div id="ch1" class="es-ex-wrapper">
<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Go to next automatically</span> </div>
	<div class="es-ex-final"></div>

</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">
				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>

		</td>
		<td class="es-ex-tasks" valign="top">
			<div class="yn-answer-type">
					<p class="es-yn-task-p">This sound corresponds to the letter</p>
					<div class="es-yn-variant-wrapper"><div class="es-yn-variant yn-trans">&nbsp;</div></div>
					<div class="es-ex-buttons yn-btns">
						<input type="button" class="es-ex-es-btn yn-yes" value="Yes"/> &nbsp;&nbsp;&nbsp;&nbsp; <input value="NO" type="button"  class="es-ex-es-btn yn-no"/>

					</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>

<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>
		</tr>
	</table>
</div>

</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 12,
		answer_type: 'yn',
		quest_type: 'audio',
		basic_array: [
		
['/sounds/sound102.mp3','Б'],
['/sounds/sound104.mp3','Г'],
['/sounds/sound105.mp3','Д'],
['/sounds/sound108.mp3','Ж'],
['/sounds/sound111.mp3','Й'],
['/sounds/sound113.mp3','Л'],
['/sounds/sound117.mp3','П'],
['/sounds/sound122.mp3','Ф'],
['/sounds/sound124.mp3','Ц'],
['/sounds/sound126.mp3','Ш'],
['/sounds/sound127.mp3','Щ'],
['/sounds/sound130.mp3','Ь'],
['/sounds/sound128.mp3','Ъ']

		]
		} )
</script>



<br><br><br>

<h3 class="es-task-in">Listen to the sounds and choose the corresponding Russian letter </h3>	
	
<div id="ch2" class="es-ex-wrapper">
<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Go to next automatically</span> </div>
	<div class="es-ex-final"></div>

</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">
				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>

		</td>
		<td class="es-ex-tasks" valign="top">
			<div class="yn-answer-type">
					<p class="es-yn-task-p">This sound corresponds to the letter</p>
					<div class="es-yn-variant-wrapper"><div class="es-yn-variant yn-trans">&nbsp;</div></div>
					<div class="es-ex-buttons yn-btns">
						<input type="button" class="es-ex-es-btn yn-yes" value="Yes"/> &nbsp;&nbsp;&nbsp;&nbsp; <input value="NO" type="button"  class="es-ex-es-btn yn-no"/>

					</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>

<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>
		</tr>
	</table>
</div>
</div>

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 12,
		quest_type: 'audio',
		basic_array: [
		
['/sounds/sound102.mp3','Б б'],
['/sounds/sound104.mp3','Г г'],
['/sounds/sound105.mp3','Д д'],
['/sounds/sound108.mp3','Ж ж'],
['/sounds/sound111.mp3','Й й'],
['/sounds/sound113.mp3','Л л'],
['/sounds/sound117.mp3','П п'],
['/sounds/sound122.mp3','Ф ф'],
['/sounds/sound124.mp3','Ц ц'],
['/sounds/sound126.mp3','Ш ш'],
['/sounds/sound127.mp3','Щ щ'],
['/sounds/sound130.mp3','Ь ь'],
['/sounds/sound128.mp3','Ъ ъ']

		]
		} )
</script>
	


<br><br>






<h3 class="es-task-in">Match sounds and letters</h3>

<h3 class="es-task">&nbsp;</h3>


<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the sounds. Drag the Russian letters and drop them into the corresponding fields.</p>		

<table align="center" style="margin: 0 auto;">


<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="left" style="margin: auto">
<col width="80">
<col width="20">
<col width="40">
<col width="100">
<tr>
	<td class="ds-quest" align="center">
			Sound 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound126.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Sound 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound105.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound102.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound122.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound113.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound108.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound117.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 8
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound124.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 9
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound127.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 10
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('sounds/sound104.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>

</table>

</td>



<td style="padding-left: 30px;">
	
<table class="ds_variants_list" >
<col width="100">

<tr valign="top">
<td >

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Б б</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">10</span>Г г</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Д д</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Ж ж</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Л л</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>П п</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Ф ф</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">8</span>Ц ц</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Ш ш</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">9</span>Щ щ</div></div>
	</li>	
</ul>

</td>

</tr>
</table>


</td>
</tr>
</table>

<br><br>
<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>
		
		
		
		
		
	<br><br>


<br><br>



<h3 class="es-task-in">Listen to the sounds and type the corresponding letters in the text field</h3>	
	
<div id="ch3" class="es-ex-wrapper">
	<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Go to next automatically</span> </div>
	<div class="es-ex-final"></div>
</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">

				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>
		</td>
		<td class="es-ex-tasks" valign="top">
		<div class="es-ex-type-elem">
			<div class="kb-show-wrapper">
			<a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]<span class="kb_offset_top" style="display: none;">220</span></a>
			</div>
			<input type="text" class="es-ex-type-field for_keyb ex-txt-letters" /> 
			<div class="es-ex-buttons es-ex-type-check-wrapper">
				<input type="button" class="es-ex-check-type" value="Check">
			</div>
			<div class="es-ex-type-elements">
				
			</div>
		</div>
		
		</td>
	</tr>
	<tr>

		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>
<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>

		</tr>
	</table>
</div>


</div>

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		quest_num: 12,
		answer_type: "type",
		quest_type: "audio",
		basic_array: [
		
['/sounds/sound102.mp3','Б'],
['/sounds/sound104.mp3','Г'],
['/sounds/sound105.mp3','Д'],
['/sounds/sound108.mp3','Ж'],
['/sounds/sound111.mp3','Й'],
['/sounds/sound113.mp3','Л'],
['/sounds/sound117.mp3','П'],
['/sounds/sound122.mp3','Ф'],
['/sounds/sound124.mp3','Ц'],
['/sounds/sound126.mp3','Ш'],
['/sounds/sound127.mp3','Щ'],
['/sounds/sound130.mp3','Ь'],
['/sounds/sound128.mp3','Ъ']

		]
		} )
</script>


<br><br>
<br><br>
<hr/>
<a href="/russian-alphabet-exercises-02.html"><b><< Previous lesson</b></a>

<br><br><br><br><br><br><br><br><br><br><br><br><br>



<script type="text/javascript">
//currentSection="";
</script>