<% @page_title='Essential Russian Course: Lesson 5' %>
<% @page_meta = {'description' => "The fifth lesson of the Essential Russian Course"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'multi-choice' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'es-multiexercises' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>


$(document).ready(function() {
	$(".gext_task input").addClass("for_keyb")
});


	
</script>

 <%= javascript_include_tag 'es-virtual-keyboard' %>
 <%= stylesheet_link_tag 'keyboard' %>

<%= stylesheet_link_tag 'es-course' %>
<%= stylesheet_link_tag 'es-exercise.css' %>
<%= stylesheet_link_tag 'es-grammar-exercises' %>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.ptab div {font-size: 12px;}

.ds-test li {float: left; list-style: none; font-size: 18px;}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
            <li><a href="phonetics-course.html">Phonetics course</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Lesson 5. Family</h2>



<div id="jpId"></div>


<div id="prof_tabs">

	<div id="tabs_row">
            <div id="tab01" class="ptab  current_ptab"><div><a href="#1">Dialogue</a></div></div>
            <div id="tab02" class="ptab"><div>Vocabulary</div></div>
            <div id="tab03" class="ptab"><div>Grammar</div></div>
			<div id="tab04" class="ptab"><div>Practice</div></div>
			<div id="tab05" class="ptab"><div>Revision</div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">

			
			<p>
				Listen to the dialogues and read the translation. Then, listen once again and repeat after the speaker.
			</p>
		
		<table id="dc1" class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="30">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th>Dialogue 1. Interview</th>
				<th >&nbsp;</th>
			</tr>
			<tr>
				<td colspan="3" class="d-pre-phrases" style="text-align: center">
				
				<div class="dt_controls">
					<table cellspacing="0">
					  <tr>
						<td><div class="dt_rewind" title="Play Previous"></div></td>
						<td><div class="dt_play" title="Play"></div></td>
						<td><div class="dt_fast-forward" title="Play Next"></div></td>
						<td><div class="dt_repeat" title="Repeat"></div></td>
						<td><div class="dt_stop" title="Stop"></div></td>
					  </tr>
					</table>
				</div>

				</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
				<td  class="d-rus">- Что это за фотография?   </td>
				<td class="d-eng">- What's for a photo is this?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div></td>
				<td class="d-rus">- Это моя семья. </td>
				<td class="d-eng">- It is my family.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div></td>
				<td class="d-rus">- Это твой папа?   </td>
				<td class="d-eng">- Is it your father?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- Да это мой папа и моя мама. </td>
				<td class="d-eng">- Yes, it's my father and my mother.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- А вот это твой брат Николай, да?  </td>
				<td class="d-eng">- And this is your brother, Nikolay, right?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Да, это он. Смотри, это Юля, моя сестра и её муж Игорь.  </td>
				<td class="d-eng">- Yes, it's him. Look, this is Yulya, my sister and her husband, Igor.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- А кто этот мужчина?  </td>
				<td class="d-eng">- And who is this man?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Это мой дядя Стёпа. Он военный.   </td>
				<td class="d-eng">- This is my uncle Styopa. He is military man.</td>
			</tr>
			<tr>
				<td colspan="2" class="d-tfoot">
					<div class="dt_inf" style="display: none"></div>
				<script type="text/javascript"> 
					var  dc1 = new dialog_controls( {
					id: "dc1", 
					file: "/sounds/0-dt_test.mp3",
					tracks: [0,1384,2400,4153,7602]
				
					} )
				</script>
				
				</td>
				<td class="d-tfoot">
				&nbsp;
				
				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>
		

		<table id="dc2" class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="30">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th>Dialogue 2. Introduction</th>
				<th >&nbsp;</th>
			</tr>
			<tr>
				<td colspan="3" class="d-pre-phrases" style="text-align: center">
				
				<div class="dt_controls">
					<table cellspacing="0">
					  <tr>
						<td><div class="dt_rewind" title="Play Previous"></div></td>
						<td><div class="dt_play" title="Play"></div></td>
						<td><div class="dt_fast-forward" title="Play Next"></div></td>
						<td><div class="dt_repeat" title="Repeat"></div></td>
						<td><div class="dt_stop" title="Stop"></div></td>
					  </tr>
					</table>
				</div>

				</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
				<td  class="d-rus">- Привет, Боря!   </td>
				<td class="d-eng">- Hi, Borya! </td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div></td>
				<td class="d-rus">- Привет!  </td>
				<td class="d-eng">- Hi!</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div></td>
				<td class="d-rus">- Познакомься, это мои братья, Андрей и Рома.  </td>
				<td class="d-eng">- Meet my brothers, Andrey and Roma.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- Здравствуйте.    </td>
				<td class="d-eng">- Hello.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- Очень приятно.    </td>
				<td class="d-eng">- Nice to meet you.</td>
			</tr>
			<tr>
				<td colspan="2" class="d-tfoot">

				<script type="text/javascript"> 
					var  dc2 = new dialog_controls( {
					id: "dc2", 
					file: "/sounds/0-dt_test.mp3",
					tracks: [0,1384,2400,4153,7602]
					} )
				</script>
				
				</td>
				<td class="d-tfoot">
				&nbsp;
				
				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>

<h3 class="es-task">Match sounds and text</h3>


<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the phrases and find corresponding Russian expressions from the list below.</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="240">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01114.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01110.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" >
<col width="240">
<col width="200">

<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Познакомься, это мои братья.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Это мой папа и моя мама.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Это твой брат Николай, да? </div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Это мой дядя Стёпа.</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Она менеджер.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Это моя семья. </div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Он военный.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Что это за фотография? </div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>
		
		
		
		
		
	<br><br><br><br><br><br><br><br>	

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Listen, repeat ad read the translation of words and expressions below.</h3>
	
	
	<h3 align="center">Family</h3>
	
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				муж
			</td>
			<td class="wl-eng">
				husband
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				жена
			</td>
			<td class="wl-eng">
				wife
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				супруг
			</td>
			<td class="wl-eng">
				spouse
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				супруга
			</td>
			<td class="wl-eng">
				wife
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				сын
			</td>
			<td class="wl-eng">
				son
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				дочь (дочка)
			</td>
			<td class="wl-eng">
				daughter (daughter)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				мать (мама)
			</td>
			<td class="wl-eng">
				mother (mom)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				отец (папа)
			</td>
			<td class="wl-eng">
				father (dad)
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				брат
			</td>
			<td class="wl-eng">
				brother
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				сестра
			</td>
			<td class="wl-eng">
				sister
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				сын
			</td>
			<td class="wl-eng">
				son
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				бабушка
			</td>
			<td class="wl-eng">
				grandmother
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				дедушка
			</td>
			<td class="wl-eng">
				grandfather
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				внук
			</td>
			<td class="wl-eng">
				grandson
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				внучка
			</td>
			<td class="wl-eng">
				granddaughter
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				дядя
			</td>
			<td class="wl-eng">
				uncle
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				тётя
			</td>
			<td class="wl-eng">
				aunt
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				семья
			</td>
			<td class="wl-eng">
				family
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				родственник
			</td>
			<td class="wl-eng">
				relative
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				родители
			</td>
			<td class="wl-eng">
				parents
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				дети
			</td>
			<td class="wl-eng">
				children
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				ребёнок
			</td>
			<td class="wl-eng">
				child
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				племянник
			</td>
			<td class="wl-eng">
				nephew
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				племянница
			</td>
			<td class="wl-eng">
				niece
			</td>
		</tr>	
	
	</tbody>
	</table>
	
	<br>
	<br>
	
		<h3 align="center">Extra</h3>
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th >Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				aга 
			</td>
			<td class="wl-eng">
				yeah
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				Что это за ... ?
			</td>
			<td class="wl-eng">
				What sort/kind of ... is that?
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				тоже
			</td>
			<td class="wl-eng">
				also
			</td>
		</tr>
	</tbody>
	</table>	
	
	<br>
	<br>
	
	


<h3 class="es-task-in">Listen to the phrase and answer "yes" or  "no" </h3>	
	
<div id="ch1" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 12,
		basic_array: [
		
['муж','husband'],
['жена','wife'],
['супруг','spouse'],
['супруга','wife'],
['сын','son'],
['дочь (дочка)','daughter (daughter)'],
['мать (мама)','mother (mom)'],
['отец (папа)','father (dad)'],
['брат','brother'],
['сестра','sister'],
['сын','son'],
['бабушка','grandmother'],
['дедушка','grandfather'],
['внук','grandson'],
['внучка','granddaughter'],
['дядя','uncle'],
['тётя','aunt'],
['семья','family'],
['родственник','relative'],
['родители','parents'],
['дети','children'],
['ребёнок','child'],
['племянник','nephew'],
['племянница','niece']
		
		
		
		]
		} )
</script>



<br>
<br>

<br><br>

<h3 class="es-task-in">Read the Russian phrase and find its translation </h3>

<div id="ch2" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>


<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		variants_num: 4,
		basic_array: [

['husband','муж'],
['wife','жена'],
['spouse','супруг'],
['wife','супруга'],
['son','сын'],
['daughter','дочь'],
['mother','мать'],
['father','отец'],
['brother','брат'],
['sister','сестра'],
['son','сын'],
['grandmother','бабушка'],
['grandfather','дедушка'],
['grandson','внук'],
['granddaughter','внучка'],
['uncle','дядя'],
['aunt','тётя'],
['family','семья'],
['relative','родственник'],
['parents','родители'],
['children','дети'],
['child','ребёнок'],
['nephew','племянник'],
['niece','племянница']
		
		]
		} )
</script>




<br>
<br>
<br>



	</div>
</div>




<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	

<h2 class="es-tab-p">Russian Possessive pronouns </h2>
<p>
Possessive pronouns are words used in place of a noun or another pronoun which indicate ownership. In English, these are pronouns "my", "your", "his", "her" etc.
</p>
<p>
As in English, Russian personal pronouns are devided into three persons, and each personal pronoun has a related possessive pronoun. Moreover, most of them agree in gender, number, and case with the modified noun. 
</p>
<p>
The table below represents the nominative case forms of Russian possessive pronouns.
</p>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;">
	<col width="100">
	<col width="100">
	<col width="100">
	<tr style="vertical-align: middle;">
		<th rowspan="3">Pronoun</th>
		<th colspan="4" style="padding-top: 8px; padding-bottom: 8px;" class="thbrd"> Number </th>
	</tr>
	<tr>
		<td colspan="3">Singular</td>
		<td rowspan="2">Plural</td>
	</tr>
	<tr>
		<td>masculine</td>
		<td>feminine</td>
		<td>neuter</td>
	</tr>
	<tr>
		<td class="case-name">Я</td>
		<td>мой</td>
		<td>моя</td>
		<td>моё</td>
		<td>мои</td>
	</tr>
	<tr>
		<td class="case-name">Ты</td>
		<td>твой</td>
		<td>твоя</td>
		<td>твоё</td>
		<td>твои</td>
	</tr>
	<tr>
		<td class="case-name">Он <br>Она<br>Оно<br>
		</td>
		<td>его<br>её<br>его</td>
		<td>его<br>её<br>его</td>
		<td>его<br>её<br>его</td>
		<td>его<br>её<br>его</td>
	</tr>
	<tr>
		<td class="case-name">Мы</td>
		<td>наш</td>
		<td>наша</td>
		<td>наше</td>
		<td>наши</td>
	</tr>
	<tr>
		<td class="case-name">Вы</td>
		<td>ваш</td>
		<td>ваша</td>
		<td>ваше</td>
		<td>ваши</td>
	</tr>
	<tr>
		<td class="case-name">Они</td>
		<td>их</td>
		<td>их</td>
		<td>их</td>
		<td>их</td>
	</tr>
</table>

<p>
As you can see, Russian third-person has the only form for all genders and numbers. Moreover, they are invariable not only in nominative, but also in other cases. As for other pronouns, their endings are similar to the endings of nouns: zero ending in masculine (they end in a consonant or -<span class="letter">й</span>), <span class="letter">а</span>/<span class="letter">я</span> for feminine, <span class="letter">е</span>/<span class="letter">ё</span> for neuter. 
</p>
<br><br>
<h2 class="es-tab-p">Demonstrative pronoun этот</h2>

<p>
Demonstrative pronouns are words used to point out a person or an object. The most frequently used demonstrative pronoun is <span class="eg">этот</span>, which can be translated into English as "this" and "that", depending on the context. 
</p>
<p>
Demonstrative pronouns agree in gender, number and case of nouns they modify. 
</p>
<p>
The table below presents the nominative case forms of the pronoun <span class="eg">этот</span>:
</p>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;">
	<col width="100">
	<col width="100">
	<col width="100">
	<tr style="vertical-align: middle;">
		<th rowspan="3">Pronoun</th>
		<th colspan="4" style="padding-top: 8px; padding-bottom: 8px;" class="thbrd"> Number </th>
	</tr>
	<tr>
		<td colspan="3">Singular</td>
		<td rowspan="2">Plural</td>
	</tr>
	<tr>
		<td>masculine</td>
		<td>feminine</td>
		<td>neuter</td>
	</tr>
	<tr>
		<td class="case-name">этот</td>
		<td>этот</td>
		<td>эта</td>
		<td>это</td>
		<td>эти</td>
	</tr>
</table>
<br><br>
<h2 class="es-tab-p">Particular cases of nominative plural </h2>

<h3 class="es-tab-p-p">Neuter nouns ending in -и in nominative plural </h3>

<p>
A few neuter nouns take the ending -<span class="letter">и</span> in nominative plural. These are nouns <span class="eg">колено</span>, <span class="eg">плечо</span>, <span class="eg">ухо</span>, 
and nouns ending in -<span class="letter">ко</span> in nominative singular.   
</p>


<h3 class="es-tab-p-p">Nouns ending in -ья in nominative plural </h3>
<p>
Some masculine and neuter nouns take the ending -<span class="letter">ья</span> in nominative plural. They are not numerous, but some of them are used very often. 
</p>
<p class="bold">
Masculine nouns:
 </p>
<p> 
<span class="eg">стул</span> <span class="egt">chair</span>, <span class="eg">брат</span> <span class="egt">brother</span>
<span class="eg">муж</span> <span class="egt">husband</span>,
<span class="eg">лист</span> <span class="egt">leaf</span>
and nouns <span class="eg">сын</span> <span class="egt">son</span>, and <span class="eg">друг</span> <span class="egt">friend</span> that undergo a stem change. 
</p>

<p class="ital bold">
Neuter nouns: 
</p>
<p>
дерево, перо, крыло
</p>

<h3 class="es-tab-p-p">Nouns мать and дочь </h3>
<p>
Nouns <span class="eg">мать</span> <span class="egt">mother</span> and <span class="eg">дочь</span> <span class="egt">daughter</span> add the element -<span class="letter">ер</span>- to their stem in plural (not only in nominative, but also in other cases): 
</p>
<p>
мать - матери <br>
дочь - дочери 
</p>

<h3 class="es-tab-p-p">Nouns with different words in nominative singular and plural </h3>
<p>
Nouns <span class="eg">человек</span> <span class="egt">person/human</span> and <span class="eg">ребёнок</span> <span class="egt">child</span> use different words for singular and plural: 
</p>

<p>
человек - люди<br>
ребёнок - дети
</p>


	
<br><br><br><br><br>



<h3 class="es-task-in">Choose an appropriate form of Russian nouns.</h3>

<div class="block" >
				<div class="block-clt">
						<div class="block-crt">
							<div class="block-top"></div>
						</div>
				</div>
				<div class="block-center">
				
<div class="task">Choose the singular or nominative form depending on the meaning of the sentence:</div> 				

<div  class="gr_ex_from_list">

<div class="gr_ex_unit"> 
1.  Ольга - врач.
<select>
<option>Его</option>
<option  class="ok">Её</option>
<option>Их</option>
</select>
муж - журналист.
</div>
<div class="gr_ex_unit"> 
2.  Рональд и Кэт - канадцы. Это
<select>
<option>его</option>
<option>её</option>
<option  class="ok">их</option>
</select>
дети - Лорен и Патрик.
</div>
<div class="gr_ex_unit"> 
3.  Иван - русский.
<select>
<option  class="ok">Его</option>
<option>Её</option>
<option>Их</option>
</select>
жена тоже русская.
</div>
<div class="gr_ex_unit"> 
4.  Сара - американка. А
<select>
<option>его</option>
<option  class="ok">её</option>
<option>их</option>
</select>
муж - француз.
</div>
<div class="gr_ex_unit"> 
5.  Джеф - программист.
<select>
<option  class="ok">Его</option>
<option>Её</option>
<option>Их</option>
</select>
друг тоже программист.
</div>
<div class="gr_ex_unit"> 
6.  Это братья, Николай и Олег.
<select>
<option>Его</option>
<option>Её</option>
<option  class="ok">Их</option>
</select>
отец - руссский.
</div>


<p class="ex_from_list_check"><input type="button" value="Check answers" ></p>

</div>


</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>
     </div>		
</div>


<br><br><br>


<h3 class="es-task-in">Form the nominative plural form of Russian nouns.</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">

<div id="di1">	
				
<p class="task">Drag and drop endings or type them in the text fields. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a> </p> 
<br>
<div  class="gr_ex_type">

<div class="exer_part">
Add an appropriate ending to the stem of masculine nouns
</div>

<table style="margin: 0 auto; border: 1px dashed #000" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td>
		<div>мой</div>
	</td>
	<td>
		<div>моя</div>
	</td>
	<td>
		<div>моё</div>
	</td>
	<td>
		<div>мои</div>
	</td>
</tr>
<tr>
	<td>
		<div>твой</div>
	</td>
	<td>
		<div>твоя</div>
	</td>
	<td>
		<div>твоё</div>
	</td>
	<td>
		<div>твои</div>
	</td>
</tr>
<tr>
	<td>
		<div>наш</div>
	</td>
	<td>
		<div>наша</div>
	</td>
	<td>
		<div>наше</div>
	</td>
	<td>
		<div>наши</div>
	</td>
</tr>
<tr>
	<td>
		<div>ваш</div>
	</td>
	<td>
		<div>ваша</div>
	</td>
	<td>
		<div>ваше</div>
	</td>
	<td>
		<div>ваши</div>
	</td>
</tr>
</table>
<br>
<br>

<div class="gext_task gext_sign"> 
&nbsp;&nbsp;1. Это ты. А это <input type="text" style="width: 50px" value=""> брат.<span class="gext_answer" style="display: none">твой</span>
<div class="gext_show"><span>Это ты. А это <b>твой</b> брат.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;2. Это мы. А это <input type="text" style="width: 50px" value=""> билеты.<span class="gext_answer" style="display: none">наши</span>
<div class="gext_show"><span>Это мы. А это <b>наши</b> билеты.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;3. Это я. А это <input type="text" style="width: 50px" value=""> сестра.<span class="gext_answer" style="display: none">моя</span>
<div class="gext_show"><span>Это я. А это <b>моя</b> сестра.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;4. Это мы. А это <input type="text" style="width: 50px" value=""> учитель.<span class="gext_answer" style="display: none">наш</span>
<div class="gext_show"><span>Это мы. А это <b>наш</b> учитель.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;5. Это мы. А это <input type="text" style="width: 50px" value=""> тётя.<span class="gext_answer" style="display: none">наша</span>
<div class="gext_show"><span>Это мы. А это <b>наша</b> тётя.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;6. Это вы. А это <input type="text" style="width: 50px" value=""> друзья.<span class="gext_answer" style="display: none">ваши</span>
<div class="gext_show"><span>Это вы. А это <b>ваши</b> друзья.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;7. Это я. А это <input type="text" style="width: 50px" value=""> папа.<span class="gext_answer" style="display: none">мой</span>
<div class="gext_show"><span>Это я. А это <b>мой</b> папа.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;8. Это ты. А это <input type="text" style="width: 50px" value=""> родители.<span class="gext_answer" style="display: none">твои</span>
<div class="gext_show"><span>Это ты. А это <b>твои</b> родители.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;9. Это вы. А это <input type="text" style="width: 50px" value=""> письмо.<span class="gext_answer" style="display: none">ваше</span>
<div class="gext_show"><span>Это вы. А это <b>ваше</b> письмо.</span></div>
</div>
<div class="gext_task gext_sign"> 
10. Это ты. А это <input type="text" style="width: 50px" value=""> письмо.<span class="gext_answer" style="display: none">твоё</span>
<div class="gext_show"><span>Это ты. А это <b>твоё</b> письмо.</span></div>
</div>
<div class="gext_task gext_sign"> 
11. Это я. А это <input type="text" style="width: 50px" value=""> кресло.<span class="gext_answer" style="display: none">моё</span>
<div class="gext_show"><span>Это я. А это <b>моё</b> кресло.</span></div>
</div>
<div class="gext_task gext_sign"> 
12. Это вы. А это <input type="text" style="width: 50px" value=""> журнал.<span class="gext_answer" style="display: none">ваш</span>
<div class="gext_show"><span>Это вы. А это <b>ваш</b> журнал.</span></div>
</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>

</div>

</div> <!-- end of di1  -->

<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: false,
		//nospace: true,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"

		} )
</script>
				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>
	<br><br><br>









<br><br><br><br><br><br><br>	
		
		
		


	</div>
</div>

<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Read the text aloud, and then listen to the phrases and check your reading.</h3>	
	

	<div class="es-pr-read-container">
		<h4>Introductions</h4>
	
		<table cellspacing="0">
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Это Джон. Он американец. Он женат. Его жена Ольга - биолог. Она русская.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Здравствуйте. Меня зовут Алексей. Я русский. Это моя жена, Татьяна. Она тоже русская. Она психолог. 
				</td>
			</tr>
		</table>
		
		<h4>Dialogue</h4>
	
		<table cellspacing="0">
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					О, Михаил. Привет! 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Привет, Сергей!  
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Как дела? 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Отлично! Вот, познакомься. Это моя жена, Света, и моя дочка - Елена. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Очень приятно.   
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Света. Это наш программист, Сергей.  
				</td>
			</tr>
		</table>
		
		
		<br><br><br>
		
	</div>
	
	
	<h3 class="es-task-in">Look through the dialogue and introductions, and complete the test.</h3>	
	
	
	
	<div class="block" >
	<div class="block-clt">
		 <div class="block-crt">
			  <div class="block-top"></div>
		 </div>
	</div>
	<div class="block-center">

	
<div class="task">Choose an answer to the following questions:</div>

<div  class="gr_ex_variants">


<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				1. Svetlana is Sergey's wife.
			</div>
			<div class="gexv_variant"><input type="checkbox" >  true  </div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> false   </div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  2. Tatyana is a psychologist. 
			</div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  true   </div>
			<div class="gexv_variant"><input type="checkbox" > false   </div>	
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 3. Sergey is a programmer. 
			</div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  true  </div>
			<div class="gexv_variant"><input type="checkbox" > false   </div>
		</td>
	</tr>
	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				  4. John is Olga's father. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" >  True   </div>
			<div class="gexv_variant"><input type="checkbox" class="ok">  False   </div>
		
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  5. Elena is Svetlana's daughter. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" class="ok">  True   </div>
			<div class="gexv_variant"><input type="checkbox" >  False   </div>
		
		</td>
	</tr>
	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				  6. Alexey is Tatyna's husband. 
			</div>
			
			<div class="gexv_variant"><input type="checkbox" class="ok">  True   </div>
			<div class="gexv_variant"><input type="checkbox" >  False   </div>
		
		</td>
	</tr>
</table>

<p class="gexv_check"><input type="button" value="Check answers"></p>

</div>

</div>
<div class="block-clb">
     <div class="block-crb">
    	  <div class="block-btm">
    		   </div>
    	  </div>

     </div>		
</div>
	
	<br><br><br><br>
	
<h3 class="es-task-in">Answer the questions following the model.</h3>	
	


<div class="es-egdiv" style="display: block">
<h4>Model: </h4>

<div style="padding: 0 20px 10px 40px; font-size: 11px;"> 
<table cellspacing="0"> 
	<tr valign="top"> 
		<td width="370">
			<table cellspacing="0"> 
				<tr valign="top"> 
		 				<td width="150" class="bold"> 
		 					Это Ваша супруга? 
		 				</td> 
						<td width="15">- 
                       	</td> 
		 				<td width="200" class="bold"> 
		 					    Да, это моя супруга.<br>  
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top" class="ital">Is this your wife? - Yes, this is my wife.<br><br> 
		</td> 
	</tr> 
</table> 
</div>
 </div>
 <br> <br>
 
<table class="es-quest-answ" cellspacing="0" style="margin: 0 auto" align="center">
	<tr>
		<td class="rus_phr">Это его сын?</td>
		<td width="80">- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Это Ваш муж?</td>
		<td>- ... </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Это Ваша дочь? </td>

		<td>- ... </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourselfs</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Это их дети? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Это Ваши братья? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Это её сестра? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Это его родители? </td>
		<td>- ...</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
</table>

<br>
<br>
<br>
<br>


<h3 class="es-task-in">Find appropriate replies to the phrases.</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">


<div id="di2">	
				
<p class="task">Drag and drop the following words or type them in the text fields. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a> </p> 
<br>
<table style="cursor: pointer; margin: 0 auto; border: 1px dashed #000" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td style="padding-right: 20px;">
		<div>Да, я женат.</div>
	</td>
	<td>
		<div>Я менеджер.</div>
	</td>
</tr>		
<tr>	
	<td>
		<div>Да, она студентка.</div>
	</td>
	<td>
		<div>Да, я француз.</div>
	</td>
</tr>
<tr>
	<td>
		<div>Да, она француженка.</div>
	</td>
	<td>
		<div>Она учитель.</div>
	</td>
</tr>
<tr>
	<td colspan="2" style="padding-right: 20px;">
		<div>Меня зовут Джорж.</div>
	</td>
</tr>
<tr>
	<td colspan="2">
		<div>Нет, он не студент. Он школьник.</div>
	</td>
</tr>
</table>
<br>
<br>



<div  class="gr_ex_type">

<div class="gext_task gext_sign"> 
1. Как Вас зовут?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Меня зовут Джорж.</span>
<div class="gext_show"><span>Как Вас зовут? - <b>Меня зовут Джорж.</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
2. Вы француз?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Да, я француз</span>
<div class="gext_show"><span>Вы француз? - <b>Да, я француз.</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
3. Кто Вы по профессии?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Я менеджер.</span>
<div class="gext_show"><span>Кто Вы по профессии? - <b>Я менеджер.</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
4. Вы женаты?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Да, я женат</span>
<div class="gext_show"><span>Вы женаты? - <b>Да, я женат.</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
5. Ваша жена тоже француженка?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Да, она француженка</span>
<div class="gext_show"><span>Ваша жена тоже француженка? - <b>Да, она француженка.</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
6. Кто по профессии Ваша жена?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Она учитель</span>
<div class="gext_show"><span>Кто по профессии Ваша жена? - <b>Она учитель.</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
7. Ваш сын студент?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Нет, он не студент Он школьник</span>
<div class="gext_show"><span> Ваш сын студент? - <b>Нет, он не студент. Он школьник. </b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
7. Ваша дочь студентка?
<br> <input type="text" style="width: 350px" value=""> <span class="gext_answer" style="display: none">Да, она студентка. </span>
<div class="gext_show"><span> Ваша дочь студентка? - <b>Да, она студентка.</b></span> &nbsp;</div>
</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di2  -->


<script type="text/javascript"> 
	var di2 = new draginput_test( {
		id: "di2", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"

		} )
</script>


				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>




	<br><br><br>



<br>
<br>









<br>
<br><br><br>	
	
	
	<br><br><br>	<br><br><br>	<br><br><br>



	</div>
</div>


<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<br><br><br> 
 
 
 
<div class="form-wrapper" id="mc1" style="width: 450px; margin: 0 auto;"> 
	<div class="form-top"> 
		<div class="form-top-left"></div> 
		<div class="form-top-right"></div> 
	</div> 
 
	<div class="form-right"> 
		<div class="form-left"> 
			<div class="form-questionaire"> 
				<div class="mc_question" style="height: 40px;"> 
            	</div> 
			</div> 
			   <div class="form-variants"> 
			   		<div  class="mc_variants" style="height: 180px; overflow: hidden; position: relative;"> 
			
					</div> 
			   </div> 
		</div> 
	</div> 
	<div class="form-mid"> 
		<div class="form-mid-left"></div> 
		<div class="form-mid-right"></div> 
	</div> 
	<div class="form-bottom"> 
		<div class="form-bottom-left"></div> 
		<div class="form-bottom-right"> 
			<div class="mc_counter"></div> 
		</div> 
	<div  class="mc_check" style="position: absolute; margin: 6px 0 0 15px; width: 250px;"></div> 
	</div> 
</div> 
 
<script type="text/javascript"> 
 
var mc1 = new mcTest( {tasks:[
['How to say in Russian: <br> <span class="norm_txt">Nice to meet you!<\/span>', [['Здравствуйте!'], ['До свидания'], ['Приятно познакомиться']], [2]], 
['How to say in Russian: <br> <span class="norm_txt">What is your name?<\/span>', [['Как тебя зовут?'], ['Как поживаете?'], ['Как дела?']], [0]],
['How many genders does the Russian language have?', [['1'], ['2'], ['3']], [2]],
['Most Russian feminine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [1]],
['Most Russian masculine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [2]],
['Most Russian neuter nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [0]],
['How to say in Russian: <br> <span class="norm_txt">My last name is ...<\/span>', [['Моя фамилия ... '], ['Моё имя ... '], ['Меня зовут ... ']], [0]],

], 
buildId: 'mc1' } )
 
</script>
	
<br><br><br><br>		
	
<h2 class="es-tab-p ">In this lesson you have learnt:</h2>		
	
	
<ul class="rev-summary">
	<li>Russian words and expressions used to make acquantance, and words for some nationalities.</li>
	<li>General information about gender in Russian. </li>
	<li>General information about Russian personal pronouns</li>
	<li>You have also practised to read in Russian and and translate into Russian.</li>
</ul>

<br><br><br>

<h2 class="es-tab-p ">In case you want to work more on this lesson:</h2>		
	
	
<ul class="rev-summary">
	<li>Read aloud or learn by heart the dialogue(s)  from the section <a href="#tab=1" onclick="openTabFromUrl(1)">Dialogues</a>.</li>
	<li>Get familiar with vocabulary topic  <a href="/acquaintance.html" >Making acquaintance</a></li>
	<li>Read the following articles about Russian grammar: <br>
		- <a href="russian-words-order.html">Words order in Russian sentences</a><br>
		- <a href="russian-address-forms.html">Polite and familiar address in Russian</a>
	</li>
</ul>	
	
	
<br><br><br><br><br><br>	
	
	
	
	
	
	
	
		



	</div>
</div>































	</div><!-- end of #content -->
</div>



<script type="text/javascript">
currentSection="course";
</script>

