<% @page_title='Essential Russian Course: Lesson 1' %>
<% @page_meta = {'description' => "The first lesson of the Essential Russian Course"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'test-drag-sor-t' %>
<%= javascript_include_tag 'test-drag-in' %>
<%= javascript_include_tag 'test-drag-drop' %>
<%= javascript_include_tag 'multi-choice' %>


<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>


$(document).ready(function() {



});
	
</script>

<%= stylesheet_link_tag 'es-course' %>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.ptab div {font-size: 12px;}

.ds-test li {float: left; list-style: none; font-size: 18px;}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
            <li><a href="phonetics-course.html">Phonetics course</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Lesson 1. Greetings</h2>




<div id="prof_tabs">

	<div id="tabs_row">
            <div id="tab01" class="ptab  current_ptab"><div><a href="#1">Dialogue</a></div></div>
            <div id="tab02" class="ptab"><div>Vocabulary</div></div>
            <div id="tab03" class="ptab"><div>Grammar</div></div>
			<div id="tab04" class="ptab"><div>Practice</div></div>
			<div id="tab05" class="ptab"><div>Revision</div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">

		<h3>Diaogue 1</h3>
		
		
		<table class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="2">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th class="rus">Russian</th>
				<th >English</th>
			</tr>
			
			<tr>
				<td colspan="3" class="d-player-holder">
				
				<object type="application/x-shockwave-flash" data="player.swf" width="200" height="20"> 
                    <param name="movie" value="player.swf" /> 
                    <param name="FlashVars" value="mp3=/audios/audio0101.mp3&amp;showinfo=0&amp;textcolor=666666&amp;loadingcolor=000000&amp;buttoncolor=666666&amp;buttonovercolor=000000&amp;bgcolor1=f1f1f1&amp;bgcolor2=dfdfdf&amp;bgcolor=f6f6f6&amp;sliderovercolor=333333" /> 
                </object>
				</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td  class="d-rus">- Здравствуйте! </td>
				<td class="d-eng">- Hello</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Добрый день! </td>
				<td class="d-eng">- Good afternoon</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Как поживаете? </td>
				<td class="d-eng">- How are you?</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Спасибо, хорошо. А у Вас как дела? </td>
				<td class="d-eng">- Thanks, I'm fine. And how are you</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Отлично.</td>
				<td class="d-eng">- Excellent.</td>
			</tr>
			<tr>
				<td colspan="3" class="d-tfoot">
				
				&nbsp;

				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>
	<br>	
	<br>
	
			<h3>Diaogue 2</h3>
		

		<table class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="2">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th class="rus">Russian</th>
				<th >English</th>
			</tr>
			
			<tr>
				<td colspan="3" class="d-player-holder">
				
				<object type="application/x-shockwave-flash" data="player.swf" width="200" height="20"> 
                    <param name="movie" value="player.swf" /> 
                    <param name="FlashVars" value="mp3=/audios/audio0101.mp3&amp;showinfo=0&amp;textcolor=666666&amp;loadingcolor=000000&amp;buttoncolor=666666&amp;buttonovercolor=000000&amp;bgcolor1=f1f1f1&amp;bgcolor2=dfdfdf&amp;bgcolor=f6f6f6&amp;sliderovercolor=333333" /> 
                </object>
				</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td  class="d-rus">- Здравствуйте! </td>
				<td class="d-eng">- Hello</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Добрый день! </td>
				<td class="d-eng">- Good afternoon</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Как поживаете? </td>
				<td class="d-eng">- How are you?</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Спасибо, хорошо. А у Вас как дела? </td>
				<td class="d-eng">- Thanks, I'm fine. And how are you</td>
			</tr>
			<tr class="trow">
				<td class="d-first">&nbsp;</td>
				<td class="d-rus">- Отлично.</td>
				<td class="d-eng">- Excellent.</td>
			</tr>
			<tr>
				<td colspan="3" class="d-tfoot">
				
				&nbsp;

				</td>
			</tr>
		</table>
		
	<br>	
	<br>		
		


	<br>	
	<br>
	<br>	

	
	
		

<div style="clear: both"></div>


<div id="ds1">		
<table class="dst-test ds-table" cellspacing="0" align="left" style="margin: auto">

<col width="150">
<col width="150">

<tr>	
	<td class="ds-quest" align="center">
			&nbsp;
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>

</tr>
<tr>
	<td class="ds-quest">
			&nbsp;
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		&nbsp;
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		a square
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		&nbsp;
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>


	


<ul style="float: left;">

	<li> 
			<div class="ds_variant">Площадь   </div>
	</li>
	<li> 
			<div class="ds_variant">Аэропорт  </div>
	</li>
	<li> 
			<div class="ds_variant">Улица   </div>
	</li>
	<li> 
			<div class="ds_variant">Вокзал   </div>
	</li>
	<li> 
			<div class="ds_variant">Гостиница  </div>
	</li>


</ul>
</div>
<script type="text/javascript"> 
	var ds1 = new dragsort_test( {id: "ds1", targets: "ds-answer", answer_elem: "ds_sort_item", variant_elem: "ds_variant" } )
</script>
		
		
<div id="inf" style="clear: both">0</div>		
		
		
	<br><br><br><br><br><br><br><br>	

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	2
	
	
		



	</div>
</div>

<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	3
	
	
		



	</div>
</div>

<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	4
	
	
		



	</div>
</div>


<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<br><br><br> 
 
 
 
<div class="form-wrapper" id="mc1" style="width: 450px; margin: 0 auto;"> 
	<div class="form-top"> 
		<div class="form-top-left"></div> 
		<div class="form-top-right"></div> 
	</div> 
 
	<div class="form-right"> 
		<div class="form-left"> 
			<div class="form-questionaire"> 
				<div class="mc_question"> 
            	</div> 
			</div> 
			   <div class="form-variants"> 
			   		<div  class="mc_variants" style="height: 180px; overflow: hidden; position: relative;"> 
			
					</div> 
			   </div> 
		</div> 
	</div> 
	<div class="form-mid"> 
		<div class="form-mid-left"></div> 
		<div class="form-mid-right"></div> 
	</div> 
	<div class="form-bottom"> 
		<div class="form-bottom-left"></div> 
		<div class="form-bottom-right"> 
			<div class="mc_counter"></div> 
		</div> 
	<div  class="mc_check" style="position: absolute; margin: 6px 0 0 15px; width: 250px;"></div> 
	</div> 
</div> 
 
<script type="text/javascript"> 
 
var mc1 = new mcTest( {tasks:[
['How to say "hello" in Russian:', [['hello'], ['hi']], [0]], 
['The snow is:', [['white'], ['green'], ['red']], [0]],
['The grass is:', [['blue'], ['green']], [1]]
], 
buildId: 'mc1' } )
 
 
</script>
	
	
		



	</div>
</div>































	</div><!-- end of #content -->
</div>



<script type="text/javascript">
currentSection="course";
</script>

