<% @page_title='Essential Russian Course: Lesson 6' %>
<% @page_meta = {'description' => "The sixth lesson of the Essential Russian Course"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'multi-choice' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'es-course.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'es-multiexercises' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>


$(document).ready(function() {
	$(".gext_task input").addClass("for_keyb")
});


	
</script>

 <%= javascript_include_tag 'es-virtual-keyboard' %>
 <%= stylesheet_link_tag 'keyboard' %>

<%= stylesheet_link_tag 'es-course' %>
<%= stylesheet_link_tag 'es-exercise.css' %>
<%= stylesheet_link_tag 'es-grammar-exercises' %>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px;}
.pBlock {padding: 40px 50px;}
.ptab div {font-size: 12px;}

.ds-test li {float: left; list-style: none; font-size: 18px;}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="sounds-info.html">General Info about Russian Sounds</a></li>
            <li><a href="phonetics-course.html">Phonetics course</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>
<div id="pagecontent"><div id="content">


<h2 class="page">Lesson 6. Family life</h2>



<div id="jpId"></div>


<div id="prof_tabs">

	<div id="tabs_row">
            <div id="tab01" class="ptab  current_ptab"><div><a href="#1">Dialogue</a></div></div>
            <div id="tab02" class="ptab"><div>Vocabulary</div></div>
            <div id="tab03" class="ptab"><div>Grammar</div></div>
			<div id="tab04" class="ptab"><div>Practice</div></div>
			<div id="tab05" class="ptab"><div>Revision</div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">

			
			<p>
				Listen to the dialogues and read the translation. Then, listen once again and repeat after the speaker.
			</p>
		
		<table id="dc1" class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="30">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th>Dialogue 1. Interview</th>
				<th >&nbsp;</th>
			</tr>
			<tr>
				<td colspan="3" class="d-pre-phrases" style="text-align: center">
				
				<div class="dt_controls">
					<table cellspacing="0">
					  <tr>
						<td><div class="dt_rewind" title="Play Previous"></div></td>
						<td><div class="dt_play" title="Play"></div></td>
						<td><div class="dt_fast-forward" title="Play Next"></div></td>
						<td><div class="dt_repeat" title="Repeat"></div></td>
						<td><div class="dt_stop" title="Stop"></div></td>
					  </tr>
					</table>
				</div>

				</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
				<td  class="d-rus">- Николай, Вы женат?   </td>
				<td class="d-eng">- Nikolay, are you married?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div></td>
				<td class="d-rus">- Да. </td>
				<td class="d-eng">- Yes (I am).</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div></td>
				<td class="d-rus">- А у Вас есть дети?  </td>
				<td class="d-eng">- And have you got any children?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- Да, у меня сын, Александр и маленькая дочка, Полина.</td>
				<td class="d-eng">- Yes, I've got a son, Alexander, and a little daughter, Polina.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- А кто по профессии Ваша супруга?  </td>
				<td class="d-eng">- And what is your wife's profession?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div></td>
				<td class="d-rus">- Моя жена - актриса. Она  хорошая актриса. </td>
				<td class="d-eng">- My wife is an actress. She is a good actress.</td>
			</tr>
			<tr>
				<td colspan="2" class="d-tfoot">
					<div class="dt_inf" style="display: none"></div>
				<script type="text/javascript"> 
					var  dc1 = new dialog_controls( {
					id: "dc1", 
					file: "/sounds/0-dt_test.mp3",
					tracks: [0,1384,2400,4153,7602]
				
					} )
				</script>
				
				</td>
				<td class="d-tfoot">
				&nbsp;
				
				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>
		

		<table id="dc2" class="dialog-t" cellspacing="0" align="center" style="margin: 0 auto;">
			<col width="30">
			<col width="250">
			<col width="260" >
			<tr>
				<th class="d-first">&nbsp;</th>
				<th>Dialogue 2. Introduction</th>
				<th >&nbsp;</th>
			</tr>
			<tr>
				<td colspan="3" class="d-pre-phrases" style="text-align: center">
				
				<div class="dt_controls">
					<table cellspacing="0">
					  <tr>
						<td><div class="dt_rewind" title="Play Previous"></div></td>
						<td><div class="dt_play" title="Play"></div></td>
						<td><div class="dt_fast-forward" title="Play Next"></div></td>
						<td><div class="dt_repeat" title="Repeat"></div></td>
						<td><div class="dt_stop" title="Stop"></div></td>
					  </tr>
					</table>
				</div>

				</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
				<td  class="d-rus">- У тебя какой телевизор, русский или иностранный?   </td>
				<td class="d-eng">- What kind of a TV set do you have, Russian or foreign one?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div></td>
				<td class="d-rus">- Японский.  </td>
				<td class="d-eng">- Japanese.</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div></td>
				<td class="d-rus">- И как? Хороший? </td>
				<td class="d-eng">- And how is it? Is it good?</td>
			</tr>
			<tr class="trow">
				<td class="d-first"><div class="jp_control" onclick="cJplayer('/sounds/soundb01051032.mp3', this)"></div></td>
				<td class="d-rus">- Ага, мне нравится.   </td>
				<td class="d-eng">- Yeah, I like it.</td>
			</tr>
			<tr>
				<td colspan="2" class="d-tfoot">

				<script type="text/javascript"> 
					var  dc2 = new dialog_controls( {
					id: "dc2", 
					file: "/sounds/0-dt_test.mp3",
					tracks: [0,1384,2400,4153,7602]
					} )
				</script>
				
				</td>
				<td class="d-tfoot">
				&nbsp;
				
				</td>
			</tr>
		</table>
		
	<br>	
	<br>
	<br>	
	<br>

<h3 class="es-task">Match sounds and text</h3>


<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the phrases and find corresponding Russian expressions from the list below.</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="220">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01103.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01111.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/soundb01032021.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01114.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound01110.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" >
<col width="220">
<col width="200">

<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>У тебя какой телевизор?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>У Вас есть дети?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Русский или иностранный?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Моя жена - актриса.</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Она менеджер.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Мне нравится.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Маленькая дочка, Полина.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Она хорошая актриса.</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>
		
		
		
		
		
	<br><br><br><br><br><br><br><br>	

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Listen, repeat ad read the translation of words and expressions below.</h3>
	
	
	<h3 align="center">Essetial vocabulary</h3>
	
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				дом
			</td>
			<td class="wl-eng">
				house, home
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				квартира
			</td>
			<td class="wl-eng">
				flat
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				машина
			</td>
			<td class="wl-eng">
				car
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				сад
			</td>
			<td class="wl-eng">
				garden
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				гараж
			</td>
			<td class="wl-eng">
				garage
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				работа
			</td>
			<td class="wl-eng">
				work
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				деньги
			</td>
			<td class="wl-eng">
				money
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				телевизор
			</td>
			<td class="wl-eng">
				TV set
			</td>
		</tr>
	</tbody>
	</table>
	
	<br>
	<br>
	
		<h3 align="center">Russian adjectives</h3>
	
	<table class="es-words-list" cellspacing="1">
	<col width="20">
	<col width="200">
	<col width="200">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th >Russian</th>
			<th>English</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				синий
			</td>
			<td class="wl-eng">
				blue
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				красный
			</td>
			<td class="wl-eng">
				red
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				черный
			</td>
			<td class="wl-eng">
				black
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				зелёный
			</td>
			<td class="wl-eng">
				green
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				белый
			</td>
			<td class="wl-eng">
				white
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				хороший
			</td>
			<td class="wl-eng">
				good
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				плохой
			</td>
			<td class="wl-eng">
				bad
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				большой
			</td>
			<td class="wl-eng">
				big
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				маленький
			</td>
			<td class="wl-eng">
				small
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				молодой
			</td>
			<td class="wl-eng">
				young
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				новый
			</td>
			<td class="wl-eng">
				new
			</td>
		</tr>
		<tr>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div>
			</td>
			<td class="wl-rus">
				старый
			</td>
			<td class="wl-eng">
				old
			</td>
		</tr>
	</tbody>
	</table>	
	
	<br>
	<br>
	
<br><br>

<h3 class="es-task-in">Listen to the phrase and answer "yes" or  "no" </h3>	
	
<div id="ch1" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 12,
		basic_array: [
		
['машина','car'],
['квартира','flat'],
['гараж','garage'],
['сад','garden'],
['дом','house, home'],
['деньги','money'],
['телевизор','TV set'],
['работа','work'],

['синий','blue'],
['красный','red'],
['черный','black'],
['зелёный','green'],
['белый','white'],
['хороший','good'],
['плохой','bad'],
['большой','big'],
['маленький','small'],
['молодой','young'],
['новый','new'],
['старый','old']
		
		
		
		]
		} )
</script>



<br>
<br>

<br><br>

<h3 class="es-task-in">Read the Russian phrase and find its translation </h3>

<div id="ch2" class="es-ex-wrapper">
	<%= render :partial => 'es_exercise' %>
</div>


<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		variants_num: 4,
		basic_array: [

['машина','car'],
['квартира','flat'],
['гараж','garage'],
['сад','garden'],
['дом','house, home'],
['деньги','money'],
['телевизор','TV set'],
['работа','work'],

['синий','blue'],
['красный','red'],
['черный','black'],
['зелёный','green'],
['белый','white'],
['хороший','good'],
['плохой','bad'],
['большой','big'],
['маленький','small'],
['молодой','young'],
['новый','new'],
['старый','old']
		
		]
		} )
</script>




<br>
<br>
<br>



	</div>
</div>




<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h2 class="es-tab-p ">Russian construction У меня есть</h2>
<p>
In English, a possession is usually espressed by the verb <span class="egt">to have</span>. However, in Russian, the ownership is most often expressed by a  construction with the preposition <span class="eg">у</span> followed by a noun or pronoun. Nouns and pronouns should be in the genitive case form about which we will talk in details a bit later. This construction may use the verb <span class="eg">есть</span> (literally: <span class="egt">there is, there are</span>), but its presence is not always required. The verb is the most frequently used if this construction emphasizes the existence of an object. If this construction emphasizes a new information about some features (like color, size, quantity etc) of the possessed object, the verb will most likely be absent.
</p>
<p>
The table below represents this construction with personal pronouns:
</p>

<table class="st-table" cellspacing="0" align="center" style="margin: 0 auto;">
	<col width="170">
	<col width="170">
	<tr style="vertical-align: middle;">
		<th>Personal Pronoun</th>
		<th style="padding-top: 8px; padding-bottom: 8px;" class="thbrd">Possessive construction</th>
	</tr>
	<tr>
		<td>я</td>
		<td>у меня (есть)</td>
	</tr>
	<tr>
		<td>ты</td>
		<td>у тебя (есть)</td>
	</tr>
	<tr>
		<td>он</td>
		<td>у него (есть)</td>
	</tr>
	<tr>
		<td>она</td>
		<td>у неё (есть)</td>
	</tr>
	<tr>
		<td>оно</td>
		<td>у него (есть)</td>
	</tr>
	<tr>
		<td>мы</td>
		<td>у нас (есть)</td>
	</tr>
	<tr>
		<td>вы</td>
		<td>у вас (есть)</td>
	</tr>
	<tr>
		<td>они</td>
		<td>у них (есть)</td>
	</tr>
</table>
<br><br>

<h2 class="es-tab-p ">Russian adjectives (nominative case)</h2>

<p>
Russian adjectives must agree in gender, number and case of the noun they modify. In Russian, adjectives normally precede nouns, but sometimes may follow them. They may also occur predicatively, usually after the verb to be (which is not used in the present tense, but is implied).
</p>
<p>
In order to reflect the gender, number and case of the noun, Russian adjectives change their endings. The spelling of these endings depends on the final stem consonant of the adjective and on the fact whether the ending is stressed or not. That's why you need to determine the type of  the adjective's stem so that you could use correct endings. 
</p>
<p>
Russian adjectives fall into three groups: 
</p>
<ol>
	<li>Hard-stem adjectives.</li>
	<li>Soft-stem adjectives.</li>
	<li>Adjectives with a stem ending in -<span class="letter">г</span>, -<span class="letter">к</span>, -<span class="letter">х</span> and -<span class="letter">ж</span>, -<span class="letter">ш</span>, -<span class="letter">ч</span>, <span class="letter">щ</span>.</li>
</ol>
<p>
In dictionaries and words lists, Russian adjectives are usually given in the nominative masculine form. That is usually sufficient to determine the type of an adjective: 
</p>

<ul>
	<li>
		Hard-stem adjectives are adjectives with a hard final consonant. They have a stressed ending -<span class="letter">ой</span> or an unstressed ending -<span class="letter">ый</span> in the nominative masculine form. 
	<br><br>
	</li>
	<li>
		Soft-stem adjectives are adjectives with a soft final consonant, usually -<span class="letter">н</span>. As a rule, they have an unstressed ending -<span class="letter">ий</span> in the nominative masculine form.
	<br><br>
	</li>
	<li>
		Adjectives with a stem ending in -<span class="letter">г</span>, -<span class="letter">к</span>, -<span class="letter">х</span> and -<span class="letter">ж</span>, -<span class="letter">ш</span>, -<span class="letter">ч</span>, -<span class="letter">щ</span>. They form a particular group because their endings are influenced by Russian spelling rules. They have a stressed ending -ой or an unstressed ending -<span class="letter">ый</span> in the nominative masculine form. 
	<br>
	</li>
</ul>

<br><br><br>





<h3 class="es-task-in">Form the nominative plural form of Russian nouns.</h3>

<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">

<div id="di1">	
				
<p class="task">Drag and drop endings or type them in the text fields. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a> </p> 
<br>
<div  class="gr_ex_type">

<div class="exer_part">
Add an appropriate ending to the stem of masculine nouns
</div>

<table style="margin: 0 auto; border: 1px dashed #000" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td>
		<div>У меня</div>
	</td>
	<td>
		<div>У тебя</div>
	</td>
	<td>
		<div>У него</div>
	</td>
	<td>
		<div>У неё</div>
	</td>
</tr>
<tr>
	<td>
		<div>У нас</div>
	</td>
	<td>
		<div>У вас</div>
	</td>
	<td>
		<div>У них</div>
	</td>
	<td>
		&nbsp;
	</td>
</tr>
</table>
<br>
<br>

<div class="gext_task gext_sign"> 
&nbsp;&nbsp;1. Это Томас. <input type="text" style="width: 60px" value=""> есть брат.<span class="gext_answer" style="display: none">у него</span>
<div class="gext_show"><span>Это Томас. <b>У него</b> есть брат.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;2. Это я. <input type="text" style="width: 60px" value=""> есть квартира.<span class="gext_answer" style="display: none">у меня</span>
<div class="gext_show"><span>Это я.  <b>У меня</b> есть квартира.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;3. Это вы. <input type="text" style="width: 60px" value=""> есть сестра?<span class="gext_answer" style="display: none">у вас</span>
<div class="gext_show"><span> Это вы.  <b>У вас</b> сестра.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;4. Это Елена. <input type="text" style="width: 60px" value=""> есть дочь.<span class="gext_answer" style="display: none">у неё</span>
<div class="gext_show"><span>Это Елена. <b>У неё</b> есть дочь.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;5. Это Николай и Ирина. <input type="text" style="width: 60px" value=""> есть дети?<span class="gext_answer" style="display: none">у них</span>
<div class="gext_show"><span>Это Николай и Ирина. <b>У них</b> есть дети?</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;6. Это Ольга. <input type="text" style="width: 60px" value=""> есть дом.<span class="gext_answer" style="display: none">у неё</span>
<div class="gext_show"><span>Это Ольга. <b>У неё</b> есть дом.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;7. Это ты. <input type="text" style="width: 60px" value=""> есть телевизор?<span class="gext_answer" style="display: none">у тебя</span>
<div class="gext_show"><span>Это ты. <b>У тебя</b> есть телевизор?</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;8. Это мы. <input type="text" style="width: 60px" value=""> есть телефон.<span class="gext_answer" style="display: none">у нас</span>
<div class="gext_show"><span> Это мы. <b>У нас</b> есть телефон.</span></div>
</div>
<div class="gext_task gext_sign"> 
&nbsp;&nbsp;9. Это мой отец. <input type="text" style="width: 60px" value=""> есть машина.<span class="gext_answer" style="display: none">у него</span>
<div class="gext_show"><span>Это мой отец. <b>У него</b> есть машина.</span></div>
</div>
<div class="gext_task gext_sign"> 
10. Это я. <input type="text" style="width: 60px" value=""> есть сын.<span class="gext_answer" style="display: none">у меня</span>
<div class="gext_show"><span>Это я. <b>У меня</b> есть сын.</span></div>
</div>


<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>

</div>

</div> <!-- end of di1  -->

<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: false,
		//nospace: true,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"

		} )
</script>
				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>
	<br><br><br>








<h3 class="es-task-in">Distribute Russian adjectives by type.</h3>

<div id="sl1" class="ds-wrapper drag-sort-list" style="padding: 15px;">
		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">

<col width="120"><col width="120"><col width="120"><col width="120">

<tr style="vertical-align: top">
	<th class="ds-border-right" >
		hard-stem
	</th>
	<th class="ds-border-right" >
		soft-stem	
	</th>
	<th class="ds-border-right" >
		stem ending in -г, -к, -х
	</th>
	<th class="ds-border-right" >
		stem ending in -ж, -ш, -ч, щ
	</th>
</tr>
<tr>
	<td class="ds-answer ds-border-right" style="vertical-align: top; height: 220px">
		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 220px">
		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 220px">
		<div class="ds_sort_item">
			
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 220px">
		<div class="ds_sort_item">
			
		</div>
		&nbsp;
	</td>
</tr>


</table>

</td>

</tr>
<tr>
	<td>
	
		<!-- div class="ds_check_sign"></div -->
	
	</td>
</tr>
<tr>

<td>
	


<table class="ds_variants_list"  style="margin: 0 auto" align="center">
<col width="150">
<col width="150">
<col width="150">
<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>синий</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>красный</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>черный</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>зелёный</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>белый</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>хороший</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>плохой</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>большой</div></div>
	</li>
	
</ul>

</td>
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>маленький</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>молодой</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>новый</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>старый</div></div>
	</li>
</ul>

</td>

</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var sl1 = new sortlist_test( {
		id: "sl1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#fff",
		auto_check: false
		} )
</script>


<br>

<br/><br/>








<br><br><br><br><br><br><br>	
		
		
		


	</div>
</div>

<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<h3 class="es-task-in">Read the text aloud, and then listen to the phrases and check your reading.</h3>	
	

	<div class="es-pr-read-container">
		<h4>Introductions</h4>
	
		<table cellspacing="0">
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Здравствуйте. Меня зовут Татьяна. Я не замужем. Я учитель. Я русская.
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Моё имя Иван. Моя фамилия Петров. Я холост. Я русский. Я программист. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td>
					Познакомьтесь, это Джо. Он американец. Он женат. Джо - хирург. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio" valign="top">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td >
					Это Джек и Стенли. Они американцы. Джек холост, а Стенли женат. Джек и Стенли - физики. 
				</td>
			</tr>
			<tr>
				<td class="wl-audio" valign="top">
					<div class="jp_control" onclick="cJplayer('/sounds/sound01106.mp3', this)"></div>
				</td>
				<td >
					Это Стейси и Линда. Они канадки. Они замужем. Стейси - биолог, а Линда - учитель.
				</td>
			</tr>
		</table>
		<br><br><br>
		
	</div>
	
	
	<h3 class="es-task-in">Look through the dialogues above and complete the test.</h3>	
	
	


<div id="ds2" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the phrases and find corresponding Russian expressions from the list below.</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="left" style="margin: auto" >
<col width="100">
<col width="40">
<col width="290">
<tr>
	<td class="ds-answer  ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" style="text-align: left !important; padding: 8px 5px;">
			is  a phisicist from the USA, married.
	</td>
</tr>
<tr>
	<td class="ds-answer  ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" style="text-align: left !important; padding: 8px 5px;">
			is a biologist from Canada, married.
	</td>
</tr>
<tr>
	<td class="ds-answer  ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" style="text-align: left !important; padding: 8px 5px;">
			is a teacher from Russia, single.
	</td>
</tr>
<tr>
	<td class="ds-answer  ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" style="text-align: left !important; padding: 8px 5px;">
			is  a phisicist from the USA, single.
	</td>
</tr>
<tr>
	<td class="ds-answer  ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" style="text-align: left !important; padding: 8px 5px;">
			is  a programmer from Russia, single.
	</td>
</tr>
<tr>
	<td class="ds-answer  ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" style="text-align: left !important; padding: 8px 5px;">
			is  a surgeon from the USA, married.
	</td>
</tr>
<tr>
	<td class="ds-answer  ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" style="text-align: left !important; padding: 8px 5px;">
			is  a teacher from Canada, married.
	</td>
</tr>
</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" style="margin: 0 auto;" align="center">
<col width="150">
<col width="150">
<tr valign="top">
<td>
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Linda</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Stanley</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Stacy</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Tatyana</div></div>
	</li>
</ul>
</td>
<td>
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>Joe</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>George</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Ivan</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Jack</div></div>
	</li>
</ul>
</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds2 = new dragsort_test( {
		id: "ds2", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>	
	
	
	
	<br><br><br><br>
	
<h3 class="es-task-in">Answer the questions following the model.</h3>	
	


<div class="es-egdiv" style="display: block">
<h4>Model: </h4>

<div style="padding: 0 20px 10px 40px; font-size: 11px;"> 
<table cellspacing="0"> 
	<tr valign="top"> 
		<td width="370">
			<table cellspacing="0"> 
				<tr valign="top"> 
		 				<td width="150" class="bold"> 
		 					Стенли американец? 
		 				</td> 
						<td width="15">- 
                       	</td> 
		 				<td width="200" class="bold"> 
		 					    Нет, Стенли не американец, он француз.<br>  
		 				</td> 
					</tr> 
				</table> 
		</td> 
		<td valign="top" class="ital">Is Stanley Americain ? - No, he is not. He is French.<br><br> 
		</td> 
	</tr> 
</table> 
</div>
 </div>
 <br> <br>
 
<table class="es-quest-answ" cellspacing="0" style="margin: 0 auto" align="center">
	<tr>
		<td class="rus_phr">Сара - учитель?</td>
		<td>- (doctor)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Jack - американец?</td>
		<td>- (Englishman) </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Игорь и Павел - менеджеры? </td>

		<td>- (students) </td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourselfs</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Джейк и Томас - физики? </td>
		<td>- (biologists)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Диана и Клэр - учителя? </td>
		<td>- (psychologists)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Любовь и Наталья -  студентки? </td>
		<td>- (schoolgirls)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
	<tr>
		<td class="rus_phr">Владимир и Глеб - художники? </td>
		<td>- (actors)</td>
		<td><a href="javascript:;" class="es_btn ds-check-button" >Check yourself</a></td>
	</tr>
</table>

<br>
<br>
<br>
<br>


<h3 class="es-task-in">Listen to a Russian person. Answer the questions, using given words.</h3>


<div class="section-block" style="cursor: auto">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">


<div id="di4">	
				
<p class="task">Drag or type the words in the text field. <a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]</a></p> 
<br>


<div  class="gr_ex_type di_mix">



<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">Это Джон или Стенли?</div>
<div class="di_mix_variants">это Джон  Стенли я учитель</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">Это Джон</span>
<div class="gext_show"><span><b>Это Джон.</b></span> &nbsp;</div>

</div>


<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Он русский, канадец или американец?</div>
<div class="di_mix_variants">он русский канадец американец зовут из</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">он американец</span>
<div class="gext_show"><span><b>Он американец.</b></span> &nbsp;</div>

</div>


<div class="gext_task gext_sign"> 

<div class="di_mix_tobuild">Он женат или холост?</div>
<div class="di_mix_variants">Джон Стенли женат холост вдовец</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">Джон женат</span>
<div class="gext_show"><span><b>Джон женат.</b></span> &nbsp;</div>

</div>


<div class="gext_task gext_sign">

<div class="di_mix_tobuild">Он программист, врач или студент?</div>
 <div class="di_mix_variants">он она программист врач студент канадец</div>
<input type="text" style="width: 400px" value=""> <span class="gext_answer" style="display: none">он врач</span>


<div class="gext_show"><span><b>Он врач.</b></span> &nbsp;</div>

</div>



<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di4  -->


<script type="text/javascript"> 
	var di4 = new draginput_test( {
		id: "di4", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>


				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">
    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>




<br>
<br>









<br>
<br><br><br>	
	
	
	<br><br><br>	<br><br><br>	<br><br><br>



	</div>
</div>


<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	<br><br><br> 
 
 
 
<div class="form-wrapper" id="mc1" style="width: 450px; margin: 0 auto;"> 
	<div class="form-top"> 
		<div class="form-top-left"></div> 
		<div class="form-top-right"></div> 
	</div> 
 
	<div class="form-right"> 
		<div class="form-left"> 
			<div class="form-questionaire"> 
				<div class="mc_question" style="height: 40px;"> 
            	</div> 
			</div> 
			   <div class="form-variants"> 
			   		<div  class="mc_variants" style="height: 180px; overflow: hidden; position: relative;"> 
			
					</div> 
			   </div> 
		</div> 
	</div> 
	<div class="form-mid"> 
		<div class="form-mid-left"></div> 
		<div class="form-mid-right"></div> 
	</div> 
	<div class="form-bottom"> 
		<div class="form-bottom-left"></div> 
		<div class="form-bottom-right"> 
			<div class="mc_counter"></div> 
		</div> 
	<div  class="mc_check" style="position: absolute; margin: 6px 0 0 15px; width: 250px;"></div> 
	</div> 
</div> 
 
<script type="text/javascript"> 
 
var mc1 = new mcTest( {tasks:[
['How to say in Russian: <br> <span class="norm_txt">Nice to meet you!<\/span>', [['Здравствуйте!'], ['До свидания'], ['Приятно познакомиться']], [2]], 
['How to say in Russian: <br> <span class="norm_txt">What is your name?<\/span>', [['Как тебя зовут?'], ['Как поживаете?'], ['Как дела?']], [0]],
['How many genders does the Russian language have?', [['1'], ['2'], ['3']], [2]],
['Most Russian feminine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [1]],
['Most Russian masculine nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [2]],
['Most Russian neuter nouns end in: ', [['-о/-е'], ['-а/-я'], ['consonant/-й']], [0]],
['How to say in Russian: <br> <span class="norm_txt">My last name is ...<\/span>', [['Моя фамилия ... '], ['Моё имя ... '], ['Меня зовут ... ']], [0]],

], 
buildId: 'mc1' } )
 
</script>
	
<br><br><br><br>		
	
<h2 class="es-tab-p ">In this lesson you have learnt:</h2>		
	
	
<ul class="rev-summary">
	<li>Russian words and expressions used to make acquantance, and words for some nationalities.</li>
	<li>General information about gender in Russian. </li>
	<li>General information about Russian personal pronouns</li>
	<li>You have also practised to read in Russian and and translate into Russian.</li>
</ul>

<br><br><br>

<h2 class="es-tab-p ">In case you want to work more on this lesson:</h2>		
	
	
<ul class="rev-summary">
	<li>Read aloud or learn by heart the dialogue(s)  from the section <a href="#tab=1" onclick="openTabFromUrl(1)">Dialogues</a>.</li>
	<li>Get familiar with vocabulary topic  <a href="/acquaintance.html" >Making acquaintance</a></li>
	<li>Read the following articles about Russian grammar: <br>
		- <a href="russian-words-order.html">Words order in Russian sentences</a><br>
		- <a href="russian-address-forms.html">Polite and familiar address in Russian</a>
	</li>
</ul>	
	
	
<br><br><br><br><br><br>	
	
	
	
	
	
	
	
		



	</div>
</div>































	</div><!-- end of #content -->
</div>



<script type="text/javascript">
currentSection="course";
</script>

