<% @page_title = 'Study Russian Online: Russian alphabet exercises, part 1' %>
<% @page_meta = {'description' => ""} %>
<% @has_audio = true %>
<% @with_rec = true %>
<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'alphabet-exercises' %>

<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>

<%= stylesheet_link_tag 'alphabet-exercises' %>
 <%= javascript_include_tag 'virtual-keyboard' %>
 <%= stylesheet_link_tag 'keyboard' %>


<style type="text/css">

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="basic-letters.html">Russian Letters</a></li>
     				<li><a href="/russian-reading-alphabet.html" >Learn Russian alphabet</a></li>
    		</ul>
        <%= render :partial => 'preload_option' %>
	</div>
</div>
</div>


<h2 class="page"> Russian letters denoting <br>vowel sounds</h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="russian-reading.html">Reading in Russian</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/russian-reading-alphabet.html">Learn Russian alphabet</a>

	<span class="int-arrow">--&gt;</span> Lesson 1
	</span>
</h3>



<p>
In this lesson, you can work with Russian letters denoting vowel sounds. Their <a href="/basic-letters.html#basic">basic meanings</a> are the same as their alphabetical names. 
</p>
<p>
Russian letters <span class="letter">А</span> and <span class="letter">О</span> look and sound similar to English speaking learners. Other letters require more attention and efforts to be memorized. 
The letter <span class="letter">Ы</span> denote the Russian sound <span class="sound" onclick="playSound('sound206.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> which is one of the most difficult sounds of the Russian language. 
You can find more information about the sound <span class="sound" onclick="playSound('sound206.mp3')">[<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span> (as well as about other sounds) in the section Russian Pronunciation.
</p>

<br><br>

<h3 class="es-task-in">Listen and repeat the following Russian letters</h3>
	
	
	
	<table class="es-words-list" cellspacing="1">
	
	<thead>
		<tr>
			<th class="{sorter: false}">Uppercase</th>
			<th class="{sorter: false}">Lowercase</th>
			<th class="{sorter: false}">Sound</th>
			<th class="{sorter: false}">Name</th>
		</tr>
			
	</thead>
	<tbody>
		<tr>
			<td class="wl-rus">
				A
			</td>
			<td class="wl-rus">
				а
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('sounds/sound101.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[a]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Е
			</td>
			<td class="wl-rus">
				е
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound106.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[ye]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ё
			</td>
			<td class="wl-rus">
				ё
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound107.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[yo]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				И
			</td>
			<td class="wl-rus">
				и
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound110.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[i]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				О
			</td>
			<td class="wl-rus">
				о
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound116.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[o]
			</td>
		</tr>
		<tr>
			
			<td class="wl-rus">
				У
			</td>
			<td class="wl-rus">
				у
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound121.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[oo]
			</td>
		</tr>
		<tr>
			
			<td class="wl-rus">
				Ы
			</td>
			<td class="wl-rus">
				ы
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound129.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[<s>i</s>]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Э
			</td>
			<td class="wl-rus">
				э
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound131.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[e]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Ю
			</td>
			<td class="wl-rus">
				ю
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound132.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[yoo]
			</td>
		</tr>
		<tr>
			<td class="wl-rus">
				Я
			</td>
			<td class="wl-rus">
				я
			</td>
			<td class="wl-audio">
				<div class="jp_control" onclick="cJplayer('/sounds/sound133.mp3', this)"></div>
			</td>
			<td class="wl-eng">
				[ya]
			</td>
		</tr>
	</tbody>
	</table>
	
	<br>
	<br>

<h3 class="es-task-in">Listen to the sound and answer "yes" or "no"</h3>

	
<div id="ch1" class="es-ex-wrapper">
<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Go to next automatically</span> </div>
	<div class="es-ex-final"></div>

</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">
				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>

		</td>
		<td class="es-ex-tasks" valign="top">
			<div class="yn-answer-type">
					<p class="es-yn-task-p">This sound corresponds to the letter</p>
					<div class="es-yn-variant-wrapper"><div class="es-yn-variant yn-trans">&nbsp;</div></div>
					<div class="es-ex-buttons yn-btns">
						<input type="button" class="es-ex-es-btn yn-yes" value="Yes"/> &nbsp;&nbsp;&nbsp;&nbsp; <input value="NO" type="button"  class="es-ex-es-btn yn-no"/>

					</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>

<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>
		</tr>
	</table>
</div>

</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 10,
		answer_type: 'yn',
		quest_type: 'audio',
		basic_array: [
		
['/sounds/sound101.mp3','А'],
['/sounds/sound106.mp3','Е'],
['/sounds/sound107.mp3','Ё'],
['/sounds/sound110.mp3','И'],
['/sounds/sound116.mp3','О'],
['/sounds/sound121.mp3','У'],
['/sounds/sound129.mp3','Ы'],
['/sounds/sound131.mp3','Э'],
['/sounds/sound132.mp3','Ю'],
['/sounds/sound133.mp3','Я']

		]
		} )
</script>



<br><br><br>

<h3 class="es-task-in">Listen to the sounds and choose the corresponding Russian letter </h3>	
	
<div id="ch2" class="es-ex-wrapper">
<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Go to next automatically</span> </div>
	<div class="es-ex-final"></div>

</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">
				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>

		</td>
		<td class="es-ex-tasks" valign="top">
			<div class="yn-answer-type">
					<p class="es-yn-task-p">This sound corresponds to the letter</p>
					<div class="es-yn-variant-wrapper"><div class="es-yn-variant yn-trans">&nbsp;</div></div>
					<div class="es-ex-buttons yn-btns">
						<input type="button" class="es-ex-es-btn yn-yes" value="Yes"/> &nbsp;&nbsp;&nbsp;&nbsp; <input value="NO" type="button"  class="es-ex-es-btn yn-no"/>

					</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>

<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>
		</tr>
	</table>
</div>
</div>

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		quest_num: 10,
		quest_type: 'audio',
		basic_array: [
		
['/sounds/sound101.mp3','А а'],
['/sounds/sound106.mp3','Е е'],
['/sounds/sound107.mp3','Ё ё'],
['/sounds/sound110.mp3','И и'],
['/sounds/sound116.mp3','О о'],
['/sounds/sound121.mp3','У у'],
['/sounds/sound129.mp3','Ы ы'],
['/sounds/sound131.mp3','Э э'],
['/sounds/sound132.mp3','Ю ю'],
['/sounds/sound133.mp3','Я я']

		]
		} )
</script>
	


<br><br>






<h3 class="es-task-in">Match sounds and letters</h3>

<h3 class="es-task">&nbsp;</h3>


<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p style="font-size: 11px; text-align: center;">Listen to the sounds. Drag the Russian letters and drop them into the corresponding fields.</p>		

<table align="center" style="margin: 0 auto;">


<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="left" style="margin: auto">
<col width="80">
<col width="20">
<col width="40">
<col width="100">
<tr>
	<td class="ds-quest" align="center">
			Sound 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound132.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Sound 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound106.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound116.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound121.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound133.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound101.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound110.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 8
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound129.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 9
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound131.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Sound 10
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/sound107.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			<span class="ds-drop-here">drop here</span>
		</div>
	</td>
</tr>

</table>

</td>



<td style="padding-left: 30px;">
	
<table class="ds_variants_list" >
<col width="100">

<tr valign="top">
<td >

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>A а</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Е е</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">10</span>Ё ё</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>И и</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>О о</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>У у</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">8</span>Ы ы</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">9</span>Э э</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Ю ю</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Я я</div></div>
	</li>
</ul>

</td>

</tr>
</table>


</td>
</tr>
</table>

<br><br>
<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>
		
		
		
		
		
	<br><br>


<br><br>



<h3 class="es-task-in">Listen to the sounds and type the corresponding letters in the text field</h3>	
	
<div id="ch3" class="es-ex-wrapper">
	<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Go to next automatically</span> </div>
	<div class="es-ex-final"></div>
</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">

				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>
		</td>
		<td class="es-ex-tasks" valign="top">
		<div class="es-ex-type-elem">
			<div class="kb-show-wrapper">
			<a class="show_keyboard" href="javascript:;">[ Use virtual keyboard ]<span class="kb_offset_top" style="display: none;">220</span></a>
			</div>
			<input type="text" class="es-ex-type-field for_keyb ex-txt-letters" /> 
			<div class="es-ex-buttons es-ex-type-check-wrapper">
				<input type="button" class="es-ex-check-type" value="Check">
			</div>
			<div class="es-ex-type-elements">
				
			</div>
		</div>
		
		</td>
	</tr>
	<tr>

		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>
<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>

		</tr>
	</table>
</div>


</div>

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		quest_num: 10,
		answer_type: "type",
		quest_type: "audio",
		basic_array: [
		
['/sounds/sound101.mp3','А'],
['/sounds/sound106.mp3','Е'],
['/sounds/sound107.mp3','Ё'],
['/sounds/sound110.mp3','И'],
['/sounds/sound116.mp3','О'],
['/sounds/sound121.mp3','У'],
['/sounds/sound129.mp3','Ы'],
['/sounds/sound131.mp3','Э'],
['/sounds/sound132.mp3','Ю'],
['/sounds/sound133.mp3','Я']

		]
		} )
</script>


<br><br>
<br><br>
<hr/>
<a href="/russian-alphabet-exercises-02.html"><b>Next lesson >></b></a>

<br><br><br><br><br><br><br><br><br><br><br><br><br>



<script type="text/javascript">
//currentSection="";
</script>