<% @page_title = 'Exercise template' %>

<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
<%= javascript_include_tag 'es-course.js' %>


<%= javascript_include_tag 'es-multiexercises' %>


<%= stylesheet_link_tag 'es-exercise' %>



<%end%>


<h2 class="page">Exercises template</h2>


<br>


<h3 class="es-task-in">Read the Russian phrase and find its translation </h3>







<div id="ch1" class="es-ex-wrapper">

<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;  </div>   </div></div>
<div class="es-ex-top">

<div class="es-ex-final"></div>
</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">

			<div class="es-ex-audio-wrapper">
				<table>
					<tr>
						<td style="height: 140px;">
							<div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div>
						</td>
					</tr>
				</table>
				
			</div>
		
		
		
			<div class="es-ex-string-holder">
				<table>
					<tr>
						<td class="es-ex-string-wrapper" style="height: 150px;">
								&nbsp;
						</td>
					</tr>
				</table>
			</div>
		
		</td>
		<td class="es-ex-tasks" valign="top">
		&nbsp;

		
		</td>
	
	</tr>
</table>
<div class="es-ex-bottom">
<input type="button" class="es-ex-next" value=" NEXT " style="font-size: 12px; visibility: hidden;">
</div>

<div class="es-ex-info-container">


<table cellspacing="0" align="center">
  <tr>
	<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div>
	
	</td>
	<td>
	<div class="es-yn-buttons">
		<input type="button" class="es-yn-es-btn yn-start" value="RESTART"/>
	</div>
	
	</td>
  </tr>
 </table>
 
</div>
</div>






<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		quest_num: 10,
		auto_play: false,
		variants_num: 4,
		random_order: true,
		quest_type: 'audio',
		basic_array: [
		
		
		/*
		['Здравствуйте!',	'Hello! '],
		['Доброе утро!',	'Good morning!'],
		['Добрый день!',	'Good afternoon!'],
		['Добрый вечер',	'Good evening!'],
		['До свидания!'	,'Good bye!'],
		['Как дела?'	,'How are you? (informal)'],
		['Хорошо.'	,'I\'m fine.'],
		['Прекрасно.'	,'Excellent!'	],
		['Нормально'	,'I\'m OK.'],
		['Спасибо.'	,'Thank you.'	],
		['Привет.'	,'Hi!'],
		['Пока'	,'Bye!'],
		['Как Ваши дела?','How are you? (formal)'],
		['Простите.','Excuse me. (formal)']
		*/
		
		['/sounds/sound01101.mp3',	'Hello!'],
		['/sounds/sound01102.mp3',	'Good morning!'],
		['/sounds/sound01103.mp3',	'Good afternoon!'],
		['/sounds/sound01104.mp3',	'Good evening!'],
		['/sounds/sound01115.mp3'	,'Good bye!'],
		['/sounds/sound01107.mp3'	,'How are you? (formal)'],
		['/sounds/sound01112.mp3'	,'I\'m fine.'],
		['/sounds/sound01111.mp3'	,'Excellent!'	],
		['/sounds/soundb01031060.mp3'	,'I\'m OK.'],
		['/sounds/sound01127.mp3'	,'Thank you.'	],
		['/sounds/sound01106.mp3'	,'Hi!'],
		['/sounds/sound01120.mp3'	,'Bye!'],
		['/sounds/sound01110.mp3','How are you? (informal)'],
		['/sounds/sound01122.mp3','Excuse me. (formal)']
		

		]
		} )
</script>




<br>












<br>
<br>
<br>
<br>


