<% @page_title = 'Russian Lessons Online: Lesson 3' %>
<% @page_meta = {'description' => "Online Russian lesson which helps to learn basic Russian grammar structures and words related to hotel", 'robots' => "noindex" }%>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'every-exercises' %>
<%= stylesheet_link_tag 'every-exercises' %>

<style type="text/css">

.diction td.original {
padding-left: 25px;
text-indent: -10px;
}
.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}
.mini-dialog td {
padding-bottom: 20px;
}
.quest {
width: 150px;
}
.variants {
width: 150px;
}

hr {
display: none;
}

.content {
padding: 20px 40px 40px 30px;
}
</style>
<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="hotel.html">Hotel</a></li>
    				<li><a href="services.html">Services</a></li>
     				<li><a href="numerals00-100.html">Numerals</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>


<h2 class="page">Lesson 3 </h2>
<% if !(logged_in? && current_user.payment) %>
	<%=@hide_title%>
<% end %>
<hr>


<div id="pagecontent"><div id="content">

<h3 class="exers ex-title">I. At the hotel</h3>
<div class="ex-area">

<p class="task ex-task">a) Dialogue</p>
<p class="pre-diction">
Listen to the dialogue between John and the receptionist in a hotel. John has reserved a double room for 4 days in this hotel. 
The receptionists gives the key for the room 116 and tells that there is a bathroom, a telephone and a TV set in the room. John asks when he should pay and the receptionist answers that he can do it when he wants.
</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table class="audio-task" cellspacing="0">        
	<tr>
		<td>
		<p class="task ex-task">Listen to the dialogue and read the translation</p>
		</td>
 		<td> 
        		<div class="player_swf"><span style="visibility: hidden">audios/audio03011100.mp3</span></div>
		</td>
	</tr>

</table>


<div class="dict_wrapper">
<table class="dict_bord" align="center">
<tr>
<td>
<table class="diction"  cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">- Здр<span class="acco">а</span>вствуйте.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011101.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>

					<td>[zdr<span class="acct">a</span>stvooyti]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>

		<td class="translation" valign="top">- Hello.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">- Д<span class="acco">о</span>брый день.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011102.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>

					<td>[d<span class="acct">o</span>br<span class="ry">i</span>y <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Hello.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">- У мен<span class="acco">я</span> зак<span class="acco">а</span>зан н<span class="acco">о</span>мер.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011103.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> zak<span class="acct">a</span>zan n<span class="acct">o</span>mir]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- I have a reservation.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- В<span class="acco">а</span>ши <span class="acco">и</span>мя и фам<span class="acco">и</span>лия.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011104.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>

					<td>[v<span class="acct">a</span>sh<span class="ry">i</span> <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a i fam<span class="acct">i</span>liya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Your name and surname?
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">- Джон Бр<span class="acco">а</span><i></i>ун.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011105.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[dj<span class="acct">o</span>n br<span class="acct">a</span>oon]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- John Brown.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">- Ваш п<span class="acco">а</span>спорт и В<span class="acco">а</span>ша бронь, пож<span class="acco">а</span>луйста.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011106.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[v<span class="acct">a</span>sh p<span class="acct">a</span>spart i v<span class="acct">a</span>sha br<span class="acct">o</span><span class="sftc">n</span>, paj<span class="acct">a</span>loosta]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Your passport and confirmation of the reservation.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Вот, пож<span class="acco">а</span>луйста.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011107.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[v<span class="acct">o</span>t, paj<span class="acct">a</span>loosta]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Here it is.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- У Вас зарезерв<span class="acco">и</span>рован двухм<span class="acco">е</span>стный н<span class="acco">о</span>мер на чет<span class="acco">ы</span>ре дня. Всё пр<span class="acco">а</span>вильно?
		</td>
		<td class="transcript" valign="top">

			<table onclick="playAudio('audio03011108.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[oo v<span class="acct">a</span>s zarizirv<span class="acct">i</span>ravan dvooh<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>sn<span class="ry">i</span>y n<span class="acct">o</span>mir na chit<span class="acct"><span class="ry">i</span></span>ri d<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span>. f<span class="sftv">s</span><span class="sfty">y</span><span class="acct">o</span> pr<span class="acct">a</span>vi<span class="sftc">l</span>na?]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- You have a reservation for one double room for 4 days. Is that right?
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Да, всё в<span class="acco">е</span>рно. В н<span class="acco">о</span>мере есть в<span class="acco">а</span>нная к<span class="acco">о</span>мната?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011109.mp3')" class="audiotrans"  cellspacing="0" >

				<tr>
					<td>[d<span class="acct">a</span>, f<span class="sftv">s</span><span class="sfty">y</span><span class="acct">o</span> <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>rna. V n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> v<span class="acct">a</span>nnaya k<span class="acct">o</span>mnata?]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Yes, all is right. Is there a bathroom in the room?
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Да. В н<span class="acco">о</span>мере есть в<span class="acco">а</span>нная, телеф<span class="acco">о</span>н и телев<span class="acco">и</span>зор. Вот В<span class="acco">а</span>ши ключ<span class="acco">и</span>. Н<span class="acco">о</span>мер 116.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011110.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[da. v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> v<span class="acct">a</span>nnaya, tilif<span class="acct">o</span>n i tiliv<span class="acct">i</span>zar. Vot v<span class="acct">a</span>sh<span class="ry">i</span> k<span class="sftv">l</span><span class="sfty">y</span>ooch<span class="acct">i</span>. n<span class="acct">o</span>mir sto sh<span class="ry">i</span>sn<span class="acct">a</span>tsa<span class="sftc">t</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">Yes. There is a bathroom, a telephone and a TV set. Here are your keys. Room 116.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Когд<span class="acco">а</span> мне н<span class="acco">у</span>жно оплат<span class="acco">и</span>ть? Сейч<span class="acco">а</span>с <span class="acct">и</span>ли перед отъ<span class="acco">е</span>здом?
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011111.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[kagd<span class="acct">a</span> m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna aplat<span class="acct">i</span><span class="sftc">t</span>? Sich<span class="acct">a</span>s <span class="acct">i</span>li pirid aty<span class="acct">e</span>zdam?
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- When should I pay? Now or before the departure?
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Когд<span class="acco">а</span> Вам б<span class="acco">у</span>дет уд<span class="acco">о</span>бно.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011112.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>

					<td>[kagd<span class="acct">a</span> v<span class="acct">a</span>m b<span class="acct">oo</span>dit ood<span class="acct">o</span>bna]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Any time you want.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">- Спас<span class="acco">и</span>бо.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011113.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[spas<span class="acct">i</span>ba]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Thank you.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">- Н<span class="acco">е</span> за что.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio03011114.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> za shta]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>

					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- You're welcome.
		</td>
	</tr>
</table>
</td>
</tr>
</table>

</div>
<% end %>
<br><br>
<p class="task ex-task">b) Listen and repeat the dialogue phrase by phrase. </p>

<p class="task ex-task">c) Listen to the phrases in Russian and choose the right translation.</p>

<div id="test1">
<script type="text/javascript">
T['1']=['4','5','2','8','3','6','7','1']; // For Test#1 answers are '5' - for 1-st question, '2' - for second question
T['2']=['2','3','1']; // For Test#2
T['3']=['14','12','18','15','11']; // For Test#3
</script>
</div>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div id="ds1" class="ds-wrapper" style="padding: 15px; margin: 20px 30px;">

<p style="font-size: 11px; text-align: center;">
Listen to the phrases. Drag the English phrases from the list below <br>and drop them into the corresponding fields.
</p>		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">
<col width="80">
<col width="20">
<col width="40">
<col width="250">
<tr>
	<td class="ds-quest" align="center">
			Phrase 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013010.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Phrase 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013020.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013030.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013040.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 5
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013050.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 6
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013060.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 7
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013070.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Phrase 8
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/audios/audio03013080.mp3', this)"></div>
	</td>	
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>
	
<br>
<br>

<table class="ds_variants_list" style="margin: 0 auto;" align="center">
<col width="170">
<col width="250">

<tr valign="top">
<td>
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>I have a reservation.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Any time you want.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>All is right.</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">8</span>Here are your keys.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">6</span>When should I pay?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">7</span>Now or before the departure?</div></div>
	</li>
</ul>

</td>
</tr>
<tr valign="top">
<td colspan="2">
<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Is there a bathroom in the room?</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>You have a reservation for one double room for 4 days.</div></div>
	</li>
</ul>
</td>
</tr>
</table>


</td>
</tr>
</table>


<div class="es_btn_wrapper">
<a href="javascript:;" class="es_btn ds-check-button" >Check answers</a>
</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		test_id: "c0103013.I.c)",
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F7F6F6",
		auto_check: false
		} )
</script>
		
<br>


<%end%>

</div>

<hr>
<h3 class="exers ex-title">II. Is there a bathroom in the room?</h3>
<div class="ex-area">

<p class="task ex-task">a) <strong>Learn the following Russian words</strong>:</p>

<div class="voc_inter ev-wordlist">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>м<span class="acco">и</span>ни-б<span class="acco">а</span>р</span><br />
					<span class="sound" onclick="playAudio('audio03021010.mp3')">[m<span class="acct">i</span>ni b<span class="acct">a</span>r]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>snack-bar</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>кондицион<span class="acco">е</span>р</span><br />
					<span class="sound" onclick="playAudio('audio03021020.mp3')">[kandits<span class="ry">i</span>a<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>r]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>air-conditioner</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>холодильник</span><br />
					<span class="sound" onclick="playAudio('audio03021030.mp3')">[halad<span class="acct">i</span><span class="sftc">l</span>nik]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>fridge</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="130">
				<p class="t1_di1"><span>душ</span><br />
					<span class="sound" onclick="playAudio('audio03021040.mp3')">[d<span class="acct">oo</span>sh]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>

			<td>
				<span>shower</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>в<span class="acct">а</span>нная</span><br />

					<span class="sound" onclick="playAudio('audio03021050.mp3')">[v<span class="acct">a</span>nnaya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>bath-room</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>телев<span class="acco">и</span>зор</span><br />
					<span class="sound" onclick="playAudio('audio03021060.mp3')">[tiliv<span class="acct">i</span>zar]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>TV set</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>телеф<span class="acco">о</span>н</span><br />
					<span class="sound" onclick="playAudio('audio03021070.mp3')">[tilif<span class="acct">o</span>n]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>phone</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="130">
				<p class="t1_di1"><span>стол</span><br />
					<span class="sound" onclick="playAudio('audio03021080.mp3')">[st<span class="acct">o</span>l]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>

			<td>
				<span>table</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>стул</span><br />

					<span class="sound" onclick="playAudio('audio03021090.mp3')">[st<span class="acct">oo</span>l]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>chair</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>кр<span class="acco">е</span>сло</span><br />
					<span class="sound" onclick="playAudio('audio03021100.mp3')">[k<span class="sftv">r</span><span class="sfty">y</span><span class="acct">e</span>sla]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>armchair</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p  class="t1_di1"><span>див<span class="acco">а</span>н</span><br />
					<span class="sound" onclick="playAudio('audio03021110.mp3')">[div<span class="acct">a</span>n]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>couch</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="130">
				<p class="t1_di1"><span>кров<span class="acct">а</span>ть</span><br />
					<span class="sound" onclick="playAudio('audio03021120.mp3')">[krav<span class="acct">a</span><span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>

			<td width="30"><p>-</p></td>
			<td>
				<span>bed</span>
			</td>
	</tr>
</table>

</div>
<p class="task ex-task">b) Listen to the Russian words and choose the right translation from the list:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>
<div id="ch1" class="es-ex-wrapper">
<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Go to next automatically</span> </div>
	<div class="es-ex-final"></div>

</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">
				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>

		</td>
		<td class="es-ex-tasks" valign="top">
			<div class="yn-answer-type">
					<p class="es-yn-task-p">This word is translated as:</p>
					<div class="es-yn-variant-wrapper"><div class="es-yn-variant yn-trans">&nbsp;</div></div>
					<div class="es-ex-buttons yn-btns">
						<input type="button" class="es-ex-es-btn yn-yes" value="Yes"/> &nbsp;&nbsp;&nbsp;&nbsp; <input value="NO" type="button"  class="es-ex-es-btn yn-no"/>

					</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>

<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>
		</tr>
	</table>
</div>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c0103022.II.b)",
		quest_type: 'audio',
		basic_array: [
		
['/audios/audio03021010.mp3','snack-bar',139],
['/audios/audio03021020.mp3','air-conditioner',136],
['/audios/audio03021030.mp3','fridge',137],
['/audios/audio03021040.mp3','shower',154],
['/audios/audio03021050.mp3','bath-room',128],
['/audios/audio03021060.mp3','TV set'],
['/audios/audio03021070.mp3','phone',131],
['/audios/audio03021080.mp3','table'],
['/audios/audio03021090.mp3','chair'],
['/audios/audio03021100.mp3','armchair'],
['/audios/audio03021110.mp3','couch'],
['/audios/audio03021120.mp3','bed']


		]
		} )
</script>

<br><br>

<%end%>

<p class="task ex-task">c) Translate into Russian and check yourself:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table class="ev-quest-answ" cellspacing="0" align="center" style="margin: 0 auto">
<tr>
	<th colspan="3">Phrases to translate</th>
</tr>
<tr>
	<td class="qa_task" width="200">
		<p>1. It is a bath-room.
		</p>
	</td>
	<td width="60">
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021130.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>2. It's an air-conditioner.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021140.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>3. It's a table.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021150.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>4. It's a shower.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021160.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>5. It's a snack-bar.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021170.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>6. It's a phone.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021180.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>7. It's a bed.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021190.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>8. It's a fridge.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03021200.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
</table>


<%end%>
</div>
<br><br>

<hr>

<h3 class="exers ex-title">III. Where is the restaurant?</h3>
<div class="ex-area">

<p class="task ex-task"><strong>a) Learn the Russian words</strong>: </p>

<div class="voc_inter ev-wordlist">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">

				<p><span>лифт</span><br />
					<span class="sound" onclick="playAudio('audio03031010.mp3')">[l<span class="acct">i</span>ft]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>

				<span>lift</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>рестор<span class="acco">а</span>н</span><br />

					<span class="sound" onclick="playAudio('audio03031020.mp3')">[ristar<span class="acct">a</span>n]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>restaurant</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>буф<span class="acco">е</span>т</span><br />
					<span class="sound" onclick="playAudio('audio03031030.mp3')">[boo<span class="sftv">f</span><span class="sfty">y</span><span class="acct">e</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p>
			<td>
				<span>buffet</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>регистр<span class="acco">а</span>ция</span><br />
					<span class="sound" onclick="playAudio('audio03031040.mp3')">[rigistr<span class="acct">a</span>ts<span class="ry">i</span>ya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>reception</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>парикм<span class="acco">а</span>херская</span><br />
					<span class="sound" onclick="playAudio('audio03031050.mp3')">[parikm<span class="acct">a</span>hirskaya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>hairdressing saloon</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="150">
				<p><span>пр<span class="acco">а</span>чечная</span><br />
					<span class="sound" onclick="playAudio('audio03031060.mp3')">[pr<span class="acct">a</span>chichnaya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>

			<td width="30"><p>-</p></td>
			<td>
				<span>laundry</span>
			</td>
	</tr>
</table>

</div>

<p class="task ex-task">b) Ask a stranger where is:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="task_transl ev-ex-area">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">
				<p class="bold_it">- the reception
				</p>
			</td>
			<td>
				<div class="key check">

					<div>
						<div class="sound"  onclick="playAudio('audio03032010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >

	<tr valign="top">
			<td width="260">
				<p class="bold_it">- the lift
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio03032020.mp3')">Check&nbsp;yourself</div>

					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">
				<p class="bold_it">- the hairdressing saloon
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio03032030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">
				<p class="bold_it">- the restaurant
				</p>
			</td>
			<td>
				<div class="key check">

					<div>
						<div class="sound" onclick="playAudio('audio03032040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="260">
				<p class="bold_it">- the buffet
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playAudio('audio03032050.mp3')">Check&nbsp;yourself</div>

					</div>
				</div>
			</td>
	</tr>
</table>
</div>
<%end%>
<p class="task ex-task">c) Listen to the mini-dialogues and do the following tasks:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>


<div class="section-block" style="cursor: auto; margin: 20px 30px"> 
	<div class="sect-crn clt"> 
		<div class="sect-crn crt"> 
			<div class="sect-mid">  </div> 
		</div> 
	</div> 
	<div class="section-content" style="height: auto; padding: 0px 40px;">
<br>
<table class="mini-dialog" cellpadding="0" cellspacing="0" border="0">
	<tr>

		<td>
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03033010.mp3')">Dialogue 1</div>
          	</div>
          </div>
		</td>
	</tr>

	<tr>
		<td>
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03033020.mp3')">Dialogue 2</div>
          	</div>
          </div>
        </td>

    </tr>
	<tr>
        <td>  
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03033030.mp3')">Dialogue 3</div>
          	</div>
          </div>
		</td>

	</tr>
</table>

<p class="ital" style="margin-top: 0px; clear: left;">Questions:</p>

<form onsubmit="return check_test(this,2, 'c0103033.III.c)')" style="margin-bottom: 0px;">

			<p><b>  <img src="pixel.gif" width="10" height="10" id="r21"> The restaurant is: </b><br /><br /><input type="radio" name="q1">to the left.<br /><input type="radio" name="q1">to the right.<br /><input type="radio" name="q1">straight ahead.</p>

			<p><b><img src="pixel.gif" width="10" height="10" id="r22"> The hairdressing saloon  is:</b><br /><br /><input type="radio" name="q2">to the left.<br /><input type="radio" name="q2">to the right.<br /><input type="radio" name="q2">straight ahead.</p>

			<p><b><img src="pixel.gif" width="10" height="10" id="r23"> The reception is: </b><br /><br /><input type="radio" name="q3">to the left.<br /><input type="radio" name="q3">to the right.<br /><input type="radio" name="q3">straight ahead.</p>

		<input type="submit" value="Check yourself">

</form>
	</div><!-- end of section-content -->
	<div class="sect-btm"> 
    		<div class="sect-clb"> 
    			<div class="sect-crb"> 
    				<div class="sect-btm-bg" style="height: 40px;"></div> 
    			</div> 
    		</div> 
	</div> 
</div> 
<%end%>
<br>

</div>


<hr>

<h3 class="exers ex-title">IV. Is there a telephone in the room?</h3>
<div class="ex-area">

<div class="ev-comment">
<p>In the dialogue above you have seen the following construction:</p>
<table  cellspacing="0" >      
	<tr valign="top">
		 <td width="270">

		 <p class="bold"><u>Is there</u> a bathroom <u><em>in</em></u> the room?</p></td>
         <td width="30"><p>-</p>
         </td>
		 <td><p class="bold">Yes, <u>there is</u> a bathroom, a telephone and a TV set <u><em>in</em></u> the room? </p></td>

	</tr>
	<tr valign="top">
		 <td><p><u><em>В</em></u> н<span class="acco">о</span>мере <u>есть</u> в<span class="acco">а</span>нная к<span class="acco">о</span>мната?<br />

		 		<span class="sound" onclick="playAudio('audio03040001.mp3')">[v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> v<span class="acct">a</span>nnaya k<span class="acct">o</span>mnata?] &nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>

		 		</p>
		 </td>
         <td><p>-</p></td>
		 <td>
		 	<p style="margin-bottom: 0px;">Да. <u><em>В</em></u> н<span class="acco">о</span>мере <u>есть</u> в<span class="acco">а</span>нная, телеф<span class="acco">о</span>н и телев<span class="acco">и</span>зор.</p>

		 	<table onclick="playAudio('audio03040002.mp3')" class="audiotrans"  cellspacing="0" style="cursor: pointer;">
				<tr>
					<td>[d<span class="acct">a</span>. v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> v<span class="acct">a</span>nnaya, tilif<span class="acct">o</span>n i tiliv<span class="acct">i</span>zar.]     
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp;&nbsp;</span></div>
					</td>
				</tr>
			</table>
		 	
		 </td>
	</tr>
</table>

<p><strong>"Есть"</strong> may indicate the presence of an object somewhere or the possession of an object and, depending on the context, it can be translated by the expression "there is" or the verb "to have".</p>
</div>

<p class="task ex-task">a) Listen and repeat the following examples:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="ev-ex-area" style="margin: 0; padding: 15px;">
<table  cellspacing="0" >
	<tr valign="top">
		<td width="410">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td width="185">
		 					<p>В н<span class="acco">о</span>мере <u>есть</u> телеф<span class="acco">о</span>н?<br />

		 						<span class="sound" onclick="playAudio('audio03040011.mp3')">[v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> tilif<span class="acct">o</span>n?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>

		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p>Да, в н<span class="acco">о</span>мере <u>есть</u> телеф<span class="acco">о</span>н.<br />

		 						<span class="sound" onclick="playAudio('audio03040012.mp3')">[d<span class="acct">a</span>. v n<span class="acct">o</span>mi<span class="sftc">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> tilif<span class="acct">o</span>n] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is there a phone in the room? - Yes, there is a telephone in the room.</p>
		</td>
	</tr>

</table>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="470">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>В гост<span class="acco">и</span>нице <u>есть</u> рестор<span class="acco">а</span>н?<br />

		 						<span class="sound" onclick="playAudio('audio03040021.mp3')">[v gast<span class="acct">i</span>nitse y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> ristar<span class="acct">a</span>n?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>

						<td width="15"><p>-</p></td>
		 				<td>
		 					<p>Да, в гост<span class="acco">и</span>нице <u>есть</u> рестор<span class="acco">а</span>н.<br />
		 						<span class="sound" onclick="playAudio('audio03040022.mp3')">[da, v gast<span class="acct">i</span>nitse y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> ristar<span class="acct">a</span>n] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is there a restaurant in the hotel? - Yes, there is a restaurant in the hotel.</p>
		</td>
	</tr>

</table>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="400">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>У Вас есть бил<span class="acco">е</span>т?<br />

		 						<span class="sound" onclick="playAudio('audio03040031.mp3')">[oo v<span class="acct">a</span>s y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>

		 				</td>
						<td width="15"><p>-</p></td>
		 				<td >
		 					<p>Да, у мен<span class="acco">я</span> есть бил<span class="acco">е</span>т.<br />
		 						<span class="sound" onclick="playAudio('audio03040032.mp3')">[d<span class="acct">a</span>, oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Do you have a ticket? - Yes, I have a ticket.</p>
		</td>
	</tr>

</table>
</div>
<%end%>

<p class="task ex-task">b) Using the following expression, translate phrases into Russian:</p>

<div class="model">
<h4>Expression</h4>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="180">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>В н<span class="acco">о</span>мере есть ...<br />

		 						<span class="sound" onclick="playAudio('audio03041000.mp3')">[v n<span class="acct">o</span>mi<span class="sftv">r</span><span class="sfty">y</span>e y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>

					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">In the room there is ...</p>
		</td>
	</tr>
</table>
</div>


<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>
<br>
<table class="ev-quest-answ" cellspacing="0" align="center" style="margin: 0 auto">
<tr>
	<th colspan="3">Phrases to translate</th>
</tr>
<tr>
	<td class="qa_task">
		<p>1. Is there a TV set in the room?
		</p>
	</td>
	<td width="60">
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03041010.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>2. Is there a shower in the room?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03041020.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>3. Is there a snack-bar in the room?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03041030.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>4. Is there an air-conditionner in the room?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03041040.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>5. Is there a fridge in the room?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03041050.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>6. Is there is a bathroom in the room?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03041060.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
</table>
<br><br>
<%end%>
<p class="task ex-task">c) Using the following expression, translate phrases into Russian:</p>

<div class="model">
<h4>Expression</h4>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="200">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>

		 					<p>В гост<span class="acco">и</span>нице есть ...<br />
		 						<span class="sound" onclick="playAudio('audio03042000.mp3')">[v gast<span class="acct">i</span>nitse y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>

		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">In the hotel there is ...</p>
		</td>
	</tr>
</table>
</div>
<br>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table class="ev-quest-answ" cellspacing="0" align="center" style="margin: 0 auto">
<tr>
	<th colspan="3">Phrases to translate</th>
</tr>
<tr>
	<td class="qa_task">
		<p>1. Is there a laundary in the hotel?
		</p>
	</td>
	<td width="60">
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03042010.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>2. There is a retaurant in the hotel.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03042020.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>3. There is a lift in the hotel.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03042030.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>4. Is there a hairdressing saloon in the hotel?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03042040.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>5. There is a reception in the hotel.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03042050.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>6. Is there a bar in the hotel?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03042060.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
</table>
<br>
<%end%>

<p class="task ex-task">d) Using the following expressions, translate phrases into Russian:</p>

<div class="model">
<h4>Model</h4>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="200">
			<table  cellspacing="0" >
					<tr valign="top">

		 				<td>
		 					<p>У мен<span class="acco">я</span> есть ...<br />
		 						<span class="sound" onclick="playAudio('audio03043001.mp3')">[oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I have ...</p>
		</td>
	</tr>
</table>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="200">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>У Вас есть ...<br />
		 						<span class="sound" onclick="playAudio('audio03043002.mp3')">[oo v<span class="acct">a</span>s y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">You have ...</p>
		</td>
	</tr>
</table>
</div>



<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>




<div class="section-block" style="cursor: auto; margin: 20px 30px">
				<div class="sect-crn clt">
						<div class="sect-crn crt">
							<div class="sect-mid">  </div>
						</div>
				</div>
				<div class="section-content" style="height: auto; padding: 0px 40px;">
<div id="di1">	
				
<p class="task">Drag and drop the following words to build phrases in Russian. You can listen and read correct answers by clicking the button "Display answers" </p> 
<br>

<table style="margin: 0 auto; border: 1px dashed #000" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td>
		<div>меня</div>
	</td>
	<td>
		<div>Вас</div>
	</td>
	<td >
		<div>телефон</div>
	</td>

	<td colspan="2">
		<div>телевизор</div>
	</td>
</tr>
<tr>
	<td>
		<div> У </div>
	</td>
	<td>
		<div>есть</div>
	</td>
	<td>
		<div>виза</div>
	</td>
	<td>
		<div>билет</div>
	</td>
	<td>
		<div>багаж</div>
	</td>
</tr>
</table>
<br>
<br>

<div  class="gr_ex_type">
<div class="gr-ex-testid">c0103044.IV.d)</div>

<div class="gext_task gext_sign"> 
	1. I have luggage.
	<br><input type="text" style="width: 300px" value=""><span class="gext_answer" style="display: none">У меня есть багаж.</span>.
	<div class="gext_show gext_sh_audio">
		<div class="jp_control" onclick="cJplayer('/audios/audio03043003.mp3', this)"></div>
		<span><b>У меня есть багаж.</b></span> &nbsp;
	</div>
</div>
<div class="gext_task gext_sign"> 
	2. You have a ticket. <br> 
	<input type="text" style="width: 300px" value=""><span class="gext_answer" style="display: none">У Вас есть билет</span>.
	<div class="gext_show gext_sh_audio">
		<div class="jp_control" onclick="cJplayer('/audios/audio03043004.mp3', this)"></div>
		<span><b>У Вас есть билет.</b></span> &nbsp;
	</div>
</div>
<div class="gext_task gext_sign"> 
	3. Do you have a telephone?<br>
	<input type="text" style="width: 300px" value=""><span class="gext_answer" style="display: none">У Вас есть телефон</span>.
	<div class="gext_show gext_sh_audio">
		<div class="jp_control" onclick="cJplayer('/audios/audio03043030.mp3', this)"></div>
		<span><b>У Вас есть телефон?</b></span> &nbsp;
	</div>
</div>
<div class="gext_task gext_sign"> 
	4.  I have a visa. <br>
	<input type="text" style="width: 300px" value=""><span class="gext_answer" style="display: none">У меня есть виза</span>.
	<div class="gext_show gext_sh_audio">
		<div class="jp_control" onclick="cJplayer('/audios/audio03043040.mp3', this)"></div>
		<span><b>У меня есть виза.</b></span> &nbsp;
	</div>
</div>
<div class="gext_task gext_sign"> 
	5. Do you have a TV set? <br>
	<input type="text" style="width: 300px" value=""><span class="gext_answer" style="display: none">У Вас есть телевизор</span>.
	<div class="gext_show gext_sh_audio">
		<div class="jp_control" onclick="cJplayer('/audios/audio03043050.mp3', this)"></div>
		<span><b>У Вас есть телевизор?</b></span> &nbsp;
	</div>
</div>
<div class="gext_task gext_sign"> 
	6. I have a telephone. <br>
	<input type="text" style="width: 300px" value=""><span class="gext_answer" style="display: none">У меня есть телефон</span>.
	<div class="gext_show gext_sh_audio">
		<div class="jp_control" onclick="cJplayer('/audios/audio03043060.mp3', this)"></div>
		<span><b>У меня есть телефон.</b></span> &nbsp;
	</div>
</div>

<p class="gext_check"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>

</div>

</div>

</div> <!-- end of di1  -->

<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: true,
		variant_elem: "di_variants div",
		targets_color: "#ffffff"

		} )
</script>
				<div class="sect-btm">
    				<div class="sect-clb">
    					<div class="sect-crb">

    						<div class="sect-btm-bg" style="height: 40px;">
    							    				   			
    						</div>
    					</div>
    				</div>
				</div>
			</div>

<br><br>





<table class="ev-quest-answ" cellspacing="0" align="center" style="margin: 0 auto">
<tr>
	<th colspan="3">Phrases to translate</th>
</tr>
<tr>
	<td class="qa_task" width="250">
		<p>1. I have luggage.
		</p>
	</td>
	<td width="60">
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03043003.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>2. You have a ticket.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03043004.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>3. Do you have a telephone?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03043030.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>4. I have a visa.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03043040.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>5. Do you have a TV set?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03043050.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>6. I have a telephone.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03043060.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
</table>

<br><br>


<%end%>

</div>

<hr>

<h3 class="exers ex-title">V. Is it your passport?</h3>
<div class="ex-area">

<div class="ev-comment">
<p>In this and previous lessons you have seen Russian words "мой" (my) and "Ваш" (your). Notice that depending on the grammatical gender and number of the following noun these words may change.</p>

<p>
- "мой" [m<span class="acct">o</span>y] and "Ваш" [v<span class="acct">a</span>sh] for masculine<br />

- "мо<i></i><span class="acco">я</span>" [may<span class="acct">a</span>] and "В<span class="acco">а</span>ша" [v<span class="acct">a</span>sha] for faminine <br />
- "моё" [may<span class="acct">o</span>] and "В<span class="acco">а</span>ше" [v<span class="acct">a</span>she] for neuter<br />

- "мо<i></i><span class="acco">и</span>" [ma<span class="acct">i</span>] and "В<span class="acco">а</span>ши" [v<span class="acct">a</span>sh<span class="ry">i</span>] for plural
</p>
</div>

<p class="task ex-task">a) Listen and repeat the following examples with these words:</p>

<div class="ev-ex-area" style="margin: 0;">
<table  cellspacing="0" >
	<tr valign="top">
		<td width="390">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><span class="acco">Э</span>то <u>Ваш</u> баг<span class="acco">а</span>ж?<br />

		 						<span class="sound" onclick="playAudio('audio03051011.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sh bag<span class="acct">a</span>sh?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
						<td width="25" align="center"><p>-</p></td>

		 				<td >
		 					<p>Да, <span class="acco">э</span>то <u>мой</u> баг<span class="acco">а</span>ж.<br />
		 						<span class="sound" onclick="playAudio('audio03051012.mp3')">[d<span class="acct">a</span>. <span class="acct">e</span>ta m<span class="acct">o</span>y bag<span class="acct">a</span>sh] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is this your luggage? - Yes, this is my lugagage.</p>
		</td>
	</tr>

</table>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="390">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><span class="acco">Э</span>то <u>Ваш</u> ключ?<br />

		 						<span class="sound" onclick="playAudio('audio03051021.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sh k<span class="sftv">l</span><span class="sfty">y</span>ooch?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
						<td width="25" align="center"><p>-</p></td>

		 				<td >
		 					<p>Да, <span class="acco">э</span>то <u>мой</u> ключ.<br />
		 						<span class="sound" onclick="playAudio('audio03051022.mp3')">[d<span class="acct">a</span>, <span class="acct">e</span>ta m<span class="acct">o</span>y k<span class="sftv">l</span><span class="sfty">y</span><span class="acct">oo</span>ch] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is this your key? - Yes, this is my key.</p>
		</td>
	</tr>

</table>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="390">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><span class="acco">Э</span>то <u>В<span class="acco">а</span>ша</u> к<span class="acco">о</span>мната?<br />

		 						<span class="sound" onclick="playAudio('audio03051031.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sha k<span class="acct">o</span>mnata?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
						<td width="25" align="center"><p>-</p></td>

		 				<td >
		 					<p>Да, <span class="acco">э</span>то <u>мо<i></i><span class="acco">я</span></u> к<span class="acco">о</span>мната.<br />
		 						<span class="sound" onclick="playAudio('audio03051032.mp3')">[d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">a</span> k<span class="acct">o</span>mnata] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is this your room? - Yes, this is my room.</p>
		</td>
	</tr>

</table>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="390">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><span class="acco">Э</span>то <u>В<span class="acco">а</span>ша</u> фам<span class="acco">и</span>лия?<br />

		 						<span class="sound" onclick="playAudio('audio03051041.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sha fam<span class="acct">i</span>liya?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
						<td width="25" align="center"><p>-</p></td>

		 				<td >
		 					<p>Да, <span class="acco">э</span>то <u>мо<i></i><span class="acco">я</span></u> фам<span class="acco">и</span>лия.<br />
		 						<span class="sound" onclick="playAudio('audio03051042.mp3')">[d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">a</span> fam<span class="acct">i</span>liya] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is this your surname? - Yes, this is my surname.</p>
		</td>
	</tr>

</table>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="390">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p><span class="acco">Э</span>то <u>В<span class="acco">а</span>ше</u> <span class="acco">и</span>мя?<br />

		 						<span class="sound" onclick="playAudio('audio03051051.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>she <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
						<td width="25" align="center"><p>-</p></td>

		 				<td >
		 					<p>Да, <span class="acco">э</span>то <u>моё</u> <span class="acco">и</span>мя.<br />
		 						<span class="sound" onclick="playAudio('audio03051052.mp3')">[d<span class="acct">a</span>, <span class="acct">e</span>ta may<span class="acct">o</span> <span class="acct">i</span><span class="sftv">m</span><span class="sfty">y</span>a] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Is this your name? - Yes, this is my name.</p>
		</td>
	</tr>

</table>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="390">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Это <u>В<span class="acco">а</span>ши</u> в<span class="acco">е</span>щи?<br />

		 						<span class="sound" onclick="playAudio('audio03051061.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sh<span class="ry">i</span> <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>schi?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>

						<td width="25" align="center"><p>-</p></td>
		 				<td >
		 					<p>Да, <span class="acco">э</span>то <u>мо<i></i><span class="acco">и</span></u> в<span class="acco">е</span>щи.<br />
		 						<span class="sound" onclick="playAudio('audio03051062.mp3')">[d<span class="acct">a</span>, <span class="acct">e</span>ta ma<span class="acct">i</span> <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>schi] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Are these your things? - Yes, these are my things.</p>
		</td>
	</tr>

</table>
</div>

<%end%>
<p class="task ex-task">b) Give a positive answer to the questions:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>


<table class="ev-quest-answ" cellspacing="0" align="center" style="margin: 0 auto">
<tr>
	<th colspan="3">Questions</th>
</tr>
<tr>
	<td class="qa_task" width="230">
		<p><span class="acco">Э</span>то Ваш н<span class="acco">о</span>мер? - ...<br />
					<span class="sound" onclick="playAudio('audio03052011.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sh n<span class="acct">o</span>mir?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		</p>
	</td>
	<td width="60">
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03052012.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
				<p><span class="acco">Э</span>то В<span class="acco">а</span>ше такс<span class="acco">и</span>? - ... <br />
					<span class="sound" onclick="playAudio('audio03052021.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>she taks<span class="acct">i</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03052022.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
				<p><span class="acco">Э</span>то В<span class="acco">а</span>ши бил<span class="acco">е</span>ты? - ... <br />
					<span class="sound" onclick="playAudio('audio03052023.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sh<span class="ry">i</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t<span class="ry">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03052032.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
				<p><span class="acco">Э</span>то В<span class="acco">а</span>ша гост<span class="acco">и</span>ница? - ...<br />
					<span class="sound" onclick="playAudio('audio03052041.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sha gast<span class="acct">i</span>nitsa?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03052042.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
				<p><span class="acco">Э</span>то Ваш телеф<span class="acco">о</span>н? - ...<br />
					<span class="sound" onclick="playAudio('audio03052051.mp3')">[<span class="acct">e</span>ta v<span class="acct">a</span>sh tilif<span class="acct">o</span>n?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03052052.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
</table>

<br><br>
<%end%>

</div>

<hr>



<h3 class="exers ex-title">VI. When should I pay?</h3>
<div class="ex-area">

<div class="ev-comment">
<p>Look at the following constructions:</p>

<table  cellspacing="0" >

	<tr valign="top">
		<td width="200">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Мне н<span class="acco">у</span>жно ...<br />
		 						<span class="sound" onclick="playAudio('audio03060001.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I need, I must, I'd like</p>
		</td>
	</tr>

</table>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="200">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Вам н<span class="acco">у</span>жно ...<br />

		 						<span class="sound" onclick="playAudio('audio03060002.mp3')">[v<span class="acct">a</span>m n<span class="acct">oo</span>jna] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>

		<td valign="top"><p class="ital">You need, you should, you must ...</p>
		</td>
	</tr>
</table>
</div>


<p class="task ex-task">a) Learn the following expressions:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="voc_inter ev-wordlist">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="140">

				<p><span>плат<span class="acco">и</span>ть</span><br />
					<span class="sound" onclick="playAudio('audio03061010.mp3')">[plat<span class="acct">i</span><span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>

			<td>
				<span>to pay</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="140">
				<p><span>оплат<span class="acco">и</span>ть про<i></i><span class="acco">е</span>зд</span><br />

					<span class="sound" onclick="playAudio('audio03061020.mp3')">[aplat<span class="acct">i</span><span class="sftc">t</span> pray<span class="acct">e</span>st]&nbsp;&nbsp;<span class="play_tip">&nbsp;&nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>

				<span>to pay the fare</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="140">
				<p><span>оплат<span class="acco">и</span>ть н<span class="acco">о</span>мер</span><br />

					<span class="sound" onclick="playAudio('audio03061030.mp3')">[aplat<span class="acct">i</span><span class="sftc">t</span> n<span class="acct">o</span>mir]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>

			<td>
				<span>to pay for the hotel room</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="140">
				<p><span>оплат<span class="acco">и</span>ть такс<span class="acco">и</span></span><br />

					<span class="sound" onclick="playAudio('audio03061040.mp3')">[aplat<span class="acct">i</span><span class="sftc">t</span> taks<span class="acct">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>

			<td>
				<span>to pay for the taxi</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="160">
				<p><span>оплат<span class="acco">и</span>ть гост<span class="acco">и</span>ницу</span><br />

					<span class="sound" onclick="playAudio('audio03061050.mp3')">[aplat<span class="acct">i</span><span class="sftc">t</span> gast<span class="acct">i</span>nitsoo]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>

			<td>
				<span>to pay for the hotel</span>
			</td>
	</tr>
</table>
</div>
<%end%>
<p class="task ex-task">b) Translate into Russian and check yourself:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table class="ev-quest-answ" cellspacing="0" align="center" style="margin: 0 auto">
<tr>
	<th colspan="3">Phrases to translate</th>
</tr>
<tr>
	<td class="qa_task">
		<p>1. I need to pay for the hotel.
		</p>
	</td>
	<td width="60">
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03062010.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>2. You must pay the fare.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03062020.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>3. I need to pay for the taxi.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03062030.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>4. I need to pay the fare.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03062040.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>5. You should pay for the hotel room.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03062050.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>6. Should I pay?
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03062060.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
</table>

<br><br>

<%end%>

</div>

<hr>

<h3 class="exers ex-title">VII. Numerals</h3>
<div class="ex-area">

<p class="task ex-task">
a) Revise the <a href="numerals00-100.html" target="_blank">numerals from 1 to 10</a> and do the following tasks. 
</p>

<div class="ev-ex-area">
<p class="task">
Look at the examples of these numerals with the noun <span class="norm_txt"><em>день&nbsp;<span class="s-ound" style="clear: left;" onclick="playAudio('audio-03071001.mp3')">[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>]&nbsp;<span class="p-lay_tip">&nbsp;</span></span></em></span> - "day" in the following expressions:

</p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>на од<span class="acco">и</span>н день</span><br />
					<span class="sound" onclick="playAudio('audio03071001.mp3')">[na ad<span class="acct">i</span>n <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>for one day</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>на 2-4 дня</span><br />
					<span class="sound" onclick="playAudio('audio03071002.mp3')">[na dv<span class="acct">a</span> chit<span class="acct"><span class="ry">i</span></span>ri d<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>for 2-4 days</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>на 5-10 дней</span><br />
					<span class="sound" onclick="playAudio('audio03071003.mp3')">[na <span class="sftv">p</span><span class="sfty">y</span><span class="acct">a</span>t <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>si<span class="sftc">t</span> d<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>y]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>for 5-10 days</span>
			</td>
	</tr>
</table>

</div>
</div>

<p class="task ex-task">Learn the following expression and translate into Russian:</p>


<div class="model">
<h4>Expression</h4>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">
				<p><span>У мен<span class="acco">я</span> зарезерв<span class="acco">и</span>рован н<span class="acco">о</span>мер ...</span><br />

					<span class="sound" onclick="playAudio('audio03071005.mp3')">[oo mi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span> zarizirv<span class="acct">i</span>ravan n<span class="acct">o</span>mir]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>

			<td>
				<span class="ital">I have reserved a room ...</span>
			</td>
	</tr>
</table>
</div>
</div>
<br>


<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table class="ev-quest-answ" cellspacing="0" align="center" style="margin: 0 auto">
<tr>
	<th colspan="3">Phrases to translate</th>
</tr>
<tr>
	<td class="qa_task">
		<p>1. I have reserved a room for 10 days.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03071010.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>2. I have reserved a room for 1 day.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03071020.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>3. I have reserved a room for 3 days.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03071030.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>4. I have reserved a room for 8 days.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03071040.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="qa_task">
		<p>5. I have reserved a room for 2 days.
		</p>
	</td>
	<td>
		   -  ...  
	</td>
	<td>
		<div class="key check">
			<div>
				<div class="sound"  onclick="playAudio('audio03071050.mp3')">Check&nbsp;yourself</div>
			</div>
		</div>
	</td>
</tr>
</table>

<br>


<%end%>
<p class="task ex-task">b) Learn the following Russian numerals:</p>

<div class="ev-wordlist">
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td valign="top" width="280">
            <div class="voc_inter">
            <table class="tab1 inter"  cellspacing="0" >

            	<tr valign="top">
            			<td width="30">
            				<p><span>11</span></p>
            			</td>
            			<td width="30"><p>-</p>
            			<td width="100">
            				<p><span>од<span class="acco">и</span>ннадцать</span><br />

            					<span class="sound" onclick="playAudio('audio03072001.mp3')">[ad<span class="acct">i</span>natsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
            				</p>
            			</td>
            	</tr>
            </table>
            <table class="tab1 inter"  cellspacing="0" >

            	<tr valign="top">
            			<td width="30">
            				<p><span>12</span></p>
            			</td>
            			<td width="30"><p>-</p>
            			<td width="100">
            				<p><span>двен<span class="acco">а</span>дцать</span><br />

            					<span class="sound" onclick="playAudio('audio03072002.mp3')">[dvin<span class="acct">a</span>tsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
            				</p>
            			</td>
            	</tr>
            </table>
            <table class="tab1 inter"  cellspacing="0" >

            	<tr valign="top">
            			<td width="30">
            				<p><span>13</span></p>
            			</td>
            			<td width="30"><p>-</p>
            			<td width="100">
            				<p><span>трин<span class="acco">а</span>дцать</span><br />
            					<span class="sound" onclick="playAudio('audio03072003.mp3')">[trin<span class="acct">a</span>tsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
            				</p>
            			</td>
            	</tr>
            </table>
            <table class="tab1 inter"  cellspacing="0" >

            	<tr valign="top">
            			<td width="30">
            				<p><span>14</span></p>
            			</td>
            			<td width="30"><p>-</p>
            			<td width="120">
            				<p><span>чет<span class="acco">ы</span>рнадцать</span><br />

            					<span class="sound" onclick="playAudio('audio03072004.mp3')">[chit<span class="acct"><span class="ry">i</span></span>rnatsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
            				</p>
            			</td>
            	</tr>
            </table>
            <table class="tab1 inter"  cellspacing="0" >

            	<tr valign="top">
            			<td width="30">
            				<p><span>15</span></p>
            			</td>
            			<td width="30"><p>-</p>
            			<td width="120">
            				<p><span>пятн<span class="acco">а</span>дцать</span><br />

            					<span class="sound" onclick="playAudio('audio03072005.mp3')">[pitn<span class="acct">a</span>tsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
            				</p>
            			</td>
            	</tr>
            </table>
            
            </div>		

		</td>

		<td valign="top">
			<div class="voc_inter">
            <table class="tab1 inter"  cellspacing="0" >
            	<tr valign="top">
            			<td width="30">
            				<p><span>16</span></p>
            			</td>
            			<td width="30"><p>-</p>

            			<td width="110">
            				<p><span>шестн<span class="acco">а</span>дцать</span><br />
            					<span class="sound" onclick="playAudio('audio03072006.mp3')">[sh<span class="ry">i</span>sn<span class="acct">a</span>tsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

            				</p>
            			</td>
            	</tr>
            </table>
            <table class="tab1 inter"  cellspacing="0" >
            	<tr valign="top">
            			<td width="30">
            				<p><span>17</span></p>

            			</td>
            			<td width="30"><p>-</p>
            			<td width="100">
            				<p><span>семн<span class="acco">а</span>дцать</span><br />
            					<span class="sound" onclick="playAudio('audio03072007.mp3')">[simn<span class="acct">a</span>tsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

            				</p>
            			</td>
            	</tr>
            </table>
            <table class="tab1 inter"  cellspacing="0" >
            	<tr valign="top">
            			<td width="30">
            				<p><span>18</span></p>

            			</td>
            			<td width="30"><p>-</p>
            			<td width="120">
            				<p><span>восемн<span class="acco">а</span>дцать</span><br />
            					<span class="sound" onclick="playAudio('audio03072008.mp3')">[vasimn<span class="acct">a</span>tsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

            				</p>
            			</td>
            	</tr>
            </table>
            <table class="tab1 inter"  cellspacing="0" >
            	<tr valign="top">
            			<td width="30">
            				<p><span>19</span></p>

            			</td>
            			<td width="30"><p>-</p>
            			<td width="120">
            				<p><span>девятн<span class="acco">а</span>дцать</span><br />
            					<span class="sound" onclick="playAudio('audio03072009.mp3')">[divitn<span class="acct">a</span>tsa<span class="sftc">t</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

            				</p>
            			</td>
            	</tr>
            </table>
            </div>
		</td>
	</tr>
</table>
</div>

<p class="task ex-task">c) Listen to the mini-dialogues and do the following tasks:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="section-block" style="cursor: auto; margin: 20px 30px"> 
	<div class="sect-crn clt"> 
		<div class="sect-crn crt"> 
			<div class="sect-mid">  </div> 
		</div> 
	</div> 
	<div class="section-content" style="height: auto; padding: 0px 40px;">

<br>
<table class="mini-dialog" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03073010.mp3')">Dialogue 1</div>
          	</div>
          </div>

		</td>
	</tr>
	<tr>
		<td>
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03073020.mp3')">Dialogue 2</div>
          	</div>

          </div>
        </td>
    </tr>
	<tr>
        <td>  
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03073030.mp3')">Dialogue 3</div>
          	</div>

          </div>
		</td>
	</tr>
	<tr>
        <td>  
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03073040.mp3')">Dialogue 4</div>
          	</div>

          </div>
		</td>
	</tr>
	<tr>
        <td>  
          <div class="key">
             	 <div>
          	 	<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio03073050.mp3')">Dialogue 5</div>
          	</div>

          </div>
		</td>
	</tr>
</table>

<p class="task">Put an appropriate numeral in the text area:</p>

<form onsubmit="return check_test(this,3, 'c0103073.VII.c)')">

<p><img src="pixel.gif" width="10" height="10" id="r31"> The fare is <input type="text" align="center" size=1> rubles for the bus.</p>

<p><img src="pixel.gif" width="10" height="10" id="r32"> The hotel room is reserved for <input type="text" align="center" size=2> days.</p>
<p><img src="pixel.gif" width="10" height="10" id="r33"> The fare is <input type="text" align="center" size=2> rubles for the tram.</p>
<p><img src="pixel.gif" width="10" height="10" id="r34"> The visit to the W.C. costs <input type="text" align="center" size=2> rubles.</p>
<p><img src="pixel.gif" width="10" height="10" id="r35"> It fare is <input type="text" align="center" size=2> rubles for the trolley.</p>

<p><input type="submit" value="Check">
</form>

	</div><!-- end of section-content -->
	<div class="sect-btm"> 
    		<div class="sect-clb"> 
    			<div class="sect-crb"> 
    				<div class="sect-btm-bg" style="height: 40px;"></div> 
    			</div> 
    		</div> 
	</div> 
</div>
<%end%>

</div>

<br><br>


<hr class="less-end">

<h3>In this lesson you have learnt:</h3> 
 
<p>- Words and expressions on the topic "Hotel".</p>

<p>- Constructions which you can use to say about the availability of something:</p> 

<ul class="learnt-list">
	<li>В номере есть телефон.</li>

	<li>У меня есть билет.</li>
</ul>
<p>
- The fact that in Russian "мой" and "Ваш" have several forms and their use depends on the grammatical gender and number of the nouns that follow them: 
</p>

<ul class="learnt-list">
	<li>Это мой билет.</li>
	<li>Это моя виза.</li>
	<li>Это мои вещи.</li>	

</ul> 

<p>- You have also continued working with the construction "Мне нужно":</p>  

<ul class="learnt-list">
	<li>Мне нужно оплатить гостиницу.</li>
	<li>Вам нужно оплатить такси.</li>
</ul> 

<p>- You have learnt the numerals from 20 to 99.</p>

<p>
In order to make sure you have understood all the material of the lesson and to get some additional information, we recommend you to visit the following pages: 
</p>

<ul class="last-links">
	<li><a href="hotel.html">Hotel</a></li>
	<li><a href="services.html">Services</a></li>
	<li><a href="numerals00-100.html">Numerals from 1 to 100</a></li>
</ul>




</div>

</div>

<script type="text/javascript">
currentSection="course";
</script>
