<% @page_title = 'Russian Lessons Online: Lesson 9' %>
<% @page_meta = {'description' => "Online Russian lesson which helps to learn basic Russian words and phrases related to currency exchange", 'robots' => "noindex"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>


<style type="text/css">


.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 100px;
}

#testing7 td {
padding: 4px;
}

</style>

<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
     				<li><a href="/bank.html">Bank and Money</a></li>
        </ul>
        <%= render :partial => 'colorder_accent' %>
	</div>
</div>
</div>


<h2 class="page">Lesson 9</h2>
<% if !(logged_in? && current_user.payment) %>
	<%=@hide_title%>
<% end %>
<hr>
<h3 class="exers">I. Currency exchange</h3>



<div id="pagecontent"><div id="content">

<p class="task">a) Dialogues</p>
<p>
A tourist comes to the bank. She wants to changes euros for rubles. The bank teller tells her that the exchange value of euro is 40 rubles. The tourist changes 300 euros. She thanks the teller and says goodbye.
</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table class="audio-task" cellspacing="0">        
	<tr>

		<td>
		<p class="task">Listen to the dialogue and read the translation</p>
		</td>
 		<td> 
        	<div class="player_swf"><span style="visibility: hidden">audios/audio09011100.mp3</span></div>
		</td>
	</tr>
</table>

<div class="dict_wrapper">
<table class="diction"  cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">- Здр<span class="acco">а</span>вствуйте.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011101.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[zdr<span class="acct">a</span>stvooyti]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Hello.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Здр<span class="acco">а</span>вствуйте.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011102.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[zdr<span class="acct">a</span>stvooyti]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Hello.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Мне хот<span class="acco">е</span>лось бы обмен<span class="acco">я</span>ть <span class="acco">е</span>вро на рубл<span class="acco">и</span>.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011103.mp3')" class="audiotrans"  cellspacing="0" >

				<tr>
					<td>[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">s</span> b<span class="ry">i</span> abmi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> y<span class="acct">e</span>vra na roobl<span class="acct">i</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- I would like to exchange euros for rubles.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- У Вас есть п<span class="acco">а</span>спорт?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011104.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[oo v<span class="acct">a</span>s y<span class="acct">e</span><span class="sftc">s</span><span class="sftc">t</span> p<span class="acct">a</span>spart?]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Have you got your passport?
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Да, вот, пож<span class="acco">а</span>луйста.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011105.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[d<span class="acct">a</span>, v<span class="acct">o</span>t, paj<span class="acct">a</span>loosta]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Yes, here it is.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Курс евро составл<span class="acco">я</span><i></i>ет 40 рубл<span class="acco">е</span>й.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011106.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[k<span class="acct">oo</span>rs y<span class="acct">e</span>vra sastav<span class="sftv">l</span><span class="sfty">y</span><span class="acct">a</span>it s<span class="acct">o</span>rak roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- The exchange value of euro is 40 rubles.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Хорош<span class="acco">о</span>.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011107.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[harash<span class="acct">o</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- It's good.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Как<span class="acco">у</span><i></i>ю с<span class="acco">у</span>мму Вы хот<span class="acco">е</span>ли бы обмен<span class="acco">я</span>ть?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011108.mp3')" class="audiotrans"  cellspacing="0" >

				<tr>
					<td>[kak<span class="acct">oo</span>yoo s<span class="acct">oo</span>mmoo v<span class="acct"><span class="ry">i</span></span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>li b<span class="ry">i</span> abmi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span>?]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- How much would you like to exchange?
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- 300 <span class="acco">е</span>вро.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011109.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[tr<span class="acct">i</span>sta y<span class="acct">e</span>vra]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- 300 euros.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Итог<span class="acco">о</span> получ<span class="acco">а</span><i></i>ется <span class="nwr">12 000</span> рубл<span class="acco">е</span>й. Распиш<span class="acco">и</span>тесь здесь, пож<span class="acco">а</span>луйста. В<span class="acco">а</span>ши д<span class="acco">е</span>ньги и чек. Спас<span class="acco">и</span>бо.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011110.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[itav<span class="acct">o</span> palooch<span class="acct">a</span>itsa dvin<span class="acct">a</span>tsa<span class="sftc">t</span> t<span class="acct"><span class="ry">i</span></span>sich roob<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>y. raspish<span class="acct"><span class="ry">i</span></span>ti<span class="sftc">s</span> <span class="sftc">z</span><span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">s</span>, paj<span class="acct">a</span>loosta. v<span class="acct">a</span>sh<span class="ry">i</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span>ngi i ch<span class="acct">e</span>k. spas<span class="acct">i</span>bo]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- The total sum is 7 500 rubles. Sign here please. Your money and receipt please. Thank you.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Больш<span class="acco">о</span><i></i>е спас<span class="acco">и</span>бо, до свид<span class="acco">а</span>ния.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011111.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>

					<td>[ba<span class="sftc">l</span>sh<span class="acct">o</span>ye spas<span class="acct">i</span>ba. da svid<span class="acct">a</span>niya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Thank you very much. Good bye.
		</td>
	</tr>
	<tr class="trow">
		<td class="original" valign="top">- До свид<span class="acco">а</span>ния.
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011112.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[da svid<span class="acct">a</span>nya]
					</td>
					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>

				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Good bye.
		</td>
	</tr>
</table>
</div>
<%end%>
<p style="margin-top: 25px;">
A tourist asks a passer-by where the nearest cash machine is. The passer-by answers that there is a cash maсhine near the shop. The tourists also asks whether that cash machine accepts VISA cards.
</p>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table class="audio-task" cellspacing="0">        
	<tr>
		<td>
		<p class="task">Listen to the dialogue and read the translation</p>
		</td>
 		<td> 
        	<div class="player_swf"><span style="visibility: hidden">audios/audio09011200.mp3</span></div>
		</td>

	</tr>
</table>


<div class="dict_wrapper">
<table class="diction"  cellspacing="0" align="center">
	<tr class="trow">
		<td class="original" valign="top">- Извин<span class="acco">и</span>те, Вы не подск<span class="acco">а</span>жете, где побл<span class="acco">и</span>зости нах<span class="acco">о</span>дится банком<span class="acco">а</span>т?
		</td>

		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011201.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[izvivn<span class="acct">i</span>ti, v<span class="acct"><span class="ry">i</span></span> ni patsk<span class="acct">a</span>j<span class="ry">i</span>ti g<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span> pabl<span class="acct">i</span>za<span class="sftc">s</span>ti nah<span class="acct">o</span>ditsa bankam<span class="acct">a</span>t?]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Excuse me, could you please tell where the nearest cash machine is.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Да, вот там. Р<span class="acco">я</span>дом с магаз<span class="acco">и</span>ном.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011202.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[d<span class="acct">a</span>, v<span class="acct">o</span>t t<span class="acct">a</span>m, <span class="sftv">r</span><span class="sfty">y</span><span class="acct">a</span>dam s magaz<span class="acct">i</span>nam]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Yes, over there, near the shop.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- А вы не зн<span class="acco">а</span><i></i>ете, он принимает к<span class="acco">а</span>рты Visa?
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011203.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[a v<span class="acct"><span class="ry">i</span></span> ni zn<span class="acct">a</span>iti, <span class="acct">o</span>n prinim<span class="acct">a</span>it k<span class="acct">a</span>rt<span class="ry">i</span> v<span class="acct">i</span>za?]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Do you know whether it accepts VISA cards?
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Д<span class="acco">у</span>маю, да.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011204.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[d<span class="acct">oo</span>mayoo d<span class="acct">a</span>]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- I think it does.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Спас<span class="acco">и</span>бо.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011205.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[spas<span class="acct">i</span>ba]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Thank you.
		</td>
	</tr>

	<tr class="trow">
		<td class="original" valign="top">- Н<span class="acco">е</span> за что.
		</td>
		<td class="transcript" valign="top">
			<table onclick="playAudio('audio09011206.mp3')" class="audiotrans"  cellspacing="0" >
				<tr>
					<td>[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> za shta]
					</td>

					<td class="trs_td"><div class="sdict"><span class="play_tip">&nbsp; &nbsp; </span></div>
					</td>
				</tr>
			</table>
		</td>
		<td class="translation" valign="top">- Not at all.
		</td>
	</tr>

</table>
</div>
<%end%>
<p class="task" style="padding-top: 20px;">b) Listen and repeat the dialogues phrase by phrase. </p>
<p class="task">c) Listen to the phrases in Russian and choose the right translation.</p>
<div id="test1">
<script type="text/javascript">
T['1']=['3','10','1','8','4','6','5','9','2','7']; // For Test#1 answers are '5' - for 1-st question, '2' - for second question
T['2']=['2','4','8','6','5','1','3', '7']; // For Test#2
T['3']=['450']; // For Test#3
T['4']=['500']; // For Test#4
T['5']=['400']; // For Test#5
T['6']=['200']; // For Test#6
T['7']=['5','4','2','1','3'];

</script>
</div>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>
<form onsubmit="return check_test(this,1, 'c0109013.I.c)')">
<table class="tbtest" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Put the phrase<br />number  in the<br /> text area.</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="250" valign="top">
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013010.mp3')">Phrase 1 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r11"><input type="text" size="2"><span class="test-space">Yes, over there, near the shop.</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013020.mp3')">Phrase 2 &nbsp;</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r12"><input type="text" size="2"><span class="test-space">Do you know whether it accepts VISA cards?</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013030.mp3')">Phrase 3 &nbsp;</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r13"><input type="text" size="2"><span class="test-space">The total sum is 12 000 rubles.</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013040.mp3')">Phrase 4 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r14"><input type="text" size="2"><span class="test-space">I would like to exchange euros for rubles.</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013050.mp3')">Phrase 5 &nbsp;</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r15"><input type="text" size="2"><span class="test-space">Sign here please. </span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013060.mp3')">Phrase 6 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r16"><input type="text" size="2"><span class="test-space">Your money and receipt please.</span>
		</td>
	</tr>
	<tr>

		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013070.mp3')">Phrase 7 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r17"><input type="text" size="2"><span class="test-space">The exchange value of euro is 40 rubles.</span>

		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013080.mp3')">Phrase 8 &nbsp;</div>
				</div>

			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r18"><input type="text" size="2"><span class="test-space">Could you please tell where the nearest cash machine is?</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013090.mp3')">Phrase 9 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r19"><input type="text" size="2"><span class="test-space">How much would you like to exchange?</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09013100.mp3')">Phrase 10</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r110"><input type="text" size="2"><span class="test-space">I think it does.</span>
		</td>
	</tr>
 </table>
 
<div style="margin: 15px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>
</form>
<%end%>
<hr>
<h3 class="exers">II. Money, money, money.</h3>

<p class="task">a) <strong>Learn the following Russian words:</strong></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p><span>д<span class="acco">е</span>ньги</span><br />
					<span class="sound" onclick="playAudio('audio09021010.mp3')">[<span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>money</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p><span>куп<span class="acco">ю</span>ры</span><br />
					<span class="sound" onclick="playAudio('audio09021020.mp3')">[koo<span class="sftv">p</span><span class="sfty">y</span><span class="acct">oo</span>r<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>bank notes</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p><span>мон<span class="acco">е</span>ты</span><br />
					<span class="sound" onclick="playAudio('audio09021030.mp3')">[ma<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>coins</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p><span>д<span class="acco">о</span>ллары</span><br />
					<span class="sound" onclick="playAudio('audio09021040.mp3')">[d<span class="acct">o</span>lar<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>dollars</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p><span><span class="acco">е</span>вро</span><br />
					<span class="sound" onclick="playAudio('audio09021050.mp3')">[y<span class="acct">e</span>vra]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>euros</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="110">
				<p><span>ф<span class="acco">у</span>нты</span><br />
					<span class="sound" onclick="playAudio('audio09021060.mp3')">[f<span class="acct">oo</span>nt<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>pounds</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="110">
				<p><span>рубл<span class="acco">и</span></span><br />
					<span class="sound" onclick="playAudio('audio09021070.mp3')">[roobl<span class="acct">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>

			<td>
				<span>roubles</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p><span>нал<span class="acco">и</span>чные</span><br />

					<span class="sound" onclick="playAudio('audio09021080.mp3')">[nal<span class="acct">i</span>chn<span class="ry">i</span>ye]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>

				<span>cash</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p class="t1_di1"><span>к<span class="acco">а</span>рта</span><br />

					<span class="sound" onclick="playAudio('audio09021090.mp3')">[k<span class="acct">a</span>rta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>(credit) card</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="110">
				<p><span>чек</span><br />
					<span class="sound" onclick="playAudio('audio09021100.mp3')">[ch<span class="acct">e</span>k]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>cheque</span>
			</td>
	</tr>
</table>

</div>

<p class="task">b) Listen to the questions in Russian and find the corresponding answers:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<form onsubmit="return check_test(this,2, 'c0109022.II.b)')">
<table class="tbtest" cellspacing="0" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;
		</td>
		<td class="put"><i>Put the phrase<br />number  in the<br /> text area.</i><br />&nbsp;

		</td>
	</tr>
	<tr>
		<td width="250" valign="top">
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022010.mp3')">Question 1 &nbsp;</div>
				</div>

			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r21"><input type="text" size="2"><span class="test-space">Да, у меня есть доллары.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022020.mp3')">Question 2 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r22"><input type="text" size="2"><span class="test-space">Да, у меня есть купюры по 50 рублей.</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022030.mp3')">Question 3 &nbsp;</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r23"><input type="text" size="2"><span class="test-space">Да, у меня есть карта.</span>
		</td>
	</tr>
	<tr>
		<td>
			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022040.mp3')">Question 4 &nbsp;</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r24"><input type="text" size="2"><span class="test-space">Да, у меня есть рубли.</span>
		</td>
	</tr>
	<tr>
		<td>

			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022050.mp3')">Question 5 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r25"><input type="text" size="2"><span class="test-space">Да, у меня есть евро.</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022060.mp3')">Question 6 &nbsp;</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r26"><input type="text" size="2"><span class="test-space">Да, у меня есть купюры по 100 рублей.</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022070.mp3')">Question 7 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r27"><input type="text" size="2"><span class="test-space">Да, у меня есть чек.</span>
		</td>
	</tr>
	<tr>

		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playAudio('audio09022080.mp3')">Question 8 &nbsp;</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r28"><input type="text" size="2"><span class="test-space">Да, у меня есть наличные.</span>

		</td>
	</tr>
 </table>
 
<div style="margin: 15px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>
</form>
<%end%>

<hr>

<h3 class="exers">III. Bank.</h3>

<p class="task">a) <strong>Learn the Russian words</strong>: </p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p class="t1_di1"><span>банк</span><br />
					<span class="sound" onclick="playAudio('audio09031010.mp3')">[b<span class="acct">a</span>nk]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>bank</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p class="t1_di1"><span>банком<span class="acco">а</span>т</span><br />
					<span class="sound" onclick="playAudio('audio09031020.mp3')">[bankam<span class="acct">a</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>cash machine</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="150">
				<p class="t1_di1"><span>обм<span class="acco">е</span>н вал<span class="acco">ю</span>ты</span><br />
					<span class="sound" onclick="playAudio('audio09031030.mp3')">[ab<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>n va<span class="sftv">l</span><span class="sfty">y</span><span class="acct">oo</span>t<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p>
			<td>
				<span>currency exchange</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p class="t1_di1"><span>обм<span class="acco">е</span>нный пункт</span><br />
					<span class="sound" onclick="playAudio('audio09031040.mp3')">[ab<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>n<span class="ry">i</span>y p<span class="acct">oo</span>nkt]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>currency exchange office</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p class="t1_di1"><span>счёт</span><br />
					<span class="sound" onclick="playAudio('audio09031050.mp3')">[sch<span class="acct">o</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>

			<td width="30"><p>-</p></td>
			<td>
				<span>count</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">

				<p class="t1_di1"><span>обм<span class="acco">е</span>нный курс</span><br />
					<span class="sound" onclick="playAudio('audio09031060.mp3')">[ab<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>n<span class="ry">i</span>y k<span class="acct">oo</span>rs]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>exchange rate</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p class="t1_di1"><span>вал<span class="acco">ю</span>та</span><br />
					<span class="sound" onclick="playAudio('audio09031070.mp3')">[va<span class="sftv">l</span><span class="sfty">y</span><span class="acct">oo</span>ta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>currency</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p class="t1_di1"><span>с<span class="acco">у</span>мма</span><br />
					<span class="sound" onclick="playAudio('audio09031080.mp3')">[s<span class="acct">oo</span>mma]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>amount, sum</span>
			</td>
	</tr>
</table>
</div>

<p class="task">b) Read the English word and choose the corresponding translation in Russian:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div id="t1">
<script type="text/javascript">
var t1 = new Test({dict: [['bank','банк'],['cash machine','банкомат'],['currency exchange','обмен валюты'],['currency exchange office','обменный пункт'],['count','счёт'],
['exchange rate','обменный курс'],['currency','валюта'],['amount','сумма']],hide: 'di1',id:'t1',type: 'text', how_questions: 8, how_show: 2}, 'c0109032.III.b)');
</script>
</div>
<%end%>
<p class="task">c) Ask a stranger where is:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">

				<p class="bold_it">- cash machine
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09033010.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">
				<p class="bold_it">- currency exchange
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09033020.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">
				<p class="bold_it">- bank
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playAudio('audio09033030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="260">

				<p class="bold_it">- currency exchange office
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playAudio('audio09033040.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>
</div>
<%end%>
<hr>

<h3 class="exers">IV. Bank transactions</h3>

<p class="task">a) Learn the following expressions:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="voc_inter">

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>обмен<span class="acco">я</span>ть д<span class="acco">о</span>ллары на рубл<span class="acco">и</span></span><br />
					<span class="sound" onclick="playAudio('audio09041010.mp3')">[abmi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> d<span class="acct">o</span>lar<span class="ry">i</span> na roobl<span class="acct">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>exchange dollars for rubles</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>сн<span class="acco">я</span>ть нал<span class="acco">и</span>чные</span><br />
					<span class="sound" onclick="playAudio('audio09041020.mp3')">[s<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> nal<span class="acct">i</span>chn<span class="ry">i</span>ye]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>draw cash (from the account)</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>снять д<span class="acco">е</span>ньги со счёта</span><br />
					<span class="sound" onclick="playAudio('audio09041030.mp3')">[s<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi sa sch<span class="acct">o</span>ta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>draw the money from the account</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>снять д<span class="acco">е</span>ньги с к<span class="acco">а</span>рты</span><br />
					<span class="sound" onclick="playAudio('audio09041040.mp3')">[s<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi s k<span class="acct">a</span>rt<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>draw the money from the credit card</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="200">
				<p><span>полож<span class="acco">и</span>ть д<span class="acco">е</span>ньги на счет</span><br />
					<span class="sound" onclick="playAudio('audio09041050.mp3')">[palaj<span class="acct"><span class="ry">i</span></span><span class="sftc">t</span> <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>gi na sch<span class="acct">o</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>-</p></td>
			<td>
				<span>put money on the account</span>
			</td>
	</tr>
</table>

</div>
<%end%>
<p class="task">b) Using the expression "<span style="font-weight: normal">мн<span class="acco">е</span> н<span class="acco">у</span>жно</span>" [m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> n<span class="acct">oo</span>jna], translate into Russian and check yourself:</p>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>
<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="400">
				<p>1. I need to exchange dollars for rubles.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playAudio('audio09042010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="400">

				<p>2. I need to draw the money from the credit card.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09042020.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="400">
				<p>3. I need to exchange euros for rubles.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09042030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="400">
				<p>4. I need to draw cash.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playAudio('audio09042040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="400">

				<p>5. I need to draw the money from the account.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09042050.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="400">
				<p>6. I need to exchange pounds for rubles.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09042060.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
</div>
<%end%>
<p class="task">
c) Listen to the dialogues and putting an appropriate numeral in the text area. 
In the dialogues you may hear the expression <span onMouseover="tooltip(this,' [kakooyoo soommoo?] ')" onMouseout="hide_info(this)">"<span class="txt-norm">Какую сумму?</span>"</span> which means "what amount?" or "how much?":
</p>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>
<table cellspacing="0">        
	<tr>
		<td><p><span class="bold">Dialogue 1</span></p>

              <span style="display: none;">
              Здравствуйте, 
              Здравствуйте
              Мне нужно снять деньги со счёта.
              Хорошо. Какую сумму?
              450 долларов
              </span>

		 </td>
	</tr>
	<tr>
		<td> 
			<div class="player_swf"><span style="visibility: hidden">audios/audio09043010.mp3</span></div>
		</td>

	 </tr>
	<tr>
		<td>
		<form onsubmit="return check_test(this,3)" style="margin-bottom: 0px;">
		<div style="padding: 15px 0px;"><img src="pixel.gif" width="10" height="10" id="r31"> - The tourist wants to draw  <input type="text" size=2> dollars from the account.</div>
		<div style="padding-left: 300px;"><input type="submit" value="Check"></div>

		</form>

		</td>
	</tr>
 </table>

<table cellspacing="0">        
	<tr>
		<td><p><span class="bold">Dialogue 2</span></p>
            <span style="display: none;">

            Здравствуйте, 
            Здравствуйте
            Мне нужно обменять доллары на рубли.
            Какую сумму?
            500 долларов
            </span>

		 </td>
	</tr>
	<tr>
		<td> 
			<div class="player_swf"><span style="visibility: hidden">audios/audio09043020.mp3</span></div>
		</td>

	 </tr>
	<tr>
		<td>
		<form onsubmit="return check_test(this,4)" style="margin-bottom: 0px;">
		<div style="padding: 15px 0px;"><img src="pixel.gif" width="10" height="10" id="r41"> - The tourist wants to exchange  <input type="text" size=2> dollars for rubles.</div>

		<div style="padding-left: 300px;"><input type="submit" value="Check"></div>

		</form>

		</td>
	</tr>
 </table>

<table cellspacing="0">        
	<tr>
		<td><p><span class="bold">Dialogue 3</span></p>
            <span style="display: none;">

            Здравствуйте, 
            Добрый день
            Мне нужно снять со счёта 400 евро.
            </span>

		 </td>
	</tr>
	<tr>
		<td> 
			<div class="player_swf"><span style="visibility: hidden">audios/audio09043030.mp3</span></div>
		</td>

	 </tr>
	<tr>
		<td>
		<form onsubmit="return check_test(this,5)" style="margin-bottom: 0px;">
		<div style="padding: 15px 0px;"><img src="pixel.gif" width="10" height="10" id="r51"> - The tourist wants to draw  <input type="text" size=2> euros from the account.</div>
		<div style="padding-left: 300px;"><input type="submit" value="Check"></div>
		</form>

		</td>
	</tr>
 </table>

<table cellspacing="0">        
	<tr>
		<td><p><span class="bold">Dialogue 4</span></p>
            <span style="display: none;">
            Добрый день
            Здравствуйте
            Мне нужно обменять на рубли 200 долларов.
            Ваш паспорт, пожалуйста
            </span>

		 </td>
	</tr>
	<tr>
		<td> 
			<div class="player_swf"><span style="visibility: hidden">audios/audio09043040.mp3</span></div>
		</td>

	 </tr>
	<tr>

		<td>
		<form onsubmit="return check_test(this,6)" style="margin-bottom: 15px;">
		<div style="padding: 15px 0px;"><img src="pixel.gif" width="10" height="10" id="r61"> - The tourist wants to exchange  <input type="text" size=2> dollars for rubles.</div>
		<div style="padding-left: 300px;"><input type="submit" value="Check"></div>

		</form>

		</td>

	</tr>
 </table>
<%end%>
<hr>

<h3 class="exers">V. I'd like to exchange dollars!</h3>


<p>In the dialogue above you have seen the following construction:</p>

<table  cellspacing="0" >      
	<tr valign="top">
		 <td width="320">

		 	<p class="bold">I would like to exchange euros for rubles.</p>
		 </td>
	</tr>
	<tr valign="top">
		 <td><p style="margin-top: 0pt;">Мне хот<span class="acco">е</span>лось бы обмен<span class="acco">я</span>ть <span class="acco">е</span>вро на рубл<span class="acco">и</span>.<br />

		 		<span class="sound" onclick="playAudio('audio09050001.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">s</span> b<span class="ry">i</span> abmi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> y<span class="acct">e</span>vra na roobl<span class="acct">i</span>] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 		</p>
		 </td>
	</tr>
</table>

<p>If you would like to do something, you can say that using the expression:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="220">
			<table  cellspacing="0" >

					<tr valign="top">
		 				<td>
		 					<p>Мне хот<span class="acco">е</span>лось бы ...<br />
		 						<span class="sound" onclick="playAudio('audio09050002.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">s</span> b<span class="ry">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I would like to ....</p>
		</td>
	</tr>

</table>

<p class="task">a) Look, listen and reapeat the examples:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="280">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Мне хот<span class="acco">е</span>лось бы обмен<span class="acco">я</span>ть <span class="acco">е</span>вро.<br />

		 						<span class="sound" onclick="playAudio('audio09051010.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">s</span> b<span class="ry">i</span> abmi<span class="sftv">n</span><span class="sfty">y</span><span class="acct">a</span><span class="sftc">t</span> y<span class="acct">e</span>vra]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I would like to exchange euros.</p>
		</td>
	</tr>

</table>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="280">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Мне хот<span class="acco">е</span>лось бы куп<span class="acco">и</span>ть бил<span class="acco">е</span>т.<br />

		 						<span class="sound" onclick="playAudio('audio09051020.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">s</span> b<span class="ry">i</span> koop<span class="acct">i</span><span class="sftc">t</span> bi<span class="sftv">l</span><span class="sfty">y</span><span class="acct">e</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I would like to to buy a ticket.</p>
		</td>
	</tr>

</table>
<table  cellspacing="0" >
	<tr valign="top">
		<td width="280">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>
		 					<p>Мне хот<span class="acco">е</span>лось бы посет<span class="acco">и</span>ть муз<span class="acco">е</span>й.<br />

		 						<span class="sound" onclick="playAudio('audio09051030.mp3')">[m<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span> ha<span class="sftv">t</span><span class="sfty">y</span><span class="acct">e</span>la<span class="sftc">s</span> b<span class="ry">i</span> pasit<span class="acct">i</span><span class="sftc">t</span> moo<span class="sftv">z</span><span class="sfty">y</span><span class="acct">e</span>y]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">I would like to visit the museum.</p>
		</td>
	</tr>

</table>
<%end%>
<p class="task">b) Find the translation for the following phrases:</p>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<form onsubmit="return check_test(this,7, 'c0109052.V.b)')">
<table id="testing7" cellspacing=0 align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td><i>Put the phrase number  <br /> in the text area</i><br />&nbsp;

		</td>
	</tr>
	<tr>
		<td width="350"  valign=top>
		<span class="so_und" onclick="playAudio('audio09052010.mp3')">1. Мне хотелось бы обменять доллары.&nbsp;<span class="p-lay_tip">&nbsp; &nbsp;</span></span>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r71"><input type="text" size=1><span class="test-space">I would like to draw money from my account.</span>

		</td>
	</tr>
	<tr>
		<td>
		<span class="sou-nd" onclick="playAudio('audio09052020.mp3')">2. Мне хотелось бы купить этот сувенир.&nbsp;<span class="p-lay_tip">&nbsp; &nbsp;</span></span>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r72"><input type="text" size=1><span class="test-space">I would like to draw cash from my card.</span>

		</td>
	</tr>
	<tr>
		<td>
		<span class="sou-nd" onclick="playAudio('audio09052030.mp3')">3. Мне хотелось бы посетить театр.&nbsp;<span class="p-lay_tip">&nbsp; &nbsp;</span></span>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r73"><input type="text" size=1><span class="test-space">I would like to buy this souvenir.</span>

		</td>
	</tr>
	<tr>
		<td>
		<span class="so-und" onclick="playAudio('audio09052040.mp3')">4. Мне хотелось бы снять наличные с карты.&nbsp;<span class="p-lay_tip">&nbsp; &nbsp;</span></span>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r74"><input type="text" size=1><span class="test-space">I would like to exchanges dollars.</span>

		</td>
	</tr>
	<tr>
		<td>
		<span class="s-ound" onclick="playAudio('audio09052050.mp3')">5. Мне хотелось бы снять со счёта деньги.&nbsp;<span class="p-lay_tip">&nbsp; &nbsp;</span></span>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r75"><input type="text" size=1><span class="test-space">I would like to visit a theatre.</span>

		</td>
	</tr>
	<tr>
		<td align="center" style="padding-top: 20px;" colspan="2"><input type="submit" value="Check">
		</td>
	</tr>
 </table>
</form>
<%end%>
<p class="task">c) Translate into Russian and check yourself:</p>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>1. I'd like to buy a souvenir.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playAudio('audio09053010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">

				<p>2. I'd like to draw cash.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09053020.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>3. I'd like to exchange 300 euros.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09053030.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>4. I'd like to draw the money from the credit card.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playAudio('audio09053040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">

				<p>5. I'd like to visit a museum.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09053050.mp3')">Check&nbsp;yourself</div>
					</div>

				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="350">
				<p>6. I'd like to exchange 100 dollars.
				</p>
			</td>

			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09053060.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>

</table>
</div>
<%end%>
<hr>

<h3 class="exers">VI. A problem with device.</h3>
<p>If you want to say in Russian that something works or does not work, you can use the following expression:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="220">
			<table  cellspacing="0" >

					<tr valign="top">
		 				<td>
		 					<p>... раб<span class="acco">о</span>тает/... не раб<span class="acco">о</span>тает<br />
		 						<span class="sound" onclick="playAudio('audio09060101.mp3')">[rab<span class="acct">o</span>tait]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

		 						&nbsp;<span class="sound" onclick="playAudio('audio09060102.mp3')">[ni rab<span class="acct">o</span>tait]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">... works/ ... does not work.</p>

		</td>
	</tr>
</table>

<p class="task">Look at the following example:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="220">
			<table  cellspacing="0" >
					<tr valign="top">

		 				<td>
		 					<p>Этот банк<span class="acco">о</span>мат не раб<span class="acco">о</span>тает.<br />
		 						<span class="sound" onclick="playAudio('audio09060201.mp3')">[<span class="acct">e</span>tat bankam<span class="acct">a</span>t ni rab<span class="acct">o</span>tait]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">This cash machine does not work.</p>
		</td>
	</tr>

</table>

<p>The same expression can be used, if you want to say that an establishment is not open.</p>

<p class="task">Look at the following example:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="220">
			<table  cellspacing="0" >
					<tr valign="top">

		 				<td>
		 					<p>Банк не раб<span class="acco">о</span>тает.<br />
		 						<span class="sound" onclick="playAudio('audio09060301.mp3')">[b<span class="acct">a</span>nk ni rab<span class="acct">o</span>tait]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>

		 				</td>
					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">The bank is closed.</p>
		</td>
	</tr>
</table>

<p class="task">a) Give a negative answer to the questions following the model:</p>

<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<p class="ital">Model:</p>

<table  cellspacing="0" >
	<tr valign="top">
		<td width="440">
			<table  cellspacing="0" >
					<tr valign="top">
		 				<td>

		 					<p><span class="acco">Э</span>тот банком<span class="acco">а</span>т раб<span class="acco">о</span>тает?<br />

		 						<span class="sound" onclick="playAudio('audio09061001.mp3')">[<span class="acct">e</span>tat bankam<span class="acct">a</span>t rab<span class="acct">o</span>tait?] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
                        <td width="15"><p>-</p>
                        </td>
		 				<td>
		 					<p>Нет, банком<span class="acco">а</span>т не раб<span class="acco">о</span>тает.<br />

		 						<span class="sound" onclick="playAudio('audio09061002.mp3')">[<span class="sftv">n</span><span class="sfty">y</span><span class="acct">e</span>t, bankam<span class="acct">a</span>t ni rab<span class="acct">o</span>tait] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>

					</tr>
				</table>
		</td>
		<td valign="top"><p class="ital">Does this cash machine work? -No, the cash machine is out of work.</p>

		</td>
	</tr>
</table>

<p class="ital">Questions:</p>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p><span class="acco">Э</span>тот магаз<span class="acco">и</span>н раб<span class="acco">о</span>тает? - ... <br />
					<span class="sound" onclick="playAudio('audio09061011.mp3')">[<span class="acct">e</span>tat magaz<span class="acct">i</span>n rab<span class="acct">o</span>tait?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09061012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p><span class="acco">Э</span>тот телеф<span class="acco">о</span>н раб<span class="acco">о</span>тает? - ...  <br />

					<span class="sound" onclick="playAudio('audio09061021.mp3')">[<span class="acct">e</span>tat tilif<span class="acct">o</span>n rab<span class="acct">o</span>tait?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>
				<div class="key check">

					<div>
						<div class="sound"  onclick="playAudio('audio09061022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="280">
				<p>Обм<span class="acco">е</span>нный пункт раб<span class="acco">о</span>тает? - ...  <br />
					<span class="sound" onclick="playAudio('audio09061031.mp3')">[ab<span class="sftv">m</span><span class="sfty">y</span><span class="acct">e</span>n<span class="ry">i</span>y p<span class="acct">oo</span>nkt rab<span class="acct">o</span>tait?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playAudio('audio09061032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p>Телев<span class="acco">и</span>зор раб<span class="acco">о</span>тает? - ... <br />

					<span class="sound" onclick="playAudio('audio09061041.mp3')">[tiliv<span class="acct">i</span>zar rab<span class="acct">o</span>tait?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td>
				<div class="key check">
					<div>

						<div class="sound"  onclick="playAudio('audio09061042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">

				<p>Холод<span class="acco">и</span>льник раб<span class="acco">о</span>тает? - ...  <br />
					<span class="sound" onclick="playAudio('audio09061051.mp3')">[halad<span class="acct">i</span><span class="sftc">l</span>nik rab<span class="acct">o</span>tait?] <span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09061052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p>Душ раб<span class="acco">о</span>тает? - ... <br />
					<span class="sound" onclick="playAudio('audio09061061.mp3')">[d<span class="acct">oo</span>sh rab<span class="acct">o</span>tait?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09061062.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
<%end%>
<p class="task">b) Translate into Russian and check yourself:</p>
<% if !(logged_in? && current_user.payment) %>
	<%= @hide_html %> 
<% else %>

<div class="task_transl">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p>1. The phone doesn't work.
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09062010.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p>2. The bar is closed.
				</p>
			</td>
			<td>
				<div class="key check">

					<div>
						<div class="sound"  onclick="playAudio('audio09062020.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="280">
				<p>3. The cash machine doesn't work.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09062030.mp3')">Check&nbsp;yourself</div>

					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p>4. The television doesn't work.
				</p>

			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09062040.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>

	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="280">
				<p>5. The shop is closed.
				</p>
			</td>
			<td>
				<div class="key check">

					<div>
						<div class="sound"  onclick="playAudio('audio09062050.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">

			<td width="280">
				<p>6. The fridge doesn't work.
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound"  onclick="playAudio('audio09062060.mp3')">Check&nbsp;yourself</div>

					</div>
				</div>
			</td>
	</tr>
</table>
</div>
<%end%>
<hr>

<h3>In this lesson you have learnt:</h3>  

<p>- Words and expressions on the topic "Money":</p>

 
<ul class="learnt-list">
	<li>Деньги и средства платежа</li>
	<li>Банк</li>
	<li>Операции с деньгами</li>
</ul>

<p>- How to say that you would like to do something:</p> 

<ul class="learnt-list">
	<li>Мне хотелось бы обменять евро на рубли.</li>

</ul>

<p>- How to say that some office or institution is closed and does not work:</p> 

<ul class="learnt-list">
	<li>Банкомат не работает.</li>
	<li>Банк не работает.</li>
</ul>
<!--p>
In order to make sure you have understood all the material of the lesson and to get some additional information, we recommend you to visit the following pages: 
</p>

<ul class="last-links">
	<li>Pages of <a href="#">Money</a> section:<br/>
		- <a href="#">Money</a><br/>
		- <a href="#">Bank transactions</a> <br/>
		- <a href="#">Cash machine</a> <br/>
	</li>
</ul-->


</div>
</div>

<script type="text/javascript">
currentSection="course";
</script>
