<% @page_title = 'Study-Languages-Online.com: Profile' %>
<% @page_meta = {'description' => "User Profile"} %>


<% content_for :special_js_css do %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>

<%= stylesheet_link_tag 'profile' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>

$(document).ready(function() { 

var detZIndex=1000;

$(".voc-details-content").css({opacity: 0})

$(".voc-words-list").each(function(i,elem){
	$(elem).find("tr:even").addClass("voc-list-even");
}); 

$(".voc-details").toggle(function(){
		$(this).parent().find(".voc-topic-details").slideDown(function() {
					$(this).parent().find(".voc-details-content").animate({opacity: 1},200);
		})
		$(this).parent().removeClass("details-hidden");
	},function(){
		
		$(this).parent().find(".voc-details-content").animate({opacity: 0},200, function() {
			$(this).parent(".voc-topic-details").slideUp();
		})
		$(this).parent().addClass("details-hidden");
});

$(".myvoc-wrapper").css({minHeight: ($(".myvoc-wrapper").height()+600) });

$("div.pr-detail-block").each(function(i) {
	$(this).css({zIndex: (1000-i)})
	}
);

$(".show_det").hover(function(){
		$(this).css({textDecoration: "underline"});
	}, function(){
		$(this).css({textDecoration: "none"});
	}
);

$("table.sound-letter").each(function () {
	$(this).find("tr.res_row:odd").css({backgroundColor: "#EFF3FF"});
});


$("span.show_det").toggle(

 function() {
   
   $(this).parent("td").parent("tr").parent().find(".open_det").click();
   
 	$(this).addClass("open_det").text("Hide");
 	var parentRow=$(this).parent("td").parent("tr");
 	parentRow.css({fontWeight: "bold"}).find("div.pr-detail-block").css({fontWeight: "normal"});
	parentRow.find("div.pr-detail-block").css({display: "block"});
	var detHeight=parentRow.find("div.pr-detail-block").height();
	parentRow.find("div.pr-detail").animate({height: detHeight+5});
 	parentRow.find("div.pr-detail-block div").css({marginLeft: "0px", marginTop: -(detHeight+5)}).animate({marginTop: "1px"}, "normal")
 },
 function() {
 
 	$(this).removeClass("open_det").text("Show");
	var parentRow=$(this).parent("td").parent("tr");
	parentRow.css({fontWeight: "normal"});
 	var detHeight=parentRow.find("div.pr-detail-block").height();
 	parentRow.find("div.pr-detail").animate({height: "0px"});
 	parentRow.find("div.pr-detail-block div").animate({marginTop: -(detHeight+5)}, "normal", function(){
 		parentRow.find("div.pr-detail-block").css({display: "none"});
 		parentRow.find("div.pr-detail-block div").css({marginLeft: "-500px", marginTop: "0px"});
 	});
 }

);

});




</script>	

<style type="text/css">

.inpBlock {
margin-left: 50px;
}

.inpBlock h3 {
}

.item-name {
font-size: 14px;
font-weight: bold;
}


/* styles for vocabulary*/

.voc-results {
border: 1px solid #C3CDDF;
background-color: #E2E6F2;
background-color:#AFCCFF;
background-image:url(/images/fl-bg.png);
border:1px solid #99B2DF;
padding: 1px;
max-width: 620px;
}



.voc-details {
position: absolute;
right: 10px;
top: 8px;
padding: 3px 5px;
font-size: 10px;
color: #666;
cursor: pointer;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
text-shadow: 0px 0px 0px #fff;
border:1px solid #8E95AF;
background-image:url(/images/btn-grd.png);
background-position:50% 50%;
background-repeat:no-repeat;
background-color: #BFD6FF;
}

.voc-details-content {
opacity: 0;
padding: 10px 15px 10px 30px;
background-color: #fff;
}

.voc-details-content h4 {
margin-top: 0px;
color: #374C6F;
}


.voc-details:hover {
color: #111;
border: 1px solid #676C7F;
}

.details-hidden .mv-details {
display: block;
}

.details-hidden .mv-no-details {
display:none;
}

.mv-details {
display: none;
}

.voc-item {
opacity: 1;
overflow: hidden;
background-color:#FFFFFF;
backg-round-image:url(/images/transparent-80.png);
bor-der: 1px solid #95B8EF;
color: #333;
padding-bottom: 10px;
-moz-box-shadow: 0px 1px 3px #45546F;
-webkit-box-shadow: 0px 1px 3px #45546F;
box-shadow: 0px 1px 3px #45546F;
margin: 5px 3px;
position: relative;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}


.section-tests .voc-item {
margin: 3px 3px;
}

.details-hidden {
backg-round-color: transparent;
opacity:0.9;
}

.voc-item:hover {
background-color:#FFFFFF;
opacity:1;
}

.voc-quick-info {
padding-top: 10px;
font-size: 11px; 
color: #31394F; 
padding-left: 30px;
}

.voc-top-topic {
color: #1A3F8F;
font-size: 17px;
padding: 10px 80px 5px 5px;
margin: 0 10px 0;
border-bottom: 1px dotted #537ABF;
col-or: #31394F;
text-shadow: 0px 1px 0px #fff, 1px 1px 3px #8EA7CF;
}

.voc-topic-content {
}

.voc-topic-content-last {
border-bottom: 1px solid #dfdfdf;
}

.voc-word-list-wrapper {
max-width: 450px;
border: 1px solid #C3CDDF;
padding: 3px;
}

.voc-words-list {
width: 100%;
}

.voc-list-even {
background-color: #EFF5FF;
}

.voc-words-list td {
color:#45494F;
font-size:12px;
padding:1px 5px;
}

.voc-topic-details {
display: none;
}

.voc-list-original {
font-weight: bold;
}

.voc-tests {
padding-top: 20px;
}

.voc-tests-list {
background-color: #C3CDDF;
}

.voc-tests-list td {
background-color: #fff;
padding: 4px 15px;
color:#45494F;
}

.voc-tests-list th {
border: 1px solid #EFF5FF;
background-color: #D1DDEF;
font-size: 10px;
padding: 4px 15px;
color:#45494F;
}

.voc-test-title {
font-weight: bold;
}

.voc-test-result {
text-align: center;
}

.voc-remove-topic {
padding-top: 30px;
}

.voc-remove-topic input {
font-size: 10px;
font-weight: bold;
}

/* styles for tabs */


.user-area {
background-color: #fff;
position: relative;
margin-top: 30px;
background-color:#fff;
/*
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;
-moz-box-shadow: 1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
-webkit-box-shadow: 1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
box-shadow: 1px 1px 0px #627EAF, 1px 2px 3px #3E556F;
*/


}


.ptab {
float:left;
background-color: #efefef;
background-image: none;
margin:0;
padding:0 0 0 4px;
text-decoration:none;
cursor: pointer;
border-bottom: 0px solid #666;
color:#666;
margin-left: 2px;
border: 3px solid #819DCF;
border-bottom: 0px solid #9FC2FF;
position: relative;
top: 7px;
}

.current_ptab {
top: 3px;
background-color: #fff;
padding-bottom: 6px;
color: #111;
}

.ptab div {
background-image: none;
position: relative;
}

#prof_tabs {
border-bottom: 4px solid #819DCF;
}

.pBlock {
clear: both;
padding: 20px;
border: 4px solid #819DCF;
border-top: 0px solid #9FC2FF;
margin-bottom: 30px;

-moz-box-shadow: 0px 0px 0px #9F9F9F;
-webkit-box-shadow: 0px 0px 0px #9F9F9F;
box-shadow: 0px 0px 0px #9F9F9F;

}

.inpBlock {
margin-left: 0;
}



div.current_ptab div {

}



.tab-head-wrapper {
display: none;
}

.tab-head-rt {
position: absolute;
top: -30px;
background-image: url(/images/sign/sign-head.png);
background-repeat: no-repeat;
background-position: right bottom;
width: 250px;
}

.tab-head-lft {
background-image: url(/images/sign/sign-head.png);
background-repeat: no-repeat;
background-position: left top;
} 

.tab-head {
m-in-width: 400px;
m-ax-width: 450px;
background-image: url(/images/sign/sign-head.png);
background-repeat: repeat-x;
background-position: left -70px;
border-top: 0px solid #fff;
padding: 0px;
margin: 0px 9px 0px 9px;
min-height: 61px;
l-ine-height: 50px;
}

.tab-title {
display: block;
height: 60px;
back-ground-image: url(/images/sign/sign-up.png);
background-position: 50% 50%;
background-repeat: no-repeat;
text-align: center;
}

.tab-string {
background-image: none;
color: #fff;
font-size: 28px;
fo-nt-weight: bold;
line-height: 54px;
text-shadow: 0px 0px 1px #22376F, 0px 1px 6px #555;
}


</style>

<% end %>


<% if current_user.email == 'mirumir.sasha@gmail.com'%>
	<div align="right">
		<%= link_to 'View userdata', {:controller => 'userdata'} %> 
	</div>
<% end %>




<div class="user-area">

<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Vocabulary</a></div></div>
            <div id="tab02" class="ptab"><div><a href="#">Results</a></div></div>
			<div id="tab03" class="ptab"><div><a href="#">Settings</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>



<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
<div class="tab-head-wrapper">
	<div class="tab-head-rt">
		<div class="tab-head-lft">
			<div class="tab-head"><span class="tab-title tab-string">Vocabulary</span></div>
		</div>
	</div>
</div>	
	
<% @words_statistics = current_user.categories_by_language('ru')
	@words_last = @words_statistics.length-1
%>	

<div class="myvoc-wrapper">	

<% if @words_statistics.length < 1 %>
<p>There is no enough information to display.</p>
<p><b><a href="/vocabulary.html">Start learning Russian vocabulary</a></b></p>

<% else %>
	
<div class="voc-results">	
<% @words_statistics.each_with_index do |t, index| %>
	<div id="topic_<%= t[:category].tag %>" class="voc-item details-hidden">
		<div class="voc-top-topic"><span><%= t[:category].title %></span></div>
		<div class="voc-details"><span class="mv-details">Show details</span><span class="mv-no-details">Hide details</span></div>
		<div class="voc-topic-content">
			<div class="voc-quick-info">
				Total items:  <b><%= t[:category].words.length %></b><br>
				Studied:  <b><%= t[:words].length %></b> (<%= (t[:words].length.to_f / t[:category].words.length*100).to_i %>%)  <br>
				Tests completed: <b><%= t[:user_tests].length %></b><br><br>
			</div>

		<div class="voc-topic-details">
			<div class="voc-details-content">
				<h4>Studied items:</h4>
				<div class="voc-word-list-wrapper">
					<table class="voc-words-list" cellpadding="0" cellspacing="0">
					<col width="20">
					<% t[:words].each do |word| %>
						<tr>
							<td><%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%></td>
							<td class="voc-list-original"><%= word.text %></td>
							<td><%= word.translate %></td>
						</tr>
					<% end %>
				</table>
				</div>
				<br>
				<a href="/en/ru/vocabulary/<%= t[:category].tag %>">Review topic</a> | <a href="/en/ru/flashcards/<%= t[:category].tag %>">Flashcards</a> | <a href="/en/ru/lexical-test/<%= t[:category].tag %>">Tests</a>	
				
				<% if t[:user_tests].length > 0 %>
				<div class="voc-tests">
					<h4>Tests results:</h4>	
					<table class="voc-tests-list" cellspacing="1">
						<col width="200"><col width="100">
					<tr>
						<th>Title</th>
						<th align="center">Result</th>
					</tr>
					<% t[:user_tests].each do |user_test| %>
					<tr>
						<td class="voc-test-title"><%= user_test.exercise.title %></td>
						<td class="voc-test-result"><%= (user_test.correct.to_f / user_test.total.to_f * 100).to_i %>%</td>
					</tr>
					<% end %>
					</table>
				</div>
				<% end %>
		
		
				<div class="voc-remove-topic" align="center">
				<% form_remote_tag (:url => {:controller => 'users', :action => 'delete_topic_words_and_tests', :topic => t[:category].id},
														:confirm => "Are you sure you want to remove this topic?") do %>
						<%= submit_tag "Remove this topic" %>
				<% end %>
				</div>
				
				
			</div><!-- end of voc-details-content -->
		</div>
		</div>
	</div>
<% end %>
</div>

<%end%>

</div><!-- end of myvoc-wrapper -->

	
		

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
		
<div class="tab-head-wrapper">
	<div class="tab-head-rt">
		<div class="tab-head-lft">
			<div class="tab-head"><span class="tab-title tab-string">Results</span></div>
		</div>
	</div>
</div>
		

<div class="voc-results section-tests">	
<% @vocabulary_exercises.each_with_index do |t, index| %>
	<div class="voc-item details-hidden">
		<div class="voc-top-topic"><span><%= t[:category].title %></span></div>
		<div class="voc-details"><span class="mv-details">Show details</span><span class="mv-no-details">Hide details</span></div>
		<div class="voc-topic-content">
			<div class="voc-quick-info">
				Average result:  <b><%= t[:total] %>%</b>
			</div>
		<div class="voc-topic-details">
			<div class="voc-details-content">
				<div class="voc-tests" style="padding-top: 2px;">
					<h4>Results Info:</h4>	
					<table class="voc-tests-list" cellspacing="1">
						<col width="200"><col width="100">
					<tr>
						<th>Title</th>
						<th align="center">Result</th>
					</tr>
					<% t[:exercises].each_with_index do |user_test, counter| %>
					<tr>
						<td class="voc-test-title"><% if user_test.exercise.title != ''%><%= user_test.exercise.title %><%else%>Test <%= counter+1 %><% end %></td>
						<td class="voc-test-result"><%= (user_test.correct.to_f / user_test.total.to_f * 100).to_i %>%</td>
					</tr>
					<% end %>
					</table>
					<br><br>
				</div>		
			</div><!-- end of voc-details-content -->
		</div>
		</div>
	</div>
<% end %>
</div>





<br><br>

<% if @course_exercises[:results].length > 0 %>
<hr>
 <%= render(:partial => "course_user_results" , :locals => { :course_data  => @course_exercises
																			}) %>
<% end %>


<% if @beginner_exercises[:results].length > 0 %>
<hr>
 <%= render(:partial => "course_user_results" , :locals => { :course_data  => @beginner_exercises
																			}) %>
<% end %>

<br><br><br><br>	
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">

<div class="tab-head-wrapper">
	<div class="tab-head-rt">
		<div class="tab-head-lft">
			<div class="tab-head"><span class="tab-title tab-string">Settings</span></div>
		</div>
	</div>
</div>	
	
	
	
		<h3>Account Settings: </h3>
		<p style="font-size: 10px; font-style: italic;">* Click the links below to perform the following actions</p>
		<hr/>
	   
	   <table cellpadding="0" cellspacing="20">
		<!-- tr>
			<td class="item-name" width="200"><a href="/user">Change my email </a>
			</td>
			<td>
			</td -->
		</tr>
		<tr>
			<td class="item-name"><a href="/userp">Change my password</a>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class="item-name"><a href="/del_stat">Delete my results</a>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class="item-name"><a href="/userd">Delete my account </a>
			</td>
			<td>
			</td>
		</tr>
		</table>


	</div>
</div>

</div><!-- end of user-area -->


<script type="text/javascript">
currentSection="login";
</script>
