<% @page_title='Russian Language Online: Vocabulary Topics' %>
<% @page_meta = {'description' => "Russian online vocabulary sorted by topics with audio examples, transcription and translation"} %>

<% content_for :special_js_css do %>

<script type="text/javascript">

<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	
</script>

<style type="text/css">
#prof_tabs {margin-top: 50px;}
.inpBlock {min-height: 800px; height: auto !important; height: 800px; font-size: 12px;}
.pBlock {padding: 40px 50px;}
.forgame {}

.content a.forgame {
color: #222222;
text-decoration: none;
height: 240px;
padding: 0px 10px; 
display: block;
}

.content a.forgame img {
display: block;
}

a.forgame span.gname {
display: block;
font-size: 14pt;
margin: 0px 0px 10px 20px;
padding-top: 10px;
}

a.forgame span.gdesc {
margin-left: 200px;
display: block;
}

.ptab div, .ptab {
background-image: none;
font-size: 11px;
}

.ptab {
background-color: #F3F7FC;
margin-left: 6px;
}

.ptab div {
padding: 7px 15px 3px 9px;
}

div.current_ptab div {
padding-left: 9px;
padding-right: 15px;
}


#tabs_row {
padding-left: 15px;
padding-top: 5px;
}

.tabs-wrapper {
bor-der: 1px solid #C3CFDF;
bor-der-top: 1px solid #678ACF;
-moz-box-shadow: 1px 2px 9px #B3B7BF;
-webkit-box-shadow: 1px 2px 9px #B3B7BF;
box-shadow: 1px 2px 9px #B3B7BF;
}

#prof_tabs  {
background-color: #DDE7F5;
border: 1px solid #82AAC8;
border-bottom: 1px solid #678ACF;
margin: 0;
width: auto;
}

.current_ptab {
background-color: #FFFFFF;
border: 1px solid #678ACF;
border-bottom: 0px solid #fff;
}


.pBlock {
border: 1px solid #afafaf;
border-top: 1px solid #fff;
-moz-box-shadow: 0 0 0 #fff;
-webkit-box-shadow: 0 0 0 #fff;
box-shadow: 0 0 0 #fff;
}




</style>

<% end %>


<h2 class="page page-bl">Vocabulary Topics</h2>

<p>
In this section each topic contains a list of Russian words and phrases with their translation and transcription. You can listen to all Russian words and phrases of the topic. 
Here you will also find different exercises, tests and word games which will help you to get familiar with the Russian language.
</p>


<%= render :partial => '/site/ad_horizont' %>
<br>

<div class="tabs-wrapper">
<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="vocabulary.html" style="color: #000;">Vocabulary</a></div></div>
            <div id="tab02" class="ptab"><div><a href="vocabulary_exercises.html">Flashcards</a></div></div>
            <div id="tab03" class="ptab"><div><a href="vocabulary_tests.html">&nbsp;&nbsp; Tests &nbsp;&nbsp;</a></div></div>

            <div id="tab04" class="ptab"><div><a href="vocabulary_games.html">&nbsp;&nbsp; Games &nbsp;&nbsp;</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">

	<div class="inpBlock">
	
<%= html_by_id(5) %>

	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<%= html_by_id(6) %>
	
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">

<%= html_by_id(7) %>
		
	</div>
</div>
<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
	
	
		
		<a href="memory.html" class="forgame">

		<span class="gname">Memory Game</span>
		
		<img src="images/memory-thumb.gif" alt="Thumbnail of Memory Game" align="left"/>
		<span class="gdesc">Classical Memory Game with Russian words and their English equivalents.</span>
		
		</a>
		
		<a href="crossword-game.html" class="forgame">
		<span class="gname" style="position: relative;">Word Find Puzzle <span class="new_item" style="font-size: 20px; right: 0px; display: none;">&nbsp;NEW !!!&nbsp;</span></span>
		
		<img src="/images/crossword-thumb-1.gif" alt="" align="left"/>
			<span class="gdesc">
			Classical word search puzzle. A very good practice for those who start to learn reading in Russian and a good opportunity to work on the vocabulary topics.
			Russian words are hidden randomly each time you try the puzzle, so you can play more than once.

			</span>
		</a>
		
		<a href="balloon-game.html" class="forgame">
		<span class="gname">Hot Air Balloons</span>
		
		<img src="images/balloon-thumb(w).gif" alt="" align="left"/>

		<span class="gdesc">You can steer hot air ballons and only you can help them to land properly. However, you can not do without knowing the Russian language!</span>
		
		</a>
		
		<a href="sorcerer-game.html" class="forgame">
		<span class="gname">Fateful Battle</span>
		
		<img src="images/battle-thumb.gif" alt="" align="left"/>
			<span class="gdesc">
			The fateful hour for the humankind has come. Hordes of demons try to rush into our world in order to destroy the human race.<br> 
			However, humans still cherish the hope to survive: a mighty wizard Nestor has a great magic power to stop the evil spirits. 
			Be courageous, you and Nestor can bar the way of demons to our world!
			</span>
		</a>
	</div>
</div>

</div> <!-- end of tabs wrapper -->

<br>

<p>
If you are a registered user, the results of the tests are saved and can be reviewed in your account. 
Plus, in your account you can also see words and expressions you have studied with flashcards and lexical tests.
</p>

<p>
We advise to visit <a href="functions.html">Functions and settings</a> page to read information about available functions that may make it easier to work with topics.
</p>

<br><br><br><br>
<%= render :partial => '/site/ad_btm' %>

<br><br><br><br>

<script type="text/javascript">
currentSection="words";
</script>

