<h1>Editing encategory</h1>

<% form_for(@encategory) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :title_ru %><br />
    <%= f.text_field :title_ru %>
  </p>
  <p>
    <%= f.label :order_num %><br />
    <%= f.text_field :order_num %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @encategory %> |
<%= link_to 'Back', encategories_path %>