<p>
  <b>Title:</b>
  <%=h @encategory.title %>
</p>

<p>
  <b>Title ru:</b>
  <%=h @encategory.title_ru %>
</p>

<p>
  <b>Order num:</b>
  <%=h @encategory.order_num %>
</p>


<%= link_to 'Edit', edit_encategory_path(@encategory) %> |
<%= link_to 'Back', encategories_path %>