<% @sounds = Category.find(:first, :conditions => ['tag=?','russian-sounds']).words
	@sound = @sounds.find(:first, :conditions => ['translate=?', params[:sound]])
	@html = @sound.html
	@text = @sound.text
	@translate = @sound.translate
	@desc= @sound.grammar
	@mp3 = @sound.sound_url
	@image = @sound.image_url
	
%>


<% @page_title = "Sound ["+@translate+"]" %>

<h3>Sound [<%= @html %>]</h3>

<div class="sound-desc vowel">
    <table class="sound-letter" cellspacing="0" >
    	<tr>
    		<th colspan="2" class="thbrd">Sound [<%= @html %>]</th>
    	</tr>
    	<tr>
    		<td width="120" class="first-info">

    			Audio sample: <div class="spacer"></div>
    		</td>
    		<td>
    			<span class="sound" onclick="playFile('<%= @mp3%>')">[<%= @html %>] <span class="play_tip">&nbsp; &nbsp;</span></span>
    		</td>
    	</tr>
    	<tr>
    		<td  class="first-info">
    			Picture
    		</td>
    		<td class="s-pict">
    			<img src="<%= @image %>" />
    		</td>
    	</tr>
    	<tr>
    		<td  class="first-info">
    			Russian transcription
    		</td>
    		<td class="s-pict">
    			[<%= @text %>]
    		</td>
    	</tr>
    	<tr>
    		<td class="first-info art-desc-name">Articulation description:</td>
    		<td class="desc">
    			<%= @desc %> 
    		</td>
    	</tr>
    </table>
</div>




<% content_for :special_js_css do %>
 <style type="text/css">
.first-info div.spacer {
width: 120px;
height: 1px;
overflow: hidden;
font-size: 0px;
}
.sound-desc {
padding-bottom: 20px;
}
.sound-letter .thbrd {
padding: 15px;
font-weight: bold;
font-size: 11pt;
color: #222;
}
table.sound-letter {
margin: 0px;
width: 430px;
}
table.sound-letter tr {
vertical-align: middle;
}

table.sound-letter td.desc {
text-align: left;
}
table.sound-letter td.s-pict {
pad ding: 0px;
}
td.s-pict img {
display: block;
bo rder: 1px dotted #444;
margin: 0px auto;
}
.first-info {
backgro und-color: #DFDFDF;
font-weight: bold;
font-style: italic;
font-size: 8pt;
}
td.art-desc-name {
vertical-align: top;
}
table.sound-letter td {
padding: 10px;
}
</style>

<%end%>