<% @page_title = 'Le russe pour les débutants: Leçon 1' %>
<% @page_meta = {'description' => "Online Russian Course for Beginners - Lesson 1: how to greet people in Russian, how to say goodbye, to thank and apologize in Russian."} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'ev-test' %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'every-exercises' %>
<%= stylesheet_link_tag 'every-exercises' %>
<script type="text/javascript">wrapTests = false;</script>
<style type="text/css">

.diction td.original {
padding-left: 25px;
text-indent: -10px;
}


.diction td.translation {
text-indent: -10px;
padding-left: 25px;
}

.mini-dialog td {
padding-bottom: 20px;
}

.quest {

}

.variants {
width: 200px;
}

#t2 .variants {
width: 100px;
}

.testing7 td {
padding: 4px;
}

#test1 td {
padding:8px;
}

hr {
display: none;
}

.content {
padding: 20px 40px 40px 30px;
}

</style>




<% end %>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/en/ru/vocabulary/politeness">Formulas of politeness</a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>



<h2 class="page">Leçon 1</h2>


<div id="pagecontent"><div id="content">

<p>
Dans cette leçon, vous trouverez les formules de politesse les plus fréquemment utilisées et vous apprendrez aussi: 
</p>

<ul>
	<li>Comment dire bonjour et comment saluer les gens en russe</li>
	<li>Comment dire "au revoir" en russe</li>
	<li>Comment remercier et à présenter des excuses en russe</li>
</ul>

<p>Vous trouverez également des informations sur les formes d'adresse polies et familières en russe.</p>

<hr>
<h3 class="exers ex-title">I. Les formules de politesse les plus fréquemment utilisées</h3>

<div class="ex-area">

<p class="task ex-task">Ecoutez et répétez après le speaker:</p>


<div class="voc_inter ev-ex-area">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Здр<span class="acco">а</span>вствуйте!</span><br />

					<span class="sound" onclick="playSound('soundb01011010.mp3')">[zdr<span class="acct">a</span>stvouyti]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Bonjour! <span style="cursor: help;" onmouseover="tooltip(this,'See notes below')" onmouseout="hide_info(this)">*</span></span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>До свид<span class="acco">а</span>ния!</span><br />

					<span class="sound" onclick="playSound('soundb01011020.mp3')">[da svid<span class="acct">a</span>niya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Au revoir</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Прив<span class="acco">е</span>т!</span><br />

					<span class="sound" onclick="playSound('soundb01011030.mp3')">[pri<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Salut!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Пок<i></i><span><span class="acco">a</span></span><i></i> !</span><br />

					<span class="sound" onclick="playSound('soundb01011040.mp3')">[pak<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>A plus!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Спас<span class="acco">и</span>бо</span><br />

					<span class="sound" onclick="playSound('soundb01011050.mp3')">[spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Merci</span>

			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Извин<span class="acco">и</span>те </span><br />
					<span class="sound" onclick="playSound('soundb01011060.mp3')">[izvin<span class="acct">i</span>ti]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Excusez-moi</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p><span>Извин<span class="acco">и</span></span><br />
					<span class="sound" onclick="playSound('soundb01011070.mp3')">[izvin<span class="acct">i</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Excuse-moi</span>
			</td>
	</tr>
</table>

</div>



</div>
<hr>
<h3 class="exers ex-title">II. Salutations</h3>
<div class="ex-area">

<p class="task ex-task">a) Ecoutez et répétez</p>


<div class="ev-wordlist">

<p><em>Saluer en russe:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Здр<span class="acco">а</span>вствуйте!</span><br />

					<span class="sound" onclick="playSound('soundb01011010.mp3')">[zdr<span class="acct">a</span>stvouyti]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Bonjour!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Прив<span class="acco">е</span>т!</span><br />
					<span class="sound" onclick="playSound('soundb01021020.mp3')">[pri<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Salut!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Д<span class="acco">о</span>брое <span class="acco">у</span>тро!</span><br />

					<span class="sound" onclick="playSound('soundb01021030.mp3')">[d<span class="acct">o</span>braye <span class="acct">ou</span>tra]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Bonjour! (avant l'après-midi)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Д<span class="acco">о</span>брый д<span class="acco">е</span>нь!</span><br />

					<span class="sound" onclick="playSound('soundb01021040.mp3')">[d<span class="acct">o</span>br<span class="ry">i</span>y <span class="sftv">d</span><span class="sfty">y</span><span class="acct">e</span><span class="sftc">n</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Bonjour! (dans l'après-midi)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Д<span class="acco">о</span>брый в<span class="acco">е</span>чер! </span><br />

					<span class="sound" onclick="playSound('soundb01021050.mp3')">[d<span class="acct">o</span>br<span class="ry">i</span>y <span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>tchir]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Bonsoir!</span>
			</td>
	</tr>
</table>
</div>


<p><em>Dire au revoir en russe</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Всег<span class="acco">о</span> хор<span class="acco">о</span>шего!</span><br />

					<span class="sound" onclick="playSound('soundb01021060.mp3')">[fsiv<span class="acct">o</span> har<span class="acct">o</span>ch<span class="ry">i</span>va]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Bonne chance! </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Уд<span class="acco">а</span>чи!</span><br />

					<span class="sound" onclick="playSound('sound01117.mp3')">[oud<span class="acct">a</span>tchi]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Bonne chance!/Bonne courage! </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>До свид<span class="acco">а</span>ния! </span><br />
					<span class="sound" onclick="playSound('soundb01021070.mp3')">[da svid<span class="acct">a</span>niya]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span>Au revoir!</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="130">
				<p class="t1_di1"><span>Пок<span class="acco">а</span>!</span><br />

					<span class="sound" onclick="playSound('soundb01021080.mp3')">[pak<span class="acct">a</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>A plus!</span>
			</td>
	</tr>
</table>

</div>

</div>



<p class="task ex-task">b) Ecoutez et trouvez la traduction des phrases russes:</p>


<div id="ch1" class="es-ex-wrapper">
<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Continuer automatiquement</span> </div>
	<div class="es-ex-final"></div>

</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">
				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>

		</td>
		<td class="es-ex-tasks" valign="top">
			<div class="yn-answer-type">
					<p class="es-yn-task-p">Is this translated as:</p>
					<div class="es-yn-variant-wrapper"><div class="es-yn-variant yn-trans">&nbsp;</div></div>
					<div class="es-ex-buttons yn-btns">
						<input type="button" class="es-ex-es-btn yn-yes" value="Yes"/> &nbsp;&nbsp;&nbsp;&nbsp; <input value="NO" type="button"  class="es-ex-es-btn yn-no"/>

					</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="NEXT" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>

<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>
		</tr>
	</table>
</div>
</div>

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c0201022.II.b)",
		quest_type: 'audio',
		quest_num: 9,
		answer_type: 'audio',
		texts: ['Correct','Incorrect','Suivant','Résultat','Encore','Nombre de questions','Réponses corrects','Résultat'],
		basic_array: [
		
['/sounds/soundb01011010.mp3','Bonjour!',17],
['/sounds/soundb01021020.mp3','Salut!',33],
['/sounds/soundb01021030.mp3','Bonjour! (avant l\'après-midi)',19],
['/sounds/soundb01021050.mp3','Bonsoir!',26], 
['/sounds/soundb01021070.mp3','Au revoir!',12], 
['/sounds/soundb01021080.mp3','A plus!',27], 
['/sounds/sound01117.mp3','Bonne chance/Bon courage',17]

		]
		} )
</script>

<br><br>


</div>
<hr>

<h3 class="exers ex-title">III. Ça va? </h3>
<div class="ex-area">

<p class="task ex-task">a) Ecoutez et répétez après le speaker: </p>




<div class="ev-wordlist">
<p style="margin-top: 0;"><em>Les expressions russes pour demander à quelqu'un comment ça va:</em></p>
<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Как пожив<span class="acco">а</span><i></i>ете?</span><br />

					<span class="sound" onclick="playSound('soundb01031010.mp3')">[k<span class="acct">a</span>k paj<span class="ry">i</span>v<span class="acct">a</span>iti?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Comment allez-vous?</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Как у Вас дел<span class="acco">а</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031020.mp3')">[k<span class="acct">a</span>k ou v<span class="acct">a</span>s dil<span class="acct">a</span>?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Comment vous portez-vous? </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Как дел<span class="acco">а</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031030.mp3')">[k<span class="acct">a</span>k dil<span class="acct">a</span>?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Ça va? </span>
			</td>
	</tr>
</table>

</div>


<p><em>Les expressions pour répondre:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Прекр<span class="acco">а</span>сно.</span><br />

					<span class="sound" onclick="playSound('soundb01031040.mp3')">[prikr<span class="acct">a</span>sna]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Parfait. </span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Хорош<span class="acco">о</span>.</span><br />

					<span class="sound" onclick="playSound('soundb01031050.mp3')">[harach<span class="acct">o</span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Bien.</span>
			</td>
	</tr>
</table>

<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Непл<span class="acco">о</span>хо.</span><br />

					<span class="sound" onclick="playSound('soundb01031070.mp3')">[nipl<span class="acct">o</span>ha]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Pas mal. </span>
			</td>
	</tr>
</table>

</div>

<p><em>Comment remercier en russe:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Спас<span class="acco">и</span>бо.</span><br />

					<span class="sound" onclick="playSound('soundb01031080.mp3')">[spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Merci.</span>
			</td>
	</tr>
</table>

</div>


<p><em>Comment poser une question réciproque</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>А у Вас как дел<span class="acco">а</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031090.mp3')">[a ou v<span class="acct">a</span>s kak d<span class="acct">i</span>la?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Et vous (vous allez bien)?</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>А у теб<span class="acco">я</span>?</span><br />

					<span class="sound" onclick="playSound('soundb01031100.mp3')">[a ou ti<span class="sftv">b</span><span class="sfty">y</span><span class="acct">a</span>?]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Et toi (tu vas bien)?</span>
			</td>
	</tr>
</table>
</div>

</div>

<p class="task ex-task">b) Répondez aux questions, en utilisant les phrases entre parenthèses: </p>

<div class="model">
<h4>Modèle:</h4>
<table class="tab1" cellspacing="0">
	<tr valign="top">
		<td width="340">
			<table cellspacing="0">
					<tbody><tr valign="top">
		 				<td width="140">
		 					<p>Как пожив<span class="acco">а</span><i></i>ете? <br><br>
		 						<span class="sound" onclick="playSound('soundb01032001.mp3')">[k<span class="acct">a</span>k paj<span class="ry">i</span>v<span class="acct">a</span>iti?] <span class="play_tip">&nbsp; &nbsp;</span></span>
		 					</p>
		 				</td>
						<td width="20"><p>-</p>
                       	</td>
		 				<td width="140">
		 					<p>(Bien, merci).<br>
		 						Хорош<span class="acco">о</span>, спас<span class="acco">и</span>бо.<br>
		 						<span class="sound" onclick="playSound('soundb01032002.mp3')">[harach<span class="acct">o</span>, spas<span class="acct">i</span>ba] <span class="play_tip">&nbsp; &nbsp;</span></span>

		 					</p>
		 				</td>
					</tr>
				</tbody></table>
		</td>
		<td valign="top"><p class="ital">Comment allez-vous? - Bien, merci.</p>
		</td>
	</tr>
</table>
</div>

<div class="ev-ex-area">

<p style="margin-top: 0" class="ital bold">Questions:</p>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как дел<span class="acco">а</span>? <br>
					<span class="sound" onclick="playSound('soundb01032011.mp3')">[k<span class="acct">a</span>k dil<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Parfait.)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032012.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как пожив<span class="acco">а</span><i></i>ете? <br>
					<span class="sound" onclick="playSound('soundb01032021.mp3')">[k<span class="acct">a</span>k paj<span class="ry">i</span>v<span class="acct">a</span>iti?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Pas mal, merci. Et vous?)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032022.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Прив<span class="acco">е</span>т! Как дел<span class="acco">а</span>? <br>
					<span class="sound" onclick="playSound('soundb01032031.mp3')">[pri<span class="sftv">v</span><span class="sfty">y</span><span class="acct">e</span>t! k<span class="acct">a</span>k dil<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Bien. Et toi?)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032032.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как пожив<span class="acco">а</span><i></i>ете? <br>
					<span class="sound" onclick="playSound('soundb01032041.mp3')">[k<span class="acct">a</span>k paj<span class="ry">i</span>v<span class="acct">a</span>iti?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Merci, bien. <br/>Et vous?)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032042.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>

<table class="tab1 inter" cellspacing="0">
   <tr valign="top">
			<td width="140">
				<p>Как у Вас дел<span class="acct">а</span>? <br>
					<span class="sound" onclick="playSound('soundb01032051.mp3')">[k<span class="acct">a</span>k oo v<span class="acct">a</span>s dil<span class="acct">a</span>?] <span class="play_tip">&nbsp; &nbsp;</span></span>

				</p>
			</td>
			<td width="20"><p>-</p>
            </td>
			<td width="150">
				<p>(Parfait, merci.)
				</p>
			</td>
			<td>
				<div class="key check">
					<div>
						<div class="sound" onclick="playSound('soundb01032052.mp3')">Check&nbsp;yourself</div>
					</div>
				</div>

			</td>
	</tr>
</table>
</div>
<br>
</div>

<hr>

<h3 class="exers ex-title">IV. Demandes et remerciements</h3>
<div class="ex-area">

<p class="task ex-task">a) Ecoutez et répétez après le speaker: </p>

<div class="ev-wordlist">
<p style="margin-top: 0"><em>Comment dire "s'il vous plaît" en russe:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Б<span class="acco">у</span>дьте добр<span class="acco">ы</span>, ...</span><br />

					<span class="sound" onclick="playSound('soundb01041010.mp3')">[b<span class="acct">ou</span>tti dabr<span class="acct"><span class="ry">i</span></span>]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Vous ne pouvez pas ...? (lit. Soyez gentil, ...)</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Пож<span class="acco">а</span>луйста, ...</span><br />

					<span class="sound" onclick="playSound('soundb01041020.mp3')">[paj<span class="acct">a</span>lousta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>S'il vous plaît, ...  </span>
			</td>
	</tr>
</table>

</div>


<p><em>Comment dire merci en russe:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Спас<span class="acco">и</span>бо.</span><br />

					<span class="sound" onclick="playSound('soundb01041030.mp3')">[spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>Merci</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Больш<span class="acco">о</span><i></i>е спас<span class="acco">и</span>бо.</span><br />

					<span class="sound" onclick="playSound('soundb01041040.mp3')">[ba<span class="sftc">l</span>ch<span class="acct">o</span>ye spas<span class="acct">i</span>ba]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>

			<td>
				<span>Merci beaucoup. </span>
			</td>
	</tr>
</table>

</div>

<p><em>Comment répondre à un remerciement en russe:</em></p>

<div class="voc_inter">
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Н<span class="acco">е</span> за что.</span><br />

					<span class="sound" onclick="playSound('soundb01041050.mp3')">[n<span class="acct">e</span>zachta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>

				<span>De rien.</span>
			</td>
	</tr>
</table>
<table class="tab1 inter"  cellspacing="0" >
	<tr valign="top">
			<td width="150">
				<p><span>Пож<span class="acco">а</span>луйста.</span><br />

					<span class="sound" onclick="playSound('soundb01041060.mp3')">[paj<span class="acct">a</span>lousta]&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
				</p>
			</td>
			<td width="30"><p>–</p></td>
			<td>
				<span> Je vous en prie. </span>
			</td>
	</tr>
</table>
</div>
</div>

<p class="task ex-task">
b) Écoutez et répondez par "oui" ou "non":
</p>

<div id="ch2" class="es-ex-wrapper">
<div class="es-ex-alert-container"><div class="es-ex-alert-rt"><div class="es-ex-alert"> &nbsp;</div></div></div>
<div class="es-ex-top">
	<div class="es-ex-autoplay-wrapper"><input class="es-ex-autoplay" type="checkbox" /> <span>Continuer automatiquement</span> </div>
	<div class="es-ex-final"></div>

</div>
<table class="es-ex-content" cellspacing="0">
	<tr>
		<td class="es-ex-quest" width="40%" valign="middle" align="center">
			<div class="es-ex-audio-wrapper">
				<table><tr><td style="height: 140px;"><div class="es-ex-audio-holder"><div class="es-ex-audio"></div></div></td></tr></table>
			</div>
			<div class="es-ex-string-holder">
				<table><tr><td class="es-ex-string-wrapper" style="height: 150px;">&nbsp;</td></tr></table>
			</div>

		</td>
		<td class="es-ex-tasks" valign="top">
			<div class="yn-answer-type">
					<p class="es-yn-task-p">Cela se traduit comme:</p>
					<div class="es-yn-variant-wrapper"><div class="es-yn-variant yn-trans">&nbsp;</div></div>
					<div class="es-ex-buttons yn-btns">
						<input type="button" class="es-ex-es-btn yn-yes" value="OUI"/> &nbsp;&nbsp;&nbsp;&nbsp; <input value="NON" type="button"  class="es-ex-es-btn yn-no"/>

					</div>
			</div>
		</td>
	</tr>
	<tr>
		<td><div class="es-ex-bottom"><input type="button" class="es-ex-next" value="Suivant" style="font-size: 12px; visibility: hidden;"></div></td>
		<td></td>
	</tr>
</table>

<div class="es-ex-info-container">
	<table cellspacing="0" align="center">
		<tr>
			<td style="padding-left: 20px;"><div class="es-ex-info"> &nbsp;  </div></td>
			<td><div class="es-ex-buttons"><input type="button" class="es-ex-es-btn es-ex-start" value="RESTART"/></div></td>
		</tr>
	</table>
</div>
</div>

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "c0201042.IV.b)",
		quest_type: 'audio',
		quest_num: 5,
		answer_type: 'yn',
		texts: ['Correct','Incorrect','Suivant','Résultat','Encore','Nombre de questions','Réponses corrects','Résultat'],
		basic_array: [
		
['/sounds/soundb01041010.mp3',"Vous ne pouvez pas ...?",10],
['/sounds/soundb01041020.mp3',"S'il vous plaît, ... ",13],
['/sounds/soundb01041030.mp3',"Merci",15],
['/sounds/soundb01041040.mp3',"Merci beaucoup. ",18],
['/sounds/soundb01041050.mp3',"De rien.",25]

		]
		} )
</script>

<br><br>

</div>
<hr/>

<h3 class="exers ex-title">V. Salut! </h3>
<div class="ex-area">
<p class="task ex-task">Écoutez les phrases et choissisez une bonne réponse.</p>


<div id="test1">
<script type="text/javascript">
T['1']=['5','1','2','3','4','6']; // For Test#1
</script>
</div>



<div class="section-block" style="cursor: auto; margin: 20px 30px"> 
	<div class="sect-crn clt"> 
		<div class="sect-crn crt"> 
			<div class="sect-mid">  </div> 
		</div> 
	</div> 
	<div class="section-content" style="height: auto; padding: 0px 40px;">
	
<form onsubmit="return check_test(this,1,'c0201050.V')">
<table class="tbtest" cellspacing="6" cellpadding="3" align="center">
	<tr>
		<td>&nbsp;

		</td>
		<td class="put"><i>Entrez le numéro <br />de la phrase dans <br />la zone de texte.</i><br />&nbsp;
		</td>
	</tr>
	<tr>
		<td width="200" valign="top">
			<div class="key">

   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051011.mp3')">Phrase 1</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r11"><input type="text" size="2"><span class="test-space">
		
			<span class="sound" onclick="playSound('soundb01051052.mp3')">Всего хорошего!&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>
	</tr>

	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051021.mp3')">Phrase 2</div>
				</div>
			</div>
		</td>

		<td><img src="pixel.gif" width="10" height="10" id="r12"><input type="text" size="2"><span class="test-space">
		
			<span class="sound" onclick="playSound('soundb01051012.mp3')">Привет! Как дела? &nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051031.mp3')">Phrase 3</div>

				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r13"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('soundb01051022.mp3')">Здравствуйте! &nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>
	</tr>
	<tr>
		<td>

			 <div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051041.mp3')">Phrase 4</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r14"><input type="text" size="2"><span class="test-space">
			<span class="sound" style="white-space: normal;" onclick="playSound('soundb01051032.mp3')">Спасибо, хорошо. А у Вас как дела?&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
			
		</span>
		</td>

	</tr>
	<tr>
		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051051.mp3')">Phrase 5</div>
				</div>
			</div>

		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r15"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('soundb01051042.mp3')">Прекрасно. А у тебя? &nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		</span>
		</td>
	</tr>
	<!-- tr>
		<td>
			<div class="key">
   				<div>

					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01051061.mp3')">Phrase 6</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r16"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('soundb01051062.mp3')"> Счастливо!&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		</span>
		</td>
	</tr -->
	<tr>

		<td>
			<div class="key">
   				<div>
					<div class="sound" style="padding-right: 20px;" onclick="playSound('soundb01041040.mp3')">Phrase 6</div>
				</div>
			</div>
		</td>
		<td><img src="pixel.gif" width="10" height="10" id="r16"><input type="text" size="2"><span class="test-space">
			<span class="sound" onclick="playSound('sound01131.mp3')">Не за что.&nbsp;<span class="play_tip">&nbsp; &nbsp;</span></span>
		</span>

		</td>
	</tr>
 </table>
<div style="margin: 15px 0px 20px 0px;" align="center">
	<input type="submit" value="Check">
</div>

</form>

	</div><!-- end of section-content -->
	<div class="sect-btm"> 
    		<div class="sect-clb"> 
    			<div class="sect-crb"> 
    				<div class="sect-btm-bg" style="height: 40px;"></div> 
    			</div> 
    		</div> 
	</div> 
</div> 

</div>
<hr>


</div></div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>








<script type="text/javascript">
currentSection="course";

</script>
