<% 
	@words_last = @words_statistics.length-1
%>	

<div class="myvoc-wrapper">	

<% if @words_statistics.length < 1 %>
<p>There is no enough information to display.</p>
<p><b><a href="/vocabulary.html">Start learning Russian vocabulary</a></b></p>

<% else %>
	
<div class="voc-results">	
<% @words_statistics.each_with_index do |t, index| %>
	<div id="topic_<%= t[:category].tag %>" class="voc-item details-hidden">
		<div class="voc-top-topic"><span><%= t[:category].title_ru %></span></div>
		<div class="voc-details"><span class="mv-details">Show details</span><span class="mv-no-details">Hide details</span></div>
		<div class="voc-topic-content">
			<div class="voc-quick-info">
				Total items:  <b><%= t[:category].words.length %></b><br>
				Studied:  <b><%= t[:words].length %></b> (<%= (t[:words].length.to_f / t[:category].words.length*100).to_i %>%)  <br>
				Tests completed: <b><%= t[:user_tests].length %></b><br><br>
			</div>

		<div class="voc-topic-details">
			<div class="voc-details-content">
				<h4>Studied items:</h4>
				<div class="voc-word-list-wrapper">
					<table class="voc-words-list" cellpadding="0" cellspacing="0">
					<col width="20">
					<% t[:words].each do |word| %>
						<tr>
							<td><%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%></td>
							<td class="voc-list-original"><%= word.text %></td>
							<td><%= word.translate %></td>
						</tr>
					<% end %>
				</table>
				</div>
				<br>
				<a href="/ru/en/vocabulary/<%= short_tag(t[:category].tag) %>">Review topic</a> | <a href="/ru/en/flashcards/<%= short_tag(t[:category].tag) %>">Flashcards</a> | <a href="/ru/en/lexical-test/<%= short_tag(t[:category].tag) %>">Tests</a>	
				
				<% if t[:user_tests].length > 0 %>
				<div class="voc-tests">
					<h4>Tests results:</h4>	
					<table class="voc-tests-list" cellspacing="1">
						<col width="200"><col width="100">
					<tr>
						<th>Title</th>
						<th align="center">Result</th>
					</tr>
					<% t[:user_tests].each do |user_test| %>
					<tr>
						<td class="voc-test-title"><%= user_test.exercise.title %></td>
						<td class="voc-test-result"><%= (user_test.correct.to_f / user_test.total.to_f * 100).to_i %>%</td>
					</tr>
					<% end %>
					</table>
				</div>
				<% end %>
		
		
				<div class="voc-remove-topic" align="center">
				<% form_remote_tag(:url => {:controller => 'users', :action =>'delete_topic_words_and_tests', :topic => t[:category].id},
														:confirm=>"Уверены?") do %>
						<%= submit_tag "Remove this topic" %>
				<% end %>
				</div>
				
				
			</div><!-- end of voc-details-content -->
		</div>
		</div>
	</div>
<% end %>
</div>

<%end%>

</div><!-- end of myvoc-wrapper -->