<%
t_lang = params[:lang]
see_all = 'Show all'
courses = 'Online courses'
voc_topics = 'Vocabulary topics'
grammar  = 'Russian grammar'
sounds = 'Sounds and Letters'
%>
<%if params[:lang]=='fr'%>
<%
see_all = 'Afficher tout'
courses = 'Leçons en ligne'
voc_topics = 'Vocabulaire'
grammar  = 'Grammaire'
sounds = 'Sons et lettres'
%>
<%end%>
<div class="tab-in-tab-list">
<a href="javascript:;" class="all-in-tab tab-in-current"><%= see_all%></a>
<% if @course_exercises[:results].length > 0 || @beginner_exercises[:results].length > 0 %>| <a href="javascript:;"><%= courses%></a> <%end%>
<% if @vocabulary_exercises[:results].length > 0 %>| <a href="javascript:;"><%= voc_topics%></a> <%end%>
<% if @grammar_exercises[:results].length > 0 %>| <a href="javascript:;"><%= grammar%></a> <%end%>
<% if @phonetics_exercises[:results].length > 0 || @reading_exercises[:results].length > 0 %>| <a href="javascript:;"><%= sounds%></a><%end%>
</div>

<% unless @course_exercises[:results].length > 0 || @beginner_exercises[:results].length > 0 || @vocabulary_exercises[:results].length > 0 || @grammar_exercises[:results].length > 0 || @phonetics_exercises[:results].length > 0 || @reading_exercises[:results].length > 0 %>

<p>There is no enough information to display.</p>

<% else %>
<% if @course_exercises[:results].length > 0 || @beginner_exercises[:results].length > 0 %>
<div class="tab-in-tab">

	<% if @course_exercises[:results].length > 0 %>
		<%= render(:partial => "ev_course_user_results" , :locals => { :course_data  => @every_exercises}) %>
	<%end%>
	<% if @beginner_exercises[:results].length > 0 %>
		<%= render(:partial => "course_user_results" , :locals => { :course_data  => @beginner_exercises, :lang=> t_lang}) %>
	<% end %>
</div> 															
<% end %>

<% if @vocabulary_exercises[:results].length > 0 %>
<div class="tab-in-tab">
 <%= render(:partial => "course_user_results" , :locals => { :course_data  => @vocabulary_exercises, :lang=> t_lang}) %>
</div> 															
<% end %>

<% if @grammar_exercises[:results].length > 0 %>
<div class="tab-in-tab">
 <%= render(:partial => "course_user_results" , :locals => { :course_data  => @grammar_exercises, :lang=> t_lang}) %>
</div> 															
<% end %>

<% if @phonetics_exercises[:results].length > 0 || @reading_exercises[:results].length > 0 %>
<div class="tab-in-tab">
	<% if @phonetics_exercises[:results].length > 0 %>
		<%= render(:partial => "course_user_results" , :locals => { :course_data  => @phonetics_exercises, :lang=> t_lang}) %>
	<%end%>
	<% if @reading_exercises[:results].length > 0 %>
		<%= render(:partial => "course_user_results" , :locals => { :course_data  => @reading_exercises, :lang=> t_lang}) %>
	<% end %>
</div> 															
<% end %>
<%end%>

