<% content_for :special_js_css do %>
<style type="text/css">
.display-container {
padding: 30px 30px;
background-color: #EFF5FF;
-moz-border-radius: 7px;
-moz-box-shadow: 0px 0px 7px #18274F;
-webkit-border-radius: 7px;
-webkit-box-shadow: 0px 0px 7px #18274F;
border-radius: 7px;
box-shadow: 0px 0px 7px #18274F;
}

label {
font-weight: bold;
color: #333;
}
.display-container p {
margin: 15px 10px;
}

</style>
<script type="text/javascript">
$(function() {
$("textarea, .display-container input[type='text']").resizable();

});
</script>
<% end %>


<h3 class="admin-p-name">Editing entry: <span style="font-size: 17px"><%= @enword.text%></span></h1></h3>

<div style="margin-bottom: 20px;">
<%= link_to "All categories", :action=> 'index' %> 
| <%= link_to 'View category', :action=> 'cat_index', :encategory => @encategory_id %> 
| <%= link_to 'Edit category', :action=> 'cat_edit', :encategory => @encategory_id %> 
| <%= link_to 'Show', @enword %>
</div>

<div class="display-container">
<% form_for(@enword) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :encategory_id %><br />
    <select name="encategory">
		<% @encategories.each do |encategory|  %>
			<% if @encategory_id == encategory.id %>
			<option selected="selected" value="<%= encategory.id %>">
				<%= encategory.title %>
			</option>
			<% else %>
			<option value="<%= encategory.id %>">
				<%= encategory.title %>
			</option>
			<% end %>
		<% end %>
	</select>
  </p>   
  
  <p>
    <%= f.label :order_num %><br />
    <%= f.text_field :order_num %>
  </p>  
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text, :rows => 1 %>
  </p>
  <p>
    <%= f.label :html %><br />
    <%= f.text_area :html, :rows => 1 %>
  </p>
  <p>
    <%= f.label :translate %><br />
    <%= f.text_area :translate, :rows => 1 %>
  </p>
  <p>
    <%= f.label :transcribe %><br />
    <%= f.text_area :transcribe, :rows => 1 %>
  </p>
  <p>
    <%= f.label :sound_url %><br />
    <%= f.text_field :sound_url %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :grammar %><br />
    <%= f.text_area :grammar, :rows => 1 %>
  </p>
  <p>
    <%= f.label :forms %><br />
    <%= f.text_area :forms, :rows => 1 %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

</div> <!-- end of display-container -->
