<% content_for :special_js_css do %>
<style type="text/css">


label {
font-weight: bold;
color: #333;
}
.display-container p {
margin: 15px 10px;
}

</style>
<script type="text/javascript">
$(function() {
$("textarea, .display-container input[type='text']").resizable();

});
</script>
<% end %>


<h3 class="admin-p-name">Editing entry: <span style="font-size: 17px"><%= @enword.text%></span></h1></h3>

<div style="margin-bottom: 20px;">
<%= link_to "All categories", :action=> 'index' %> 
| <%= link_to 'View category', :action=> 'cat_index', :encategory => @encategory_id %> 
| <%= link_to 'Edit category', :action=> 'cat_edit', :encategory => @encategory_id %> 
| <%= link_to 'Show', @enword %>
</div>

<div class="display-container">
<% form_for(@enword) do |f| %>
  <%= f.error_messages %>
  
<table>
<tr>
  <td>
    <%= f.label :encategory_id %><br />
  </td>
  <td>
    <select name="encategory">
		<% @encategories.each do |encategory|  %>
			<% if @encategory_id == encategory.id %>
			<option selected="selected" value="<%= encategory.id %>">
				<%= encategory.title %>
			</option>
			<% else %>
			<option value="<%= encategory.id %>">
				<%= encategory.title %>
			</option>
			<% end %>
		<% end %>
	</select>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :order_num %><br />
  </td>
  <td>
    <%= f.text_field :order_num %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :text %>
  </td>
  <td>
    <%= f.text_area :text, :rows => 1 %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :html %>
  </td>
  <td>
    <%= f.text_area :html, :rows => 1 %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :translate %>
  </td>
  <td>
    <%= f.text_area :translate, :rows => 1 %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :transcribe %>
  </td>
  <td>
    <%= f.text_area :transcribe, :rows => 1 %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :translate_fr %>
  </td>
  <td>
    <%= f.text_area :translate_fr, :rows => 1 %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :transcribe_fr %>
  </td>
  <td>
    <%= f.text_area :transcribe_fr, :rows => 1 %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :sound_url %>
  </td>
  <td>
    <%= f.text_field :sound_url %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :image_url %>
  </td>
  <td>
    <%= f.text_field :image_url %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :grammar %>
  </td>
  <td>
    <%= f.text_area :grammar, :rows => 1 %>
  </td>   
</tr>  
<tr>
  <td>
    <%= f.label :forms %>
  </td>
  <td>
    <%= f.text_area :forms, :rows => 1 %>
  </td>   
</tr>  
</table>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

</div> <!-- end of display-container -->
