
<% content_for :special_js_css do %>
<style type="text/css">
#sortable { list-style-type: none; margin: 0; padding: 0; ; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
.w-data div div {
padding: 2px 4px;
font-size: 11px;
}

.attr_getter {
padding: 10px 10px;
}

.attr_getter input {
font-size: 11px;
}

.w-data div div {
padding: 2px 4px;
font-size: 11px;
}

.w-data div div:nth-child(odd) {
background-color: #efefef;
}

#cat_order .ui-sortable-helper {
border: 1px dotted #ccc;
background-color: #fff;
width: auto !important;
cursor: default;
}

#cat_order li {
list-style: none;
padding: 3px 6px;
cursor: default;
font-size: 12px;
}

.cat_order_display {
margin: 0 30px;
padding: 20px;
border: 1px solid #222;
}

.cat_order_wrapper {
display: none;
}


</style>
<script type="text/javascript">
	$(function() {
		$("#cat_order").sortable( { update: function() { 
			setOrder();
		}});
		
		$("#cat_order input").attr("autocomplete", "off")
		
		$("#cat_order").disableSelection();
		$("#accordion").accordion({ collapsible: true, active: false, autoHeight: false });
		$(".attr_getter select").attr("autocomplete", "off")

		
$("#cl_ordr").click(function() {
	$("#cat_order").find("input[name*='order_num']").val("");
})
		
		});
	

function setOrder() {
		$("#cat_order li ").each(function(i, obj) {
			var tIndex = i+1;
			$(obj).find("input[name*='order_num']").val(tIndex);
			$(obj).find(".ord").text(tIndex);
		});
}

function openCO() {

if ( $(".cat_order_wrapper").is(":visible") ) {
	$(".cat_order_wrapper").slideUp();
} else {
	$(".cat_order_wrapper").slideDown();
	
}



}

	
</script>
<% end %>


<h3 class="admin-p-name">Words and Categories: <%= params[:lang].to_s.upcase %></h3>
<div align="right"><%= link_to 'Add a word', :action => 'new' %> | <%= link_to 'New list', :action => 'new_list' %> </div>
<br>

<div id="accordion">

<% @encategory.each do |category| %>
<h3 style="padding: 5px 30px; text-transform: capitalize; font-size: 12px;"><%= category.title %></h3>
	<div>
		<div style="margin-bottom: 10px;">
			<%= link_to "Review words",  :action => "cat_index", :encategory => category %> 
			| <%= link_to "Edit words", :action => "cat_edit", :encategory => category %> 
			| <%= link_to "Edit French", :action => "cat_edit_fr", :encategory => category %> 
			| <%= link_to "Full data", :action => "cat_data", :encategory => category %> 
		</div>
		
		<div  class="attr_getter">
			<% form_remote_tag(:url => {:action => 'list_attributes', :modal => 'false'} ) do %>
			<input type="hidden" name="category" value="<%= category.id %>">
			<%= submit_tag 'Review attributes' %> 
			<select name="attribute">
				<option value="text" selected> text </option>
				<option value="html"> html </option>
				<option value="translate"> translate </option>
				<option value="translate_fr"> translate_fr </option>
				<option value="transcribe"> transcribe </option>
				<option value="transcribe_fr"> transcribe_fr </option>
				<option value="sound_url"> sound_url </option>
				<option value="image_url"> image_url </option>
				<option value="id"> id </option>
			</select>

			<% end %>		
		</div>
		
		<div style="font-size: 12px;">

			<br>
			<b>Total items: <%= category.words.length %></b><!-- #to_fix -->
		</div>
	</div>
<% end %>
</div>


<br />
<br /><br /><br />

<div class="cat_order_display">

Change categories order <input type="button" value="open/close" onclick="openCO()"/>
<br><br>

<div class="cat_order_wrapper">

&nbsp;&nbsp;&nbsp;<input id="cl_ordr" type="button" value="clear" style="font-size: 12px;">
<% form_tag :action => 'update_cat_order' do %>
<input type="hidden" name="lang" value="<%= params[:lang] %>">
<ul id="cat_order">
<% @encategory.each_with_index do |category,index| %>
	<li><input type="text"  style="width: 25px" name="category[<%= index %>][order_num]" value="<%= category.order_num %>">.  <%= category.title %>
		
		<input type="hidden" name="category[<%= index %>][id]" value="<%= category.id %>">
	</li>
<% end %>
</ul>
<%= submit_tag 'Save order' %>
<%end%>

</div>

</div>



<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />









