
<% content_for :special_js_css do %>
<style type="text/css">
	#sortable { list-style-type: none; margin: 0; padding: 0; ; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
	
.content a:link {
background-color: transparent;
outline: none;
}
.content .ui-tabs-nav a:visited {
background-color: transparent;
outline: none;
}
	
.content .ui-tabs-nav a:hover {
background-color: transparent;
outline: none;
}
.content  .ui-tabs-nav a:active {
background-color: transparent;
outline: none;
}

.ui-tab	 {
min-height: 400px;
}
</style>
	<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>
<% end %>


<h3 class="admin-p-name">Words and Categories listing</h3>
<div> <%= link_to "Manage categories", :controller => 'categories', :action => 'index' %></div>
<div align="right"><%= link_to 'Add a word', :action => 'new' %> | <%= link_to 'New list', :action => 'new_list' %> </div>
<br>

<div id="tabs">
   <ul>
      <li><a href="#tabs-1">Russian</a></li>
      <li><a href="#tabs-2">English</a></li>
      <li><a href="#tabs-3">French</a></li>
	  <li><a href="#tabs-4">Japanese</a></li>
   </ul>
   <div id="tabs-1" class="ui-tab">
      
	  <div style="margin-bottom: 10px;">
			<%= link_to "Category's main page",  :action => "index_lang" %>
		</div>
		
		<% @ru_categories.each do |category| %>
		<div style="font-size: 12px;">
		<%= category.title %> <%= link_to "View",  :action => "cat_index", :encategory=> category.id %>
		</div>
		<% end %>
	  
   </div>
   <div id="tabs-2" class="ui-tab">
      <div style="margin-bottom: 10px;">
			<%= link_to "Category's main page",  :action => "index_lang", :lang=> 'ru' %>
		</div>
		
		<% @en_categories.each do |category| %>
		<div style="font-size: 12px;">
		<%= category.title %> <%= link_to "View",  :action => "cat_index", :encategory=> category.id %>
		</div>
		<% end %>
   </div>
   <div id="tabs-3" class="ui-tab">
      <div style="margin-bottom: 10px;">
			<%= link_to "Category's main page",  :action => "index_lang", :lang=> 'fr' %>
		</div>
		
		<% @fr_categories.each do |category| %>
		<div style="font-size: 12px;">
		<%= category.title %> <%= link_to "View",  :action => "cat_index", :encategory=> category.id %>
		</div>
		<% end %>
   </div>
   <div id="tabs-4" class="ui-tab">
      <div style="margin-bottom: 10px;">
			<%= link_to "Category's main page",  :action => "index_lang", :lang=> 'jp' %>
		</div>
		
		<% @jp_categories.each do |category| %>
		<div style="font-size: 12px;">
			<%= category.title %> <%= link_to "View",  :action => "cat_index", :encategory=> category.id %>
		</div>
		<% end %>
   </div>
</div>


<br />

<br /><br /><br /><br /><br />
