<h3><%= course_data[:name]%></h3>
<table class="sound-letter" cellspacing="0">
<tr>
	<th class="page">Page</th>
	<th class="results">Results</th>
	<th class="thbrd">More info</th>
</tr>
<% course_data[:results].each do |t| -%>
<tr class="res_row"> 
	<td style="width: 190px;">			  	
	<%= t[:category] -%>				  
		<div class="pr-detail">
			<div class="pr-detail-block">
				<div>
					<table cellpadding="0" cellspacing="0" border="0">
						<% t[:exercises].each_with_index do |test, index| -%>
						<tr>
							<td>				
								<%if test.exercise.title != '' -%><%= test.exercise.title -%><%else-%>Test <%= index+1 -%><%end-%>
							</td>
							<td class="res_perc">						  
								<%= test.result_percent -%>%
							</td>
						</tr>
						<%end-%>
					</table>
				</div>
			</div>
		</div>
	</td>
	<td> &nbsp;
	<%= t[:total] -%>
	</td>
	<td><span class="show_det">Show</span></td>  
</tr>		
<%end-%>
</table>