<% @page_title = @material.page_title  %>
<% @page_meta = {'description' =>  @material.page_desc } %>
<% content_for :special_js_css do %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>
<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>
<%= @material.js_css %>
<% end %><% if logged_in? && current_user.email == 'mirumir.sasha@gmail.com'%><a class="admin_edit_link" href="/materials/<%= @material.id %>/edit"><img src="/images/icons/fugue/blue-document-pencil.png" title="Edit page"></a><%end%>
<%= @material.body %>
<script type="text/javascript">
currentSection="<%= @material.section %>";
</script>