<%
cluster =  Cluster.find(@cluster_num)
@voc = cluster.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
@voc1 = @voc.sort_by {rand}
if !@less_title
	@less_title = cluster.title
end
%>
<% @page_title = @less_title + ' :: Уроки английского для детей'  %>
<% @page_meta = {'description' => ""} %>
<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'unit' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'jquery.jplayer.js' %>
<%= javascript_include_tag 'lexical-test' %>
<%= javascript_include_tag 'lexical-test-p' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>
<%= javascript_include_tag 'unit' %>
<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>

$(function(){
 var dsOpLen = $(".ds-options-wrap li").length;
 var dsOpUnits = new Array();
 for (var i=0; i < dsOpLen; i++ ) {
	dsOpUnits.push( '<li>'+$(".ds-options-wrap li").eq(i).html() + '<\/li>' );
 }
 $(".ds-options-wrap").empty().prepend( dsOpUnits.shuffle().join(" ") )

 $("#les-res").click(function() {
		$( "#dialog" ).dialog({
			height: 300,
			width: 400,
			modal: true
		}).dialog( "option", "buttons", { "Ok": function() { $(this).dialog("close"); } } );	
 })
 
})

function stResults(source,step) {
	var res = parseInt(source.text());
	if (res>0 && res >= parseInt($("#step"+step).text()) ) {
		var msg;
		if (res < 60) {
			msg='<span style="color:red" title="'+res+'%">плохо<\/span>';
		} else if (res > 95) {
			msg='<span style="color:green" title="'+res+'%">отлично<\/span>';
		} else if (res <= 95 && res > 80) {
			msg='<span style="color:blue" title="'+res+'%">очень хорошо<\/span>';
		}else {
			msg='<span style="color:blue" title="'+res+'%">хорошо<\/span>';
		}
		$("#gen_step"+step).html('<b>'+msg+'<\/b>')
		$("#step"+step).text(res)
	}
}
function dragTResults(container) {
	var infoHolder = container.find(".ds-check-wrapper");
	var total = infoHolder.data('total');
	var correct = infoHolder.data('correct');
	var tResults = Math.round((correct/total)*100);
	container.find("#ds_res_perc").remove();
	container.append('<span id="ds_res_perc" style="display: none">'+tResults+'<\/span>');
	stResults($("#ds_res_perc"),2)
}
</script>

<style type="text/css">
.obj-sound .jp_control,.obj-sound .jp_control:hover {background: #FFFFFF url("/images/play-25.png") 50% 50% no-repeat; cursor: pointer; height: 27px; width: 27px;}
.obj-sound .jp_pause {background-image: url("/images/pause-25.png") !important; }
.obj-txt {padding: 10px 2px; font-weight: bold; font-size: 15px;}
.obj-transl {font-size: 11px; color: #444; padding: 6px 2px;}
.kl-wordlist-wrapper {margin:0 20px 30px; padding: 0 30px 30px;}
.su-im-wrap {border: 1px solid #8FA2BF; background-color: #fff; margin: 3px; box-shadow:1px 2px 3px rgba(62, 85, 111, 0.48);}
.su-im-wrap td.w-text {padding: 0 15px 0 12px;}
.su-task  {text-indent: 0; padding-left: 30px;}
b.st-link:hover {text-decoration: underline;}
b.st-link {cursor: pointer;}
.kl-res-list {list-style-type: circle;}
.kl-res-info {font-size: 10px; font-style: italic; color: #555; padding-top: 10px; margin-top: 20px; border-top: 1px dotted #555;}
.kl-res-list li {font-size: 14px; font-weight: bold; padding: 5px 3px 5px;}
.kl-res-list li span {font-size: 12px; font-weight: normal; font-style: italic; color: #888;}
.kl-res-caller {display: none;}
.kl-res-list li b span  {font-weight: bold;}
.kl-res-caller input.st-bl-btn {height: 24px;line-height:22px; padding-left: 6px; padding-right: 6px;}
.kl-res-caller {padding-left: 40px; padding-top: 15px;}
#ch3 .es-ex-string-holder {background-image: none}
#ch3 .es-ex-bottom {padding-top: 8px; padding-bottom: 8px }
.lt-spacer {padding-top: 0px; padding-bottom: 60px}
.su-step-info {min-height: 25px;}
.ds_dragHelper {box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.38);}
</style>

<% end %>

<div class="unit-area">
<div id="prof_tabs">
<div class="unit-title">
<a href="/ru/en/english-for-children.html" class="su-tit-link">Уроки для детей »</a><br/>
<%= @less_title %>
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
<%unless @mute %>Слушай и повторяй. <%end%>Постарайся запомнить, как звучат и пишутся представленные слова.
</p>	
	
<div class="kl-wordlist-wrapper">
<div>
<table class="obj-sound" width="100%" align="center" style="margin: 0 auto;" cellspacing="2">
<col width="50%"><col width="50%">
<% @rows = 2 %>
<% @voc.each_with_index do |word,index| %>
<%if index % @rows == 0 %><tr><%end%>
		<td>
<div class="su-im-wrap">
<table cellspacing="0">
	<tr>
		<td>
			<img width="130" src="<%= word.image_url %>" /> 
		</td>
		<td class="w-text">
			<div class="obj-txt"><%= word.text %></div>
			 <% if @mute %><div style="color: #666; font-size: 12px; font-weight: normal">[<%= word.transcribe %>]</div>
			 <%else%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div>
			 <%end -%>
			<div class="obj-transl"><%= word.translate %></div>
	</tr>
</table>
</div>	
		</td>
<%if index % @rows == @rows-1 %></tr><%end%>
<%end%>
</table>
</div>	
</div>		
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап »" onclick="openNextStep(2)">
</div>	
	
<br><br><br><br>
	</div>
</div>
<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Прочитай<% unless @mute%>, послушай<%end%> и найди ответ</h3>
<p class="su-step-info">
Прочитай<% unless @mute%> или прослушай<%end%> слова и найди для каждого из них подходящую картинку. Перетащи картинки на нужное место и нажми "Проверить".
</p>	

<div id="ds2" class="ds-kid-img">
<%
@ds_width = '470'
if @voc1.length > 7 && @voc1.length < 9
	@ds_width = '540'
elsif @voc1.length == 12
	@ds_width = '540'	
elsif @voc1.length > 8
	@ds_width = '605'	
end
%>
<table align="center" style="margin: 0 auto; width: <%=@ds_width%>px">
 <tr>
  <td>
	<ul class="ds-kid-ul"><% @voc1.each_with_index do |word, index| %>
	<li class="ds-check-li">
		<div class="ds-txt-wrapper"><span><%= word.text %></span><% unless @mute%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%></div>
		<div class="ds-answer"><div class="ds_sort_item">&nbsp;</div></div>
	</li><% end %>
	</ul>
  </td>
 </tr>
 <tr>
  <td class="ds-variants-cnt">
	<table class="ds_variants_list" width="100%">
		<tr valign="top">
			<td>
				<ul class="no-list ds-options-wrap" style="text-align: center;"><% @voc1.each_with_index do |word, index| %>
					<li>
						<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt"><%= index+1 %></span><img width="70" src="<%= word.image_url %>"></div></div>
					</li><% end %>
				</ul>
			</td>
		</tr>
	</table>
  </td>
 </tr>
</table>

<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">
<input type="button" class="es_btn ds-check-button" value="Проверить">
</div>
</div>
<script type="text/javascript"> 
	var ds2 = new dragsort_test( {
		id: "ds2", 	
		<% unless @test_data[0] == nil || @test_data[0]==''%>test_id: "<%= @test_data[0] %>",<%end%>		
		targets: "ds-answer",
		callback: function(){dragTResults($("#ds2"))},	
		answer_elem: "ds_sort_item", 
		sign_class: "ds-check-li",
		variant_elem: "ds_variant",
		answer_color: "#fff",
		auto_check: false
		} )
</script>	
<br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап »" onclick="openNextStep(3)">
</div>
<br><br><br><br>
	</div>
</div>
<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title"><% if @mute%>Прочитай<%else%>Прослушай<%end%> и найди ответ</h3>
<p class="su-step-info">
<% if @mute%>Прочитай<%else%>Прослушай<%end%> слова и найди для каждого из них подходящую картинку.
</p>	

<div id="ch1" class="pt-holder ps-kid-img">	
<%= render :partial => '/site/exercises/phrases_test', :locals => {:lang => "ru"} %>
</div>

<script type="text/javascript"> 
	var ch1 = new ph_exercise( {
		id: "ch1", 
		<% unless @test_data[1] == nil || @test_data[1]==''%>test_id: "<%= @test_data[1] %>",<%end%>
		quest_num: 10,
		auto_play: false,
		<% if @mute %>quest_type: 'text',<%else%>quest_type: 'audio',<%end%>
		answer_type: 'img',
		variants_num: 6,
		callback: function() {stResults($("#ch1_result"),3)},
		next_time: 2000,
		texts: ['Правильно','Неправильно','Далее »','Результат','Осталось','Всего вопросов','Правильных ответов','Результат', 'Показать ответ', 'Перейти к следующему'],
		basic_array: [
<% @last_voc = (@voc.length)-1 %>
<% @voc.each_with_index do |voc_word,index|  %>
{quest: '<% if @mute %><%= voc_word.text %><%else%><%= voc_word.sound_url %><%end%>', 
sound:'<%= voc_word.sound_url %>',
answer:'<img src="<%= voc_word.image_url %>">'
<% if current_user %>, id: '<%= voc_word.id%>'<%end%>}<% if index!= @last_voc -%>,<%end -%>
<% end %>
		]
		} )
</script>

<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап »" onclick="openNextStep(4)">
</div>	
<br><br><br><br><br>
	</div>
</div>

<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
<h3 class="su-step-title">Составь слово</h3>
<p class="su-step-info">
Посмотри на картинку<%unless @mute %> и прослушай запись<%end%>. Из предложенных букв составь английское слово для перевода. Кликни на букву, чтобы она появилась в текстовом поле.
</p>	

<div id="ch2" class="pt-holder kl-type-test">	
<%= render :partial => '/site/exercises/phrases_test', :locals => {:lang => "ru"} %>
</div>

<script type="text/javascript"> 
	var ch2 = new ph_exercise( {
		id: "ch2", 
		<% unless @test_data[2] == nil || @test_data[2]==''%>test_id: "<%= @test_data[2] %>",<%end%>
		quest_num: 10,
		auto_play: false,
		input_type: 'input',
		answer_type: 'type',
		callback: function() {stResults($("#ch2_result"),4)},
		tp_no_space: true,
		intext_replace: false,
		spec_signs: false,
		no_spacer: true,
		rand_letters: true,
		next_time: 2000,
		texts: ['Правильно','Неправильно','Далее »','Результат','Осталось','Всего вопросов','Правильных ответов','Результат', 'Показать ответ', 'Перейти к следующему'],
		basic_array: [
<% @last_voc = (@voc.length)-1 %>
<% @voc.each_with_index do |voc_word,index|  %>
{quest: '<table><tr><td><img src="<%= voc_word.image_url %>" style="height: 100px"><\/td><%unless @mute%><td><span>Прослушать<\/span> <div class="jp_control" onclick="cJplayer(\'<%= voc_word.sound_url %>\', this)"><\/div><\/td><%end%><\/tr><\/table>', 
correct:'<%= voc_word.text %>',
answer:'<%= voc_word.text %>',
forms:'<%= voc_word.text.split('').join(" ") %><%if voc_word.text=="one hundred" || voc_word.text=="fancy cake" %> &nbsp;<%end%>'
<% if current_user %>, id: '<%= voc_word.id%>'<%end%>}<% if index!= @last_voc -%>,<%end -%>
<% end %>
	
		]
		
		} )
</script>

<br><br><br><br>

<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап »" onclick="openNextStep(5)">
</div>

<br><br><br><br><br>

	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
<h3 class="su-step-title">Повторение и результаты</h3>
<p class="su-step-info">
Посмотри на картинку. В списке справа найди перевод на английский язык.
</p>	

<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->
<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		<% unless @test_data[3] == nil || @test_data[3]==''%>test_id: "<%= @test_data[3] %>",<%end%>
		quest_num: 10,
		auto_play: false,
		variants_num: 5,
		callback: function() {stResults($("#ch3_result"),5)},
		next_time: 2500,
		quest_type: 'image',
		texts: ['Правильно','Неправильно','Далее »','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
<% @last_item_index = (@voc.length)-1 -%>
<% @voc.each_with_index  do |word, index| -%>
['<%= word.image_url %>', "<%= word.text.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>
		]
		} )
</script>

<div class="rk-res-wrapper">
<h3 class="su-page-p" style="margin-top: 0">Результаты урока</h3>
<p>
Текущие результаты урока<span title="См. ниже">*</span>:
</p>
	
<ul class="kl-res-list">
	<li><b class="st-link" onclick="openNextStep(2)">Этап 2</b>: <span id="gen_step2" class="kl-res-li">не выполнено</span></li>
	<li><b class="st-link" onclick="openNextStep(3)">Этап 3</b>: <span id="gen_step3" class="kl-res-li">не выполнено</span> </li>
	<li><b class="st-link" onclick="openNextStep(4)">Этап 4</b>: <span id="gen_step4" class="kl-res-li">не выполнено</span></li>
	<li><b class="st-link" onclick="openNextStep(5)">Этап 5</b>: <span id="gen_step5" class="kl-res-li">не выполнено</span></li>
</ul>

<div class="kl-res-caller">
<span class="es-ex-buttons st-bl-btn-wrap">
<input type="button" class="st-bl-btn" id="les-res" value="Подробно">
</span>
</div>
<div class="kl-res-info">
* Показаны самые высокие результаты
</div>

<div style="display: none">
<div id="dialog" title="Результаты урока" align="left">
	<p>
	Результаты выполненных упражнений: 
	</p>

<ul>
	<li>Этап 2: <span id="step2">0</span>%</li>
	<li>Этап 3: <span id="step3">0</span>% </li>
	<li>Этап 4: <span id="step4">0</span>%</li>
	<li>Этап 5: <span id="step5">0</span>%</li>
</ul>
</div>
</div>

</div>

<br><br><br><br><br><br><br>
<br><br><br>


	</div>
</div>


</div>


<script type="text/javascript">
currentSection="kids";
</script>


