<% 
@page_title = 'Online Russian Flashcards: '+@category_title+' '  %>
<% @page_meta = {'description' => "Learn Russian vocabulary topic "+@category_title+" with online flashcards: words with audio samples, quizzes and spell practice"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}
</style>

<%end%>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/<%= @category.tag %>.html"><%= @category_title %></a></li>
			<li><a href="/<%= @category.tag %>-test.html">Tests: <%= @category_title %></a></li>
        </ul>
        <%= render :partial => 'down_accent' %>
  </div>
</div>
</div>




<h2 class="page">Flashcards: <%= @category_title %></h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/vocabulary.html">Vocabulary</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/<%= @category.tag %>.html"><%= @category_title %></a>
	<span class="int-arrow">--&gt;</span> Flashcards
	</span>
</h3>


<div  id="fl1" style="min-height: 600px; text-align: center;">
<%= render :partial => 'flashcard' %>
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [

<%
@last_item_index = (@words.length)-1
if @lang == 'fr'%>
<% @words.each_with_index  do |word, index| %>
['<%= word.html %>', '<%= word.translate_fr.to_s.gsub(/'/,"’") %>', '<%= word.sound_url %>', '<%= word.transcribe_fr %>']<% if index!= @last_item_index %>,<%end%>	
<%end%>
<% else %>	
<% 

@words.each_with_index  do |word, index| %>
['<%= word.html %>', '<%= word.translate.to_s.gsub(/'/,"’") %>', '<%= word.sound_url %>', '<%= word.transcribe %>']<% if index!= @last_item_index %>,<%end%>	
<%end%>
<% end %>	

		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Check how you know this topic with our &nbsp;<a href="/<%= @category.tag %>-test.html">Lexical tests >></a></td>
</tr></table>








