<% @words = Category.find(100).words.find(:all, :order => 'order_num') %>
<% @page_title = 'Таблица неправильных глаголов :: Изучение английского онлайн' %>
<% @page_meta = {'description' => "Таблица форм неправильных глаголов английского языка"} %>


<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'tablesorter' %>
<%= javascript_include_tag 'jquery.tablesorter.min.js' %>

<script type="text/javascript">	
$(document).ready(function() { 
    $("table.st-bl-table").tablesorter({ headers: {1:{sorter: false},2:{sorter: false}}, widgets: ['zebra'] });
});
</script>
<style type="text/css">
h2.page {margin-bottom: 0px;}
.st-bl-table td {font-size: 12px;color: #000;}
.st-bl-table td em {color: #45494F;}
.st-bl-table td strong {color: #222;}
</style>
<% end %>

<h2 class="page">Неправильные глаголы</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Неправильные глаголы</span> 
</h3>


<p>
Ниже представлены три основные формы неправильных глаголов: инфинитив без частицы <span class="eg">to</span>, форма прошедшего неопределенного времени (Past Indefinite) и причастие прошедшего времени (Причастие&nbsp;II). В таблице представлены наиболее употребляемые неправильные глаголы.
<br> 
<br> 
</p>


	<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
	<thead>
		<tr>
			<th>Инфинитив</th>
			<th>Past Indefinite</th>
			<th>Причастие II</th>
			<th>Перевод</th>
		</tr>
			
	</thead>
	<tbody>
	
<% @words.each do |w| %>	
		<tr>
			<td>
				<strong><%= w.text%></strong>
			</td>
			<td>
				<%= w.html %>
			</td>
			<td>
				<%= w.image_url %>
			</td>
			<td>
				<em><%= w.translate %></em>
			</td>
		</tr>
<%end%>
	</tbody>
	</table>
	

	
<br><br><br><br><br><br><br><br><br><br><br><br><br>	
	
	

<script type="text/javascript">
currentSection="grammar";
</script>
