<% @page_title = 'Past Indefinite Active:: Английская грамматика' %>
<% @page_meta = {'description' => "Английская грамматика: онлайн упражнения на спряжение глаголов в прошедшем неопределенном времени - Past Indefinite (Past Simple) Active"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>
<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %> 
 


<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Ссылки по теме</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="/ru/en/english-past-indefinite.html">Past indefinite</a></li>
					<li><a href="/ru/en/english-grammar.html">Грамматика</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Упражнения: Past Indefinite</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Упражнения: Past Indefinite Active</span> 
</h3>


<div id="pagecontent"><div id="content">

<div class="bl-ex-container">

<h4 class="su-task">
Задание 1. Определите подходящую форму прошедшего времени глагола 
</h4>
<div class="su-exerc">
<div>	
				
<p class="task">Напечатайте полные формы в текстовом поле. </p> 


<div  class="gr_ex_type">


<div class="gex-area-trans">

<div class="gext_task gext_sign">
1.	I <input type="text" style="width: 60px" value="stay"> <span class="gext_answer" style="display: none">stayed</span> in Moscow over the week-end.
<div class="gext_show"><span>I <b>stayed</b> in Moscow over the week-end.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
2.	We <input type="text" style="width: 60px" value="return"> <span class="gext_answer" style="display: none">returned</span> home in the evening.
<div class="gext_show"><span>We <b>returned</b> home in the evening.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
3.	We <input type="text" style="width: 60px" value="revise"> <span class="gext_answer" style="display: none">revised</span> these grammar rules last week.
<div class="gext_show"><span>We <b>revised</b> these grammar rules last week.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
4.	George <input type="text" style="width: 60px" value="clean"> <span class="gext_answer" style="display: none">cleaned</span> his car three days ago.
<div class="gext_show"><span>George <b>cleaned</b> his car three days ago.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
5.	Yesterday Isabella <input type="text" style="width: 60px" value="finish"> <span class="gext_answer" style="display: none">finished</span> work at six o’clock.
<div class="gext_show"><span>Yesterday Isabella <b>finished</b> work at six o’clock.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
6.	You <input type="text" style="width: 70px" value="decide"> <span class="gext_answer" style="display: none">decided</span> to change your job last year.
<div class="gext_show"><span>You <b>decided</b> to change your job last year.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
7.	They <input type="text" style="width: 80px" value="answer"> <span class="gext_answer" style="display: none">answered</span> a lot of letters last week.
<div class="gext_show"><span>They <b>answered</b> a lot of letters last week.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
8.	Pete <input type="text" style="width: 60px" value="start"> <span class="gext_answer" style="display: none">started</span> learning English last year.
<div class="gext_show"><span>Pete <b>started</b> learning English last year.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
9.	They <input type="text" style="width: 80px" value="discuss"> <span class="gext_answer" style="display: none">discussed</span> a lot of problems last night.
<div class="gext_show"><span>They <b>discussed</b> a lot of problems last night.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
10.	Bryan <input type="text" style="width: 60px" value="pass"> <span class="gext_answer" style="display: none">passed</span> his exam well.
<div class="gext_show"><span>Bryan <b>passed</b> his exam well.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
11.	Ann <input type="text" style="width: 80px" value="translate"> <span class="gext_answer" style="display: none">translated</span> a lot of foreign letters last week.
<div class="gext_show"><span>Ann <b>translated</b> a lot of foreign letters last week.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
12.	He <input type="text" style="width: 60px" value="open"> <span class="gext_answer" style="display: none">opened</span> the window.
<div class="gext_show"><span>He <b>opened</b> the window.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
13.	I <input type="text" style="width: 80px" value="prepare"> <span class="gext_answer" style="display: none">prepared</span> everything yesterday.
<div class="gext_show"><span>I <b>prepared</b> everything yesterday.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
14.	You <input type="text" style="width: 70px" value="visit"> <span class="gext_answer" style="display: none">visited</span> your aunt last month.
<div class="gext_show"><span>You <b>visited</b> your aunt last month.</span> &nbsp;</div>
</div>

</div><!-- end of gex-area-trans -->

<p class="gext_check es-ex-buttons gex-es-btn">
<input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show">
</p>

</div>
</div>
</div> <!-- end of su-exerc -->

<br><br><br>


<h4 class="su-task">
Задание 2. На основе данных фраз постройте вопросительные и отрицательные предложения. В вопросах меняйте первое лицо на второе.
</h4>
	

<div class="su-exerc">
<div id="di1">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix gex_multi_one">
<div class="gex-area-trans">


<div class="gext_sign gex_multi_one_item di_mix_first">
<div class="di_mix_tobuild">She noticed the mistake.</div>
 <div class="di_mix_variants di_mix">she did not noticed notice the&nbsp;mistake</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Did she notice the mistake</span>
<div class="gext_show"><span><b>Did she notice the mistake?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">She did not notice the mistake</span>
<div class="gext_show"><span><b>She did not notice the mistake</b></span> &nbsp;</div>
</div>

<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">I lived in Paris ten years ago.</div>
 <div class="di_mix_variants di_mix">I lived live not you did in Paris ten years ago</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Did you live in PAris ten years ago</span>
<div class="gext_show"><span><b>Did you live in Paris ten years ago?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">I did not live in Paris ten years ago.</span>
<div class="gext_show"><span><b>I did not live in Paris ten years ago.</b></span> &nbsp;</div>
</div>
<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">Mark played computer games yesterday.</div>
 <div class="di_mix_variants di_mix">he played did not play computer games yesterday</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Did he play computer games yesterday</span>
<div class="gext_show"><span><b>Did he play computer games yesterday?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">He did not play computer games yesterday</span>
<div class="gext_show"><span><b>He did not play computer games yesterday.</b></span> &nbsp;</div>
</div>
<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">They finished this project two weeks ago.</div>
 <div class="di_mix_variants di_mix">they did finish not finished this project two weeks ago</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Did they finish this project two weeks ago</span>
<div class="gext_show"><span><b>Did they finish this project two weeks ago?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">They did not finish this project two weeks ago</span>
<div class="gext_show"><span><b>They did not finish this project two weeks ago.</b></span> &nbsp;</div>
</div>


</div>
<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show">
</p>


</div>


</div>


</div> <!-- end of di  -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: false,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>



</div> <!-- end of bl-ex-container -->







<br><br><br><br><br>
<br><br><br><br><br><br><br>










</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
