<% @page_title = 'Вопросительные местоимения :: Английская грамматика' %>
<% @page_meta = {'description' => "Английская грамматика: онлайн упражнения на вопросительные местоимения"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>

<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Ссылки по теме</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="/ru/en/english-reflexive-pronouns.html">Вопросительные местоимения</a></li>
					<li><a href="/ru/en/english-grammar.html">Грамматика</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Вопросительные местоимения</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Упражнения: Вопросительные местоимения</span> 
</h3>

<div id="pagecontent"><div id="content">

<div class="bl-ex-container">


<h4 class="su-task">
Задание 1. Вберите подходящие вопросительные местоимения.   
</h4>
<div class="su-exerc">
<div>	
				
<p class="task">Выберите местоимение из списка. </p> 


<div  class="gr_ex_from_list">
<div class="gr-ex-testid">g1117010.I</div>


<div class="gex-area-trans">


<div class="gr_ex_unit gext_sign"> 
1. 
<select>
<option>Выбрать</option>
<option  class="ok">Who</option>
<option>What</option>
<option >Which</option>
<option>Whose</option>
<option>Whom</option>
</select>
  is this man? - He is our manager.
</div>

<div class="gr_ex_unit gext_sign"> 
2. 
<select>
<option>Выбрать</option>
<option>Who</option>
<option  class="ok">What</option>
<option >Which</option>
<option>Whose</option>
<option>Whom</option>
</select>

 is your brother’s name?
 
</div>



<div class="gr_ex_unit gext_sign"> 
3.    
<select>
<option>Выбрать</option>
<option>Who</option>
<option>What</option>
<option  class="ok">Which</option>
<option>Whose</option>
<option>Whom</option>
</select>
 color is that car? - It is green.
</div>

<div class="gr_ex_unit gext_sign"> 
4. 
<select>
<option>Выбрать</option>
<option class="ok">Who</option>
<option>What</option>
<option >Which</option>
<option>Whose</option>
<option>Whom</option>
</select>
 is near the window? - It’s Mark.
</div>


<div class="gr_ex_unit gext_sign"> 
5. 
<select>
<option>Выбрать</option>
<option>Who</option>
<option class="ok">What</option>
<option >Which</option>
<option>Whose</option>
<option>Whom</option>
</select>
 is on the sofa? - It is my book.
</div>

<div class="gr_ex_unit gext_sign"> 
6. 
<select>
<option>Выбрать</option>
<option class="ok">Who</option>
<option>What</option>
<option >Which</option>
<option>Whose</option>
<option class="ok">Whom</option>
</select>
 is this letter from? - This letter is from Kate.
</div>

<div class="gr_ex_unit gext_sign"> 
7. 
<select>
<option>Выбрать</option>
<option>Who</option>
<option class="ok">What</option>
<option >Which</option>
<option>Whose</option>
<option>Whom</option>
</select>
 do you like? - I like music.
</div>

<div class="gr_ex_unit gext_sign"> 
8. 
<select>
<option>Выбрать</option>
<option>Who</option>
<option>What</option>
<option >Which</option>
<option class="ok">Whose</option>
<option>Whom</option>
</select>
 pen is this? - This is Tom’s pen.
</div>


</div><!-- end of gex-area-trans -->

<p class="ex_from_list_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > </p>
</div>

</div>

</div> <!-- end of su-exerc -->


<br><br>




<h4 class="su-task">
Задание 2. Прочитайте предложения и поставьте вопросы к выделенным словам. Где возможно, вставляйте местоимение <span style="font-weight: normal">whom</span>.
</h4>

<div class="su-exerc">
<div id="di1">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">g1117020.II</div>

<div class="gex-area-trans">

<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">This is <u><b>my wife’s</b></u> bag.</div>
<div class="di_mix_variants di_mix">whose which whom bag is are this</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">Whose bag is this</span>
<div class="gext_show"><span><b>Whose bag is this?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Her pen is <u><b>black</b></u>.</div>
 <div class="di_mix_variants di_mix">which whose color is her pen are who</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">Which color is her pen</span>
<div class="gext_show"><span><b>Which color is her pen?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild"><u><b>My sister</b></u> is from Moscow.</div>
<div class="di_mix_variants di_mix">what who is she whom from Moscow</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">Who is from Moscow</span>
<div class="gext_show"><span><b>Who is from Moscow?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">This telegram is from <u><b>my brother</b></u>.</div>
 <div class="di_mix_variants di_mix">whom is this are what telegram from</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">Whom is this telegram from</span>
<div class="gext_show"><span><b>Whom is this telegram from?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">His favorite sport is <u><b>football</b></u>.</div>
 <div class="di_mix_variants di_mix">whose what is his favorite sport</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">What is his favorite sport</span>
<div class="gext_show"><span><b>What is his favorite sport?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild"><u><b>The chair</b></u> is near the table.</div>
 <div class="di_mix_variants di_mix">what who are is near the table</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">What is near the table</span>
<div class="gext_show"><span><b>What is near the table?</b></span> &nbsp;</div>
</div>

</div><!-- end of gex-area-trans -->

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Показать ответы" class="gext_answer_show"></p>


</div>


</div><!-- end of di1  -->


</div> 


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>






</div> <!-- end of bl-ex-container -->

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>










</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
