<% @page_title = 'Present Indefinite :: Английская грамматика' %>
<% @page_meta = {'description' => "Английская грамматика: онлайн упражнения на спряжение глаголов в настоящем неопределенном времени - Present Indefinite (Present Simple) Active"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>
<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %> 
 


<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Ссылки по теме</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="/ru/en/english-present-indefinite.html">Present indefinite</a></li>
					<li><a href="/ru/en/english-grammar.html">Грамматика</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Упражнения: Present Indefinite</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Упражнения: Present Indefinite Active</span> 
</h3>


<div id="pagecontent"><div id="content">

<div class="bl-ex-container">

<h4 class="su-task">
Задание 1. Определите подходящую форму настоящего времени глагола 
</h4>
<div class="su-exerc">
<div>	
				
<p class="task">Напечатайте полные формы в текстовом поле. </p> 


<div  class="gr_ex_type">
<div class="gr-ex-testid">g1105010.I</div>

<div class="gex-area-trans">

<div class="gext_task gext_sign">
1.	Mary <input type="text" style="width: 80px" value="to like"> <span class="gext_answer" style="display: none">likes</span>tea with lemon.
<div class="gext_show"><span>Mary <b>likes</b> tea with lemon.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
2.	It <input type="text" style="width: 80px" value="to take"> <span class="gext_answer" style="display: none">takes</span>me fifteen minutes to get to school.
<div class="gext_show"><span>It <b>takes</b> me fifteen minutes to get to school.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
3.	My mother <input type="text" style="width: 80px" value="to cook"> <span class="gext_answer" style="display: none">cooks</span>very well.
<div class="gext_show"><span>My mother <b>cooks</b> very well.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
4.	I usually <input type="text" style="width: 80px" value="to watch"> <span class="gext_answer" style="display: none">watch</span>TV in the evening.
<div class="gext_show"><span>I usually <b>watch</b> TV in the evening.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
5.	Michael <input type="text" style="width: 80px" value="to know"> <span class="gext_answer" style="display: none">knows</span>well grammar rules.
<div class="gext_show"><span>Michael <b>knows</b> well grammar rules.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
6.	You often <input type="text" style="width: 80px" value="to play"> <span class="gext_answer" style="display: none">play</span>football.
<div class="gext_show"><span>You often <b>play</b> football.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
7.	She <input type="text" style="width: 80px" value="to study"> <span class="gext_answer" style="display: none">studies</span>German.
<div class="gext_show"><span>She <b>studies</b> German.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
8.	They sometimes <input type="text" style="width: 80px" value="to eat"> <span class="gext_answer" style="display: none">eat</span>in a restaurant.
<div class="gext_show"><span>They sometimes <b>eat</b> in a restaurant.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
9.	It often <input type="text" style="width: 80px" value="to rain"> <span class="gext_answer" style="display: none">rains</span>in the autumn.
<div class="gext_show"><span>It often <b>rains</b> in the autumn.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
10.	I <input type="text" style="width: 80px" value="to speak"> <span class="gext_answer" style="display: none">speak</span>English well.
<div class="gext_show"><span>I <b>speak</b> English well.</span> &nbsp;</div>
</div>

</div><!-- end of gex-area-trans -->

<p class="gext_check es-ex-buttons gex-es-btn">
<input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show">
</p>

</div>
</div>
</div> <!-- end of su-exerc -->

<br><br><br>


<h4 class="su-task">
Задание 2. На основе данных фраз постройте вопросительные и отрицательные предложения. В вопросах меняйте первое лицо на второе.
</h4>
	

<div class="su-exerc">
<div id="di1">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix gex_multi_one">
<div class="gr-ex-testid">g1105020.II</div>

<div class="gex-area-trans">


<div class="gext_sign gex_multi_one_item di_mix_first">
<div class="di_mix_tobuild">Tom speaks Spanish badly.</div>
 <div class="di_mix_variants di_mix">do does not Tom speak speaks Spanish</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Does Tom speak Spanish</span>
<div class="gext_show"><span><b>Does Tom speak Spanish?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">Tom does not speak Spanish.</span>
<div class="gext_show"><span><b>Tom does not speak Spanish.</b></span> &nbsp;</div>
</div>

<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">My friend lives in Moscow.</div>
 <div class="di_mix_variants di_mix">do does not your my friend live lives in Moscow</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Does your friend live in Moscow</span>
<div class="gext_show"><span><b>Does your friend live in Moscow?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">My friend does not live in Moscow.</span>
<div class="gext_show"><span><b>My friend does not live in Moscow.</b></span> &nbsp;</div>
</div>
<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">They often listen to music.</div>
 <div class="di_mix_variants di_mix">do does not they often listen to music</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Do they often listen to music</span>
<div class="gext_show"><span><b>Do they often listen to music?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">They do not often listen to music.</span>
<div class="gext_show"><span><b>They do not often listen to music.</b></span> &nbsp;</div>
</div>
<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">We like playing tennis.</div>
 <div class="di_mix_variants di_mix">do does not we you like playing tennis</div>
</div>
<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Do you like playing tennis</span>
<div class="gext_show"><span><b>Do you like playing tennis?</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">We do not like playing tennis</span>
<div class="gext_show"><span><b>We do not like playing tennis.</b></span> &nbsp;</div>
</div>


</div>
<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show">
</p>


</div>


</div>


</div> <!-- end of di  -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: false,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>



</div> <!-- end of bl-ex-container -->







<br><br><br><br><br>
<br><br><br><br><br><br><br>










</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
