<% @page_title = 'Сравнительные степени прилагательных:: Английская грамматика' %>
<% @page_meta = {'description' => "Английская грамматика: онлайн упражнения на сравнительные степени прилагательных"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>
<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>
<% end %> 
 


<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Ссылки по теме</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="/ru/en/english-adjective-comparative.html">Сравнительные степени прилагательных</a></li>
					<li><a href="/ru/en/english-grammar.html">Грамматика</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Упражнения: Сравнительная степень</h2>

<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Упражнения: Сравнительная степень прилагательных</span> 
</h3>


<div id="pagecontent"><div id="content">

<div class="bl-ex-container">

<h4 class="su-task">
Задание 1. Поставьте прилагательные в сравнительную степень 
</h4>
<div class="su-exerc">
<div>	
				
<p class="task">Напечатайте формы прилагательных в текстовом поле. </p> 


<div  class="gr_ex_type">


<div class="gex-area-trans">

<div class="gext_task gext_sign">
1.	My car is <input type="text" style="width:70px" value="fast"> <span class="gext_answer" style="display: none">faster</span>
than yours.<div class="gext_show"><span>My car is <b>faster</b> than yours.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
2.	Arthur is tired. John is <input type="text" style="width:100px" value="tired"> <span class="gext_answer" style="display: none">more tired</span>
.<div class="gext_show"><span>Arthur is tired. John is <b>more tired</b> .</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
3.	His sister is <input type="text" style="width:80px" value="pretty"> <span class="gext_answer" style="display: none">prettier</span>
than Alice.<div class="gext_show"><span>His sister is <b>prettier</b> than Alice.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
4.	Fabruary is <input type="text" style="width:70px" value="short"> <span class="gext_answer" style="display: none">shorter</span>
than March.<div class="gext_show"><span>Fabruary is <b>shorter</b> than March.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
5.	The football is <input type="text" style="width:100px" value="popular"> <span class="gext_answer" style="display: none">more popular</span>
than hockey.<div class="gext_show"><span>The football is <b>more popular</b> than hockey.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
6.	Summer is <input type="text" style="width:70px" value="warm"> <span class="gext_answer" style="display: none">warmer</span>
than autumn.<div class="gext_show"><span>Summer is <b>warmer</b> than autumn.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
7.	The sea is deep, but the ocean is <input type="text" style="width:70px" value="deep"> <span class="gext_answer" style="display: none">deeper</span>
.<div class="gext_show"><span>The sea is deep, but the ocean is <b>deeper</b> .</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
8.	This task is <input type="text" style="width:110px" value="difficult"> <span class="gext_answer" style="display: none">more difficult</span>
than that one.<div class="gext_show"><span>This task is <b>more difficult</b> than that one.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
9.	The Sun is <input type="text" style="width:70px" value="big"> <span class="gext_answer" style="display: none">bigger</span>
than Moon.<div class="gext_show"><span>The Sun is <b>bigger</b> than Moon.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
10.	January is much <input type="text" style="width:70px" value="cold"> <span class="gext_answer" style="display: none">colder</span>
than November.<div class="gext_show"><span>January is much <b>colder</b> than November.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
11.	The book is <input type="text" style="width:110px" value="interesting"> <span class="gext_answer" style="display: none">more interesting</span>
than the film.<div class="gext_show"><span>The book is <b>more interesting</b> than the film.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
12.	April is <input type="text" style="width:70px" value="cold"> <span class="gext_answer" style="display: none">colder</span>
than May.<div class="gext_show"><span>April is <b>colder</b> than May.</span> &nbsp;</div>
</div>

</div><!-- end of gex-area-trans -->

<p class="gext_check es-ex-buttons gex-es-btn">
<input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Показать ответы" class="gext_answer_show">
</p>

</div>
</div>
</div> <!-- end of su-exerc -->

<br><br><br>


<h4 class="su-task">
Задание 1. Поставьте прилагательные в превосходную степень 
</h4>
<div class="su-exerc">
<div>	
				
<p class="task">Напечатайте формы прилагательных в текстовом поле. </p> 


<div  class="gr_ex_type">


<div class="gex-area-trans">

<div class="gext_task gext_sign">
1.	Summer is <input type="text" style="width:85px" value="warm"> <span class="gext_answer" style="display: none">the warmest</span>
season of the year.<div class="gext_show"><span>Summer is <b>the warmest</b> season of the year.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
2.	Tom is <input type="text" style="width:80px" value="lazy"> <span class="gext_answer" style="display: none">the laziest</span>
student in the class.<div class="gext_show"><span>Tom is <b>the laziest</b> student in the class.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
3.	This is <input type="text" style="width:125px" value="important"> <span class="gext_answer" style="display: none">the most important</span>
problem.<div class="gext_show"><span>This is <b>the most important</b> problem.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
4.	Margaret is <input type="text" style="width:80px" value="nice"> <span class="gext_answer" style="display: none">the nicest</span>
person I know.<div class="gext_show"><span>Margaret is <b>the nicest</b> person I know.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
5.	This exercise is <input type="text" style="width:120px" value="difficult"> <span class="gext_answer" style="display: none">the most difficult</span>
.<div class="gext_show"><span>This exercise is <b>the most difficult</b> .</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
6.	This is <input type="text" style="width:120px" value="popular"> <span class="gext_answer" style="display: none">the most popular</span>
singer.<div class="gext_show"><span>This is <b>the most popular</b> singer.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
7.	A plane is <input type="text" style="width:80px" value="fast"> <span class="gext_answer" style="display: none">the fastest</span>
way of travelling.<div class="gext_show"><span>A plane is <b>the fastest way</b> of travelling.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
8.	This is <input type="text" style="width:80px" value="funny"> <span class="gext_answer" style="display: none">the funniest</span>
story.<div class="gext_show"><span>This is <b>the funniest</b> story.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
9.	These are <input type="text" style="width:130px" value="interesting"> <span class="gext_answer" style="display: none">the most interesting</span>
books.<div class="gext_show"><span>These are <b>the most interesting</b> books.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
10.	Cairo is one of <input type="text" style="width:80px" value="large"> <span class="gext_answer" style="display: none">the largest</span>
cities in the world.<div class="gext_show"><span>Cairo is one of <b>the largest</b> cities in the world.</span> &nbsp;</div>
</div>

</div><!-- end of gex-area-trans -->

<p class="gext_check es-ex-buttons gex-es-btn">
<input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Показать ответы" class="gext_answer_show">
</p>

</div>
</div>
</div> <!-- end of su-exerc -->



</div> <!-- end of bl-ex-container -->







<br><br><br><br><br>
<br><br><br><br><br><br><br>










</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
