<% @page_title = 'Глагол to be в настоящем времени :: Английская грамматика' %>
<% @page_meta = {'description' => "Английская грамматика: онлайн упражнения на спряжение глагола to be в настоящем времени"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

 
 <script type="text/javascript"> 

 </script>

<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Ссылки по теме</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="/ru/en/english-present-to-be.html">Глагол to be</a></li>
					<li><a href="/ru/en/english-grammar.html">Английсккая грамматика</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Глагол to be</h2>

<div id="pagecontent"><div id="content">

<div class="bl-ex-container">

<h4 class="su-task">
Задание 1. Определите подходящую форму настоящего времени глагола to be  
</h4>
<div class="su-exerc">
<div>	
				
<p class="task">Напечатайте полные формы в текстовом поле. </p> 


<div  class="gr_ex_type">
<div class="gr-ex-testid">g1104010.I</div>

<div class="gex-area-trans">

<div class="gext_task gext_sign"> 
1. It <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">is</span>an interesting book.
<div class="gext_show"><span>It <b>is</b> an interesting book.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
2. They <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">are</span>not Russian.
<div class="gext_show"><span>They <b>are</b> not Russian.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
3. Marina and Boris <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">are</span>from Ukraine.
<div class="gext_show"><span>Marina and Boris <b>are</b> from Ukraine.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
4. The apple <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">is</span>on the table.
<div class="gext_show"><span>The apple <b>is</b> on the table.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
5. He <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">is</span>not a doctor.
<div class="gext_show"><span>He <b>is</b> not a doctor.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
6. This <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">is</span>not a good idea.
<div class="gext_show"><span>This <b>is</b> not a good idea.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
7. I <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">am</span>French.
<div class="gext_show"><span>I <b>am</b> French.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
8. She <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">is</span>from Spain.
<div class="gext_show"><span>She <b>is</b> from Spain.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
9. We <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">are</span>ready.
<div class="gext_show"><span>We <b>are</b> ready.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
10. <input type="text" style="width: 35px" value=""> <span class="gext_answer" style="display: none">Are</span>you students?
<div class="gext_show"><span><b>Are</b> you students?</span> &nbsp;</div>
</div>

</div><!-- end of gex-area-trans -->

<p class="gext_check es-ex-buttons gex-es-btn">
<input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Показать ответы" class="gext_answer_show">
</p>


</div>
</div>
</div> <!-- end of su-exerc -->

<br><br><br>


<h4 class="su-task">
Задание 2. На основе данных фраз постройте вопросительные и отрицательные предложения. В вопросах меняйте первое лицо на второе.
</h4>
	

<div class="su-exerc">
<div id="di1">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix gex_multi_one">
<div class="gr-ex-testid">g1104020.II</div>

<div class="gex-area-trans">

<div class="gext_sign gex_multi_one_item di_mix_first">
<div class="di_mix_tobuild">Thomas is married.</div>
 <div class="di_mix_variants di_mix">Thomas is married not are why</div>
</div>

<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">is Thomas  married</span>
<div class="gext_show"><span><b>Is Thomas  married?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">Thomas is not married</span>
<div class="gext_show"><span><b>Thomas is not married.</b></span> &nbsp;</div>
</div>



<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">Emily is from England.</div>
 <div class="di_mix_variants di_mix">Emily is from England are not where</div>
</div>

<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">is Emily from England</span>
<div class="gext_show"><span><b>Is Emily from England?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">Emily is not from England</span>
<div class="gext_show"><span><b>Emily is not from England.</b></span> &nbsp;</div>
</div>


<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">This is Mr. Johnson.</div>
 <div class="di_mix_variants di_mix">this is Mr.&nbsp;Johnson are who from not</div>
</div>

<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">is this Mr. Johnson</span>
<div class="gext_show"><span><b>Is this Mr. Johnson?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">This is not Mr. Johnson</span>
<div class="gext_show"><span><b>This is not Mr. Johnson.</b></span> &nbsp;</div>
</div>

<div class="gext_sign gex_multi_one_item">
<div class="di_mix_tobuild">Victoria and  Alexander are Russian.</div>
 <div class="di_mix_variants di_mix">Victoria and  Alexander are Russian is not from</div>
</div>

<div class="gext_task gext_sign" style="border-bottom: 0px solid #fff"> 
<input type="text" class="gex-init-val" value="Вопросительное предложение"> <span class="gext_answer" style="display: none">Are Victoria and  Alexander Russian</span>
<div class="gext_show"><span><b>Are Victoria and Alexander Russian?</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<input type="text" class="gex-init-val" value="Отрицательное предложение"> <span class="gext_answer" style="display: none">Victoria and Alexander are not Russian</span>
<div class="gext_show"><span><b>Are Victoria and  Alexander are not Russian.</b></span> &nbsp;</div>
</div>




</div>

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Показать ответы" class="gext_answer_show">
</p>


</div>


</div>


</div> <!-- end of di  -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: false,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>






</div> <!-- end of bl-ex-container -->









<br><br><br><br><br>
<br><br><br><br><br><br><br>










</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
