<% @page_title = 'Множественное число существительных :: Английская грамматика' %>
<% @page_meta = {'description' => "Английская грамматика: онлайн упражнения на образование множественого числа существительных"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

 
 <script type="text/javascript"> 

 </script>

<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Links and Settings</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="russian-nouns-nominative-plural.html"> Nominative plural </a></li>
					<li><a href="/russian-grammar.html">Russian grammar</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Множественное число существительных</h2>

<div id="pagecontent"><div id="content">

<div class="bl-ex-container">


<h4 class="su-task">
Задание 1. Образуйте форму множественного числа существительных (по общему правилу) 
</h4>
<div class="su-exerc">
<div id="di1">	
				
<p class="task">Дополните формы в текстовом поле. </p> 


<div  class="gr_ex_type">


<div class="gex-area-trans">


<table>
<tr valign="top">
<td>
<div class="gext_task gext_sign"> 
1. vase - <input type="text" style="width: 70px" value="vase"> <span class="gext_answer" style="display: none">vases</span> 
<div class="gext_show"><span><b>vases</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
2. key - <input type="text" style="width: 70px" value="key"> <span class="gext_answer" style="display: none">keys</span> 
<div class="gext_show"><span><b>keys</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
3. cherry - <input type="text" style="width: 70px" value="cherry"> <span class="gext_answer" style="display: none">cherries</span> 
<div class="gext_show"><span><b>cherries</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
4. monkey - <input type="text" style="width: 70px" value="monkey"> <span class="gext_answer" style="display: none">monkeys</span> 
<div class="gext_show"><span><b>monkeys</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
5. tomato - <input type="text" style="width: 70px" value="tomato"> <span class="gext_answer" style="display: none">tomatoes</span> 
<div class="gext_show"><span><b>tomatoes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
6. hero - <input type="text" style="width: 70px" value="hero"> <span class="gext_answer" style="display: none">heroes</span> 
<div class="gext_show"><span><b>heroes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
7. dish - <input type="text" style="width: 70px" value="dish"> <span class="gext_answer" style="display: none">dishes</span> 
<div class="gext_show"><span><b>dishes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
8. park - <input type="text" style="width: 70px" value="park"> <span class="gext_answer" style="display: none">parks</span> 
<div class="gext_show"><span><b>parks</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
9. country - <input type="text" style="width: 70px" value="country"> <span class="gext_answer" style="display: none">countries</span> 
<div class="gext_show"><span><b>countries</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
10. message - <input type="text" style="width: 70px" value="message"> <span class="gext_answer" style="display: none">messages</span> 
<div class="gext_show"><span><b>messages</b></span> &nbsp;</div>
</div>
</td>
<td>
<div class="gext_task gext_sign"> 
11. box - <input type="text" style="width: 70px" value="box"> <span class="gext_answer" style="display: none">boxes</span> 
<div class="gext_show"><span><b>boxes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
12. potato - <input type="text" style="width: 70px" value="potato"> <span class="gext_answer" style="display: none">potatoes</span> 
<div class="gext_show"><span><b>potatoes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
13. house - <input type="text" style="width: 70px" value="house"> <span class="gext_answer" style="display: none">houses</span> 
<div class="gext_show"><span><b>houses</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
14. lady - <input type="text" style="width: 70px" value="lady"> <span class="gext_answer" style="display: none">ladies</span> 
<div class="gext_show"><span><b>ladies</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
15.fox- <input type="text" style="width: 70px" value="fox"> <span class="gext_answer" style="display: none">foxes</span> 
<div class="gext_show"><span><b>foxes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
16. bus - <input type="text" style="width: 70px" value="bus"> <span class="gext_answer" style="display: none">buses</span> 
<div class="gext_show"><span><b>buses</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
17. boy - <input type="text" style="width: 70px" value="boy"> <span class="gext_answer" style="display: none">boys</span> 
<div class="gext_show"><span><b>boys</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
18. phrase - <input type="text" style="width: 70px" value="phrase"> <span class="gext_answer" style="display: none">phrases</span> 
<div class="gext_show"><span><b>phrases</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
19. museum - <input type="text" style="width: 70px" value="museum"> <span class="gext_answer" style="display: none">museums</span> 
<div class="gext_show"><span><b>museums</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
20. day - <input type="text" style="width: 70px" value="day"> <span class="gext_answer" style="display: none">days</span> 
<div class="gext_show"><span><b>days</b></span> &nbsp;</div>
</div>


</td>
</tr>
</table>

</div><!-- end of gex-area-trans -->



<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>



</div> <!-- end of su-exerc -->


<br><br>



<h4 class="su-task">
Задание 2. Образуйте форму множественного числа существительных (исключения + общее правило) 
</h4>
<div class="su-exerc">
<div>	
				
<p class="task">Дополните формы в текстовом поле. </p> 


<div  class="gr_ex_type">


<div class="gex-area-trans">


<table>
<tr valign="top">
<td>
<div class="gext_task gext_sign"> 
1. baby - <input type="text" style="width: 70px" value="baby"> <span class="gext_answer" style="display: none">babies</span> 
<div class="gext_show"><span><b>babies</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
2. shelf - <input type="text" style="width: 70px" value="shelf"> <span class="gext_answer" style="display: none">shelves</span> 
<div class="gext_show"><span><b>shelves</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
3. tooth - <input type="text" style="width: 70px" value="tooth"> <span class="gext_answer" style="display: none">teeth</span> 
<div class="gext_show"><span><b>teeth</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
4. tomato - <input type="text" style="width: 70px" value="tomato"> <span class="gext_answer" style="display: none">tomatoes</span> 
<div class="gext_show"><span><b>tomatoes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
5. mouse - <input type="text" style="width: 70px" value="mouse"> <span class="gext_answer" style="display: none">mice</span> 
<div class="gext_show"><span><b>mice</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
6. leaf - <input type="text" style="width: 70px" value="leaf"> <span class="gext_answer" style="display: none">leaves</span> 
<div class="gext_show"><span><b>leaves</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
7. key - <input type="text" style="width: 70px" value="key"> <span class="gext_answer" style="display: none">keys</span> 
<div class="gext_show"><span><b>keys</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
8. monkey - <input type="text" style="width: 70px" value="monkey"> <span class="gext_answer" style="display: none">monkeys</span> 
<div class="gext_show"><span><b>monkeys</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
9. child - <input type="text" style="width: 70px" value="child"> <span class="gext_answer" style="display: none">children</span> 
<div class="gext_show"><span><b>children</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
10. woman - <input type="text" style="width: 70px" value="woman"> <span class="gext_answer" style="display: none">women</span> 
<div class="gext_show"><span><b>women</b></span> &nbsp;</div>
</div>

</td>
<td>

<div class="gext_task gext_sign"> 
11. foot - <input type="text" style="width: 70px" value="foot"> <span class="gext_answer" style="display: none">feet</span> 
<div class="gext_show"><span><b>feet</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
12. life - <input type="text" style="width: 70px" value="life"> <span class="gext_answer" style="display: none">lives</span> 
<div class="gext_show"><span><b>lives</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
13. deer - <input type="text" style="width: 70px" value="deer"> <span class="gext_answer" style="display: none">deer</span> 
<div class="gext_show"><span><b>deer</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
14. man - <input type="text" style="width: 70px" value="man"> <span class="gext_answer" style="display: none">men</span> 
<div class="gext_show"><span><b>men</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
15. sheep - <input type="text" style="width: 70px" value="sheep"> <span class="gext_answer" style="display: none">sheep</span> 
<div class="gext_show"><span><b>sheep</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
16. class - <input type="text" style="width: 70px" value="class"> <span class="gext_answer" style="display: none">classes</span> 
<div class="gext_show"><span><b>classes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
17. dictionary - <input type="text" style="width: 70px" value="dictionary"> <span class="gext_answer" style="display: none">dictionaries</span> 
<div class="gext_show"><span><b>dictionaries</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
18. wolf - <input type="text" style="width: 70px" value="wolf"> <span class="gext_answer" style="display: none">wolves</span> 
<div class="gext_show"><span><b>wolves</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
19. knife - <input type="text" style="width: 70px" value="knife"> <span class="gext_answer" style="display: none">knives</span> 
<div class="gext_show"><span><b>knives</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
20. wife - <input type="text" style="width: 70px" value="wife"> <span class="gext_answer" style="display: none">wives</span> 
<div class="gext_show"><span><b>wives</b></span> &nbsp;</div>
</div>


</td>
</tr>
</table>

</div><!-- end of gex-area-trans -->



<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>



</div> <!-- end of su-exerc -->











</div> <!-- end of bl-ex-container -->

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>










</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
