<% @page_title = 'Указательные местоимения :: Английская грамматика' %>
<% @page_meta = {'description' => "Английская грамматика: онлайн упражнения на формы указательных местоимений"} %>
<% @with_rec = true %>
<% @has_audio = true %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
}
</style>

<% end %> 
 




<div class="hint_wrap">
<div class="hint_button">
	<div class="hint">
    	<div class="hint_list">
    		<span class="hint_string">Ссылки по теме</span>
    	</div>
    </div>
    <div class="sub_hint" style="display: none;">
    		<ul>
    				<li><a href="/ru/en/english-demonstrative-pronouns.html">Указательные местоимения</a></li>
					<li><a href="/ru/en/english-grammar.html">Грамматика</a></li>
    		</ul>
	</div>
</div>
</div>



<h2 class="page">Упражнения: Указательные местоимения</h2>
<h3 class="page-path"> 
<span class="int-links"><a href="/ru/en/english-grammar.html">Грамматика</a> <span class="int-arrow">--&gt;</span> Упражнения: Указательные местоимения</span> 
</h3>

<div id="pagecontent"><div id="content">

<div class="bl-ex-container">


<h4 class="su-task">
Задание 1. Выберите форму this или these 
</h4>
<div class="su-exerc">
<div id="di1">			
<p class="task">Выберите нужную форму из списка. </p> 

<div  class="gr_ex_from_list">

<div class="gex-area-trans">

<div class="gr_ex_unit gext_sign"> 
1. 
<select>
<option>This / These</option>
<option  class="ok">This</option>
<option>These</option>
</select>
is my new red dress. 
</div>

<div class="gr_ex_unit gext_sign"> 
2. I like
<select>
<option>this / these</option>
<option  >this</option>
<option class="ok">these</option>
</select>
postcards. 
</div>

<div class="gr_ex_unit gext_sign"> 
3. Is   
<select>
<option>this / these</option>
<option  class="ok">this</option>
<option >these</option>
</select>
a pen or a pencil? 
</div>

<div class="gr_ex_unit gext_sign"> 
4. I don’t understand 
<select>
<option>this / these</option>
<option  class="ok">this</option>
<option >these</option>
</select>
word.
</div>

<div class="gr_ex_unit gext_sign"> 
5. 
<select>
<option>This / These</option>
<option >This</option>
<option  class="ok">These</option>
</select>
 books are interesting.
</div>

<div class="gr_ex_unit gext_sign"> 
6. We know  
<select>
<option>this / these</option>
<option  class="ok">this</option>
<option >these</option>
</select>
designer.
</div>

</div><!-- end of gex-area-trans -->

<p class="ex_from_list_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > </p>
</div>

</div>

</div> <!-- end of su-exerc -->


<br><br>




<h4 class="su-task">
Задание 1. Выберите форму that или those 
</h4>
<div class="su-exerc">
<div id="di1">			
<p class="task">Выберите нужную форму из списка. </p> 

<div  class="gr_ex_from_list">

<div class="gex-area-trans">

<div class="gr_ex_unit gext_sign"> 
1. 
<select>
<option>That / Those</option>
<option  >That</option>
<option class="ok">Those</option>
</select>
 are not pencils. 
</div>

<div class="gr_ex_unit gext_sign"> 
2. 
<select>
<option>That / Those</option>
<option  class="ok">That</option>
<option>Those</option>
</select>
picture is beautiful. 
</div>

<div class="gr_ex_unit gext_sign"> 
3.    
<select>
<option>That / Those</option>
<option  class="ok">That</option>
<option >Those</option>
</select>
 is a big room.
</div>

<div class="gr_ex_unit gext_sign"> 
4. Are  
<select>
<option>that / those</option>
<option  >that</option>
<option class="ok">those</option>
</select>
your sisters? 
</div>

<div class="gr_ex_unit gext_sign"> 
5. I don’t like that 
<select>
<option>that / those</option>
<option class="ok">that</option>
<option >those</option>
</select>
 car.
</div>

<div class="gr_ex_unit gext_sign"> 
6. We want to buy 
<select>
<option>that / those</option>
<option >that</option>
<option  class="ok">those</option>
</select>
souvenirs. 
</div>

</div><!-- end of gex-area-trans -->

<p class="ex_from_list_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > </p>
</div>

</div>

</div> <!-- end of su-exerc -->


<br><br>











</div> <!-- end of bl-ex-container -->

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>










</div>
</div>

<script type="text/javascript">
currentSection="grammar";
</script>
