<% @page_title = 'Урок 2' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
</script>


<% end %>





<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Урок 2
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>

	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(17).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>



<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<%
@voc2 = @voc1 
@last_voc2 = (@voc2.length)-1
%>

		
<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.text.to_s.gsub(/"/,'\"') %>", "<%= voc_word.translate.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>

<% end %>
		

		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика</h3>
<p class="su-step-info">
Данный этап предназначен для работы с полезными словами и выражениями по теме урока.
</p>	
	

<h4 class="su-task">
Задание 1. Ознакомьтесь со словами и выражениями урока.
</h4>
	
<br><br>


<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(16)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её перевод.
</h4>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
['<%= word.sound_url %>', "<%= word.translate.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>	


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Теория</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с правилами грамматики и лексики.
</p>		

<h3 class="su-page-p" style="margin-top: 0;">Личные местоимения</h3>
<p>
Личные местоимения - слова, которые обозначают людей, животных или предметы, не называя их. Личные местоимения в русском языке: я, ты, он, они, мы, вас, их и т.д. В английском языке личные местоимения имеют два падежа: номинативный и объектный. В этом уроке будут рассматриваться формы номинативного падежа, который соответствует русскому именительному падежу. 
</p> 
<p>
Английские личные местоимения в номинативном падеже выполняют роль подлежащего в предложении и имеют следующие формы: 
</p>


<table class="su-gr-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>1 лицо</td><td>I</td><td>We</td>
	</tr>
	<tr>
		<td>2 лицо</td><td>You</td><td>You</td>
	</tr>
	<tr>
		<td>3 лицо</td><td>He<br> she <br> it</td><td>They</td>
	</tr>
</tbody>
</table>



<h3 class="su-page-p">Глагол to be и его спряжение в настоящем времени</h3>
<p>
Глагол to be быть имеет важное значение в английском языке. Он используется во многих грамматических конструкциях, а также выступает в качестве глагола-связки. В русском языке глагол быть может отсутствовать. Например, в русском языке глагол "быть" не употребляется в настоящем времени: Он студент - глагол "быть" подразумевается, но не используется (сравните: Он был студентом, Он будет студентом). В английском языке употребление глагола to be в подобных случаях обязательно.
</p>
	
<div class="egdiv">
<h4>Пример: </h4>
<p>
<em>I <u>am</u> from Moscow.</em>  Я из Москвы.
</p>
</div>
<p>
В настоящем времени глагол to be имеет три формы: am, is, are. Его спряжение выглядит следующим образом:
</p>
<table class="su-gr-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>1 лицо</td><td>I am</td><td>We are</td>
	</tr>
	<tr>
		<td>2 лицо</td><td>you are</td><td>you are</td>
	</tr>
	<tr>
		<td>3 лицо</td><td>he is<br> she is<br> it is</td><td>They are</td>
	</tr>
</tbody>
</table>

<p>
В разговорной речи часто употребляются сокращенные формы:
</p>

<p style="padding-left: 20px;">
am - 'm: I'm <br>
is - 's: He's <br>
are - 're: We're 
<p>





<br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br>
	
	</div>
</div>




<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>	
	
<h4 class="su-task">
Задание 1. Определите подходящую форму глагола to be во фразах. 
</h4>
	


<div class="su-exerc">
<div id="di1">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их. </p> 

<br>
<table style="cursor: pointer; margin: 0 auto; border: 1px dashed #000; background-color: #fff;" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td>
		<div>am</div>
	</td>
	<td>
		<div>is</div>
	</td>
	<td>
		<div>are</div>
	</td>
</tr>
</table>
<br>



<div  class="gr_ex_type">

<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 

1. We <input type="text" style="width: 40px" value=""><span class="gext_answer" style="display: none">are</span> from France. 
 
<div class="gext_show"><span>We <b>are</b> from France.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

2. I <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">am</span> from Great Britain.
 
<div class="gext_show"><span>I <b>am</b> from Great Britain.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

3. Jeff and Linda <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">are</span> from Canada. 
 
<div class="gext_show"><span>Jeff and Linda <b>are</b> from Canada.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

4. They <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">are</span> from Germany.
 
<div class="gext_show"><span>They <b>are</b> from Germany.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 

5. Alex <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">is</span> from Spain.
 
<div class="gext_show"><span>Alex <b>is</b> from Spain.</span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 
6. You <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">are</span> from Moscow.
<div class="gext_show"><span>You <b>are</b> from Moscow.</span> &nbsp;</div>
</div>

<div class="gext_task gext_sign"> 
7. I <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">am</span> Linda. 
<div class="gext_show"><span>I <b>am</b> Linda.</span> &nbsp;</div>
</div>

<div class="gext_task gext_sign"> 
8. He <input type="text" style="width: 40px" value=""> <span class="gext_answer" style="display: none">is</span> from Australia.
<div class="gext_show"><span>He <b>is</b> from Australia</span> &nbsp;</div>
</div>



<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>


</div>



</div> <!-- end of su-exerc -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: false,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"

		} )
</script>




<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Практика</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	
	

<h4 class="su-task">
Задание 1. Прослушайте фразы и подберите подходящую реплику к фразам.
</h4>

<div id="sl1" class="ds-wrapper drag-sort-list" style="padding: 15px;">
		

<table align="center" style="margin: 0 auto;">
<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="center" style="margin: 0 auto">

<col width="150"><col width="150"><col width="150">

<tr>

	<th class="ds-border-right" >
		<table class="ds-table" cellspacing="0" align="center">
			<tr>
				<td style="border-width:0; padding: 3px; padding-left: 6px;">Запись 1</td>
				<td style="border-width:0; padding: 3px"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
			</tr>
		</table>
	</th>

	<th class="ds-border-right" >
		<table class="ds-table" cellspacing="0" align="center">
			<tr>
				<td style="border-width:0; padding: 3px; padding-left: 6px;">Запись 2</td>
				<td style="border-width:0; padding: 3px"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
			</tr>
		</table>	
	</th>
	<th class="ds-border-right" >

		<table class="ds-table" cellspacing="0" align="center">
			<tr>
				<td style="border-width:0; padding: 3px;padding-left: 6px;">Запись 3</td>
				<td style="border-width:0; padding: 3px"><div class="jp_control" onclick="cJplayer('/sounds/sound01101.mp3', this)"></div></td>
			</tr>
		</table>	
	</th>
</tr>
<tr>
	<td class="ds-answer ds-border-right" style="vertical-align: top; height: 110px">

		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>
	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 110px">
		<div class="ds_sort_item">
		</div>
		&nbsp;
	</td>

	<td class="ds-answer ds-border-right " style="vertical-align: top; height: 110px">
		<div class="ds_sort_item">
			
		</div>
		&nbsp;
	</td>
</tr>


</table>

</td>

</tr>
<tr>
	<td>
	
		<!-- div class="ds_check_sign"></div -->
	
	</td>
</tr>
<tr>

<td>
	
<br>

<table class="ds_variants_list"  style="margin: 0 auto" align="center">
<col width="150">
<col width="150">
<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Это Алекс.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Это Стив.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Это Майкл.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Это Марк.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Это Роберт.</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Он канадец.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Он австралиец.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Он англичанин.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Он русский.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Он американец.</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Проверить" /a>

</div>

</div>

<script type="text/javascript"> 
	var sl1 = new sortlist_test( {
		id: "sl1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#fff",
		auto_check: false
		} )
</script>

	
	
<br><br>

<h4 class="su-task">
Задание 2. Выполните перевод, используя данные слова.
</h4>





<div class="su-exerc">
<div id="di4">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix">

<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">Он из Италии.</div>
<div class="di_mix_variants di_mix">he she they are is from Italy</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">He is from Italy</span>
<div class="gext_show"><span><b>He is from Italy.</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Роберт из США.</div>
<div class="di_mix_variants di_mix">Robert Roger are and is from the&nbsp;USA Canada</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">Robert is from the USA</span>
<div class="gext_show"><span><b>Robert is from the USA.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Они из России.</div>
 <div class="di_mix_variants di_mix">they we you are from Russia Romania</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">They are from Russia</span>

<div class="gext_show"><span><b>They are from Russia</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Она из Германии.</div>
 <div class="di_mix_variants di_mix">she they are he is from Germany</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">She is from Germany</span>

<div class="gext_show"><span><b>She is from Germany.</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Мы из Великобритании.</div>
 <div class="di_mix_variants di_mix">we you he is are from Great Britain England.</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">We are from Great Britain</span>

<div class="gext_show"><span><b>We are from Great Britain.</b></span> &nbsp;</div>

</div>


<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di4  -->


<script type="text/javascript"> 
	var di4 = new draginput_test( {
		id: "di4", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>



	<br><br><br><br>








	


	</div>
</div>
















</div>



















<script type="text/javascript">
currentSection="course";
</script>
