<% @page_title = 'Урок 6' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'jquery-ui-1.8.6.dial.min.js' %>
<%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	$(function() {
	
	$("#les-res").click(function() {
		$( "#dialog" ).dialog({
			height: 300,
			width: 400,
			modal: true
		}).dialog( "option", "buttons", { "Ok": function() { $(this).dialog("close"); } } );	
	})

	});

</script>


<% end %>



<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Урок 6
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>
	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(27).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>	
	
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>



<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
<%
@voc2 = Cluster.find(28).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
@last_voc2 = (@voc2.length)-1
%>
		
<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.text.to_s.gsub(/"/,'\"') %>", "<%= voc_word.translate.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>

<% end %>
		

		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика</h3>
<p class="su-step-info">
Данный этап предназначен для работы с полезными словами и выражениями по теме урока.
</p>	
	
<h4 class="su-task">
Задание 1. Ознакомьтесь со словами и выражениями урока.
</h4>


<br><br>
<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(29)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её перевод.
</h4>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
["<%= word.text %>", "<%= word.translate.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>	


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Теория</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с правилами грамматики и лексики.
</p>		

<h3 class="su-page-p" style="margin-top: 0;">Множественное число существительных</h3>

<p>
В английском языке исчисляемые существительные имеют форму единственного и множественного числа.
</p>

<h4 class="page-pp">Общие правила образования множественного числа</h4>

<p>После глухих согласных добавляется -s, которое читается как [s]: cat - cats</p>
<p>После звонких согласных и гласных добавляется -s, которое читается как [z]: dog - dogs</p>
<p>У слов оканчивающихся на согласная +у,  у заменяется на i и прибавляется окончание -es: dictionary - dictionaries, baby - babies</p>
<p>После шипящих и свистящих: 
<ul>
	<li>добавляется -s, если слово окончивается на -e: place - places</li>
	<li>добавляется -es, если слово оканчивается на -s, -ss, -z, -x, -ch, -sh: box - boxes</li>
</ul>
в обоих случаях окончание читается как [iz]

</p>

<h4 class="page-pp">Исключения 1</h4>


<p>1. Изменяется гласная: </p>
<p>
- man - men<br>
- woman - women<br>
- mouse - mice<br>
- foot - feet<br>
- tooth - teeth<br>
</p>
<p>2. Добавляется -(r)en : child - children</p>
<p>3. Меняется -f на -ves: knife - knives, half - halves, leaf - leaves, wolf - wolves</p>
<p>4. Не изменяются: sheep, fish, deer</p>

<br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br>
	
	</div>
</div>


<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>	
	
<h4 class="su-task">
Задание 1. Образуйте форму множественного форму существительных.
</h4>
	



<div class="su-exerc">

<div class="task">Напечатайте окончание или форму слова в текстовом поле</div>

<div  class="gr_ex_type">

<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 
1. man- <input type="text" style="width: 70px" value="man"> <span class="gext_answer" style="display: none">men</span> 
<div class="gext_show"><span><b>men</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
2. wife- <input type="text" style="width: 70px" value="wife"> <span class="gext_answer" style="display: none">wives</span> 
<div class="gext_show"><span><b>wives</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
3. baby- <input type="text" style="width: 70px" value="baby"> <span class="gext_answer" style="display: none">babies</span> 
<div class="gext_show"><span><b>babies</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
4. brush- <input type="text" style="width: 70px" value="brush"> <span class="gext_answer" style="display: none">brushes</span> 
<div class="gext_show"><span><b>brushes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
5. child- <input type="text" style="width: 70px" value="child"> <span class="gext_answer" style="display: none">children</span> 
<div class="gext_show"><span><b>children</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
6. businessman- <input type="text" style="width: 100px" value="businessman"> <span class="gext_answer" style="display: none">businessmen</span> 
<div class="gext_show"><span><b>businessmen</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
7. dish- <input type="text" style="width: 70px" value="dish"> <span class="gext_answer" style="display: none">dishes</span> 
<div class="gext_show"><span><b>dishes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
8. dress- <input type="text" style="width: 70px" value="dress"> <span class="gext_answer" style="display: none">dresses</span> 
<div class="gext_show"><span><b>dresses</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
9. mouse- <input type="text" style="width: 70px" value="mouse"> <span class="gext_answer" style="display: none">mice</span> 
<div class="gext_show"><span><b>mice</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
10. potato- <input type="text" style="width: 70px" value="potato"> <span class="gext_answer" style="display: none">potatoes</span> 
<div class="gext_show"><span><b>potatoes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
11. hero- <input type="text" style="width: 70px" value="hero"> <span class="gext_answer" style="display: none">heroes</span> 
<div class="gext_show"><span><b>heroes</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
12. lady- <input type="text" style="width: 70px" value="lady"> <span class="gext_answer" style="display: none">ladies</span> 
<div class="gext_show"><span><b>ladies</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
13. girl- <input type="text" style="width: 70px" value="girl"> <span class="gext_answer" style="display: none">girls</span> 
<div class="gext_show"><span><b>girls</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
14. woman- <input type="text" style="width: 70px" value="woman"> <span class="gext_answer" style="display: none">women</span> 
<div class="gext_show"><span><b>women</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
15. knife- <input type="text" style="width: 70px" value="knife"> <span class="gext_answer" style="display: none">knives</span> 
<div class="gext_show"><span><b>knives</b></span> &nbsp;</div>
</div>
<div class="gext_task gext_sign"> 
16. boy- <input type="text" style="width: 70px" value="boy"> <span class="gext_answer" style="display: none">boys</span> 
<div class="gext_show"><span><b>boys</b></span> &nbsp;</div>
</div>

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Check answers" > <input type="button" value="Display answers" class="gext_answer_show"></p>


</div>



</div> <!-- end of su-ex  -->






<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Практика</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	
	

<h4 class="su-task">
Задание 1. Прочитайте текст и подберите соответсвующие имена в нижнем списке.
</h4>


<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">

	<tr>
		<td >Stacy and Linda are from Canada. They are married. Stacy is a doctor and Linda is a teacher.</td>
	</tr>
	<tr>
		<td >John and Stanley are professional designers. They are American. John is married and Stanley is single.</td>
	</tr>
	<tr>
		<td >This is Kate. She is not married. She is a journalist from Australia. Kate is a good journalist.</td>
	</tr>
	
</table>	
</div>	
</div>




<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p class="task" align="center">Перетащите слова из нижнего списка и нажмите "Проверить"</p>		
<br>
<table align="center" style="margin: 0 auto;">

<tr>
<td>


<table class="dst-test ds-table ds-table-nosound" cellspacing="0" align="left" style="margin: auto">
<col width="80">
<col width="40">
<col width="300">
<tr>
	<td class="ds-answer ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" align="center">
			Дизайнер из США. Холост.
	</td>	
</tr>
<tr>
	<td class="ds-answer ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" align="center">
			Учитель из Канады. Замужем.
	</td>	
</tr>
<tr>
	<td class="ds-answer ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" align="center">
			Журналист из Австралии. Не замужем.
	</td>	
</tr>
<tr>
	<td class="ds-answer ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" align="center">
			Дизайнер из США. Женат.
	</td>	
</tr>
<tr>
	<td class="ds-answer ds-audio-listen">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-quest" align="center">
			Врач из США. Замужем.
	</td>	
</tr>
</table>

</td>

</tr>
<tr>

<td>

	
<br>
<br>

<table class="ds_variants_list" width="100%">
<tr valign="top">
<td>

<ul class="no-list" style="padding-left: 30px;">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Кейт</div></div>
	</li>

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>Стэнли</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Линда</div></div>
	</li>
</ul>
</td>
<td>
<ul class="no-list" style="padding-left: 30px;">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Хулио</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">5</span>Стэйси</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>Джон</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Проверить">

</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F6FAFF",
		auto_check: false
		} )
</script>	

<br><br>
	
	



<h4 class="su-task">
Задание 2. Подоберите краткие ответы к вопросам.
</h4>


<div class="su-exerc">
			
<p class="task">Выберите нужную форму из списка. </p> 

<div  class="gr_ex_from_list">

<div class="gex-area-trans">

<div class="gr_ex_unit gext_sign"> 
1. Are they doctors? - 
<select>
<option>Yes</option>
<option>Yes, we are</option>
<option  class="ok">Yes, they are</option>
<option>Yes, it is</option>
</select>. 
</div>

<div class="gr_ex_unit gext_sign"> 
2. Are you an architect? - 
<select>
<option>Yes</option>
<option class="ok">Yes, I am</option>
<option >Yes, it is</option>
<option >Yes, I'm</option>
</select>. 
</div>

<div class="gr_ex_unit gext_sign"> 
3. Is he a good interpreter? -  
<select>
<option>No</option>
<option  class="ok">No, he isn't</option>
<option >No, they are not.</option>
<option >No, she isn't.</option>
</select>
. 
</div>

<div class="gr_ex_unit gext_sign"> 
4. Is she a manager? - 
<select>
<option>Yes</option>
<option>Yes, she does.</option>
<option  class="ok">Yes, she is.</option>
<option >Yes, she will.</option>
</select>
.
</div>

<div class="gr_ex_unit gext_sign"> 
5. Are you teachers?
<select>
<option>No</option>
<option >No, we don't</option>
<option >No, they aren't</option>
<option  class="ok">No, we aren't</option>
</select>.
</div>

<div class="gr_ex_unit gext_sign"> 
6. Are they from Spain?
<select>
<option>No</option>
<option>No, it isn't</option>
<option  class="ok">No, they aren't</option>
<option  class="ok">No, they are not</option>
</select>.
</div>

</div><!-- end of gex-area-trans -->

<p class="ex_from_list_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > </p>
</div>

</div> <!-- end of su-exerc -->

	<br><br>
	
<input style="display: none" type="button" id="les-res" value="Results">	

<div style="display: none">
<div id="dialog" title="Results of the lesson">
	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

</div>
	
	<br><br>

	


	</div>
</div>


</div>








<script type="text/javascript">
currentSection="course";
</script>
