<% @page_title = 'Урок 10' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'jquery-ui-1.8.6.dial.min.js' %>
<%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	$(function() {
	
	$("#les-res").click(function() {
		$( "#dialog" ).dialog({
			height: 300,
			width: 400,
			modal: true
		}).dialog( "option", "buttons", { "Ok": function() { $(this).dialog("close"); } } );	
	})

	});

</script>


<% end %>



<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Урок 10
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>
	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(51).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>	
	
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>



<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c1110012.1.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
<%
@voc2 = Cluster.find(51).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
@last_voc2 = (@voc2.length)-1
%>
		
<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.sound_url %>", "<%= voc_word.translate.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>

<% end %>
		

		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика</h3>
<p class="su-step-info">
Данный этап предназначен для работы с полезными словами и выражениями по теме урока.
</p>	
	
<h4 class="su-task">
Задание 1. Ознакомьтесь со словами и выражениями урока.
</h4>


<br><br>
<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(53)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её перевод.
</h4>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "c1110022.2.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
["<%= word.sound_url %>", "<%= word.translate.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>	


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Теория</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с правилами грамматики и лексики.
</p>		

<h3 class="su-page-p" style="margin-top: 0;">Определенный артикль</h3>

<p>
Определенный артикль произошел от указательного местоимения <span class="eg">that</span> <span class="egt">тот</span>  и употребляется с существительным в том случае, если понятно (из контекста, окружающей обстановке и т.д.), что речь идет именно о данном предмете. Он выделяет предмет из класса ему подобных, указывает на уже известный говорящему или слушающему предмет.
</p>
<div class="egdiv">
<h4>Пример: </h4>
	<p>	<span class="exs-or">Give me <u>the book</u>.</span> - Дайте мне (эту) книгу. (В ситуации понятно, о какой именно книге идет речь)</p>
	<p>	Сравните: </p>
	<p>	<span class="exs-or">Give me <u>a book</u>.</span> - Дайте мне (любую, какую-нибудь) книгу. (В ситуации понятно, о какой именно книге идет речь)</p>
</div>


<p>
Определенный артикль может использоваться перед любым существительным в любом числе.  
</p>
<p>
Кроме общего значения, следует также выделить наиболее частые случаи употребления определенного артикля: 
</p>

<ul style="list-style: none">
	<li>- перед существительными, обозначающими уникальные, единственные в своем роде предметы
	<div class="ex-block-simple">
		<span class="exs-or"><u>the Earth</u></span> - Земля (планета)<br>
		<span class="exs-or"><u>the Sun</u></span> - Солнце
	</div>
	
	</li>
	<li>- перед существительными, которые имеют определение в значении ограничения
	<div class="ex-block-simple">
		<span class="exs-or"><u>The girl</u> sitting over there</span> - Девочка, сидящая вон там
	</div>	
	</li>
	<li>- перед существительными, которые употребляются с порядковыми числительными или со словами <span class="eg">next</span> (в значении <span class="egt">следующий</span>) и <span class="eg">last</span> (в значении <span class="egt">последний</span>)
	<div class="ex-block-simple">
		<span class="exs-or">When is  <u>the first bus</u> to London tomorrow?</span> - Когда будет первый автобус до Лондона завтра?
	</div>	
	</li>
	<li>- перед существительными, обозначающими название национальностей, когда речь идет о народе в целом, о всех его представителях
	<div class="ex-block-simple">
		<span class="exs-or"><u>The Russians </u>  are very keen on football.</span> - Русские очень любят футбол.
	</div>	
	</li>
	<li>- перед существительными, обозначающими часто посещаемые места, используемые средства транспорта, коммуникации и т.п.
	<div class="ex-block-simple">
		<span class="exs-or">I'm going to <u>the bank</u>.</span> - Я иду в банк.
	</div>	
	</li>
</ul>



<br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br>
	
	</div>
</div>


<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>	
	

<h4 class="su-task">
Задание 1. Сделайте перевод фраз с помощью представленных слов. Обратите внимание на употребление артиклей.
</h4>

<div class="su-exerc">
<div id="di4">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">c1110041.4.1</div>


<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">Это карандаш. Карандаш лежит на столе.</div>
<div class="di_mix_variants di_mix">this is a pencil the on table</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">This is a pencil The pencil is on the table</span>
<div class="gext_show"><span><b>This is a pencil. The pencil is on the table.</b></span> &nbsp;</div>
</div>


<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Это мой брат. Он работает учителем.</div>
<div class="di_mix_variants di_mix">this my brother he is a the teacher</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">This is my brother he is a teacher</span>
<div class="gext_show"><span><b>This is my brother. He is a teacher.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Это не карандаш. Это ручка.</div>
 <div class="di_mix_variants di_mix">it is not a pen the pencil</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">it is not a pencil it is a pen</span>
<div class="gext_show"><span><b>It is not a pencil. It is a pen.</b></span> &nbsp;</div>
</div>


<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Это моя комната. Комната просторная и светлая.</div>
 <div class="di_mix_variants di_mix">this is my room a the large and clear</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">This is my room the room is large and clear</span>
<div class="gext_show"><span><b>This is my room. The room is large and clear</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Это немецкая автомобиль. Немецкие машины очень хорошие</div>
 <div class="di_mix_variants di_mix">this is a German car cars are very good</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">This is a German car German cars are very good</span>
<div class="gext_show"><span><b>This is a German car. German cars are very good.</b></span> &nbsp;</div>
</div>


<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di4  -->


<script type="text/javascript"> 
	var di4 = new draginput_test( {
		id: "di4", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		//one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>



<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Практика</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	
	

<h4 class="su-task">
Задание 1. Сделайте перевод фраз с помощью представленных слов.
</h4>

<div class="su-exerc">
<div id="di5">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">c1110051.5.1</div>


<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">Меня зовут Михаил.</div>
<div class="di_mix_variants di_mix">my name is Michael am from are a the</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">My name is Michael</span>
<div class="gext_show"><span><b>My name is Michael.</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Я работаю менеджером.</div>
<div class="di_mix_variants di_mix">I am a manager in designer the is</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">I am a manager</span>
<div class="gext_show"><span><b>I am a manager.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Я живу в Москве.</div>
 <div class="di_mix_variants di_mix">I am from Moscow Russian in the a</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">I am from Miscow</span>
<div class="gext_show"><span><b>I am from Miscow.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Мою супругу зовут Ольга, она врач</div>
 <div class="di_mix_variants di_mix">my wife's name is Olga her she is a doctor the</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">My wife's name is Olga, she is a doctor</span>
<div class="gext_show"><span><b>My wife's name is Olga, she is a doctor.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Моя дочка Таня - школьница.</div>
 <div class="di_mix_variants di_mix">my daughter Tanya is a schoolgirl the</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">my daughter Tanya is a schoolgirl</span>
<div class="gext_show"><span><b>My daughter Tanya is a schoolgirl</b></span> &nbsp;</div>
</div>


<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di4  -->


<script type="text/javascript"> 
	var di5 = new draginput_test( {
		id: "di5", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>



<br><br>
	

<h4 class="su-task">
Задание 2. Напечатайте фразу под диктовку.
</h4>



<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch3 = new ch_exercise( {
		id: "ch3", 
		test_id: "c1110052.5.2",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
['<%= word.sound_url %>', "<%= word.text.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>
	
	<br><br>

	


	</div>
</div>


</div>



<script type="text/javascript">
currentSection="course";
</script>
