<% @page_title = 'Урок 1' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
</script>


<% end %>





<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Урок 1
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>

	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(14).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>



<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c1101012.1.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<%
@voc2 = @voc1 
@last_voc2 = (@voc2.length)-1
%>

<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.sound_url.to_s.gsub(/"/,'\"') %>", "<%= voc_word.text.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>

<% end %>
		

		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика</h3>
<p class="su-step-info">
Данный этап предназначен для работы с полезными словами и выражениями по теме урока.
</p>	
	

<h4 class="su-task">
Задание 1. Ознакомьтесь со словами и выражениями урока.
</h4>
	
<br><br>


<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(15)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её перевод.
</h4>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "c1101022.2.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
['<%= word.sound_url %>', "<%= word.translate.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>	


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Теория</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с правилами грамматики и лексики.
</p>	
	

	
<h3 class="su-page-p" style="margin-top: 0;">Формы обращения</h3>
<p>
В русском языке существует разделение между вежливой формой обращения к собеседнику (Вы) и неформальной формой (ты). В английском языке такого разделения нет. Более того, и для единственного и для множественного числа используется одно местоимение - you. Сказуемое для данного местоимения всегда ставится во множественном числе.
</p> 

<div class="egdiv">
<h4>Пример: </h4>
<p>
<em>How <u>are</u> you?</em>
</p>
<p>
Подлежащее - you. Сказуемое <b>are</b> - форма множественного числа глагола to be 'быть'
</p>

</div>



<h3 class="su-page-p">Порядок членов предложения</h3>
<p>
Для повествовательных предложений в английском языке характерен прямой порядок слов. Это означает, что подлежащее должно предшествовать сказуемому, а также что дополнение должно следовать за глаголом. Поскольку в английском языке нет падежей, роль слов в предложении в большой степени зависит порядка слов. Изменение порядка слов может привести к грамматической ошибке или изменению смысла всего предложения.
</p>
	
<div class="egdiv">
<h4>Примеры: </h4>
<p>
<em>You are a student.</em> - Ты студент. (You - подлежащее, are - глагол-сказуемое)
</p>
<p>
В русском языке в определённых условиях возможно изменение порядка слов (Студент я), при этом грамматической ошибки не будет. 
В англйиском варианте представлен единственно возможный порядок данных слов, изменение которого приведет к грамматической ошибке.
</p>
<p>
<em>Cats eat mice.</em> - Кошки едят мышей. (Cats - подлежащее, eat - глагол-сказуемое, mice - дополнение)
</p>
<p>
В русском языке в определённых условиях возможно изменение порядка слов (Мышей едят кошки, едят кошки мышей), при этом смысл изменяться не будет. 
В англйиском варианте изменение порядка слов в данном предложении приведет к изменению смысла или грамматической ошибке: 
Mice eat cats (Мыши едят кошек), Eat cats mice (грамматически неправильный вариант).
</p>

</div>


<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br><br>
	
	</div>
</div>




<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>	
	
<h4 class="su-task">
Задание 1. Постройте предложения в соответствии с прямым порядком слов, по схеме Подлежащее - Сказуемое - Дополнение.
</h4>
	


<div class="su-exerc">
<div id="di4">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 

<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid">c1101041.4.1</div>

<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_variants di_not_mix">Улицу убирают дворники</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">дворники убирают улицу</span>
<div class="gext_show"><span><b>Дворники убирают улицу.</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign"> 
<div class="di_mix_variants di_not_mix">Мой&nbsp;брат книгу читает</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">Мой брат читает книгу</span>
<div class="gext_show"><span><b>Мой брат читает книгу.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
 <div class="di_mix_variants di_not_mix">Осенью прилетают птицы.</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">птицы прилетают осенью</span>

<div class="gext_show"><span><b>Птицы прилетают осенью</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign">
 <div class="di_mix_variants di_not_mix">Обед готовит моя&nbsp;мама</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">моя мама готовит обед</span>

<div class="gext_show"><span><b>Моя мама готовит обед.</b></span> &nbsp;</div>

</div>

<div class="gext_task gext_sign">
 <div class="di_mix_variants di_not_mix">Этот&nbsp;журнал мой&nbsp;папа купил.</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">Мой&nbsp;папа купил этот&nbsp;журнал</span>

<div class="gext_show"><span><b>Мой папа купил этот журнал.</b></span> &nbsp;</div>

</div>


<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show"></p>


</div>


</div>


</div> <!-- end of di4  -->


<script type="text/javascript"> 
	var di4 = new draginput_test( {
		id: "di4", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>

<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Практика</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	
	

<h4 class="su-task">
Задание 1. Прослушайте фразы и подберите подходящую реплику к фразам.
</h4>

<div id="ds2" class="ds-wrapper" style="padding: 15px;">

<p class="task" align="center">Перетащите слова из нижнего списка и нажмите "Проверить"</p>		

<table align="center" style="margin: 0 auto;">

<tr>
<td>


<table class="dst-test ds-table ds-audio" cellspacing="0" align="left" style="margin: auto">
<col width="80">
<col width="20">
<col width="40">
<col width="200">
<tr>
	<td class="ds-quest" align="center">
			Фраза 1 
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/en/course/soundc1002.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
			Фраза 2
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/en/course/soundc1006.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<!-- tr>
	<td class="ds-quest">
		Фраза 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td -->
</tr>
<tr>
	<td class="ds-quest">
		Фраза 3
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/en/course/soundc1001.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest">
		Фраза 4
	</td>
	<td class="ds-audio-listen" align="center">
			<div class="jp_control" onclick="cJplayer('/sounds/en/politeness/sound0201.mp3', this)"></div>
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>	
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>


</table>

</td>

</tr>
<tr>

<td>

	
<br>
<br>

<table class="ds_variants_list" width="100%">
<tr valign="top">
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>Hi!</div></div>
	</li>

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>I’m fine.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">4</span>You’re welcome!</div></div>
	</li>
</ul>

</td>
<td>

<ul class="no-list">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Yes, thank you.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>Bye!</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">0</span>Excuse me.</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Проверить">

</div>


</div>

<script type="text/javascript"> 
	var ds2 = new dragsort_test( {
		id: "ds2", 
		test_id: "c1101051.5.1",
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F6FAFF",
		auto_check: false
		} )
</script>	
	
	
	
<br><br><br><br>

<h4 class="su-task">
Задание 2. Напечатайте фразу под диктовку.
</h4>



<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch3", 
		test_id: "c1101052.5.2",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',

		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
['<%= word.sound_url %>', "<%= word.text.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>


	
	<br><br><br><br>



	</div>
</div>





</div>









<script type="text/javascript">
currentSection="course";
</script>
