<% @page_title = 'Урок 7' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'jquery-ui-1.8.6.dial.min.js' %>
<%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	$(function() {
	
	$("#les-res").click(function() {
		$( "#dialog" ).dialog({
			height: 300,
			width: 400,
			modal: true
		}).dialog( "option", "buttons", { "Ok": function() { $(this).dialog("close"); } } );	
	})

	});

</script>


<% end %>



<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Урок 7
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>
	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(30).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>	
	
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>

<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
<%
@voc2 = Cluster.find(30).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
@last_voc2 = (@voc2.length)-1
%>
		
<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.text.to_s.gsub(/"/,'\"') %>", "<%= voc_word.translate.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>

<% end %>
		

		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика</h3>
<p class="su-step-info">
Данный этап предназначен для работы с полезными словами и выражениями по теме урока.
</p>	
	
<h4 class="su-task">
Задание 1. Ознакомьтесь со словами и выражениями урока.
</h4>


<br><br>
<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(32)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её перевод.
</h4>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
["<%= word.text %>", "<%= word.translate.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>	


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Теория</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с правилами грамматики и лексики.
</p>		

<h3 class="su-page-p" style="margin-top: 0;">Притяжательные местоимения</h3>

<p>
Притяжательные местоимения - слова, которые указывают на принадлежность к лицу или предмету, не называя обладателя. Притяжательные местоимения в русском языке: мой, твой, свой, их, нашего, её, его и т.д. 
</p>

<p>Притяжательные местоимения в английском языке имеют следующие формы:
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Лицо</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>1 лицо</td><td>my</td><td>our</td>
	</tr>
	<tr>
		<td>2 лицо</td><td>your</td><td>your</td>
	</tr>
	<tr>
		<td>3 лицо</td><td>his<br> her <br> its</td><td>their</td>
	</tr>
</tbody>
</table>


<h3 class="page-p">Притяжательный падеж</h3>
<p>
Притяжательный падеж указывает на принадлежность чего-либо лицу или предмету. В русском языке подобное значение имеет родительный падеж.
<p>
<h4 class="page-pp">Образование притяжательного падежа</h4>
<ul style="list-style-type: circle">
	<li>
		<p>
		В единственном числе притяжательный падеж образуется прибавлением к существительному апострофа (') с буквой s
		</p>
	</li>
	<li>
		<p>
		Во множественном числе для образования притяжательного падежа чаще всего используется один апострофа (')
		<br>
		Однако существительные, не имеющие окончание -s во множественном числе, прибавляют и апостроф и букву s.
		</p>
	</li>
</ul>

<br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br>
	
	</div>
</div>


<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>	
	
<h4 class="su-task">
Задание 1. Вставить нужное местоимение.
</h4>
	

<div class="su-exerc">
<div id="di1">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их. </p> 

<br>
<table style="cursor: pointer; margin: 0 auto; border: 1px dashed #000; background-color: #fff;" class="di_variants" cellspacing="14" align="center" >
<tr>
	<td>
		<div>my</div>
	</td>
	<td>
		<div>your</div>
	</td>
	<td>
		<div>our</div>
	</td>
</tr>
<tr>
	<td>
		<div>his</div>
	</td>
	<td>
		<div>her</div>
	</td>
	<td>
		<div>their</div>
	</td>
</tr>
</table>
<br>



<div  class="gr_ex_type">

<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 
1. I’m Russian. <input type="text" style="width: 40px" value=""><span class="gext_answer" style="display: none">my</span> name is Ivan. 
<div class="gext_show"><span>I’m Russian. <b>My</b> name is Ivan.</span> &nbsp;</div>
</div>


<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 
2. Roger is a manager, and <input type="text" style="width: 40px" value=""><span class="gext_answer" style="display: none">his</span> wife is a doctor. 
<div class="gext_show"><span>Roger is a manager,<b>his</b> wife is a doctor.</span> &nbsp;</div>
</div>

<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 
3. Is <input type="text" style="width: 40px" value=""><span class="gext_answer" style="display: none">your</span> sister a teacher. - No, my sister is a designer.
<div class="gext_show"><span>Is <b>your</b> sister a teacher. - No, my sister is a designer.</span> &nbsp;</div>
</div>

<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 
4. Pete and Helen are from the USA. <input type="text" style="width: 40px" value=""><span class="gext_answer" style="display: none">their</span> son's name is Bill.
<div class="gext_show"><span>Pete and Helen are from the USA.  <b>Their</b> son's name is Bill.</span> &nbsp;</div>
</div>

<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 
5. Is Helen's brother an artist? - No, <input type="text" style="width: 40px" value=""><span class="gext_answer" style="display: none">her</span> brother is a programmer.
<div class="gext_show"><span>Is Helen's brother an artist? - No, <b>her</b> brother is a programmer.</span> &nbsp;</div>
</div>

<div class="gext_sign"></div>
<div class="gext_task gext_sign"> 
6. John and Diana, is your son a good student? - Yes, <input type="text" style="width: 40px" value=""><span class="gext_answer" style="display: none">our</span> son is a very good student.
<div class="gext_show"><span>John and Diana, is your son a good student? - Yes, <b>our</b> sson is a very good student.</span> &nbsp;</div>
</div>

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Показать ответы" class="gext_answer_show"></p>


</div>


</div>



</div> <!-- end of su-exerc -->


<script type="text/javascript"> 
	var di1 = new draginput_test( {
		id: "di1", 
		targets: "gext_task", 
		in_targets: "input",
		clear_option: false,
		variant_elem: "di_variants div"
		//targets_color: "#ffffff"

		} )
</script>






<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Практика</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	
	

<h4 class="su-task">
Задание 1. Прочитайте текст и подберите соответсвующие имена в нижнем списке.
</h4>


<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0" class="su-no-tr-act">
	<tr>
		<td class="su-pres-orig">

<p>This is Sam. </p>
<p>He is from New York. </p>
<p>He is a programmer. </p>
<p>His wife, Mary, is a designer. </p>
<p>Their daughter’s name is Lily.</p>
<p>Lily is a student.</p>
<p>She is a good student.</p>
		
		</td>
	</tr>
</table>	
</div>	
</div>




<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p class="task" align="center">Перетащите слова из нижнего списка и нажмите "Проверить"</p>		
<br>
<table align="center" style="margin: 0 auto;">

<tr>
<td>


<table class="dst-test ds-table ds-table-nosound" cellspacing="0" align="left" style="margin: auto">
<col width="100">
<col width="40">
<col width="180">
<tr>
	<td class="ds-quest ds-audio-listen" align="center">
			Mary is
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen">
			Sam is
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen">
		Lily is
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>

	
<br>
<br>

<table class="ds_variants_list" width="100%">
<tr valign="top">
<td>

<ul class="no-list" style="padding-left: 30px;">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>a student</div></div>
	</li>

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>a programmer</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>a designer</div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Проверить">

</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F6FAFF",
		auto_check: false
		} )
</script>	

<br><br>
	
	



<h4 class="su-task">
Задание 2. Напечатайте фразу под диктовку.
</h4>



<div id="ch3" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch3", 
		test_id: "",
		quest_num: 10,
		variants_num: 5,
		quest_type: 'audio',
		answer_type: 'type',

		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
['<%= word.sound_url %>', "<%= word.text.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>
	
	<br><br>

	


	</div>
</div>


</div>








<script type="text/javascript">
currentSection="course";
</script>
