<% @page_title = 'Урок 11' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
</script>


<% end %>





<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Урок 11
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>

	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(17).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>



<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "c1102012.1.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
<%
@voc2 = @voc1 
@last_voc2 = (@voc2.length)-1
%>
<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.sound_url.to_s.gsub(/"/,'\"') %>", "<%= voc_word.text.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>
<% end %>
		
		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика</h3>
<p class="su-step-info">
Данный этап предназначен для работы с полезными словами и выражениями по теме урока.
</p>	
	

<h4 class="su-task">
Задание 1. Ознакомьтесь со словами и выражениями урока.
</h4>
	
<br><br>


<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(16)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её перевод.
</h4>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "c1102022.2.2",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'audio',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
['<%= word.sound_url %>', "<%= word.translate.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>	


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Теория</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с правилами грамматики и лексики.
</p>		

<h3 class="su-page-p" style="margin-top: 0;">Временя глагола в английском языке</h3>
<p>В отличие от русского языка, в котором
<p>
В английском языке есть четыре группы времен Indifinite, Continuous, Perfect и Perfect Continuous. В каждой группе различают формы Present, Past и Future. Таким образом, каждый глагол имеет 12 временных форм.
</p> 

<h3 class="su-page-p">Личные формы глагола и инфинитив</h3>

<p>У глагола различают личные и неличные формы.</p>

<p>Личные формы - это формы глагола в разных временах, лицах и числах, которые обычно употребляются в передложении в качестве сказуемого.</p>
<p>Неличные формы глагола не изменяются по лицам и числам, могут употребляться в предложении в качестве подлежащего, части сказуемого, дополнения, определения, обстоятельства.</p>
<p>
К неличным формама глагол относится инифинитив или неопределенная форма глагола. В английском языке, как правило, перед инфинитивом ставится перед частица to, которая не переводится на русский язык.
</p> 


<h3 class="su-page-p">Present Indefinite</h3>
<p>
Present Indefinite (Настоящее неопределенное время) передает действия, происходящие в настоящем времени, при этом время действия точно не определено и не ограничено. Такое действие происходит обычно или постоянно.
</p>
	
<div class="egdiv">
<h4>Примеры: </h4>
<p>
<em>I <u>read</u> newspapers every day.</em>  Я читаю газеты каждый день.<br>
<em>They like <u>read</u> coffee.</em>  Они любят кофе.
</p>
</div>
<p>

<p>
Утвердительные формы <em>Present Indefinite</em>, кроме 3 л. ед. ч.,  совпадают с инфинитивом глагола без частицы <span class="eg">to</span>. В 3 л. ед. ч. глагол приобретает окончание -<span class="eg">s</span> или  -<span class="eg">es</span>. 
</p>
<p>
Окончание -<span class="eg">es</span> применяется в следующих случаях:
</p>
<p>
- если глагол заканчивается на -<span class="eg">ss</span>, -<span class="eg">ch</span>, -<span class="eg">sh</span> или -<span class="eg">x</span> 
</p>
<p>
- если глагол заканчивается на -<span class="eg">o</span>
<p>
<p>
- если глагол заканчивается на -<span class="eg">y</span> с предшествующей согласной, при этом буква <span class="eg">y</span> меняется на <span class="eg">i</span>
<p>

<div class="egdiv">
<h4>Примеры: </h4>
<p>
<em>I <u>study</u> English.</em>  Я изучаю английский язык.<br>
<em>He watches TV every day.</em>  Он смотрит телевизор каждый день.<br>
<em>Mark studies French.</em>  Он изучает фрацузский язык.<br>
<em>Tom plays <u>football</u>.</em>  Том играет в футбол.
</p>
</div>


<br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br>
	
	</div>
</div>




<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>	
	
<h4 class="su-task">
Задание 1. Определите подходящую форму глагола to be во фразах. 
</h4>


<div class="su-exerc">

<div class="task">Напечатайте окончание или форму слова в текстовом поле</div>

<div  class="gr_ex_type">


<div class="gext_task gext_sign">
1.	They <input type="text" style="width: 60px" value="to study"> <span class="gext_answer" style="display: none">study</span>French
<div class="gext_show"><span>They <b>study</b> French</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
2.	Robert <input type="text" style="width: 60px" value="to want"> <span class="gext_answer" style="display: none">wants</span>to visit the USA
<div class="gext_show"><span>Robert <b>wants</b> to visit the USA</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
3.	Molly and Nicole <input type="text" style="width: 60px" value="to like"> <span class="gext_answer" style="display: none">like</span>to travel
<div class="gext_show"><span>Molly and Nicole <b>like</b> to travel</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
4.	They <input type="text" style="width: 60px" value="to like"> <span class="gext_answer" style="display: none">like</span>to read books
<div class="gext_show"><span>They <b>like</b> to read books</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
5.	I <input type="text" style="width: 60px" value="to like"> <span class="gext_answer" style="display: none">like</span>to meet new people
<div class="gext_show"><span>I <b>like</b> to meet new people</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
6.	Jack <input type="text" style="width: 60px" value="to want"> <span class="gext_answer" style="display: none">wants</span>to be a teacher.
<div class="gext_show"><span>Jack <b>wants</b> to be a teacher.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
7.	I <input type="text" style="width: 60px" value="to speak"> <span class="gext_answer" style="display: none">speak</span>English well.
<div class="gext_show"><span>I <b>speak</b> English well.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
8.	He <input type="text" style="width: 60px" value="to watch"> <span class="gext_answer" style="display: none">watches</span>TV every evening.
<div class="gext_show"><span>He <b>watches</b> TV every evening.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
9.	Bryan <input type="text" style="width: 60px" value="to study"> <span class="gext_answer" style="display: none">studies</span>Spanish.
<div class="gext_show"><span>Bryan <b>studies</b> Spanish.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
10.	Lily <input type="text" style="width: 60px" value="to like"> <span class="gext_answer" style="display: none">likes</span>theater and cinema.
<div class="gext_show"><span>Lily <b>likes</b> theater and cinema.</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
11.	Emily <input type="text" style="width: 60px" value="to speak"> <span class="gext_answer" style="display: none">speaks</span>Spanish
<div class="gext_show"><span>Emily <b>speaks</b> Spanish</span> &nbsp;</div>
</div>
<div class="gext_task gext_sign">
12.	She <input type="text" style="width: 60px" value="to go"> <span class="gext_answer" style="display: none">goes</span>to English classes
<div class="gext_show"><span>She <b>goes</b> to English classes</span> &nbsp;</div>
</div>

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Показать ответы" class="gext_answer_show"></p>


</div>

</div> <!-- end of su-ex  -->



<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Практика</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	


<h4 class="su-task">
Задание 1. Прочитайте текст и подберите соответсвующие имена в нижнем списке.
</h4>


<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0"  class="su-no-tr-act">

	<tr>
		<td class="su-pres-orig">
		<p style="line-height: 24px;">
This Serge and his family. 
Serge is manager. 
He likes his job. 
He also likes to travel and to meet new people. 
He likes Spanish and Italian food.
Serge speaks English. He speaks English well.
Serge wants to visit France. 
He studies French and he goes to French classes every week.
		
		
		</p>
		</td>
	</tr>
	
</table>	
</div>	
</div>
	

<div class="su-exerc">

<div class="task">Выберите один из вариантов ответа.</div>

<div  class="gr_ex_variants">
<div class="gr-ex-testid">c1108052.5.2</div>


<div  class="gr_ex_variants_wrap gexv_with_trans">
<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				1. Эмили живет в Англии.
			</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> да</div>
			<div class="gexv_variant"><input type="checkbox" > нет</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				2. Эмили работает менеджером.
			</div>
			<div class="gexv_variant"><input type="checkbox" > да</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> нет</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 3. У нее большая квартира.
			</div>
			<div class="gexv_variant"><input type="checkbox"> да </div>
			<div class="gexv_variant"><input type="checkbox"  class="ok"> нет</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  4. У нее хорошая машина. 
			</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> да</div>
			<div class="gexv_variant"><input type="checkbox"> нет</div>
		</td>
	</tr>

	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				  5. Ее  муж работает врачом.
			</div>
			<div class="gexv_variant"><input type="checkbox" > да</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> нет</div>
		</td>
	</tr>

</table>
</div>

<p class="gexv_check es-ex-buttons gex-es-btn">

<input type="button" value="Проверить"></p>

</div>
</div> <!-- end of su-ex  -->

	
	
<br><br>

<h4 class="su-task">
Задание 2. Выполните перевод, используя данные слова.
</h4>


<div id="ds1" class="ds-wrapper" style="padding: 15px;">

<p class="task" align="center">Перетащите слова из нижнего списка и нажмите "Проверить"</p>		
<br>
<table align="center" style="margin: 0 auto;">

<tr>
<td>


<table class="dst-test ds-table ds-table-nosound" cellspacing="0" align="left" style="margin: auto">
<col width="200">
<col width="40">
<col width="180">
<tr>
	<td class="ds-quest ds-audio-listen" align="center">
			This is Stan. He studies English. He likes English very much.
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen">
			This is Bob. He is a student. He likes economics.
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen">
		This is Stan. He likes computers.
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen">
		This is Viktor. He likes athletics.
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen">
		This is Veronika. She likes to work with children.
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>
<tr>
	<td class="ds-quest ds-audio-listen">
		This Glen. He likes theater and cinema.
	</td>
	<td class="ds-audio-correctness">
		<div class="ds-sign"></div>
	</td>
	<td class="ds-answer">
		<div class="ds_sort_item">
			&nbsp;
		</div>
	</td>
</tr>

</table>

</td>

</tr>
<tr>

<td>

	
<br>
<br>

<table class="ds_variants_list" width="100%">
<tr valign="top">
<td>

<ul class="no-list" style="padding-left: 30px;">
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">3</span>He wants to be an interpreter.</div></div>
	</li>

	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">2</span>He wants to be a manager.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>He wants to be a programmer.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>He wants to be a sportsman.</div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>She is a teacher. </div></div>
	</li>
	<li> 
			<div class="ds_variant"><div class="ds_vholder"><span class="ds-rt">1</span>He wants to be an actor. </div></div>
	</li>
</ul>

</td>
</tr>
</table>



</td>
</tr>
</table>


<div class="es_btn_wrapper es-ex-buttons ds-check-wrapper">

<input type="button" class="es_btn ds-check-button" value="Проверить">

</div>


</div>

<script type="text/javascript"> 
	var ds1 = new dragsort_test( {
		id: "ds1", 
		test_id: "c1107051.5.1",
		targets: "ds-answer", 
		answer_elem: "ds_sort_item", 
		variant_elem: "ds_variant",
		answer_color: "#F6FAFF",
		auto_check: false
		} )
</script>	






	<br><br><br><br>








	</div>
</div>
















</div>



















<script type="text/javascript">
currentSection="course";
</script>
