<% @page_title = 'Урок 8' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'jquery-ui-1.8.6.dial.min.js' %>
<%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>
	$(function() {
	
	$("#les-res").click(function() {
		$( "#dialog" ).dialog({
			height: 300,
			width: 400,
			modal: true
		}).dialog( "option", "buttons", { "Ok": function() { $(this).dialog("close"); } } );	
	})

	});

</script>


<% end %>



<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Урок 8
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Этап 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Этап 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Этап 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Этап 4</a></div></div>
			<div id="tab05" class="ptab"><div><a href="#">Этап 5</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>
	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(42).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>	
	
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>



<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
<%
@voc2 = Cluster.find(30).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
@last_voc2 = (@voc2.length)-1
%>
		
<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.text.to_s.gsub(/"/,'\"') %>", "<%= voc_word.translate.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>

<% end %>
		

		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика</h3>
<p class="su-step-info">
Данный этап предназначен для работы с полезными словами и выражениями по теме урока.
</p>	
	
<h4 class="su-task">
Задание 1. Ознакомьтесь со словами и выражениями урока.
</h4>


<br><br>
<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(44)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её перевод.
</h4>



<div id="ch2" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch2 = new ch_exercise( {
		id: "ch2", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
		
<% @last_item_index = (@words.length)-1 -%>
<% @words.each_with_index  do |word, index| -%>
["<%= word.text %>", "<%= word.translate.to_s.gsub(/"/,'\"') %>"<% if current_user %>, '<%= word.id%>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>	
<%end -%>

		]
		
		} )
</script>	


<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Теория</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с правилами грамматики и лексики.
</p>		

<h3 class="su-page-p" style="margin-top: 0;">Указательные местоимения</h3>

<p>
Указательные местоимения - слова, которые используются для выделения известного говорящему лица, признака, предмета из ряда однородных. 
В русском языке для этого используются такие местоимения, как  этот, это, тот, такой и т.д.
</p>
<h4 class="page-pp">Местоимения this/these и that/those</h4>
<p>
Указательные местоимения this/these и that/those могут употребляться перед одушевленными и неодушевленными существительными. 
</p>
<p>
Местоимения this/these употребляются по отношению к предметам и лицам, находящимся вблизи говорящего и могут переводится как этот, эта,это/ эти.
</p>
<p>
Местоимения that/those употребляются по отношению к предметам и лицам, находящимся вдали от говорящего и могут переводится как тот, та,то/ те.
</p>

<h4 class="page-pp">Формы</h4>
<p>
Ниже приведена таблица с формами и значениями этих местоимений.
</p>

<table class="st-bl-table" cellspacing="1" align="center" style="margin: 0 auto;">
<thead>
	<tr>
		<th rowspan="2">Значение</th>
		<th colspan="2">Число</th>
	</tr>
	<tr>
		<th class="sec-row">Единственное</th>
		<th class="sec-row">Множественное</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>близкий предмет</td><td>this</td><td>these</td>
	</tr>
	<tr>
		<td>дальний предмет</td><td>that</td><td>those</td>
	</tr>
</tbody>
</table>


<br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br>
	
	</div>
</div>


<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>	
	
<h4 class="su-task">
Задание 1. Вставить нужное местоимение.
</h4>
	

<div class="su-exerc">
<div id="di1">			
<p class="task">Выберите нужную форму из списка. </p> 

<div  class="gr_ex_from_list">

<div class="gex-area-trans">


<div class="gr_ex_unit gext_sign"> 
1. 
<select>
<option>That / Those</option>
<option  >That</option>
<option class="ok">Those</option>
</select>
 are not doctors. 
</div>

<div class="gr_ex_unit gext_sign"> 
2. 
<select>
<option>This / These</option>
<option  class="ok">This</option>
<option>These</option>
</select>
is my husband. 
</div>



<div class="gr_ex_unit gext_sign"> 
3. Is   
<select>
<option>this / these</option>
<option  class="ok">this</option>
<option >these</option>
</select>
car German or Americain? 
</div>

<div class="gr_ex_unit gext_sign"> 
4. 
<select>
<option>That / Those</option>
<option  class="ok">That</option>
<option>Those</option>
</select>
designer is famous. 
</div>


<div class="gr_ex_unit gext_sign"> 
5. 
<select>
<option>This / These</option>
<option >This</option>
<option  class="ok">These</option>
</select>
 are good programmers.
</div>

<div class="gr_ex_unit gext_sign"> 
6. Are  
<select>
<option>that / those</option>
<option  >that</option>
<option class="ok">those</option>
</select>
your sisters? 
</div>

<div class="gr_ex_unit gext_sign"> 
7.    
<select>
<option>That / Those</option>
<option  class="ok">That</option>
<option >Those</option>
</select>
 is a big room.
</div>



</div><!-- end of gex-area-trans -->

<p class="ex_from_list_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > </p>
</div>

</div>

</div> <!-- end of su-exerc -->






<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>
<div id="for_tab05" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Практика</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	
	

<h4 class="su-task">
Задание 1. Прочитайте текст и подберите соответсвующие имена в нижнем списке.
</h4>


<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0" class="su-no-tr-act">
	<tr>
		<td class="su-pres-orig">

<p>This is Emily.</p>
<p>Emily is English.</p>
<p>She is from London.</p>
<p>Emily is a lawyer.</p>
<p>She is not married.</p>
<p>Emily’s flat is not large.</p>
<p>But her car is very good.</p>
		
		</td>
	</tr>
</table>	
</div>	
</div>



<br>
<div class="su-exerc">

<div class="task">Выберите один из вариантов ответа.</div>

<div  class="gr_ex_variants">

<div  class="gr_ex_variants_wrap gexv_with_trans">
<table class="gr_ex_vars_tab gexv_options" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				1. Эмили живет в Англии.
			</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> да</div>
			<div class="gexv_variant"><input type="checkbox" > нет</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				2. Эмили работает менеджером.
			</div>
			<div class="gexv_variant"><input type="checkbox" > да</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> нет</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				 3. У нее большая квартира.
			</div>
			<div class="gexv_variant"><input type="checkbox"> да </div>
			<div class="gexv_variant"><input type="checkbox"  class="ok"> нет</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="gexv_task gexv_sign">
				  4. У нее хорошая машина. 
			</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> да</div>
			<div class="gexv_variant"><input type="checkbox"> нет</div>
		</td>
	</tr>

	<tr>

		<td>
			<div class="gexv_task gexv_sign">
				  5. Ее  муж работает врачом.
			</div>
			<div class="gexv_variant"><input type="checkbox" > да</div>
			<div class="gexv_variant"><input type="checkbox" class="ok"> нет</div>
		</td>
	</tr>

</table>
</div>

<p class="gexv_check es-ex-buttons gex-es-btn">

<input type="button" value="Проверить"></p>

</div>
</div> <!-- end of su-ex  -->


<br><br>
	
	

	
	<br><br>

	


	</div>
</div>


</div>





<script type="text/javascript">
currentSection="course";
</script>
