<% @page_title = 'Урок 5' %>
<% @page_meta = {'description' => ""} %>


<% content_for :special_js_css do %>

<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'lexical-test' %>
<%= stylesheet_link_tag 'lexical-test' %>
<%= javascript_include_tag 'jquery-ui-1.8.6.dial.min.js' %>
<%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css' %>
<%= javascript_include_tag 'test-drag-sort' %>
<%= javascript_include_tag 'es-grammar-exercises' %>
<%= javascript_include_tag 'es-test-drag-input' %>


<%= javascript_include_tag 'short-unit' %>
<%= stylesheet_link_tag 'short-unit' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>

</script>


<% end %>



<div class="unit-area">


<div id="prof_tabs">

<div class="unit-title">
Уроки английского языка
</div>
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Часть 1</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Часть 2</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Часть 3</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Часть 4</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="su-step-title">Обзор</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматическими конструкциями урока.
</p>	
	

<h4 class="su-task">
Задание 1. Слушайте и повторяйте. Ознакомьтесь с переводом фраз.
</h4>
	
<div class="su-present">
<div class="su-present-brd">
<table cellspacing="0">
<%
@voc1 = Cluster.find(24).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<% @voc1.each do |voc_word|  %>
	<tr>
		<td class="su-pres-audio"><%unless voc_word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%=voc_word.sound_url%>', this)"></div><%end%></td>
		<td class="su-pres-orig"><%=voc_word.text%></td>
		<td class="su-pres-trans"><%=voc_word.translate%></td>
	</tr>
<% end %>	
	
</table>	
</div>	
</div>	
	


<br><br><br><br>

<h4 class="su-task">
Задание 2. Прослушайте фразу и найдите её в списке.
</h4>



<div id="ch1" class="lt-holder">
<div class="lt-spacer">	
<%= render :partial => '/vocabulary/lexical_test', :locals => {:lang => "rus"} %>
</div>
</div><!-- end of lt-holder -->

<script type="text/javascript"> 
	var ch1 = new ch_exercise( {
		id: "ch1", 
		test_id: "",
		quest_num: 15,
		variants_num: 5,
		quest_type: 'text',
		texts: ['Правильно','Неправильно','Далее','Результат','Осталось','Всего вопросов','Правильных ответов','Результат'],
		basic_array: [
<%
@voc2 = Cluster.find(25).words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
@last_voc2 = (@voc2.length)-1
%>
		
<% @voc2.each_with_index do |voc_word,index|  %>
["<%= voc_word.text.to_s.gsub(/"/,'\"') %>", "<%= voc_word.translate.to_s.gsub(/"/,'\"') %>" ]<% if index!= @last_voc2 -%>,<%end -%>

<% end %>
		

		]
		
		} )
</script>



<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(2)">
</div>	
	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Лексика и грамматика</h3>
<p class="su-step-info">
Данный этап предназначен для ознакомления с лексикой и грамматикой урока.
</p>	
	
<h4 class="su-task">
Задание 1. Ознакомьтесь со следующими словами и выражениями.
</h4>


<br><br>
<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 400px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>

<%
cat = Cluster.find(26)
@words = cat.words.find(:all, :include => :cluster_words, :order => 'cluster_words.order_num')
%>
<%@words.each_with_index do |word, index|-%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>


</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->


<br><br><br><br>

<h4 class="su-task">
Задание 2. Ознакомьтесь с грамматикой урока.
</h4>


<h3 class="su-page-p" style="margin-top: 0;">Артикли</h3>
<p>
Это служебные слова, которые употребляются перед существительными и не имеют самостоятельного значения. Они не употребляются перед существительными с указательными и притяжательными местоимения, а также с количественными числительными.
</p>
<p>
В английском языке имеется два артикля - неопределенный артикль <b>a</b>(<b>an</b>) и определенный артикль <b>the</b>.
</p>


<div class="egdiv">
<h4>Примеры: </h4>
<p>
This is <u>a</u> table. - Это стол.
</p>
<p>
<u>The</u> table is big. - Стол большой.
</p>
</div>


<h3 class="su-page-p">Неопределенный артикль</h3>
<p>
Неопределенный артикль указывает на принадлежность к классу однородных предметов. Он употребляется только перед исчисляемыми существительными в единственном числе.
</p>

<p>
Обычно неопределенный артикль используется, когда предмет представляют или о нем говорится впервые.
</p>

<div class="egdiv">
<h4>Пример: </h4>
<p>
This is a book. - Это книга. 
</p>
</div>

<p>Вариант <span class="eg">an</span> употребляется перед существительными, начинающимися с гласного звука.</p>
<div class="egdiv">
<h4>Пример: </h4>
<p>
He is <u>an</u> interpreter. - Он переводчик. 
</p>
</div>

<p>
Также неопределенный артикль может употребляться в значении “любой”, “каждый”, “какой-нибудь”.
</p>

<div class="egdiv">
<h4>Пример: </h4>
<p>
Give me an English book. - Дайте мне (какую-нибудь) книгу. 
</p>
</div>


<br><br>





<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(3)">
</div>
	
	</div>
</div>


<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Упражнения</h3>
<p class="su-step-info">
Данный этап предназначен для работы с лексико-грамматическим материалом урока.
</p>		


<h4 class="su-task">
Задание 1. Ответьте на вопросы по модели.
</h4>

<div class="egdiv">
<h4>Модель: </h4>
<p>
Are they teachers or doctors? ==> <b><i>They are teachers. </i></b>
</p>
</div>


<div class="su-exerc">
<div id="di3">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix">
<div class="gr-ex-testid"></div>

<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">Is he a journalist or a businessman?</div>
<div class="di_mix_variants di_mix">he is a journalist are an they</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">he is a journalist</span>
<div class="gext_show"><span><b>He is a journalist.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Are you a teacher or a doctor?</div>
<div class="di_mix_variants di_mix">I am is we are a an teacher</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">I am a teacher</span>
<div class="gext_show"><span><b>I am a teacher.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Is she a designer or an architect?</div>
 <div class="di_mix_variants di_mix">is she a designer or an they we</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">She is a designer</span>
<div class="gext_show"><span><b>She is a designer.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Is John a programmer or a manager</div>
 <div class="di_mix_variants di_mix">he is a programmer they are an</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">he is a programmer</span>
<div class="gext_show"><span><b>He is a programmer.</b></span> &nbsp;</div>
</div>

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show"></p>


</div>

</div>


</div> <!-- end of di3  -->


<script type="text/javascript"> 
	var di3 = new draginput_test( {
		id: "di3", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>
	<br><br>




<br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(4)">
</div>	
	
<br><br><br><br><br><br>
	
	</div>
</div>


<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="su-step-title">Закрепление</h3>
<p class="su-step-info">
Данный этап предназначен для закрепления полученных знаний.
</p>	
	
<h4 class="su-task">
Задание 1. Выполните перевод следующих фраз.
</h4>



<div class="su-exerc">
<div id="di4">	
				
<p class="task">Перетащите слова в текстовое поле или напечатайте их.</p> 


<div  class="gr_ex_type di_mix">

<div class="gr-ex-testid"></div>

<div class="gext_task gext_sign di_mix_first"> 
<div class="di_mix_tobuild">Is he a journalist or a businessman?</div>
<div class="di_mix_variants di_mix">he is a journalist are an they</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">he is a journalist</span>
<div class="gext_show"><span><b>He is a journalist.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign"> 
<div class="di_mix_tobuild">Are you a teacher or a doctor?</div>
<div class="di_mix_variants di_mix">I am is we are a an teacher</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">I am a teacher</span>
<div class="gext_show"><span><b>I am a teacher.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Is she a designer or an architect?</div>
 <div class="di_mix_variants di_mix">is she a designer or an they we</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">She is a designer</span>
<div class="gext_show"><span><b>She is a designer.</b></span> &nbsp;</div>
</div>

<div class="gext_task gext_sign">
<div class="di_mix_tobuild">Is John a programmer or a manager</div>
 <div class="di_mix_variants di_mix">he is a programmer they are an</div>
<input type="text" value=""> <span class="gext_answer" style="display: none">he is a programmer</span>
<div class="gext_show"><span><b>He is a programmer.</b></span> &nbsp;</div>
</div>

<p class="gext_check es-ex-buttons gex-es-btn"><input type="button" class="gext_check_btn" value="Проверить" > <input type="button" value="Ответы" class="gext_answer_show"></p>


</div>

</div>


</div> <!-- end of di4  -->


<script type="text/javascript"> 
	var di4 = new draginput_test( {
		id: "di4", 
		targets: "gext_task input", 
		//in_targets: "input",
		clear_option: true,
		one_use: true,
		variant_elem: "di_mix_variants span"
		//targets_color: "#ffffff"

		} )
</script>
	<br><br>






<br><br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап >>" onclick="openNextStep(5)">
</div>


	</div>
</div>


</div>




<script type="text/javascript">
currentSection="course";
</script>
