<% @page_title = 'Аккаунт пользователя :: Study-Languages-Online.com' %>
<% @page_meta = {'description' => "Аккаунт пользователя"} %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<%= javascript_include_tag 'jquery-ui-1.8.16.dial.min.js' %>
<%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css' %>
<%= javascript_include_tag 'user_profile' %>

<%= stylesheet_link_tag 'profile' %>
<%= stylesheet_link_tag 'user-profile' %>

<script type="text/javascript">
<%if params[:tab] %>
	openTabFromUrl(<%= params[:tab] %>);
<%else%>
	openTabFromUrl();
<%end%>

function updateUserWords() {
$("#u-vocabulary").html('<center><b style="color: #555">Loading data<\/b> <img src="/images/load.gif"\/><\/center>');
$("#u-vocabulary").load("/ajax/en_words.html", function() {
	loadedEvents($("#u-vocabulary"));
})
}

function updateUserResults() {
$("#u-results").html('<center><b style="color: #555">Loading data<\/b> <img src="/images/load.gif"\/><\/center>');
$("#u-results").load("/ajax/en_results.html", function() {
	loadedEvents($("#u-results"));
})
}




function loadedEvents(container) {

container.find(".voc-details-content").css({opacity: 0})

container.find(".voc-words-list").each(function(i,elem){
	$(elem).find("tr:even").addClass("voc-list-even");
}); 

container.find(".tab-in-tab-list a").click(function() {
	container.find(".tab-in-tab-list a").removeClass("tab-in-current");
	$(this).addClass("tab-in-current");
});

container.find(".tab-in-tab-list a").not(".all-in-tab").click(function() {
	var tMinHeight = $(this).parent().parent().height()
	$(this).parent().parent().css({minHeight:  tMinHeight});
	container.find(".tab-in-tab").hide();
	tInd = $(".tab-in-tab-list a").index($(this));
	container.find(".tab-in-tab:eq("+(tInd-1)+")").fadeIn(300);
});

container.find(".tab-in-tab-list a.all-in-tab").click(function(){
	var tMinHeight = $(this).parent().parent().height()
	$(this).parent().parent().css({minHeight:  tMinHeight});
	container.find(".tab-in-tab").hide().show()
})

container.find(".voc-details").toggle(function(){
		$(this).parent().find(".voc-topic-details").slideDown(function() {
					$(this).parent().find(".voc-details-content").animate({opacity: 1},200);
		})
		$(this).parent().removeClass("details-hidden");
	},function(){
		$(this).parent().find(".voc-details-content").animate({opacity: 0},200, function() {
			$(this).parent(".voc-topic-details").slideUp();
		})
		$(this).parent().addClass("details-hidden");
});

container.find(".myvoc-wrapper").css({minHeight: ($(".myvoc-wrapper").height()+600) });
}

</script>	

<style type="text/css">

.new_item {
opacity: 0.8;
filter: alpha(opacity=80)
}

.current_ptab .new_item {
opacity: 1;
filter: alpha(opacity=100)
}


#tabs_row {
padding-left: 30px;
}
.inpBlock {
margin-left: 50px;
}
.inpBlock h3 {
}
.item-name {
font-size: 14px;
font-weight: bold;
}

/* styles for vocabulary*/
.voc-results {
border: 1px solid #C3CDDF;
background-color: #E2E6F2;
background-color:#AFCCFF;
back-ground-image:url(/images/fl-bg.png);
border:1px solid #99B2DF;
padding: 1px;
max-width: 620px;
}

.voc-details {
position: absolute;
right: 10px;
top: 8px;
padding: 3px 5px;
font-size: 10px;
color: #666;
cursor: pointer;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
text-shadow: 0px 0px 0px #fff;
border:1px solid #8E95AF;
background-image:url(/images/btn-grd.png);
background-position:50% 50%;
background-repeat:no-repeat;
background-color: #BFD6FF;
}
.voc-details-content {
opacity: 0;
padding: 10px 15px 10px 30px;
background-color: #fff;
}
.voc-details-content h4 {
margin-top: 0px;
color: #374C6F;
}
.voc-details:hover {
color: #111;
border: 1px solid #676C7F;
}
.details-hidden .mv-details {
display: block;
}
.details-hidden .mv-no-details {
display:none;
}
.mv-details {
display: none;
}
.voc-item {
opacity: 1;
overflow: hidden;
background-color:#FFFFFF;
backg-round-image:url(/images/transparent-80.png);
bor-der: 1px solid #95B8EF;
color: #333;
padding-bottom: 10px;
-moz-box-shadow: 0px 1px 3px #45546F;
-webkit-box-shadow: 0px 1px 3px #45546F;
box-shadow: 0px 1px 3px #45546F;
margin: 5px 3px;
position: relative;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.section-tests .voc-item {
margin: 3px 3px;
}
.details-hidden {
backg-round-color: transparent;
opacity:0.9;
}
.voc-item:hover {
background-color:#FFFFFF;
opacity:1;
}
.voc-quick-info {
padding-top: 10px;
font-size: 11px; 
color: #31394F; 
padding-left: 30px;
}
.voc-top-topic {
color: #04193F;
font-size: 15px;
font-weight: bold;
padding: 10px 80px 5px 5px;
margin: 0 10px 0;
border-bottom: 1px dotted #537ABF;
col-or: #31394F;
text-sh-adow: 0px 1px 0px #fff, 1px 1px 3px #8EA7CF;
}
.voc-topic-content {
}
.voc-topic-content-last {
border-bottom: 1px solid #dfdfdf;
}
.voc-word-list-wrapper {
max-width: 450px;
border: 1px solid #C3CDDF;
padding: 3px;
}
.voc-words-list {
width: 100%;
}
.voc-list-even {
background-color: #EFF5FF;
}
.voc-words-list td {
color:#45494F;
font-size:12px;
padding:1px 5px;
}
.voc-topic-details {
display: none;
}
.voc-list-original {
font-weight: bold;
}
.voc-tests {
padding-top: 20px;
}
.voc-tests-list {
background-color: #C3CDDF;
}
.voc-tests-list td {
background-color: #fff;
padding: 4px 15px;
color:#45494F;
}
.voc-tests-list th {
border: 1px solid #EFF5FF;
background-color: #D1DDEF;
font-size: 10px;
padding: 4px 15px;
color:#45494F;
}
.voc-test-title {
font-weight: bold;
}
.voc-test-result {
text-align: center;
}
.voc-remove-topic {
padding-top: 30px;
}
.voc-remove-topic input {
font-size: 10px;
font-weight: bold;
}

/* styles for tabs */

.user-area h3.tab-head {
font-size: 20px;
font-weight: normal;
color: #555;
padding-bottom: 5px;
border-bottom: 1px solid #777;
margin: 0 0 20px 0;
}

p.tab-info {
font-size: 10px;
font-style: italic;
}

.user-area {
background-color: #fff;
border: 1px solid #708089;
padding: 3px;
position: relative;
padding: 4px;
background-color:#fff;
min-height: 700px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 1px 2px 7px #999;
-webkit-box-shadow: 1px 2px 8px #999;
box-shadow: 1px 2px 8px #999;
background-color:#FFFFFF;
background-image:url(/images/cs_bg.gif);
background-position:left bottom;
background-repeat:repeat-x;
-moz-box-shadow: 1px 2px 9px #B3B7BF;
-webkit-box-shadow: 2px 1px 9px #B3B7BF;
box-shadow: 1px 2px 9px #B3B7BF;
}


.ptab {
float:left;
back-ground-color: #efefef;
background-image: url(/images/transparent-60.png);
background-repeat: repeat;
margin:0;
padding:0 0 0 4px;
text-decoration:none;
cursor: pointer;
color:#666;
margin-left: 2px;
border: 1px solid #8F9FBF;
border-bottom: 0px solid #fff;
position: relative;
top: 3px;
}
.current_ptab {
border: 1px solid #708089;
border-bottom: 0px solid #fff;
background-image: none;
top: 0px;
background-color: #fff;
padding-bottom: 3px;
color: #111;
}
.ptab div {
background-image: none;
position: relative;
}

#prof_tabs {
border: 1px solid #708089;
width: auto;
padding-top: 10px;
background:#4B87FB url(/stylesheets/custom-theme/images/ui-bg_gloss-wave_55_4b87fb_500x100.png) repeat-x scroll 50%;
-moz-bo-rder-radius: 6px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

.pBlock {
background-color: transparent;
clear: both;
padding: 20px 30px 10px 40px;
border: 0px solid #819DCF;
bor-der-top: 0px solid #9FC2FF;
margin-bottom: 30px;
-moz-box-shadow: 0px 0px 0px #9F9F9F;
-webkit-box-shadow: 0px 0px 0px #9F9F9F;
box-shadow: 0px 0px 0px #9F9F9F;
}
.inpBlock {
margin-left: 0;
}
.tab-in-tab-list {
margin-bottom: 20px;
color: #3F61FF;
padding-bottom: 5px;
border-bottom: 1px dotted #3F61FF;
}
h4.tit-head {
color: #6F767F;
font-size: 18px;
margin: 30px 10px 20px;
} 
h4.tit-head span {
border-bottom: 1px dashed #6F767F;
}
.content .tab-in-tab-list a {
color: #0E20EF;
text-decoration: none;
font-size: 10px;
font-weight: bold;
outline: none;
white-space: nowrap;
padding: 1px 4px 2px;
}
.content .tab-in-tab-list a.tab-in-current {
color: #fff;
background-color: #4F7EFF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 1px 3px #9F9F9F;
-webkit-box-shadow: 0px 1px 3px #9F9F9F;
box-shadow: 0px 1px 3px #9F9F9F;
}

</style>

<% end %>


<div class="user-area">
<% if current_user.email == 'mirumir.sasha@gmail.com'%>
	<div align="right" style="position: absolute; z-index: 200; right: 10px; top: 10px;">
		<%= link_to 'View userdata', {:controller => 'userdata'} %> 
	</div>
<% end %>

<div id="prof_tabs">
	<div id="tabs_row">
            <div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Профиль</a></div></div>
			<div id="tab02" class="ptab"><div><a href="#">Мой словарь</a></div></div>
            <div id="tab03" class="ptab"><div><a href="#">Результаты</a></div></div>
			<div id="tab04" class="ptab"><div><a href="#">Настройки</a></div></div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">
	
<h3 class="tab-head">Профиль</h3>

<p class="tab-info">* Информация о пользователе</p>
<br>


<div class="pr_hsp"> 
		<table cellpadding="0" cellspacing="20">
		<tr>
			<td class="item-name" width="200">Email: 
			</td>
			<td><%= current_user.email %>
			</td>
		</tr>
		<tr>
			<td class="item-name">Аккаунт создан:
			</td>
			<td>    <%=current_user.created_at.strftime("%Y/%m/%d")%> <span style="font-size: 9px; font-style: italic">(<%= current_user.created_at.to_date.to_s(:long) %>)</span>
			</td>
		</tr>
		</table>
		</div>
	



	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
	
<h3 class="tab-head">Мой словарь</h3>

	<p class="tab-info">Здесь представлены словарные темы, изченные на нашем сайте</p>
<br>
		<div id="u-vocabulary"></div>
	</div>
</div>




<div id="for_tab03" class="pBlock" style="display: none">
	<div class="inpBlock">
		
<h3 class="tab-head">Результаты</h3>

<p class="tab-info">Здесь представлены результаты тестов и упражнений, выполненных на нашем сайате</p>
<br>

<div id="u-results">
</div><!-- end of u-results -->

<br><br><br><br>	
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	
	</div>
</div>


<div id="for_tab04" class="pBlock" style="display: none">
	<div class="inpBlock">

<h3 class="tab-head">Настройка аккаунта:</h3>

		<p style="font-size: 10px; font-style: italic;">* Кликните на ссылку, чтобы выполнить следующие действия</p>
	   
	   <table cellpadding="0" cellspacing="20">
		<!-- tr>
			<td class="item-name" width="200"><a href="/user">Сменить email </a>
			</td>
			<td>
			</td>
		</tr -->
		<tr>
			<td class="item-name"><a href="/userp">Сменить пароль</a>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class="item-name"><a href="/del_stat">Удалить все результаты упражнений и тестов</a>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class="item-name"><a href="/userd">Удалить аккаунт</a>
			</td>
			<td>
			</td>
		</tr>
		</table>

	</div>
</div>

</div><!-- end of user-area -->


<script type="text/javascript">
currentSection="login";
</script>
