<% content_for :special_js_css do %>
 <%= stylesheet_link_tag 'tablesorter' %>
 <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
 <%= javascript_include_tag 'jquery.tablesorter.pager.js' %>

<script type="text/javascript">

$(document).ready(function() { 
    $("table.tablesorter") 
    .tablesorter({widthFixed: true, sortList: [[0,0]], headers: {0: {sorter: 'digit'}, 3:{sorter: false}},widgets: ['zebra'] }) 
    //.tablesorterPager({container: $("#pager"), size: 30,positionFixed: false}); 
});
</script> 
 
 <%end%>

<h3 class="admin-p-name">Listing categories</h3>

<div style="margin-bottom: 20px;"><%= link_to "Manage exercises", :controller => 'exercises', :action => 'index' %>

<table class="tablesorter">
<thead>
  <tr>
	<th>ID &nbsp;</th>
    <th>Title</th>
    <th>Language</th>
	<th>Actions</th>
  </tr>
</thead>
<tbody>

<% @categories.each do |category| %>
  <tr>
	<td><%=h category.id %></td>
    <td><%=h category.title %></td>
    <td><%=h category.lang %></td>
    <td><%= link_to 'Show', category %> | <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New category', new_category_path %>