<% content_for :special_js_css do %>
<style type="text/css">
label {font-weight: bold;color: #333;}
<% end %>

<h3 class="admin-p-name">New category</h3>

<div style="margin-bottom: 20px;">
<%= link_to 'List of categories', categories_path %>
</div>

<div class="display-container">

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

<table cellspacing="8">  
<tr>
  <td >
    <%= f.label :title %>
  </td>
  <td>
    <%= f.text_field :title %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :lang %>
  </td>
  <td>
	<%=
		f.select :lang,
			Category::LANG,
			:prompt => "Select the language"
	%>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :title_ru %>
  </td>
  <td >
    <%= f.text_field :title_ru %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :title_fr %>
  </td>
  <td >
    <%= f.text_field :title_fr %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :supercat %>
  </td>
  <td >
    <%= f.text_field :supercategory %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :order %>
  </td>
  <td>
    <%= f.text_field :order_num %>
  </td>
<tr>
</table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
