<h3 class="admin-p-name">Show entry: <span style="font-size: 17px"><%= @category.title%></span></h3>

<div style="margin-bottom: 20px;">
<%= link_to 'List of categories', categories_path %>
| <%= link_to 'Edit', edit_category_path(@category) %> 
</div>

<div style="margin: 0 20px; border: 1px solid #666; padding: 10px 30px 30px; ">
<p>
  <b>Title:</b>
  <%=h @category.title %>
</p>
<p>
  <b>Tag:</b>
  <%=h @category.tag %>
</p>
<p>
  <b>Language:</b>
  <%=h @category.lang %>
</p>
<p>
  <b>Title ru:</b>
  <%=h @category.title_ru %>
</p>
<p>
  <b>Title fr:</b>
  <%=h @category.title_fr %>
</p>
<p>
  <b>Supercategory:</b>
  <%=h @category.supercategory %>
</p>
<p>
  <b>Order num:</b>
  <%=h @category.order_num %>
</p>

</div>