<p>
  <b>Body:</b>
  <%=h @material.body %>
</p>

<p>
  <b>Status:</b>
  <%=h @material.status %>
</p>

<p>
  <b>Tag:</b>
  <%=h @material.tag %>
</p>

<p>
  <b>Js css:</b>
  <%=h @material.js_css %>
</p>

<p>
  <b>Section:</b>
  <%=h @material.section %>
</p>

<p>
  <b>Html on page:</b>
  <%=h @material.html_on_page %>
</p>

<p>
  <b>Langs:</b>
  <%=h @material.langs %>
</p>

<p>
  <b>Page url:</b>
  <%=h @material.page_url %>
</p>

<p>
  <b>Page title:</b>
  <%=h @material.page_title %>
</p>

<p>
  <b>Page desc:</b>
  <%=h @material.page_desc %>
</p>

<p>
  <b>Page keywords:</b>
  <%=h @material.page_keywords %>
</p>

<p>
  <b>Page template:</b>
  <%=h @material.page_template %>
</p>

<p>
  <b>Page layout:</b>
  <%=h @material.page_layout %>
</p>

<p>
  <b>Author:</b>
  <%=h @material.author %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>