<h1>Editing exercise</h1>

<% form_for(@exercise) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :test_id %><br />
    <%= f.text_field :test_id %>
  </p>
  <p>
	<%=
		@cats = Category.find(:all).map {|c| [c.title, c.id] }
		f.select(:category_id, @cats)
	%> 
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', exercises_path %>