<h1>New exercise</h1>

<% form_for(@exercise) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :test_id %>
    <%= f.text_field :test_id %>
  </p>
  <p> <%= f.label :categories %>
	<%=
		@cats = Category.find(:all).map {|c| [c.title, c.id] }
		f.select(:category_id, @cats)
	%> 
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', exercises_path %>