<% content_for :special_js_css do %>
<style type="text/css">
label {font-weight: bold;color: #333;}
<% end %>

<h3 class="admin-p-name">New exercise</h3>

<div style="margin-bottom: 20px;">
<%= link_to 'List of exercises', exercises_path %>
</div>

<div class="display-container">

<% form_for(@exercise) do |f| %>
  <%= f.error_messages %>

<table cellspacing="8">  
<tr>
  <td >
    <%= f.label :test_id %>
  </td>
  <td>
    <%= f.text_field :test_id %>
  </td>
<tr>
<tr>
  <td >
	<%= f.label :category %>
  </td>
  <td>
	<% #=
		#@cats = Category.find(:all).map {|c| [c.title, c.id] }
		#f.select(:category_id, @cats)
	%> 
	
<% @categories = Category.find(:all, :order=> 'lang, order_num') %>	
	
			<select id="exercise_category_id" name="exercise[category_id]" style="width: 200px">
				<% @categories.each do |category| %>
<option value="<%= category.id %>" 
style="padding: 1px 1px 1px; background-color:<% if category.lang=='en'-%>
#DFEBFF<%elsif category.lang=='fr' -%>
#DFFFE0<%elsif category.lang=='jp' -%>
#FFD6BF<%elsif category.lang=='' || category.lang== nil -%>
#FEFF6F<% end -%>;"><%= category.title %> | <%= category.lang.to_s.upcase %>
</option>
				<% end %>
			</select>	
	
	
	
  </td>
<tr>
<tr>
  <td >
    <%= f.label :title %>
  </td>
  <td>
    <%= f.text_field :title %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :quest_num %>
  </td>
  <td>
    <%= f.text_field :quest_num %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :variants_num %>
  </td>
  <td>
    <%= f.text_field :variants_num %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :quest_type %>
  </td>
  <td>
    <%= f.text_field :quest_type %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :title_ru %>
  </td>
  <td>
    <%= f.text_field :title_ru %>
  </td>
<tr>
<tr>
  <td >
    <%= f.label :title_fr %>
  </td>
  <td>
    <%= f.text_field :title_fr %>
  </td>
<tr>
</table>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</div>