<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><%= @page_title %></title>
<% unless @page_meta.nil? -%>
  <% @page_meta.each do |name, content| -%>
  <meta name="<%= name %>" content="<%= content %>" />
  <% end %>
<% end %>
  <meta name="keywords" content="russian translation, russian language, learn russian, study russian, learn russian online, russian phrases, russian words, speak russian, speaking russian, learning russian, basic russian, learn russian language, beginners russian, russian language course, russian online lessons, russian vocabulary, russian for begginers" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf8"> 
  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <%= javascript_include_tag 'jquery-ui-1.8.4.custom.min.js' %>
  <%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css' %>
  <%= javascript_include_tag 'effects' %>
  <%= stylesheet_link_tag 'stylesheet' %>
  <%if @javascripts%>  
  <% for js_file in @javascripts -%>
  <%= javascript_include_tag js_file %>
  <% end -%>
  <% end %>

  <%if @stylesheets%>  
  <% for css_file in @stylesheets -%>
    <%= stylesheet_link_tag css_file %>
  <% end -%>
  <%end%>
 
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= yield :special_js_css %>
<script type="text/javascript">

$(function() {

$("#menu_display input").click( function() {
	if ( $("#nav-pos").is(":hidden") ) {
		$("div#contentcell").animate({marginLeft: "200px"}, function() {
			$("#nav-pos").fadeIn(300);
		});		
		$(this).val("<< Menu");
		delCookie('no_menu')
	} else {
		$("#nav-pos").fadeOut(200, function() {
			$("div#contentcell").animate({marginLeft: "0px"});
		});
		$(this).val(">> Menu")
		setCookie('no_menu', 'yes')
	}
});

});

</script>
  <style type="text/css">
  .never-existed {font-size: 10pt;}
  
.admin-area {
border: 6px solid #B3B8BF; 
padding: 25px 35px 50px 35px;
background-color:#FFFFFF;
background-image:url(/images/cs_bg.gif);
background-position:left bottom;
background-repeat:repeat-x;
-moz-box-shadow: 1px 1px 9px #B3B7BF;
-webkit-box-shadow: 1px 1px 9px #B3B7BF;
box-shadow: 1px 1px 9px #B3B7BF;
}

.admin-p-name {
font-size: 21px;
color: #333;
padding: 0px 0px 10px;
margin-top: 0px;
margin-bottm: 20px;
font-weight: normal;
border-bottom: 1px dotted #ccc;
} 

.content {
padding: 20px 35px 40px;
}

.page {
color: #555;
margin-bottom:10px;
} 

.admin-navigate {
text-align: center;
margin-bottom:20px;
}

.display-container {
padding: 30px 30px;
background-color: #EFF5FF;
-moz-border-radius: 7px;
-moz-box-shadow: 0px 0px 7px #18274F;
-webkit-border-radius: 7px;
-webkit-box-shadow: 0px 0px 7px #18274F;
border-radius: 7px;
box-shadow: 0px 0px 7px #18274F;
}

<%= yield :special_css %>
</style>

  <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'ie6.css' %>
  <![endif]-->

</head>
<body <% if cookies[:no_header] %>class="m-header-hidden"<%end%>>
    <div id="fixWidh"><div id="container">
        <!--[if lte IE 6]>
        <table id="containit" cellspacing="0">
          <tr valign="top">
            <td>
              <![endif]-->
              <div id="head">
                <div id="title_wrapper">
                  <div id="title_name">
                    <h1 class="title_site"><a href="/index.html" title="Home page">Study Russian Online</a></h1>
                    <div class="title_volume">Study Russian Online</div>
                    <div class="title_shdw">Study Russian Online</div>
					<div id="user_logged">
					
					<% if logged_in?%> 
						 <strong style="font-size: 10px;"><%= current_user.email %></strong> | <%= link_to "Sign Out",{:controller => 'sessions', :action => 'destroy'} %>
					<%else%>
						&nbsp;
					<%end%>
					</div>					
                  </div>
                </div>
              </div>
              <div class="corners cont-clt">
                <div class="corners cont-crt">
                  <div class="cont-center"></div>
                </div>
              </div>
              <div id="menu_content" <% if cookies[:no_menu] %>class="m-menu-hidden"<%end%>>
                <div id="navigation">

                  <div id="nav-pos">

                    <div id="menu_body" align="left">
                      <div id="nav1" class="menu-item">
                        <div class="menu-item-front">
                          <div class="item-top">
                            <a style="margin-left: 35px" href="/index.html">Administration</a>
                          </div>
                        </div>
                      </div>
                      <div id="nav2" class="menu-item">
                        <div class="menu-item-front">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a  style="margin-left: 25px" href="/index.html">English-Russian</a>&nbsp;
                          </div>
                        </div>
                      </div>
                      <div class="sub" style="display: none">
                        <ul>
                          <li><a href="/course.html">Lessons</a> </li>
						  <li><a href="/vocabulary.html">Vocabulary</a></li>
                          <li><a href="/russian-grammar.html">Grammar</a></li>
                        </ul>
                      </div>
                      <div id="nav3" class="menu-item">
                        <div class="menu-item-front">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a href="/fr/index.html"  style="margin-left: 25px">French-Russian</a>&nbsp;
                          </div>
                        </div>
                      </div>
                      <div class="sub" style="display: none">
                        <ul>
                          <li><a href="/fr/course.html">Lessons</a> </li>
						  <li><a href="/fr/vocabulary.html">Vocabulary</a></li>
                          <li><a href="/fr/russian-grammar.html">Grammar</a></li>
                        </ul>
                      </div>
					  <div id="nav8" class="menu-item">
                        <div class="menu-item-front">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a  style="margin-left: 25px" href="/ru/en/index.html">Russian-English</a>&nbsp;
                          </div>
                        </div>
                      </div>
                      <div class="sub" style="display: none">
                        <ul>
                          <li><a href="/ru/en/course.html">Lessons</a> </li>
						  <li><a href="/ru/en/vocabulary.html">Vocabulary</a></li>
                          <li><a href="/ru/en/english-grammar.html">Grammar</a></li>
                        </ul>
                      </div>
                      <div id="nav4" class="menu-item">
                        <div class="menu-item-front">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a style="margin-left: 25px" href="/ru/jp/index.html">Russian-Japanese</a>&nbsp;
                          </div>
                        </div>
                      </div>
                      <div class="sub" style="display: none">
                        <ul>
						  <li><a href="/ru/jp/vocabulary.html">Vocabulary</a></li>
                          <li><a href="/ru/jp/writing.html">Kana</a></li>
						  <li><a href="/ru/jp/kanji.html">Kanji</a></li>
                        </ul>
                      </div>
                      <div id="nav5" class="menu-item" style="display: none">
                        <div class="menu-item-front">
                          <div class="item-top">
                            <div class="list down"></div> 
                            <a href="/russian-reading.html" >Reading in Russian</a>&nbsp;
                          </div>
                        </div>
                      </div> 
                      <div class="sub" style="display: none">
                        <ul>
                          <li><a href="/basic-letters.html" title="Alphabet">Russian Letters</a></li>
                          <li><a href="/readingrules.html" title="Rules">Rules of reading</a> </li>
                          <li><a href="/reading-practice.html" title="Training">Training exercises</a></li>
                        </ul>
                      </div>
					  
					
				<% if logged_in?%>
					
				<div id="nav7" class="menu-item" >
                      <div class="menu-item-front">
                             <div class="item-top">
                                 <div class="list down"></div> 
                                 <a href="/user_profile.html" style="margin-left: 42px !important;">&nbsp;&nbsp;&nbsp;My account</a>
                             </div>
                       </div>
				</div>
					<div class="sub" style="display: none">
                            <ul>
                                <li><a href="/ru/en/user_profile.html">Russian-English</a></li>
								<li><a href="/ru/jp/user_profile.html">Russian-Japanese</a></li>
								<li><a href="/user_profile.html" >English-Russian</a></li>
								<li><a href="/fr/ru/user_profile.html" >French-Russian</a></li>
								<li><%= link_to "Sign Out",{:controller => 'sessions', :action => 'destroy'} %> </li>
                            </ul>
                     </div>					

				<%else%>
				
					<div id="nav7" class="menu-item" >
                      <div class="menu-item-front">
                             <div class="item-top">
                                 <div class="list down"></div> 	  
                                          <%= link_to "Sign up/Sign in",{:controller => 'sessions', :action => 'new'} %>					  
                                 </div>
                              </div>
                    </div>
					<div class="sub" style="display: none">
					<% if @page_title == 'Sign In' %>
						<ul style="padding: 5px 1px 5px 28px;">
							<li><%= link_to "Sign Up",{:controller => 'users', :action => 'new'} %></li>
						</ul>
					<% elsif @page_title == 'Sign Up' %>
						<ul style="padding: 5px 1px 5px 28px;">
							<li> <%= link_to "Sign in",{:controller => 'sessions', :action => 'new'} %></li>
						</ul>
					<%else%>
						<% form_tag session_path do %>
							<ul style="padding: 5px 20px 5px 18px;">
								<li style="padding-bottom: 7px; text-align: center;"><a href="/signup">Click here to sign up!</a></li>
								<li>
									<span style="font-size: 10px; font-weight: bold;">Email address</span><br/>
									<%= text_field_tag 'email', @email %>
								</li>
								<li>
									<span style="font-size: 10px; font-weight: bold;">Password</span><br/>
									<%= password_field_tag 'password', nil %>
								</li>
								<li style="text-align: center;">
									<%= submit_tag 'Sign In' %>
								</li>
							</ul>
						<% end -%>
					<%end%>		 
					</div>
				<%end%>			
                   
                      <div id="nav6" class="menu-item">
                        <div class="menu-item-front">
                          <div class="item-top">
                            <a href="/contacts.html" style="margin-left:20px;">Contacts/Questions</a>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
                <div id="contentcell" >
					<div style="position: relative; z-index: 300">
						<div id="menu_remover"><span class="menu-shown">Hide menu</span><span class="menu-hidden">Show menu</span></div>
						<div id="mini-menu"><a href="/index.html">EN-RU</a> | <a href="/ru/en/index.html">RU-EN</a> | <a href="/ru/jp/index.html">RU-JP</a> | <a href="/fr/index.html">FR-RU</a> </div>
						<div id="header_remover"><span class="header-shown">Hide header</span><span class="header-hidden">Show header</span></div>

					</div>
                  <div id="contfield" class="<%= @with_rec ? 'content withRec' : 'content' %>">
                    <% if @has_audio %>
                      <div id="loading"><div id="progress"></div><div id="progressbar"><div id="progressStatus"></div></div></div>
                      <div id="mess" class="sound_tip"><i>Tip</i></div>
                      <div id="audiospan" style="position: absolute;"></div>
                    <% end %>
					
					<h2 class="admin-layout page">Website administration</h2>
					<div class="admin-navigate"><%= link_to "Users", '/userdata' %> | <%= link_to "Categories", :controller => 'categories', :action => 'index' %> | <%= link_to "Languages", :controller => 'words', :action => 'index' %> | <%= link_to "RU", :controller => 'words', :action => 'index_lang' %> | <%= link_to "EN", :controller => 'words', :action => 'index_lang', :lang=> "en" %> | <%= link_to "JP", :controller => 'words', :action => 'index_lang', :lang=> "jp" %></div>
					
					<div class="admin-area" style="min-height: 700px;">
					
                    <%= yield %>
					</div><!-- end of admin-area-->
					
                    <div id="divspace"></div>
                  </div>
                </div>
              </div>
              <div class="corners cont-clb">
                <div class="corners cont-crb">
                  <div class="cont-center"></div>
                </div>
              </div>
              <div class="photos">
                <div id="photo1-pos"><div class="photo1"></div></div>
                <div id="photo2-pos">
                  <div style="float: right;">
                    <div class="photo2"></div>
                  </div>
                </div>
                <div id="photo3-pos">
                  <div style="float: right;">
                    <div class="photo3"></div>
                  </div>
                </div>
              </div>
            </div><!-- end of #contain-border -->
            <!--[if lte IE 6]>
          </td>
        </tr>
      </table>
      <![endif]-->
      <div id="footer">

        <div class="copy"><a href="/copyright.html">&copy;2009-2010 Study-Languages-Online.com</a> | <a href="/sitemap.html">Site map</a></div>

      </div>
    </div>
<div id="analytic">
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-8218265-1");
        pageTracker._trackPageview();
      } catch(err) {}</script>

</div>

<script type="text/javascript">
currentSection="home";
</script>
	  
  </body>
</html>
