<% @page_title = ' '+@category_title+' :: Англо-русский словарь '  %>
<% @page_meta = {'description' => "Изучайте английские слова по теме "+@category_title+" онлайн"} %>
<% @with_rec = true %>
<% @has_audio = true %>

<% content_for :special_js_css do %>
<%= javascript_include_tag 'jquery.jplayer.min.js' %>
<%= javascript_include_tag 'jp-control' %>
<style type="text/css">
.voc-wordlist .diction td {
border-bottom: 1px solid #efefef;
}

.voc-wordlist .diction td.original {
position: relative;
width: auto;
padding-left: 35px;
cursor: default;
}

.voc-wordlist .diction td.translation {
width: auto;
padding-left: 22px;
padding-right: 18px;
cursor: default;
}

div.jp_control {
position: absolute;
margin-left: -25px;
}




</style>
<% end %>


<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Links and Settings</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/ru/en/flashcards/<%= @category_short_tag%>">Флешкарты: <%= @category_title %></a></li>
			<li><a href="/ru/en/lexical-test/<%= @category_short_tag %>">Тесты: <%= @category_title %></a></li>
        </ul>
        <%= render :partial => 'site/down_accent' %>
  </div>
</div>
</div>


<h2 class="page"><%= @category_title %></h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/ru/en/vocabulary.html">Словарь</a>
	<span class="int-arrow">--&gt;</span> <%= @category_title %>
	</span>
</h3>




<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 500px" class="diction" cellpadding="0" cellspacing="0" align="center">
<thead>
<tr>
	<td></td>
	<td></td>
</tr>
</thead>
<tbody>
<%
@words.each_with_index do |word, index|
-%>

<% voc_spaces.each do |s| -%>
<% if index == s -%>
  <tr>
    <td class="original" valign="top">&nbsp;
    </td>

    <td class="translation" valign="top">&nbsp;
    </td>
  </tr>
<%end -%>
<%end -%>
<tr class="trow">
    <td class="original" valign="top">
	<div class="jp_control" onclick="cJplayer('/sounds/sound106.mp3', this)"></div>
	<%= word.text %>
	
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>
</tbody>
<tfoot>
<tr>
	<td></td>
	<td></td>
</tr>
</tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->

<table class="voc-links voc-link-first " align="center" cellspacing="0"><tr>
	<td class="voc-space">Учить слова и выражения по этой теме с помощью &nbsp;<a href="/ru/en/flashcards/<%= @category_short_tag%>">Флешкарт >></a></td>
</tr></table>
<table class="voc-links voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Оценить знание этих слов с помощью &nbsp;<a href="/ru/en/lexical-test/<%= @category_short_tag%>">Лексических тестов >></a></td>
</tr></table>






