
<% 
@page_title = 'Онлайн флешкарты: '+@category_title+' '  %>
<% @page_meta = {'description' => "Учить слова по теме "+@category_title+" с помощью онлайн флэш-карт"} %>
<% @with_rec = true %>
<% @has_audio = true %>




<% content_for :special_js_css do %>
<style type="text/css">
h2.page {
margin-bottom: 0px;
font-size: 19pt;
}

.fl-spell-check, .fl-cancel-spell {
width: 80px;
}

.fl-end-wrapper .fl-stop {
width: 90px;
}
.fl-next {
width: 100px;
}

</style>

<%end%>

<div class="hint_wrap">
<div class="hint_button" style="float: right;">
  <div class="hint">
      <div class="hint_list">
        <span class="hint_string">Ссылки по теме</span>
      </div>
    </div>
    <div class="sub_hint" style="display: none;">
        <ul>
            <li><a href="/ru/fr/vocabulary/<%= @category_short_tag%>"><%= @category_title %></a></li>
			<li><a href="/ru/fr/lexical-test/<%= @category_short_tag %>">Тесты: <%= @category_title %></a></li>
        </ul>
  </div>
</div>
</div>


<h2 class="page">Флешкарты: <%= @category_title %></h2>

<h3 class="page-path">
	<span class="int-links">
	<a href="/ru/fr/vocabulary">Словарь</a>
	<span class="int-arrow">--&gt;</span> 
	<a href="/ru/fr/vocabulary/<%= @category_short_tag %>"><%= @category_title %></a>
	<span class="int-arrow">--&gt;</span> Флешкарты
	</span>
</h3>





<div  id="fl1" style="min-height: 600px; text-align: center;">

<div class="fl-container">
<div class="fl-window">

<div class="fl-init">
<div class="fl-settings" style="" >
		<div class="fl-set-title"> Настройки </div>
			<div class="fl-set-list">
			<table>
				<tr>
					<td style="border-right: 1px dotted #999; padding-right: 22px">
					<b>Выбрать в списке:</b>
					<ul>
						<li><span class="fl-set-all fl-act" >> Все</span></li>
						<li><span class="fl-set-none fl-act" >> Ни одного</span></li>
						<li><span class="fl-set-not-worked fl-act" >> Все неизученные</span></li>
						<li><span class="fl-set-worked fl-act">> Все изученные </span></li>
					</ul>
					</td>
					<td style="padding-left: 10px">
					<b>Настройки флешкарт:</b>
					<ul>
						<li><span class="fl-act fl-switch-order" >> Порядок слов</span><br>
							&nbsp;&nbsp;<span class="fl-direct tcheck checked fl-act" >обычный</span><br>
							&nbsp;&nbsp;<span class="fl-random tcheck fl-act">случайный</span>
						</li>
						<li><span class="fl-act fl-switch-auto" >> Проигрывать аудио</span><br>
						&nbsp;&nbsp;<span class="fl-auto-on tcheck checked fl-act" >вкл</span>
								/<span class="fl-auto-off tcheck fl-act" >выкл</span>
						</li>
					</ul>
					</td>
				</tr>
			</table>
			</div>
		</div>
	<div class="fl-prestart">
	</div>
	<div class="fl-start-wrapper">
		<div class="fl-start fl-btn noselect"> Начать </div>
		<div class="fl-start-note-wrapper">
			<div class="fl-start-note">Необходимо выбрать  <br>слово или выражение</div>
		</div>
	</div>
</div>
<div class="fl-end">
	<div class="fl-end-notice">В данном списке представлены слова и выражения, с которыми вы работали:</div>
	<div class="fl-end-list"></div>
	<div class="fl-end-wrapper">
		<div class="fl-stop fl-btn noselect"> Закончить </div>
	</div>
</div>
<div class="fl-work">
<div class="fl-article-wrapper">
  <div class="fl-article-list">
	<table  style="margin: 0 auto" align="center"><tr><td height="70">
		<div class="fl-original"></div>
	</td></tr></table>
	<table  style="margin: 0 auto" align="center"><tr>
		<td><div class="fl-transcript"></div></td>
		<td style="text-align: left; height:19px;"> <div class="fl-sound"> </div> </td>
	</tr></table>
	<div class="fl-translate"></div>
  </div>
</div>
<div class="fl-auto-wrapper"><input type="checkbox" class="fl-autoplay" checked> Проигрывать </div>
<div class="fl-buttons-wrapper">
	<div class="fl-next fl-btn noselect">Далee >></div>
</div>
<div class="fl-check" style="min-height: 190px;">
	<div class="fl-tests" style="display: none;">
		<div class="fl-cancel-wrapper" style="display: none;">
			<div class="fl-test-task">
				<span class="fl-wrong-note fl-notes">Неправильно! Попробуйте снова</span>
				<span class="fl-correct-note fl-notes">Великолепно! Правильный ответ</span>
				<span class="fl-exclude-note fl-notes">Запись отмечена как пройденная</span>
				<span class="fl-task-string">Найдите перевод слова/выражения в списке</span>
			</div>
			<div class="fl-cancel fl-btn noselect"> Отмена </div>
		</div>
	</div>
	<div class="fl-spell" style="display: none;">
		<div class="fl-spell-cancel-wrapper" style="display: none;">
			<div class="fl-spell-task">
				<span class="fl-wrong-spell fl-spell-notes">Неправильно! Попробуйте снова</span>
				<span class="fl-correct-spell fl-spell-notes">Великолепно! Правильный ответ</span>
				<span class="fl-task-spell">Напечатайте в текстовом поле слово/фразу</span>
			</div>
			<div class="fl-cancel-spell fl-btn noselect"> Закончить </div>
		</div>
		<div class="fl-spell-test"><input class="fl-spell-field for_keyb" type="text" /></div>
		<div class="fl-spell-check-wrapper">
			<div class="fl-spell-check fl-btn noselect"> Проверить </div>
		</div>
		<div class="kb-show-wrapper" ></div>
	</div>
	<div class="fl-activity-wrapper">
	<table class="fl-activity">
		<col><col width="130">
		<tr>
			<td class="fl-text-info">Нажмите кнопку "Тесты", чтобы выполнить простые задания со словом/фразой</td>
			<td> <div class="fl-verify fl-btn noselect"> Тесты </div></td>
		</tr>
		<tr class="fl-spell-activity">
			<td class="fl-text-info">Нажмите кнопку "Правописание" для практики в написании слова/фразы </td>
			<td><div class="fl-spell-btn fl-btn noselect">Правописание</div></td>
		</tr>
		<tr>
			<td class="fl-text-info" >Нажмите кнопку "Стоп", если вы желаете закончить работу с флешкартами и вернуться в главное меню </td>
			<td> <div class="fl-stop fl-btn noselect">Стоп</div></td>
		</tr>
	</table>
	</div>
</div>

</div>

</div><!-- end of fl-window -->
</div><!-- end of flcontainer-->


</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
<% 
@last_item_index = (@words.length)-1
@words.each_with_index  do |word, index| %><% unless (word.translate == '#none#' || word.translate == '' )%>
["<%= word.text.to_s.gsub(/"/,'\"') %>", '<%= word.translate.to_s.gsub(/'/,"’") %>', '<%= word.sound_url %>', "<%= word.transcribe.to_s.gsub(/"/,'\"') %>"<%if current_user %>, '<%= word.id%>' ,'<%= current_user.word_status(word.id) %>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>
<%end-%>
<%end -%>
		]
		} )
</script>


<table class="voc-links voc-link-first voc-link-last" align="center" cellspacing="0"><tr>
	<td class="voc-space">Оцените, как вы выучили эти слова с помощью &nbsp;<a href="/ru/fr/lexical-test/<%= @category_short_tag %>">Лексических тестов >></a></td>
</tr></table>


<script type="text/javascript">
currentSection="words";
</script>





