<% @page_title = ' '+@category_title+' :: Cловарь '  %>
<% @page_meta = {'description' => "Изучайте слова по теме "+@category_title+" онлайн"} %>
<% @has_audio = true 
   @t_template='vocab'
   header = 'Словарь'
	voc_url = 'vocabulary'
   if params[:to_lang]
		if params[:to_lang] == "en" then header = 'Англо-русский словарь'; voc_url = 'vocabulary.html' end
		if params[:to_lang] == "fr" then header = 'Франко-русский словарь' end
   end
%>
		<%=  %>
<% content_for :special_js_css do %>
<%= stylesheet_link_tag 'unit' %>
<%= javascript_include_tag 'jquery.jplayer.js' %>
<%= javascript_include_tag 'lexical-test-p' %>
<%= javascript_include_tag 'flashcard-u' %>
<%= javascript_include_tag 'unit' %>
<script type="text/javascript">
<%if params[:tab] %>openTabFromUrl(<%= params[:tab] %>);<%else%>openTabFromUrl();<%end%>
var t_voc_id=<%=@category.id%>
$(function() {
	$(".trans-display").change(function(){
		if ($(this).is(":checked")) $(".original div.ru-transcript").show();
		else $(".original div.ru-transcript").hide();
	}).change();
	$("#tab02").click(function() {
		if (sendData) $.ajax({type: 'post', url: "/get_flash_list", data: {voc_id: t_voc_id, text:'text'}} ); 
	})
});
</script>

<% end %>
<div class="unit-area vocab-page">
	<div id="prof_tabs">
		<div class="unit-title">
		<a href="/<%= @lang %>/<%= @add_lang %>/<%= voc_url%>" class="su-tit-link"><%= header%> »</a><br>
 
		<%= @category_title %>
		</div>
		<div id="tabs_row">
				<div id="tab01" class="ptab current_ptab"><div><a href="#" style="color: #000;">Словарь</a></div></div>
				<div id="tab02" class="ptab"><div><a href="#">Флеш-карты</a></div></div>
				<div id="tab03" class="ptab"><div><a href="#">Тесты</a></div></div>
		</div>
		<div style="clear: both;"></div>
	</div>

<div id="for_tab01" class="pBlock" style="display: block">
	<div class="inpBlock">

	<br><br><br><br>

<div class="voc-wordlist">
<table class="voc_bord" align="center" cellspacing="0">
<tr>
<td>

<table style="width: 520px" class="diction" cellpadding="0" cellspacing="0" align="center">
<col width="50%"><col width="50%">
<thead>
<tr>
	<td> <div class="trans-display-wrapper"><input type="checkbox" class="trans-display" /> Транскрипция </div> </td>
	<td></td>
</tr>
</thead>
<tbody>
<%@words.each_with_index do |word, index|%>
<% voc_spaces.each do |s| -%>
<% if word.id == s %>
  <tr><td class="original" valign="top">&nbsp;</td><td class="translation" valign="top">&nbsp;</td></tr>
<%end -%>
<%end -%>
<tr class="trow">
    <td class="original" valign="top">
	<%unless word.sound_url == ''%><div class="jp_control" onclick="cJplayer('<%= word.sound_url %>', this)"></div><%end%>
	<%= word.text %><%unless word.grammar==''%><i style="color: #999; font-weight: normal; font-size: 11px; margin-left:10px"><%= word.grammar %></i><%end%>
	<div class="ru-transcript">[<%= word.transcribe %>]</div>
    </td>
    <td class="translation" valign="top"><%= word.translate %>
    </td>
</tr>
<%end -%>
</tbody>
<tfoot><tr><td></td><td></td></tr></tfoot>  
</table>

</td>
</tr>
</table>
</div><!-- end of voc-wordlist-->
<br><br><br>
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап »" onclick="openNextStep(2)">
</div>	
	</div>
</div>

<div id="for_tab02" class="pBlock" style="display: none">
	<div class="inpBlock">
<br><br><br><br>	
<div  id="fl1" style="min-height: 600px; text-align: center;">
<div class="fl-container">
<div class="fl-window">
<div class="fl-init">
<div class="fl-settings" style="" >
		<div class="fl-set-title"> Настройки </div>
			<div class="fl-set-list">
			<table>
				<tr>
					<td style="border-right: 1px dotted #999; padding-right: 22px">
					<b>Выбрать в списке:</b>
					<ul>
						<li><span class="fl-set-all fl-act" >> Все</span></li>
						<li><span class="fl-set-none fl-act" >> Ни одного</span></li>
						<li><span class="fl-set-not-worked fl-act" >> Все неизученные</span></li>
						<li><span class="fl-set-worked fl-act">> Все изученные </span></li>
					</ul>
					</td>
					<td style="padding-left: 10px">
					<b>Настройки флешкарт:</b>
					<ul>
						<li><span class="fl-act fl-switch-order" >> Порядок слов</span><br>
							&nbsp;&nbsp;<span class="fl-direct tcheck checked fl-act" >обычный</span><br>
							&nbsp;&nbsp;<span class="fl-random tcheck fl-act">случайный</span>
						</li>
						<li><span class="fl-act fl-switch-auto" >> Проигрывать аудио</span><br>
						&nbsp;&nbsp;<span class="fl-auto-on tcheck checked fl-act" >вкл</span>
								/<span class="fl-auto-off tcheck fl-act" >выкл</span>
						</li>
					</ul>
					</td>
				</tr>
			</table>
			</div>
		</div>
	<div class="fl-prestart">
	</div>
	<div class="fl-start-wrapper">
		<div class="fl-start fl-btn noselect"> Начать </div>
		<div class="fl-start-note-wrapper">
			<div class="fl-start-note">Необходимо выбрать  <br>слово или выражение</div>
		</div>
	</div>
</div>
<div class="fl-end">
	<div class="fl-end-notice">В данном списке представлены слова и выражения, с которыми вы работали:</div>
	<div class="fl-end-list"></div>
	<div class="fl-end-wrapper">
		<div class="fl-stop fl-btn noselect"> Закончить </div>
	</div>
</div>
<div class="fl-work">
<div class="fl-article-wrapper">
  <div class="fl-article-list">
	<table  style="margin: 0 auto" align="center"><tr><td height="70">
		<div class="fl-original"></div>
	</td></tr></table>
	<table  style="margin: 0 auto" align="center"><tr>
		<td><div class="fl-transcript"></div></td>
		<td style="text-align: left; height:19px;"> <div class="fl-sound"> </div> </td>
	</tr></table>
	<div class="fl-translate"></div>
  </div>
</div>
<div class="fl-auto-wrapper"><input type="checkbox" class="fl-autoplay" checked> Проигрывать </div>
<div class="fl-buttons-wrapper">
	<div class="fl-next fl-btn noselect">Далee »</div>
</div>
<div class="fl-check" style="min-height: 190px;">
	<div class="fl-tests" style="display: none;">
		<div class="fl-cancel-wrapper" style="display: none;">
			<div class="fl-test-task">
				<span class="fl-wrong-note fl-notes">Неправильно! Попробуйте снова</span>
				<span class="fl-correct-note fl-notes">Великолепно! Правильный ответ</span>
				<span class="fl-exclude-note fl-notes">Запись отмечена как пройденная</span>
				<span class="fl-task-string">Найдите перевод слова/выражения в списке</span>
			</div>
			<div class="fl-cancel fl-btn noselect"> Отмена </div>
		</div>
	</div>
	<div class="fl-spell" style="display: none;">
		<div class="fl-spell-cancel-wrapper" style="display: none;">
			<div class="fl-spell-task">
				<span class="fl-wrong-spell fl-spell-notes">Неправильно! Попробуйте снова</span>
				<span class="fl-correct-spell fl-spell-notes">Великолепно! Правильный ответ</span>
				<span class="fl-task-spell">Напечатайте в текстовом поле слово/фразу</span>
			</div>
			<div class="fl-cancel-spell fl-btn noselect"> Закончить </div>
		</div>
		<div class="fl-spell-test"><input class="fl-spell-field for_keyb" type="text" /></div>
		<div class="fl-spell-check-wrapper">
			<div class="fl-spell-check fl-btn noselect"> Проверить </div>
		</div>
		<div class="kb-show-wrapper" ></div>
	</div>
	<div class="fl-activity-wrapper">
	<table class="fl-activity">
		<col><col width="130">
		<tr>
			<td class="fl-text-info">Нажмите кнопку "Тесты", чтобы выполнить простые задания со словом/фразой</td>
			<td> <div class="fl-verify fl-btn noselect"> Тесты </div></td>
		</tr>
		<!-- tr class="fl-spell-activity">
			<td class="fl-text-info">Нажмите кнопку "Правописание" для практики в написании слова/фразы </td>
			<td><div class="fl-spell-btn fl-btn noselect">Правописание</div></td>
		</tr -->
		<tr>
			<td class="fl-text-info" >Нажмите кнопку "Стоп", если вы желаете закончить работу с флешкартами и вернуться в главное меню </td>
			<td> <div class="fl-stop fl-btn noselect">Стоп</div></td>
		</tr>
	</table>
	</div>
</div>

</div>

</div><!-- end of fl-window -->
</div><!-- end of flcontainer-->
</div><!-- end of fl1 -->

<script type="text/javascript"> 
	var fl1 = new flashcard( {
		id: "fl1", 
		random_order: false,
		basic_array: [
<% 
@last_item_index = (@words.length)-1
@words.each_with_index  do |word, index| %><% unless (word.translate == '#none#' || word.translate == '' )%>
["<%= no_js(word.text) %>", '<%= no_js(word.translate) %>', '<%= word.sound_url %>', "<%= no_js(word.transcribe) %>"<%if current_user %>, '<%= word.id%>' ,'<%= current_user.word_status(word.id) %>'<%end%>]<% if index!= @last_item_index -%>,<%end -%>
<%end-%>
<%end -%>
		]
		} )
</script>

<br><br><br>		
<div class="es-ex-buttons su-next-wrapper">
<input type="button" class="su-next-step" value="Следующий этап »" onclick="openNextStep(3)">
</div>
	</div>
</div>

<div id="for_tab03" class="pBlock with-nex" style="display: none">
	<div class="inpBlock" id="nb1">
<div class="nex-tabs-wrapper" style="border: 0px solid #fff"> 
	<div style="float: left; "> 
		<ul class="nex-tabs"> 
			<li class="nex-tab-first nex-t-active"><a href="javascript:;">1</a></li> 
			<%unless @category.sound_status == 2 %>
			<li><a href="javascript:;">2</a></li> 
			<li class="nex-tab-last"><a href="javascript:;">3</a></li> 
			<%else%>
			<li class="nex-tab-last"><a href="javascript:;">2</a></li> 
			<%end%>
		</ul> 
	</div> 
	<div align="right" style="font-size: 12px; float: right;"> 
		<ul class="nex-sw"> 
			<li class="nex-sw-first nex-sw-active"><a href="javascript:;"><img src="/images/icons/fugue/application-b.png"></a></li> 
			<li class="nex-sw-last"><a href="javascript:;"><img src="/images/icons/fugue/application-tile-vertical-b.png"></a></li> 
		</ul>
	</div>
</div>

<div class="nex-wrapper">
<div class="nex-h-helper">
<div class="nex-helper">
<div class="nex-block nex-block-active">
<div class="nex-header">Тест 1.  Прочитатайте фразу и найдите её перевод.</div>
<div class="nex-container">
<div id="ch1" class="pt-holder ch-opt-comp">
<%= render :partial => '/site/exercises/phrases_test', :locals => {:lang=>"ru"} %>	
</div><!-- end of pt-holder -->
<script type="text/javascript"> 
	var ch1 = new ph_exercise( {
		id: "ch1", 
		<% unless @test_data[0] == nil || @test_data[0]==''%>test_id: "<%= @test_data[0].test_id %>",<%end%>
		callback: function() { completeNex(0)},
		auto_play: false,
		quest_num: 20,
		next_time: 2000,
		texts: ['Правильно','Неправильно','Далее »','Результат','Осталось','Всего вопросов','Правильных ответов','Результат','Показать ответ','Перейти к следующему'],
		basic_array: [
<% @last_item_index = (@words.length)-1 %>
<% @words.each_with_index  do |word, index| %>
{"quest": "<%= j(word[:text])%><%unless word.grammar==''%> <i>(<%= word.grammar %>)</i><%end%>", 
"answer":  "<%= j(word[:translate])%>"<% if current_user %>, "id":'<%= word.id%>'<%end%>}<% if index!= @last_item_index  %>,<%end%>	
<%end%>
		]
		
		} )
</script>
</div>
</div>

<div class="nex-block">
<div class="nex-header">Тест 2. Найдите в списке перевод фразы.</div>
<div class="nex-container">
<div id="ch2" class="pt-holder ch-opt-comp">
<%= render :partial => '/site/exercises/phrases_test', :locals => {:lang=>"ru"} %>	
</div><!-- end of pt-holder -->

<script type="text/javascript"> 
	var ch2 = new ph_exercise( {
		id: "ch2", 
		<% unless @test_data[1] == nil || @test_data[1]==''%>test_id: "<%= @test_data[1].test_id %>",<%end%>
		callback: function() { completeNex(1)},
		auto_play: false,
		quest_num: 20,
		next_time: 2000,
		texts: ['Правильно','Неправильно','Далее »','Результат','Осталось','Всего вопросов','Правильных ответов','Результат','Показать ответ','Перейти к следующему'],
		basic_array: [
<% @last_item_index = (@words.length)-1 %>
<% @words.each_with_index  do |word, index| %>
{"quest": "<%= j(word[:translate])%>", 
"answer":  "<%= j(word[:text])%>"<% if current_user %>, "id":'<%= word.id%>'<%end%>}<% if index!= @last_item_index  %>,<%end%>	
<%end%>
		]
		} )
</script>
</div>
</div>

<%unless @category.sound_status == 2 %>
<div class="nex-block">
<div class="nex-header">Тест 3. Прослушайте фразу и найдите её перевод.</div>
<div class="nex-container">
<div id="ch3" class="pt-holder ch-opt-comp">
<%= render :partial => '/site/exercises/phrases_test', :locals => {:lang=>"ru"} %>	
</div><!-- end of pt-holder -->
<script type="text/javascript"> 
	var ch3 = new ph_exercise( {
		id: "ch3", 
		<% unless @test_data[2] == nil || @test_data[2]==''%>test_id: "<%= @test_data[2].test_id %>",<%end%>
		callback: function() {completeNex(2)},
		auto_play: false,
		quest_type: 'audio',
		quest_num: 20,
		next_time: 2000,
		texts: ['Правильно','Неправильно','Далее »','Результат','Осталось','Всего вопросов','Правильных ответов','Результат','Показать ответ','Перейти к следующему'],
		basic_array: [
<% @last_item_index = (@words.length)-1 %>
<% @words.each_with_index  do |word, index| %>
{"quest": "<%= j(word[:sound_url])%>", 
"sound": "<%= j(word[:sound_url])%>", 
"answer":  "<%= j(word[:translate])%>"<% if current_user %>, "id":'<%= word.id%>'<%end%>}<% if index!= @last_item_index  %>,<%end%>	
<%end%>
		]
		} )
</script>

</div>
</div>
<%end%>

</div> <!-- end of helper -->
</div>

<div class="nex-header nex-footer"> <span class="nex-open-prev nex-f-button  nex-btn-disable">‹‹ Предыдущее </span>|<span class="nex-open-next nex-f-button">Следующее  ››</span></div>
</div><!-- end of nex-wrapper-->
<script type="text/javascript"> 
   var nb1 = new nex_block( {
	id: "nb1",
	layout: 2,
	need_test: [0,0,0]
   } )
</script>
<br><br><br><br>
	</div>
</div>
</div> <!-- end of unit-area-->
<script type="text/javascript">
currentSection="words";
</script>

